.MP079{
  .productDetail-in-stock{
    display: none;
  }
  .MP079-outOfStock{
    border: 1px solid #a83738;
    padding: 10px;
    width: 100%;
    text-align: center;
    h4{
      color: #a52e2e;
      font-weight: 400;
    }
    a{
      display: block;
      background: black;
      padding-top: 10px;
      color: white;
      padding-bottom: 10px;
      padding-left: 10px;
      padding-right: 10px;
      width: 200px;
      margin: 0 auto;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}