@import './variables';

.#{$id}-1 {


    .#{$id}-blog-link {

        display: flex;
        flex-direction: row;
        margin-bottom: 20px;

        @media all and (max-width: 767px) {
            margin-top: 20px;
        }

        &--image {
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            

            img {
                border-radius: 50%;
                width: 35px;
                height: 35px;
            }
        }

        &--content {
            padding-left: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h2 {
                font-size: 15px !important;
                margin-bottom: 5px !important;
                display: block !important;
            }

            p {
                margin-bottom: 0px !important;
                text-transform: uppercase;
                font-weight: 600 !important;
                font-size: 12px !important;
            }
        }

    }

}

.#{$id}-2 {

    .#{$id}-hidden {
        display: none !important;
        visibility: hidden !important;
    }

    .#{$id}-blog-popup {
        position: fixed;
        background: #114D8B;
        border-radius: 10px;
        bottom: 20px;
        left: 20px;
        z-index: 100000;
        padding: 20px 60px 20px 20px;

        @media all and (max-width: 500px) {
            bottom: 0;
            left: 0;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            width: 100%;
            z-index: 2147483652;
            padding-right: 40px;
        }

        &--close {
            position: absolute;
            top: 12px;
            right: 12px;
            button {
                background: none !important;
                border: none !important;
                cursor: pointer;
            }
            
        }

        &--content {
            display: flex;
            flex-direction: column;
            justify-content: center;

            h2 {
                font-size: 20px;
                color: #FFF;
                margin-bottom: 15px;
                font-weight: 400;
            }

            p {
                font-size: 14px;
                margin-bottom: 0;
                color: #FFF;
                display: flex;
                flex-direction: row;
                align-items: center;

                svg {
                    margin-left: 8px;
                }
            }
        }
    }
}
