body.WO002.overflow_off {
    overflow-y: hidden;
}

body.WO002 .WO002_chart {
    margin-top: 12px;
}

body.WO002 .product_table .valid {
    display: none;
}

body.WO002 #clock {
    margin-top: 12px;
    padding-bottom: 10px;
}

body.WO002 .product_table {
    border-top: 1px solid #ccc;
}

body.WO002 .product_table table {
    width: 100%;
}

body.WO002 .product_table th {
    padding-right: 14px;
    width: 45%;
}

body.WO002 .product_table tr {
    border-bottom: none;
    position: relative;
    border-top: 1px solid #ccc;
}

body.WO002 .measurement_type {
    padding-left: 3px;
    display: inline-block;
}

body.WO002 .radio_wrap {
    text-align: center;
    padding: 10px 0 17px;
}

body.WO002 .radio_wrap .radio_tooltip {
    position: absolute;
    display: none;
}

body.WO002 .radio_wrap label {
    margin-left: 7px;
    font-size: 12px;
}

body.WO002 .radio_wrap input {
    width: 13px;
    height: 13px;
}

body.WO002 .radio_wrap span+span {
    margin-left: 18px;
}

body.WO002 .radio-holder .radio_tooltip {
    position: absolute;
    display: none;
}

body.WO002 .product_options.product_table .radio_tooltip {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    right: auto;
}

body.WO002 .radio_wrap {
    position: relative;
}

body.WO002 .radio_wrap span {
    display: inline-block;
}

body.WO002 .radio_wrap .radio_tooltip {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    right: auto;
}

body.WO002 .radio_tooltip {
    position: absolute;
    top: calc(100% + 10px);
    width: 200px;
    background: #414141;
    padding: 6px 18px 6px 6px;
    color: #fff;
    font-size: 10px;
    z-index: 10;
    text-align: left;
    line-height: 13px;
    display: none;
    right: -30px;
}

body.WO002 .product_table span {
    position: relative;
}

body.WO002 .radio_tooltip a {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    font-family: sans-serif;
    line-height: 10px;
    display: inline-block;
}

body.WO002 .radio_tooltip a:active,
body.WO002 .radio_tooltip a:focus,
body.WO002 .radio_tooltip a:hover {
    outline: 0 !important;
}

body.WO002 .product_table input[type=number] {
    padding: 0;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #999;
    width: 85px;
    font-size: 12px;
    height: 29px;
}

body.WO002 #errmsg_width,
body.WO002 #errmsg_drop,
body.WO002 #errmsg_qty {
    padding: 5px 0 6px;
}

body.WO002 .image_slats {
    border-bottom: 1px solid #ccc;
    text-align: center;
    padding: 5px 0 10px 0;
}

body.WO002 .image_slats span {
    background: #eee;
    font-size: 12px;
    display: inline-block;
    padding: 0 15px;
    line-height: 16px;
}

body.WO002 #price_container {
    text-align: center;
    margin-top: 10px;
}

body.WO002 #price_container+p {
    text-align: center;
    margin: 0 0 8px 0;
}

body.WO002 .WO002_slat_row {
    border: none;
}

body.WO002 .WO002_slat_row th {
    display: block;
    box-sizing: border-box;
    clear: both;
    text-align: center;
    padding-bottom: 5px;
    width: auto;
    padding-right: 0;
}

body.WO002 .WO002_slat_row th+td {
    display: block;
    box-sizing: border-box;
    clear: both;
    text-align: center;
}

body.WO002 .WO002_slat_row th+td label {
    margin-right: 10px;
}

body.WO002 .WO002_slat_row th+td input[type=radio] {
    margin: 5px 3px 5px 0;
}

body.WO002 .measuring_guide_wrap {
    background: #eeeeee;
    padding: 10px 10px 10px 50px;
    width: 280px;
    margin: 10px auto;
    position: relative;
}

body.WO002 .measuring_guide_wrap p {
    display: block;
}

body.WO002 .measuring_guide_wrap .measure_guide {
    display: inline-block;
    font-size: 12px;
    color: #a70831;
    margin-top: 2px;
}

body.WO002 .measuring_guide_wrap .ruler_img {
    display: inline-block;
    width: 30px;
    position: absolute;
    left: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

body.WO002 .measuring_guide_wrap .ruler_img img {
    max-width: 100%;
}

body.WO002 .feefo-trusted {
    margin: 15px auto 20px;
    display: block;
    float: none !important;
}

body.WO002 #mGuide {
    background: none;
    border: 1px solid #999;
    padding: 13px;
    margin-top: 5px;
    position: relative;
}

body.WO002 #mGuide .measure-dropdown iframe {
    margin: 10px 0 !important;
    width: 100% !important;
}

body.WO002 #mGuide i.fa.fa-youtube-play {
    font-size: 28px;
    color: #a70831;
    position: absolute;
    left: 13px;
}

body.WO002 #mGuide h3 {
    margin: 10px 0;
}

body.WO002 #mGuide>h3 {
    display: inline-block;
    vertical-align: middle;
    float: none;
    margin: 0;
    max-width: calc(100% - 135px);
    padding-left: 38px;
}

body.WO002 #mGuide .mCta {
    vertical-align: middle;
    float: right;
}

body.WO002 #mGuide .mCta a {
    float: none;
    margin: 0;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    border-radius: 0;
    padding: 7px 0;
    width: 135px;
    max-width: 100%;
}

body.WO002 #sample {
    background: none;
    border: 1px solid #999;
    margin: 5px 0;
    padding: 13px;
    position: relative;
}

body.WO002 #sample h3,
body.WO002 #sample div {
    display: none;
}

body.WO002 #sample i.fa.fa-envelope {
    font-size: 26px;
    color: #a70831;
    position: absolute;
    left: 13px;
}

body.WO002 #sample p {
    display: inline-block;
    vertical-align: middle;
    float: none;
    margin: 0;
    max-width: calc(100% - 135px);
    padding: 0 4px 0 35px;
    line-height: 18px;
}

body.WO002 #sample .free_sample {
    float: right;
    margin: 3px 0 0 0;
}

body.WO002 #sample .free_sample input[type=image] {
    display: none;
}

body.WO002 #sample .free_sample .image_trigger {
    margin: 0;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    border-radius: 0;
    padding: 7px 0;
    width: 135px;
    max-width: 100%;
    background: #a70831;
    color: #fff;
    text-shadow: 1px 1px 0px #860a2e;
}

body.WO002 #sample .free_sample .image_trigger:hover {
    background-color: #860a2e;
    text-decoration: none;
}

body.WO002 #sample .free_sample .image_trigger:focus {
    outline: none;
    text-decoration: none;
    background-color: #860a2e;
}

body.WO002 .measuring_guide_modal {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999999;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    display: none;
}

body.WO002 .measuring_guide_modal>div {
    position: absolute;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    left: 50%;
    top: 50%;
    max-height: 800px;
    max-width: 900px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 15px 0 15px 15px;
}

body.WO002 .measuring_guide_modal>div .overflow_fix {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    padding-right: 15px;
}

body.WO002 .measuring_guide_modal>div .overflow_fix::-webkit-scrollbar {
    -webkit-appearance: none;
}

body.WO002 .measuring_guide_modal>div .overflow_fix::-webkit-scrollbar:vertical {
    width: 11px;
}

body.WO002 .measuring_guide_modal>div .overflow_fix::-webkit-scrollbar:horizontal {
    height: 11px;
}

body.WO002 .measuring_guide_modal>div .overflow_fix::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.5);
}

body.WO002 .measuring_guide_modal>div .overflow_fix::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 8px;
}

body.WO002 .measuring_guide_modal>div ul {
    padding: 0;
}

body.WO002 .measuring_guide_modal>div ul li {
    font-size: 12px;
    line-height: 18px;
    padding-left: 20px;
    position: relative;
}

body.WO002 .measuring_guide_modal>div ul li+li {
    margin-top: 10px;
}

body.WO002 .measuring_guide_modal>div ul li::before {
    content: '';
    position: absolute;
    left: 9px;
    top: 6px;
    width: 5px;
    height: 5px;
    background: #000;
}

body.WO002 .measuring_guide_modal>div ul+p {
    color: red;
    padding-left: 19px;
    line-height: 18px;
    margin-top: 20px;
}

body.WO002 .measuring_guide_modal>div ul+p strong {
    color: #000;
    display: block;
    font-size: 12px;
}

body.WO002 .measuring_guide_modal>div h2 {
    font-size: 18px;
    font-weight: 500;
    padding: 0;
}

body.WO002 .measuring_guide_modal>div h2+* {
    margin-top: 20px;
}

body.WO002 .measuring_guide_modal>div .col_6 {
    float: left;
    width: 100%;
}

body.WO002 .measuring_guide_modal>div .col_6 .img_wrap {
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 30px;
}

body.WO002 .measuring_guide_modal>div .col_6 .img_wrap img {
    width: 100%;
    max-width: 150px;
    display: block;
    margin: 0 auto;
}

body.WO002 .measuring_guide_modal>div .col_6 .img_wrap img+img {
    margin-top: 15px;
}

body.WO002 .measuring_guide_modal>div .col_6 .img_wrap img+img+img {
    max-width: 168px;
}

body.WO002 .measuring_guide_modal>div .col_12 {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

body.WO002 .measuring_guide_modal>div .col_12 a {
    padding: 10px 20px;
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    background-color: #a70831;
    text-shadow: 1px 1px 0px #860a2e;
    display: inline-block;
}

body.WO002 .measuring_guide_modal .close_btn {
    position: absolute;
    top: -15px;
    right: -15px;
    text-transform: uppercase;
    background: #000;
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-size: 14px;
    text-align: center;
    font-family: Arial;
    font-weight: 700;
}

body.WO002 #fractionForWidth,
body.WO002 #fractionForHeight {
    display: inline-block;
    text-align: center;
    border: 1px solid #999;
    width: 53px;
    height: 29px;
    margin-left: 5px;
    vertical-align: top;
}

@media (min-width: 500px) {
    body.WO002 .measuring_guide_modal>div {
        padding: 50px 30px 50px 40px;
    }
    body.WO002 .measuring_guide_modal>div .overflow_fix {
        padding-right: 10px;
    }
    body.WO002 .measuring_guide_modal>div .col_6 .img_wrap img {
        width: 50%;
        display: inline-block;
    }
    body.WO002 .measuring_guide_modal>div h2 {
        padding: 20px 0;
    }
    body.WO002 .measuring_guide_modal>div ul {
        padding-left: 16px;
    }
    body.WO002 .measuring_guide_modal>div ul+p {
        padding-left: 35px;
    }
}

@media (min-width: 600px) {
    body.WO002 .radio-holder span {
        position: relative;
    }
    body.WO002 .radio_tooltip {
        position: absolute;
        top: calc(100% + 10px);
        width: 200px;
        background: #414141;
        padding: 6px;
        color: #fff;
        font-size: 10px;
        right: 0;
        z-index: 10;
        text-align: left;
        line-height: 13px;
        display: none;
    }
    body.WO002 .radio_wrap span {
        display: inline-block;
        position: relative;
    }
    body.WO002 .product_options.product_table .radio_tooltip {
        left: 27%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        right: auto;
    }
}

@media (max-width: 768px) {
    body.WO002.product_table th {
        font-size: 0.95em;
    }
}

@media (min-width: 769px) {
    body.WO002 #price_container+p {
        margin: 7px 0 -6px 0;
    }
    body.WO002.product_table th {
        font-size: 14px;
    }
    body.WO002 .product_table th {
        padding-right: 9px;
        width: 42%;
    }
    body.WO002 .WO002_slat_row th {
        display: block;
        box-sizing: border-box;
        clear: both;
        text-align: center;
        padding-bottom: 5px;
        width: auto;
        padding-right: 0;
    }
    body.WO002 .radio_wrap+.product_table .altrow>th+td {
        vertical-align: middle;
    }
    body.WO002 .radio_wrap+.product_table .altrow>th+td input[type=radio] {
        margin: 4px 3px 0px 0;
    }
}

@media (min-width: 992px) {
    body.WO002 .product_table {
        border-top: 1px solid #ccc;
    }
    body.WO002 .radio_tooltip {
        position: absolute;
        top: 100%;
        width: 200px;
        background: #414141;
        padding: 6px;
        color: #fff;
        font-size: 10px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        z-index: 10;
        text-align: left;
        line-height: 13px;
        display: none;
    }
    body.WO002 .product_options.product_table .radio_tooltip {
        left: 50%;
    }
    body.WO002 .product_table th {
        padding-right: 30px;
        width: 43%;
    }
    body.WO002 .radio-holder span:hover .radio_tooltip {
        display: block;
    }
    body.WO002 .radio-holder span .radio_tooltip a {
        display: none;
    }
    body.WO002 .product_table tr {
        border-bottom: none;
        border-top: 1px solid #ccc;
    }
    body.WO002 .product_table th {
        width: 45%;
    }
    body.WO002 .radio_wrap+.product_table .altrow>th+td {
        vertical-align: baseline;
    }
    body.WO002 .radio_wrap+.product_table .altrow>th+td input[type=radio] {
        margin: 4px 3px 10px 0;
    }
    body.WO002 .WO002_slat_row th {
        display: block;
        box-sizing: border-box;
        clear: both;
        text-align: center;
        padding-bottom: 5px;
        width: auto;
        padding-right: 0;
    }
    body.WO002 .radio_tooltip {
        position: absolute;
        left: 50%;
        width: 200px;
        background: #414141;
        padding: 6px;
        color: #fff;
        font-size: 10px;
        -webkit-transform: translate(-50%);
        -moz-transform: translate(-50%);
        -ms-transform: translate(-50%);
        transform: translate(-50%);
        z-index: 10;
        text-align: left;
        line-height: 13px;
        display: none;
        right: auto;
    }
    body.WO002 #mGuide i.fa.fa-youtube-play {
        line-height: 30px;
    }
    body.WO002 #mGuide>h3 {
        line-height: 30px;
    }
    body.WO002 #sample i.fa.fa-envelope {
        line-height: 36px;
    }
    body.WO002 .measuring_guide_modal>div .col_6 {
        width: 50%;
        padding-right: 15px;
    }
    body.WO002 .measuring_guide_modal>div .col_6+.col_6 {
        padding-left: 15px;
        padding-right: 0;
    }
}