.ME117 {

  /*Non-flex support*/
  &.ME117_no-flex-support {
    .ME117_brands .ME117_opt__select__inner .ME117_brand-wrap .ME117_brand .ME117_brand-img {
      height: 50%;
      float: none;
    }
    
    .ME117_brands .ME117_opt__select__inner span.ME117_brand-txt {
      position: absolute;
      bottom: 0;
    }
  }

  &.page.home .page-wrapper {
    padding-top: 0;
  }

  .search-again-wrap {
    margin: 0 0 10px 0;
  }

  /*----- Layout -----*/
  .ME117_row {
    &:after {
      display: block;
      clear: both;
      content: '';
    }
  }

  .ME117_cols-1,
  .ME117_cols-2,
  .ME117_cols-3,
  .ME117_cols-4,
  .ME117_cols-5,
  .ME117_cols-6,
  .ME117_cols-7,
  .ME117_cols-8,
  .ME117_cols-9,
  .ME117_cols-10,
  .ME117_cols-11,
  .ME117_cols-12 {
    float: left;
    vertical-align: top;
    box-sizing: border-box;
  }

  .ME117_cols-12 {
    width: 100%;
  }

  .ME117_cols-11 {
    width: 91.66667%;
  }

  .ME117_cols-10 {
    width: 83.33333%;
  }

  .ME117_cols-9 {
    width: 75%;
  }

  .ME117_cols-8 {
    width: 66.66667%;
  }

  .ME117_cols-7 {
    width: 58.33333%;
  }

  .ME117_cols-6 {
    width: 50%;
  }

  .ME117_cols-5 {
    width: 41.66667%;
  }

  .ME117_cols-4 {
    width: 33.33333%;
  }

  .ME117_cols-3 {
    width: 25%;
  }

  .ME117_cols-2 {
    width: 16.66667%;
  }

  .ME117_cols-1 {
    width: 8.33333%;
  }

  .ME117_centre {
    text-align: center;
  }

  .ME117_left-content {
    float: left;
  }

  .ME117_right-content {
    float: right;
  }

  /*----- Layout End -----*/

  .ME117_overlay {
    background: rgba(41, 41, 41, 0.8);
    position: fixed;
    opacity: .4;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 150%;
    width: 100%;
    overflow: hidden;
    z-index: 998;
    display: none;
  }

  .ME117_prod-finder {
    border: 1px solid #f3f3f3;
    //padding: 15px .9375em;
    // margin: 0 -.9375em 30px -.9375em;
    margin: 0 0 30px 0;
    border-radius: 4px;
    color: #555555;

    &.hidden {
      display: none !important;
    }

    &:after {
      content: '';
      clear: both;
      display: block;
    }

    h3 {
      font-size: 20px;
    }
  }

  .ME117_banner {
    background: url('//cdn.optimizely.com/img/6087172626/411e699417004d10a81d15eadc55c9d4.png');
    height: 43px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .ME117_selected-opts {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    padding: 5px 10px;
    background: #0cbbf6;
    color: white;
    z-index: 10;
    align-items: center;
    height: 50px;

    .ME117_selected-opts__txt {
      font-size: 17px;

      #ME117_selected-opts__num {
        font-weight: bold;
      }
    }

    .ME117_selected-opts__done {
      display: inline-block;
      float: right;
      background: #ffffff;
      color: #383838;
      padding: 10px 5px;
      min-width: 100px;
      text-align: center;
      border-radius: 3px;
      font-weight: bold;
      font-size: 15px;
    }
  }

  /***************
        Options
    ***************/
  .ME117_opt {
    //max-width: 330px;
    width: 100%;
    margin: 15px auto;
    font-size: 13px;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;

    &.ME117_opt--active {
      z-index: 999;

      .ME117_opt__select {
        border-radius: 3px 3px 0 0;
        border-color: white;
        height: 42px;
        padding-right: 0;

        &:after {
          display: none;
        }

        .ME117_opt__selection {
          float: none;
          margin: 2px 2px 0 2px;
        }

        .ME117_opt__select__placeholder {
          width: 100%;
          overflow-x: scroll;
        }
      }
    }
  }

  .ME117_opt__label {
    display: inline-block;
    width: 25%;
    vertical-align: middle;
    text-align: left;
    padding-right: 10px;
  }

  .ME117_opt__select {
    display: inline-block;
    min-height: 44px;
    width: 75%;
    padding: 0 8px;
    border: 1px solid #dadada;
    vertical-align: middle;
    cursor: pointer;
    //transition: all .2s ease;
    border-radius: 3px;
    background: white;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

    &:after {
      content: '▾';
      float: right;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 26px;
      font-size: 20px;
      margin-top: -3px;
    }

    .ME117_opt__selection {
      background: #0cbbf4;
      border-color: #0cbbf4;
      //transition: all .2s ease;
      display: inline-block;
      padding: 0 10px;
      margin: 2px;
      float: left;

      .ME117_opt__selection__remove {
        display: inline-block;
        float: right;
        font-size: 18px;
        color: white;
        padding: 0 0 0 8px;
      }
    }

    &.ME117_opt__select--active {
      // background: #0cbbf4;
      // border-color: #0cbbf4;
      // transition: all .2s ease;
      border: none;
      padding: 0 30px 0 0;

      &:after {
        display: none;
      }

      >span {
        color: white;

        &.ME117_remove-filter {
          display: inline-block;
        }

        &.ME117_opt__select__placeholder {
          opacity: 1;
          font-weight: bold;
        }
      }
    }

    >span {
      line-height: 42px;
      display: inline-block;

      &.ME117_opt__select__placeholder {
        opacity: .8;
        white-space: nowrap;
        font-size: 13px;
      }

      &.ME117_remove-filter {
        display: none;
        float: right;
        font-size: 18px;
        color: white;
        padding: 0 0 0 8px;
      }
    }

    .ME117_opt__select__inner-wrap {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 999;
      display: none;
    }

    .ME117_opt__select__inner {
      //display: none;
      display: block;
      cursor: pointer;
      background: #fff;
      max-height: 400px;
      overflow-y: scroll;
      border: 1px solid grey;
      margin-top: -2px;

      >span {
        display: block;
        padding: 12px 10px;
        border-bottom: 1px solid #e0e0e0;

        //transition: all .2s ease;
        &:active,
        &.ME117_opt--selected {
          background: #0cbbf4;
          color: white;
          font-weight: bold;
          //transition: all .2s ease;
        }
      }
    }
  }

  .ME117_brands {
    .ME117_opt__select__inner {
      width: 100%;
      // margin-left: -15%;
      // padding: 15px;
      // background: #fff;
      padding: 1px 2px 2px 2px;
      background: #eaeaea;
      border: none;

      .ME117_brand-wrap {
        float: left;
        width: 33.33%;
        padding: 1px;

        &.ME117_opt--selected {
          .ME117_brand-txt {
            background: #0cbbf4;
            color: white;
            padding: 8px 0;
            transition: all .3s ease;
          }
        }

        .ME117_brand {
          background: white;
          height: 70px;
          font-weight: 800;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          font-size: 12px;
          text-align: center;
          position: relative;

          .ME117_brand-img {
            display: inline-block;
            float: left;
            height: 100%;
            width: 80%;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            margin: 5px 0 2px 0;
          }
        }
      }

      span {
        display: inline-block;
        width: 50%;

        &.ME117_brand-txt {
          display: block;
          width: 100%;
          padding: 5px 0;
          transition: all .3s ease;
          clear: both;
          flex: 0 0 auto;
        }
      }
    }
  }

  .ME117_cta-wrap {
    //max-width: 330px;
    width: 100%;
    margin: 15px auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;

    &:after {
      content: '';
      clear: both;
      display: block;
    }
  }

  .ME117_clear-form {
    text-decoration: underline;
    float: left;
    line-height: 40px;
  }

  .ME117_cta {
    background: #0cbbf4;
    display: inline-block;
    padding: 12px 5px;
    border-radius: 3px;
    color: white;
    width: 100%;
    text-align: center;
    max-width: 120px;
    float: right;
    font-weight: bold;
    font-size: 17px;
  }

  .ME117_brandText {
    text-align: center;
    padding: 10px;
    font-size: 16px;
    padding-bottom: 5px;
    line-height: 19px;
  }

  .ME117_brandText span {
    color: #0cbbf5;
    font-weight: bold;
  }

  .ME117_brandTitle {
    text-align: center;
  }
}