@import './variables';

.#{$id} {

  .#{$id}-basket-countdown {
    background: #1A1A1A;
    padding: 10px;
    text-align: center;
    margin-top: 3px;

    p {
        font-size: 14px;
        margin-bottom: 5px;
        color: #FFF;
        letter-spacing: 0.35px;
        line-height: 18px;
    }

    .#{$id}-smalltext {
      font-size: 10px;
      color: #FFF;
      letter-spacing: 0.35px;
      margin-bottom: 0;
    }

    span {
        color: #AF9C57;
        font-weight: bold;

        &##{$id}-countdown-item {
            display: inline-block;
            min-width: 100px;
        }

        &.UC_cd-hours,
        &.UC_cd-minutes,
        &.UC_cd-seconds {
            margin-right: -3px;
        }

        &.#{$id}-ndd-span {
          color: #FFF;
          font-weight: normal;
          font-family: 'Montserrat-Medium', Arial, Helvetica, sans-serif;
        }
    }


  }

  .#{$id}-basket-countdown-outer.cart .#{$id}-basket-countdown {
    border: 5px solid #AF9C57;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 20px;
    margin-bottom: -10px;

    @media all and (max-width: 767px) {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}