.FL012 {
  // Make filters take up fill height of container
  #FilterContainer {
    height: 100% !important; // Change padding to increase width of header
    #innerfiltercontainer {
      padding: 5px 0 54px; // Add padding to filters to keep width the same
      >.MobSortSelector,
      #filterlist {
        padding: 0 10px;
      }
    } // Restyling reset and apply filters
    // Adjust button sizes
    #mobclrfltrs {
      width: 40%;
      background-color: #A64444; // Allows button to take up full height and remain centered
      padding-top: 15px;
      height: 100%;
    } // Adjust apply filters, for resized reset filters button
    #mobappfltrs.clearFiltersOpen {
      width: 60%;
    }
    #mobappfltrs {
      width: 100%;
    } // Functional CSS - display reset filters when sort by is used
    #mobFilterControls.FL012-Sort-By {
      >#mobclrfltrs {
        display: block !important;
      }
      > #mobappfltrs{
        width: 60%;
      }
    }
  } // Restyle filter header
  #FiltersHeader {
    background-color: #333333; // Style cross
    color: #FFFFFF; // Change color of "Refine & Sort" Text
    // Move header to the top of the page
    margin: 0 0 12px;
    top: -5px;
    border: none;
    .FiltersTitle .MobFiltersText {
      color: #FFFFFF;
    }
    #mobclsfltrs {
      border: none;
    }
  } // Move check icon when filters are applied
  #filterByMob>.mobFilterAppIcon.glyphicon.glyphicon-ok-sign {
    top: 21px;
    left: -155px;
    right: 0;
  } // Reduce space between header and products
  #dnn_ctr179057_ModuleContent>.s-maincontent-container .row .s-white {
    margin-bottom: 0;
  } // Style applied filters banner
  .FL012-Wrap {
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
    .FL012-Filters-Header {
      color: #000;
      font-family: "Playfair Display";
      text-align: center;
      margin-bottom: 0;
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 10px;
    }
    .FL012-Applied-Filter {
      padding-bottom: 5px;
    }
    .FL012-Applied-Filter-Header {
      color: #000;
      font-weight: 700;
    }
    .FL012-Applied-Filters {
      color: #767676;
    }
    .FL012-Change-Filters {
      text-align: right;
      text-decoration: underline;
      color: #767676;
    }
  } // Hide applied filters section
  .FL012-Wrap.FL012-Hide {
    display: none;
  }
}