@import './variables';

.#{$id} {
    #BreadcrumbGroup {
        background-color: #0700ED;
        color: #fff;
        font-size: 1.2em;
        padding: 0 20px;
        a.MoreFromLink {
            text-decoration: underline;
            padding: 7px 0;
            display: inline-block;
            font-weight: 700;
            color: #fff !important;
        }

        @media only screen and (max-width: 479px) {
            padding-left: 20px;
        }
    }
}
