@import './variables';

.#{$id} {
  #mobile-call-block {
    display: none !important;
  }

  #mobile-cta-block .col-xs-6.mobile-call-us.active .#{$id}_newMobileCallBlock {
    max-height: 300px;
  }

  .#{$id}_newMobileCallBlock {
    background: #fff;
    left: 0;
    line-height: 1;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 43px;
    -webkit-transition: max-height 250ms ease;
    transition: max-height 250ms ease;
    z-index: 999;
  }

  .#{$id}_section {
    border-bottom: 1px solid #e3e3e3 !important;
    padding: 18px 0;

    .glyphicon.glyphicon-earphone {
      margin-left: -2rem;
      font-size: 2rem !important;
    }
  }


  .#{$id}_section--care {
    .glyphicon-earphone {
      color: #62489D;;
    }

    .#{$id}_callBtn {
      background: #62489D;

      a:before {
        content: 'Call ' !important;
      }

      a:after {
        content: ' for care' !important;
      }
    }
  }

  .#{$id}_section--jobs {
    .glyphicon-earphone {
      color: #BE2176;
    }

    .#{$id}_callBtn {
      background: #BE2176;

      a:before {
        content: 'Call ' !important;
      }

      a:after {
        content: ' for jobs' !important;
      }
    }
  }
  
  .#{$id}_existingCustomers {
    font-size: 16px !important;
    color: #2487cb;
    font-weight: bold;
    padding: 0 !important;
    margin: 12px 0 0 0;

    a {
      font-size: 16px !important;
      display: inline-block !important;
      font-weight: normal !important;
      text-decoration: underline !important;
      color: #333 !important;
    }
  }
  
  .#{$id}_callBtn {
    background: #2487cb;
    border-radius: 29px;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    position: relative;
    width: auto;
    margin: 0;
    padding: 10px 30px 10px 20px !important;

    a {
      margin: 0;
      color: #fff !important;
      font-size: 16px !important;
      line-height: normal !important;

      &:before,
      &:after {
        display: inline !important;
        color: #fff !important;
        font-size: 16px !important;
        font-weight: normal !important;
      }
    }

    &:after {
      content: "\e258";
      font-family: "Glyphicons Halflings",sans-serif;
      font-size: 12px;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  /**
   * Amend 2019-11-28
   * Remove jobs number
   */
  .#{$id}_section--jobs {
    display: none;
  }

}
