@import "./variables";
@import "./lib/components/Grid/grid";
@import "./lib/components/Details/details";
@import "./lib/components/Extras/extras";
@import "./lib/components/TonerInfo/toner-info";
@import "./lib/components/Specs/specs";

.#{$id} {
	.#{$id}-key-features-title {
		background-color: transparent;
		border: 0;
		padding: 0;
		cursor: initial;

		&::after {
			display: none;
		}
	}
}
