.ME158{
  .ME158-welcome_box {
    position: fixed;
    background: black;
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: 999;
    opacity: 0.9;
    color: white;
    padding: 10px;
    .ME158-exit{
      position: absolute;
      right: 8px;
      font-weight: bold;
      color: white;
      font-size: 21px;
      top: 3px;
      cursor: pointer;
    }
    p{
      margin-bottom: 0px;
    }
   .ME158-textside {
      display: inline-block;
      color: white;
      vertical-align: middle;
      font-size: 14px;
      width: 80%;
    }
    .ME158-flag_side{
      vertical-align: middle;
      display: inline-block;
      width: 30px;
      height: 30px;
      margin-right: 5px;
      background-size: cover;
      border-radius: 0px;
      margin-left: 5px;
      background-position: center;
      background-repeat: no-repeat;
      &.ME158-uk{
          background-image: url('//cdn.optimizely.com/img/6087172626/09c2f31bda8d4cab8803c689fdc4baa8.png');
      }
      &.ME158-us{
          background-image: url('//cdn.optimizely.com/img/6087172626/8f78cae1749e4ae1ab2b3e9ec728c11f.gif');
      }
      &.ME158-eu{
        background-image: url('//cdn.optimizely.com/img/6087172626/fd1cc8b9524142ca820fb6dc4cdabff4.png');
      }
    }
  }
}