.SD063 {
  /* COMPONENTS */
  // CrossSell
  .SD063_CrossSell {
    /* Slick slider */
    .slick-slider{position:relative;display:block;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}.slick-list:focus{outline:0}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-list,.slick-slider .slick-track{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.slick-track{position:relative;top:0;left:0;display:block;margin-left:auto;margin-right:auto}.slick-track:after,.slick-track:before{display:table;content:''}.slick-track:after{clear:both}.slick-loading .slick-track{visibility:hidden}.slick-slide{display:none;float:left;height:100%;min-height:1px}[dir=rtl] .slick-slide{float:right}.slick-slide img{display:block}.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-loading .slick-slide{visibility:hidden}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.slick-arrow.slick-hidden{display:none}
    /* Arrows */
    .slick-prev,
    .slick-next {
      font-size: 0;
      line-height: 0;
      position: absolute;
      top: 50%;
      display: block;
      width: auto;
      height: auto;
      padding: 0 2px;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
      cursor: pointer;
      color: transparent;
      border: none;
      outline: none;
      background: transparent;
    }

    .slick-prev:hover,
    .slick-prev:focus,
    .slick-next:hover,
    .slick-next:focus {
      color: transparent;
      outline: none;
      background: transparent;
    }

    .slick-prev:hover:before,
    .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1;
    }

    .slick-prev.slick-disabled:before,
    .slick-next.slick-disabled:before {
      opacity: 0;
    }

    .slick-prev:before,
    .slick-next:before {
      font-size: 40px;
      line-height: 1;
      opacity: .75;
      color: black;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    .slick-prev {
      left: 0px;
    }
    .slick-next {
      right: 0px;
    }

    margin-bottom: 50px;
    border: 1px solid #b3b3b3;
    font-size: 15px;

    &.SD063_CrossSell--open {
      .SD063_CrossSell__body {
        display: block;
      }

      .SD063_CrossSell__toggle:after {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }

  .SD063_CrossSell__relatedProducts .owl-stage {
    width: 100% !important;
  }

  .SD063_CrossSell__head {
    position: relative;
    cursor: pointer;
    user-select: none;
    padding: 20px;
  }

  .SD063_CrossSell__successMsg {
    color: #1fa60a;
    display: inline-block;
    font-weight: bold;
    margin-right: 20px;
    background: url(https://www.salonsdirect.com/skin/frontend/rwd/saloncustom/images/icon-sprite-new.png) no-repeat;
    background-position: -4px -395px;
    line-height: normal;
    font-family: "museo-sans",serif;
    padding-left: 21px;
  }

  .SD063_CrossSell__msgOne {
    display: inline-block;
    line-height: normal;
  }

  .SD063_CrossSell__msgTwo {
    margin: 0 0 25px 0;
    line-height: normal;
    padding: 0 20px;
  }

  .SD063_CrossSell__toggle {
    text-decoration: underline;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    user-select: none;
    padding-right: 28px;

    &:after {
      content: '';
      display: inline-block;
      width: 19px;
      height: 19px;
      background-image: url(https://ab-test-sandbox.userconversion.com/experiments/SD063-chevron.png);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .SD063_CrossSell__body {
    display: none;
    padding: 0 0 20px 0;
    position: relative;

    #addtocart-product-ajax-successmessage {
      margin-bottom: 10px;
      clear: both;
      text-align: center;
      margin: 15px 0 0 0;
      padding: 0;
      float: left;
      width: 100%;
    }

    .ajax_cart_loader_layer {
      height: 100%;
      bottom: 0;
      right: 0;

      .ajax_loading {
        top: 50%;
        transform: translateY(-50%);
        margin-top: -20px;
      }
    }

    &:after {
      content: '';
      clear: both;
      display: block;
    }
  }

  .SD063_CrossSell__relatedProducts.mini-products-list {
    height: auto;
    width: 80%;
    float: left;

    .block-content {
      margin: 0 !important;

      > .owl-carousel {
        width: 100% !important;

        .owl-wrapper {
          width: 100% !important;
        }

        .owl-item {
          width: 25% !important;
          text-align: center;
        }
      }
    }

    form {
      margin-top: 5px;
    }

    .qty-wrapper.qty-change-form {
      display: inline-block;
      vertical-align: top;
      margin-right: 10px;
    }

    .button[type="button"].button {
      float: none;
      display: inline-block;
      vertical-align: top;
    }

    &:after {
      content: '';
      display: block;
      clear: both;
    }

    > li {
      width: 25%;
      float: left;
      text-align: center;
      vertical-align: top;
      list-style-type: none;
      user-select: none;

      // &:first-of-type {
      //   border-left: 1px solid #ccc;
      // }
    }

    .product-details {
      margin-left: 0;
      
      .price-box span:first-child {
        margin-left: 0;
        font-size: 19px;
        padding-right: 5px;
        padding-left: 5px;
      }

      .exvat {
        font-size: 15px !important;
      }
    }

    .link-wishlist {
      display: none;
    }
  }

  .SD063_CrossSell__brandLink {
    width: 20%;
    vertical-align: top;
    text-align: center;
    user-select: none;
    float: left;
  }

  .SD063_CrossSell__brandLink__img {
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 0 auto;

    > a {
      user-select: none;
      text-decoration: none;

      &:active,
      &:hover {
        outline: none;
      }
    }

    img {
      max-height: 100%;
      max-width: 100%;
      margin: 0 auto;
      display: block;
    }
  }

  .SD063_CrossSell__brandLink__ctaWrap {
    text-align: center;
    margin-top: 10px;
  }

  .SD063_CrossSell__brandLink__cta {
    padding: 8px;
    text-align: center;
    color: #000;
    background-color: #E2FD44;
    display: inline-block;
    user-select: none;
    min-height: 40px;
    width: 100%;
    max-width: 160px;
  }

  @media screen and (max-width: 899px) {
    .SD063_CrossSell {
      .mini-products-list .product-image {
        width: 100%;
        height: auto;
      }

      .SD063_CrossSell__brandLink {
        padding: 0 10px;
      }

      .SD063_CrossSell__brandLink__img {
        width: 100%;
        height: auto;
      }
      
      .SD063_CrossSell__relatedProducts.mini-products-list > li {
        padding: 0 10px;
      }
    }
  }

  @media screen and (max-width: 767px) {
    .SD063_CrossSell {
      .owl-buttons {
        display: none !important;
      }

      .SD063_CrossSell__relatedProducts.mini-products-list {
        height: auto;
        width: 80%;
        float: left;

        .slick-track {
          flex-flow: row wrap;
          display: flex !important;
        }

        .slick-slide {
          height: auto;
          text-align: center;

          > div,
          .product,
          .product-details {
            display: flex;
            flex-direction: column;
            height: 100%;
          }
        }

        .price-box {
          height: auto !important;
          color: #a0a0a0;
          font-size: 13px;
          min-height: 25px;
          line-height: 20px;
          margin: 0;
          margin-top: auto;
          white-space: nowrap;

          .price {
            color: #373737 !important;
            font-size: 13px !important;
            font-weight: 900 !important;
          }
        }
    
        .block-content {
          margin: 0 !important;

          .mini-products-list {
            height: auto !important;

            .qty-wrapper.qty-change-form {
              width: auto;
              margin: 0 auto !important;
              text-align: center !important;
              display: inline-block;
            }

            .button[type="button"].button {
              padding: 5px 0;
              width: 38px;
              span {
                color: #000000;
                font-family: "museo-sans",serif;
                font-size: 12px;
                font-weight: 700 !important;
                margin: 0 !important;
              }
            }
          }
    
          > .owl-carousel {
            width: 100% !important;
    
            .slider-wrapper {
              width: 100% !important;
            }
    
            .owl-item {
              width: auto !important;

              > .item {
                margin: 0 !important;

                .product-name {
                  height: 81px !important;
                  overflow: hidden;
                }
              }
            }
          }
        }
      }

      .SD063_CrossSell__head {
        padding: 10px;
      }

      .SD063_CrossSell__msgOne {
        display: block;
        margin-top: 5px;
      }

      .SD063_CrossSell__toggle {
        top: 10px;
        transform: none;
      }

      .SD063_CrossSell__msgTwo {
        padding: 0 10px;
      }

      .SD063_CrossSell__brandLink {
        display: none;
      }

      .SD063_CrossSell__relatedProducts.mini-products-list {
        width: 100%;
        padding: 0;

        .slider-wrapper {
          padding: 0 20px !important;
        }

        .item {
          padding: 0 5px !important;
          height: 100%;
          margin: 0 !important;
        }
      }
    }
  }
}