@import './variables';

.#{$id} {

    .#{$id}-ovo-newbar {
        display: flex;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 10000;
            background: #FFF;
            text-align: center;
            justify-content: center;
            min-height: 200px;
            align-items: center;
            border: 5px solid rgb(0, 105, 69);
    }
}
