@import './variables';

.#{$id} {
    &.#{$id}-1 {
        [class*="styles__labelledIcon"] {
            &:first-child {
                position: relative;
                &::before {
                    background: #0067b2;
                    content: "OR";
                    position: absolute;
                    right: -10px;
                    
                }
            }
        }

        // new markup
        .#{$id}-triageContainer {
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            margin: 0 auto;
            padding: 2rem 0;
            width: 45%;
            max-width: 480px;
            @media(max-width: 1024px) {
                width: 60%;
            }
            @media (max-width: 767px) {
                padding: 2rem 0;
                width: 80%;
            }

            
            .#{$id}-title {
                width: 100%;
                font-size: 32px;
                font-weight: 700;
                line-height: 1.25;
                color: #012169;
                @media (min-width: 768px) {
                        font-size:2.25em;
                        text-align: center
                    }
                }

            .#{$id}-paragraph {
                color: #414141;
                font-family: F37Ginger,sans-serif;
                margin: 1rem 0;
                text-align: center;
                a {
                    color: #007bff;
                    text-decoration: none;
                }
            }

            .#{$id}-divider {
                border-color: #ecedea;
                margin: .5rem 0;
                width: 100%;
            }

            .#{$id}-prescription {
                max-width: 347px;
            }
        }

        .#{$id}-button {
            align-self: center;
            margin: 1.5rem 0 1rem;
            -webkit-appearance: button;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            cursor: pointer;
            width: 100%;
            max-width: 347px;
            height: 3.75em;
            border-radius: 30px;
            color: #012169;
            font-size: 1em;
            font-weight: 700;
            line-height: 1.25em;
            background-color: transparent;
            cursor: pointer;
            border: 2px solid #012169;
            margin-bottom: .8em;
            &:hover {
                border-color: #020034;
                color: #020034;
                text-decoration: none;
            }
        }
    }
}
