@import './variables';

.#{$id} {
    .styles-module__checkoutTitle--1eVe1 {
        margin-bottom: 5px;
    }
    .styles-module__checkoutSectionContainer--2HH6q {
        padding-top: 20px;
        @media(min-width: 1024px) {
            padding-top: 30px;
        }
    }
    .#{$id}-confirmationMsg {
        margin-bottom: 5px;
        p {
            text-align: center;
        }
        @media(min-width: 1024px) {
            margin-top: 10px;
        }
    }
}
