@import './variables';

.#{$id} {


    /* For none search pages */
    .grid_mode.grid {
        display: flex;
        flex-wrap: wrap;
    }
    @media(max-width: 767px){
        .product_listing_container .plp_gridView_redesign ul.grid_mode li {
            float: none;
        }
        .product_listing_container ul.grid_mode .#{$id}-block {
            //width: 48% !important;
            .#{$id}-innerText {
                height: calc(100% - 200px);
            }
            .#{$id}-image {
                height: 150px;
            }
            
        }
    }

    @media(min-width: 767px ){
        .product_listing_container ul.grid_mode .#{$id}-block {
            width: 50% !important;
            .#{$id}-innerText {
                min-height: 169px;
            }
            .#{$id}-image {
                height: 250px;
            }
        }
    }
    @media(min-width: 1024px ){
        .product_listing_container ul.grid_mode .#{$id}-block {
            width: 33% !important;
            .#{$id}-innerText {
                min-height: 190px;
            }
            .#{$id}-image {
                height: 200px;
            }
        }
    }
    @media(min-width: 1280px ){
        .product_listing_container ul.grid_mode .#{$id}-block {
            width: 25% !important;
            .estore_product_container {
                height: 98% !important;
                .#{$id}-image {
                    height: 250px;
                }
            }
        }
        
    }
       

    .product_listing_container {
        .#{$id}-gridBlock {
            padding: 0 !important;
            //display: flex !important;
            //flex-direction: column !important;
            //justify-content: space-evenly;
            border: 0px !important;
            background: #ffeded;
            overflow: visible;
            position: relative !important;
            height: auto !important;
            @media(max-width: 767px) {
                height: 100% ;
            }
            &.health,
            &.child {
                background: #dcf3ff;  
            }
            &.skincare {
                background: #e2f3e5;  
            }
            .#{$id}-image {
                height: 180px;
                background-size: cover;
                background-position: left;
                background-repeat: no-repeat;
               
                @media(min-width: 767px) {
                    height: 280px;
                }
                @media(min-width: 1280px) {
                    height: 300px;
                   
                }
            }
            .#{$id}-logo {
                height: 40px;
                width: 100%;
                margin-top: 10px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                margin: 0 auto;
                @media(min-width: 767px) {
                    margin-top: 5px;
                }
                @media(min-width: 767px) {
                    height: 50px;
                }
            }
            .#{$id}-innerText {
                padding: 10px;
                width: auto;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                height: calc(100% - 180px);
                justify-content: center;
                align-content: center;
                min-height: 156px;
                @media(min-width: 767px) {
                    padding: 20px;
                    height: calc(100% - 280px);
                }
                @media(min-width: 1280px) {
                    padding: 20px;
                    padding-top: 15px;
                    padding-bottom: 10px;
                    height: calc(100% - 280px);
                    min-height: 159px;
                    justify-content: flex-start;
                }
                h3 {
                    padding-left: 0px;
                    font-family: FuturaLTBook,Tahoma,Arial,sans-serif;
                    text-align: center;
                    font-size: 17px;
                    line-height: 26px;
                    margin-top: 7px;
                    margin-bottom: 10px;
                    @media(min-width: 375px) {
                        font-size: 20px;
                    }
                    @media(min-width: 410px) {
                        font-size: 23px;
                        line-height: 27px;
                    }
                    @media(min-width: 767px) {
                        font-size: 25px;
                        line-height: 30px;
                    }
                    @media(min-width: 1024px) {
                        font-size: 23px;
                        line-height: 25px;
                    }
                }
                p {
                    font-size: 14px;
                    padding-left: 0px;
                    line-height: 19px;
                    text-align: center;
                    @media(min-width: 1024px) {
                        font-size: 17px;
                        line-height: 23px;
                    }
                    @media(min-width: 1280px) {
                        font-size: 16px;
                        line-height: 23px;
                    }
                    .small {
                        font-size: 13px;
                        display: block;
                        color: #565656;
                        margin-top: 5px;
                    }
                    
                }
            }
            .#{$id}-button {
                background-color: black;
                border: 1px solid black;
                box-sizing: border-box;
                padding: 8px 10px;
                font-family: FuturaLTBook,Tahoma,Arial,sans-serif;
                color: white;
                width: auto;
                margin:  0 auto;
                font-size: 13px;
                //position: absolute;
                //bottom: -3px;
                //left: 50%;
                width: 90%;
                text-transform: uppercase;
                //transform: translateX(-50%);
                padding: 10px;
                margin-bottom: 5px;
                text-align: center;
                &:hover {
                    background: white;
                    color: black;
                }

                @media(min-width: 375px) {
                    font-size: 16px;
                }
                @media(min-width: 767px) {
                    padding: 10px;
                    font-size: 17px;
                    margin-bottom: 10px;
                    //bottom: -10px;
                }
            }
            &.health,
            &.skincare,
            &.child {
                h3 {
                    font-family: 'F37 Ginger Bold',Tahoma,Arial,sans-serif;
                    color: #004990;
                    font-size: 20px;
                    margin-bottom: 10px;
                    text-align: center;
                    @media(min-width: 1024px) {
                        font-size: 21px;
                        line-height: 30px;
                    }
                }
                .#{$id}-image {
                    background-position: center;
                }
                
                .#{$id}-button {
                    background: white;
                    color: #004990;
                    border: 1px solid #004990;
                    font-family: 'F37 Ginger Bold',Tahoma,Arial,sans-serif;
                    text-transform: none;
                    font-size: 14px;
                    display: block;
                   
                    width: 90%;
                    
                    padding: 10px;
                    margin-bottom: 10px;
                    text-align: center;
                    &:hover {
                        background: #004990;
                        color: white;
                    }
                    @media(min-width: 767px) {
                        padding: 10px;
                        font-size: 17px;
                    }
                }
            }
            &.skincare {

                .#{$id}-innerText {
                    @media(min-width: 1280px) {
                        min-height: 175px;
                    }
                }
                .#{$id}-button {
                    margin-bottom: 5px;
                    @media(min-width: 1024px) {
                        margin-bottom: 10px;
                    }
                }
                h3 {
                    color: black;
                }
            }
            &.child {
                .#{$id}-image {
                    height: 150px;
                    @media(min-width: 375px) {
                        height: 168px;
                    }
                    @media(min-width: 1280px) {
                        height: 250px;
                    }
                }
                .#{$id}-innerText {
                    line-height: 24px;
                }
                .#{$id}-button {
                    margin-bottom: 7px;
                }
            }
            &.pharmacy {
                .#{$id}-button {
                    background: #cae0f5;
                    color: #004990;
                    border: 1px solid #cae0f5;
                    border-radius: 25px;
                    &:hover {
                        color: #004990;
                        background: #b5cde7;
                    }
                }
            }
            &.redness {
                .#{$id}-innerText {
                    @media(min-width: 1024px) {
                        padding-top: 20px;
                    }
                }
                .#{$id}-image {
                    background-position: center;
                    @media(min-width: 1024px) {
                        height: 265px;
                    }
                   
                }
            }
        }
    }


    @media(min-width: 601px) and (max-width: 1280px){
        .product_listing_container ul.grid_mode .#{$id}-block {
            .#{$id}-gridBlock {
                height: auto !important;
            }
        }
    }

}

