@import './variables';

.#{$id} {

  // --- HIDE PAGINATION
  .is-pagination.is-size-5.has-text-weight-light.is-flex.is-justify-content-center.has-margin-top-small {
    display: none !important;
  }
  
  .#{$id}-showMore__wrapper {
    text-align: center;
    padding: 30px 0 20px;

    .#{$id}-showMore__cta {
      // text-decoration: underline;
      position: relative;
      font-size: 18px !important;
      letter-spacing: 1.25px;
      line-height: 1.5;
      text-transform: uppercase!important;
      color: #000;
      font-weight: 300;

      // border: 1px solid #000;
      // padding: .5em 1em;
      // width: 160px;
      // margin: auto;
      width: 160px;
      margin: auto;
      border: 1px solid;
      padding: 12px 14px;
      padding: 8px 12px;


      // &:after {
      //   content: '';
      //   display: block;
      //   width: 124px;
      //   height: 2px;
      //   background: #000;
      //   transition: width 0.4s;
      //   position: absolute;
      //   top: 26px;
      //   left: 50%;
      //   transform: translateX(-50%);
      // }

      &:hover, &:focus, &:active {
        cursor: pointer;
        background-color: #f8f7f5!important;

        &:after {
          width: 0%;
        }
        
      }

    }
  }


  &.NE-348-2 {
    .columns.is-multiline.is-mobile.has-padding-top-tiny {
      display: none;
      &.shown {
        display: flex !important;
      }
    }
  }
}
