.NH001 {
  .NH001_wrapper {
    .NH001_headerQ {
      font-size: 12px;
      margin-bottom: 15px;
    }
    #NH001_yes_no {
      font-size: 13px;
      line-height: 30px;
      color: #333333;
      margin-bottom: 15px;
      input {
        margin-right: 10px;
      }
      .NH001_inputText {
        cursor: pointer;
      }
    }
    .NH001_btn_wrap {
      width: 100%;
      text-align: left;
      margin-bottom: 15px;
      .NH001_continueBtn {
        display: inline-block;
        background: #f6743a;
        background-size: 9px 16px;
        color: #fff;
        font-size: 17px;
        border: none;
        border-bottom: 4px solid #ee4f1e;
        font-weight: 700;
        font-family: "vag_roundedbold", Arial;
        box-shadow: 1px 3px 1px #D3DDDE;
        border-radius: 4px;
        -moz-transition: background-color, 0.3s;
        -o-transition: background-color, 0.3s;
        -webkit-transition: background-color, 0.3s;
        transition: background-color, 0.3s;
        width: 70%;
        padding: 10px 0;
        text-align: center;
      }
    }
  }
  .NH001_noEmail, .NH001_noPass {
    color: #cc0909;
    margin: 0 !important;
    font-size: 13px;
  }
  #valLogin {
    font-size: 12px;
  }
  .NH001_forgot_pass {
    padding: 0 !important;
    > a {
      font-size: 12px !important;
    }
  }
  .NH001_pleaseSelect {
    text-align: left;
    color: #cc0909;
  }
  #txtEmail, #txtPassword {
    height: 40px !important;
  }
  #NH001_right {
    .box-with-border.white {
      h3 {
        font-size: 15px !important;
      }
      strong {
        font-size: 13px !important;
      }
      div {
        font-size: 13px !important;
      }
    }
  }
  @media only screen and (min-width: 768px) {
    .NH001_wrapper {
      .NH001_btn_wrap {
        text-align: left;
        .NH001_continueBtn {
          text-align: center;
        }
      }
    }
    #pnlSignInDuring {
      .left {
        width: 50% !important;
      }
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 900px) {
    #pnlSignInDuring {
      .left {
        display: inline-block !important;
        float: left !important;
        margin-top: 10px !important;
      }
      #NH001_right {
        position: relative !important;
        display: inline-block !important;
        width: 50% !important;
        box-sizing: border-box !important;
        .box-with-border {
          width: 100% !important;
          box-sizing: border-box !important;
        }
      }
    }
  }
} // NH001