.GD027 {

  // Remove wrap to make borders full width

  form.lens-choice {
    padding: 20px 0;
  }

  .personalise-choice.lens-choice .option-value {
    padding: 30px 0 10px;
  }

  // Price area
  // was price is above current price in DOM, rearrange on page
  .personalise-choice.lens-choice .option-price {
    position: relative;

    .price-current {
      color: #FF6E29;
      font-size: 25px;
      font-weight: 700;
    }

    // Add a closing bracket in CSS after content
    .price-was {
      position: absolute;
      margin-top: 30px;
      color: #A0A2A3;
      font-size: 20px;
      margin-left: -35px;
      padding: 0;
      top: 0;
      left: 50%;
      font-size: 15px;
      &:after {
        content: ')'
      }
    }
  }

  // Style inserted opening bracket - renders before 'was' text
  // Moving it before the 'was' text, 'was' text is the content of a before element
  .GD027_Bracket {
    position: absolute;
    margin-left: -5px;
    text-decoration: line-through;
    top: 0;
    left: 0;
  }

  // Put each feature on new line with border
  .option-description .option-description__item {
    width: 100%;
    display: block;
    border-top: solid 1px #d8d8d8;
    margin: 0;
    padding: 10px 0;
    text-align: left;
    // Move descriptive icon to the left of text
    .personalisation-icon{
      vertical-align: middle;
      margin: 0 20px;
    }
    > p {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .option-description .option-description__item:last-child {
    border-bottom: solid 1px #d8d8d8;
  }
}