@import './variables';

.#{$id} {
    	// Scoped styles
	.main-header .top-bar{
		display: none !important;
	}

	.#{$id}_top_bar{

		.#{$id}_top_bar_container{
			background-color: #F8EFE0;
			padding: 8px 0;
			text-align: center;
			color: #19192B;
			text-align: center;
			font-size: 16px;
			font-weight: 600;
			line-height: 140%;

			a{
				color: #19192B;
				text-decoration: underline;
				cursor: pointer;
			}
		}
		
	}
}
