.SO009 .SO009_dontLike {
    margin-left: 40px;
    font-size: 16px;
    font-weight: 700;
}

.SO009 .SO009_checkThis {
    margin-left: 40px;
    font-size: 16px;
}

.SO009 .SO009_checkThis > a:first-child {
    color: #d12457;
}

.SO009 #block-upsell-heading {
    text-align: left;
    margin-left: 50px;
}

.SO009 #block-upsell-heading span {
    font-weight: 500;
    font-size: 15px;
}

.SO009 .SO009_checkoutBackContainer {
    padding: 0 10px;
}

.SO009 .SO009_checkoutBack {
    color: #65b2d2 !important;
    cursor: pointer;
    font-family: museo700;
    text-decoration: underline;
}

@media only screen and (max-width: 767px) {
    .SO009 .SO009_dontLike, .SO009 .SO009_checkThis {
        margin-left: 0;
    }

    .SO009 #block-upsell-heading {
        margin-left: 0;
        font-size: 15px;
    }
}
