@import './variables';

.#{$id}.#{$id}-expbegins {
  .#{$id}-hidden {
    display: none;
    visibility: hidden;
  }

  .HC-158__sticky_add_to_cart {
    //display: none !important;
  }

  #add-to-cart {
    background: #000 !important;
    color: #fff !important;
    overflow: hidden;
    & * {
      visibility: hidden !important;
      display: none !important;
    }

    &:before {
      content: 'Add to bag';
      visibility: visible !important;
      display: block !important;
    }
  }

  .#{$id}-disabled {
    background: transparent !important;

    &.hover {
      .menu-title svg.icon {
        fill: #fff;

        @media all and (max-width: 600px) {
          fill: #fff;
          filter: none;
        }
      }
    }

    .menu-text {
      color: #fff;
    }

    .drop-down-options {
      display: none;
      visibility: hidden;
    }
  }

  .#{$id}-atc-holder {
    width: 100%;
    min-height: 700px;
    background: #fff;
    position: relative;
    padding: 20px 0;
    z-index: 10;
  }

  .#{$id}-atc {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 40px;

    @media all and (max-width: 767px) {
      margin-bottom: 20px;
    }

    @media all and (max-width: 600px) {
      flex-direction: column;
    }

    .#{$id}-mobile-atc-holder {
      display: flex;
      flex-direction: row;
    }

    &--proddetails {
      width: 70%;
      display: flex;
      flex-direction: row;
      padding: 0 10%;
      box-sizing: border-box;

      @media all and (max-width: 767px) {
        padding: 0 5% 0 10px;
      }

      @media all and (max-width: 600px) {
        flex-direction: column;
        padding: 0;
        width: 100%;
      }

      &--mobiletick {
        width: 100%;
        margin-bottom: 10px;
        h3 {
          font-size: 14px;
          color: #118f40;
          line-height: 20px;
          letter-spacing: 0.2px;
          font-family: 'GillSansNova-Bold', Arial, Helvetica, sans-serif;
          margin-bottom: 15px;
          position: relative;
          padding-left: 40px;

          &:before {
            background-image: url("data:image/svg+xml,%3Csvg width='12' height='11' viewBox='0 0 15 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.46614 11.7308L5.855 12.1343L6.21174 11.7021L14.2317 1.98706L14.2318 1.98701C14.5889 1.55427 14.4563 0.954074 14.0236 0.665451L13.7462 1.08141L14.0236 0.66545C13.6095 0.389247 13.0283 0.463996 12.7072 0.853052L12.7072 0.853063L5.7438 9.29096L2.1794 5.59487L2.17945 5.59482L2.17352 5.58888C1.82909 5.24351 1.24845 5.18611 0.845722 5.5107C0.434725 5.84196 0.373154 6.44439 0.751935 6.8394L0.752808 6.8403L5.46614 11.7308Z' fill='%23118F40' stroke='%23118F40'/%3E%3C/svg%3E");
            content: '';
            position: absolute;
            left: 10px;
            top: 5px;
            width: 12px;
            height: 11px;
          }
        }
      }

      &--image {
        width: 168px;

        @media all and (max-width: 600px) {
          max-width: 103px;
          width: 100%;
          height: auto;

          padding-bottom: 20px;
        }

        img {
          width: 100%;
          height: auto;
          max-width: 100%;
        }
      }

      &--text {
        padding-left: 80px;
        padding-top: 10px;

        @media all and (max-width: 767px) {
          padding-left: 60px;
        }

        @media all and (max-width: 600px) {
          padding-left: 20px;
        }
        h3 {
          font-size: 16px;
          color: #118f40;
          line-height: 22px;
          letter-spacing: 0.2px;
          font-family: 'GillSansNova-Bold', Arial, Helvetica, sans-serif;
          margin-bottom: 15px;
          position: relative;

          @media all and (max-width: 600px) {
            font-size: 14px;
            line-height: 20px;
          }

          &:before {
            background-image: url("data:image/svg+xml,%3Csvg width='15' height='13' viewBox='0 0 15 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.46614 11.7308L5.855 12.1343L6.21174 11.7021L14.2317 1.98706L14.2318 1.98701C14.5889 1.55427 14.4563 0.954074 14.0236 0.665451L13.7462 1.08141L14.0236 0.66545C13.6095 0.389247 13.0283 0.463996 12.7072 0.853052L12.7072 0.853063L5.7438 9.29096L2.1794 5.59487L2.17945 5.59482L2.17352 5.58888C1.82909 5.24351 1.24845 5.18611 0.845722 5.5107C0.434725 5.84196 0.373154 6.44439 0.751935 6.8394L0.752808 6.8403L5.46614 11.7308Z' fill='%23118F40' stroke='%23118F40'/%3E%3C/svg%3E");
            content: '';
            position: absolute;
            left: -30px;
            top: 5px;
            width: 15px;
            height: 12px;
          }
        }

        p {
          font-size: 16px;
          color: #000;
          line-height: 22px;
          letter-spacing: 0.2px;
          font-family: 'GillSansNova-Medium', Arial, Helvetica, sans-serif;
          margin-bottom: 10px;

          @media all and (max-width: 600px) {
            font-size: 14px;
            line-height: 20px;
          }

          &.#{$id}-atc--price {
            font-family: 'GillSansNova-Bold', Arial, Helvetica, sans-serif;
          }
        }
      }
    }

    &--checkout {
      width: 30%;
      max-width: 270px;
      display: flex;
      flex-direction: column;
      background: #f0f0f0;
      padding: 20px;
      box-sizing: border-box;

      @media all and (max-width: 600px) {
        width: 100%;
        max-width: 100%;
        border-top: 1px solid #c8c8c8;
        padding-top: 10px;
        background: none;
        padding: 10px 0;
      }

      .#{$id}-totals {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        font-family: 'GillSansNova-Bold', Arial, Helvetica, sans-serif;
        font-size: 18px;
        line-height: 26px;

        @media all and (max-width: 600px) {
          padding: 0 10px;
        }
      }

      .#{$id}-items {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 20px;
        font-family: 'GillSansNova-Medium', Arial, Helvetica, sans-serif;
        font-size: 18px;
        line-height: 26px;

        .#{$id}-subitems {
          margin-right: 3px;
        }

        @media all and (max-width: 600px) {
          padding: 0 10px;
        }
      }

      &--button {
        width: 100%;
        padding: 12px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #000;
        border: 1px solid #000;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-family: 'GillSansNova-Medium', Arial, Helvetica, sans-serif;
        color: #fff;
        font-size: 13px;

        &:last-child {
          margin-bottom: 0;
        }

        @media all and (max-width: 600px) {
          font-size: 15px;
        }

        &.secondary {
          background: #fff;
          color: #000;
        }
      }
    }
  }

  .#{$id}-upsells {
    margin-bottom: 40px;

    h2 {
      font-family: 'GillSansNova-Bold', Arial, Helvetica, sans-serif;
      font-size: 24px;
      line-height: 32px;
    }
  }
}
