body.PD018{
  //PD012 CSS - commented out CSS - client amends

//   #header_container {
//     position: fixed;
//     z-index: 3;
//     width: 100%;
// }
// #content {
//     padding-top: 146px;
// }
// #header .ui-grid-a .logo {
//     width: calc(100% - 125px);
//     margin-left: 43px;
//     text-align: center;
// }
#header .ui-block-b.minicart {
    width: auto;
    float: right;
}
// h3.top-menu.ui-collapsible-heading {
//     left: 0;
// }
#header .ui-header .pd1_navigation {
    box-shadow: none;
}
// #foot_outer .mobile_footer_top_links.clearfix.cms-collection-component {
//     display: none;
// }
// .lockhart_mobile_homepage_menu_links div div:nth-child(7),
// .lockhart_mobile_homepage_menu_links div .last {
//     display: none;
// }

.lockhart_mobile_homepage_menu_links .coll_item {
    clear: both;
}

.lockhart_mobile_homepage_menu_links .coll_item .ui-link {
    background: none;
    width: 80px;
    height: auto;
    padding: 5px 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
}

.PD012_ReadMore_Wrapper {
    display: inline-block;
    padding-left: 10px;
    width: calc(100% - 85px);
    margin-left: 85px;
    vertical-align: middle;
    min-height: 100px;
    box-sizing: border-box;
}

.PD012_Homepage_Image {
    width: 40px;
    padding: 10px 15px;
    margin-left: 5px;
}

.PD012_Homepage_Image_PPE{
    background-color: #e6211c;
}

.PD012_Homepage_Image_Gloves{
    background-color: #01b1a7;
}

.PD012_Homepage_Image_Respirators{
    background-color: #c5db32;

}

.PD012_Homepage_Image_Footwear{
    background-color: #8c2e9b
}

.PD012_Homepage_Image_Workwear{
    background-color: #0c56ab;
}

.PD012_Homepage_Image_Consumables{
    background-color: #78797d;
}

.PD012_ReadMore_Header{
    font-size: 15px;
    font-weight: 700;
    margin: 0;
}

.PD012_ReadMore_Text {
    width: 100%;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 28px;
    line-height: 20px;
    color: #000000;
}
.PD012_ReadMoreLink {
    font-size: 13px;
    padding: 0;
    text-decoration: underline;
    background: none;
    color: #000000;
    line-height: 0;
    :visited{
        color: #000000;
    }&:focus{
        outline: none;
    }
}

.PD012_QuickBuy_Top, .PD012_Brands_Top{
    text-align: center;
    margin-top: 10px;
}

//Slick slider CSS

.slick-slider
{
position: relative;

display: block;
box-sizing: border-box;

-webkit-user-select: none;
   -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;

-webkit-touch-callout: none;
-khtml-user-select: none;
-ms-touch-action: pan-y;
    touch-action: pan-y;
-webkit-tap-highlight-color: transparent;
}

.slick-list
{
position: relative;

display: block;
overflow: hidden;

margin: 0;
padding: 0 10px;
}
.slick-list:focus
{
outline: none;
}
.slick-list.dragging
{
cursor: pointer;
cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
-webkit-transform: translate3d(0, 0, 0);
   -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
     -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
}

.slick-track
{
position: relative;
top: 0;
left: 0;

display: block;
}
.slick-track:before,
.slick-track:after
{
display: table;

content: '';
}
.slick-track:after
{
clear: both;
}
.slick-loading .slick-track
{
visibility: hidden;
}

.slick-slide
{
display: none;
float: left;

height: 100%;
min-height: 1px;
}
[dir='rtl'] .slick-slide
{
float: right;
}
.slick-slide img
{
display: block;
}
.slick-slide.slick-loading img
{
display: none;
}
.slick-slide.dragging img
{
pointer-events: none;
}
.slick-initialized .slick-slide
{
display: block;
}
.slick-loading .slick-slide
{
visibility: hidden;
}
.slick-vertical .slick-slide
{
display: block;

height: auto;

border: 1px solid transparent;
}

.PD012_landing_wrap {
padding: 0 10px 10px 10px;
box-sizing: content-box;
margin-bottom: 30px;
overflow: hidden;
}

.PD012_landing_slider_Product, .PD012_landing_slider_Brands {
height: 100%;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
filter: alpha(opacity=0);
opacity: 0;
-webkit-transition-property: opacity;
transition-property: opacity;
-webkit-transition-duration: 400ms;
transition-duration: 400ms;
-webkit-transition-timing-function: ease-in-out;
transition-timing-function: ease-in-out;
&.slick-initialized {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=100);
  opacity: 1;
  .slick-slide {
    display: block;
  }
}
.slick-arrow {
  //display: none !important;
}
.slick-list,
.slick-track {
  height: 100%;
}
.slick-track{
    height: calc(100% - 2px);
}
.slick-slide {
  width: 100%;
  background-size: cover;
  background-position: center;
  display: none;
  &:first-child {
    display: block;
  }
  &:focus,
  &:active {
    outline: none;
  }
}
.slick-dots {
  position: absolute;
  top: 15px;
  width: 100%;
  line-height: 3px;
  padding-left: 15px;
  margin: 0;
  li {
    display: inline-block;
    height: 9px;
    position: relative;
    width: 9px;
    & + li {
      margin-left: 10px;
    }
  }
  button {
    background: #fff;
    font-size: 0;
    text-indent: -9999em;
    width: 9px;
    height: 9px;
    display: inline-block;
    border-radius: 50%;
    outline: none;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-appearance: none;
    border: none;
    cursor: pointer;
    -webkit-transition-property: background;
    transition-property: background;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    &:hover {
      background: #1d2a34;
    }
    &:active,
    &:focus {
      outline: none;
    }
  }
  .slick-active button {
    background: #1d2a34;
  }
}
}

.PD012_CarouselHeader{
  text-align: center;
  padding: 0 10px;
  
}

.PD012_Brand .PD012_CarouselHeader{
margin: 10px 0 0 0;
}

.PD012_CarouselWrapper{
  text-align: center;
  border: 1px solid #bbbbbb;
  margin: 0 10px;
  position: relative;
}

.PD012_Carousel_Image_Link{
  display: inline-block;
}

.slick-prev.slick-arrow{
width: 0;
height: 0;
border-style: solid;
border-width: 7.5px 13.0px 7.5px 0;
border-color: transparent #bbbbbb transparent transparent;    
background: none;
position: absolute;
z-index: 2;
top: 50%;
left: 0;
margin-top: -11px;
margin-left: -20px; 
padding-left: 10px;

&:focus{
    outline: none;
}

&.slick-disabled{
  display: none !important;
}
}


.slick-next.slick-arrow{
width: 0;
height: 0;
border-style: solid;
border-width: 7.5px 0 7.5px 13.0px;
border-color: transparent transparent transparent #bbbbbb;
background: none;
position: absolute;
z-index: 2;
top: 50%;
right: 0;
margin-top: -11px;
padding-right: 10px;

margin-right: -20px;

&:focus{
    outline: none;
}

&.slick-disabled{
  display: none !important;
}

}

.PD012_Carousel_Image_Link{

&:focus{
    outline: none;
}
}

.PD012_HeaderLink{
  color: #000000;
  &:focus{
    outline: none;
}
}

.PD012_Image_Align .PD012_Carousel_Image_Link{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0);
}

.PD012_Brand > .PD012_Carousel_Image_Link > img{
height: 91px;
width: 91px;

}

.PD012_landing_wrap.PD012_Brands_Carousel{
margin-bottom: 0;
}

.PD012_More_Brands_Wrapper{ 
margin-bottom: 10px;
text-align: center;
text-decoration: underline;
}

.PD012_More_Brands_Link{
color: #000000;
&:focus{
  outline: none;
}
}

//PD018 CSS

.highlights-carousel{
  padding-bottom: 0;
}

.PD018-Header-Wrapper{
  text-align: center;
  font-size: 15px;
}

.PD018-Buttons-Wrapper{
  text-align: center;
}

.PD018-Order-History-Button{
  background-color: #2b2b2f;
  display: inline-block;
  color: #FFFFFF;
  padding: 10px 60px;
  font-size: 15px;
}

.PD018-Favourites-Button{
  background-color: #2b2b2f;
  display: inline-block;
  color: #FFFFFF;
  padding: 10px 70px;
  font-size: 15px;
}

//Slick CSS


.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0 10px;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}

.PD018_landing_wrap {
    padding: 0 10px 10px 10px;
    box-sizing: content-box;
    margin-bottom: 30px;
    overflow: hidden;
  }
  
  .PD018_landing_slider {
    height: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    &.slick-initialized {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=100);
      opacity: 1;
      .slick-slide {
        display: block;
      }
    }
    .slick-list,
    .slick-track {
      height: 100%;
    }
    .slick-track{
        height: calc(100% - 2px);
    }
    .slick-slide {
      width: 100%;
      background-size: cover;
      background-position: center;
      display: none;
      &:first-child {
        display: block;
      }
      &:focus,
      &:active {
        outline: none;
      }
    }
  }

  .PD018-Wrapper{
    margin-bottom: 20px;
  }

 .PD018_Carousel_Product_Link{
   color: #000000;
  
 }

 .PD018_Carousel_Product_ExVAT_Price{
  font-size: 11px;
 }

  .PD018_CarouselWrapper{
      text-align: center;
      border: 1px solid #bbbbbb;
      margin: 0;
      position: relative;
  }

  .PD018_Carousel_Image_Link{
      display: inline-block;
  }

  .PD018_RecentlyViewed_Carousel_Header{
    text-align: center;
  }

  .PD018_Carousel_Brand_Text{
    // text-align: center;
    // padding: 10px 10px 0 10px;
    // color: #000000;

    //QA Amend now hiding brand name
    display: none;
    &:focus{
      outline: none;
  }
}

.PD018_CarouselWrapper{
    text-align: center;
    border: 1px solid #bbbbbb;
    margin: 0 10px;
    position: relative;
}

.PD018_Carousel_Image_Link{
    display: inline-block;

    &:focus{
      outline: none;
  }
}



.slick-prev.slick-arrow{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7.5px 13.0px 7.5px 0;
  border-color: transparent #bbbbbb transparent transparent;    
  background: none;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 0;
  margin-top: -11px;
  margin-left: -20px; 
  padding-left: 10px;

  &:focus{
      outline: none;
  }
  &.slick-disabled{
    display: none !important;
  }
}


.slick-next.slick-arrow{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7.5px 0 7.5px 13.0px;
  border-color: transparent transparent transparent #bbbbbb;
  background: none;
  position: absolute;
  z-index: 2;
  top: 50%;
  right: 0;
  margin-top: -11px;
  padding-right: 10px;

  margin-right: -20px;

  &:focus{
      outline: none;
  }

  &.slick-disabled{
    display: none !important;
  }

}


}