@import './variables';

@keyframes MEslide-right {
    0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
      }
      100% {
        -webkit-transform: translateX(130px);
                transform: translateX(130px);
      }
  }

.#{$id} {

    @media(max-width:767px) {
        #maincontent {
            padding: 0px;
        }
        .mobile-product-title,
        .product-add-form {
            padding-left: 15px;
            padding-right: 15px;
        }
        .product-info-price,
        .product-description {
            margin-left: 15px;
            margin-right: 15px;
        }
    }
    .official-licensed {
        display: none;
    }
    .breadcrumbs_info {
        margin-bottom: 15px;
    }
    // reviews
    .review-banner {
        .review-banner-text {
            display: none;
        }
        .reviews {
            display: none;
        }

        .#{$id}-xmasReview {
            padding: 5px;
            padding-bottom: 0px;
            .#{$id}-reviewText {
                color: white;
                text-transform: uppercase;
            }
            .#{$id}-stars {
                background: url('https://www.merchoid.com/static/version1570714904/frontend/Merchoid/merchoid2/en_GB/images/review-star.png') repeat-x 0 0;
                background-size: contain;
                display: inline-block;
                vertical-align: middle;
                height: 21px;
                transform: scale(.7);
                width: 105px;
            }
            .#{$id}-review-author {
                display: inline-block;
                vertical-align: middle;
                color: #0cbbf4;
                font-size: 13px;
                margin: 0;
            }
            @media(min-width: 1024px) {
                padding: 20px;
            }
        }
    }

    .#{$id}-xmas_label {
        position: absolute;
        bottom: 5px;
        transform: translateX(-50%);
        border-radius: 6px;
        width: 73%;
        left: 50%;
        text-align: center;
        padding: 5px;
        background: url('//cdn.optimizely.com/img/6087172626/9e000baa7c9d4b13b4d587161f919560.png') no-repeat center;
        background-size: cover; 
        span {
            padding-left: 26px;
            padding-right: 26px;
            text-transform: uppercase;
            color: white;
            position: relative;
            font-weight: 700;
            font-size: 13px;
            line-height: 20px;
            &::before {
                content: '';
                width: 20px;
                height: 20px;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-56%);
                background-image: url('//cdn.optimizely.com/img/6087172626/b1c73840d9bc4ba18f4eb5ff40f60e25.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
            &::after {
                content: '';
                width: 20px;
                height: 20px;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-56%);
                background-image: url('//cdn.optimizely.com/img/6087172626/b1c73840d9bc4ba18f4eb5ff40f60e25.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
        }

        @media(min-width: 767px) {
            width: 200px;
        }
    }

    // message
    .#{$id}_messageBlock {
        padding: 10px;
        background-color: #f7f7f7;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        text-align: center;
        position: relative;
        margin-bottom: 10px;
        span {
            display: none;
            height: 70px;
            width: 75px;
            background-size: cover;
            vertical-align: middle;
            color: black;
        }
        .#{$id}-message { 
            display: inline-block;
            vertical-align: middle;
            width: 70%;
            margin: 0 auto;
            text-align: center;
            position: relative;
            h3 {
                color: black; 
                margin-bottom: 10px;  
                margin-top: 0;     
                text-transform: uppercase;
                font-size: 13px;
                position: relative;
                padding-bottom: 13px;
                &::after {
                    content: '';
                    width: 40px;
                    height: 4px;
                    display: block;
                    margin: 0 auto;
                    background-color: #0abbf4;
                    bottom: 0;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
            p {
                color: black;
                margin-bottom: 0px;
                font-size: 12px;
            }
        }
        .#{$id}-loader_bar {
            display: block;
            height: 68px;
            position: relative;
            width: 200px;
            margin: 0 auto;
            span{
                display: block;
                height: 40px;
                background-image: url('//cdn.optimizely.com/img/6087172626/1daf4d0eed294857be00349b393a332e.png');
                background-size: contain;
                background-repeat: no-repeat;
                padding: 5px;
                width: 100%;
                background-position: center;
            }
            .#{$id}-stockLevel {
                position: absolute;
                bottom: 0px;
                background-size: contain;
                left: 0;
                color: white;
                text-transform: uppercase;
                font-size: 11px;
                color: black;
                .#{$id}-arrow {
                    background-position: center;
                    background-image: url('//cdn.optimizely.com/img/6087172626/436e70ad1a664d9491cfcf9803476758.png');
                    height: 30px;
                    width: 30px;
                    background-size: cover;
                    margin: 0 auto;
                    padding: 0px;
                }
            }
        }
        &.#{$id}-loader_slide {
            .#{$id}-loader_bar {
                .#{$id}-stockLevel {
                    animation: MEslide-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                }
            }
        }
        @media (min-width: 767px) {
            background-image: none;
            margin-bottom: 10px;
            &::before {
                display: none;
            }
            .#{$id}-message { 
                display: block;
                width: 80%;
                h3 {
                    color: black;
                    font-size: 13px;
                    vertical-align: middle;
                    margin: 0;
                    padding: 0;
                    &::after {
                        display: none;
                    }
                }
                p {
                    color: black;
                    font-size: 14px;
                    display: inline-block;
                    margin-bottom: 5px;
                    vertical-align: middle;
                }
                .#{$id}-stockLevel {
                    color: black;
                }
            }
        }
        @media(min-width: 1024px) {
            padding: 20px;
        }
    }

    &.#{$id}-1 {
        .#{$id}_messageBlock {
            //background-image: url('//cdn.optimizely.com/img/6087172626/9e000baa7c9d4b13b4d587161f919560.png');
            &::before {
                content: '';
                height: 100%;
                width: 100%;
                position: absolute;
                left: 0;
                top: 0;
               // background: rgba(0, 0, 0, 0.5);
            }
        }
    }
}
