@import './variables';

.#{$id} {
   .#{$id}-corona-message-inner {
       background-color: #FBF4BF;
       font-weight: bold;
       padding: 2px 15px;
   }

   .#{$id}-buttons-wrap {
       text-align: center;

       .btn.btn-standard {
        width: 286.719px;
 
        @media all and (max-width: 527px) {
            width: 100%;
        }
    } 
   }
   
}
