@import './variables';

.#{$id} {
  .#{$id}__badgeWrapper {
    .#{$id}__badgeContainer {
      display: flex;
      align-items: center;
      padding-top: 28px;

      @media screen and (max-width: 767px) {
        padding-top: 20px;
      }
    }
    .#{$id}__awardsBadge {
      @media screen and (min-width: 500px) {
        max-width: 120px;
        width: 100%;
      }

      img {
        max-width: 100%;
        height: auto;
      }
    }
    .#{$id}__trustBadge {
      margin-left: 32px;
      @media screen and (min-width: 500px) {
        max-width: 150px;
        width: 100%;
      }

      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}
