.TP024 {
  #cboxLoadingOverlay,
  #cboxLoadingGraphic {
    display: none!important;
  }
  &.TP092_showloader {
    #cboxOverlay,
    #colorbox {
      display: block!important;
      opacity: 0.9;
      cursor: pointer;
      position: fixed;
      width: 100%;
      height: 100%;
    }
    #cboxWrapper,
    #cboxContent {
      display: block!important;
      height: 100%!important;
      width: 100%;
      background: none;
      position: absolute;
      top: 0;
      left: 0;
      margin: 0!important;
      >div {
        width: 100%!important;
        height: 100%!important;
      }
    }
    #cboxContent>div {
      display: none!important;
      &#cboxLoadingOverlay,
      &#cboxLoadingGraphic {
        display: block !important;
        width: 500px!important;
        height: 500px!important;
        top: 50%;
        left: 50%;
        position: absolute;
        margin: -250px 0 0 -250px;
      }
    }
  }
  .tp_stockBranchPhone {
    height: auto; //margin-bottom: 10px;
  }
  a.TP024_clickAndCollect {
    display: block;
    font-size: 13px;
    background: #f6b112;
    box-sizing: border-box;
    color: #232323;
    border: 1px solid #e99b0b;
    border-radius: 5px;
    height: 35px;
    font-weight: bold;
    line-height: 35px;
    padding: 0 5px;
    width: 170px;
    margin-left: 10px;
    text-align: center;
    position: relative;
    float: left;
    text-decoration: none;
    border-radius: 10px;
    &:hover {
      background: #de9f0e;
      transition: .1s ease all;
    }
  }
}

body.TP077B {
  &.TP077B_Loading {
    //Hide modal onload then display as normal
    #cboxOverlay,
    #colorbox {
      display: none !important;
    }
  } // Hide check stock at different branch
  .tpActionWrapper .tpProductOverview .tpCheckBasket.clearfix {
    display: none;
  }
  .TP077B_CheckStock_Header {
    //Hide header - amend 
    display: none;
  }
  .TP077B_CheckStock_Content {
    font-size: 14px;
    text-align: right;
  } //Style new postcode input
  .TP077B_CheckStock_Wrapper {
    text-align: right;
  }
  #TP077B_PostcodeSearch {
    width: calc(100% - 105px);
    border: 2px solid #e0e0e0;
    box-shadow: none;
    padding: 0 10px!important;
    box-sizing: border-box;
    height: 35px;
    margin: 0;
    position: relative;
    right: -5px;
    &:focus {
      outline: none;
    }
  }
  .TP077B_SearchButton {
    background-color: #eeeeee;
    border: 1px solid #e0e0e0;
    padding: 9px 27px 8px 27px;
    color: #232323;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    font-weight: 400;
    box-sizing: border-box;
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
}

.TP092 {
  .TP077B_SearchBox.TP092_no-input {
    #TP077B_PostcodeSearch {
      border-color: #D41B2D;
      background: #fce8ea !important;
    }
    &::after {
      color: #D41B2D;
      content: 'Please enter a postcode';
      display: block;
      text-align: left;
      padding-left: 5px;
      line-height: 26px;
    }
  }
  .tpProductOverview .tpCheckBasket.clearfix {
    margin: 0;
  }
  &.page-productDetails.feature-design a#stockCheckerButton {
    height: 50px;
  }
  &.TP002.page-productDetails.feature-design .tpBasketWrapper {
    height: auto;
  }
  .tpActionWrapper .yCmsContentSlot #stockCheckerButton {
    display: none!important;
  }
  &.TP002 .tpProductOverview .tpCheckBasket.clearfix .content p {
    display: none;
  }
  &.feature-design .tpProductView .tpCheckBasket .TP092_submit {
    width: 100%;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 4px;
    background-color: #f4a91f;
    border: none;
    padding: 8px;
    line-height: 37px;
    box-sizing: border-box;
    margin-top: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    &:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.11), 0 6px 6px rgba(0, 0, 0, 0.13);
    }
  }
  .TP092_check-stock {
    margin-top: 20px;
    border: 1px solid;
    padding: 15px;
    position: relative;
    z-index: 10;
    text-align: center;
    h3 {
      text-decoration: none;
      border-color: transparent;
    }
    input {
      height: 34px;
      line-height: 34px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      -moz-box-shadow: inset 3px 3px 4px #eee;
      -webkit-box-shadow: inset 3px 3px 4px #eee;
      box-shadow: inset 3px 3px 4px #eee;
      border: 1px solid #BBB;
      padding: 3px !important;
      margin: 20px 0 0 0;
      width: 100%;
      box-sizing: border-box;
    }
  }
  .tp_stock_result .cnt_sb_heading {
    display: none;
  }
  .search_input_wrapper {
    width: 77%;
  }
  #stock_results {
    .tp_stockBranch {
      position: relative;
    }
    .tp_stockBranchIcon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .tp_chekbox {
      float: none;
      padding-top: 10px;
      font-size: 15px;
      width: 100%;
      text-align: center;
    }
  }
  #branches>li {
    display: none;
  }
  .TP092_new-stock {
    border-bottom: 3px solid #0a5038;
    padding: 20px 5px;
    display: table;
    width: 100%;
    &.TP092_new-stock-last {
      border-bottom: none;
    }
    .TP092_details-wrap {
      display: table-cell;
      width: 70%;
      position: relative;
      padding-right: 40px;
      padding-top: 10px;
      box-sizing: border-box;
      &::after {
        content: '';
        width: 1px;
        height: calc(100% - 10px);
        position: absolute;
        right: 20px;
        top: 0;
        background: #0a5038;
      }
      h3 {
        font-size: 20px;
        line-height: 21px;
        font-weight: normal!important;
        padding: 0;
        margin: 0;
        +p {
          margin-top: 10px;
        }
      }
      >h3 {
        padding-bottom: 10px;
        span {
          display: block;
          text-transform: capitalize;
        }
        p {
          font-size: 16px;
        }
      }
      p {
        margin-bottom: 5px;
      }
      .TP092_details-inner {
        float: left;
        width: 50%;
        position: relative;
        &+.TP092_details-inner {
          padding-left: 20px;
          box-sizing: border-box;
          p {
            text-transform: capitalize;
          }
        }
      }
      .TP092_details-half {
        float: left;
        width: 50%;
      }
    }
    .TP092_stock-block {
      display: table-cell;
      width: 30%;
      box-sizing: border-box;
      position: relative;
      vertical-align: top;
      padding-top: 10px;
      text-align: center;
    }
    .TP092_branch-details-btn {
      position: absolute;
      bottom: 0;
      left: 100%;
      width: calc(100% - 20px);
      margin-left: 20px;
      text-align: center;
      font-weight: bold;
      text-decoration: none;
      cursor: pointer;
      line-height: 40px;
      background: #9fc2c1;
      color: #000;
      font-size: 14px;
      box-sizing: border-box;
      border-radius: 7px;
      &:hover {
        background-color: #8AA9A8;
      }
    }
    .TP092_add-collection,
    .TP092_add-delivery {
      position: absolute;
      bottom: 0;
      left: 0;
      width: calc(100% - 10px);
      text-align: center;
      font-weight: bold;
      text-decoration: none;
      cursor: pointer;
      line-height: 40px;
      font-size: 14px;
      background: #F6B112;
      box-sizing: border-box;
      color: #000;
      border-radius: 7px;
      &:hover {
        background-color: #E4a30b;
      }
    }
  }
  .TP092_tick {
    padding-left: 35px;
    font-size: 16px;
    position: relative;
    line-height: 32px;
    padding-right: 20px;
    text-align: center;
    width: auto;
    box-sizing: border-box;
    display: inline-block;
    &::before {
      content: '';
      border: 1px solid #000;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      position: absolute;
      left: 5px;
      top: 5px;
    }
  }
  .TP092_cross {
    padding-left: 35px;
    font-size: 16px;
    position: relative;
    line-height: 32px;
    padding-right: 20px;
    text-align: center;
    width: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    &::before {
      content: '';
      border: 1px solid #000;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      position: absolute;
      left: 5px;
      top: 5px;
    }
  }
  .TP092_tick::before {
    background: green;
  }
  .TP092_tick:after {
    content: '';
    position: absolute;
    top: 8px;
    left: 12px;
    width: 4px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    z-index: 1;
  }
  .TP092_cross::before {
    background: red;
  }
  .TP092_cross:after {
    content: '✕';
    position: absolute;
    top: 10px;
    left: 10px;
    width: 10px;
    height: 10px;
    color: #fff;
    z-index: 1;
    font-size: 10px;
    line-height: 10px;
    text-align: center;
  }
  .TP092_cross+p {
    margin-top: 30px;
  }
  .TP092_p-spacing {
    padding-right: 10px;
    font-size: 14px;
  }
  .TP092_qty-input {
    text-align: left;
    padding-left: 15px;
    margin-top: 20px;
    position: relative;
    &::before {
      content: 'Qty:';
      font-size: 14px;
      padding-right: 10px;
      display: inline-block;
    }
    &.TP092_more-error::after {
      content: 'You can\'t order more than in stock';
      position: absolute;
      left: 18px;
      bottom: -2px;
      font-size: 12px;
      color: red;
    }
    &.TP092_less-error::after {
      content: 'You can\'t order 0 or less';
      position: absolute;
      left: 42px;
      bottom: -2px;
      font-size: 12px;
      color: red;
    }
    input {
      width: calc(100% - 60px);
      border: 1px solid #000;
      height: 35px;
      padding: 0 0 0 15px;
      box-sizing: border-box;
      font-size: 17px;
    }
    &+p {
      margin-top: 10px;
      font-size: 13px;
      padding-right: 10px;
    }
  }
}