.RC018 th.course-col-name,
.RC018 th.course-col-date,
.RC018 th.course-col-price,
.RC018 th.course-col-places {
  text-align: left;
  border: none; }

.RC018 .course-venue-name {
  float: left;
  width: 60%;
  margin-bottom: 0; }

.RC018 .course-venue-distance {
  float: left;
  font-size: 14px; }
  .RC018 .course-venue-distance p {
    color: #98192a;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 0; }
  .RC018 .course-venue-distance strong {
    font-weight: 500;
    color: #000; }

.RC018 .course-show-venue-results {
  line-height: 0; }
  .RC018 .course-show-venue-results a {
    color: black;
    font-weight: 500;
    font-size: 13px;
    border: none;
    line-height: 14px;
    display: inline-block;
    vertical-align: top; }
    .RC018 .course-show-venue-results a:first-letter {
      text-transform: capitalize; }

.RC018 .RC_align_row {
  padding: 10px 0; }
