.IT059 {
  header .header-primary, header .header-logo, header .header-secondary span.header-customer-links, header .header-secondary ul.icons, header .header-secondary .header-bag a.link-bag, footer.site-footer {
    display: none;
  }
  .off-canvas-wrap .inner-wrap {
    padding-top: 0;
  }
  header .header-secondary .header-bag {
    display: block;
  }

  // .delivery-countdown.fixed-countdown {display: none;}

  // Hide 'Remove item'
  .link-remove.wt-ajax-link-remove {display: none;}

  // Sticky footer basket
  .it59-foot-basket, #cart-dropdown.f-dropdown {
    position: fixed !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0;
    max-width: 100%;
    display: block !important;
    top: 100% !important;
    border: none;
    background-color: #e9e9e9;
    transition: ease-in all 4.2s;
    padding: 0;
    z-index: 999;
    
    &:after, &:before {
      display: none;
    }

    &.it59-show-bag {
      top: auto !important;

      .it59-bag-head, .it59-bag-header:after {
        transform: rotate(180deg);
        top: 23px;
      }
    }
    
    .delivery-countdown.fixed-countdown {
      display: block;
      position: static;
    }
    
    .block-cart {
      padding: 20px;
      padding: 1.25rem;
      padding-top: 0;
      max-height: 400px;
      overflow-y: auto;


      .alert-box.success-msg {
        margin-top: 0;
      }

      .actions-top {display: none}

      ol li {
        border-top: 1px solid #222;
        padding-top: .625rem;
        text-align: left;

        .product-details .item-options {
          dt, dd {
            display: inline-block;
          }
        }

      }

      .summary {
        display: none;
      }

    }

    .it59-bag-head, .it59-bag-header {
      background-color: #e9e9e9;
      margin-top: -65px;
      padding: 14px 15px 6px 15px;
      min-height: 65px;
      position: relative;
      -webkit-box-shadow: 0px -3px 15px -2px rgba(119,119,119,1);
      -moz-box-shadow: 0px -3px 15px -2px rgba(119,119,119,1);
      box-shadow: 0px -3px 15px -2px rgba(119,119,119,1);


      &:after {
        content: "";
        border: 6px inset;
        border-color: transparent transparent #222;
        border-bottom-style: solid;
        top: 18px;
        right: 15px;
        z-index: 6;
        position: absolute;
      }

      p {
        float: left;
        font-size: 1rem;
        line-height: 1.5rem;
      }

      .it59-bag-header--right {
        float: right;
        padding-right: 30px;
      }
      .it59-bag-header--left {
        float: left;
      }

    }


  }
}

.IT059-V2 {
  .header-secondary #cart-dropdown.f-dropdown {
    display: none !important;
  }
  .off-canvas-wrap .inner-wrap {
    #cart-dropdown.f-dropdown {
      position: static !important;

      .it59-bag-header {
        margin-top: 0;
        min-height: auto;
        float: left;
        width: 100%;
        box-shadow: none;
        &:after {
          display: none !important;
        }
        .it59-bag-header--right {
          padding-right: 0;
        }
      }

      .block-cart {
        max-height: 100%;
        width: 100%;
        clear: both;
        margin-bottom: 0;
        overflow-y: initial;

        ol li {
          text-align: left;
        }

      }

    }
  }
}