.MP135 {
  #js_searchProducts {
    img.js_productImage {
      width: 180px;
    }

    .row {
      div.col-xs-12.MP134-productTitle {
        text-align: center !important;
        line-height: 24px;
        .js_productPrice {
          font-weight: 700;
        }
      }
    }

    .col-md-4.my-2.js_copy.col-xs-6 {
      float: none !important;
      display: inline-table;

      width: 23.333333% !important;
    }
  }

  #js_productTitle {
    margin-top: 20px;
    span > span {
      text-decoration: underline;

      &:hover {
        cursor: pointer;
      }
    }
    #js_productLink {
      display: none;
    }
  }
}