.SS015{
    .SS015_uspWrap{
        display: none;
    }
    
    /*Best Sellers*/
    .ss015_bestsellingWrap {
        margin-bottom: 20px;
        background: url('//cdn.optimizely.com/img/3320600494/f416ff6e27e04b388725c3a9e36eaf1c.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
     }
    
    .ss015_bestsellingWrap .ss15-bstitle{
        color: white;
        margin-top: 10px;
    }
     .ss015_bestsellingWrap.products-grid .item{
        margin: 8px;
        width: 47%;
        float: none;
        margin-left: 2px;
        margin-right: 2px;
        border-radius: 3px;
        background: white;
        margin-bottom: 20px;
        height: 370px; 
        list-style: none;
         
     }
    
     .ss015_bestsellingWrap .item:nth-child(3){
        display: none;
     }
    
    .ss015_bestsellingWrap .item:nth-child(4){
        display: none;
     }
    
    @media(min-width:430px){
        .ss015_bestsellingWrap.products-grid .item{
            height: 380px;
        }
    }
    
    @media(min-width:500px){
        .ss015_bestsellingWrap.products-grid .item{
            height: auto;
        }
    }
    
    
    @media(min-width: 767px){
        /*Best Selling*/
        
        .ss015_bestsellingWrap.products-grid .item{
            margin: 8px;
            width: 205px;
            background: white;
            margin-bottom: 20px;
            height: auto; 
        }
        
        .ss015_bestsellingWrap .item:nth-child(3){
            display: inline-block;
        }
        
        .ss015_bestsellingWrap.products-grid .item .product-name {
            min-height: 33px;
        }
    
        .ss015_bestsellingWrap .ekomimeetsmage{
            width: auto;
        }
    }
    @media(min-width:1024px){
        
        /*TITLES*/
        .page-title.category-title {
            width: 39%;
            display: inline-block;
            text-align: left;
            vertical-align: top;
            margin-left: 10px;
        }
        
         /*USPS*/
        .SS015_uspWrap{
           display: inline-block;
            padding: 10px;
            width: 213px;
            border: 1px solid #ededed;
            margin-bottom: 7px;
        }
        
        .SS015_uspWrap h3{
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 16px;
            text-align: left;
            line-height: 19px;
        }
        .SS015_uspWrap img{
            display: inline-block;
            width: 20px;
            vertical-align: middle;
            margin-right: 6px;
        }
        .SS015_uspWrap p{
            display: inline-block;
        }
        
        .SS015_uspWrap .ss015_usp {
            margin-top: 12px;
        }
        
        /*Best selling*/
        .ss015_bestsellingWrap.products-grid .item{
            width: 20%;
            vertical-align: top;
            display: inline-block;
            text-align: left;
        }
        .ss015_bestsellingWrap.products-grid .item img{
            max-width: 100%;
            height: 127px;
            
        }
        
        .ss015_bestsellingWrap .ss15-bstitle{
            margin-top: 10px;
            margin-left: 10px;
            text-align: left;
        }
        
        .ss015_bestsellingWrap.products-grid .item .product-name {
            min-height: 40px;
        }
    }
}
