@import './variables';

.#{$id} {

    &__wrap {
        margin-bottom: 20px;
    }

    &__was {
        font-size: 12px;
        &__price {
            font-size: 16px;
        }
    }

    &__now {
        font-size: 16px;
        &__price {
            font-size: 22px;
            font-weight: 700;
        }
    }

    &__product {
        height: 510px;
        display: grid;
        grid-template-rows: 25% 25% 35% 15%;
        color: #ffffff;
        padding: 15px;
        background-size: cover;
        background-repeat: no-repeat;

        &__head {
            text-transform: uppercase;
            color: #ffffff;
            font-size: 28px;
            text-align: center;
            margin-top: 10px;
        }

        &__text {
           font-size: 16px;
           text-align: center; 
        }

        &__content {
            display: grid;
            grid-template-columns: 50% 50%;
            &__text {

                &__title {
                    font-weight: 700;
                    text-transform: uppercase;
                    font-size: 14px;
                }
            }

            &__image {
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                border-radius: 6px;
                width: 144px;
                height: 144px;
                @media all and (max-width: 320px) {
                    height: 115px;
                    width: 115px;
                    margin-left: 5px;
                }
            }
        }

        &__cta-wrap {
            display: grid;
            &__cta {
                align-self: center;
                justify-self: center;
                background-color: #000000;
                width: 180px;
                height: 56px;
                text-align: center;
                line-height: 56px;
                font-size: .875rem;
                font-weight: 600;
            }
        }
    }
}
