.IT034 {
    .IT034_easyPeasyWrapper {
        padding-top: 10px;
        border-top: .0625rem solid #414042;
        text-align: center;
        padding-bottom: 10px;
        .IT034_contentWrapper{
            display: none;
            position: relative;

            .it034-loader {
                display: none;
                position: absolute;
                height: 100%;
                width: 100%;
                background-color: rgba(255, 255, 255, 0.95);
                z-index: 9;
                background-image: url(http://www.sitegainer.com/fu/up/s8bxecrakea8in1.gif);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: auto;
                &.it034-active{
                    display: block;
                }
            }


        }
        .IT034_header {
            text-transform: capitalize;
            text-align: center;
            background: #efefef;
            padding: 10px 10px;
            font-size: 14px;
            margin-bottom: 10px;
            margin-top: 10px;
            .IT034_headerColored {
                color: #d13c95;
                font-weight: 700;
                padding-left: 5px;
                position: relative;
                .IT034_arrow_down {
                    position: absolute;
                    width: 0;
                    right: -20px;
                    height: 0;
                    border-left: 7px solid transparent;
                    border-right: 7px solid transparent;
                    border-bottom: 7px solid #000;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    -moz-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                    transform: translateY(-50%);
                    clear: both;
                }
                .IT034_arrow_up_active {
                    border-top: 7px solid #000;
                    border-bottom: 0 !important;
                }
            }
        }
        .IT034_swipe_Wrapper {
            margin-bottom: 10px;
            .slick-arrow {
                display: none;
            }
            .IT034_swipeLeftAbsoluteWrapper {
                position: absolute;
                left: 0;
                right: 0;
                width: 100%;
                height: 130px;
                .IT034_swipeLeftContainer {
                    position: relative;
                    margin: 0 auto 0 auto;
                    width: 130px;
                    height: 130px;
                    border-radius: 50%;
                    background: #eee;
                    z-index: 1;
                    opacity: 1;
                    .IT034_swipeLeftMsgUnderIcon {
                        position: absolute;
                        font-size: 11px;
                        font-weight: 700;
                        left: 50%;
                        -webkit-transform: translateX(-50%);
                        -moz-transform: translateX(-50%);
                        -ms-transform: translateX(-50%);
                        -o-transform: translateX(-50%);
                        transform: translateX(-50%);
                        bottom: 20px;
                    }
                    .IT034_swipeLeftIconSVG {
                        width: 130px;
                        height: 100px;
                    }
                }
            }
            .IT034_img_slideWrap {
                position: relative;
                .IT034_slideStep {
                    position: absolute;
                    left: calc(50% - 120px);
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    -moz-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                    transform: translateY(-50%);
                    color: #d13c95;
                    font-weight: 700;
                    font-size: 65px;
                }
                .IT034_img_slide {
                    width: 100px;
                    margin: auto;
                }
                .IT034_img_slide2 {
                    width: 120px;
                }
                .IT034_img_slide3 {
                    width: 130px;
                }
            }
            .IT034_slideDesc {
                color: #d13c95;
                font-size: 15px;
                font-weight: 700;
                margin-top: 25px;
                text-align: center;
                padding: 0 30px;
            }
        }
        .IT034_redWrapper {
            background: #ce7a84;
            color: white;
            font-size: 12px;
            position: relative;
            text-align: left;
            padding: 10px 15px;
            margin-bottom: 5px;
            .IT034_whiteItem {
              padding-left: 40px;
              .IT034_whiteItem_right {
                position: relative;
                display: inline-block;
                width: 100%;
                margin: 0 0 10px 0;
                &:before {
                  content: "";
                  position: absolute;
                  width: 50px;
                  height: 100%;
                  left: -50px;
                  background: url(http://www.sitegainer.com/fu/up/os7htgavoagscj3.png) no-repeat;
                  background-position: center;
                  background-size: auto 19px;
                  top: -2px;
                }
              }
            }
          }
          .IT034_handling-fee {
            font-size: 11PX;
            padding: 10px;
          }
    }
}