@import './variables';

.#{$id} {
  // --- Hide broken lightbox
  #bc-invite-box {
    display: none !important;
  }

  // --- Control Dropdown List
  .#{$id}-categoriesList {
    visibility: hidden;

    &.show {
      visibility: visible !important;
    }

   ##{$id}-alphabetical-inside {
    background-color: #004288 !important;
      a {
        font-size: 1.35em;
        color: #FFF;
        // &:after {
        //   content: none !important;
        // }
        &:after {
          // content: none !important;
          content: "";
          width: 14px !important;
          height: 22px !important;
          background-color: white;
          top: 0;
          right: 5px;
          bottom: 0;
          margin: auto 0;
          background: url("https://www.hss.com/_ui/desktop/theme-hire/images/sprite-bg.png") repeat scroll 0px -455px !important;
          background-position: 0px -153px!important;
          transform: rotate(270deg);
        }
      }
   }
  }

  ##{$id}-category, ##{$id}-alphabetical {
    font-weight: 800;
    a {
      font-size: 1.35em;

      // &:after {
      //   // content: none !important;
      //   content: "";
      //   top: 0;
      //   right: 5px;
      //   bottom: 0;
      //   margin: auto 0;
      //   background: url("https://www.hss.com/_ui/desktop/theme-hire/images/sprite-bg.png") repeat scroll -32px -452px;
      // }
    }

    &.open {
      background-color: #004288;
      // background-color: #00528b;

      a {
        color: #FFF !important;

        &:after {
          // content: none !important;
          content: "";
          width: 14px !important;
          height: 22px !important;
          background-color: white;
          top: 0;
          right: 5px;
          bottom: 0;
          margin: auto 0;
          background: url("https://www.hss.com/_ui/desktop/theme-hire/images/sprite-bg.png") repeat scroll 0px -455px !important;
          background-position: 0px -153px!important;
        }
      }
    }
    
  }

  ##{$id}-alphabetical {
    display: block;
    border-bottom: 1px solid #dfdfdf;

    &.hide {
      display: none !important;
    }

    // &.open {
    //   background-color: #004288;

    //   a {
    //     color: #FFF !important;

    //     // Hide arrow when selection is active/open
    //     &:after {
    //       content: none !important;
    //     }
    //   }
    // }
  }

  // --- Alphabetical List
  .#{$id}-alphabeticalList__wrapper {
    display: block;

    &.hide {
      display: none !important;
    }

    li.firstlevel {
      border-top: 1px solid #dfdfdf;

      &:nth-of-type(1) {
        border: none !important;
      }

      label {
        font-size: 1.5em;
        padding: 20px 10px 0px 10px;
      }
      a {
        border: none !important;
        &:after {
          content: none !important;
        }
      }
    }
  }


  // -- Alphabet 
  .#{$id}-searchByLetter__wrapper {
    padding-top: 10px;
    background-color: #FFF;

    &.sticky {
      // background-color: #F5F5F5 !important;
      background-color: #EEE !important;
      position: fixed;
      top: 0px;
      z-index: 9999;
      box-shadow: 0px 1px 19px 0px rgba(0,0,0,0.75);
    }

    ul.#{$id}-searchByLetter {
      li {
        display: inline-block;
        padding: 7px;

        p {
          font-size: 1.5em;
          font-weight: 700;
        }

        // &:nth-of-type(15) {
        //   margin-left: 10px;
        // }
      }
    }
    border-bottom: 1px solid #dfdfdf;
  }

  // --- Country Selection
  .county_selection_mobile {
    visibility: visible !important;
    display: block !important;
    z-index: 99999999;
  }


  // @media screen and (max-width: 320) {
  //   ul.#{$id}-searchByLetter {
  //     li {
  //       &:nth-of-type(13) {
  //         margin-left: 10px;
  //       }
  //     }
  //   }
  // }

  // @media screen and (max-width: 375) {
  //   ul.#{$id}-searchByLetter {
  //     li {
  //       &:nth-of-type(15) {
  //         margin-left: 10px;
  //       }
  //     }
  //   }
  // }
}
