.RC048 {
  #wrapper.main-wrapper {
    &.blur {
      filter: blur(2.5px);
    }
  }
  .RC048-popUp__wrapper {
    display: block;
    position: relative;
    
    &.hide {
      display: none;
    }

    &:before {
      display: block;
      content: '';
      position: fixed;
      z-index: 999;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: #000;
      opacity: 0.6;
    }

    .RC048-popUp__container {
      display: block;
      width: 700px;
      height: 550px;
      background-color: #FFF;
      position: fixed;
      top: 10%;
      left: 50%;
      margin-left: -350px;
      z-index: 1000;
      box-shadow: 1px 1px 10px #888888;

      .RC048-popUp__topContent {
        display: block;
        width: 100%;
        height: 22%;

        .RC048-popUp__bookingDetailsContent {
          display: block;
          width: 90%;
          min-height: 110px;
          margin: auto;
          margin-top: 45px;
          background: #D3D3D3;
          position: relative;

          .RC048-popUp__bookingContent {
            display: block;
            width: 90%;
            margin: auto;
            position: absolute;
            top: 50%;
            left: 2vw;
            transform: translateY(-50%);

            .RC048-popUp__bookingAction {
              width: 90%;
              padding-left: 25px;
              padding-bottom: 4px;
              span.RC048-bookingAction {
                font-weight: bold;
                position: relative;
  
                &:before {
                  display: inline-block;
                  content: '';
                  width: 22px;
                  height: 22px;
                  background-image: url('//useruploads.visualwebsiteoptimizer.com/useruploads/286844/images/f97aceca9060e205dddecdd55e9ef1c2_success_%281%29.png');
                  background-size: 100%;
                  background-repeat: no-repeat;
                  position: absolute;
                  top: -2px;
                  left: -28px;
                }
              }
              span.RC048-popUp__bookingCourseTitle {
                padding-left: 5px;
              }
            }
            .RC048-popUp__bookingCtaBtn {
              display: block;
              width: 100%;
              position: relative;

              .RC048-bookingCta {
                width: 200px;
                position: absolute;
                right: 0;
                text-align: center;
                padding: 10px;
                background: #cd121f;
                color: #FFF;

                &:hover {
                  cursor: pointer;
                  background: #9e0e18;
                }
              }
            }
            .RC048-popUp__bookingDate {
              width: 50%;
              padding-top: 15px;
              font-size: 0.9em;
              position: relative;
              left: 25px;
              line-height: 15px;
            }
          }
        }
        #RC048-popUp__close > span  {
          display: block;
          width: 20px;
          height: 20px;
          background-image: url('//useruploads.visualwebsiteoptimizer.com/useruploads/286844/images/771ffc36010582e4052883e3f458358a_close-button.png');
          background-size: 100%;
          background-repeat: no-repeat;
          position: absolute;
          top: 15px;
          right: 15px;

          &:hover {
            cursor: pointer;
          }
        }
      }
      .RC048-popUp__bottomContent {
        display: block;
        width: 100%;
        height: 70%;
        text-align: center;
        position: relative;
        margin-top: 10px;

        .RC048-popUp__venueContent {
          display: inline-table;
          width: 43%;
          text-align: left;
          min-height: 315px;
          margin-right: 1.6%;
          background: #F1F1F1;
          position: relative;
          // box-shadow: 2px 6px 20px -2px rgba(0,0,0,0.75);

          .RC048-popUp__content {
            width: 100%;
            text-align: center;
            position: relative;
            top: 30px;

            .RC048-popUp__venueTitle {
              font-weight: bold;
              margin-bottom: 50px;
            }
            .RC048-popUp__venueAddress {
              text-align: left;
              margin: auto;
              width: 50%;
              line-height: 24px;
              border-left: 1px solid #D0D0D0;
              padding-left: 8px;
            }
            .RC048-popUp__venueUrl {
              margin-top: 80px;
              a {
                color: #D8313D;
                &:hover {
                  color: #98192a !important;
                }
              }
            }
          }
        }
        .RC048-popUp__moreInfoContent {
          display: inline-table;
          width: 43%;
          min-height: 315px;
          margin-left: 1.6%;
          background: #F1F1F1;
          // box-shadow: 2px 6px 20px -2px rgba(0,0,0,0.75);

          .RC048-popUp__infoContent {
            width: 100%;
            position: relative;
            top: 30px;

            .RC048-popUp__moreInfoTitle {
              font-weight: bold;
              margin-bottom: 20px;
            }

            ul {
              width: 80%;
              margin: auto;
              text-align: justify;

              li {
                line-height: 17px;
              }
            }
            i {
              font-style: italic;
            }
            .RC048-moreInfo__link {
              margin-top: 20px;
              a {
                color: #D8313D;
                &:hover {
                  color: #98192a !important;
                }
              }
            }
          }
        }
      }
    }
  }
}