@import "scss/_sticky-nav.scss";

.PL010 {
  /* PL006 */
  .PL006-loader, .PL010-loader {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.6;
    z-index: 99999; }
  .PL006-loader:after, .PL010-loader:after {
    display: block;
    content: '';
    position: fixed;
    width: 70px;
    height: 70px;
    background-image: url("//useruploads.visualwebsiteoptimizer.com/useruploads/44287/images/1eeddcf1fde181c9b26750c237a68eb0_loader.gif");
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;
    margin-left: -35px;
    z-index: 999999; }
  .PL006-loader .PL006-loadingText {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999999;
    color: #FFF;
    font-size: 1.2em;
    font-weight: 600;
    margin-top: 80px;
    margin-left: -70px;   
  }
  .PL010-loader .PL010-loadingText {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999999;
    color: #FFF;
    font-size: 1.2em;
    font-weight: 600;
    margin-top: 80px;
    margin-left: -2em; 
  }
  .PL006-loader:hidden {
    display: none; }
  .PL010-loader:hidden {
    display: none; }

  /* PL010 */
  // Filter
  #ctl00_ctl00_ContentPlaceHolderMain_ctl01_pnlFilterContainer .filter-items {
    height: calc(100vh - 190px);
    overflow-y: scroll;

    ::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
    }
    
    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0,0,0,.5);
        -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    }
  }

  // Quick Links
  .PL010-quickLinksWrapper {
    width: 100%;
    background-color: #CFE8EF;
    margin-bottom: 10px;
  
    .PL010-quickLinksContainer {
      width: 100%;
      margin: auto;
      text-align: center;
      
      .PL010-links {
        display: inline-block;
        font-size: 1.1em;
      }
      li.PL010-link__item {
        list-style: none;
        display: inline-block;
        border: 2px solid #1F85B5;
        background-color: #FFF;
        margin: 20px;
        padding: 16px;
        border-radius: 10px;
        font-weight: 600;
        vertical-align: middle; 

        .PL010-link {
          display: inline-block;
          vertical-align: middle;
          color: #000;

          span.PL010-resultsCount:after {
            display: inline-block;
            content: '';
            width: 15px;
            height: 15px;
            background-image: url('//useruploads.visualwebsiteoptimizer.com/useruploads/44287/images/e48a4aea6f63353307e3dc5e95f65a15_refresh.gif');
            -moz-background-size: 100%;
            -o-background-size: 100%;
            background-size: 100%;
            background-repeat: no-repeat;
            position: relative;
            top: 2px;
          }
        }
        span.PL010-rightArrow {
          display: inline-block;
          content: '';
          background-image: url('//useruploads.visualwebsiteoptimizer.com/useruploads/44287/images/7ad8378930ff435a8cf18cc6821a62ae_right-arrow_(1).png');
          width: 20px;
          height: 20px;
          background-size: 100%;
          background-repeat: no-repeat;
          margin-left: 10px;
          vertical-align: middle;
        }
      }
    }
  }
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  
  ::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba(0,0,0,.5);
      -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  }

  // Variation 2 Filter
  .printers.printer_finder {
    display: none;
    clear: both;

    &.show {
      display: block;
    }
  }
  .PL010-interstilWrapper {
    width: 100%;
    display: block;
    height: 160px;
    background-color: #FFF;
    clear: both;
    margin-bottom: 10px;

    .PL010-messageContainer {
      text-align: center;
      padding: 10px 10px;

      div {
        font-size: 14px;
        padding-bottom: 10px;
        font-weight: 500;
      }

      div.message-header {
        padding: 20px 0px 20px 0px;
        p {
          font-size: 16px;
          font-weight: 800;
        }
      }
      div.call-us {
        b {
          font-size: 24px;
          color: #1F85B5;
        }
      }
      div.message-bottom {
        padding: 20px 0px 30px 0px;
        b {
          font-size: 16px;
          font-weight: 700;
        }
      }
    }
  }

  .PL010-messageWrapper {
    height: 200px;
    margin-bottom: 50px;
  }

  // Product Margin
  .gallery_view > article:nth-child(3n) {
    margin-right: 1.5%;
  }
  .gallery_view > article:nth-of-type(3n) {
    margin-right: 0px !important;
  }

  .left.filter > .box {
    display: none !important;
  }
}
