@import './variables';

.#{$id} {
  .fancybox-wrap.fancybox-desktop.fancybox-type-inline.fancybox-opened {
    width: 630px !important;
    .fancybox-inner {
      width: 630px !important;
      overflow-x: hidden !important;

      .fancyStoreConfirm {
        width: 630px !important;
      }
    }
  }
  table.nStoreTable.PJ062-postcode__wrapper {
    // tbody {
    //   tr:first-of-type {
    //     td {
    //       // position: absolute;
    //       left: -2vw;
    //       background-color: transparent !important;
    //     }
    //   }
    // }
    .PJ062-postcode__container {
      left: -1vw;
      background-color: transparent !important;

      .PJ062-postcode__label {
        text-transform: uppercase;
        font-family: 'Roboto Condensed',sans-serif!important;
        font: 400 17px 'Roboto Condensed',sans-serif;
        font-weight: 600;
      }
      input.txtField {
        width: 100%;
        margin-top: 5px !important;
      }
    }

    // V2 - Input Field
    .PJ062-input__wrapper {
      margin: 0 0px 0 0;
      transform: skew(-7deg);
      overflow: hidden;
      position: relative;
      border-left: 2px solid #FFF;
      border: none !important;
      box-shadow: none;
      width: 95%;
      background-color: #FFF;

      input.txtField.PJ062-input__v2 {
        position: relative;
        border: none !important;
        box-shadow: none;
        transform: skew(7deg);
      }
    }

    // Hide "Get Started" CTA Button
    a#ctl00_cphBody_lbGetStarted {
      &.hide {
        display: none;
      }
    }

    // NEW CTA Buttons - V1
    .PJ062-orderOptions__wrapper-v1 {
      width: 80% !important;
      height: 35px;

      &.PJ062-deliverCTA {
        margin-bottom: 10px;
      }
      &.PJ062-collectCTA {
      }

      a.PJ062-orderOptions__option {
        height: 35px !important;
        width: 80% !important;
        &:hover {
          cursor: pointer;
          transform: scale(1.1);
        }
        &#PJ062-order__delivery {
          background-color: #48A686;
        }
        &#PJ062-order__collect {
          background-color: #EF8200;
        }

        span.centerB {
          font-size: 18px !important;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    // NEW CTA Buttons - V2
    .PJ062-postcodeCta__container.PJ062-postcodeCta__v2 {
      left: -2vw;
      background-color: transparent;
    }
    .PJ062-orderOptions__wrapper-v2 {
      width: 100px;
      height: 85px;
      background-color: #FFF;
      display: inline-block;
      vertical-align: middle;
      position: relative;

      margin: 0 -1px 0 0;
      transform: skew(-7deg);
      overflow: hidden;
      position: relative;
      // border-left: 2px solid #FFF;

      &.PJ062-collectCTA {
        left: 5px;
      }

      a.PJ062-orderOptions__option {
        height: 100px !important;
        width: 100% !important;
        background-size: 100%;

        span.PJ062-cta__img {
          width: 100%;
          height: 60px;
          position: absolute;
          background-size: 55%;
          background-repeat: no-repeat;
          background-position: 40% 80%;
          top: 0;
          left: 0;
          transform: skew(7deg) !important;

          &.PJ062-img__delivery {
            background-image: url('https://dp8v87cz8a7qa.cloudfront.net/43831/5cf66389674a51559651209.png');
          }
          &.PJ062-img__collect {
            background-image: url('https://dp8v87cz8a7qa.cloudfront.net/43831/5cf662a7dc4511559650983.png');
          }
        }
        span.PJ062-text {
          width: 100%;
          transform: skew(7deg) !important;
          // font-size: 12px;
          position: absolute;
          bottom: 5px;
          left: 0px;
          text-transform: uppercase;
          color: #007A53;
          font-family: 'Roboto Condensed',sans-serif!important;
          font: 400 14px 'Roboto Condensed',sans-serif;
        }
      }

      &.active, &:hover {
        background-color: #007A53;

        a.PJ062-orderOptions__option {
          span.PJ062-cta__img {
            &.PJ062-img__delivery {
              background-image: url('https://dp8v87cz8a7qa.cloudfront.net/43831/5cf663b3146a31559651251.png');
            }
            &.PJ062-img__collect {
              background-image: url('https://dp8v87cz8a7qa.cloudfront.net/43831/5cf662ddd32111559651037.png');
            }
          }
        }

        span.PJ062-text {
          color: #FFF !important;
        }
      }
    }
  }

  // ------ Lightbox for both Variations -----
  .fancybox-outer {
    .fancybox-inner {
      width: 370px !important;
    }
    .fancyStoreConfirm#fancyStoreConfirm {
      background-color: #FFF;
      h2.title {
        text-align: center !important;
        // background: #007A53 !important;
      }
      // Hide Control Lightbox content
      .storeDetails {
        float: none !important;
        width: 100% !important;
        &.hide {
          display: none;
        }
        h1 {
          &.hide {
            display: none;
          }
        }
        .address {
          
        }
        .openingHours {
          width: 90%;
          margin: auto;
          text-align: center;
          padding-top: 25px;

          .openingHoursLeft {
            display: inline-block;
            width: 35%;
          }
        }
        // Hide Control CTA Buttons
        .buttons {
          // display: none;
        }
        // Minimum Delivery Amount
        p {

        }
      } 
      // Store Map
      .location {
        &.hide {
          display: none;
        }
      }
    }
  }
  // Remove extra padding
  .fancyStoreConfirmCont {
    padding: 0px !important;
  }
  // Hide Close X icon
  a.fancybox-item.fancybox-close {
    display: none !important;
  }
  // ------ New Lightbox Content ------
  .PJ062-lightbox__wrapper {
    // width: 700px;
    width: 630px;
    // min-height: 440px;
    min-height: 390px;
    overflow-x: hidden;
    .PJ062-lighbox__container {
      height: 100%;
      ul.PJ062-lightbox__content {
        list-style: none;
        margin-left: 0px !important;
        // padding: 20px;
        margin-bottom: 0px !important;
        // width: 700px;
        width: 630px;
        li.PJ062-lightbox__item {
          height: 56px;
          // width: 700px;
          width: 630px;
          font: 16px 'Roboto Condensed',sans-serif;
          // ---- List item open
          &.open {
            height: 200px !important;
          }
          &.main {
            margin-top: 0px !important;
            height: 200px;
            text-align: center;
            padding-top: 30px;

            div {
              margin: 10px;
            }
            .PJ062-orderMethod {
              color: #007A53;
              font-size: 22px;
              font-weight: 600;
              margin-bottom: 20px;
            }
            .PJ062-storeAddress {
              font-size: 24px;
              font-weight: 600;
              margin-top: -10px;
            }
            .PJ062-minimumAmount {
              font-size: 14px;
              font-weight: 500;

              &.hide {
                display: none;
              }
            }
            .PJ062-orderButton {
              width: 150px;
              padding: 10px;
              background-color: #007A53;
              color: #FFF;
              margin: auto;
              text-transform: uppercase;

              &:hover {
                cursor: pointer;
                transform: scale(1.05);
              }
            }
            .PJ062-preOrder {
              color: #da291c;
              font-size: 18px;
              font-weight: 700;

              &.hide {
                display: none;
              }
            }
          }
          // --- Store Address
          &.store_address {
            .PJ062-itemContent__hidden {
              padding: 5%;
              width: 80%;
              margin: auto;
              div {
                font: 16px 'Roboto Condensed',sans-serif;
                width: 90%;
                margin: auto;
                text-align: left;
              }
              .PJ062-storeAddress {
                // font: 16px 'Roboto Condensed',sans-serif;
                font-size: 20px;
                font-weight: 600;
                text-align: left;
                margin-bottom: 10px;
              }
            }
          }
          // --- Opening Hours
          &.opening_hours {
            .PJ062-itemContent__hidden {
              .openingHours {
                width: 90%;
                margin: auto;
                text-align: center;
                padding-top: 25px;
      
                .openingHoursLeft {
                  display: inline-block;
                  width: 35%;

                  &:nth-of-type(2) {
                    position: relative;
                    top: -25px;
                  } 
                }
              }
            }
            
          }
          // --- Store Map
          &.store_map {
            .PJ062-itemContent__hidden {
              div {
                margin-top: 10px;
                width: 100%;
                height: 150px;
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: 50%;
              }
            }
          }
          // --- Store Details
          &.contact_details {
            .PJ062-itemContent__hidden {
              padding: 5%;
              width: 80%;
              margin: auto;
              div {
                font: 16px 'Roboto Condensed',sans-serif;
                width: 90%;
                padding-top: 25px;
                margin: auto;
                text-align: center;
                font-style: italic;
              }
            }
          }
          div.PJ062-itemContent {
            width: 95%;
            margin: auto;
            position: relative;
            top: 50%;
            transform: translateY(-50%);

            &.open {
              top: 14% !important;
            }
            
            &:hover {
              cursor: pointer;
            }
            span {
              display: inline-block;

              &.PJ062-icon {
                width: 10%;
                div {
                  width: 40px;
                  height: 40px;
                  transform: translateY(5%);
                  margin: auto;
                  // background-color: #007A53;
                  background-size: 70%;
                  background-repeat: no-repeat;
                  background-position: 50% 50%;
                  &#PJ062-store {
                    background-size: 70% !important;
                    background-image: url('https://dp8v87cz8a7qa.cloudfront.net/43831/5cf7e62a54dd91559750186.png');
                  }
                  &#PJ062-map {
                    background-image: url('https://dp8v87cz8a7qa.cloudfront.net/43831/5cf7e66f2e20e1559750255.png');
                  }
                  &#PJ062-hours {
                    background-size: 70% !important;
                    background-image: url('https://dp8v87cz8a7qa.cloudfront.net/43831/5cf7e6b7b92b81559750327.png');
                  }
                  &#PJ062-contact {
                    // background-size: 70% !important;
                    background-image: url('https://dp8v87cz8a7qa.cloudfront.net/43831/5cf7e6e44e7051559750372.png');
                  }
                }
              }
              &.PJ062-label {
                width: 40%;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                
                div {
                  padding-left: 15px;
                  color: #007A53;
                  font-size: 18px;
                  font-weight: 700;
                }
              }
              &.PJ062-subLabel {
                width: 35%;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                
                div {
                  padding-left: 20px;
                  font-size: 16px;
                  font-weight: 500;
                }
              }
              &.PJ062-icon__toggle {
                width: 10%;
                div {
                  width: 40px;
                  height: 40px;
                  margin: auto;
                  background-size: 70%;
                  background-repeat: no-repeat;
                  background-position: 50% 50%;
                  background-image: url('https://dp8v87cz8a7qa.cloudfront.net/43831/5cf663f99e37e1559651321.png');

                  &.open {
                    background-image: url('https://dp8v87cz8a7qa.cloudfront.net/43831/5cf6640dacee41559651341.png');
                  }
                }
              }
            }
          }
          // Hidden content
          div.PJ062-itemContent__hidden {
            width: 100%;
            display: none;

            &.open {
              display: block !important;
            }
          }
          // Background Colours
          &:nth-of-type(odd){
            background-color: #FFF;
          }
          &:nth-of-type(even){
            background-color: #F9F9F9;
          }
        }
      }
    }
  }

  // ---- HEADER CTA BUTTONS
  input#ctl00__objHeader_txtPostcode {
    display: inline-block;
  }
  .PJ062-orderOptionsHeader__wrapper {
    display: inline-block;
    .PJ062-postcodeCtaHeader__container, .PJ062-noPostcodeCtaHeader__container {

      .PJ062-orderOptions__wrapper {
        width: 40px;
        height: 40px;
        background-color: #007A53;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        
        a.PJ062-orderOptions__option {
          height: 100px !important;
          width: 100% !important;
          background-size: 100%;

          span.PJ062-cta__img {
            width: 100%;
            height: 35px;
            position: absolute;
            background-size: 70%;
            background-repeat: no-repeat;
            background-position: 45% 70%;
            top: 0;
            left: 0;

            &.PJ062-img__delivery {
              background-image: url('https://dp8v87cz8a7qa.cloudfront.net/43831/5cf663b3146a31559651251.png');
            }
            &.PJ062-img__collect {
              background-image: url('https://dp8v87cz8a7qa.cloudfront.net/43831/5cf662ddd32111559651037.png');
            }
          }
          span.PJ062-tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: #555;
            color: #FFF;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            position: absolute; 
            z-index: 0;
            font-size: .7em !important;
            top: 123%;
            left: 50%;
            margin-left: -60px;
            opacity: 1;
            transition: opacity 0.9s;
            &:after {
              content: "";
              position: absolute;
              bottom: 100%;
              left: 50%;
              margin-left: -5px;
              border-width: 5px;
              border-style: solid;
              border-color: transparent transparent #555 transparent;
            }
          }
          
          &:hover span.PJ062-tooltiptext {
            visibility: visible !important;
            opacity: .8;
          }
        }
      }
    }
  }
  // Hide Control CTA buttons
  a#ctl00__objHeader_lbEnterPostcode, a#ctl00__objHeader_lbNoPostcode {
    display: none;
  }
  // Error Messages 
  #ctl00__objHeader_pnlTownSearchError, #ctl00__objHeader_pnlPostCodeError {
    max-height: 40px !important;
    width: 90%;
    margin-bottom: 20px !important;
    margin: auto;
  }
  
  @media screen and (max-width: 1090px) {
    .PJ062-orderOptions__wrapper-v2 {
      width: 83px !important;
      .PJ062-text {
        // font: 400 12px 'Roboto Condensed',sans-serif;
        font-size: 12px !important;
      }
    }
  }
}
