@import './variables';

.#{$id} {
  // Russian Social Sharing Links
  svg-icon[icon='social-ok'],
  svg-icon[icon='social-vk'] {
    background-color: #9E9E9E;
  }

  .ProductDetail div.AddToCart .wishlist-button {
    height: 2.5rem; // Changes to site mean we have to reduce this
  }

  &.Country_RU {
    .ProductDetail div.AddToCart .wishlist-button {
      height: 5.5rem; // Changes to site mean we have to reduce this
    }
  }
}
