@import './slick';

.BI028 {
  // CTA Button
  action.button.p-l-10.p-r-10.w-12-m.w-12-s {
    width: 100%;
  }

  // Upsell Products
  upsell-products-item.m-t-2.flex-column.c-4-set {
    min-width: 45%;
    display: inline-block !important;

    .bg-col-11.col-w.b-radius-max.fs-2.center.pos-absolute.z-1.right-1.bottom-0.price-upsell.flex.flex-justify-center {
      display: none !important;
    }

    .BI028-upsellProduct__price {
      color: #808385;
      font-size: 0.85em;
      margin-top: 1.2vh;
      padding-left: 3vw;
    }
    a.m-t-1.fs-4.lh-1.link-2 {
      display: block;
      max-width: 180px !important;
      padding-left: 3vw;
    }
    checkbox-array.checkbox.checkbox-square.va-m.p-l-0.m-t-1.fs-6 {
      padding-left: 3vw !important;
    }
  }
}