[submodule "clients/client-bravissimo"]
	path = clients/client-bravissimo
	url = git@bitbucket.org:userconversion/client-bravissimo.git
	branch = master
[submodule "client-bravissimo"]
	path = client-bravissimo
	url = git@bitbucket.org:userconversion/client-bravissimo.git
	branch = master
