/*VARIATION 1*/
/*
.ME123 #wrapper .site-main{
    background: url('https://ab-test-sandbox.userconversion.com/experiments/ME123-snowflakes.png'); 
    background-size: auto;
    background-repeat: repeat-y;
}

.ME123 #wrapper .site-main .merchoid-product-reasons{
    background: url(https://ab-test-sandbox.userconversion.com/experiments/ME123-shopbackground.png);
    background-position: center center;
    background-size: auto;
    background-repeat: no-repeat;
}

.ME123 .uc-accordion,
.ME123 .product-details.tabs-style,
.ME123 .product > .row.max-width > .large-12.columns > .row > .large-12.columns,
.ME123 .merchoid-related-product{
    background: white;
}

@media(min-width:720px){
   
    .ME123 #wrapper .site-main{
         background-size: contain;
    }
    .ME123 #wrapper .site-main .merchoid-product-reasons{
        background-size: auto;
    }
    .ME123 #wrapper .site-main .merchoid-product-reasons .small-3 {
        background: white;
        border-radius: 190px;
        height: 233px;
        width: 233px;
        margin: 10px;
        vertical-align: top;
        padding: 23px;
        float: none;
        display: inline-block;
    }
    .ME123 #wrapper .site-main .merchoid-product-reasons{
        text-align: center;
    }
    
}


@media(min-width:950px){
    .ME123 #wrapper .site-main .merchoid-product-reasons{
        background-size: cover;
    }
    .ME123 #wrapper .site-main .merchoid-product-reasons .small-3 {
        border-radius: 124px;
        height: 230px;
        width: 230px;
        margin: 5px;
        padding: 20px;
    }

    .ME123 #wrapper .site-main{
        background-size: contain;
        background-position: center center;
    }
    .ME123 .product > .row.max-width > .large-12.columns > .row > .large-12.columns{
        background: none;
    }
    .ME123 .single_add_to_cart_button {
        opacity: 0.9;
    }
}
*/
/*VARIATION 2*/
/*
.ME123v2 #wrapper .site-main{
    background: url('https://ab-test-sandbox.userconversion.com/experiments/ME123-snowflakes.png'); 
    background-size: auto;
    background-repeat: repeat-y;
}

.ME123v2 #wrapper .site-main .merchoid-product-reasons{
    background: url('https://ab-test-sandbox.userconversion.com/experiments/ME123-shopbackground.png');
    background-position: center center;
    background-size: auto;
    background-repeat: no-repeat;
}

.ME123v2 .uc-accordion,
.ME123v2 .product-details.tabs-style,
.ME123v2 .product > .row.max-width > .large-12.columns > .row > .large-12.columns,
.ME123v2 .merchoid-related-product{
    background: white;
}

.ME123v2 .me123-red_bar {
    background: red;
    color: white;
    padding: 10px;
    text-align: center;

}

.ME123v2 .me123-red_bar img,
.ME123v2 .me123-red_bar p{
    display: inline-block;
    margin-bottom: 0;
}
.ME123v2 .me123-red_bar img{
    width: 25px;
    vertical-align: middle;
}
.ME123v2 .me123-red_bar span{
    font-weight: bold;
}

@media(min-width:720px){
   
    .ME123v2 #wrapper .site-main{
        background-size: contain;
    }
    
    
    .ME123v2 #wrapper .site-main .merchoid-product-reasons{
        background-size: auto;
    }
    .ME123v2 #wrapper .site-main .merchoid-product-reasons .small-3 {
        background: white;
        border-radius: 190px;
        height: 233px;
        width: 233px;
        margin: 10px;
        vertical-align: top;
        padding: 23px;
        float: none;
        display: inline-block;
    }
    .ME123v2 #wrapper .site-main .merchoid-product-reasons{
        text-align: center;
    }
    .ME123v2 .me123-red_bar{
        padding: 9px;
        font-size: 16px;
        margin-right: 10px;
    }

    
}


@media(min-width:950px){
    .ME123v2 .product > .row.max-width > .large-12.columns > .row > .large-12.columns{
        background: none;
    }
    .ME123v2 #wrapper .site-main .merchoid-product-reasons{
        background-size: cover;
    }
    .ME123v2 #wrapper .site-main .merchoid-product-reasons .small-3 {
        border-radius: 124px;
        height: 230px;
        width: 230px;
        margin: 5px;
        padding: 20px;
    }

    .ME123v2 #wrapper .site-main{
        background-size: contain;
        background-position: center center;
    }

    .ME123v2 .me123-red_bar {
        padding: 4px;
        font-size: 13px;
    }
    .ME123v2 .me123-red_bar img {
        width: 20px;
    }
    .ME123v2 .single_add_to_cart_button {
        opacity: 0.9;
    }
}


/*VARIATION 3*/
.ME123v3 #wrapper .site-main {
  background: url("https://ab-test-sandbox.userconversion.com/experiments/ME123-snowflakes.png");
  background-size: auto;
  background-repeat: repeat-y; }

.ME123v3 #wrapper .site-main .merchoid-product-reasons {
  background: url("https://ab-test-sandbox.userconversion.com/experiments/ME123-shopbackground.png");
  background-position: center center;
  background-size: auto;
  background-repeat: no-repeat; }

.ME123v3 .uc-accordion,
.ME123v3 .product-details.tabs-style,
.ME123v3 .product > .row.max-width > .large-12.columns > .row > .large-12.columns,
.ME123v3 .merchoid-related-product {
  background: white; }

@media (min-width: 720px) {
  .ME123v3 #wrapper .site-main {
    background-size: contain; }
  .ME123v3 #wrapper .site-main .merchoid-product-reasons {
    background-size: auto; }
  .ME123v3 #wrapper .site-main .merchoid-product-reasons .small-3 {
    background: white;
    border-radius: 190px;
    height: 233px;
    width: 233px;
    margin: 10px;
    vertical-align: top;
    padding: 23px;
    float: none;
    display: inline-block; }
  .ME123v3 #wrapper .site-main .merchoid-product-reasons {
    text-align: center; } }

@media (min-width: 950px) {
  .ME123v3 .product > .row.max-width > .large-12.columns > .row > .large-12.columns {
    background: none; }
  .ME123v3 #wrapper .site-main .merchoid-product-reasons {
    background-size: cover; }
  .ME123v3 #wrapper .site-main .merchoid-product-reasons .small-3 {
    border-radius: 124px;
    height: 230px;
    width: 230px;
    margin: 5px;
    padding: 20px; }
  .ME123v3 #wrapper .site-main {
    background-size: contain;
    background-position: center center; }
  .ME123v3 .single_add_to_cart_button {
    opacity: 0.9; } }

/* Progress bar styling - plugin
----------------------------------*/
.ME123v3 .me123-christmasCountdownbar {
  position: relative; }

.ME123v3 .ui-progressbar {
  height: 2em;
  text-align: center;
  border: 2px solid #2cc2f5;
  border-radius: 17px;
  background: white; }

.ME123v3 .ui-progressbar .ui-progressbar-value {
  border: 2px solid #ffffff;
  border-radius: 17px;
  height: 100%;
  margin-top: 0px;
  background: #2cc2f5;
  margin-left: 0px;
  color: white;
  text-transform: uppercase;
  padding: 4px;
  font-weight: bold;
  letter-spacing: 1px; }

.ME123v3 .me123-christmasCountdownbar p {
  margin-bottom: 4px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 13px; }

.ME123v3 .me123-christmasCountdownbar span {
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  background: #2cc1f5;
  padding: 8px;
  color: white; }

.ME123v3 #shippingDateP {
  margin-top: 30px; }
