@import './variables';

.#{$id} {
  &.MP183-2 {
    .row.no-gutters.search-panel__container {
      margin: 0 2.5% 10px;
      width: auto;
      border-radius: 2px;

      input[type="text"] {
        background-color: #fff !important;
        height: 45px !important;
      }

      .search-panel__container-search-input-block {
        height: 45px;
      }

      button.search-panel__container__button, .search-panel__container-search-btn-block {
        height: 45px;
      }

      i.ico.ico-search {
        font-size: 20pt;
      }

    }
  }
}
