@media only screen and (max-width: 1024px) {
    .TG014 li:nth-of-type(1) .TG014_productCategory {
        border-top: 1px solid #e5e5e5;
    }

    .TG014 li .TG014_productCategory {
        width: 100%;
        display: inline-block;
        font-size: 20px;
        font-weight: 700;
        color: #41535d;
        padding: 15px 20px;
    }

    .TG014 li .TG014_productCategory:after {
        font-family: 'Iconfont_technogym';
        content: "\e900";
        display: inline-block;
        font-size: 20px;
        position: relative;
        top: 0 !important;
        font-weight: 700;
        float: right;
    }

    .TG014 li .TG014_productCategory.TG014_open {
        background: #41535d;
        color: white;
    }

    .TG014 li .TG014_productCategory.TG014_open:after {
        color: #43AAE0;
    }

    .TG014 li .children {
        padding: 5px 20px !important;
    }

    .TG014 li .TG014_children_PRODUCTS {
        padding: 0 !important;
    }

    .TG014 li .TG014_children_PRODUCTS .TG014_category {
        position: relative;
        width: calc(33.33%);
        display: inline-block;
        height: 100%;
        text-align: center;
        padding: 20px 8px;
        font-weight: 700;
        font-size: 12px;
        color: black;
        background: #f9f9f9;
    }

    .TG014 li .TG014_children_PRODUCTS .level-0.tab-content > li > a {
        display: none !important;
    }

    .TG014 li .TG014_children_PRODUCTS .level-0.tab-content > li {
        padding: 0 !important;
    }

    .TG014 li .TG014_children_PRODUCTS .TG014_opened_product_subcategory {
        background: #eeeded;
    }

    .TG014 li .TG014_children_PRODUCTS .TG014_opened_product_subcategory:before {
        content: "";
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        border-bottom: 11px solid white;
        position: absolute;
        bottom: 0;
        left: 50%;
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .TG014 li .TG014_children_PRODUCTS .TG014_workoutCategory {
        color: #41535D;
        font-weight: bold;
        font-size: 15px;
        margin: 10px 0;
        padding: 5px 0;
        display: inline-block;
    }

    .TG014 li .TG014_children_PRODUCTS .TG014_viewAll_wrapper {
        text-align: center;
        margin: 10px 0 20px 0;
    }

    .TG014 li .TG014_children_PRODUCTS .TG014_viewAll_wrapper .TG014_viewAll {
        display: inline-block;
        border-radius: 7px;
        border: 0;
        width: 150px;
        height: 45px;
        outline: none;
    }

    .TG014 li .TG014_solutionCategory {
        color: #41535D;
        font-weight: bold;
        font-size: 15px;
        margin: 10px 0;
        padding: 0;
        display: inline-block;
    }

    .TG014 .TG014_business_sectors {
        padding-left: 0;
        padding-right: 0;
        position: relative;
        border-bottom: 1px solid #e5e5e5;
    }

    .TG014 .TG014_business_sectors .TG014_business_outter_header {
        width: 100%;
        display: inline-block;
        font-size: 20px;
        font-weight: 700;
        color: #41535d;
        padding: 15px 20px;
    }

    .TG014 .TG014_business_sectors .TG014_business_outter_header:after {
        font-family: 'Iconfont_technogym';
        content: "\e900";
        display: inline-block;
        font-size: 20px;
        position: relative;
        top: 0 !important;
        font-weight: 700;
        float: right;
    }

    .TG014 .TG014_business_sectors .TG014_business_outter_header.TG014_open {
        background: #41535d;
        color: white;
    }

    .TG014 .TG014_business_sectors .TG014_business_outter_header.TG014_open:after {
        color: #43AAE0;
    }

    .TG014 .TG014_business_sectors .TG014_business_sectors_inside .TG014_insideSector .TG014_business_inner_header {
        width: 100%;
        display: inline-block;
        font-size: 16px;
        font-weight: 700;
        color: #41535d;
        padding: 15px 30px;
    }

    .TG014 .TG014_business_sectors .TG014_business_sectors_inside .TG014_insideSector .TG014_business_inner_header:after {
        font-family: 'Iconfont_technogym';
        content: "\e900";
        display: inline-block;
        font-size: 20px;
        position: relative;
        top: 0 !important;
        font-weight: 700;
        float: right;
    }

    .TG014 .TG014_business_sectors .TG014_business_sectors_inside .TG014_insideSector .TG014_business_inner_header.TG014_open {
        background: #eeeded;
        color: #43AAE0;
    }

    .TG014 .TG014_business_sectors .TG014_business_sectors_inside .TG014_insideSector .TG014_business_inner_header.TG014_open:after {
        color: #43AAE0;
    }

    .TG014 .TG014_business_sectors .TG014_business_sectors_inside .TG014_insideSector .TG014_subsector_children {
        background: #f9f9f9;
        padding-left: 50px;
    }

    .TG014 .TG014_business_sectors .TG014_business_sectors_inside .TG014_insideSector .TG014_subsector_children .TG014_subsector_linkChild {
        border: 0;
    }

    .TG014 .TG014_business_sectors .TG014_business_sectors_inside .TG014_insideSector .TG014_subsector_children .TG014_subsector_linkChild .TG014_subsector_child {
        color: #41535D !important;
        padding: 5px 0 5px 0;
        font-size: 15px;
        margin: 0 !important;
        border: 0;
    }

    .TG014 #bs-example-navbar-collapse-1 {
        padding: 0 !important;
    }

    .TG014 #mobilemenu-contacts-link {
        padding: 0 25px;
    }

    .TG014 .header-container > .container header[role="banner"] #ct-menu-top_menu li.menu-item.level-0.first {
        padding: 0;
    }

    .TG014 .header-container > .container header[role="banner"] #ct-menu-top_menu li.menu-item.level-0 > .children ul.level-0 li.menu-item.level-1 .node-background > a {
        display: none !important;
    }

    .TG014 .header-container > .container header[role="banner"] #ct-menu-top_menu li.menu-item.level-0:nth-of-type(3) > .children ul.level-0 li.menu-item.level-1 > a {
        display: none !important;
    }

    .TG014 .header-container > .container header[role="banner"] #ct-menu-top_menu li.menu-item.level-0 > .children ul.level-0 li.menu-item.level-1 > .children ul.level-1 {
        padding: 0 !important;
    }

    .TG014 #ct-menu-top_menu .inside > ul > li:nth-of-type(3) > .children {
        padding: 0 !important;
    }

    .TG014 #ct-menu-top_menu .inside > ul > li:nth-of-type(3) > .children .menu-item {
        padding: 0 !important;
    }

    .TG014 #navtop-menu {
        text-align: center;
    }

    .TG014 #form-mini-search {
        margin: 0 auto !important;
        width: 80% !important;
    }
}

@media only screen and (max-width: 1024px) {
    .header-container > .container #header .navbar-header #navbar-top #navtop-menu, .header-container > .container header[role="banner"] .navbar-header #navbar-top #navtop-menu {
        display: block !important;
    }

    .header-container > .container #header .navbar-header #navbar-top .tool-search, .header-container > .container header[role="banner"] .navbar-header #navbar-top .tool-search {
        display: block !important;
    }
}
