.RC050 {
  .main-content,
  .sidebar-last {
    display: none;
  }
  .RC050-main_content {
    padding: 20px;
    h2{
      font-weight: bold;
    }
    /* Top content */
    h1{
      color: #981a29;
      border: 0px;
      font-size: 22px;
      font-weight: bold;
    }
    .RC050-topContent{
      .RC050-opening_text{
        width: 53%;
        display: inline-block;
        vertical-align: middle;
        p{
          line-height: 25px;
        }
      }
      .RC050-stats{
        width: 45%;
        display: inline-block;
        vertical-align: top;
        padding: 15px 30px 15px;
        background: #e7e8e7;
      }
    }
    /*Course*/
    .RC050-courses {
      display: block;
      margin-top: 20px;
      margin-bottom: 20px;
      .RC050-course {
        border: 1px solid #ccc;
        display: inline-block;
        width: 48%;
        margin: 7px;
        vertical-align: top;
        box-shadow: 1px 2px 7px grey;
        @media(min-width:950px){
          margin: 9px;
        }
        .RC050-course_title{
          color: #98192a;
          font-weight: bold;
          text-align: left;
          padding: 15px;
          line-height: 21px;
          font-size: 14px;
          @media(min-width: 1024px){
            font-size: 17px;
          }
        }
        .RC050-course_image{
          height: 150px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
        }
        .RC050-courseDetails{
          padding: 10px;
          padding-bottom: 0px;
          span{
            position: relative;
            padding-left: 30px;
            display: block;
            margin-top: 10px;
            margin-bottom: 15px;
            &::before{
              content: '';
              display: block;
              height: 20px;
              position: absolute;
              left: 0;
              width: 20px;
              background-image: url('//useruploads.visualwebsiteoptimizer.com/useruploads/286844/images/bb3f1f564c4e50f3b81b1dade694da62_calendar_and_clock_image.png');
              background-size: contain;
              background-repeat: no-repeat;
              transform: translateY(-50%);
              top: 50%;
            }
            &:first-child{
              &::before{
                background-image: url('//useruploads.visualwebsiteoptimizer.com/useruploads/286844/images/bb3f1f564c4e50f3b81b1dade694da62_calendar_and_clock_image.png');
              }
            }
            &:nth-child(2){
              &::before{
                background-image: url('//useruploads.visualwebsiteoptimizer.com/useruploads/286844/images/c76e80b84866c63bd4d41f70e13c6bfb_groups_learners.png');
              }
            }
            &:nth-child(3){
              &::before{
                background-image: url('//useruploads.visualwebsiteoptimizer.com/useruploads/286844/images/0fbef8370499af6cda34d224e08bdcff_pound.png');
              }
            }
            &:last-child{
              margin-bottom: 5px;
            }
          }
        }
        .RC050-description{
          line-height: 25px;
          padding: 10px;
          margin-bottom: 0;
          height: 184px;
          padding-top: 20px;
        }
        a{
          display: block;
          width: 50%;
          margin: 0 auto;
          padding: 10px;
          text-align: center;
          background: #cd121f;
          color: white;
          margin-bottom: 20px;
          &:hover{
            text-decoration: none;
            background-color: #9e0e18;
          }
        }
      }
    }
    /* Review block */
    .RC050-review_block{
      text-align: center;
      width: 60%;
      margin: 0 auto;
      margin-bottom: 40px;
      padding-top: 20px;
      .RC050-quotes{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        border: 1px solid #fff;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        top: -13px;
        color: #98192a;
        background: url('//useruploads.visualwebsiteoptimizer.com/useruploads/286844/images/a1af8742330789ba9ea59a7a422ddb0e_quote.png') center no-repeat #fff;
        background-size: 27px;
        box-shadow: 1px 1px 4px 0px #969696;
      }
      span{
        font-style: italic;
        line-height: 23px;
        font-size: 17px;
        display: block;
        margin-bottom: 5px;
      }
      p{
        margin-bottom: 5px;
        font-weight: 700;
        font-size: 14px;
      }
    }
    /* Causes block */
    .RC050-causes_block{
      text-align: center;
      h2{
        text-align: left;
      }
      ul{
        text-align: left;
      }
      p{
        text-align: left;
        &.RC050-statistic{
          margin-bottom: 0px;
          font-weight: 600;
        }
        &.RC050-source{
          font-size: 10px;
        }
      }
      .RC050-stats{
        width: 46%;
        display: inline-block;
        padding: 20px;
        padding-right: 0;
        text-align: center;
        vertical-align: middle;
        p{
          text-align: center;
          margin-bottom: 0px;
          &:first-child{
            color: #e21b13;
            font-weight: 700;
            margin-bottom: 10px;
          }
          &.RC050-days{
            font-size: 15px;
            font-weight: 700;
          }
          &:last-child{
            font-size: 10px;
          }
          &.RC050-thinText{
            padding-left: 10px;
            padding-right: 10px;
            margin-bottom: 5px;
          }
        }
        span{
          font-size: 30px;
          font-weight: 700;
          margin-bottom: 10px;
          background-image: url('//useruploads.visualwebsiteoptimizer.com/useruploads/286844/images/9b7bac3d63313af0df009440266021fe_line.png');
          background-repeat: no-repeat;
          background-size: contain;
          background-position: 0px 23px;
        }
        .RC050-fact{
          display: inline-block;
          width: 59%;
          vertical-align: middle;
        }
        .RC050-calendar{
          display: inline-block;
          width: 38%;
          vertical-align: middle;
          background-repeat: no-repeat;
          background-size: 120px;
          background-position: center;
          background-image: url('//useruploads.visualwebsiteoptimizer.com/useruploads/286844/images/bb3f1f564c4e50f3b81b1dade694da62_calendar_and_clock_image.png');
          height: 120px;
        }
      }
      .RC050-smallText{
        margin-bottom: 0px;
        text-align: center;
        &:last-child{
          margin-bottom: 20px;
        }
      }
    }
  }
}