@import './variables';

.#{$id} {
  .#{$id}-white_space {
    display: block;
    width: 100%;
    height: 2rem;
    background-color: #FFF;
  }
  &.AF006-2 {
    .inner-wrap {
      background-color: #FFF;

      .af-grey25-bg {
        background-color: #f5f4f2;
      }
    }
  }
  .#{$id}-suggestedProducts__wrapper {
    // margin-top: 30px;
    padding: 2.5rem 1.875rem;

    &.#{$id}-suggestedProducts__v2 {
      margin-bottom: 10px;
      margin-top: 10px;
      background-color: #f5f4f2;
      padding: 20px 0px;
    }
    h2 {
      padding-bottom: 15px;
    }
    .#{$id}-suggestedProducts__content {
      text-align: center;
      max-width: 1068px;
      // background-color: lightblue;
      margin: auto;


      .#{$id}-tile {
        width: 20%;
        //width: 281px !important;
        display: inline-flex;
        .#{$id}-tileBanner {
          padding: 3px 0px;

          //// 
          display: none;
        }
        .#{$id}-recentlyViewed {
          background-color: #FFF38A;
        }
        
        div {
           @media screen and (min-width: 1068px) {
            width: 190px !important;
            max-width: 210px !important;
            text-align: left;
           }
          
          margin: auto;

          .#{$id}-title-text {
            text-align: left;

            @media screen and (min-width: 1068px) {
              white-space: nowrap;
              // overflow: hidden;
              text-overflow: ellipsis;
              max-width: 150px;
             }
             @media screen and (max-width: 565px) {
              white-space: nowrap;
              // overflow: hidden;
              text-overflow: ellipsis;
              max-width: 250px;
             }
             @media screen and (max-width: 420px) {
              white-space: nowrap;
              // overflow: hidden;
              text-overflow: ellipsis;
              max-width: 50vw;
             }
             @media screen and (max-width: 375px) {
              white-space: nowrap;
              // overflow: hidden;
              text-overflow: ellipsis;
              max-width: 47vw;
             }
             
             @media screen and (max-width: 320px) {
              white-space: nowrap;
              // overflow: hidden;
              text-overflow: ellipsis;
              max-width: 40vw;
             }
            
          }
        }

        .af-interest {
          display: none !important;
        }
        
      }
      .slick-arrow {
        display: none !important;
      }
      .slick-dots>li>button {
        background-color: #fff;
      }
      .slick-dots>li.slick-active>button {
        background-color: #d7d2cb;
      }
    }




    a.af-card-rounded-bottom.af-card-padding.af-card-block-link.af-no-hover.only-h.af-monetgreen-bg {
      display: none;
    }
    
  }
  

  @media screen and (max-width: 565px) {
    ul.slick-dots {
      display: none !important;
    }
  }
}

// @media(min-width: 768) and (max-width: 1024px) {
//   .AF006-suggestedProducts__wrapper {
//     padding: 0 1.875rem;
//   }
//   }



