# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# misc
.DS_Store
/CRO-126--IGNORE-THIS-FOLDER--
/CRO-140-PROGRESS-BAR-PART-2/js/variant_1.js
/CRO-140-PROGRESS-BAR-PART-2/js/variant_2.js
/CRO-140-PROGRESS-BAR-PART-2/js/variant_3.js
/CRO-140-PROGRESS-BAR-PART-2/js/variant_mobile.js

# Transpiled files
.DS_Store
/*/dist
/*/js/utils

# Log files
*.log

