@import "./variables";

.#{$id} {
	#CheckoutSpaRoot {
		.deliverySection.activeSection {
			#frmAddress {
				.form-group .changeLink {
					color: #000;
					margin-top: 16px;
				}
			}

			&.hideItems {
				// .addressLabelWrap span.mandatoryIndicator {
				// 	display: none;
				// }
				.form-group:nth-child(5),
				.form-group:nth-child(6),
				.form-group:nth-child(7),
				.form-group:nth-child(8) {
					display: none;
				}
			}
		}
	}
}
