@import './variables';

.#{$id} {

  .radical-variations-wrapper-container.clearfix {
    border: 1px solid #000000;
    background-color: #FFFFFF;
    padding: 10px;
  }

  .shippingDateP {
    margin-bottom: 0;
  }

  .shippingExplanation {
    border: none;
    margin: 0;
    padding: 0;
  }

  .product-usps {
    margin-top: 10px;
  }

  // Style button container - mathc other containers
  .ME181_Container {
    padding: 10px;
    margin: 10px 0;
  }

  .ME181_Button_Container {
    text-align: center;
    margin-top: 20px;
    position: relative;
  }


  .ME181_Button_Area {
    display: inline-block;
    width: calc(50% - 2px);
    text-align: center;
    position: relative;
  }

  .ME181_Text {
    display: block;
    transition: color ease 0.2s;
    margin-top: 10px;
  }

  // Style button images

  .ME181_Button {
    max-height: 100px;
    display: inline-block;
    border: solid 2px #777777;
    border-radius: 50%;
    padding: 10px 15px;
    transition: border ease 0.2s;
  }

  .ME181_Male .ME181_Option_Male,
  .ME181_Female .ME181_Option_Female {
    border-color: #0cbbf4;
  }

  // Reposition check mark

  .ME181_Male {
    .ME181_Option_Male+.ME181_Text {
      color: #0cbbf4;
    }

    .ME181_CM_M {
      opacity: 1;
    }
  }

  .ME181_Female {
    .ME181_Option_Female+.ME181_Text {
      color: #0cbbf4;
    }

    .ME181_CM_F {
      opacity: 1;
    }
  }

  .ME181_Check_Mark {

    // Background circle
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #0cbbf4;
    background-color: #0cbbf4;
    position: absolute;
    top: 0px;
    left: 50%;
    opacity: 0;
    transition: opacity 0.2s ease;
    margin-left: 20px;


    &::before {
      // Check mark
      display: inline-block;
      position: absolute;
      top: 2px;
      left: 5px;
      content: '';
      width: 4px;
      height: 10px;
      border: solid #000000;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
}