@import './PJ023.scss';

@keyframes PJ054fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes PJ054fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes PJ054fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes PJ054fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes PJ054fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}


$id: 'PJ054';

.#{$id} {
  .#{$id}-icon {
    float: left;
    width: 20px;
    height: 50px;
    background-image: url('https://dp8v87cz8a7qa.cloudfront.net/43831/5c7679f6bfb7e1551268342.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 5px;
    margin-left: 5px;


    #{&}--collection {
      background-image: url('https://dp8v87cz8a7qa.cloudfront.net/43831/5c9ba8b09befc1553705136.png');
      background-size: 80%;
    }

    @media(min-width: 374px) {
      width: 27px;
    }
  }

  .PJ023_StoreDetailsInner {
    text-align: left;
    top: auto;
    transform: translateY(0%);
    width: 100%;

    .PJ023_StoreDetails__name {
      float: none;
      display: inline-block;
      font-weight: 100;
      font-size: 11px;
      vertical-align: top;
      width: 70%;
      overflow: visible;
      strong {
        display: block;
      }

      @media(min-width:374px) {
        width: 70%;
      }

      @media(min-width:400px) {
        width: 70%;
        margin-top: 2px;
      }
    }
  }

  a.PJ023_StoreDetails__link {
    float: none;
  }

  .PJ023_StoreDetails__link_text {
    font-size: 10px;
    text-align: left;
    display: block;
    text-decoration: underline;
    font-weight: 100;

    strong {
      width: 100%;
      display: block;
    }
  }

  .topOptions.PJ023--active {
    >ul li {
      width: 14% !important;
    }
    .logoPadding {
      padding-left: 0px !important;
    }
    @media(min-width:400px) {
      
      li.basket {
        width: 37% !important;
      }
      .topInner table {
        width: 100% !important;
        margin-left: 0px;
      }
      .PJ023_StoreDetails{     
        width: 100%;
      }
      .PJ054-icon {
        width: 30px;
      }
      .PJ023_StoreDetails__name{
        font-size: 13px;
      }
    }

    @media(min-width: 320px) {
      .topInner table {
        margin-left: 0px;
        width: 100% !important;
      }
    }
  }

  &.#{$id}v2 {
    #ctl00__objHeader_upBasketNotification {
      display: none !important;
    }
    .PJ054-added_button {
      display: none;
      font-family: 'Open Sans Condensed', sans-serif;
      background: #009774;
      padding: 10px;
      padding-top: 2px;
      padding-bottom: 2px;
      padding-right: 5px;
      position: relative;
      color: white;
      font-weight: 600;
      font-size: 12px;
      text-transform: uppercase;
      width: 100%;
      line-height: 22px;
      text-align: center;
      border-bottom: 1px solid white;
      span { 
        position: relative;
        &::before {
          content: '';
          height: 10px;
          width: 10px;
          display: block;
          position: absolute;
          top: 50%;
          left: -17px;
          transform: translate(-50%, -50%);
          background-repeat: no-repeat;
          background-image: url('https://dp8v87cz8a7qa.cloudfront.net/43831/5be406e51a6ff1541670629.png');
          background-size: contain;
        }
      }
      &.PJ054-added_active {
        display: block;
        -webkit-animation: PJ054fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: PJ054fadein 0.5s; /* Firefox < 16 */
        -ms-animation: PJ054fadein 0.5s; /* Internet Explorer */
         -o-animation: PJ054fadein 0.5s; /* Opera < 12.1 */
            animation: PJ054fadein 0.5s;
      }
    }
    /* added on pizza page */
    .menuList{
      .splitButtons {
        .PJ054-added_button {
          right: 3px;
          top: -29px;
          width: 34%; 
          left: auto;
          transform: translate(0%);
        }
      }
    }
  }
}
