@import "scss/tp026-tp037";

@media (min-width: 400px) {
  .TP026 #content .increasingly_element form .products-view .increasingly_thumbnail.thumbnail {
    height: auto;
  } 
}
@media (min-width: 600px) {
  .TP026 #content .increasingly_element form .products-view .increasingly_thumbnail.thumbnail {
    height: auto;
  }
}

/* There's a conflict with the way reviews work, image overlay */

.TP026 .tp_prodDetailTabs {
    display: block;
    height: 0;
    visibility: hidden;
}

/* Featherlight overlay breaks */
.TP026 .featherlight {
    display: none;
}

/* Fix arrows mobile orientation */
@media(max-width: 699px) and (min-width: 601px) {
    form#myForm #incQuantitySelector img#up {
        top: -41px;
        left: 130px;
    }
    form#myForm #incQuantitySelector img#down {
        top: -27px;
        left: 118px;
    }
}

.TP026 #product-page-bundles-content .tab-content div.product-bundle div.deal-info-view div.bundles-price-info:before,
.TP026 #product-page-bundles-content .tab-content div.product-bundle div.deal-info-view div.bundles-price-info:after {
    clear: both;
    display: table;
    content: " ";
}

.TP026 .tpAddToQuoteList .tpToolTip {
    float: none !important;
}

.TP026 #addedItemsToQuoteListTextBlock {
    background: #fff;
    z-index: 100;
    position: relative;
    box-shadow: 0 0 6px #000;
}


.TP026.page-mobile-productDetails a#changePostCode{
    text-align: center;
}

.TP026 #mailingListSignUpSection_holder{
    height: auto;
}
.TP026 #mailingListSignUpForm .ui-input-btn{
    line-height: 44px;
    padding: 0 10px;
    height: 100%;
}