@import './variables';


@keyframes BOslide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
}
@keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px) translateX(-50%);
              transform: translateY(-1000px) translateX(-50%);;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(-50%) translateX(-50%);
              transform: translateY(-50%) translateX(-50%);
      opacity: 1;
    }
  }

.#{$id} {

    // original styling

    #cu_newsletter_signup {
        background: #F2F2F2;
        color: #616161;
        font-family: "Boots Sharp", Arial, sans-serif;
        margin-top: -50px;
        margin-bottom: -11px;
        .newsletter_signupContainer {
            background: #F2F2F2;
        }
    }

    
    #cu_newsletter_signup .container {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        max-width: 610px;
        margin: 0 auto;
        padding: 20px 20px;
        border-radius: 0.25rem;
        line-height: 1.25rem;
        position: relative;
    }

    #cu_newsletter_signup .container .success {
        display: none;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 1rem;
        border-radius: 0.25rem;
        background: #F2F2F2;
        text-align: center;
    }

    #cu_newsletter_signup .container .error {
        display: none;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: 0.25rem;
        padding: 1rem;
        text-align: center;
        background: #F2F2F2;
    }

    #cu_newsletter_signup .container .error a {
        text-decoration: underline;
    }

    #cu_newsletter_signup .container .error a:hover {
        text-decoration: none;
    }

    #cu_newsletter_signup .container .spinnerContainer {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: none;
    }

    #cu_newsletter_signup .container .spinnerContainer img {
        margin: 80px auto 0 auto;
        display: block;
    }

    #cu_newsletter_signup .container h4 {
        margin: 0 0 1.1rem 0;
        padding: 0;
        line-height: 1.25rem;
        font-size: 1.72rem;
        color: #0E0E51;
        font-family: "Boots Sharp", Arial, sans-serif;
    }

    #cu_newsletter_signup .container form {
        margin: 1.5rem 0;
        vertical-align: text-top;
    }

    #cu_newsletter_signup .container form input {
        border: 1px solid #D0D0D0;
        outline: none;
        margin: 0;
        margin-right: 1rem;
        padding: 0.5rem 0.75rem;
        border-radius: 0.25rem;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: inline-block;
        height: 40px;
        width: 400px;
        vertical-align: text-top;
        color: #767676;
        font-size: .9rem;
        font-family: "Boots Sharp", Arial, sans-serif;
    }

    #cu_newsletter_signup .container form input::-webkit-input-placeholder {
        color: #767676;
        font-weight: 300;
    }

    #cu_newsletter_signup .container form input:-ms-input-placeholder {
        color: #767676;
        font-weight: 300;
    }

    #cu_newsletter_signup .container form input::-ms-input-placeholder {
        color: #767676;
        font-weight: 300;
    }

    #cu_newsletter_signup .container form input::placeholder {
        color: #767676;
        font-weight: 300;
    }

    #cu_newsletter_signup .container form button.btn {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0;
        font-size: .9rem;
        letter-spacing: .5px;
        padding: 0 1.9rem;
        border: 1px solid #F2F2F2;
        border-radius: 0.25rem;
        background: #0067B2;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        display: inline-block;
        height: 40px;
        line-height: 38px;
        vertical-align: text-top;
        -webkit-transition: background 0.2s;
        transition: background 0.2s;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        cursor: pointer;
        font-family: "Boots Sharp", Arial, sans-serif;
    }

    #cu_newsletter_signup .container form button.btn:hover {
        background: #000;
    }

    #cu_newsletter_signup .container p.footer {
        font-size: 0.78rem;
        margin: 0;
        padding: 0;
    }

    #cu_newsletter_signup .container p.footer a {
        text-decoration: underline;
    }

    #cu_newsletter_signup .container p {
        color: #616161;
    }

    #cu_newsletter_signup .container p a:hover {
        text-decoration: none;
    }

    @media (max-width: 1280px) {
        #cu_newsletter_signup {
            margin-bottom: -7px;
        }
    }

    @media (max-width: 600px) {
        #cu_newsletter_signup {
            margin-bottom: -4px;
        }
    }

    @media (max-width: 991px) {
        #cu_newsletter_signup {
            padding: 30px 0px;
        }
    }

    @media (max-width: 616px) {
        #cu_newsletter_signup {
            padding: 20px 0px;
            margin-top: -30px;
        }

        #cu_newsletter_signup .container h4 {
            font-size: 1.2rem;
        }

        #cu_newsletter_signup .container form input {
            display: block;
            width: 100%;
            margin-bottom: 1rem;
            font-size: .89rem;
        }

        #cu_newsletter_signup .container form button.btn {
            display: block;
            width: 100%;
            height: 38px;
            font-size: .89rem;
        }
    }
    .#{$id}-emailoverlay {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99;
        cursor: pointer;
        background: rgba(0, 0, 0, 0.7);
        display: none;
        &.#{$id}-overlayShow {
            display: block;
        }
    }
    .#{$id}-emailSignUp {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #F2F2F2;
        color: #616161;
        padding-bottom: 10px;
        font-family: "Boots Sharp",Arial,sans-serif;
        margin-top: -50px;
        margin-bottom: -11px;
        box-sizing: border-box;
        z-index: 9999;
        transform: translateY(1000px);
        &.#{$id}-emailShow {
            animation: BOslide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }
        .#{$id}-close {
            position: absolute;
            top: 5px;
            cursor: pointer;
            right: 0;
            z-index: 9;
            background: url('https://service.maxymiser.net/cm/images-eu/new-boots-com/29A77DFAC605790AE0C3CBF587F169123005DAE06E27516C51529390CA51D5F8.png?meta=/BO074---Email-Pop-Up/noun_Close_35370161.png') no-repeat center;
            background-size: contain;
            width: 25px;
            height: 25px;
        }
        .spinnerContainer {
            display: none;
            position: absolute;
            top: 50px;
            width: 100%;
            height: calc(100% - 50px);
            left: 0;
            z-index: 9;
            background: rgba(255, 255, 255, 0.7);
            //display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            img {
                max-width: 50px;
                max-height: 50px;
                margin: 0 auto;
            }
        }
        #cu_newsletter_signup {
            background: #f1f0f0;
            margin-top: 0;
            padding: 0;
            .container {
                padding: 0;
                h4 {
                    padding: 15px;
                    background: #151a61;
                    color: white;
                    font-size: 23px;
                    margin-bottom: 5px;
                    font-family: F37 Ginger, "F37 Ginger Bold", Tahoma, Arial, sans-serif;
                }
                p {
                    font-family: F37 Ginger, "F37 Ginger Bold", Tahoma, Arial, sans-serif;
                    font-size: 15px;
                    line-height: 25px;
                    padding: 10px;
                    padding-bottom: 5px;
                    text-align: left;
                }
                .success {
                    z-index: 9;
                    flex-direction: column;
                    justify-content: center;
                    h4 {
                        background: #F2F2F2;
                        color: #151a61;
                        font-size: 21px;
                        line-height: 25px;
                        text-align: left;
                    }
                }
                form {
                    padding: 10px;
                    margin-top: 0;
                    margin-bottom: 0;
                    text-align: left;
                    input {
                        border-radius: 0px;
                        border: 1px solid #ccc;
                        padding: 10px;
                        height: 45px;
                        max-width: 100%;
                        margin: 0 auto;
                        margin-bottom: 10px;
                    }
                    button {
                        width: 200px;
                        font-size: 16px;
                        border: 1px solid #004490;
                        height: 40px;
                        margin-top: 10px;
                        cursor: pointer;
                        &:hover {
                            background: white;
                            color: #004490;
                            border: 1px solid #004490;
                        }
                    }
                }
                .footer {
                    font-size: 13px;
                    padding: 0px 10px;
                    line-height: 22px;
                    margin-bottom: 22px;
                }
            }
        }

        @media(min-width: 767px) {
            padding: 10px;
            .#{$id}-close {
                background: url('https://service.maxymiser.net/cm/images-eu/new-boots-com/4CE691C8F751F795EDC346066410FFA784B0D0C3D464A02F5D547F318503233E.png?meta=/BO074---Email-Pop-Up/noun_Cross_427826.png') no-repeat center;
                background-size: contain;
                height: 40px;
                width: 40px;
                top: 0;
            }
            .#{$id}-emailContent {
                position: relative;
            }
            #cu_newsletter_signup {
                .container {
                    h4 {
                        background: #f1f0f0;
                        color: #151a61;
                        padding: 10px;
                        margin-bottom: 0;
                    }
                    p {
                        padding-top: 0;
                    }
                    form {
                        margin-bottom: 10px;
                        input {
                            margin-bottom: 0;
                        }
                        button {
                            height: 45px;
                        }
                    }
                }
            }
        }
    }

    &.#{$id}-2 {
        .#{$id}-emailSignUp {
            top: 50%;
            left: 50%;
            bottom: unset;
            width: 90%;
            transform: translateY(-1000px) translateX(-50%);
            &.#{$id}-emailShow {
                animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            }
            #cu_newsletter_signup {
                background: #f1f0f0;
                margin-top: 0;
                padding: 0;
                .container {
                    .success {
                        top: 50px;
                        padding-top: 10px;
                    }
                }
            }
            @media(min-width: 767px) {
                padding: 0px;
                padding-bottom: 10px;
                max-width: 450px;
                .#{$id}-emailContent {
                    position: relative;
                }
                .#{$id}-close {
                    position: absolute;
                    top: 5px;
                    cursor: pointer;
                    right: 5px;
                    z-index: 9;
                    background: url('https://service.maxymiser.net/cm/images-eu/new-boots-com/29A77DFAC605790AE0C3CBF587F169123005DAE06E27516C51529390CA51D5F8.png?meta=/BO074---Email-Pop-Up/noun_Close_35370161.png') no-repeat center;
                    background-size: contain;
                    width: 25px;
                    height: 25px;
                }
                #cu_newsletter_signup {
                    background: white;
                    .container {
                        display: flex;
                        flex-direction: column;
                        h4 {
                            background: #151a61;
                            color: white;
                            padding: 15px;
                            margin-bottom: 10px;
                        }
                        p {
                            padding: 10px;
                            max-width: 90%;
                            margin: 0 auto;
                            margin-bottom: 0px;
                            margin-left: 10px;
                        }
                        form {
                            margin-bottom: 0;
                            margin-left: 10px;
                            input {
                                margin-bottom: 10px;
                                height: 50px;
                                width: 80%;
                            }
                        }
                        .success {
                            h4 {
                                background: #F2F2F2;
                                color: #151a61;
                                font-size: 25px;
                                padding-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
