@import './variables';

.#{$id} {
    .#{$id}-newondemand{
        color: #ff7a00;
        font-weight: 900;
        margin: 2px 0px 0px 2px;
        text-transform: none;
    }
}
.main-navigation .third-level-items li{
    flex-wrap: nowrap;
    display: flex;
    width: 142px;
}
@media only screen and (max-width: 1279px) {
    .main-navigation .third-level-items li{
        width: 180px;
    }
}
