@import './variables';

.#{$id} {
  .hero-banner__button-container ~ div {
    display: none;
  }

  .hero-banner__section--additional .hero-banner__button-container {
    -webkit-box-flex: 0;
    -webkit-flex: unset;
    -ms-flex: unset;
    flex: unset;
    max-width: 100%;

    @media screen and (max-width: 898px) {
      display: block;
    }
  }

  section.hero-banner .hero-banner__section--additional {
    border: none;
    display: flex;
    justify-content: center;
  }

  .hero-banner__section--additional h2 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    color: #032240;
  }

  .hero-banner__additional-subtext ul.list--check {
    margin: 8px auto;
  }

  section.hero-banner .hero-banner__button-container {
    margin-top: 16px;
  }
  section.hero-banner .hero-banner__button-container a {
    width: 100%;
    margin-top: 24px;
    background: #0b6027;
  }

  section.hero-banner .hero-banner__additional-subtext {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    color: #032240;

    & > h3 {
      display: none;
    }

    & > p {
      margin-top: 0;
    }
  }

  .hero-banner__section--additional > div {
    border: 1px solid #eaeaea;
    padding: 1rem;
    max-width: 462px;
    width: 100%;
    margin: auto;
  }

  @media screen and (max-width: 767px) {
    section.hero-banner .hero-banner__section--additional > div.row {
      margin: auto;
      padding: 24px 16px;
    }

    section.hero-banner .hero-banner__section--additional > div.row > div {
      padding-right: 0;
      padding-left: 0;
    }
    section.hero-banner .hero-banner__section {
      padding: 3rem 0 2rem;
    }
  }
}
