.FL018 {
  ul#DeliveryOptionsList li .DeliveryOptionDescription {
    display: block !important;
    font-weight: 400;
  }
  .DeliveryOptions .DeliveryNaming .FL004_price {
    position: absolute;
    top: 1px;
    right: 0;
    width: auto;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.5px;
  }
  #FL004_countdown {
    display: inline;
    font-size: inherit;
    font-weight: 800;
    >span {
      display: inline;
      font-size: inherit;
    }
    .UC_cd-seconds {
      display: none;
    }
  }
  #FL004_deliveryDay {
    display: inline;
    font-size: inherit;
  } // FL018 styling starts here
  // Hide next day delivery price
  .DeliveryOptionsItem_NDD .FL004_price {
    display: none;
  } // Reveal continue section on load
  .ProgressButContain .AddressContainBut.DeliveryContinueButton {
    display: block !important;
  } // style 'or' inserted between delivery options
  .FL018-Between-Options-Text {
    text-align: center;
  } // Underline sale terms and conditions link
  #dnn_ctr102498_Delivery_GoodsSupplyTerms1_lblGoodsSupplyTermsAndConditions>a,
  #dnn_ctr102498_Delivery_DeliveryGroupSelection_GoodsSupplyTerms_lblGoodsSupplyTermsAndConditions>a {
    text-decoration: underline;
  } // space out continue button
  #dnn_ctr102498_Delivery_btnContinue,
  #dnn_ctr102498_Delivery_DeliveryGroupSelection_btnContinue {
    margin-top: 20px;
  } // For mobile/tablet add margin to error message
  #dnn_ctr102498_Delivery_DeliveryGroupSelection_GoodsSupplyTerms_cvlGoodsSupplyTermsAndConditions {
    margin: 10px 0;
  }
}