@import './variables';

.#{$id} {
  &__buying-guide {
    width: clamp(390px, 85vw, 1020px);
    padding: 32px;
    color: #323232;
    background: #f8f8f7;

    > * {
      margin: 16px 0;
    }

    .#{$id}__buying-guide-heading {
      line-height: 21px;
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 16px;
      position: relative;
    }

    .#{$id}__buyuing-guide-description {
      font-weight: 400;
    }

    .#{$id}__buying-guide-cta {
      width: 129px;
      height: 41px;
      border: 2px solid #323232;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      font-size: 13px;
      cursor: pointer;
    }
  }
}
