.PL005 {

  .PL005-timerSection {
    text-align: center;
    margin-top: 12px;
    font-size: 1.1em;
    line-height: 22px;
  }
  section.usps {
    .row {
      text-align: center;

      .col-sm-6 {
        //width: 50%;

        &.delivery {
          display: none;
        }
      }
    }
  }
// Countdown Timer
  .PL005-timer {
    color: #129A3C;
    font-weight: 600;
    font-size: 18px;

    span {
      font-size: 16px;
    }
  }
// More Info link
  span.PL005-moreInfo__link {
    text-decoration: underline;

    &:hover {
      cursor: pointer;
    }
  }
// Header link
  #PL005-headerTimer__link {
    &:hover {
      cursor: pointer;
    }
  }

  // Sidebar Container Shipping Info
  #ctl00_ctl00_ContentPlaceHolderMain_cntPlaceHlderMain_updateShipping {
    display: none;
  }

  // Sticky Nav Countdown Container
  .PL005-stickynavTimer.product_details.shipping.bold {
    width: 215px;
    position: relative;
    right: 10px;
    margin-top: 20px;
    margin-bottom: 15px;
    line-height: 18px;
  }
}