@import './variables';

.#{$id} {
  &__hide {
    display: none;
  }

  #pdPlusBlock {
    padding-bottom: 20px !important;

    .col-xs-12.col-sm-8 {
      @include media-query(md) {
        padding: 0 28px;
      }
    }

    .blockBody {
      font-size: 16px;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: -0.01em;
      color: #3a3a3a;

      @include media-query(md) {
        font-size: 16px;
        line-height: 18px;
        text-align: center;
      }
    }
  }

  &__cardTitle.blockLabel {
    display: block;
    max-width: 200px;
    font-size: 23px;
    line-height: 25px;
    text-align: left;
    color: #3a3a3a;

    @include media-query(md) {
      text-align: center;
      max-width: 100%;
    }
  }

  #pdPlusPrice,
  .blockStandoutLeft.pdPlusUnlimited {
    min-height: 128px;
    min-width: 132px;
    max-width: 132px;

    @include media-query(md) {
      min-height: 100px;
      min-width: 103px;
      max-width: 103px;
    }
  }

  #pdPlusPrice {
    @include media-query(md) {
      top: -2.5em;
    }
  }

  .blockStandoutLeft.pdPlusUnlimited {
    @include min-media-query(xlg) {
      & > p {
        left: 0;
        bottom: 0;
        padding: 0 1em 0 1.2em;

        span {
          padding-top: 1.8em;
          padding-left: 0.2em;
        }
      }
    }

    @include media-query(md) {
      & > p {
        span {
          padding-top: 1.25em;
          padding-left: 0.4em;
        }
      }
    }

    @media screen and (min-width: 425px) and (max-width: 767px) {
      top: -2.3em;
    }
  }

  &__cardmonth sup {
    font-size: 14.04px;
    line-height: 23.04px;
    top: 0 !important;
  }

  &__cardPrice.price {
    font-size: 24.8px;
    line-height: 24.8px;
  }

  &__cardPriceNow.from {
    padding-top: 1.5em;

    @include media-query(md) {
      padding-top: 0.7em;
    }
  }

  &__cardPriceNow.from,
  &__cardPrice.price + .month {
    font-size: 14.04px;
    line-height: 23.04px;
  }

  &__limitedOffer.unlimited {
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
    letter-spacing: -0.06em;
    text-align: center;

    @include media-query(md) {
      font-size: 17px;
      line-height: 21px;
    }
  }

  &__switchIcon {
    @include media-query(md) {
      height: max-content;
      width: 40%;
      margin-bottom: 8px;
    }
  }
}
