.TP124m {

  // Hide old header "Sorry, we couldn't find any results for"
  .no-result {
    margin-bottom: 10px;

    >h1 {
      display: none;
    }


    .content_holder {
      // Restyle content holder
      background-color: #FFFFFF; // Make area larger
      padding: 5px 10px; // Hide try searching again area
      // Resize wrapper
      margin: 20px 5px 5px 5px;

      .TPMobileSearchTryAgain {
        display: none;
      }

      // Hide Or... section
      >.content {
        display: none
      }

      // Restyle search area
      .siteSearch {
        background-color: #FFFFFF;

        >form {
          margin-bottom: 15px;
        }

        // allow search icon to sit next to search input
        .ui-input-text {
          display: inline-block;
          width: calc(100% - 36px);
        }

        // Restyle search box, majority styling from style guide
        #search {
          background-color: white;
          outline: none;
          width: 100%;
          font-size: 1em;
          padding: 0;
          -webkit-box-shadow: none;
          box-shadow: none;
          -webkit-box-sizing: content-box;
          box-sizing: border-box;
          -webkit-transition: all 0.3s;
          transition: all 0.3s;
          padding: 8px 12px;
          width: 100%;
          border: 1px solid #e0e0e0;
          border-bottom: 2px solid #bdbdbd; // Add two pixels to height to ressize icon padding
          height: 30px;
        }

        // add outline when focussed in search box
        #search:focus {
          border-bottom-color: #F6B112;
          outline: none;
          box-shadow: none;
          color: #888;
        }

        // resposition search icon
        .button {
          display: inline-block;
          position: static;
          padding: 7px 10px
        }
      }
    }
  }

  // Style inserted content
  // New header including search term and subtitle
  .TP124m_Header_Container {
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;

    .TP124m_Searched_Text {
      font-weight: 700;
    }

    .TP124m_No_Result_Subheader {
      font-size: 12px;
      margin-top: 5px;
    }
  }

  // Search tips
  .TP124m_Search_Tips_Container {
    // Give the container height
    display: inline-block; // From style guide

    .TP124m_Search_Tips_List {
      padding: 0;
      list-style: none;
      margin: 0;

      .TP124m_Search_Tip {
        padding: 5px 0 5px 15px;
        position: relative;

        &::before {
          content: '';
          display: block;
          position: absolute;
          margin-right: 8px;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          top: 10px;
          left: 0;
          background: #0F7258;
        }
      }
    }
  }

  // Branch locator
  .TP124m_Branch_Locator_Container {
    text-align: center;
    margin: 10px 0;
  }

  // From style guide
  .TP124m_Branch_Locator_Link {
    color: #0F7258;
    text-decoration: underline;
    font-size: 12px
  }

  .TP124m_Branch_Locator_Link:visited {
    color: #0F7258;
  }

  // Category area
  .TP124m_Categories_Wrap {
    background-color: #ededed;
    padding-bottom: 10px;
  }

  .TP124m_Category_Header {
    text-align: center;
    padding: 15px 0;
  }

  .TP124m_Categories_Container {
    text-align: center;
  }

  .TP124m_Category_Block {
    display: inline-block;
    width: calc(50% - 10px);
    margin: 0;
  }

  // Global styling for category links
  .TP124m_Category_Link {
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% auto;
    width: 100%;
    padding-top: 100%;
    display: inline-block;
  }

  // Individual category background image, url from images uploaded for TP094 to monetate
  .TP124m_Category_Building_Materials {
    background-image: url('//sb.monetate.net/img/1/581/1557607.png');
  }

  .TP124m_Category_Gardens_Landscaping {
    background-image: url('//sb.monetate.net/img/1/581/1557612.png');
  }

  .TP124m_Category_Timber {
    background-image: url('//sb.monetate.net/img/1/581/1557615.png');
  }

  .TP124m_Category_Kitchens {
    background-image: url('//sb.monetate.net/img/1/581/1557614.png');
  }

  .TP124m_Category_Doors_Windows_Joinery {
    background-image: url('//sb.monetate.net/img/1/581/1557609.png');
  }

  .TP124m_Category_Bathrooms {
    background-image: url('//sb.monetate.net/img/1/581/1571058.png');
  }

  .TP124m_Category_Decorating_Interiors {
    background-image: url('//sb.monetate.net/img/1/581/1571061.png');
  }

  .TP124m_Category_Electrical_Lighting {
    background-image: url('//sb.monetate.net/img/1/581/1571063.png');
  }

  .TP124m_Category_Fixings_Adhesives {
    background-image: url('//sb.monetate.net/img/1/581/1571064.png');
  }

  .TP124m_Category_Tool_Hire {
    background-image: url('//sb.monetate.net/img/1/581/1571065.png');
  }

  .TP124m_Category_Tools_Workwear {
    background-image: url('//sb.monetate.net/img/1/581/1571068.png');
  }

  .TP124m_Category_Plumbing_Heating {
    background-image: url('//sb.monetate.net/img/1/581/1573348.png');
  }
}