@import './variables';

.#{$id} {
    .#{$id}-stay-summary-container {
        background: white;
        margin-bottom: 50px;
        z-index: 999;
        width: 100%;
        font-family: "FS Albert Light",arial,sans-serif;
        box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
        padding: 0 8px 0 8px;

        .#{$id}-stay-summary-closed {
            display: flex;
            justify-content: space-between;
            padding: 10px 0;
        }

        .#{$id}-bold {
            font-weight: 900;
            font-family: "FS Albert Bold", arial,sans-serif;
        }

        .#{$id}-stay-summary-title {
            font-size: 2rem;
        }

        .#{$id}-display-none {
            display: none!important;
        }

        .#{$id}-summary-open-line {
            display: flex;
            justify-content: space-between;
        }

        .#{$id}-summary-open-line.#{$id}-total-price {
            margin-bottom: 16px;
        }

        .#{$id}-summary-open-line.#{$id}-total-price p {
            font-size: 18px;
        }

        .#{$id}-extra-container {
            border-bottom: 1px solid black;
            padding-bottom: 1rem;
        }

        .#{$id}-add-extra button.#{$id}-add-extra-button {
            color: #008dc8;
            font-family: "FS Albert Bold",arial,sans-serif;
            font-weight: 400;
            text-decoration: underline;
            background: none;
            border: none;
            height: auto;
            font-size: 1.4rem;
        }
    }

    .#{$id}-open-container {
        max-height: 495px;
        overflow-y: scroll;
    }

    @media only screen and (max-width:768px){ 
        #section-available {
            position: relative;
            z-index: 2;
        }
    }
}
