.EJ002m{
  &.EJ002mv1,
  &.EJ002mv2{
    .paddingWrap .paddingWrap.EJ002m-email_box{
      padding: 0px;
      margin-bottom: 13px;
    }
    .EJ002m-email_box{
      display: block !important;
    }
  }
  &.EJ002mv2{
    .thirdWidth.js-basketSummary > fieldset{
      margin-top: 10px;
    }
  }
}