@import './variables';

.#{$id} {

    &.#{$id}-extras #frmCheckout {
        visibility: hidden;
    }

    &.#{$id}-basket .panel-heading {
        width: 100%;
    }

    .ccx-cancel {
        width: 100%;
    }

}
