@import './variables';


.#{$id} {
  
  .HOF-134-social-notification {
  	
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5005;
    display: flex;
    max-width: 450px;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    opacity: 1;    

    @media all and (min-width: 767px) and (max-width: 1200px) {
      width: 90%;
    }

    @media all and (max-width: 600px) {
      width: 80%;
      top: 48%
    }

    .HOF-134-social-notification-holder {
      width: 90%;
      background: rgba(236, 241, 247, 0.9);
      display: flex;
      flex-direction: row;
      padding: 10px;
      align-items: center;

      .HOF-134-eye-icon {
        display: flex;
        width: 50px;

        path {
          fill: #444;
        }

        @media all and (max-width: 600px) {
          width: 35px;
        }
      }

      p {
        min-width: 305px;

        @media all and (max-width: 1200px) {
          min-width: 0;
        }
      }

      @media all and (max-width: 600px) {
          width: 85%;
        }
    }

    &.fading {
      opacity: 0;
      transition: opacity 0.5s ease;
    }

    p {
      margin-bottom: 0;
      margin-left: 15px;
      font-size: 14px;

      @media all and (max-width: 600px) {
        font-size: 10px;
      }
    }

    .HOF-134-boldtext {
      font-weight: 700;
    }

    .HOF-134-social-notification-close {
      display: flex;
      width: 10%;
      align-items: stretch;
      background: rgba(236, 241, 247, 0.9);
      justify-content: center;
      align-items: center;
      position: relative;
      right: -2px;

      @media all and (max-width: 600px) {
          width: 15%;
        }
    }

    .HOF-134-hide-notification {
      height: 15px;
    }

    .HOF-134-close-icon {
      
      path {
        fill: #444;
      }
    }

  }

  
}
