@import './variables';

.#{$id} {
    .#{$id}_main_container {
        position: absolute;
        box-shadow: 0px 0px 8px 0px rgba(139, 117, 7, 0.24);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 260px;
        background: #FFD91E;
        color: #000;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1;
        transition: opacity 1s ease-in-out; /* Adjust the transition duration and timing function as needed */

        p.#{$id}_social_message {
            font-weight: 900;
            margin: 5px 10px;
            font-family: 'montserrat', Arial, Helvetica, sans-serif;
        }
    }
}