@import './variables';
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
html.#{$id}-noscroll {
    height: 100%;
    overflow: hidden;

    &:before {
      content: "";
      background: rgba(0,0,0,0.8);
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10000000;

      @media all and (max-height: 400px) {
        display: none;
      }

    }

    @media all and (max-height: 400px) {
      height: auto;
      overflow: visible;
    }
}

.#{$id} {

    .#{$id}-hide-easy-zoom .easyzoom:last-of-type .easyzoom-flyout {
      display: none !important;
    }

    .#{$id}-hide-easy-zoom .easyzoom:last-of-type img {
      cursor: pointer;
    }

    .#{$id}-similar-prompt {

      position: absolute;
      top: 50%;
      left: 50%;
      width: 390px;
      min-height: 145px;
      transform: translate(-50%, -50%);
      background: rgba(255,255,255,0.8); 
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 10000;
      pointer-events: initial !important;

      &.active {
        display: flex;
      }
      
      @media (orientation: landscape) and (max-width: 767px) {
        display: none;
      }

      @media all and (max-width: 650px) {
        width: 75%;
        min-height: 120px;
      }

      @media all and (max-width: 550px) {
        width: 95%;
        box-shadow: 0 0 10px -5px #AAA;
      }

      h2 {
        font-size: 19px;
        font-family: 'GothamHTF-Book', Arial, Helvetica, sans-serif !important;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 15px;

        @media all and (max-width: 650px) {
          font-size: 16px;
          margin-bottom: 10px;
        }
      }


      .#{$id}-similar-button {

        background: #000;
        font-size: 19px;
        text-transform: uppercase;
        border: 1px solid #000;
        color: #FFF;
        padding: 15px 75px;
        font-family: 'GothamHTF-Medium', Arial, Helvetica, sans-serif !important;
        letter-spacing: 0.8px;
        font-weight: normal;

        @media all and (max-width: 650px) {
          font-size: 16px;
          padding: 10px 50px;
          font-family: 'Gotham HTF', Arial, Helvetica, sans-serif !important;
          
        }

        @media all and (max-height: 400px) {
          display: none;
        }

        &:hover {
          background: #fff;
          color: #000;
          transition: all 0.5s ease;
        }
      }


    }

    


    .#{$id}-similarprods-modal {

        position: fixed;
        left: 0;
        bottom: -500px;
        width: 100%;
        background: #EFEFEF;
        z-index: 100000010;
        min-height: 380px;
        display: flex;
        flex-direction: column;
        transition: bottom 0.3s ease;
        overflow: hidden; 
        padding-left: 80px; 

        @media all and (max-width: 767px) {
          padding-left: 15px; 
        }

        @media all and (max-width: 650px) {
          min-height: 0;
        }

        &.active {

            bottom: 0;
            transition: bottom 0.5s ease;

            // @media all and (max-width: 650px) {
            //   bottom: 0;
            //   transition: bottom 0.5s ease;
            // }

        }

    }

    .#{$id}-section-close {
        position: absolute;
        top: 15px;
        right: 15px;
        z-index: 10000;

        @media all and (max-width: 767px) {
          top: 13px;
        }
    }

    .#{$id}-current-product {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        text-transform: uppercase;

        @media all and (max-height: 750px) {
          padding-bottom: 5px;
        }

        .#{$id}-current-product-image {
            margin: 20px 0;
            max-width: 200px;

            @media all and (max-height: 750px) {
              max-width: 120px;
            }

            @media all and (max-height: 600px) {
              max-width: 70px;
            }

            @media all and (max-height: 470px) {
              display: none;
            }
        }



        .#{$id}-current-product-brand {
            font-size: 13px;
            font-family: 'GothamBold', Arial, Helvetica, sans-serif !important;
        }

    }

    .#{$id}-related-products {
      background: #EFEFEF;
      padding: 10px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      position: relative;

      @media all and (max-width: 767px) {
        padding-top: 5px;
        padding-bottom: 40px;
      }

      @media all and (max-width: 650px) {
          margin-bottom: 0;
      }

      h2 {
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 100;
        font-family: 'GothamHTF-Book', Arial, Helvetica, sans-serif !important;
        margin-top: 10px;

        @media all and (max-width: 767px) {
          padding-bottom: 5px !important;
        }

        @media all and (max-width: 650px) {
          font-size: 20px;
        }

        @media all and (max-width: 550px) {
          font-size: 16px;
        }
      }

      .divider {
        content: "";
        width: 275px;
        height: 1px;
        background: #000;
        margin: 10px 0;
      }
    }

    .#{$id}-button {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      position: absolute;
      top: 50%;
      left: -10px;
      transform: translateY(-50%);
      z-index: 100;
      width: 40px;
      height: 40px;
      background: #FFF;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05), 0px 5px 10px rgba(0, 0, 0, 0.1);
      padding-right: 2px;

      &.#{$id}-button-next {
        left: auto;
        right: 40px;
        padding-left: 2px;
        padding-right: 0;
      }

      &:hover {

        background: #000;

        path {
          stroke: #E0FF00;
        }
      }

      &.swiper-button-disabled {
        
        background: #FFF !important;

        path {
          stroke: #9F9F9F;
        }
      }

      @media all and (max-width: 767px) {
        display: none !important;
      }
    }

    .#{$id}-carousel-holder {
      margin-top: 0;
      width: 100%;
      display: flex;
      flex-direction: row;
      position: relative;
      min-height: 280px;
      max-height: 280px;

      @media all and (max-width: 650px) {
        min-height: 240px;
        max-height: 240px;
      }

      .#{$id}-loading-spinner {
          display: none;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 100010;

          svg {
              animation: spin 1s linear infinite;
          }

          p {
              color: #000000;
          }

      }

      &.loading:before {
          content: "";
          position: absolute;
          background: #F6F6F6;
          width: 100%;
          height: 100%;
          z-index: 100000;
          top: 0;
          left: 0;
      }

      &.loading .#{$id}-loading-spinner {
          display: flex;
      }

      .#{$id}-carousel-inner {
          padding: 10px;
          position: relative;
          overflow: hidden;
          display: flex !important;

          @media all and (max-width: 800px) {

              padding: 10px 0;

              &:before {
                  content: "";
                  width: 40px;
                  height: 100%;
                  position: absolute;
                  top: 0;
                  right: 0;
                  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(246, 246, 246, 1) 75%);
                  z-index: 100;
              }
          }
      }

      .#{$id}-carousel-slide {
          background: #FFFFFF;
          border: 1px solid #EDEDED;
          display: flex;
          flex-direction: column;
          padding: 10px;
          text-align: center;
          min-height: 360px;
          max-height: 360px;
          justify-content: flex-start;
          align-items: flex-start;

          @media all and (max-width: 650px) {
            max-height: 280px;
            min-height: 280px;
          }

          * {
              pointer-events: none;
          }
      }



      .#{$id}-carousel-image {
          position: relative;
          margin-bottom: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;

          img {
            display: flex;
            max-height: 140px;
            width: auto;

            

            @media all and (max-height: 750px) {
              max-height: 120px;
              width: auto;
            }
            
            @media all and (max-width: 650px) {
              max-height: 110px;
              width: auto;
            }
          }

      }

      .#{$id}-carousel-image-element.swiper-lazy {
          min-height: 104px;

          &[src=""],
          &:not([src]) {
              visibility: hidden;
          }
      }

      .#{$id}-carousel-product-info {
          margin-top: 10px;
          font-size: 11px;
          text-align: center;
          width: 100%;

          @media all and (max-width: 1400px) {
            min-height: 55px;
          }

          @media all and (max-width: 600px) {
              min-height: 40px;
          }

          p {
              margin-bottom: 0;
              font-size: 14px;
              height: 30px;
              overflow: hidden;
              line-height: 15px;
              letter-spacing: -1px;
          }

          .#{$id}-carousel-info-brand {
              font-family: 'GothamBold', Arial, Helvetica, sans-serif !important;
              text-transform: uppercase;
              font-size: 14px;
              margin-bottom: 5px;
              line-height: 15px;
              letter-spacing: -1px;
              
          }
      }

      .#{$id}-carousel-product-price {
          text-align: center;
          width: 100%;
          font-size: 13px;

          p {
              margin-bottom: 0;
              text-align: center;
          }

          .now-price {
              font-family: 'GothamBold', Arial, Helvetica, sans-serif !important;
              color: #333;
          }

          .was-price {
              text-decoration: line-through;
              color: #888;
              font-weight: normal;
              margin-left: 5px;
              font-size: 11px;
          }

          &.equal-prices .now-price {
              color: #333;
          }

          &.equal-prices .was-price {
              display: none;
          }
      }

  }

  .#{$id}-carousel-pagination {
    padding-top: 20px;
    padding-bottom: 15px;

    @media all and (max-width: 767px) {
      display: none !important;
    }

    .swiper-pagination-bullet {
      width: 100px;
      height: 4px;
      border-radius: 0;
      margin: 0;

      @media all and (max-width: 550px) {
        width: 22px;
      }

      &.swiper-pagination-bullet-active {
        background: #000;
      }
    }


  }

}