@import "./variables";

.#{$id} {
	.newBasketSummary {
		.#{$id}-wrapper {
			display: block;
			padding-top: 15px;
			border-top: 1px solid #9a9a9a;
			clear: both;
			img {
				width: 100%;
				max-width: 300px;
			}
		}
		#buttonWrapper {
			padding-bottom: 25px;
		}
	}
	&.HOF-749-1,
	&.HOF-749-2,
	&.HOF-749-3 {
		.newBasketSummary {
			.#{$id}-wrapper {
				margin-bottom: 10px;
			}
		}
	}
}
