/*Category Page*/

.TP031mobile .product_price_holder .tp31-incVat {
    color: #000000;
    font-size: 18px!important;
    display: none !important;
}

.TP031mobile .product_price_holder .tp31-incVat.tp31-visible,
.TP031mobile .prices_holder .price_inc_vat_section.tp31-visible {
    display: inline-block !important;
}

.TP031mobile .product_price_holder .price_value.tp31-hidden,
.TP031mobile .productPrice .prices_holder .product_price_section.tp31-hidden {
    display: none !important;
}

.TP031mobile.logInForTradePricesLink a {
    font-size: 13px;
}

.TP031mobile .prod_nav_top.prod_list_pagination .n_prods {
    width: 30%;
}

//Hide all original toggles
.TP031mobile .tp26-toggle,
.TP031mobile .tp2-toggle {
    display: none;
}

.TP031mobile.pageType-TPCartPage .tp31-toggle {
    padding: 10px;
    padding-top: 0px;
}


/*TOGGLE*/

.TP031mobile .tp31-labelBold {
    font-weight: bold;
    font-size: 12px !important;
    margin-top: 2px !important;
}

.TP031mobile .tp31-toggle {
    margin-bottom: 18px;
    position: relative;
    text-align: center;
    clear: both;
}

.TP031mobile .tp31-toggle .tp31-toggle span {
    display: inline-block;
    font-size: 13px;
    position: relative;
    vertical-align: super;
    float: none;
}

.TP031mobile .tp31-toggle input[type=checkbox] {
    display: none;
}

.TP031mobile .tp31-slide-toggle {
    display: inline-block;
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    margin-right: 10px !important;
    width: 56px;
    height: 25px;
    margin: 0px;
    margin-left: 10px;
    border-radius: 16px;
    background-color: #d7d2cb;
    cursor: pointer;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    z-index: 1;
}

.TP031mobile .tp31-slide-toggle::before,
.TP031mobile .tp31-slide-toggle::after {
    content: ' ';
    display: block;
    position: absolute;
    top: 1px;
    border-radius: 30px;
    height: 23px;
    background-color: #f34747;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: 0.2s cubic-bezier(0, 1.1, 1, 1.1);
    transition: 0.2s cubic-bezier(0, 1.1, 1, 1.1);
}

.TP031mobile .tp31-slide-toggle::before {
    z-index: -1;
    width: 33px;
    right: 1px;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.TP031mobile .tp31-slide-toggle::after {
    z-index: 1;
    width: 34px;
    left: 1px;
    box-shadow: 0 1px 4px 0.5px rgba(0, 0, 0, 0.25);
    background: white;
    box-shadow: 0 1px 4px 0.5px rgba(0, 0, 0, 0.25);
}

.TP031mobile input:checked+.tp31-slide-toggle {
    background-color: #054731;
}

.TP003 input:checked+.tp31-slide-toggle::before {
    -webkit-transform: scale(0);
    transform: scale(0);
}

.TP031mobile input:checked+.tp31-slide-toggle::after {
    -webkit-transform: translate3d(20px, 0, 0);
    transform: translate3d(20px, 0, 0);
}


/*category*/

.TP031mobile.pageType-CategoryPage .product_price_holder .tp31-incVat {
    color: #000000;
    display: none !important;
}

.TP031mobile.pageType-CategoryPage .product_price_holder .tp31-incVat.tp31-visible {
    display: block !important;
}

.TP031mobile.pageType-CategoryPage .product_price_holder .price_value.tp31-hidden {
    display: none !important;
}


/*Product page*/

.TP031mobile.feature-design .tp_prod_detail .tp_prodPrice .productPrice,
.feature-design .tp_prod_detail .productEQPrice .productPrice {
    margin-top: 10px;
}

.TP031mobile.pageType-ProductPage .tp31-toggle {
    margin-bottom: 18px;
    position: relative;
    text-align: center;
    clear: both;
    margin-top: 10px;
    margin-bottom: 10px;
}