@import './variables';

@keyframes SGslide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
}

@keyframes SGslide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.#{$id} {

  .product-quantity__container,
  #access-content,
  .book-appointments-section,
  .product-paypal-credit {
    display: none;
  }

  .header {
    @media(min-width: 1280px) {
      position: relative;
    }
  }

  // .header__container {
  //   max-width: 100%;
  //   margin-left: 0;
  // }

  /* General */
  &-PDP {
    section {
      padding: 10px;
      margin-top: 20px;
      margin-bottom: 20px;

      @media(min-width: 1280px) {
        padding: 20px;
      }
    }

    .#{$id}__row {
      @media(min-width: 767px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
      }
    }

    .#{$id}__col-left {
      @media(min-width: 767px) {
        width: 55%;
      }

      @media(min-width: 1280px) {
        width: 60%;
      }
    }

    .#{$id}__col-right {
      @media(min-width: 767px) {
        flex-grow: 1;
        flex-basis: 0;
        flex-shrink: 0;
      }
    }

    .product-customer-rating-summary__star {
      filter: sepia(30) saturate(10000%) hue-rotate(30deg);
    }

    .#{$id}-productname {
      font-weight: 300;
      font-size: 18px;
      line-height: 23px;
      color: #484849;
      @media(min-width: 1280px) {
        font-size: 21px;
        line-height: 26px;
      }
    }

    h2 {
      font-size: 23px;
      color: #212721;
      line-height: 25px;
      font-weight: 400;
      @media(min-width: 1280px) {
        font-size: 28px;
        line-height: 30px;
      }
    }

    h3 {
      color: #484849;
      font-weight: 700;
      font-size: 18px;
      line-height: 23px;
      @media(min-width: 1280px) {
        font-size: 20px;
        line-height: 26px;
      }
    }

    .#{$id}-bodyText,
    .product-reviews__review-desc {
      font-size: 14px;
      line-height: 21px;
      color: #484849;
      @media(min-width: 1280px) {
        font-size: 16px;
        line-height: 23px;
      }
    }

    .#{$id}-textLink {
      text-decoration: underline;
      font-size: 16px;
      color: #484849;
      cursor: pointer;
    }

    // options
    .detail-page__payment-wrapper {
      background: none;
      padding: 0;
      margin-top: 20px;

      .product-step-up-down {
        border: 0px;
      }
      .product-step-up-down__container {
        margin-bottom: 20px;
        border: 0px;
      }

      select {
        border: 1px solid #9E9E9E;
        border-radius: 5px;
        height: 50px;
        margin-bottom: 0 !important;
        font-size: 14px;
        padding: 10px;
        background-position: calc(100% - 15px) 50%;
        line-height: 31px;
      }

      h4 {
        font-size: 16px;
        line-height: 21px;
        font-weight: 700;
        color: #484849;
        text-align: left;
        margin-bottom: 10px;
      }

      .product-step-up-down__text {
        text-align: left;
      }
    }

    .product-ring-size {
      margin-top: 10px;
    }
    .product-ring-size__text {
      margin-bottom: 10px;
      h4 {
        margin-bottom: 0;
      }
    }

    .#{$id}__button,
    .product-buy-now__button,
    .product-reviews__show-more--btn {
      height: 50px;
      text-align: center;
      line-height: 28px;
      //max-width: 200px;
      border: 2px solid;
      text-transform: uppercase;
      padding: 10px;
      box-sizing: border-box;
      border-radius: 5px;
      font-weight: 900;
      display: block;
      text-decoration: none;
      max-width: 250px;
      cursor: pointer;

      &.primary {
        border-color: #166D02;
        background-color: #166D02;
        color: white;
        @media(min-width: 1024px) {
          transition: all 0.3s ease-in-out;
          &:hover {
            background-color: white;
            color: #166D02;
          }
        }
      }

      &.secondary {
        border-color: #166D02;
        background-color: white;
        color: #166D02;
        @media(min-width: 1024px) {
          transition: all 0.3s ease-in-out;
          &:hover {
            background-color: #166D02;
            color: white;
          }
        }
      }
    }
    .product-reviews__show-more--btn {
      display: none;
    }

    // Swiper
    .#{$id}-swiperNext.swiper-button-next,
    .#{$id}-swiperPrev.swiper-button-prev {
      height: 25px;
      width: 25px;
      border: 1px solid black;
      border-radius: 50px;
      top: auto;
      bottom: 10px;
      background-color: white;
      background-image: url('https://storage.googleapis.com/exp-app-storage/9191200e-b0b2-11ea-ad2a-8afcbfbc1b77/media/original/645a3f1c-043e-11ed-b0c0-eabb99b1682f');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 8px;
    }

    .#{$id}-swiperNext {
      right: 0px;
      left: auto;
    }

    .#{$id}-swiperPrev {
      right: 30px;
      left: auto;
      transform: rotate(180deg);
    }

    .#{$id}-swiperPagination {
      display: flex;
      flex-direction: row;
      bottom: 10px;

      .swiper-pagination-bullet {
        width: 20px;
        height: 4px;
        margin: 5px;
        background-color: #D9D9D6;
        border-radius: 0px;
        opacity: 1;

        &.swiper-pagination-bullet-active {
          background-color: #DD261A;
        }
      }
    }

    // pricing
    .#{$id}-nowPrice {
      color: #AC0000;
      font-weight: 700;
      font-size: 18px;
      margin-right: 10px;
      @media(min-width: 1280px) {
        font-size: 20px;
       }
    }

    .#{$id}-wasPrice {
      color: #9E9E9E;
      font-weight: 300;
      font-size: 14px;
      text-decoration: line-through;

    }

    .#{$id}-normalPrice {
      font-weight: 700;
      font-size: 18px;
      color: #484849;
      @media(min-width: 1280px) {
       font-size: 26px;
      }
    }
  }

  .#{$id}-close {
    height: 25px;
    width: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
    background: url('https://storage.googleapis.com/exp-app-storage/63c9e2be-b0b2-11ea-b9e3-3af835c8f71c/media/original/42dbc560-c085-11ec-8c87-f2121125cfa8') no-repeat center;
    background-size: contain;
    z-index: 999;
    cursor: pointer;
  }

  // // If offer
  // .promocode-copyer {
  //   background: #F7F6F6;
  //   box-shadow: unset;
  //   @media(min-width: 767px) {
  //     flex-wrap: nowrap;
  //     justify-content: flex-start;
  //   }
  //   .promocode-copyer__message {
  //     font-size: 14px;
  //     &:first-of-type {
  //       @media(min-width: 767px) {
  //         text-align: left;
  //         display: flex;
  //         flex-grow: 1;
  //         margin-right: 20px;
  //       }
  //     }
  //     &:nth-of-type(2) {
  //       @media(min-width: 767px) {
  //         flex-shrink: 0;
  //       }
  //     }
  //   }
  //   // .promocode-copyer__message {
  //   //   display: inline;
  //   // }
  //   .promocode-copyer__code-container {
  //     @media(min-width: 767px) {
  //       text-align: left;
  //       display: flex;
  //       flex-direction: row;
  //       align-items: center;
  //     }
  //   }
  //   .promocode-copyer__code {
  //     @media(min-width: 767px) {
  //       background: white;
  //       box-sizing: border-box;
  //       padding: 0px;
  //       border: 1px solid #9E9E9E;
  //       border-radius: 5px;
  //       height: 50px;
  //       margin-bottom: 0 !important;
  //       font-size: 14px;
  //       margin-right: 10px;
  //     }
  //   }
  //   .promocode-copyer__btn {
  //     @media(min-width: 767px) {
  //       height: 45px;
  //       text-align: center;
  //       border: 2px solid;
  //       text-transform: uppercase;
  //       padding: 10px;
  //       box-sizing: border-box;
  //       border-radius: 5px;
  //       font-weight: 900;
  //       display: block;
  //       text-decoration: none;
  //       border-color: #166D02;
  //       background-color: #166D02;
  //       color: white;
  //       svg {
  //         display: none;
  //       }
  //     }
  //   }
  // }

  // Top
  .#{$id}-top {
    margin-top: 0px;
    margin-bottom: 0;

    @media(min-width: 1280px) {
      max-width: 1440px;
      padding-left: 30px;
      padding-right: 30px;
      margin: 0 auto;
    }

    // Tangiblee
    .tangiblee-button {
      background: url('https://storage.googleapis.com/exp-app-storage/9191200e-b0b2-11ea-ad2a-8afcbfbc1b77/media/original/df7aedb2-043f-11ed-8872-ae3141496119');
      background-size: 30px;
      background-repeat: no-repeat;
      background-position: center top;
      position: absolute !important;
      top: 0px;
      left: auto;
      right: 10px;
      height: 50px;
      width: auto !important;
      z-index: 99;
      margin: 0 !important;

      @media(min-width: 767px) {
        top: 0;
      }

      @media(min-width: 1280px) {
        left: auto;
        width: 80px !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
      }

      span {
        display: block !important;
        font-size: 13px !important;
        padding-top: 35px !important;
        text-decoration: underline !important;
        font-weight: 300 !important;

        @media(min-width: 767px) {
          font-size: 12px !important;
        }
      }
    }

    .product-customer-rating-summary__text {
      color: #484849;
      font-size: 14px;
      text-decoration: none;
    }

    #js-link-reviews {
      align-items: center;
    }

    .#{$id}-mainProductSlider {
      position: relative;
      margin-bottom: 20px;

      @media(min-width: 1280px) {
        height: 600px;
        max-width: 800px;

        .swiper-container {
          height: 100% !important;
          width: 100%;

          .#{$id}-slideImg {
            position: relative;
            height: 0;
            padding-bottom: (3 / 4) * 100%; // The aspect ratio (Usually written like 4:3), but it's backwards so that the math works out

            img {
              position: absolute; // Absolutely positioned, so it doesn't shift the layout
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }

          // .#{$id}-slideImg {
          //   height: 100%;
          //   width: 100%;
          // }

          // img {
          //   width: 100%;
          //   height: 100%;
          //   object-fit: contain;
          //   object-position: center;
          // }
        }
      }
    }

    .#{$id}__mainProductInfo {
      @media(min-width: 767px) {
        padding: 20px;
      }
      @media(min-width: 1280px) {
        padding: 30px;
      }

      .#{$id}-productname {
        @media(min-width: 1280px) {
          margin-bottom: 10px;
        }
      }
    }

    .#{$id}-financeBox {
      background: #F7F6F6;
      padding: 10px;
      display: inline-flex;
      flex-direction: row;
      justify-content: flex-start;
      margin-top: 10px;
      @media(min-width: 1280px) {
        margin-top: 0;
        margin-right: 0;
        margin-left: auto;
      }
      

      span {
        font-size: 13px;
        color: #212721;
      }

      .#{$id}-textLink {
        font-size: 13px;
        margin-left: 10px;
      }
    }

    .#{$id}-productPrice {
      margin-top: 10px;
      margin-bottom: 10px;
      @media(min-width: 1280px) {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 20px;
      }

      .#{$id}-price {
        margin-bottom: 10px;
        @media(min-width: 1280px) {
          margin-bottom: 0;
        }
      }
    }

    .#{$id}-small-description {
      display: none;
      @media(min-width: 1280px) {
        display: block;
        padding: 20px 10px;
        margin-top: 20px;
        border-bottom: 2px solid #D9D9D6;
        border-top: 2px solid #D9D9D6;
      }
    }

    .product-buy-now {
      background: unset;
      border: unset;
      margin-bottom: 15px;

      button {
        border-color: #166D02;
        background-color: #166D02;
        color: white;
        max-width: unset;
        @media(min-width: 1024px) {
          transition: all 0.3s ease-in-out;
          &:hover {
            background-color: white;
            color: #166D02;
          }
        }
      }
    }

    .#{$id}__button {
      max-width: unset;
    }

    // Usps
    .#{$id}-uspDetails {
      margin-top: 20px;

      .#{$id}-usp {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 20px;

        span {
          height: 25px;
          width: 25px;
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          margin-right: 10px;
          display: inline-block;
          align-items: center;
        }

        p {
          margin-right: 5px;
          margin-bottom: 0;
          font-size: 14px;
        }

        .#{$id}-textLink {
          font-size: 14px;
          @media(min-width: 1024px) {
            display: inline-flex;
          }
        }

        &.#{$id}-returns {
          span {
            background-image: url('https://storage.googleapis.com/exp-app-storage/9191200e-b0b2-11ea-ad2a-8afcbfbc1b77/media/original/b6e9e854-0443-11ed-8bee-f2b5e79c54eb');
          }
        }

        &.#{$id}-paypal {
          span {
            background-image: url('https://storage.googleapis.com/exp-app-storage/9191200e-b0b2-11ea-ad2a-8afcbfbc1b77/media/original/5a8021a4-083b-11ed-ae37-a6d2e611b8dc');
          }
        }

        &.#{$id}-pricePromise {
          span {
            background-image: url('https://storage.googleapis.com/exp-app-storage/9191200e-b0b2-11ea-ad2a-8afcbfbc1b77/media/original/9e6895a0-0443-11ed-8eae-0aea198ed2f2');
          }
        }

        &.#{$id}-warranty {
          span {
            background-image: url('https://storage.googleapis.com/exp-app-storage/9191200e-b0b2-11ea-ad2a-8afcbfbc1b77/media/original/adbf89dc-0443-11ed-9abc-f2b5e79c54eb');
          }
        }
      }
    }

  }


  // appointment
  .#{$id}-appointment,
  .#{$id}-insurance {
    padding: 0;

    .#{$id}__sectionContainer {
      @media(min-width: 767px) {
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 30px;
      }

      @media(min-width: 1024px) {
        max-width: 900px;
        margin: 0 auto;
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 30px;
        margin-bottom: 30px;
      }
      @media(min-width: 1280px) {
        max-width: 1100px;
        margin-top: 50px;
        margin-bottom: 50px;
      }
    }

    .#{$id}__row {
      @media(min-width: 767px) {
        align-items: center;
      }
    }

    .#{$id}-image {
      background: url('https://storage.googleapis.com/exp-app-storage/9191200e-b0b2-11ea-ad2a-8afcbfbc1b77/media/original/21fbdf04-068c-11ed-8558-06a69236ec17') no-repeat center;
      background-size: cover;
      height: 200px;
      margin-bottom: 15px;

      @media(min-width: 767px) {
        width: 40%;
        flex-shrink: 0;
        height: 320px;
        margin-bottom: 0;
        position: relative;

        &::before {
          content: '';
          height: 100%;
          width: 100%;
          position: absolute;
          left: -10px;
          top: -10px;
          background: #F6F6F4;
          z-index: -1;
        }
      }

      @media(min-width: 1024px) {
        height: 400px;

        &::before {
          left: -15px;
          top: -15px;
        }
      }
      @media(min-width: 1280px) {
        width: 50%;
      }

    }

    .#{$id}-textBlock {
      padding: 15px;
      text-align: center;

      @media(min-width: 767px) {
        text-align: left;
        padding: 20px;
      }

      @media(min-width: 1024px) {
        max-width: 500px;
      }

      h2 {
        margin-bottom: 15px;
      }

      p {
        margin-bottom: 20px;
      }

      .#{$id}__button.primary {
        margin-bottom: 15px;
      }

      .#{$id}-ctas {
        @media(min-width: 767px) {
          display: flex;
          flex-direction: row;
          gap: 10px;
        }

        @media(min-width: 1024px) {
          margin-top: 30px;
        }
      }

      .#{$id}__button {
        max-width: 250px;
        margin: 0 auto;

        @media(min-width: 767px) {
          margin: unset;
          width: 200px;
        }
      }
    }

  }

  .#{$id}-insurance {
    .#{$id}-image {
      background: url('https://storage.googleapis.com/exp-app-storage/9191200e-b0b2-11ea-ad2a-8afcbfbc1b77/media/original/e2389b0a-06a9-11ed-a458-6ef2f02aede6') no-repeat center;
      background-size: cover;
    }
  }

  .#{$id}-appointment {
    .#{$id}__row {
      @media(min-width: 767px) {
        flex-direction: row-reverse;

        .#{$id}-image {
          &::before {
            right: -10px;
            left: auto;
          }
        }
      }

      @media(min-width: 1024px) {
        .#{$id}-image {
          &::before {
            right: -15px;
          }
        }
      }
    }
  }


  // accordion
  .#{$id}-productDetails {
    padding: 10px;
    margin-bottom: 30px;
    margin-top: 0px;
    @media(min-width: 1280px) {
      padding: 0;
    }

    .#{$id}__sectionContainer {
      @media(min-width: 1024px) {
        padding-left: 30px;
        padding-right: 30px;
      }
      @media(min-width: 1280px) {
        max-width: 1440px;
        margin: 0 auto;
        
      }
    }

    .#{$id}-accordionSection {

      .#{$id}-accordion-heading {
        padding: 20px 0px;
        border-bottom: 2px solid #D9D9D6;
        position: relative;
        cursor: pointer;

        &::after {
          content: '';
          height: 20px;
          width: 20px;
          background: url('https://storage.googleapis.com/exp-app-storage/9191200e-b0b2-11ea-ad2a-8afcbfbc1b77/media/original/4a18b6f8-069e-11ed-8f7d-225bafc48d38') no-repeat center;
          background-size: contain;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
        }

        h3 {
          margin-bottom: 0;
        }
      }

      .#{$id}-accordion-content {
        transition: all 0.3s ease;
        overflow: hidden;
        max-height: 0;
        opacity: 0;

        .#{$id}-inner {
          padding: 20px 10px;
          padding-bottom: 10px;
          @media(min-width: 1024px) {
            max-width: 80%;
            padding-top: 30px;
            padding-bottom: 30px;
          }
        }

        p {
          font-size: 14px;
          line-height: 21px;
          color: #484849;

          span {
            font-weight: 700;
          }
        }
      }

      &.#{$id}-open {
        .#{$id}-accordion-content {
          max-height: 1000px;
          opacity: 1;
        }

        .#{$id}-accordion-heading {
          &::after {
            background: url('https://storage.googleapis.com/exp-app-storage/9191200e-b0b2-11ea-ad2a-8afcbfbc1b77/media/original/498f2226-069e-11ed-97f4-42200375e94a') no-repeat center;
            background-size: contain;
          }
        }
      }

      &[accordion-attr="details"] {
        p {
          margin-bottom: 0;
        }

        .product-description__code,
        .product-description__model {
          font-size: 13px;
          font-weight: 700;
        }
      }
    }

    // specs 
    .product-specification__item {
      .product-specification__info {
        background: none;
        border: 0px;
        padding: 15px 0px;
        font-weight: 700;
        font-size: 14px;
        text-align: left;
      }

      .product-specification__detail {
        padding: 15px 0px;
        text-align: right;
        font-size: 14px;
      }

      a {
        color: #484849;
      }

      &:last-of-type {
        border-bottom: 0px;
      }
    }
  }

  // Recommendations
  .#{$id}-recommendations {
    background: #F7F6F6;
    padding: 20px 0px;

    .#{$id}__sectionContainer {
      padding: 0;

      @media(min-width: 1024px) {
        padding-left: 30px;
       
      }
      @media(min-width: 1280px) {
        max-width: 1440px;
        margin: 0 auto;
        padding-left: 30px;
        padding-right: 30px;
      }
    }

    .#{$id}-swiperNext.swiper-button-next,
    .#{$id}-swiperPrev.swiper-button-prev {
      display: none;

      @media(min-width: 1024px) {
        display: block;
        position: relative;
        top: unset;
        bottom: unset;
        right: unset;
        left: unset;
        margin-top: 0;
      }
    }

    .#{$id}-recTop {
      @media(min-width: 1024px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-right: 30px;

        .arrows {
          display: flex;
          gap: 10px;
          flex-direction: row-reverse;
        }
      }
      @media(min-width: 1280px) {
        padding: 0;
      }
    }

    h3 {
      padding: 10px;
      margin-bottom: 10px;

      @media(min-width: 1280px) {
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left: 0;
      }

    }

    .swiper-scrollbar {
      background: #D7D2CB;
      height: 5px;
      width: auto;
      margin: 10px;
      box-sizing: border-box;
      bottom: 0;
      left: 0%;
      border-radius: 0px;
      position: relative;
      margin-top: 10px;
      margin-right: 0;
      left: unset;
      transform: unset;
      margin-left: 0;

      .swiper-scrollbar-drag {
        background: #DD261A;
      }
    }

    .#{$id}-recProducts {
      overflow: hidden;
      padding-left: 10px;
      margin-bottom: 10px;
      padding-right: 10px;
      position: relative;
      @media(min-width: 1024px) {
        padding-right: 30px;
      }
      @media(min-width: 1280px) {
        padding: 0;
      }


      .#{$id}-recSlide {
        background-color: white;
        border: 1px solid #D9D9D6;
        box-sizing: border-box;
        padding: 10px;
        position: relative;
        flex-shrink: 0;
        height: auto;

        >a {
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
        }

        .#{$id}-image {
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          height: 250px;
          margin-bottom: 10px;
        }

        .#{$id}-info {
          text-align: left;

          h2 {
            height: 80px;
            @media(min-width: 1280px) {
              font-size: 18px;
              height: 70px;
            }
          }

          p {
            font-weight: 700;
            font-size: 18px;
            line-height: 23px;
            color: #484849;
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;

            .was {
              font-size: 14px;
              color: #9E9E9E;
              margin-left: 10px;
            }

            .new-price {
              color: #8F0017;
            }
          }
        }
      }
    }
  }

  // reviews
  .#{$id}-reviewSection {
    .product-reviews {
      padding: 0px;

      @media(min-width: 1024px) {
        display: flex;
        flex-direction: column;
        padding-left: 30px;
        padding-right: 30px;
      }
      @media(min-width: 1280px) {
        max-width: 1440px;
      }
      &.no-reviews {
        .product-reviews__rating {
          display: none;
        }
        .product-reviews__overview__actions {
          @media(min-width: 767px) {
            display: block;
          }
        }
        .product-reviews__overview {
          @media(min-width: 1024px) {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }

    .product-reviews__overview {
      border: 0px;
      margin-bottom: 10px;


      select {
        border: 1px solid #9E9E9E;
        border-radius: 5px;
        height: 50px;
        margin-bottom: 0 !important;
        font-size: 14px;
      }
    }

    .product-reviews__overview__actions {
      justify-content: flex-start;
      flex-direction: unset;

      @media(min-width: 767px) {
        display: none;
      }
    }

    .product-reviews__overview__sort {
      display: none;
    }

    .product-reviews__rating {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 10px;
      border-bottom: 2px solid #D9D9D6;

      h3 {
        margin-bottom: 0;
      }

      @media(min-width: 767px) {
        justify-content: flex-start;
        width: 100%;
      }

      .#{$id}-ratingSummary {
        margin-right: 0;
        margin-left: auto;
      }

      .#{$id}-textLink {
        display: none;

        @media(min-width: 767px) {
          display: block;
          margin-left: 20px;
        }
      }

      .#{$id}-rating {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;

        @media(min-width: 767px) {
          margin-right: 0;
          margin-left: auto;
        }

        h2 {
          margin-bottom: 0;
        }

        span {
          margin-right: 10px;
          height: 20px;
          width: 20px;
          background: url('https://storage.googleapis.com/exp-app-storage/9191200e-b0b2-11ea-ad2a-8afcbfbc1b77/media/original/42e13cd0-081e-11ed-a64b-ba2e7cb65f50') no-repeat center;
          background-size: contain;
        }
      }

      .#{$id}-reviewamount {
        font-size: 12px;
        color: #484849;
      }

      .product-reviews__rating__review-star-rating,
      .product-reviews__rating__review-aggregate-rating {
        display: none;
      }
    }

    .product-reviews__reviews {
      .product-reviews__reviews__container {
        background: #F7F6F6;
        position: relative;
        border: 0px;
        padding: 20px 10px;

        @media(min-width: 767px) {
          display: flex;
          flex-direction: column;
        }


        .product-reviews__header.product-reviews__header--review-title {
          font-weight: 700;
          font-size: 14px;
          line-height: 18px;
          color: #212721;
          width: calc(100% - 120px);
        }

        .product-reviews__reviews__meta {

          .product-reviews__vote-mini,
          .product-reviews__reviews__recommend {
            display: none;
          }
        }

        .product-reviews__star-ratings {
          position: absolute;
          right: 0px;
          top: 15px;

          @media(min-width: 767px) {
            position: relative;
            top: unset;
            margin-bottom: 20px;
          }

          .product-reviews__star-rating-container {
            @media(min-width: 767px) {
              margin-bottom: 0;
            }
          }
        }

        .product-reviews__rating__review-star-rating--star-small {
          filter: sepia(30) saturate(10000%) hue-rotate(30deg);
          margin-bottom: 0;
        }

        .product-reviews__reviewer {
          display: none;
        }

        .product-reviews__reviews__author--header {
          font-weight: 700;
          font-size: 14px;
          color: #484849;
        }

        .product-reviews__reviews__date {
          font-weight: 300;
          font-size: 14px;
          color: #484849;
        }
      }
    }
  }

  // Slide out stock check
  .#{$id}-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgb(0 0 0 / 84%);
    z-index: 999;
    left: 0;
    top: 0;
    display: none;
    cursor: pointer;

    &.active {
      display: block;
    }
  }

  .#{$id}-slideOutTab {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: white;
    z-index: 999;
    padding: 20px;
    box-sizing: border-box;
    transform: translateX(1000px);
    opacity: 0;
    top: 0;
    overflow-x: auto;

    @media(min-width: 767px) {
      width: 40%;
      right: 0;
    }

    &.active {
      animation: SGslide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    &.closed {
      animation: SGslide-out-right 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    }
    h2 {
      border-bottom: 2px solid #9E9E9E;
      padding-bottom: 20px;
    }

  }

}
