@import './variables';

.#{$id} {
    &__show--desktop {
        display: none;

        @media(min-width:600px) {
            display: block;

        }
    }

    &__hide--desktop {
        display: inline-block;

        @media(min-width:600px) {
            display: none;

        }
    }

    &__fieldset-description.logged-in-customer-newsletter {
        &>.checkbox-wrapper {
            border: none;
            padding: 0;
            margin-top: 0;
        }
    }

    &__fieldset-description {
        position: relative;
        background-color: #F8F6F7;
        padding: 20px !important;

        &::before {
            display: none;
            position: absolute;
            content: '';
            height: 80px;
            top: 50%;
            right: 10px;
            transform: translate(0, -50%);
            background-image: url(https://cdn.shopify.com/s/files/1/0327/1498/1421/files/Sample_Header.png?v=1632476002);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;

            @media(min-width:600px) {
                display: block;
                width: 100px;
            }

            @media(min-width:992px) {
                display: none;
            }

            @media(min-width:1200px) {
                display: block;
                width: 120px;
                right: 34px;
            }
        }


        &>.checkbox__label {
            font-size: 14px;

        }
    }

    &__title {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 15px;

    }

    &__checkbox {
        display: flex !important;
        align-items: center;
    }

}