.MP121 {

  .MP121-messageWrapper {
    width: 100%;
    height: 55px;
    margin-top: 20px;

    .MP121-container {
      width: 100%;
      height: 100%;
      background-color: #B7C4D4;
      color: #FFF;

      a.MP121-message p {
        display: inline-block;
        width: 100%;
        line-height: 20px;
        font-size: 1em;
        font-weight: 400;
        text-align: center;
        padding-top: 9px;

        span#MP121-arrowLink {
          display: inline-block;
          background-image: url('https://dd6zx4ibq538k.cloudfront.net/static/images/4068/a554c3976de7a527f31318b8631475b4_64_64.png');
          background-size: 100%;
          background-repeat: no-repeat;
          width: 15px;
          height: 15px;
          position: relative;
          top: 3px;
          left: 2px;
          margin-left: 3px;
        }
      }
    }
  }

  @media screen and (min-width: 330px) and (max-width: 992px) {
    .MP121-messageWrapper {
      height: 40px;
    }
  }

  @media screen and (min-width: 993px) {
    .MP121-messageWrapper {
      height: 40px;

      a.MP121-message p {
        font-size: 1em !important;
      }
    }
  }
}