@import './variables';

.#{$id} {
    .hero-banner {
        .hero-banner__image-container {
            display: none;
        }
    }
    .#{$id}-heroBanner {
        display: block;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1 / 2;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1 / 2;
        .#{$id}-bannerLink {
            display: block;
            width: 100%;
            height: 100%;
        }
        @media(min-width: 720px) {
            grid-column: 1 / 4;
            grid-row: 1 / 2;
            margin-bottom: 0;
        }
    }
}
