@import './variables';

.#{$id} {

  .cartSlider {
    ul li.MP181-hasImg {
      a {
        padding: 10px 0 !important; 
        img {
          max-width: 45px;
          height: auto;
          display: inline-block;
          margin-right: 8px;
        }
      }
    }
  }

  .nav_group li a::after {
    top: 40%;
  }

  a.MP181-viewAll {
    line-height: 24px;
    font-size: 16px;
    padding: 25px 0;
    margin: 0 20px;
    display: block;
    border-bottom: 1px solid #efefef;
    &:after {
      position: absolute;
      right: 20px;
      font-family: mamaspapasIcon;
      content: '\E93C';
    }
    &+.nav_group.px-3 {
      padding-top: 0;
    }
  }

}
