@import './variables';

.#{$id}-1 {
  ._0y0bx3 {
    display: none;
  }

  [data-qaid='pdp_sticky_product_footer'] {
    @include media-query(sm) {
      flex-wrap: wrap;
      background-color: #f6f6f6;
      box-shadow: 0px -4px 4px 0px #00000040;

      .B0cNMq {
        width: calc(100% - 60px);
        .JUUTxE.SE4WBx {
          display: none;
        }
      }
    }
  }

  .#{$id}__clickAndCollectText {
    width: 100%;
    max-width: 320px;
    margin: 12px auto;
    padding: 10px 12px;
    text-align: center;
    background-color: #f6f6f6;
    @include media-query(lg) {
      max-width: 100%;
    }
    @include media-query(sm) {
      order: 4;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    .text-main {
      font-size: 18px;
      font-family: screwfix_betabold;
      font-weight: 700;
      line-height: 1.3;
      color: #636363;
    }
    .text-main-green {
      color: #2f8f1c;
    }

    .text-secondary {
      font-size: 12px;
      font-family: Inter;
      font-weight: 400;
      line-height: 1.3;
      color: #636363;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &__clickAndCollectBtn {
    &-grandParent {
      display: grid;
      //flex-direction: column;
      grid-template-columns: 1fr;
      gap: 12px;

      @include media-query(lg) {
        grid-template-columns: 1fr 1fr;
      }

      & > div {
        width: 100%;
      }
    }
    &-parent {
      order: -2;
      margin-bottom: 0;

      & + .JUUTxE.SE4WBx {
        margin-top: 0;
      }
    }
  }

  &__deliveryBtn-parent {
    order: -1;
  }
}

.#{$id}-2 {
  .#{$id}__clickAndCollectText {
    width: 100%;
    max-width: 320px;
    margin: 12px auto;
    padding: 10px 12px;
    text-align: center;
    background-color: #f6f6f6;
    @include media-query(lg) {
      max-width: 100%;
    }
    @include media-query(sm) {
      order: 4;
      margin-bottom: 0;
    }

    .text-main {
      font-size: 18px;
      font-family: screwfix_betabold;
      font-weight: 700;
      line-height: 1.3;
      color: #636363;
    }
    .text-main-green {
      color: #2f8f1c;
    }

    .text-secondary {
      font-size: 12px;
      font-family: Inter;
      font-weight: 400;
      line-height: 1.3;
      color: #636363;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
