@import './variables';

.#{$id} {

  .detail-page__right-column .product-summary .product-price  .product-price-offer {
    display: none;
  }
  .#{$id}-watchBanner {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  &.hsamuel {
    // HS-specific styles
  }

  &.ernestjones {
    // EJ-specific styles
  }
}
