@import './scss/RC030-RC019v2.scss';
.RC030{
    #js-header{
        opacity: 0 !important;
    }
    #colorbox {
        position: fixed;
    }
    .RC030-popular{
        text-align: center;
    }
    .rc30-icon{
        height: 27px;
        width: 31px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        display: inline-block;
        vertical-align: middle;
        }
        .rc30-icon.rc30-babyChild_icon{
            background-image: url('//useruploads.visualwebsiteoptimizer.com/useruploads/286844/images/2866f352cd16acfa4bb619b16bf7367a_firstaidbabyandchild.png');
            display: inline-block;
            margin-bottom: 10px;
        }
        .rc30-icon.rc30-firstaidwork_icon{
            background-image: url('//useruploads.visualwebsiteoptimizer.com/useruploads/286844/images/d67dc870f8e9b01ec082f63b4945f814_firstaidwork1.png');
            
        }
        .rc30-icon.rc30-firstaidwork2_icon{
            background-image: url('//useruploads.visualwebsiteoptimizer.com/useruploads/286844/images/d9bf8380f14a2ab77cf83d5bdc4c43bb_firstaidwork2.png');

        }
        .rc30-icon.rc30-paediatric_icon{
            background-image: url('//useruploads.visualwebsiteoptimizer.com/useruploads/286844/images/103067520d279e07fc75b0541022534f_firstaidpaed.png');
        }
        .rc30-icon.rc30-firstaidadult_icon{
            background-image: url('//useruploads.visualwebsiteoptimizer.com/useruploads/286844/images/b839abc5b56ed38c6b012b1bb25a22b4_firstaidadult.png');
            margin-bottom: 10px;
        }
        .rc30-icon.rc30-firstaidrefresh_icon{
 
            background-image: url('//useruploads.visualwebsiteoptimizer.com/useruploads/286844/images/d5c1325c20cce8b62942b72be9cf43f3_refresh.png');
        }
        .rc30-icon.rc30-firstaidcertificate_icon{
          
            background-image: url('//useruploads.visualwebsiteoptimizer.com/useruploads/286844/images/986f6819ac7c8d6023dd553f8cd3e499_certificate.png');
        }
        .rc19-coursepoints span {
            display: inline-block;
            vertical-align: middle;
            width: 80%;
            margin-left: 10px;
        }
        #workcourse1 .rc19-coursepoints li, 
        #workcourse2 .rc19-coursepoints li,
        #workcourse3 .rc19-coursepoints li,
        #workcourse4 .rc19-coursepoints li{
            background: none;
            padding: 0px;
        }
   &.RC030all{
       .main-content h1{
           display: none;
       }
        .RC030-topcontent{
            position: relative;
        }
        .rc19-courseLink{
            width: 48%;
        }
        .RC030-topcontent > h3{
            color: #98192a;
            font-size: 1.25em;
            font-weight: bold;
        }
        .RC030-toptext p {
            margin-bottom: 6px;
        }
        .RC030-popular > h3 {
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            color: #373737;
            text-align: left;
        }

        .rc30-bullets span {
            display: inline-block;
            vertical-align: middle;
            width: 80%;
            margin-left: 10px;
        }

        #allcourse1 .rc30-bullets ul li,
        #allcourse2 .rc30-bullets ul li,
        #allcourse5 .rc30-bullets ul li,
        #allcourse6 .rc30-bullets ul li{
            background: none;
            padding: 0px;
        }
        /*Icons*/

        

        @media(min-width:700px){
            .rc19-popularcourse h3{
                font-weight: bold;
                text-align: left;
            }
            .rc19-popularcourse .rc19-popcontent {
                height: 435px;
            }
            .RC030-toptext{
                width: 50%;
                display: inline-block;
            }
            .RC030-allReview {
                width: 50%;
                display: inline-block;
                vertical-align: top;
            }
            .rc19-courseLinks{
              vertical-align: unset;
            }
        }
        @media(min-width:900px){
        
            .rc19-allbullets {
                width: 100%;
            }

            .rc19-popularcourse .rc19-popcontent {
                height: 465px;
            }
        }
    }
}