@import './variables';

.#{$id} {
  #hero {
    height: 290px;

    &.title-bg {
      background: #8584AA;
      padding-top: 85px;
    }
  }

  .branch-details {
    min-height: 0;
    margin-top: 0;
    padding: 15px;
    max-width: 430px;
    float: right;

    h2 {
      display: inline-block;
      border-bottom: 4px solid white;
      padding: 0 5px 5px 0;
    }

    a {
      text-decoration: underline;
      color: white;
    }

    .#{$id}_phoneNumber {
      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  #map {
    .map-stamp {
      display: none;
    }

    .lead-media-container {
      margin-top: 0;
    }
  }

  .#{$id}_phoneNumber {
    strong.phone_ctp {
      font-size: 22px;
    }
  }

  .#{$id}_additionalDetails {
    margin: 30px 0;
  }

  .#{$id}_branchAddressSection {
    font-size: 0;
    
    .wpsl-locations-details {
      margin: 0;
    }
  }
  
  .#{$id}_branchAddress {
    width: 50%;
    display: inline-block;
    font-size: initial;
    vertical-align: top;
    margin: 20px 0;
  }

  .#{$id}_mapsAddressSearch {
    width: 50%;
    display: inline-block;
    font-size: initial;
    vertical-align: top;
    margin: 20px 0;

    > p {
      vertical-align: middle;
      font-weight: 600;
      display: inline-block;
      margin: 0;
      width: calc(100% - 45px);
      max-width: 135px;
    }

    > a > img {
      max-width: 40px;
      max-height: 40px;
      vertical-align: middle;
    }
  }

  @media screen and (max-width: 991px) {
    #hero {

      &.title-bg {
        padding-top: 0;
        height: 150px;
      }
  
      .branch-details {
        display: none;
      }
    }

    .#{$id}_branchAddress,
    .#{$id}_mapsAddressSearch {
      width: 100%;
      max-width: 300px;
      display: block;
      margin: 30px 0;
    }

    .#{$id}_mapsAddressSearch {
      > p {
        max-width: 140px;
      }
    }

    .#{$id}_phoneNumber {
      margin: 0 0 10px 0;
    }
  }
}
