@import './variables';

.#{$id} {
    .#{$id}-similiarBlock {
        padding: 10px;
        margin-bottom: 10px;
        background: #f3f3f3;
        h3 {
            text-transform: uppercase;
            color: #000;
            font-size: 16px;
            color: black;
            padding-left: 5px;
            position: relative;
            
            @media(min-width: 767px) {
                font-size: 20px;
            }
        }
        .#{$id}-similiarItems {
            display: flex;
            flex-wrap: wrap;
            .#{$id}-similiarButton {
                //background: #f3f3f3;
                //border: 1px solid #ccc;
                //padding: 5px;
                position: relative;
                border-radius: 8px;
                margin: 8px;
                color: black;
                //width: 46%;
                font-size: 14px;
                font-weight: 200;
                //text-decoration: underline;
                text-transform: capitalize;
                //border-bottom: 2px solid #10baf4;
                span {
                   border-bottom: 1px solid #10baf4;
                }
                @media(min-width: 375px) {
                    font-size: 15px;
                }
                @media(min-width: 767px) {
                    margin: 10px;
                }

                &:hover {
                    text-decoration: none;
                    span {
                        border-bottom: 1px solid black;
                    }
                }

            }
        }
       @media(min-width: 767px) {
        margin-bottom: 30px;
       }
       @media(min-width: 1024px) {
        background: none;
        .#{$id}-wrap {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            justify-content: center;
            max-width: 1024px;
            margin: 0 auto;
            padding: 30px;
            border-top: 1px solid #eaeaea;
            border-bottom: 1px solid #eaeaea;
            h3 {
                margin-bottom: 20px;
                margin-top: 0;
                margin-right: 10px;
                font-size: 20px;
            }
            .#{$id}-similiarButton {
                font-size: 16px;
                margin-left: 15px;
                margin-right: 15px;

            }
        }
       }
    }
}
