.MP098 {
  /**** Video Player ****/

  .mp98-video-thumb {
    position: relative;

    .fa {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .slick-track video {
    background: #000;
    padding: 30px 0;
    border-bottom: 20px solid #fff;
  }

  /**** Sku detail ****/

  .mp98-sku {
    margin-bottom: 20px;
  }

  /**** Collapser ****/

  .mp98-do-collapse {
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 15px;

    p {
      display: none !important;  
    }

    .deliveryinfopanel {
      ul li {
        line-height: 1.5em;
        margin-bottom: 10px;
      }

      p {
        display: block;
      }
    }

    .tabHead {
      display: none;
    }

    .tabBody {
      max-height: 150px;
      overflow: hidden;
    }

    &:after {
      position: absolute;
      bottom: 0;
      content: "";
      display: block;
      width: 100%;
      height: 30px;
      background: linear-gradient(transparent, #fff);
    }
  }

  .mp98-do-collapse-link {
    clear: both;

    a {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  /* Mobile product details */

  &.MP077 .productDetail .pb-2 {
    @media(max-width: 767px) {
      display: none;
    }
  }

  .productDetail .details-product-mobile {
    @media(max-width: 767px) {
      display: none;
    }
  }
}
