@import './variables';

.#{$id} {

  
  
  .SD-309-basket-countdown {
    width: 100%;
    float: left;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    background:#D7E1ED;
    padding: 10px;
    justify-content: space-between;

    @media all and (max-width: 992px) {
      margin-bottom: 20px;
    }

    @media all and (max-width: 767px) {
      padding: 2px 10px;
    }

    .SD-309-ndd-info-holder {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: calc(100% - 120px);

      @media all and (max-width: 1020px) {
        justify-content: center;
      }

      @media all and (max-width: 767px) {
        width: calc(100% - 80px);
      }

      h2 {
        border: none;
        padding: 0;
        line-height: 14px;
        font-size: 13px;
        text-transform: uppercase;
        color: #000;
        text-align: left;
        margin-bottom: 5px;
        font-family: 'GTAmerica-ExtendedBold', Arial, Helvetica, sans-serif;
      }

      p {
        margin-bottom: 0;
        text-align: left;
        color: #000;
        font-size: 13px;
        font-family: 'GTAmerica-Regular', Arial, Helvetica, sans-serif;
        line-height: 14px;
      }

      .#{$id}-preordertext {
        margin-top: 5px;
        font-size: 9px;
      }

    }

    .SD-309-ndd-countdown-holder {
      width: 80px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      svg {
        margin-top: 8px;
        margin-bottom: 5px;
      }

      .SD-309-countdown-item {
        min-width: 60px;
        text-align: center;
        font-family: 'GTAmerica-ExtendedBold', Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: #000;
        line-height: 16px;
      }

    }

  }

  #divBagItems .SD-309-basket-countdown {
    padding: 10px;
  }

  &.SD-309-2 {


    .SD-309-basket-countdown {
      background: none;
      flex-direction: column;
      padding: 0;
      margin: 10px 0;

      h2 {
        font-size: 13px;
        margin-bottom: 7px;
      }
    }

    .SD-309-ndd-countdown-track {
      display: flex;
      width: 100%;
      background: #fff;
      height: 10px;
      overflow: hidden;
      margin-bottom: 7px;

      .SD-309-elapsed-time {
        background: #D9D9D9;
      }

      .SD-309-time-to-go {
        background: #1200F1;
      }
    }

    .SD-309-ndd-countdown-holder {
      width: 100%;
    }

    .SD-309-countdown-item {
      color: #1900F1;
      font-size: 13px;
    }

  }

  .#{$id}-basket-countdown-outer {

    
    display: flex;
    width: 100%;
    

    &.mini-bag {
      padding: 0 0 20px;

      .#{$id}-basket-countdown {
        margin: 0;
      }
    }

    &.cart {
      
      

      @media all and (max-width: 1600px) {

        .#{$id}-basket-countdown {
          align-items: center;
          justify-content: center;
        }

        .#{$id}-basket-countdown {
          padding: 5px 10px;
        }
  
      }

      @media all and (max-width: 1020px) {
        
        align-items: center;
          justify-content: center;

      }

      @media all and (max-width: 767px) {
        
        margin-bottom: 20px;
        margin-top: 10px;

        .#{$id}-basket-countdown {
          max-width: 100%;
          margin-bottom: 0;
        }
      }

    }

    @media all and (max-width: 450px) {
      padding: 0;
    }
  }

}