@import './variables';

.#{$id} {
    
    .BD003-error {
        display: block;
        clear: both;
        width: 100%;
        float: left;
        padding: 10px;
        border: 1px solid #FF9494;
        border-radius: 1px;
        @media only screen and (max-width: 479px) {
            margin-top: 20px;
        }
    }

}
