@import './variables';

.#{$id} {
    &__promo-message {
        margin-top: 30px;
        font-weight: 400;
        font-size: 12px;
        text-align: center;
        color: #ffffff;
        background-color: #702383;
        height: 33px;
        line-height: 33px;
        margin-left: -30px;
        margin-right: -30px;
        @media all and (max-width: 993px) {
            margin-left: -20px;
            margin-right: -20px;
        }
        // @media all and (min-width: 501px) {
        //     margin-left: -16px;
        //     margin-right: -16px;
        // }
        // @media all and (min-width: 700px) {
        //     display: none;
        // }

        & span {
            font-weight: 700;
        }
    }

    &__discount-field {
        border: 1px solid #702383; 
    }

    .order-summary-toggle__dropdown {
        margin-left: 13px;
    }

    .order-summary-toggle__text {
        @media all and (max-width: 400px) {
            font-size: 13px;
            white-space: nowrap;
        }
        @media all and (max-width: 361px) {
            font-size: 11px;
            white-space: nowrap;

            & > svg {
                margin-left: 5px;
            }
        }
    }

    // &__summaryWrap {
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    // }

    &__purple {
        color: #702383;
    }
}
