.HD018 {
  .HD018-messageWrapper {
    width: 100%;

    &.hidden {
      display: none;
    }

    .HD018-messageContainer {
      width: 100%;
      border: 1px solid #F2F3F5;
      padding: 20px;
      font-size: 12px;
      line-height: 20px;
      margin-top: 15px;

      div.HD018-message__top {
        font-weight: 500;
        margin-bottom: 4px;
      }
    }
  }

  // Basket on Checkout Page
  .HD018-basketMessageWrapper {
    width: 100%;

    .HD018-basketMessageContainer {
      display: block !important;
      width: 100%;
      border: 1px solid #F2F3F5;
      padding: 20px;
      font-size: 12px;
      line-height: 20px;

      .HD018-message__top, .HD018-message__why {
        font-weight: 500;
        margin-bottom: 15px;
      }
      .HD018-message__list {
        ul {
          list-style: none;
          padding-left: 6px;
          line-height: 26px;

          li.list-item {
            display: inline-block;
            position: relative;
            &:before {
              display: inline-block;
              content: '';
              background-image: url('//useruploads.visualwebsiteoptimizer.com/useruploads/332107/images/7851b85aeedb68a9397b8e7587ee3983_check-symbol_%281%29.png');
              background-repeat: no-repeat;
              background-size: 100%;
              width: 12px;
              height: 12px;
              position: absolute;
              left: -23px;
              top: 7px;
            }
          }
        }
      }
      .HD018-message__link {
        width: 100%;
        text-align: center;
        
        a {
          font-weight: 400;
          font-size: 14px;
        }
      }
    }
  }

  @media screen and (max-width: 450px) {
    tbody {
      tr {
       border-bottom: none;
      }

      .HD018-basketMessageWrapper {
        width: 100%;
      }
    }
  }
}