@import './variables';

.#{$id} {
  .ProductListItem {
    // Product CTA
    a.Button span {
      font-family: 'Roboto', 'Lato', 'Arial', 'Gotham', 'Helvetica Neue', 'Helvetica', 'sans-serif' !important;
      font-style: normal;
    }

    // Product badging
    .#{$id}_badging {
      border: 1px solid #333;
      padding: 7px 2px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 5px;
      color: #333;
    }
  }

  &.Layout_Phone {
    .#{$id}_badging {
      font-size: 1rem;
    }
  }
}
