/* Add some styles to get started */
.PJ015{
  .PJ015-lightbox{
    .PJ015-lightboxfade{
      position: fixed;
      height: 100%;
      background: rgba(255, 255, 255, 0.8);
      width: 100%;
      top: 0;
      display: none;
      &.PJ015-lightbox-fade_active{
        display: block;
      }
    }
    .PJ015-lightbox_wrapper{
      display: none;
      position: fixed;
      background: white;
      border: 1px solid #ccc;
      width: 300px;
      z-index: 9999;
      height: auto;
      padding: 5px;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      box-shadow: 0px 1px 1px 0px #7d7c7c;
      .PJ015-lightbox-content{
        position: relative;
        text-align: center;
      }
      .PJ015-bannerImage{
        height: 165px;
        width: 100%;
        background-image: url('https://dp8v87cz8a7qa.cloudfront.net/43831/5ba9ef292486d1537863465.jpg');
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
      }
      &.PJ015-lightbox_active{
        display: block;
      }
      .PJ015-lightboxExit {
        position: absolute;
        background: white;
        height: 18px;
        width: 18px;
        z-index: 999;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        right: -4px;
        top: -12px;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        line-height: 15px;
        padding: 9px;
        cursor: pointer;
        box-shadow: 0px 0px 1px 0px #7d7c7c;
      }
      .PJ015-voucher_button {
        background: #009675;
        display: block;
        width: 31%;
        margin: 0 auto;
        text-decoration: unset;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 10px;
        span{
          color: #fff;
          font: bold 18px 'Open Sans Condensed',sans-serif;
          line-height: 36px;
          height: 36px;
        }
      }
    } 
  }
  @media(min-width:769px){
    .PJ015-lightbox{
      .PJ015-lightbox_wrapper{
        width: 550px;
        .PJ015-bannerImage{
          height: 300px;
        }
        .PJ015-voucher_button{
          width: 40%;
          padding: 7px;
        }
        .PJ015-lightboxExit{
          right: -9px;
          top: -12px;
          text-align: center;
          font-size: 25px;
        }
      }
    }
    .PJ015-smallPrint {
      font-size: 11px;
      font: 15px 'Open Sans Condensed',sans-serif;
      margin-bottom: 5px;
      display: none;
    } 
  }
  &.PJ015v2{
    @media(min-width:767px){
      .PJ015-checkout{
        float: right;
        display: inline-block;
        margin-top: 40px;
        margin-left: 30px;
        background-color: #0f9675;
        border-radius: 10px;
        .PJ015-checkout-button{
          display: inline-block;
          text-transform: uppercase;
          color: #fff;
          cursor: pointer;
          font: bold 18px 'Open Sans Condensed',sans-serif;
          line-height: 36px;
          height: 36px;
          text-decoration: none;
          padding: 0 6px;
          text-align: center;
          padding-left: 15px;
          padding-right: 15px;
        }
        &.PJ015-newButton_hide{
          display: none;
        }
        &:hover{
          background: #097c60;      
        }
      }
      .greenButton.PJ015-basketHidden{
        display: none;
      }
      .PJ015-smallPrint {
        font: 15px 'Open Sans Condensed',sans-serif;
        margin-bottom: 5px;
        display: block;
      }
      .PJ015-checkout_basket{
        margin-top: 20px;
        display: inline-block;
        height: 36px;
        .PJ015-checkoutbasket-button{
          background-color: #0f9675;
          display: inline-block;
          text-transform: uppercase;
          color: #fff;
          font: bold 18px 'Open Sans Condensed',sans-serif;
          line-height: 36px;
          height: 36px;
          text-decoration: none;
          padding: 0 6px;
          text-align: center;
          padding-left: 12px;
          border-radius: 8px;
          padding-right: 12px;
          cursor: pointer;
          &:hover{
            background: #097c60;      
          }
        }
        &.PJ015-newButton_hide{
          display: none;
        }
      }
    }
  }
}