@import './variables';

.#{$id}.#{$id}-experiment-begins {

  #estore_productpage_template_container {
    margin: 0 auto;
    max-width: unset;
  }
  #estore_pdp_blcol,
  #estore_pdp_bottomsec_2,
  .row.template_row_spacer,
  #richRelevanceContainer,
  #widget_breadcrumb,
  #estore_pdp_topsec {
    display: none;
  }
  .#{$id}-row {
    @media(min-width: 601px) {
      display: flex;
      flex-direction: row;
      gap: 20px;
      align-items: stretch;
      justify-content: space-evenly;
    }
    @media(min-width: 1280px){
      align-items: center;
    }
  }

  .#{$id}-image {
    height: 300px;
    @media(min-width: 767px) {
      height: 350px;
    }
    .#{$id}-imgBg {
      background-position: center;
      background-size: cover;
      height: 100%;
    }
  }

  .#{$id}-overlay {
    position: fixed;
    z-index: 9;
    background: rgba(60, 60, 60, 0.69);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    cursor: pointer;
    display: none;
    &.show {
      display: block;
    }
  }

  /* Above fold */
  .#{$id}-aboveFold {
   
    .#{$id}-container {
      padding: 0px;
      @media(min-width: 601px) {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        max-width: 1440px;
      }
     
    }

    .#{$id}-mainImageCarousel {
      @media(min-width: 601px) {
       width: 50%;
       flex-shrink: 0;
       flex-grow: 1;
      }
      @media(min-width: 1024px) {
        flex-grow: unset;
      }
      @media(min-width: 1280px) {
        width: 60%;
      }
    }

    .estore_adcard_points_to_earn_widget,
    #estore_product_promotions,
    .qty_errorMax.qty_errorMax_redesign {
      display: none;
    }

    .redesign-promotionLink #estore_product_promotions {
      display: block;
    }

   .pdp-promotion-redesign {
      width: fit-content;
      max-width: 100%;
    }

    #estore_pdp_trcol {
      @media(min-width: 601px) {
        float: none;
        max-width: unset;
        width: 100%;
      }

    }

    
    #estore_pdp_image {
      padding-right: 0;
    }

    #s7viewer_setIndicator {
      display: none;
    }

    .mobileSviewer #s7viewer {
      padding-bottom: 90px !important;
      @media(min-width: 414px) {
        padding-bottom: 100px !important;
      }

      .s7swatches {
        bottom: -90px !important;
      }
    }
    #estore_pdp_image {
      @media(min-width: 601px) {
        width: 100%;
      }
      @media(min-width: 1280px) {
        width: 60%;
        margin: 0 auto;
      }
    }

    .favouritesPDP-container {
      @media(min-width: 1024px) {
        right: -60px;
      }
    }
    .pdp_roundel_section {
      z-index: 9;
      @media(min-width: 1024px) {
        left: -60px;
      }
    }

    #estore_product_image_widget .s7zoomviewer {
      @media(min-width: 414px) {
        width: 100% !important;
        height: 100% !important;
        float: none;
      }
    }

    // Points
    .#{$id}-product-points {
      display: flex;
      flex-direction: row;
      padding: 5px 10px;
      border: 1px solid #E41B68;
      position: absolute;
      top: -5px;
      background-color: white;
      left: 0;
      align-items: center;
      border-top-right-radius: 8px;
      border-left: 0px;
      z-index: 9;
      @media(min-width: 601px) {
        position: relative;
        top: unset;
        border-left: 1px solid #E41B68;
        background-color: transparent;
        border-bottom-left-radius: 8px;
        max-width: 270px;
        margin-bottom: 10px;
        width: max-content;
      }
      @media(min-width: 1024px) {
        margin-top: 30px;
      }

      .points-icon {
        height: 24px;
        width: 24px;
        margin-right: 5px;
        background: url('https://boots.scene7.com/is/image/Boots/Advantage%20Card%20Tilted?scl=1&fmt=png-alpha') no-repeat center;
        background-size: contain;
      }

      span {
        color: #E41B68;
        font-size: 13px;
      }

      @media(min-width: 768px) {
        span {
          font-size: 14px;
        }
      }
    }

    .details.details_redesign {
      font-size: 12px !important;
    }

    #NDDCountdownContainer {
      margin-top: 10px;
    }


    .#{$id}-addSection {
      background: #F8F8F8;
      padding: 40px 10px;
      padding-bottom: 10px;
      position: relative;
      font-family: Boots Sharp, Arial, sans-serif;
      box-sizing: border-box;
      @media(min-width: 601px) {
        width: 50%;
        padding: 20px;
      }
      @media(min-width: 767px) {
        width: 45%;
      }
      @media(min-width: 1280px) {
        width: 40%;
        padding: 30px;
      }
     


      .#{$id}-intro {
        display: none;
        @media(min-width: 601px) {
          display: block;
          margin-top: 15px;
          margin-bottom: 15px;
        }
      }

      #estore_product_title {
        padding-bottom: 0;
        margin-top: 10px;

        h1 {
          font-family: Boots Sharp, Arial, sans-serif;
          font-weight: 400;
          font-size: 20px;
          color: #333333;
          text-align: left !important;
          @media(min-width: 1024px) {
            font-size: 24px !important;
          }

          span {
            display: block;
            font-size: 18px;
            font-weight: 300;
            letter-spacing: 4px;
            line-height: 1.44;
            color: #05054B;
            text-transform: uppercase;
          }
        }
      }



      // Review amount - top
      [data-bv-show="rating_summary"] .bv_main_container {
        background: transparent !important;

      }

      .bv_avgRating_component_container,
      .bv_button_buttonMinimalist {
        display: none !important;
      }

      .bv_stars_component_container {
        padding-right: 5px !important;
      }

      .bv_numReviews_text {
        font-weight: 400 !important;
        font-size: 13px !important;
        font-family: Boots Sharp, Arial, sans-serif !important;
      }

      #estore_product_price_widget {
        .price.price_redesign {
          font-weight: 700;
          font-size: 23px !important;
          font-family: Boots Sharp, Arial, sans-serif;
        }
      }

      .shopperActions {
        padding-left: 0;
       
      }

      .pdp_shopperActions_redesign .button.primary_redesign {
        top: 37px !important;
      }

      .quantity_section_redesign {
        height: 40px;
      }
      .quantity_section_redesign > .quantity_input_redesign {
        height: 40px;
      }
      .plus_quantity,
      .minus_quantity_redesign {
        height: 40px;
        line-height: 40px;
        color: white;
      }
      .quantity_label {
        font-size: 13px;
        text-align: center;
        position: relative;
        top: 12px;
      }

      #add2CartBtn {
        height: 40px;
        line-height: 40px;
        font-family: Boots Sharp, Arial, sans-serif;
        text-transform: uppercase;
        background: #05054B;
        display: flex;
        border: 1px solid #05054B;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        transition: all .4s ease-in-out;
        @media(min-width: 1024px) {
          &:hover {
            background: white;
            color: #05054B;
          }
        }

        .button_text {
          font-weight: 700;
          font-size: 14px;
        }
      }

      .findStore {
        margin-left: 0;
        margin-top: 10px;
        margin-bottom: 10px !important;
        text-align: left;
        height: auto;
        width: auto;
        clear: both;
        line-height: unset;
        @media(min-width: 767px) {
          margin-top: 15px;
        }
        @media(min-width: 1280px) {
          margin-top: 20px;
          margin-bottom: 20px !important;
        }

        .findStoreIcon {
          display: none;
        }

        .findStoreIconContent {
          padding-left: 0;
          font-size: 14px;
        }
      }

      // paypal
      .payPal3PDPMessage {
        margin-top: 20px !important;
       @media(min-width: 601px) {
        padding-top: 0;
       }
      }
    }
  }

  // reviews
  #estore_pdp_bottomsec_3,
  #estore_pdp_bottomsec_5 {
    max-width: 1325px;
    margin: 0 auto;
    float: none;
  }


  /* Below fold */
  .#{$id}-container {
    padding: 10px;
    box-sizing: border-box;
    @media(min-width: 1024px) {
      padding: 20px;
    }
    @media(min-width: 1280px) {
      max-width: 1325px;
      margin: 0 auto;
    }

    h3,
    h4,
    p,
    span,
    li {
      font-family: Boots Sharp, Arial, sans-serif;
    }

    #productId {
      font-weight: 400;
    }
    h3 {
      font-weight: 400;
      font-size: 18px;
      color: #333333;
      line-height: 24px;
      @media(min-width: 1280px) {
        font-size: 24px;
        line-height: 32px;
      }
    }

    h4 {
      font-size: 18px;
      font-weight: 300;
      letter-spacing: 4px;
      line-height: 1.44;
      color: #05054B;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 30px;
     
      @media(min-width: 1280px) {
        font-size: 22px;
        margin-bottom: 40px;
      }
    }

    p,
    li {
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
      color: #333333;
      @media(min-width: 1024px) {
        line-height: 26px;
      }
    }

    .#{$id}-image {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .#{$id}-cta {
    font-weight: 700;
    font-size: 14px;
    color: #05054B;
    background: white;
    border: 1px solid #05054B;
    text-transform: uppercase;
    height: 40px;
    border-radius: 5px;
    letter-spacing: 1px;
    max-width: 200px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    padding: 9px 20px;
    padding-top: 10px;
    box-sizing: border-box;
    font-family: Boots Sharp, Arial, sans-serif;
    display: block;
    text-align: center;
    cursor: pointer;
    &:hover {
      transition: all .4s ease-in-out;
      background: #05054B;
      color: white;
    }
    @media(min-width: 768px) {
      margin-top: 30px;
    }
  }

  .#{$id}-details,
  .#{$id}-uspSection,
  .#{$id}-video,
  .#{$id}-fullWidthBanner,
  .#{$id}-recommendations {
    margin-top: 30px;
    margin-bottom: 30px;
    @media(min-width: 601px) {
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }

  .#{$id}-details {

    h3 {
      margin-bottom: 10px;
    }

    h4 {
      margin-bottom: 40px;
      @media(min-width: 1024px) {
        margin-bottom: 60px;
      }
    }

    .#{$id}-image {
      margin-bottom: 30px;
      position: relative;
      @media(min-width: 601px) {
        flex-grow: 1;
        margin-bottom: 0;
      }
      @media(min-width: 1280px) {
        height: 450px;
      }

      &::before {
        content: "";
        position: absolute;
        right: -10px;
        top: -10px;
        background: #F8F8F8;
        height: calc(100% + 20px);
        width: 90%;
        z-index: -1;
        @media(min-width: 601px) {
          left: -10px;
          right: auto;
        }
        @media(min-width: 1280px) {
          left: -200px;
          width: 800px;
          top: -15px;
          height: calc(100% + 30px);
        }
      }
    }

    .#{$id}-description {
      @media(min-width: 601px) {
        padding: 20px;
        width: 40%;
        flex-shrink: 0;
      }

      p {
        margin-bottom: 10px;
      }
    }

    ul {
      padding-left: 0;
      margin-top: 15px;
      list-style: none;

      li {
        margin-bottom: 20px;
        padding-left: 20px;
        position: relative;

        &::before {
          content: "•";
          position: absolute;
          color: #05054B;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          font-size: 20px;
        }

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }

  .#{$id}-uspSection {

    .#{$id}-container {
      padding: 0;
      position: relative;
      @media(min-width: 1024px) {
        padding: 20px;
      }

      &::before {
        content: "";
        position: absolute;
        background: #F8F8F8;
        height: 50%;
        width: 90%;
        left: 0;
        top: 19%;
        @media(min-width: 601px) {
         right: 0;
         left: auto;
        }
        @media(min-width: 1280px) {
          display: none;
        }
      }
    }

    .#{$id}-usps {
      display: flex;
      overflow-x: auto;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: nowrap;
      padding: 10px;
      gap: 15px;
      @media(min-width: 601px) {
       gap: 25px;
      }
      @media(min-width: 1024px){
        justify-content: center; 
        overflow: visible;
        flex-wrap: wrap;
        gap: 20px;
        padding: 0;
      }

      @media(min-width: 1280px) {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          background: #F8F8F8;
          height: 50%;
          top: -15px;
          right: -200px;
          width: 800px;
          height: calc(100% + 30px);
        }
      }
    }

    .#{$id}-productUSP {
      flex-shrink: 0;
      box-sizing: border-box;
      width: 290px;
      position: relative;
      @media(min-width: 601px) {
        width: 320px;
      }
      @media(min-width: 1024px){
        width: 31%;
      }
      @media(min-width: 1280px) {
        overflow: hidden;
        //cursor: pointer;
      }

      .#{$id}-image {
        height: 250px;
        @media(min-width: 1280px) {
         height: 350px;
        }
      }

      .#{$id}-content {
        position: relative;
        @media(min-width: 1280px) {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         background: #FFEDDC;
          padding: 20px;
          transition: all 0.5s;
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          transform: translateY(100%);
          box-sizing: border-box;
          text-align: center;
        }
        
      }

      h3 {
        background: #FFEDDC;
        text-align: center;
        padding: 10px 20px;
        margin-bottom: 10px;
        margin-top: -20px;
        font-size: 14px;
        @media(min-width: 1280px) {
          width: 90%;
          padding: 10px;
          font-size: 18px;
          margin-bottom: 0;
          position: absolute;
          bottom: 0px;
        }
      }
      p {
        margin-top: 15px;
      }

      span {
        font-weight: 500;
        display: block;
        margin-top: 5px;
        @media(min-width: 601px) {
          margin-top: 15px;
        }
      }

      @media(min-width: 1280px) {
        &:hover {
          .#{$id}-content {
            transform: translateY(0%);
          }
        }
      }

    }
  }

  .#{$id}-video-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    z-index: 99;
    display: none;
    @media(min-width: 767px) {
      width: 50%;
    }
    &.show {
      display: block;
    }
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .#{$id}-close {
    position: absolute;
    background: url('https://boots.scene7.com/is/image/Boots/Closed?scl=1&fmt=png-alpha') no-repeat center;
    background-size: contain;
    cursor: pointer;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    z-index: 99;
  }
  .#{$id}-video {
    height: 400px;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    span {
      height: 100px;
      width: 100px;
      background: url('https://boots.scene7.com/is/image/Boots/Playbutton?scl=1&fmt=png-alpha') no-repeat center;
      background-size: contain;
    }
    @media(min-width: 1024px) {
      padding-top: 30px;
      padding-bottom: 30px;
    }
    @media(min-width: 1280px) {
      height: 400px;
    }
  }

  .#{$id}-fullWidthBanner {
    position: relative;
    margin-top: 20px;

    &::before {
      content: "";
      position: absolute;
      background: #F8F8F8;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      @media(min-width: 767px) {
        height: 95%;
        top: 50%;
        transform: translateY(-50%);
      }
      @media(min-width: 1024px){
        height: 85%;
      }
    }
    .#{$id}-row {
      @media(min-width: 601px) {
        flex-direction: row-reverse;
        align-items: center;
      }
    }
    .#{$id}-image {
      @media(min-width: 601px) {
        flex-grow: 1;
        margin-bottom: 0;
        height: 400px;
      }
      @media(min-width: 1024px){
        height: 400px;
        .#{$id}-imgBg {
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }
       // height: 100%;
      }
    }

    .#{$id}-container {
      padding: 0;
      position: relative;
      padding-bottom: 10px;
      @media(min-width: 767px) {
        padding: 10px;
      }
      @media(min-width: 1024px){
        padding: 20px;
      }

      h4 {
        margin-top: 20px;
        margin-bottom: 10px;
        text-align: left;
      }

      .#{$id}-content {
        text-align: left;
        padding: 10px;
        @media(min-width: 601px) {
          padding: 20px;
          width: 50%;
          flex-shrink: 0;
        }
        span {
          display: block;
          margin-bottom: 5px;
          font-weight: 500;
        }

        p {
          margin-bottom: 20px;

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .#{$id}-tabSection {
    margin-top: 30px;
    .#{$id}-container {
      padding: 0;
      @media(min-width: 767px) {
        padding: 10px;
      }
    }

    .#{$id}-tabsContainer {
      max-width: 500px;
      overflow-x: auto;
      overflow-y: hidden;
      padding-bottom: 1rem;
      margin-inline: auto;
      text-align: center;
      @media(min-width: 601px) {
        max-width: 100%;
        overflow: hidden;
      }

      .#{$id}-tabList {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        list-style: none;
        overflow-y: hidden;
        margin: 0;
        padding: 0;
        position: relative;
        width: max-content;
        @media(min-width: 414px){
          width: auto;
        }

        &::before {
          flex-shrink: 0;
          content: "";
          position: absolute;
          bottom: -1px;
          left: 0;
          width: 100%;
          height: 3px;
          background-color: #cdcdcd;
        }

        .#{$id}-tabs-active-marker {
          position: absolute;
          bottom: -1px;
          left: 0;
          width: 10px;
          height: 3px;
          background-color: #05054B;
          transition: 0.25s ease;
          z-index: 9;
        }


        .#{$id}-tab {
          text-align: center;
          font-family: "Boots Sharp", Arial, sans-serif;
          text-transform: uppercase;
          font-size: 16px;
          flex-shrink: 0;
          cursor: pointer;
          box-sizing: border-box;
          flex-grow: 1;

          span {
            display: block;
            font-weight: 400;
            font-size: 16px;
            padding: 15px;
            box-sizing: border-box;
            font-family: Boots Sharp, Arial, sans-serif;
            text-transform: uppercase;
            color: #333;
            letter-spacing: 1px;
            cursor: pointer;
          }

          @media(min-width: 1024px) {
            padding-top: 10px;
            padding-bottom: 10px;
          }

          &.active {
            color: #201d5a;
            position: relative;
            font-weight: 600;

            span {
              color: #201d5a;
            }
          }

          &:hover {
            cursor: pointer;
          }

        }

      }
    }

    .#{$id}-tabContent {
      display: none;
      padding: 10px;
      box-sizing: border-box;
      font-family: Boots Sharp, Arial, sans-serif !important;

      p,
      span,
      div {
        font-weight: 100;
        font-family: Boots Sharp, Arial, sans-serif !important;
      }

      h2,
      h6.show_all {
        display: none;
      }

      &[type="delivery"] {
        font-weight: 300;
        padding-top: 0;
        br {
          display: none;
        }
        b {
          display: block;
          margin-bottom: 5px;
          margin-top: 20px;
          &:first-of-type {
            margin-top: 0;
          }
        }
        div {
          margin: 0px !important;
        }
        p {
          margin-top: 10px;
        }
      }


      &[type="details"] {

        .beauty-award {
          margin-bottom: 10px;
          span {
            color: #05054B;
            font-weight: 500;
          }
        }

        .#{$id}-sideNote {
          background: #F2F2F2;
          padding: 10px;
          box-sizing: border-box;
          margin-top: 20px;
          @media(min-width: 1024px) {
            width: 50%;
            flex-shrink: 0;
            padding: 20px;
            margin-top: 0;
          }
          @media(min-width: 1280px) {
            width: 45%;
          }

          h4 {
            text-align: left;
            margin-top: 10px;
            margin-bottom: 10px;
          }

          p {
            margin-bottom: 10px;
          }

          span {
            display: block;
            font-weight: 400;
            margin-bottom: 5px;
          }
        }
        &.open {
          @media(min-width: 1024px) {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 20px;
          }
          @media(min-width: 1280px) {
            gap: 100px;
          }
        }
      }

      &.open {
        display: block;
      }
    }
  }

  .#{$id}-recommendations {
    
    @media(min-width: 767px) {
      background: #F8F8F8;
    }

    .#{$id}-container {
      >h4 {
        margin-top: 10px;
        margin-bottom: 10px;
        @media(min-width: 601px) {
          margin-top: 20px;
        }
      }
    }
   

    .rrContainer > h3 {
      display: none;
    }
    
    .rrCarouselArrows {
      background: white;
      @media(min-width: 989px) {
        display: none;
      }
     
    }
    .rrLeftArrowContainer {
      left: 0;
     
    }
    .rrRightArrowContainer {
      right: 0;
     
    }
    .rrItemContainer {
      background: white;
      border-radius: 15px;
      height: 350px;
      
     
      .rrTitleContainer {
        height: auto;
        @media(min-width: 601px) {
          height: 37px;
        }
      }
      .rrRatingContainer {
        display: none;
      }
      .product_price {
        display: block;
        font-weight: 700;
        font-size: 18px;
        float: none;
        margin: 0;
        text-align: center;
        font-family: Boots Sharp, Arial, sans-serif;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .product_ppu {
        font-size: 13px;
        display: block;
        margin: 0;
        text-align: center;
        float: none;
      }

      .rrItemTitle {
        font-family: Boots Sharp, Arial, sans-serif;
        font-size: 16px;
        font-weight: 400;
      }
      img {
        max-height: 70%; 
        width: 70%;
      }
      
    }
  }
}
