.MP054 {
    .nav_group li a::after {
        transform: translateY(-50%);
        top: 50%;
    }
    ul.nav_group.list-unstyled.m-0.px-3 span {
        display: block;
        font-size: 12px;
        font-style: italic;
    }
    .MP054-christmas .nav_group.list-unstyled.m-0.px-3 li,
    .MP054-babyClothing .nav_group.list-unstyled.m-0.px-3 li,
    .MP054-furniture .nav_group.list-unstyled.m-0.px-3 li,
    .MP054-christmascollections .nav_group.list-unstyled.m-0.px-3 li,
    .MP054-toys .nav_group.list-unstyled.m-0.px-3 li,
    .MP054-clothinginner .nav_group.list-unstyled.m-0.px-3 li:nth-child(3){
        display: none;
    }
    .MP054-christmas .nav_group.list-unstyled.m-0.px-3 li.mp54-christmaslink,
    .MP054-christmascollections .nav_group.list-unstyled.m-0.px-3 .mp54-christmascollectionlink,
    .MP054-babyClothing .nav_group.list-unstyled.m-0.px-3 .MP54-clothingLink,
    .MP054-furniture .nav_group.list-unstyled.m-0.px-3 .mp54-furniturelink,
    .MP054-toys .nav_group.list-unstyled.m-0.px-3 .mp54-toys,
    .MP054-toys .nav_group.list-unstyled.m-0.px-3 .mp54-gifts,
    .MP054-toys .nav_group.list-unstyled.m-0.px-3 .mp54-toyslink
    {
        display: block;
    }
}