@import './variables';

.#{$id} {
  .estore_adcard_points_to_earn_widget {
    display: none;
  }
  .#{$id}-pc-banner {
    padding: 15px;
    background: #F8F8F8;
    margin-top: 20px;
    margin-bottom: 10px;

    .pc-logo {
      width: 100px;
      height: 70px;
      background: url('https://boots.scene7.com/is/image/Boots/cm%5Fparenting%5Fclub?scl=1&fmt=png-alpha') no-repeat center;
      background-size: contain;
      margin: 0 auto;
    }

    .pc-banner__points {
      text-align: center;
      margin-bottom: 15px;
      p {
        color: #E21866;
        font-size: 16px;
        font-family: Boots Sharp,Arial,sans-serif;
        font-weight: 500;
        letter-spacing: normal;
        span {
          font-weight: 700;
        }
      }
    }

    .pc-terms {
      text-align: center;
      margin-bottom: 10px;
      p {
        color: #333;
        font-size: 14px;
        font-family: Boots Sharp,Arial,sans-serif;
        font-weight: 500;
        letter-spacing: normal;
        margin-bottom: 10px;
        a {
          text-decoration: underline;
          font-weight: 700
        }
      };
    }

    .parenting-club {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      .pc-button {
        background-color: #05054b;
        font-size: 14px;
        font-family: Boots Sharp,Arial,sans-serif;
        color: white;
        padding: 9px 20px;
        text-align: center;
        text-transform: uppercase;
        border: 1px solid #05054b;
        border-radius: 5px;
        font-weight: 700;
        width: 50%;
        max-width: 300px;
        transition: all .4s ease-in-out;
        letter-spacing: 1px;
        &:hover {
          @media(min-width: 1024px) {
            background-color: white;
            color: #05054b;
          }
        }
      }
    }
  }
}
