@import './variables';

.#{$id} {
  * {
    font-family: Oxygen, Arial, Helvetica, sans-serif !important;
  }

  .#{$id}-wrapper {
    max-width: 78rem;
    margin: 0 auto;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .header {
    background: #fff;
    color: #000;
    box-shadow: 0 -6px 20px -5px #605772;

    > div {
      background: #fff;
      color: #000;

      * {
        color: #000 !important;

        svg {
          stroke: #000;

          * {
            stroke: #000;
          }
        }
      }
    }

    .header__logo {
      background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='13' viewBox='0 0 192 13'%3E%3Cpath fill='%23000' d='M186.385371,10.1589877 C187.057371,10.1589877 187.658057,10.2029714 188.16,10.2825143 C188.681143,10.3675429 189.141943,10.4964571 189.531429,10.6665143 C189.929143,10.8393143 190.277486,11.056 190.557257,11.3083429 C190.839771,11.5634286 191.0784,11.8569143 191.267657,12.1860571 L191.267657,12.1860571 L191.456914,12.5179429 L190.272,13.1652571 L190.090971,12.8416 C189.857829,12.4301714 189.460114,12.0955429 188.911543,11.8459429 C188.335543,11.5853714 187.485257,11.4537143 186.385371,11.4537143 C185.754514,11.4537143 185.159314,11.5003429 184.613486,11.5908571 C184.092343,11.6758857 183.658971,11.8157714 183.327086,12.0077714 C182.759314,12.3204571 182.493257,12.7181714 182.493257,13.2585143 C182.493257,13.5190857 182.559086,13.7412571 182.693486,13.936 C182.838857,14.1444571 183.025371,14.3035429 183.255771,14.4187429 L183.255771,14.4187429 L183.7248,14.608 L184.374857,14.8054857 L185.334857,15.0358857 L186.766629,15.3540571 L188.042057,15.6393143 L189.037714,15.8971429 L189.833143,16.1824 L190.499657,16.5444571 C190.853486,16.7803429 191.177143,17.0957714 191.456914,17.4825143 C191.761371,17.8994286 191.917714,18.4233143 191.917714,19.0404571 C191.917714,19.5808 191.775086,20.0909714 191.489829,20.5545143 C191.2128,21.0070857 190.823314,21.4048 190.324114,21.7394286 C189.8304,22.0658286 189.2352,22.3291429 188.560457,22.5211429 C187.885714,22.7158857 187.128686,22.8146286 186.305829,22.8146286 C184.945371,22.8146286 183.823543,22.6390857 182.967771,22.288 C182.103771,21.9369143 181.4016,21.4459429 180.880457,20.8315429 L180.880457,20.8315429 L180.630857,20.5408 L181.675886,19.6740571 L181.914514,19.9730286 C182.273829,20.4173714 182.814171,20.7876571 183.521829,21.0784 C184.240457,21.3718857 185.181257,21.5227429 186.319543,21.5227429 C187.038171,21.5227429 187.669029,21.4404571 188.201143,21.2786286 C188.736,21.1140571 189.207771,20.9001143 189.608229,20.6340571 C189.898971,20.4420571 190.1376,20.2034286 190.3104,19.9264 C190.480457,19.6548571 190.562743,19.3723429 190.562743,19.0651429 C190.562743,18.8676571 190.532571,18.6893714 190.480457,18.5330286 C190.420114,18.3739429 190.351543,18.2340571 190.266514,18.1161143 L190.266514,18.1161143 L189.981257,17.8116571 C189.981257,17.8116571 189.632914,17.5812571 189.646629,17.5867429 L189.646629,17.5867429 L189.185829,17.3755429 L188.554971,17.1616 L187.567543,16.9065143 C187.567543,16.9065143 186.097371,16.5746286 186.094629,16.5746286 L186.094629,16.5746286 L184.5888,16.2262857 C184.5888,16.2262857 183.612343,15.9684571 183.6096,15.9684571 L183.6096,15.9684571 L182.976,15.7490286 L182.512457,15.5296 C182.153143,15.3458286 181.837714,15.0660571 181.566171,14.7012571 C181.280914,14.3145143 181.138286,13.8125714 181.138286,13.2064 C181.138286,12.7730286 181.258971,12.3396571 181.494857,11.9227429 C181.738971,11.4948571 182.133943,11.1410286 182.6688,10.8667429 C183.143314,10.6144 183.700114,10.4333714 184.325486,10.3209143 C184.9344,10.2112 185.628343,10.1563429 186.385371,10.1589877 Z M131.503543,10.1563429 C132.348343,10.1563429 133.179429,10.2825143 133.972114,10.5376 C134.775771,10.7926857 135.4944,11.1904 136.117029,11.7142857 C136.7424,12.2436571 137.244343,12.9101714 137.614629,13.7001143 C137.982171,14.4928 138.171429,15.4308571 138.171429,16.4923429 C138.171429,17.5428571 137.984914,18.4809143 137.614629,19.2763429 C137.244343,20.0717714 136.739657,20.7410286 136.114286,21.2649143 C135.4944,21.7833143 134.775771,22.1755429 133.972114,22.4333714 C133.182171,22.6857143 132.348343,22.8146286 131.503543,22.8146286 C130.658743,22.8146286 129.824914,22.6857143 129.032229,22.4333714 C128.231314,22.1755429 127.5072,21.7833143 126.890057,21.2649143 C126.264686,20.7437714 125.76,20.0745143 125.389714,19.2763429 C125.019429,18.4836571 124.832914,17.5456 124.832914,16.4786286 C124.832914,15.4253714 125.019429,14.4900571 125.389714,13.6946286 C125.76,12.8992 126.264686,12.2299429 126.887314,11.7060571 C127.5072,11.1876571 128.231314,10.7954286 129.032229,10.5376 C129.824914,10.2852571 130.658743,10.1563429 131.503543,10.1563429 Z M75.5410286,10.1563429 C76.2130286,10.1563429 76.8109714,10.2002286 77.3156571,10.2797714 C77.8340571,10.3648 78.2948571,10.4937143 78.6843429,10.6637714 C79.0820571,10.8365714 79.4276571,11.0532571 79.7101714,11.3056 C79.9899429,11.5606857 80.2285714,11.8541714 80.4178286,12.1833143 L80.4178286,12.1833143 L80.6070857,12.5152 L79.4221714,13.1625143 L79.2411429,12.8388571 C79.008,12.4274286 78.6130286,12.0928 78.0617143,11.8432 C77.4857143,11.5826286 76.6381714,11.4509714 75.5382857,11.4509714 C74.9101714,11.4509714 74.3122286,11.4976 73.7664,11.5881143 C73.2452571,11.6731429 72.8118857,11.8130286 72.48,12.0050286 C71.9094857,12.3177143 71.6461714,12.7154286 71.6461714,13.2557714 C71.6461714,13.5163429 71.712,13.7385143 71.8491429,13.9332571 C71.9945143,14.1417143 72.1810286,14.3008 72.4114286,14.416 L72.4114286,14.416 L72.8832,14.6052571 L73.5277714,14.8027429 C73.5277714,14.8027429 74.4877714,15.0331429 74.4905143,15.0331429 L74.4905143,15.0331429 L75.9195429,15.3513143 L77.1977143,15.6365714 L78.1906286,15.8944 C78.1906286,15.8944 78.9860571,16.1769143 78.9860571,16.1796571 L78.9860571,16.1796571 L79.6525714,16.5417143 C80.0036571,16.7776 80.3245714,17.0930286 80.6098286,17.4797714 C80.9170286,17.8966857 81.0706286,18.4205714 81.0706286,19.0377143 C81.0706286,19.5780571 80.9252571,20.0882286 80.6427429,20.5517714 C80.3684571,21.0043429 79.9762286,21.3993143 79.4770286,21.7366857 C78.9833143,22.0603429 78.3908571,22.3264 77.7133714,22.5184 C77.0386286,22.7131429 76.2816,22.8118857 75.4587429,22.8118857 C74.0982857,22.8118857 72.9764571,22.6363429 72.1234286,22.2852571 C71.2621714,21.9341714 70.5572571,21.4432 70.0361143,20.8288 L70.0361143,20.8288 L69.7892571,20.5380571 L70.8370286,19.6740571 L71.0756571,19.9702857 C71.4349714,20.4146286 71.9753143,20.7849143 72.6802286,21.0756571 C73.4016,21.3691429 74.3424,21.52 75.4806857,21.52 C76.1965714,21.52 76.8301714,21.4377143 77.3622857,21.2758857 C77.8944,21.1113143 78.3661714,20.8973714 78.7666286,20.6313143 C79.0573714,20.4393143 79.2932571,20.2006857 79.4688,19.9236571 C79.6388571,19.6548571 79.7211429,19.3750857 79.7211429,19.0651429 C79.7211429,18.8676571 79.6937143,18.6893714 79.6388571,18.5330286 C79.5812571,18.3739429 79.5099429,18.2340571 79.4249143,18.1161143 L79.4249143,18.1161143 L79.1396571,17.8116571 C79.1396571,17.8116571 78.7913143,17.5812571 78.8022857,17.5867429 L78.8022857,17.5867429 L78.3414857,17.3755429 L77.7133714,17.1616 L76.7232,16.9065143 C76.7232,16.9065143 75.2557714,16.5746286 75.2502857,16.5746286 L75.2502857,16.5746286 L73.7417143,16.2262857 L72.7652571,15.9684571 L72.1289143,15.7490286 C72.1289143,15.7490286 71.6653714,15.5296 71.6653714,15.5296 C71.3088,15.3458286 70.9906286,15.0660571 70.7218286,14.7012571 C70.4365714,14.3145143 70.2912,13.8125714 70.2912,13.2064 C70.2912,12.7730286 70.4118857,12.3396571 70.6477714,11.9227429 C70.8891429,11.4948571 71.2841143,11.1410286 71.8217143,10.8667429 C72.2934857,10.6144 72.8502857,10.4333714 73.4784,10.3209143 C74.0845714,10.2112 74.7785143,10.1563429 75.5410286,10.1563429 Z M116.321829,10.5842286 L116.321182,18.8485237 C116.313947,19.1368082 116.225829,20.6347154 115.153371,21.7147429 C114.432,22.4416 113.430857,22.8091429 112.177371,22.8091429 L112.177371,22.8091429 L111.930514,22.8091429 L111.930514,21.5035429 L112.177371,21.5035429 C113.052343,21.5035429 113.7408,21.2566857 114.226286,20.7684571 C115.008,19.984 115.013486,18.8182857 115.013486,18.8045714 L115.013486,10.5842286 L116.321829,10.5842286 Z M147.604114,10.3812571 L153.045943,17.0985143 C153.045943,17.0985143 154.801371,19.2763429 155.657143,20.3350857 C155.647602,19.319036 155.638062,17.8010798 155.635736,17.4223775 L155.6352,10.3812571 L156.990171,10.3812571 L156.990171,22.5952 L155.816229,22.5952 L150.382629,15.8944 C150.382629,15.8944 148.618971,13.7028571 147.7632,12.6386286 C147.771429,13.8125714 147.785143,15.6557714 147.785143,15.6557714 L147.785143,22.5924571 L146.432914,22.5924571 L146.432914,10.3812571 L147.604114,10.3812571 Z M36.7542857,10.3785143 L42.1961143,17.0985143 C42.1961143,17.0985143 43.9542857,19.2763429 44.8073143,20.3350857 C44.7963429,19.1638857 44.7826286,17.3344 44.7826286,17.3344 L44.7826286,10.3812571 L46.1376,10.3812571 L46.1376,22.5952 L44.9664,22.5952 L39.5328,15.8944 C39.5328,15.8944 37.7718857,13.7028571 36.9133714,12.6386286 C36.9243429,13.8125714 36.9380571,15.6557714 36.9380571,15.6557714 L36.9380571,22.5924571 L35.5830857,22.5924571 L35.5830857,10.3785143 L36.7542857,10.3785143 Z M173.795657,10.3785143 L173.795657,11.6841143 L166.793143,11.6841143 L166.793143,15.5789714 L172.484571,15.5789714 L172.484571,16.8845714 L166.793143,16.8845714 L166.793143,21.2868571 L174.015086,21.2868571 L174.015086,22.5924571 L165.438171,22.5924571 L165.438171,10.3785143 L173.795657,10.3785143 Z M97.2260571,10.3785143 L97.2260571,11.6841143 L92.6098286,11.6841143 L92.6098286,22.5924571 L91.2548571,22.5924571 L91.2548571,11.6841143 L86.6386286,11.6841143 L86.6386286,10.3785143 L97.2260571,10.3785143 Z M62.9458286,10.3785143 L62.9458286,11.6841143 L55.9405714,11.6841143 L55.9405714,15.5789714 L61.6347429,15.5789714 L61.6347429,16.8845714 L55.9405714,16.8845714 L55.9405714,21.2868571 L63.168,21.2868571 L63.168,22.5924571 L54.5883429,22.5924571 L54.5883429,10.3785143 L62.9458286,10.3785143 Z M8.4096,10.3785143 L8.4096,11.6841143 L1.40708571,11.6841143 L1.40708571,15.5789714 L7.09851429,15.5789714 L7.09851429,16.8845714 L1.40708571,16.8845714 L1.40708571,21.2868571 L8.63177143,21.2868571 L8.63177143,22.5924571 L0.0548571429,22.5924571 L0.0548571429,10.3785143 L8.4096,10.3785143 Z M20.8100571,10.3757714 C21.8413714,10.3757714 22.7382857,10.4553143 23.4733714,10.6061714 C24.2249143,10.7625143 24.8557714,10.9929143 25.3494857,11.2946286 C25.8624,11.6045714 26.2464,11.9968 26.4877714,12.4493714 C26.7264,12.8992 26.8470857,13.4066286 26.8470857,13.9634286 C26.8470857,14.4873143 26.7264,14.9782857 26.4850286,15.4226286 C26.2518857,15.856 25.9282286,16.24 25.5222857,16.5636571 C25.1218286,16.8845714 24.6445714,17.1451429 24.1014857,17.3344 C23.8025143,17.4413714 23.4816,17.5209143 23.1524571,17.5812571 C24.0411429,18.4342857 28.3556571,22.5897143 28.3556571,22.5897143 L28.3556571,22.5897143 L26.4466286,22.5897143 C26.4466286,22.5897143 21.6438857,17.9241143 21.4354286,17.7184 L21.4354286,17.7184 L17.8998857,17.7184 L17.8998857,22.5897143 L16.5449143,22.5897143 L16.5449143,10.3757714 Z M131.4816,11.4317714 C130.787657,11.4317714 130.107429,11.5387429 129.462857,11.7472 C128.829257,11.9501714 128.264229,12.2628571 127.784229,12.6770286 C127.304229,13.0912 126.914743,13.6178286 126.624,14.2432 C126.333257,14.8685714 126.185143,15.6228571 126.185143,16.4786286 C126.185143,17.3344 126.333257,18.0886857 126.624,18.7168 C126.912,19.3421714 127.304229,19.8660571 127.781486,20.272 C128.264229,20.6806857 128.832,20.9906286 129.4656,21.1963429 C130.110171,21.4048 130.793143,21.5090286 131.5008,21.5090286 C132.194743,21.5090286 132.877714,21.4048 133.527771,21.1936 C134.1696,20.9878857 134.737371,20.6806857 135.217371,20.2692571 C135.694629,19.8660571 136.084114,19.3421714 136.3776,18.7140571 C136.668343,18.0886857 136.816457,17.3344 136.816457,16.4786286 C136.816457,15.6228571 136.671086,14.8685714 136.374857,14.2432 C136.081371,13.6150857 135.689143,13.0884571 135.211886,12.6770286 C134.729143,12.2628571 134.164114,11.9529143 133.525029,11.7472 C132.872229,11.536 132.192,11.4317714 131.4816,11.4317714 Z M20.6866286,11.6841143 L17.8998857,11.6841143 L17.8998857,16.4155429 L21.7453714,16.4155429 C22.3789714,16.4155429 22.9412571,16.3414857 23.4212571,16.1961143 C23.8930286,16.0507429 24.2907429,15.8587429 24.6006857,15.6228571 C24.9024,15.3952 25.1273143,15.1346286 25.2754286,14.8493714 C25.4235429,14.5641143 25.4948571,14.2733714 25.4948571,13.9634286 C25.4948571,13.6891429 25.4372571,13.4066286 25.3275429,13.1323429 C25.2260571,12.8854857 25.0148571,12.6578286 24.7021714,12.4521143 C24.3620571,12.2299429 23.8710857,12.0461714 23.2429714,11.9035429 C22.6011429,11.7581714 21.7398857,11.6841143 20.6866286,11.6841143 L20.6866286,11.6841143 Z' transform='translate(0 -10)'/%3E%3C/svg%3E%0A");
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;

      img {
        opacity: 0;
      }
    }

    site-search {
      border-top: 1px solid #ddd;
      border-right: 2px solid #ddd;
      border-bottom: 1px solid #ddd;
      border-left: 2px solid #ddd;
      border-radius: 3px;

      * {
        border: none !important;
      }
    }

    .menu-btn {
      background: #fff;

      &::after {
        color: #000;
      }
    }

    .main-nav {
      background: #fff;

      .main-nav__link {
        color: #000;
        font-weight: 400;

        &.main-nav--active-item {
          color: #fff;
        }
      }

      @media (min-width: 1024px) {
        .main-nav__item:first-child {
          span {
            border-right: 1px solid #ddd;
            border-left: 1px solid #ddd;
          }
        }

        .main-nav__item + .main-nav__item {
          span {
            border-right: 1px solid #ddd;
          }
        }
      }
    }
  }

  .#{$id}-homepage {
    .banner {
      grid-template-columns: 1fr 1fr;
      background-color: #f7f7f7;
      max-width: 92rem;

      @media (min-width: 1024px) {
        grid-template-columns: 30% 1fr 30%;
      }

      img {
        width: 100%;
      }

      .navigation {
        display: grid;
        grid-template-columns: 1fr;
        padding: 1rem 2rem;
        gap: 1rem;

        @media (min-width: 1024px) {
          grid-template-columns: 1fr 1fr;
        }
      }

      .archive-title {
        position: relative;
        grid-column: 1;
        margin-top: 0;
        font-weight: 700;
        letter-spacing: 0.5px;
        height: fit-content;
        margin-bottom: 2rem;

        @media (min-width: 1024px) {
          grid-column: 1/3;
        }

        &::after {
          content: '';
          position: absolute;
          bottom: -8px;
          right: 0;
          left: 0;
          margin: 0 auto;
          width: 350px;
          height: 3px;
          background: none;
          background-image: url("data:image/svg+xml,%0A%3Csvg width='250' height='3' viewBox='0 0 250 3' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='125' cy='1.5' rx='125' ry='1.5' fill='url(%23paint0_linear_202_35)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_202_35' x1='0' y1='1.5' x2='250' y2='1.5' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white' stop-opacity='0'/%3E%3Cstop offset='0.510417'/%3E%3Cstop offset='1' stop-color='white' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
          background-size: 100%;
          background-repeat: no-repeat;
        }
      }

      .navigation__button-link {
        background: #99b7e5;
        border-color: #99b7e5;
        box-shadow: inset 0 0 0 1px #fff;
        color: #000;
        margin: 0;
        max-width: unset;
        transition: 0.25s ease;

        @media (min-width: 1024px) and (max-width: 1260px) {
          padding-right: 0.5rem;
          padding-left: 0.5rem;
          font-size: 0.8rem;
        }

        &:hover {
          background: darken(#99b7e5, 10%);
          border-color: darken(#99b7e5, 10%);
          color: #fff;
        }
      }
    }

    .archive-title {
      position: relative;
      text-align: center;
      font-weight: 700;
      letter-spacing: 0.5px;

      &.small {
        font-size: 1rem;
      }

      &::after {
        content: '';
        position: absolute;
        bottom: -8px;
        right: 0;
        left: 0;
        margin: 0 auto;
        width: 350px;
        height: 3px;
        background: none;
        background-image: url("data:image/svg+xml,%0A%3Csvg width='250' height='3' viewBox='0 0 250 3' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='125' cy='1.5' rx='125' ry='1.5' fill='url(%23paint0_linear_202_35)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_202_35' x1='0' y1='1.5' x2='250' y2='1.5' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white' stop-opacity='0'/%3E%3Cstop offset='0.510417'/%3E%3Cstop offset='1' stop-color='white' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
        background-size: 100%;
        background-repeat: no-repeat;
      }
    }

    .offer_title {
      font-weight: 700;
      letter-spacing: 0.5px;

      &::after {
        opacity: 0;
      }
    }

    .splide__arrow {
      border: 1px solid #101820;
      background: #fff;
      width: 1.8em;
      height: 1.8em;
      transition: opacity 0.25s ease;
      top: 50%;

      svg {
        width: 0.7em;
        height: 0.7em;
      }
    }

    .splide__pagination {
      display: none;
    }

    .#{$id}-quick-links {
      margin-top: 3rem;
      margin-bottom: 4rem;
    }

    .#{$id}-quick-links-grid {
      list-style: none;
      padding: 0;
      margin: 0;
      margin-top: 5rem;
      display: grid;
      gap: 2rem;
      grid-template-columns: minmax(0, 1fr);

      @media (min-width: 480px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }

      @media (min-width: 720px) {
        grid-template-columns: repeat(4, minmax(0, 1fr));
      }
    }

    .#{$id}-quick-links-grid-item {
      text-align: center;

      a {
        text-decoration: none;
        display: grid;
        grid-template-columns: minmax(0, 1fr);
        gap: 1rem;
        justify-items: center;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .#{$id}-quick-links-grid-item-icon {
      position: relative;
      width: 30%;
      padding-bottom: 30%;

      img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .#{$id}-quick-links-grid-item-title {
      text-transform: uppercase;
      color: #000;
      margin: 0;
      font-weight: 400;
    }

    .#{$id}-tabbed-section-inner {
      margin-top: 4rem;

      .splide__arrow {
        top: 40%;
      }
    }

    .#{$id}-tabbed-section-nav {
      display: flex;
      justify-content: center;
      margin-bottom: 4rem;

      > * + * {
        margin-left: 1rem;

        @media (min-width: 720px) {
          margin-left: 8rem;
        }
      }

      button {
        display: inline-block;
        position: relative;
        font-size: 18px;
        font-weight: 700;
        border: none;
        background: transparent;
        padding: 1rem;
        text-transform: uppercase;

        @media (min-width: 480px) {
          font-size: 20px;
        }

        @media (min-width: 720px) {
          padding: 1rem 2rem;
        }

        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          margin: 0 auto;
          width: 100px;
          height: 3px;
          background: linear-gradient(90deg, transparent, #eaeaea 30%, #eaeaea 70%, transparent);

          @media (min-width: 720px) {
            width: 200px;
          }
        }

        &.active::before {
          background: linear-gradient(90deg, transparent, #99b7e5 30%, #99b7e5 70%, transparent);
        }
      }
    }

    .#{$id}-content-section {
      height: 0;
      opacity: 0;
      overflow: hidden;

      &.active {
        height: auto;
        opacity: 1;
        overflow: visible;
      }

      .card {
        picture {
          width: 100%;
          padding-bottom: 75%;
          position: relative;

          img {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            background: linear-gradient(0deg, #e1e1e1, #ededed);
          }
        }

        .card__caption > *:not(.card__title) {
          display: none;
        }

        .card__title {
          font-family: Open Sans, Arial, Helvetica, helvetica, sans-serif;
          font-size: 16px;
          text-transform: uppercase;
        }
      }
    }

    .#{$id}-slider-container {
      background: #f4f4f4;
      padding: 2rem 0;

      .splide {
        margin: 0;
      }

      .archive-title {
        margin-top: 2rem;
        margin-bottom: 4rem;
      }
    }

    .#{$id}-grid-container {
      margin-top: 4rem;
      margin-bottom: 4rem;
    }

    .#{$id}-ad-grid {
      display: grid;
      grid-template-columns: minmax(0, 1fr);
      grid-template-rows: 1fr 1fr 1fr 1fr;
      gap: 1rem;

      @media (min-width: 900px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 2rem;
      }

      > div {
        img {
          width: 100%;
        }
      }

      > div:nth-child(1) {
        grid-row: 1/3;
      }
    }

    .#{$id}-repairs {
      margin-bottom: 5rem;
    }

    .#{$id}-repairs-banner {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin-top: 3rem;
    }

    .#{$id}-repairs-image {
      width: 100%;
      max-width: 750px;
      background-color: #000;
    }

    .#{$id}-repairs-content {
      margin: 2rem;
      text-align: center;
      flex-grow: 1;

      p {
        font-size: 20px;
        line-height: 27px;
        margin-bottom: 1.5rem;
      }

      a {
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        color: #000;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .#{$id}-diamond-card {
      display: grid;
      grid-template-columns: minmax(0, 1fr);
      gap: 1.5625rem;
      color: #000;
      text-decoration: none;

      h4 {
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 0.9375rem;
      }

      &:hover {
        img {
          transform: scale(1.03);
        }
      }
    }

    .#{$id}-diamond-card-image {
      width: 100%;
      padding-bottom: 75%;
      position: relative;
      overflow: hidden;

      img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        background: linear-gradient(0deg, #e1e1e1, #ededed);
        transition: 0.4s ease;
      }
    }

    .category-box-grid,
    .single-image-block.single-image-block--in-view,
    .divider-text,
    .divider-image,
    .brand-banner,
    .product-recommendation-home.js-product-recommendation-home,
    .card-grid.card-grid--3-cards {
      display: none;
    }

    #js-splide-1 {
      margin-top: 3rem;
    }
  }
}
