.IT031 {
  /* New elements */
  .IT031_SizeLabel {
    display: block;
    margin: 15px 0;
  }

  /* Size component */
  .IT031_SizePopup {
    position: absolute;
    z-index: 10;
    width: 95%;
    max-width: 340px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 12px 5px;
    background-color: white;
    border: 1px solid #d13a95;
    text-align: center;
  }

  /* Mini size guide component */
  .IT031_MiniSizeGuide {
    border: 1px solid #d13a95;
    padding: 10px 5px;
    margin-bottom: 15px;

    > p {
      display: block;
      text-align: center;
      margin: 0 0 8px 0;
      padding: 0;
    }

    &:after {
      content: '';
      display: block;
      clear: both;
    }

    @media (max-width: 380px) {
      margin-left: -.8375rem;
      margin-right: -.8375rem;
    }
  }

  .IT031_MiniSizeGuide__Measurements {
    li {
      float: left;
      width: 33.333%;

      > div {
        float: left;
      }
    }
  }

  .IT031_MiniSizeGuide__IconWrap {
    width: 40%;
  }

  .IT031_MiniSizeGuide__Title {
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    display: block;
    line-height: normal;
  }

  .IT031_MiniSizeGuide__Icon {
    display: block;
    height: 25px;
    margin: 0 auto;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;

    &.IT031_MiniSizeGuide__Icon--waist {
      background-image: url('//www.sitegainer.com/fu/up/yoh92i4q5o1nylk.png');
    }

    &.IT031_MiniSizeGuide__Icon--hips {
      background-image: url('//www.sitegainer.com/fu/up/mn2n9qksoxcyvgi.png');
    }

    &.IT031_MiniSizeGuide__Icon--bust {
      background-image: url('//www.sitegainer.com/fu/up/gyka16g7355n0ug.png');
    }
  }

  .IT031_MiniSizeGuide__Values {
    width: 60%;
    color: #969696;
    vertical-align: middle;
    font-size: 13px;
    padding-left: 7px;
    white-space: nowrap;

    > div {
      margin: 2px 0;
      line-height: normal;
      
      &:first-of-type {
        margin-top: 0;
      }
    }

    em {
      color: #d13b95;
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      vertical-align: middle;
    }

    span {
      vertical-align: middle;
    }
  }

  /* Reviews component */
  .IT031_Review {
    margin: 10px auto;
    width: 85%;
    
    @media (max-width: 350px) {
      width: 100%;
    }

    a {
      color: inherit;

      &:hover {
        text-decoration: none;        
      }
    }
  }

  .IT031_Review__Rating {
    display: inline-block;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 18px;
    vertical-align: middle;

    &.IT031_Review__Rating--5 {
      background-image: url('//www.sitegainer.com/fu/up/ppuaonpc52yhz95.png');
    }
  }

  .IT031_Review__Author {
    display: inline-block;
    font-weight: bold;
    vertical-align: middle;    
  }

  /* Existing elements */
  .product-options dl.last {
    position: relative;
  }
}

/* IT032 Size Guide Styles */
.IT031 {
  #IT031_SizeGuideTab {
    &.active {
      padding: 16px 0 !important;
    }
        
    .IT025_contentWrapper {
      width: 100%;
      .IT025_size_guide_Header {
        font-size: 13px;
        font-weight: 800;
        text-transform: capitalize;
        text-align: center;
        margin-bottom: 5px;
      }
      .IT025_belowHeader {
        text-align: left;
      }
      .IT025_inchesORcm_toggle {
        text-align: center;
        font-size: 11px;
        margin: 15px auto;
        .IT025_inchesToggle {
          padding: 5px 10px;
          border: 1px solid #808080;
          border-radius: 5px;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          background: white;
          color: #808080;
        }
        .IT025_cmToggle {
          padding: 5px 20px;
          border: 1px solid #808080;
          border-radius: 5px;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          background: white;
          color: #808080;
        }
        .IT025_toggleOption_active {
          background: #808080;
          color: white;
        }
      }
      .IT025_newTable_wrapper {
        width: 100%;
        font-size: 12px;
        margin-bottom: 30px;
        .IT025_newTable__header {
          .IT025_header1 {
            height: 25px;
          }
          .IT025_header2 {
            height: 35px;
            .IT025_countrySizeDropdown {
              position: relative;
              width: 35%;
              .IT025_dropdown_displayed {
                box-sizing: border-box;
                border: 1px solid lightgray;
                border-radius: 3px;
                padding-left: 9px;
                position: absolute;
                width: 55%;
                height: 25px;
                margin-left: 5px;
                top: 3px;
                .IT025_dropdown_Text {
                  position: absolute;
                  top: 50%;
                  transform: translateY(-50%);
                }
                .IT025_arrow_down {
                  border: solid #808080;
                  border-width: 0 2px 2px 0;
                  display: inline-block;
                  padding: 2px;
                  -ms-transform: rotate(45deg);
                  transform: rotate(45deg);
                  -webkit-transform: rotate(45deg);
                  position: absolute;
                  top: 7px;
                  right: 11px;
                }
              }
              .IT025_dropdown_toggle {
                display: none;
                position: absolute;
                width: 55%;
                padding-left: 9px;
                margin-left: 5px;
                top: 26px;
                background: #808080;
                color: white;
                border-radius: 3px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                z-index: 2;
                .IT025_dropwdown_option {
                  &:hover {
                    background: #808080;
                  }
                }
              }
            }
            .IT025_bust_img,
            .IT025_waist_img,
            .IT025_hips_img {
              background-position: center left;
              background-size: contain;
              background-repeat: no-repeat;
              height: 28px;              
            }
            .IT025_bust_img {
              background-image: url('//www.sitegainer.com/fu/up/gyka16g7355n0ug.png');
            }
            .IT025_waist_img {
              background-image: url('//www.sitegainer.com/fu/up/yoh92i4q5o1nylk.png');
              position: relative;
              left: 5px;
            }
            .IT025_hips_img {
              background-image: url('//www.sitegainer.com/fu/up/mn2n9qksoxcyvgi.png');
              position: relative;
              left: -8px;
            }
          }
        }
        .IT025_newTable__content {
          tr td {
            padding: 6px 0;            
            &:nth-of-type(1) {
              padding-left: 25px;
            }
            &:nth-of-type(2) {
              padding-left: 6px;
            }
            &:nth-of-type(3) {
              padding-left: 10px;
            }
            &:nth-of-type(4) {
              padding-left: 5px;
            }
          }
          tr:nth-of-type(2n + 1) {
            background: #f3f3f3;
          }
        }
      }
      .IT025_bottom_header {
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 15px;
        text-transform: capitalize;
      }
      .IT025_bottomCategoryTitle {
        text-align: center;
        font-weight: 500;
        margin-bottom: 5px;
        font-size: 13px;
      }
      .IT025_bottomCategoryDetails {
        text-align: center;
        }
      .IT025_bottomCategoryDetails_last {
        margin-bottom: 30px;
      }
      .IT025_close_btn {
        text-align: center;
        font-size: 11px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 10px;
      }
    }
  }

  // Remove review
  .IT031_Reviews {display: none;}
}