.RC034 {
  .ui-selectmenu-button{
    display: none !important;
  }
  .course-refinement {
    .course-search-current {
      p {
        display: none;
        &.course-change-link {
          display: block;
          position: relative;
          a.course-change-search {
            display: block;
            margin: 0 auto;
            margin-bottom: 10px;
            margin-top: 5px;
            border: 1px solid #98192a;
            text-align: center;
            padding: 6px;
            width: 40%;
            &:active{
              text-decoration: none;
            }
          }
        }
      }
      span:last-child{
        font-size: 12px;
        color: black;
        display: block;
        &::before{
          content: '(';
          display: inline-block;
        }
        &::after{
          content: ')';
          display: inline-block;
        }
      }
    }
    .RC034-courseDescription {
      background: #f7f7f7;
      padding: 10px;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      margin-bottom: 20px;
      .RC034-desc_toggle {
        width: 98%;
        position: relative;
        h3 {
          display: block;
          font-size: 17px;
          font-weight: 700;
          margin-bottom: 0;
        }
        .RC034-less {
          display: inline-block;
          font-size: 12px;
          text-decoration: underline;
          margin-left: 0px;
          margin-bottom: 20px;
          position: absolute;
          right: 0;
        }
      }
      .RC034-points {
        .RC034-bulletPoint {
          display: block;
          padding: 5px 0 5px 30px;
          position: relative;
          line-height: 19px;
          font-size: 14px;
          margin-top: 5px;
          margin-bottom: 5px;
          background: url(data:image/gif;base64,R0lGODlhBgAGAIAAAP8QJf8RJSH5BAAAAAAALAAAAAAGAAYAAAIKjHEIau2bApKnAAA7) left 7px no-repeat;
          list-style-position: outside;
          padding: 0 0 0 20px;
          &:first-child {
            background: none;
          }
        }
      }
      .RC034-certified{
        padding: 0 0 0 20px;
        font-weight: 600;
        margin-bottom: 20px;
        position: relative;
        .RC034-tick {
          left: 0px;
        }
      }
      .RC034-cross {
        width: 15px;
        height: 2px;
        position: absolute;
        left: 0px;
        top: 50%;
        margin-top: -1px;
        background: #111;
      }
      .RC034-tick {
        position: absolute;
        left: -6px;
        transform: translateY(-50%);
        top: 50%;
        &::after {
          content: '';
          display: block;
          width: 6px;
          height: 12px;
          border: solid #f00;
          border-width: 0 2px 2px 0;
          transform: rotate(45deg);
        }
      }
    }
    .RC034-more_info{
      display: block;
      padding-top: 25px;
      &.RC034-hide_info{
        display: none;
      }
    } 
  }
  .RC034-sort_by{
    margin-bottom: 10px;
    select{
      display: inline-block !important;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
      background: white;
      padding-top: 10px;
      font-size: 13px;
      padding-bottom: 10px;
      text-transform: capitalize;
      font-weight: 500;
    }
    .RC034-dates,
    .RC034-radius{
      display: inline-block;
      width: 50%;
    }
    span{
      margin-right: 5px;
      font-size: 13px;
    }
  }
  .course-search-location{
    position: relative;
    .RC034-close_details{
      position: absolute;
      color: white;
      top: 5px;
      right: 5px;
      font-size: 20px;
      display: none;
      &.RC034-close_showing{
        display: block;
      }
    }
    .course-venue-distance{
      display: block;
      float: none;
      strong{
        color: white;
        font-weight: 500;
      }
    }
    .course-show-venue-results{
      display: none;
    }
    .course-venue-name{
      position: relative;
      .RC034-details{
        position: absolute;
        bottom: -5px;
        right: 0;
        font-size: 13px;
        text-decoration: underline;
      }
    }
  }
  .course-search-results{
    .course-result-description{
      display: none;
    }
    .course-col-date{
      width: 34%;
      .RC034-date{
        list-style: none;
        background: none;
        position: relative;
        padding-left: 25px;
        margin-bottom: 10px;
        &::before{
          content: '';
          background-size: contain;
          width: 15px;
          height: 15px;
          background-repeat: no-repeat;
          position: absolute;
          left: 0;
          top: 50%;
          margin-top: -10px;
          background-image: url(https://d30y9cdsu7xlg0.cloudfront.net/png/404-200.png);
        }
      }
      .RC034-time{
        list-style: none;
        background: none;
        position: relative;
        padding-left: 25px;
        margin-bottom: 10px;
        &::before{
          content: '';
          background-size: contain;
          width: 15px;
          height: 15px;
          background-repeat: no-repeat;
          position: absolute;
          left: 0;
          top: 50%;
          margin-top: -10px;
          background-image: url(https://d30y9cdsu7xlg0.cloudfront.net/png/17392-200.png);
        }
      }
    }
  }
}