@import './variables';

.#{$id} {
  &.#{$id}-HSResult {

    .#{$id}-button {
      padding: 8px;
      background: black;
      color: white;
      display: block;
      text-decoration: none;
      font-weight: 600;
      max-width: 250px;
      margin: 0 auto;
      transition: all 0.2s ease-out;
      text-align: center;
      &:hover {
        @media(min-width: 1024px) {
          background: white;
          span {
            color: black;
            border: 1px solid black;
          }
        }
      }
      span {
        border: 1px solid white;
        padding: 5px;
        display: block;
        font-size: 17px;
      }
    }

    .#{$id}-noResult {
      h3 {
        font-weight: 100;
        line-height: 25px;
        margin-bottom: 20px;
        margin-top: 20px;
        
      }
      b {
        display: block;
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 5px;
        @media(min-width: 767px) {
          margin-bottom: 9px;
        }
        @media(min-width: 1280px) {
          font-size: 30px;
          margin-bottom: 12px;
        }
      }
    }

    // smartwatches
    #access-content {
      .#{$id}-noResult {
        text-align: center;
        background: #eaeaea;
        padding: 10px;
        margin-bottom: 20px;
        h3 {
          font-size: 15px;
          margin-bottom: 8px;
          margin-top: 8px;
          line-height: 23px;
          @media(min-width: 375px) {
            font-size: 16px;
          }
        }
        .#{$id}-button {
          margin-bottom: 10px;
          span {
            padding-bottom: 8px;
          }
        }

        .#{$id}-container {
          @media(min-width: 767px) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-left: 10px;
            margin-right: 10px;
            h3 {
              text-align: left;
              font-size: 17px;
              line-height: 23px;
              b {
                display: inline-block;
                font-size: 17px;
                margin-bottom: 0px;
                font-weight: 100;
                margin-right: 2px;
              }
            }
            .#{$id}-button {
              margin: 0;
              width: 220px;
              span {
                font-size: 16px;
              }
            }
          }
          @media(min-width: 1024px) {
            justify-content: center;
            padding-top: 5px;
            padding-bottom: 5px;
            .#{$id}-button {
              margin-left: 20px;
            }
          }
        }
      }
    }

    // no result page
    .l-not-found-page {
      .c-page-title.l-not-found-page__title,
      .l-not-found-page__subtitle{
        display: none;
      }

      .#{$id}-noResult {
        background: #f3f3f7;
        padding: 10px;
        text-align: center;
        padding-bottom: 30px;
       
      }
    }
  }
}
