$green: #40b551;

.PL008 {
  .pl8-hide {
    display: none !important;
  }

  .top_menu {
    position: relative;
  }

  .pl8-toggle-wrap {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    z-index: 100;
  }

  .pl8-toggler {
    cursor: pointer;
    background: #fff;
    width: 40px;
    border-radius: 10px;
    display: inline-block;
    vertical-align: middle;

    .pl8-toggle-button {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px solid #fff;
      background: $green;
      transform: translateX(0);
      left: 0;
      position: relative;
    }

    .pl8-toggle-button--active {
      transform: translateX(20px);
      background: #fff;
    }
  }

  .pl8-toggler--active {
    background: $green;
  }

  .pl8-toggler-text {
    display: inline-block;
    color: #fff;
    vertical-align: middle;
    line-height: 1;
    margin-left: 5px;
  }

  @keyframes pl8TogglerPopupAnim {
    0% {
      transform: translateY(-130px);
    }

    100% {
      transform: translateY(0);
    }
  }

  .pl8-toggler-popup {
    position: absolute;
    width: 350px;
    border: 1px solid #000;
    font-size: 12px;
    background: #fff;
    top: 25px;
    text-align: center;
    padding: 5px;

		&.pl8-toggler-popup--animated {
      animation-delay: 0.5s;
      animation: 0.9s ease-in pl8TogglerPopupAnim;
		}

    .pl8-toggler-popup__title {
      font-weight: bold;
      color: $green;
    }
    .pl8-toggler-popup__switch {
      font-size: 10px;
      font-weight: normal;
    }
    .pl8-toggler-popup__switch-btn {
      text-decoration: underline;
      color: #000;
      cursor: pointer;
    }

    .pl8-toggler-popup__close {
      position: absolute;
      line-height: 12px;
      font-size: 10px;
      color: #fff;
      cursor: pointer;
      background: #000;
      padding: 2px 5px;
      height: auto;
      transform: translateY(100%);
      bottom: 0;
      right: -1px;
    }
  }

  /* Logo */

  .pl8-logo-addon {
		position: absolute;
    right: 69px;
    bottom: -12px;
    font-weight: bold;
    font-size: 16px;
    font-style: italic;
    color: #808080;
  }

}
