@import './variables';

.#{$id} {
  .page-wrapper > .breadcrumbs {
    display: none;
  }

  // sweater button
  .#{$id}-jumpersButton {
    position: relative;
    margin: 0 auto;
    background: #0fbcf4;
    width: 200px;
    margin-top: 20px;
    padding: 10px 5px;
    text-align: center;
    color: #fff;
    font-weight: normal;
    font-size: 1.2rem;
    text-transform: uppercase;
    @media(min-width: 1024px) {
      width: 230px;
      font-size: 1.4rem;
    }
  }

  .#{$id}-productFilter_title {
    display: block;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-size: 17px;
    position: relative;
    &::after {
      content: '';
      width: 50px;
      height: 5px;
      position: absolute;
      bottom: -20px;
      background-color: #09bcf4;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @media(max-width: 520px) {
    .review-banner {
      margin-bottom: 0;
    }
    
    #maincontent {
      padding-left: 0;
      padding-right: 0;
    }

    .products-grid {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  #maincontent .page-title-wrapper {
    @media(max-width: 520px) {
      display: none;
    }

    h1 {
      display: none;
    }

    img {
      margin-bottom: 20px;
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .xdesktop {
    display: block;

    @media(max-width: 520px) {
      display: none !important;
    }
  }
  .xmobile {
    display: none !important;

    @media(max-width: 520px) {
      display: block !important;
    }
  }

  .column.main > p:first-of-type {
    text-align: center;
    font-weight: bold;
    color: #000;

    @media(max-width: 520px) {
      display: none;
    }

    span {
      font-weight: normal;
      display: block;
    }
    strong {
      font-weight: bold;
      display: block;
    }
  }
  .column.main > p:nth-of-type(2) {
    @media(max-width: 520px) {
      display: none;
    }
  }

  .#{$id}-toggle__reset {
    display: none;
    margin: 30px 0 50px;
    text-align: center;

    /** Now Hidden **/
    display: none !important;

    a {
      color: #000;
      background: #eee;
      padding: 10px 15px;
    }
  }
  .guide-list-wrapper {
    &.#{$id}-filters-applied {
      .brand-description {
        display: none;
      }

      .#{$id}-toggle__reset {
        display: block;

        /** Now Hidden **/
        display: none !important;
      }
    }

    // Grids that don't have calendars should be hidden
    // when we are filtering by calendars
    &.#{$id}-filters-applied[data-filtertype=calendar] {
      .#{$id}-no-calendars {
        display: none;
      }
    }

    .#{$id}-toggle {
      overflow: hidden;
      margin: 20px 0 30px;

      @media(max-width: 520px) {
        margin-top: -1px;
      }

      .clear {
        overflow: hidden;
      }

      &__jumpers-link, &__calendar-link, &__reset-link {
        cursor: pointer;
        text-decoration: none;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .#{$id}-toggle__col1 {
      width: 70%;
      float: left;
      background: url('//cdn.optimizely.com/img/6087172626/a2509c4404b5414faef579c0de83e86d.jpg');

      /** Now 100% **/
      width: 100%;

      background-size: cover;
      height: 350px;
      position: relative;

      @media(max-width: 1160px) {
        height: 280px;
      }
      @media(max-width: 1024px) {
        height: 200px;
      }

      @media(max-width: 767px) {
        width: 100%;
        background: url('//cdn.optimizely.com/img/6087172626/167f7f25ac1d43ca8338107a4b30bf2c.jpg');
        background-size: cover;
        background-position: bottom center;
        margin-bottom: 20px;
        height: 450px;
      }

      @media(max-width: 520px) {
        height: 390px;
      }
      @media(max-width: 460px) {
        height: 360px;
      }
      @media(max-width: 420px) {
        height: 350px;
      }

      a {
        position: relative;
        width: 100%;
        height: 100%;
        display: block;

        .xinner {
          color: #000;
          position: absolute;
          right: 30px;
          top: 50%;
          transform: translateY(-50%);
          width: 220px;
          text-align: center;

          @media(max-width: 1024px) {
            width: 170px;
            right: 15px;
          }

          @media(max-width: 1024px) {
            width: 190px;
            right: 25px;
          }

          @media(max-width: 767px) {
            top: 20px;
            right: auto;
            left: 50%;
            transform: translateX(-50%);
            width: 90%;
          }

          span {
            text-transform: uppercase;
            font-size: 32px;
            display: block;
            font-weight: 800;
            line-height: 1.2;
            margin-bottom: 20px;

            @media(max-width: 1160px) {
              font-size: 22px;
            }
            @media(max-width: 1024px) {
              font-size: 16px;
            }
            @media(max-width: 767px) {
              font-size: 25px;
            }
          }

          em {
            font-style: normal;
            display: block;
            font-size: 1.6rem;
          }
        }
      }
    }

    .#{$id}-toggle__col2 {
      width: 30%;
      float: left;
      background: url('//cdn.optimizely.com/img/6087172626/5ab9721ace364e4cacdeea0327b9e594.jpg');

      /** Now Hidden **/
      display: none !important;

      background-size: cover;
      background-position: center center;
      height: 350px;
      position: relative;
      border-left: 5px solid #fff;

      @media(max-width: 1160px) {
        height: 280px;
      }
      @media(max-width: 1024px) {
        height: 200px;
      }
      @media(max-width: 767px) {
        width: 100%;
        border-left: 0;
        border-top: 5px solid #fff;
        background-position: top center;
      }

      @media(max-width: 520px) {
        background: #fff url('//cdn.optimizely.com/img/6087172626/d266534bdd744441b3732103fc998857.jpg');
        background-size: 40%;
        background-repeat: no-repeat;
        background-position: right center;
      }

      a {
        position: relative;
        color: #000;
        width: 100%;
        height: 100%;
        display: block;

        .xinner {
          position: absolute;
          left: 50%;
          top: 30px;
          transform: translateX(-50%);
          width: 80%;
          text-align: center;

          @media(max-width: 520px) {
            left: 15px;
            top: 50%;
            transform: translateY(-50%);
            width: 45%;
            text-align: left;
          }

          span {
            text-transform: uppercase;
            font-size: 26px;
            display: block;
            font-weight: 800;
            line-height: 1.2;
            margin-bottom: 10px;

            @media(max-width: 1160px) {
              font-size: 22px;
            }
            @media(max-width: 1024px) {
              font-size: 16px;
            }
            @media(max-width: 520px) {
              display: none;
            }
          }

          em {
            font-style: normal !important;
            display: block;
            font-size: 1.6rem;
            margin-bottom: 10px;
          }
          strong {
            background: #0cbbf4;
            padding: 10px 15px;
            display: inline-block;
            margin: 5px 0;
            font-weight: normal;
            font-style: normal !important;
            font-size: 1.4rem;
            color: #fff;
            text-transform: uppercase;
            text-align: center;

            @media(max-width: 520px) {
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }

  .products-grid .product-item {
    &.#{$id}-off {
      display: none;
    }
    &.#{$id}-on {
      display: inline-block;
    }
  }
}
