@import './variables';

.#{$id} {

	.c-tabs {
		margin-bottom: 40px;
	}

	.c-tablist {
		display: none;
	}

	.c-tabpanel {
		border-top: none;
	}

	.c-container__main {
		padding-bottom: 0;
	}

	.accordion-button {

		width: 100%;
		padding: 15px 20px;
		background: #F9F6F6;
		border: 1px solid #F9F6F6;
		text-align: left;
		margin-top: 10px;
		color: #65615F;
		text-transform: uppercase;
		outline: none;

		& > * {
			pointer-events: none;
		}

		.plus-sign,
		.minus-sign {
			float: right;
			position: relative;
			top: 3px;
			fill: #65615F;
		}

		.minus-sign {
			display: none;
		}

		&.active {

			background: #FFFFFF;
			border: 1px solid #EFEFEF;
			border-bottom: none;

			.plus-sign {
				display: none;
			}

			.minus-sign {
				display: block;
			}
		}
	}

	.c-tabpanel.accordion-section {
		width: 100%;
		padding: 15px 20px;
		background: #F9F6F6;
		text-align: left;
		display: none;
		opacity: 0;

		&.active {
			background: #FFFFFF;
			border: 1px solid #EFEFEF;
			border-top: none;
			display: block !important;
			opacity: 1;
			transition: opacity 0.5s ease 0.5s;
		}
	}


}
