.MP115{
  /* UX styling */
  .your-cart.py-4 {
    padding: 10px;
  }
  #checkoutButtonTop{
    margin: 0 auto !important;
  }
  .checkout_split .hr-2{
    border: 0.7px solid #f3f3f3;
  }
  .checkout_split .hr-2:first-of-type,
  .cartTotalsPromo .hr-1 {
    width: 100%;
    border: 0px solid #f9f9f9;
    position: relative;
    background: #f3f3f3;
    height: 20px;
    margin: 0px;
    left: 0;
    padding: 0px;
    margin-bottom: 20px;
  }
  /* Voucher */
  #voucher{
    display: block !important;
    float: none;
    .vouchermsg{
      text-decoration: none;
    }
    .MP108-voucher_title{
      font-size: 20px;
      color: black;
      text-decoration: none;
      font-weight: bold;
    }
  }
  #redeemVoucherForm{
    .redeemForm{
      &.row{
        display: block !important;
        .col-xs-8.col-md-7.pr-0{
          width: 100%;
        }
      }
      .form-actions.redeem-btn{
        width: 100%;
        text-align: center;
      }
    }
  }
  /* savings */
  .checkout_savings{
    display: none;
    &.MP108-savings_valid{
      display: block;
      color: #d82f2f;
    } 
  }
  /* sizes chosen */
  .MP108-size_chosen {
    display: block;
    font-weight: 100;
    font-size: 13px;
    margin-top: 5px;
  }
  /*home delivery*/
  .MP108-home_delivery{
    width: 100%;
    float: left;
    padding: 10px;
    text-align: center;
    border-top: 20px solid #f3f3f3;
    .MP108-deliveryContent{
      background: #f8f8f8;
      text-align: left;
      li{
        margin-bottom: 5px;
        margin-top: 5px;
      }
      span{
        display: block;
        margin: 5px;
        margin-left: 0px;
      }
    }
    h3{
      display: block;
      width: 100%;
      font-size: 20px;
      text-align: center;
      margin-bottom: 20px;
    }
    .MP108-freeDelivery{
      display: inline-block;
    }
    .MP108-read_more_link{
      text-decoration: underline;
      margin-top: 20px;
      cursor: pointer;
      text-align: center;
      margin-bottom: 20px;
    }
    .MP108-readMore{
      &:last-of-type{
        display: none;
      }
      &.MP108-moreDeliver_showing{
        display: block;
      }
    }
    .MP108-freeDelivery{
      display: none;
      &.MP108-freeDelivery_valid{
        display: inline-block;
        position: relative;
        padding-left: 23px;
        &::after{
          position: absolute;
          content: '';
          display: block;
          left: 0;
          background-image:url('https://dd6zx4ibq538k.cloudfront.net/static/images/4068/f1ed9177bff519d4332b27473b9d9a32_64_64.png');
          background-size: contain;
          height: 15px;
          width: 15px;
          top: 0;
          background-repeat: no-repeat;
        }
      }
    }
  }   
  /* hide email */
  .footer .subscribe{
    display: none;
  } 
  /*checkout wrapper*/
  .yCmsContentSlot.row.pb-6{
    .pull-right{
      width: 100%;
    }
    .deliveryinfo{
      display: none;
    }
  } 
  /* payment icons */
  .con-shopping.cartNewButton .col-xs-12.pt-2.pb-4{
    padding: 0px;
  }
}