@import './variables';

.#{$id} {
  .#{$id}-click-collect {
    position: relative;
    padding-right: 60px;
    span {
      width: 40px;
      color: #eb1c21;
      position: absolute;
      right: 5px;
      font-size: 12px;
    }
  }

  @media screen and (min-width: 992px) and (max-width: 1284px) {
    .#{$id}-click-collect {
      margin-top: 10px;
    }
  }
}
