@import './variables';

.#{$id} {
  #productlistcontainer {
    li.SD050-viewed {
      .s-productthumbbox {
        border: 1px solid #9FA1A2;
        padding-bottom: 0;
      }
      .SD050-visited {
        background-color: #D4E0ED;
        text-align: center;
        padding: 7px 12px;
        border: 1px solid #9FA1A2;
        border-top: none;
        p {
          color: #3D464A;
          margin: 0;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: bold;
        }
      }
      
    }
  }
}
