@import './variables';

.#{$id} {

  &.#{$id}-fossil {
    .home-tile-grid {
      display: none !important;
    }
    .#{$id}-gridWrapper {
      margin: 0 auto;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
      display: -ms-grid;
      display: grid;
      font-family: Montserrat,sans-serif;
      grid-gap: 5px;
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      padding: 0;
      margin-top: 5px;
      max-width: 91.25rem;
      @media(min-width: 1024px) {
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: auto 1fr;
        margin: 0 auto;
        margin-bottom: 20px;
        padding: 5px;
      }

      [class^="#{$id}-homeTile"] {
        
        display: flex;
        flex-direction: column;
        height: auto;
        
        a {
          display: block;
          height: 100%;
          width: 100%;
          text-decoration: none;
        }
        .#{$id}-image {
          height: 100%;
        }
      }

      .#{$id}-homeTile-large {
        align-items: end;
        display: -ms-grid;
        display: grid;
        grid-column: 1/-1;
        @media(min-width: 1024px) {
          position:relative;
          -ms-grid-row-span: 2;
          -ms-grid-column: 1;
          -ms-grid-column-span: 1;
          grid-column: 1/2;
          grid-row: 1/-1;
        }

        .#{$id}-image {
          height: 200px;
          background: url('https://storage.googleapis.com/exp-app-storage/9191200e-b0b2-11ea-ad2a-8afcbfbc1b77/media/original/dd47f638-3317-11ec-8ff1-962b85e49225') no-repeat center;
          background-size: cover;
          @media(min-width: 1280px) {
           // background: url('https://storage.googleapis.com/exp-app-storage/9191200e-b0b2-11ea-ad2a-8afcbfbc1b77/media/original/dcbc51e6-3317-11ec-91d0-e6ec89eb653c') no-repeat center;
            background-size: cover;
          }
        }
        @media(min-width: 360px) {
          .#{$id}-image {
            height: 250px;
          }
        }
        @media(min-width: 568px) {
          .#{$id}-image {
            height: 350px;
          }
        }
        @media(min-width: 667px) {
          .#{$id}-image {
            height: 400px;
          }
        }
        
        @media(min-width: 767px) {
          .#{$id}-image {
            height: 500px;
          }
        }
        @media(min-width: 1024px) {
          grid-column: 1/2;
          grid-row: 1/-1;
          .#{$id}-image {
            height: 337px;
          }
        }
        @media(min-width: 1280px) {
          .#{$id}-image {
            height: 465px;
          }
        }
      }
      .#{$id}-homeTile-small {
        height: auto;
        .#{$id}-image {
          height: 140px;
          background: url('https://storage.googleapis.com/exp-app-storage/9191200e-b0b2-11ea-ad2a-8afcbfbc1b77/media/original/59dd9c7e-35a3-11ec-b9b5-bec9b0475291') no-repeat center;
          background-size: cover;
        }

        @media(min-width:375px) {
          .#{$id}-image {
            height:170px;
          }
        }

        @media(min-width:568px) {
          .#{$id}-image {
            height:250px;
          }
        }
        @media(min-width:667px) {
          .#{$id}-image {
            height:290px;
          }
        }
        @media(min-width:736px) {
          .#{$id}-image {
            height:310px;
          }
        }
        @media(min-width:767px) {
          .#{$id}-image {
            height:350px;
          }
        }
       
        @media(min-width: 1024px) {
          grid-column-start: 2;
          grid-row-start: 1;
          .#{$id}-image {
            height: 222px;
          }
        }

        @media(min-width: 1280px) {
          .#{$id}-image {
            height:340px;
          }
        }

      }
      .#{$id}-homeTile-small.#{$id}-last {
        .#{$id}-image {
          background: url('https://storage.googleapis.com/exp-app-storage/9191200e-b0b2-11ea-ad2a-8afcbfbc1b77/media/original/5a84218e-35a3-11ec-b714-768f72c4d8f6') no-repeat center;
          background-size: cover;
        }
        @media(min-width: 1024px) {
          grid-column-start: 3;
          .#{$id}-image {
            background-position: top;
          }
        }
      }
      .#{$id}-homeTile-full {
        
        padding: 0;
        .#{$id}-image {
          height: 140px;
          background: url('https://storage.googleapis.com/exp-app-storage/9191200e-b0b2-11ea-ad2a-8afcbfbc1b77/media/original/5afa3518-35a3-11ec-ba13-364bc8fa55d3') no-repeat center;
          background-size: cover;
        }
        @media(min-width: 375px) {
          .#{$id}-image {
            height: 150px;
          }
        }
        @media(min-width: 568px) {
          .#{$id}-image {
            height: 220px;
          }
        }
        @media(min-width: 667px) {
          .#{$id}-image {
            height: 240px;
          }
        }
        @media(min-width:736px) {
          .#{$id}-image {
            height:280px;
          }
        }
        @media(min-width:767px) {
          .#{$id}-image {
            height:300px;
          }
        }
       
        @media(min-width: 1024px) {
          grid-column: 2/span 2;
          grid-row-start: 2;
          
          .#{$id}-image {
            height: 100%;
            //background-size: 100% 100%;
            background: url('https://storage.googleapis.com/exp-app-storage/9191200e-b0b2-11ea-ad2a-8afcbfbc1b77/media/original/0724cf7a-373d-11ec-b395-ce6042a4af9b') no-repeat center;
            background-size: contain;
            background-color: #f5f5f3;
          }
        }
        
      }
    }
  }
}
