.ME163{
  .woocommerce-message.message-success{
    display: none;
  }
  .ME163-topOptions{
    display: none;
    text-align: center;
    &.ME163-options_showing{
      display: block;
      margin-bottom: 10px;
      margin-top: 10px;
    }
    .ME163-continue_shop{
      display: inline-block;
      text-decoration: underline;
      color: #787878;
      font-size: 13px;
      width: 43%;
    }
    .ME163-checkout{
      display: inline-block;
      text-align: center;
      width: 55%;
      font-size: 14px;
      .ME163-checkout_button {
        padding: 10px;
        background: #39abe8;
        border-radius: 3px;
        width: 90%;
        margin: 0 auto;
        margin-top: 5px;
        span{
          color: white;
          font-weight: bold;
          text-transform: uppercase;
        }
      }
    }
  } 
  .ME163-first_basketitem{
    display: block;
    .ME163-stockamount {
      display: block;
      width: 80%;
      border: 1px solid #39abe9;
      text-align: center;
      font-size: 12px;
      padding: 5px;
      margin-left: 60px;
      margin-bottom: 10px;
    }
  }
  .ME163-basketMessage{
    border: 1px solid #0cbbf4;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 17px;
    display: block;
    position: relative;
    &::before{
      content: '';
      height: 20px;
      position: absolute;
      width: 20px;
      left: 10px;
      background-image: url('//cdn.optimizely.com/img/6087172626/f17679a63c0343868e0426564dcee862.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center; 
      transform: translateY(-50%);
      top: 50%;     
    }
    &.ME163-basket_hidden{
      display: none;
    }
    .ME163_productName {
      font-weight: 600;
    }
    span {
      display: block;
      padding-left: 30px;
      position: relative;
      font-size: 14px;
    }
  }
}