@import './variables';

.ME305-2 {
  .merchoid-product-reasons {
    background-color: #FFF;
    border-bottom: 25px solid #f3f3f3;
  }
}

.#{$id} {
  .product-secondary-tabs__tab.product.faq {
    display: none;
  }

  .page-wrapper .product-secondary-tabs-wrapper {
    
  }

  .#{$id}-faq__wrapper {
    padding: 0px 20px 10px 20px;
    background: #f3f3f3;
    h3 {
      display: inline-block;
      // width: 80%;
      // text-transform: uppercase;
      font-size: 18px;
      // margin: 0 0 5px;
      text-align: left;
      color: #333
    }
    // --- V1
    ul.#{$id}-faq__container {
      margin: 0;

      list-style: none;
      padding: 0;
      
      li {
        overflow: hidden;
        margin-bottom: 0;
        h3 {
          width: 100%;
          position: relative;
          background-color: #FFF;
          font-weight: 500;
          display: flex;
          align-content: stretch;
          justify-content: space-between;
          align-items: center;
          padding: 10px 0 10px 15px;
          margin-bottom: 0;

  
          &:after {
            color: #0cbbf4;
            content: '\e608';
            font-family: 'icons-blank-theme';
            display: inline-block;
            font-size: 40px;
            line-height: 40px;
            transition: transform .25s linear;
          }
        }
        .#{$id}-content {
          display: none;
        }
        &.show {
          h3 {
            box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.15);

            &:after {
              transform: rotate(90deg);
            }
          }
          
          .#{$id}-content {
            display: block;
            background-color: #FFF;
            padding: 20px 20px 10px 20px;
            p {
              
              
            }
    
            ul {
              list-style: none;
              padding-left: 15px;
  
              li {
                // position: relative;
              }
            }
            
            ul li::before {
              content: "\2022";
              color: #0cbbf4;
              font-weight: bold;
              display: inline-block; 
              width: 1em;
              margin-left: -1em;
              position: absolute;
            }
          }
        }
        
        
      }
      

      
    }

    // --- V2 
    div.#{$id}-faq__container {
      position: relative;
      .tabs {
        position: relative;
        left: -20px;
        background-color: #FFF;
        width: calc(100vw);
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        overflow-x: scroll;

        .tab {
          min-width: 45%;
          padding: 10px 20px;
          position: relative;

          &.active {
            box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.10);
            &:after {
              display: block;
              content: '';
              height: 4px;
              background-color: #0cbbf4;
              position: absolute;
              bottom: 0;
              z-index: 9999;
              width: 100%;
              left: 0;
            }
          }

          p {
            margin: 0;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
            font-weight: 700;
            color: #000;
          }
        }
      }

      // .tabContent__bar {
      //   position: relative;
      //   left: -20px;
      //   background-color: transparent;
      //   width: calc(100vw);
      //   display: flex;
      //   align-items: center;
      //   height: 5px;
      //   overflow-x: scroll;

      //   div {
      //     min-width: 45%;
      //     padding: 3px;

      //     &.active {
      //       background-color: #0cbbf4 !important;
      //     }
      //   }
      // }

      .tabContent {
        padding: 25px 0 5px 0;
        div {
          display: none;

          &.active {
            display: block;
          }

          p {
            margin: 0;
            margin-bottom: 15px;
          }

          ul {
            list-style: none;
            padding-left: 15px;

            li {
              // position: relative;
            }
          }
          
          ul li::before {
            content: "\2022";
            color: #0cbbf4;
            font-weight: bold;
            display: inline-block; 
            width: 1em;
            margin-left: -1em;
            position: absolute;
          }
        }
      }
    }


  }
}

