@import './variables';

.#{$id} {
  [data-bv-show='inline_rating'] .bv_main_container.bv_inline_rating_container_left .bv_stars_component_container {
    @media (max-width: 600px) {
      padding-right: 0 !important;
    }
  }

  .rrItemContainer {
    height: auto;

    @media (max-width: 600px) {
      height: auto !important;
    }

    .product_ppu {
      float: none;
    }
    .rrTitleContainer {
      min-height: 80px;
    }
    .rrPriceContainer {
      min-height: 50px;
    }
  }

  &__cta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: calc(100% - 46px);
    margin: 20px auto 0;
    padding: 12px 24px;
    text-align: center;
    color: #fff;
    font-family: Boots Sharp;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.05em;
    background-color: #05054b;
    border-radius: 6px;
    border: 1px solid #05054b;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    @media (min-width: 600px) {
      max-width: 232px;
    }
    &:hover {
      background-color: #fff;
      color: #05054b;
    }
  }
}
