@import './variables';

html {
  scroll-behavior: smooth;
}

.#{$id} {
  .mobCbRow {
    z-index: 5800 !important;
    // transition: ease-in-out all .2s;
    top: 90px;
    &.FL083-extraH {
      top: 120px;
    }
  }

  #mobFilterControls {
    z-index: 9999;
  }

  .mainBody {
    padding-top: 70px;
  }

  .HeaderWrap.stickyHeader {
    z-index: 5700 !important;
  }

  .Responsive #FilterContainer {
    bottom: auto !important;
    top: 0 !important;
    z-index: 9999 !important;
    overflow: initial;
  }
  .Responsive #FilterContainer #innerfiltercontainer {
    bottom: 0 !important;
    top: auto !important;
  }
}
