body.TP107 {
  .TP107-trade-banner {
    border: 3px solid #0a4e37;
    box-sizing: border-box;
    .TP107-trade-title {
      text-align: center;
      position: relative;
      padding: 9px 10px;
      background-color: #0a4e37;
      p {
        padding-right: 45px;
        color: #fff;
        font-size: 14px;
        line-height: 20px;
        margin: 0;
      }
      span.TP107-arrow {
        position: absolute;
        right: 15px;
        top: 15px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 15px 0 15px 20px;
        border-color: transparent transparent transparent #fff;
        cursor: pointer;
        transition: ease-in all .2s;
        transform: rotate(90deg);
        &.TP107-open {
          transform: rotate(0deg);
        }
      }
    }
    .TP107-trade-dropdown {
      text-align: center;
      transition: ease-in all .2s;

      .TP107-dropdown-wrap {
        padding: 15px;
      }

      &.TP107-hide {
        display: none;
      }

      .TP107-row {
        border-bottom: 1px solid #ededed;
        padding: 10px 0;
        text-align: left;
        &:first-of-type {
          padding-top: 0;
        }
      }

      p {
        font-size: 12px;
        line-height: 16px;
        display: inline-block;
        clear: both;
        width: calc(100% - 145px);
        vertical-align: middle;
        &:first-of-type {
          display: block;
          width: 100%;
          margin-bottom: 5px;
        }
      }

      .TP107-cta {
        display: inline-block;
        width: 130px;
        vertical-align: middle;
        margin-left: 10px;
        a {
          font-size: 12px;
          line-height: 15px;
          text-align: center;
          text-decoration: none;
          color: #333;
          background-color: #F6B112;
          box-sizing: border-box;
          padding: 10px;
          display: block;
          border-radius: .3125em;
        }
      }

      .TP107-close {
        text-align: center;
        display: inline-block;
        padding: 7px 15px;
        background-color: #ededed;
        border: 1px solid #333;
        margin: 10px 5px auto;
        font-size: 12px;
        line-height: 16px;
        min-width: 120px;
        border-radius: .3125em;
      }

    }
  }
}