.ME173 {
  .me111-reviewsWrapper {
    display: none;
  }
  .ME173_review-wrap {
    background: #C3EEFE;
    margin-bottom: 20px;
    padding: 20px 20px 20px 20px;
  }
  .ME173_block {
    width: 100%;
    box-sizing: border-box;
    &+.ME173_block {
      width: 100%;
      border-top: 3px solid #0cbbf4;
      padding: 20px 10px 0 10px;
      margin-top: 20px;
      @media (min-width: 375px) {
        padding: 20px 20px 0 20px;
      }
    }
  }
  .ME173_img {
    position: relative;
    max-width: 310px;
    margin: 0 auto;
    .ME173_globe {
      display: inline-block;
      width: 95px;
      @media (min-width: 375px) {
        width: 115px;
      }
    }
    .ME173_char {
      position: absolute;
      top: 50%;
      left: 27px;
      width: 57px;
      transform: translateY(-50%);
      @media (min-width: 375px) {
        left: 32px;
        width: 67px;
      }
    }
    .ME173_char-name {
      font-size: 31px;
      position: absolute;
      top: 50%;
      left: 94px;
      text-transform: uppercase;
      line-height: 29px;
      transform: rotate(-2deg) translateY(-50%);
      font-weight: 900;
      margin-top: -1px;
      color: #fff;
      -webkit-text-stroke-width: 1px;
      -webkit-text-fill-color: #fff;
      @media (min-width: 375px) {
        left: 116px;
        font-size: 31px;
      }
      span {
        position: absolute;
        top: -3px;
        left: -3px;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
        z-index: 2;
      }
    }
  }
  .ME173_content {
    h3 {
      position: relative;
      font-size: 25px;
      margin: 0;
      font-weight: 900;
      -webkit-text-stroke-width: 1px;
      -webkit-text-fill-color: transparent;
      text-transform: uppercase;
      line-height: 30px;
      @media (min-width: 375px) {
        font-size: 30px;
      }
      span {
        position: absolute;
        top: 0;
        left: 0;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
        text-shadow: 2px 2px 0 #29c3f3;
        z-index: 2;
        font-weight: 900;
      }
    }
    p {
      margin: 5px 0 0 0;
      color: #4c4c4c;
    }
  }
}