.AC016_V1{
    
        //Default developing for mobile
        
        .distance-bands-text{
            display: none;
        }

        #search-results-container .results-filter + .distance-bands-text{ 
            display: block;
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            margin: 5px 0 25px 0;

            strong{
                color: #FF6500;
            }
        }

    
        //Tablet Start 
    
        @media(min-width:768px){
            //Insert Tablet CSS
            #search-results-container .results-filter + .distance-bands-text{ 
                display: block;
                font-weight: 700;
                font-size: 22px;
                line-height: 22px;
                margin: 15px 0 35px 0;

                br{
                    display: none;
                }
            }
        }
    
    }