.EJNavUpdate {
  .mobile_view-all a {
    color: #000;
    display: block;
    font-weight: normal;
    padding: 1em;
    border-bottom: 1px solid #000;
    text-align: center;
  }
  @media screen and (min-width: 40em) {
    .site-search {
      max-width: 300px;
    }
  }
  @media screen and (min-width: 64em) {
    .main-site-nav .top-level {
      -ms-grid-columns: 1fr 2fr 1fr 1.6fr 1fr 1fr 0.7fr;
      grid-template-columns: 1fr 2fr 1fr 1.6fr 1fr 1fr 0.7fr;
    }
    .desktop-header {
      -ms-grid-columns: 200px 2fr 260px;
      grid-template-columns: 200px 2fr 260px;
    }
    .main-site-nav {
      padding-left: 20px;
      box-sizing: border-box;
    }
    .mobile_view-all {
      display: none!important;
    }
  }
  @media screen and (min-width: 70em) {
    .desktop-header {
      -ms-grid-columns: 200px 2fr 300px;
      grid-template-columns: 200px 2fr 300px;
    }
  }
  .EJ_engage-rings,
  .EJ_wedding-rings {
    position: relative;
    .EJ_nav-ico {
      position: absolute;
      height: 69%;
      top: 7px;
      width: 10.5%;
      left: 2.4%;
      @media screen and (min-width: 64em) {
        display: none;
      }
    }
    &.showing .EJ_nav-ico {
      display: none;
    }
    @media screen and (min-width: 64em) {
      position: static;
    }
  }
  .EJ_wedding-rings .EJ_nav-ico {
    height: 69%;
    top: 7px;
    width: 7.5%;
    left: 4%;
  }
  .main-site-nav .top-level li:nth-child(2) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .main-site-nav .top-level li:nth-child(3) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
  }
  .main-site-nav .top-level li:nth-child(4) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
  }
  .main-site-nav .top-level li:nth-child(5) {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
  }
  .main-site-nav .top-level li:nth-child(6) {
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
  }
  .main-site-nav .top-level li:nth-child(7) {
    -ms-grid-column: 6;
    -ms-grid-column-span: 1;
  }
  .main-site-nav .top-level li:nth-child(8) {
    -ms-grid-column: 7;
    -ms-grid-column-span: 1;
  }
}

// #js-main-nav {
//   &::before {
//     content: '';
//     height: 100%;
//     width: 1px;
//     background: #000;
//     position: absolute;
//     top: 0;
//     left: 20vw;
//     z-index: 4;
//     margin-left: -1px;
//     transition: left ease-in 200ms;
//   }
// }