.ME148{
  .woocommerce-message.message-success{
    display: none;
  }
  .ME148-topOptions{
    display: none;
    text-align: center;
    &.ME148-options_showing{
      display: block;
      margin-bottom: 10px;
      margin-top: 10px;
    }
    .ME148-continue_shop{
      display: inline-block;
      text-decoration: underline;
      color: #787878;
      font-size: 13px;
      width: 43%;
    }
    .ME148-checkout{
      display: inline-block;
      text-align: center;
      width: 55%;
      font-size: 14px;
      .ME148-checkout_button {
        padding: 10px;
        background: #39abe8;
        border-radius: 3px;
        width: 90%;
        margin: 0 auto;
        margin-top: 5px;
        span{
          color: white;
          font-weight: bold;
          text-transform: uppercase;
        }
      }
    }
  } 
  .ME148-basket_message{
    border: 1px solid #0cbbf4;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 17px;
    display: block;
    &.ME148-basket_hidden{
      display: none;
    }
    .ME148_productName {
      font-weight: 600;
    }
    span{
      font-weight: bold;
    }
    .ME148-basket_text {
      padding-left: 30px;
      position: relative;
      font-size: 14px;
      &::before{
        content: '';
        height: 20px;
        width: 20px;
        position: absolute;
        left: 0;
        background-image: url('//cdn.optimizely.com/img/6087172626/f17679a63c0343868e0426564dcee862.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center; 
        transform: translateY(-50%);
        top: 50%;     
      }
    }
  }
}