.tpxxxa-tab-init .UC_fb-tab {
    background: #f6b112;
    font-weight: bold;
    color: #000;
}

.tpxxxa-tab-init .UC_fb-content__inner  {
    text-align: center;
}
.tpxxxa-tab-init .UC_fb-content__inner p {
    font-size: 14px;
    max-width: 350px;
    margin: 0 auto;
}
.tpxxxa-tab-init .UC_fb-content__inner strong {
    color: #000;
    text-shadow: 0 1px 0px rgba(12, 187, 244, 0.46), -1px 0 0px rgba(154, 154, 66, 0.43);
}
.tpxxxa-tab-init .UC_fb-content__inner img {
    max-width: 200px;
    height: auto;
    display: block;
    margin: 0 auto 20px;
}
.tpxxxa-tab-init .UC_fb-content__inner .btn {
    box-sizing: border-box;
    padding: 15px 30px;
    color: #fff;
    background: #014627;
    margin: 25px auto 0;
    max-width: 250px;
    display: block;
    text-decoration: none;
    font-weight: bold;
}
.tpxxxa-tab-init .UC_fb-content__inner .btn:hover {
    text-decoration: none;
    background: #000;
}
