@import './variables';

.#{$id} {
    .HSS-underline {
        text-decoration: underline;
    }

    .HSS-highlight {
        background-color: #ffd800;
        padding: 3px 4px !important;
        display: inline-block;
    }

    .HSS025-cta {
        text-align: center;
        padding-top: 10px;

        button {
            background-color: #41AD48;
            color: #fff;
            border: 1px solid #41AD48;
            border-radius: 4px;
            padding: 0 9px 6px 15px;
            position: relative;
            &:before {
                content: '';
                position: relative;
                width: 20px;
                height: 20px;
                background: url(https://www.hss.com/_ui/responsive/theme-hire/images/precart_tick.png) no-repeat;
                background-size: cover;
                left: -6px;
                top: 6px;
                display: inline-block;
            }
            
        }

    }


    .HS-plusLine {
        position: relative;
        display: inline-block;
        text-align: center;

        span.close-popup {
            position: relative !important;
            background-color: white !important;
            top: 40% !important;
            left: -10px !important; right: 0 !important;
            margin: auto;
            width: 35px !important;
            height: 35px !important;
            padding: 5px;
            // background-size: 25px !important;
            background-position: center center;
            background-image: none !important;
            transform: rotate(45deg);
            &:before, &:after {
                content: "";
                position: absolute;
                width: 30px;
                height: 3px;
                background-color: rgb(0, 135, 204);
                display: block;
                transform: rotate(45deg);
            }
            &:after {
                transform: rotate(-45deg);
            }
        }
    }

    @media only screen and (max-width: 649px) {
        .HSS025-freq {
            .precart_slider > .prod_list_outer:first-of-type {
                display: block;
                float: none;
                text-align: left;
                
                .thumb, .HSS025-cta {
                    display: inline-block !important;
                    vertical-align: middle;
                    width: auto;
                    height: auto;
                }

                .thumb img {
                    max-width: 120px;
                }

                .HSS025-cta {
                    margin-left: 45px;
                }
                
            }

            .row.precart_slider {
                display: block;
            }
        }


        .precart_available .product_listing_inner .prod_list_outer .prod_list .details {
            h2, h2 + span {
                text-align: left !important;
            }
        }

        .HS-plusLine {
            position: relative;
            min-height: 30px;
            padding: 20px 0;
            display: block;
            span.close-popup {
                left: 10px !important; right: 0 !important;
                margin: auto;
                background-color: white !important;
                top: 8px !important;
                width: 35px !important;
                height: 35px !important;
                padding: 5px;
                // background-size: 25px !important;
                background-position: center center;
                background-image: none !important;
                transform: rotate(-45deg);
                
                position: relative;
                &:before, &:after {
                    content: "";
                    position: absolute;
                    width: 30px;
                    height: 3px;
                    background-color: rgb(0, 135, 204);
                    display: block;
                    transform: rotate(45deg);
                }
                &:after {
                    transform: rotate(-45deg);
                }
            }
            &:before {
                content: "";
                position: absolute;
                top: 48%;
                left: 0;
                width: 35%;
                height: 1px;
                display: block;
                background-color: #222222;
            }
            &:after {
                content: "";
                position: absolute;
                top: 48%;
                right: 0;
                width: 35%;
                height: 1px;
                display: block;
                background-color: #222222;
            }
        }
    }

    .HS-small {
        font-size: .9em;
        text-transform: lowercase;
        text-decoration: none;
    }

    .precart_available_head h2, .precart_available_head span:not(.HSS-underline) {
        text-transform: capitalize;
        text-decoration: none !important;
    }
    

    @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
        .product_listing_inner .prod_list_outer {
            border: none;
        }
        .carouselItems .row .HS-plusLine span.close-popup {
            left: 20px !important;
        }
    }
}   
