@import './variables';

.#{$id} {
  /* Slider */
  .slick-slider
  {
      position: relative;

      display: block;
      box-sizing: border-box;

      -webkit-user-select: none;
        -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;

      -webkit-touch-callout: none;
      -khtml-user-select: none;
      -ms-touch-action: pan-y;
          touch-action: pan-y;
      -webkit-tap-highlight-color: transparent;
  }

  .slick-list
  {
      position: relative;

      display: block;
      overflow: hidden;

      margin: 0;
      padding: 0;
  }
  .slick-list:focus
  {
      outline: none;
  }
  .slick-list.dragging
  {
      cursor: pointer;
      cursor: hand;
  }

  .slick-slider .slick-track,
  .slick-slider .slick-list
  {
      -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
          -ms-transform: translate3d(0, 0, 0);
          -o-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
  }

  .slick-track
  {
      position: relative;
      top: 0;
      left: 0;

      display: block;
      margin-left: auto;
      margin-right: auto;
  }
  .slick-track:before,
  .slick-track:after
  {
      display: table;

      content: '';
  }
  .slick-track:after
  {
      clear: both;
  }
  .slick-loading .slick-track
  {
      visibility: hidden;
  }

  .slick-slide
  {
      display: none;
      float: left;
  }
  [dir='rtl'] .slick-slide
  {
      float: right;
  }
  .slick-slide img
  {
      display: block;
  }
  .slick-slide.slick-loading img
  {
      display: none;
  }
  .slick-slide.dragging img
  {
      pointer-events: none;
  }
  .slick-initialized .slick-slide
  {
      display: block;
  }
  .slick-loading .slick-slide
  {
      visibility: hidden;
  }
  .slick-vertical .slick-slide
  {
      display: block;

      height: auto;

      border: 1px solid transparent;
  }
  .slick-arrow.slick-hidden {
      display: none;
  }

  // ---- RC067 Slick
  // button.slick-prev.slick-arrow {
  //   display: none !important;
  // }

  // button.slick-next.slick-arrow {
  //   display: none !important;

  // }

  ul.slick-dots {
    // display: none !important;
  }

  // // ---- ARROWS
  // button.slick-prev.slick-arrow {
  //   position: absolute;
  //   // left: -60px;
  //   // top: 30%;
  //   // left: -33px;
  //   // top: 29%;
  //   top: 28%;
  //   // left: -20px;
  //   left: -19px;
  //   border: none !important;
  //   background-color: transparent !important;
  //   color: transparent !important;
  //   width: 50px;
  //   height: 60px;
  //   // display: none;
  //   // background-color: lightblue !important;

  //   @media screen and (max-width: 420px) {
  //     z-index: 99999;
  //     transform: rotate(-90deg);
  //     display: inline-block !important;
  //   }
  //   @media screen and (min-width: 421px) {
  //     // display: none !important;
  //     z-index: 99999;
  //     transform: rotate(-90deg);
  //     display: inline-block !important;
  //     left: -3.5vw;
  //   }

  //   &:after {
  //     display: inline-block;
  //     content: '';
  //     background-image: url('//useruploads.visualwebsiteoptimizer.com/useruploads/286844/images/8372eadcdf1adf27a3edae2a15fe66b8_download.png');
  //     transform: rotate(180deg);
  //     background-size: 100%;
  //     background-repeat: no-repeat;
  //     height: 45px;
  //     width: 40px;
  //   }
  //   &:hover {
  //     cursor: pointer;
  //   }
  //   &:focus {
  //     // outline: none;
  //     outline: 0;
  //   }
  // }

  // button.slick-next.slick-arrow {
  //   position: absolute;
  //   right: -40px;

  //   @media screen and (max-width: 420px) {
  //     //right: -22px !important;
  //     right: -11px !important;
  //   }
  //   top: 24.5%;
  //   border: none !important;
  //   background-color: transparent !important;
  //   color: transparent !important;
  //   width: 50px;
  //   height: 60px;
  //   // background-color: lightblue !important;
  //   &:after {
  //     display: inline-block;
  //     content: '';
  //     background-image: url('//useruploads.visualwebsiteoptimizer.com/useruploads/286844/images/8372eadcdf1adf27a3edae2a15fe66b8_download.png');
  //     transform: rotate(270deg);
  //     background-size: 100%;
  //     background-repeat: no-repeat;
  //     height: 45px;
  //     width: 40px;
  //   }
  //   &:hover {
  //     cursor: pointer;
  //   }
  //   &:focus {
  //     // outline: none;
  //     outline: 0;
  //   }
  // }


}