@import './variables';

.#{$id} {
  .home-tile-grid__text-tile {
    padding: 0;
    a {
      text-decoration: none;
      &:focus {
        outline: none;
      }
    }
  }
  .#{$id}-ifcbanner {
    background: black;
    padding: 25px;
    text-align: center;
    position: relative;
    .#{$id}-textContent {
      background: #412f57;
      color: white;
      padding: 10px;
      font-size: 14px;
      line-height: 20px;
    }
    .#{$id}-endDate {
      color: white;
      font-size: 11px;
      position: absolute;
      width: 100%;
      left: 50%;
      transform: translate(-50%);
      bottom: 3px;
    }
    @media(min-width: 375px) {
      padding: 20px;
      padding-bottom: 30px;
      padding-top: 30px;
      .#{$id}-endDate {
        bottom: 5px;
      }
    }
    @media(min-width: 767px) {

     padding: 30px;
      .#{$id}-textContent {
        font-size: 17px;
        padding: 20px;
      }
      .#{$id}-endDate {
        font-size: 13px;
      }
      
    }
    @media(min-width: 1024px) {
      .#{$id}-container {
        .#{$id}-textContent {
          padding: 15px 20px;
        }
      }
      .#{$id}-endDate {
        bottom: 4px;
      }
    }
  }

  &.hsamuel {
    // HS-specific styles
  }

  &.ernestjones {
    // EJ-specific styles
  }
}
