@import './scss/PJ029styles.scss';

.PJ041 {
  .omnibarMenu.obMenuInside {
    height: 55px;
    ul {
      li {
        display: none;
      }
    }
  }
  // hide navigation items

  div.wideCont.mainMenuCont.mainMenuContInside {
    display: none !important;
  }

  // Promo Code
  .enterPromoMobile {
    display: block !important;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    
    input {
      width: 60%;
    }
    a.actionButton {
      width: 33% !important;
      font-weight: 300;
    }
  }
  a.enterPromoArrow {
    i.fa.fa-caret-down, i.fa.fa-caret-up {
      display: none;
    }
    .promoCode__instructions {
      color: #439776;
    }
    text-align: center;
  }

  // @media screen and (min-width: 330px) {
  //   .enterPromoMobile {
  //     text-align: center;
  //   }
  // }

  .main {
    margin-top: 0px !important;
  }

  // Progress Steps
  .PJ041-progressBar__wrapper {
    margin-top: 55px;
    display: block;
    width: 100%;
    height: auto;
    position: relative;

    .PJ041-progressBar__container {
      width: 90%;
      height: 100px;
      margin: auto;

      ul.PJ041-progressBar__steps {
        list-style: none;
        margin-left: 0;

        li.progressBar__step {
          width: 15%;
          display: inline-block;
          font-family: 'Open Sans Condensed', sans-serif;
          text-align: center;
          vertical-align: top;

          .step__icon {
            width: 30px;
            height: 30px;
            position: relative;
            top: 15px;
            background-color: rgb(143, 143, 143);
            border-radius: 25px;
            display: block;
            margin: auto;
            margin-left: 10px;

            &.active {
              background-color: #439776;
            }

            &>span {
              position: absolute;
              top: 50%;
              transform: translate(-50%,-50%);
              color: #FFF;
              font-weight: 500;
            }
          }

          .step {
            font-size: 13px;
            position: relative;
            width: 13vw;
            line-height: 17px;
            margin-top: 21px;

            &.active {
              color: #439776;
              font-weight: 600;
              font-size: 13px;
            }
          }
        }

        li.progressBar__dash {
          width: 10px;
          display: inline-block;
          color: #8f8f8f;
          position: relative;
          line-height: 69px;
        }
      }
    }
  }

  // Free Dips Selection
  .PJ041-freeDips__wrapper {
    width: 100%;
    margin-top: 10px;

    &.hide {
      display: none;
    }

    .PJ041-freeDips__container {
      width: 100%;

      .PJ041-freeDips__text {
        font-family: 'Open Sans Condensed', sans-serif;
        width: 80%;
        margin: auto;
        text-align: center;
        font-size: 22px;
      }

      .PJ041-freeDips__selectionContainer {
        width: 65%;
        margin: auto;
        position: relative;
        margin-top: 20px;

        .PJ041-freeDips__select {
          width: 200px;
          // margin: auto;

          p.inputs {
            display: inline-block;
            margin-bottom: 10px;

            select.freeDipSelect {
              display: inline-block;
              height: 44px;
              width: 200px;
              border-radius: 0;
            }
          }

          .addFreeDip.m-checkout-buttons {
            display: inline-block;
            width: 50px;
            height: 40px;
            position: absolute;

            div.addFreeDip__btn.actionButton {
              background-color: #439776;
              color: #FFF;
              font: bold 18px 'Open Sans Condensed',sans-serif;
              padding: 10px 5px;
              text-align: center;
              border-radius: 0px;
            }
          }
        }
      }
    }
  }

  // Inactive CTA buttons
  .checkoutButtonsMobile {
    background-color: #F1F1F1;
    padding-top: 5px;
    padding-bottom: 10px;

    .m-checkout-buttons {
      position: relative;
      div.actionButton {
        //position: relative;
        background-color: #439776;
        color: #FFF;
        font: bold 18px 'Open Sans Condensed',sans-serif;
        padding: 10px 5px;
        text-align: center;
        border-radius: 4px;

        &:after {
          display: block;
          content: '';
          width: 100%;
          height: 100%;
          background-color: #FFF;
          opacity: 0.5;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 9999;
        }
      }
    }
    div#visa-checkout {
      position: relative !important;
      div.v-checkout-wrapper {
        &:after {
          display: block;
          content: '';
          width: 100%;
          height: 70%;
          background-color: #FFF;
          opacity: 0.5;
          position: absolute;
          left: 0;
          bottom: 0;
          z-index: 9999;
        }
      }
    }
  }

  // free dips
  .missingItemsMobileCont{
    margin: 6px;
     h2{
       text-align: center;
       line-height: 23px;
       span{
        display: block;
        padding-bottom: 20px;
        position: relative;
        margin-bottom: 20px;
         &::after{
           content: '';
           width: 100px;
           border: 1px solid #b4131d;
           position: absolute;
           bottom: 0;
           left: 50%;
           transform: translateX(-50%);
         }
       }
     }
    .freeItem{
      .greenToggle{
        background-color: transparent;
        color: #0f9675;
        line-height: 25px;
        height: 25px;
        border: 2px solid #0f9675;
        border-radius: 8px;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        font: bold 18px 'Open Sans Condensed',sans-serif;
        text-decoration: none;
        padding: 0 13px;
        line-height: 25px;
      }
      .otherItems{
        border-bottom: 1px solid #cacaca;
        padding-bottom: 15px;
         a {
          display: inline-block;
          width: 49%;
          color: #55565a;
          font-size: 16px;
          margin-bottom: 5px;
         }
      }
      &:last-child{
        .otherItems{
          border-bottom: 0px;
        }
      }
    }
  }

  // Payment Details
  #ctl00_cphBody_divPingIt {
    .m-method span.name {
      margin-bottom: 30px;
    }
  }

  // upsell message
  .upsell-mobile {
    font-family: "Open Sans Condensed",sans-serif;
    h2 {
      padding: 15px 10px;
      background: #f1f1f1;
      font-size: 21px;
      color: #a41514;
      font-weight: 600;
      span{
        font-size: 15px;
        display: block;
        color: black;
        font-weight: normal;
        margin-top: 5px;
      }
    }
  }

  @media screen and (max-width: 330px) {
    .PJ041-progressBar__container {
      .step__icon {
        margin-left: 5px !important;
      }
    }
  }
}