@import "./scss/_nouislider.scss";
@import "./scss/_slick.scss";
.HS017 {
  &.HS017_hide-price #refinement-price {
    /*display: none;*/
  }
  &.HS017_hide-range .hs17-topbar {
    display: none;
  }
  .hs17-hide {
    display: none;
  }
  .hs17-banner-container {
    min-height: 200px;
    box-sizing: border-box;
    padding: 20px 0;
    background-image: url(https://service.maxymiser.net/cm/images-us/1/1/2/6535BC64642D4B2E7D9BC4C1EC229BC167E84D67657E75F927648E6022D9A5BD/hsamuel-co-uk/HS017---Watches-PLP/generic-banner.jpg);
    background-size: cover;
    background-position: center center;
    color: #fff;
    display: flex;

    @media(max-width: 1024px) {
      min-height: 170px;
    }
  }
  .hs17-banner {
    background: none;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media(max-width: 1024px) {
      display: block;
      width: 100%;
      box-sizing: border-box;
    }
    .h17-page-title {
      color: #fff;
      margin-top: 0;
      margin-bottom: 0;
      text-align: center;
    }
    .hs17-subtitle {
      text-align: center;
      max-width: 800px;
    }
  }
  .hs17-ctas {
    margin: 10px 0 15px;
    text-align: center;
  }
  .hs17-ctas__link {
    cursor: pointer;
    margin: 0 10px;
    display: inline-block;
    text-align: center;
    background: #fff;
    border: 2px solid #484849;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #484849;
    height: auto;
    padding: 0.5rem 4rem;
    width: auto;
    font-family: DINCondensed-Regular;
    letter-spacing: .2px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.8rem;
    transition: 0.3s all;
    &:hover {
      background: #484849;
      color: #fff;
    }
  }
  /* noUiSlider fix 100% offset handles */
  .hs17-nouislider-wrap .noUi-origin {
    left: 100%;
  }
  .hs17-topbar {
    width: 100%;
    overflow: hidden;
    margin: 20px 0 10px;
    padding: 10px 0;
    clear: both;
    position: relative;
    @media(max-width: 1024px) {
      margin-top: 0;
      background: #eee;
    }
    /* noUiSlider overrides */
    .noUi-horizontal {
      height: 9px;
      border-color: transparent;
    }
    .noUi-connects {
      background: #bbb;
    }
    .noUi-horizontal .noUi-handle {
      top: -13px;
      width: 34px;
      height: 34px;
      border-radius: 17px;
      outline: none;
      &:before,
      &:after {
        display: none;
      }
    }
    .noUi-horizontal .noUi-tooltip {
      bottom: -28px;
      padding: 0;
      border: 0;
      background: transparent;
    }
    .hs17-close-together {
      .noUi-handle-lower .noUi-tooltip {
        left: 0px;
      }
      .noUi-handle-upper .noUi-tooltip {
        right: 10px;
      }
    }
    .noUi-connect {
      background: #000;
    }
    .hs17-nouislider-wrap {
      position: relative;
      float: left;
      width: 75%;
      box-sizing: border-box;
      padding-right: 15px;
      padding-bottom: 43px;
      @media(max-width: 1024px) {
        width: 100%;
        padding-bottom: 61px;
      }
      .hs17-slider-label {
        width: 200px;
        font-size: 1.4rem;
        font-weight: bold;
        text-align: center;
        float: left;
        @media(max-width: 1024px) {
          width: 100%;
          font-family: DINCondensed-Regular;
          font-size: 2rem;
          font-weight: normal;
          text-transform: uppercase;
          margin-bottom: 15px;
        }
      }
      .hs17-priceslider {
        display: block;
        width: calc(100% - 220px);
        margin-left: 20px;
        margin-top: 8px;
        float: left;
        @media(max-width: 1024px) {
          width: 80%;
          margin-left: 10%;
        }
      }
    }
    .hs17-sort-wrap {
      width: 25%;
      float: left;
      box-sizing: border-box;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      @media(max-width: 1024px) {
        display: none;
      }
      .browse__sort-container {
        //flex-direction: column;
        align-items: flex-start;
        .styled-select {
          border-color: #a9a9a9;
          font-size: 16px;
          display: inline-block;
          select {
            padding-top: 12px;
            padding-bottom: 12px;
          }
        }
      }
    }
  }
  /* Brands slider / slick overrides */
  .hs17-brands-slider-wrapper {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    @media(max-width: 1024px) {
      margin: 15px auto;
    }
    .slick-prev,
    .slick-next {
      width: auto;
      height: auto;
    }
    .slick-prev {
      @media(max-width: 1024px) {
        left: -15px;
      }
    }
    .slick-next {
      @media(max-width: 1024px) {
        right: -15px;
      }
    }
    .slick-prev:before,
    .slick-next:before {
      font-size: 50px;
      line-height: 1;
      font-family: monospace;
      color: #fff;
      background-size: contain;
      display: block;
      width: 32px;
      height: 32px;
      @media(max-width: 1024px) {
        color: #000;
      }
    }
    .slick-prev:before {
      content: "";
      background-image: url('//service.maxymiser.net/cm/images-us/1/1/2/752069BF95C5DBE380D170F44FF783BD6E1BA5C6EFC07F3CE9607C8E5188AC41/hsamuel-co-uk/HS017---Watches-PLP/back1.png');
      display: block;
      @media(max-width: 1024px) {
        background-image: url('//service.maxymiser.net/cm/images-us/1/1/2/F64452A40A9F3DB58E60DD3645C61FFA604E8F348E7A504185D72210224AD9F8/hsamuel-co-uk/HS017---Watches-PLP/back.png');
      }
    }
    .slick-next:before {
      content: "";
      background-image: url('//service.maxymiser.net/cm/images-us/1/1/2/C06C888EFF301EC1DD65B1F59CCB5DF324B2948A710DA2998E002DB4920A52AB/hsamuel-co-uk/HS017---Watches-PLP/next2.png');
      @media(max-width: 1024px) {
        background-image: url('//service.maxymiser.net/cm/images-us/1/1/2/9064C44ECA2EC0FCEFFE887F88F5EB09503D931C7AC99F6CDA3749DC14109209/hsamuel-co-uk/HS017---Watches-PLP/next1.png');
      }
    }
    .hs17-brands-slider {
      padding: 0 20px;
      margin-top: 10px;
      position: relative;
    }
    .hs17-brands-slider__brand {
      text-align: center;
      padding: 0 7px;
      box-sizing: border-box;
      width: 160px !important;
      a {
        box-sizing: border-box;
        display: inline-block;
        border-radius: 5px;
        line-height: 34px;
        font-family: DINCondensed-Regular;
        padding: 0 10px;
        background: #fff;
        width: 100%;
        text-decoration: none;
        font-size: 1.1em;
        transition: 0.3s background-color, 0.2s color;
        &:hover {
          background-color: #ddd;
        }
        @media(max-width: 1024px) {
          border: 2px solid #ddd;
        }
      }
    }
  }
  /**** Considerations for what displays on different page types ****/
  &.HS017-is-brand {
    .hs17-brands-slider__brand {
      display: none;
    }
  }
  &.HS017-is-gender {
    .hs17-ctas {
      display: none;
    }
  }
  &.HS017-not-is-brand.HS017-not-is-gender {
    @media(min-width: 1025px) {
      .hs17-ctas {
        // Not brand and not gender, default to brand slider so hide the 'for him / for her' ctas
        // This only applies on desktop devices where the space in which these appear is shared
        display: none;
      }
    }
  }
}
