@import './variables';

$avonPink: #FF336D;
$avonPink2: #ec008c;
$grey: #546264;
$grey2: #3a4446;
$lightgrey: #ccc;
$fontFamily: Roboto, Lato, Arial, Gotham, Helvetica Neue, Helvetica, sans-serif !important;

.#{$id} {
  #SectionShare {
    display: none !important;
  }
  #MiddleSeparator {
    display: none !important;
  }
}
