@import './variables';

.#{$id} {
  .page-main{
   padding: 0px;
   .product-info-main {
    .product-description {
      padding-left: 15px;
      padding-right: 15px;
    }
   }
  }
  
  #maincontent {
    .#{$id}-sizing_box {
      padding: 10px;
      position: relative;
      text-align: center;
      .#{$id}-size_inner {
        position: relative;
        border: 1px solid black;
        background: white;
        .product-info-price {
          border: 0px;
          margin-bottom: 0px;
          margin-top: 10px;
          padding: 10px;
          .product-info-stock-sku {
            display: none;
          }
        }
        .#{$id}-limitedStock {
          display: none;
          margin-top: 10px;
          b {
            color: #0abbf4;
          }
        }
        .product-options-wrapper {
          background: #f1f1f1;
          padding: 10px;
          margin-top: 0px !important;
          .#{$id}-selectSize {
            color: black;
            display: block;
            margin-top: 10px;
            margin-bottom: 10px;
          }
          .fieldset {
            margin-bottom: 0px;
            .field {
              select {
                border: 1px solid black !important;
               }
            }
          }
        }
        .box-tocart {
          button {
            width: 85%;
            margin: 0 auto;
          }
        }
      }
      &:before {
        content: '';
        background: black;
        height: 70%;
        position: absolute;
        width: 100%;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
