body.TP078 {
  // Client amend - create space below data sheets
  #tp26_overview {
    margin-bottom: 20px;
  }
  .increasingly_element form .products-view-left.products-view {
    margin-bottom: 20px;
  }
  #tp26_overview>ul.tabs {
    display: none;
  }
  #tp26_overview .tab-content {
    display: block;
  }
  .tab-content .ui-collapsible-content.ui-body-inherit.ui-collapsible-content-collapsed {
    display: block;
  }
  .tab-content p {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 15px;
  }
  #tab-1 {
    overflow: visible;
    .ui-collapsible-content.ui-body-inherit.ui-collapsible-content-collapsed {
      padding: 0;
    }
  }
  #tp26_overview.TP078-Hide #tab-3 {
    >p {
      display: none;
    }
  }
  #tab-3 .dataSheetClass ul {
    list-style: disc;
    margin-left: 20px;
    li a {
      color: rgb(10, 79, 56);
    }
    li+li {
      margin-top: 15px;
    }
  }
  .tp_specificationTable {
    width: 100%;
    tbody,
    tr {
      width: 100%;
    }
    td {
      padding-left: 0 !important;
      width: 50%;
      &+td {
        text-align: right;
      }
    }
  }
  #tab-2 {
    margin-top: 15px;
    .featureClass+.featureClass {
      margin-top: 20px;
    }
  }
  #content .tp_prod_detail .featureClass ul {
    padding-left: 20px !important;
    margin-bottom: 15px;
  }
  .tpAddToQuoteList.button {
    &+#tp26_overview {
      margin-top: 15px;
    }
  }
  &.TP026.feature-design #content .tpToolTip #addToQuoteTextButton {
    width: auto !important;
    margin-left: 88px !important;
    float: none;
    margin: 0 !important;
    text-align: center !important;
  }
  &.feature-design .tpAddToQuoteList .tpToolTip {
    padding: 0 20px 0 40px;
    text-align: center;
  }
  .increasingly_element .increasingly-row {
    margin: -40px 0px 0 0px;
  }
}