@import './variables';

//@import './lib/components/modal/modal';
.#{$id} {
  .TRAV-324-bookNow {
    display: none !important;
  }

  #rebase .card-top .row.card-bg-color {
    width: 100% !important;
  }

  .card-bg-color-flexi {
    //display: none !important;
    visibility: hidden !important;
    width: 0 !important;
    padding: 0 !important;
  }
  .pop_up_box {
    width: 100%;
    background: #ffffff;
  }

  .#{$id}__rate-grandparent {
    @include media-query(md) {
      display: block !important;
      background: linear-gradient(to bottom, #f5f5f5 45%, white 30%);
      padding-top: 50px !important;
      padding-right: 16px !important;
      & > div:first-child {
        width: calc(100% - 130px) !important;
      }

      &::before {
        padding-bottom: 0 !important;
      }
    }
  }

  .#{$id}__rate-parent {
    @include media-query(md) {
      display: flex;
      transform: translateY(-65px);
      width: max-content !important;
      margin-left: auto;
      order: 5;
      & > button {
        opacity: 0 !important;
        visibility: hidden;
      }
    }
    .rate-btn.selected[data-rate-plan-code='SAVER'] {
      display: block;
      & + div {
        background: #0395ce;
        color: #fff !important;
        span {
          color: #fff !important;
        }
      }
    }
  }

  .#{$id}-bookNow,
  .#{$id}-room-rate-setect {
    width: 100%;
    background: #0395ce;
    font-size: 18px;
    color: #fff !important;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 4px;
    font-family: 'FS Albert Bold', arial, sans-serif;
    border: 0;
    padding: 14px 20px;
    cursor: pointer;
  }

  .#{$id}-room-rate-setect {
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 42px;
    margin-top: 7px;
    background: #fff;
    border: 1px solid #008cc6;

    display: none;
    @include media-query(md) {
      display: flex;
    }

    span {
      display: flex;
      align-items: center;
      color: #008cc6 !important;
      font-size: 22px;
      min-height: 42px;
      font-weight: normal;
      line-height: 35px;
    }
  }

  .modal-flexi-container-head-skip {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 160px;
    padding: 0;

    justify-content: center;

    align-items: center;
    gap: 10px;

    flex: 1 0 0;
    border-radius: 5px;
    background: #fff;
    color: #008cc6;
    text-align: center;
    font-family: 'FS Albert Bold', arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    border: 2px solid #008cc6;
  }

  .pop_up_box_contents {
    padding: 16px 16px 8px;
    font-family: 'FS Albert Bold', arial, sans-serif;
  }

  .box_contents {
    border: 2px solid #dd1325;
    padding: 18px;
    font-family: 'FS Albert Bold', arial, sans-serif;
  }

  .heading_text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    .modal__close {
      cursor: pointer;
    }
    span {
      color: #000000;
      font-size: 21px;
      line-height: 22px;

      font-weight: 700;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .box_heading span {
    font-size: 18px;
    color: #464646;
    font-weight: 700;
    line-height: 20px;
  }

  .box_points {
    margin: 0 16px 0 0;
  }

  .point {
    display: flex;
    align-items: center;
    margin: 23px 0;
    span {
      margin-left: 12px;
      color: #464646;
      font-size: 16px;
      line-height: 18px;
      font-weight: 400;
    }
  }

  .box_btn {
    cursor: pointer;
    span {
      max-width: 342px;
      width: 100%;
      display: flex;
      color: #ffffff;
      background: #dc1323;
      text-decoration: none;
      justify-content: center;
      align-items: center;
      height: 35px;
      border-radius: 5px;
      font-size: 18px;
      line-height: 20px;
      font-weight: 700;
    }
  }
  .box_total {
    max-width: 368px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .box_items {
    display: flex;
    //margin-right: 10px;
  }

  .box_img {
    width: 100%;
    max-width: 350px;
    img {
      max-width: 100%;
      height: 100%;
    }
  }

  .box-cta {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;

    span {
      max-width: 350px;
      width: 100%;
      display: flex;
      justify-content: center;
      background: #008cc6;
      height: 50px;
      color: #fff;
      align-items: center;
      text-decoration: none;
      font-size: 18px;
      font-weight: 700;
      margin: 8px 0;
      border-radius: 5px;
    }
  }

  .box_total span {
    color: #464646;
    font-size: 18px;

    &:nth-child(2) {
      font-weight: 700;
    }
  }

  .box_cta_div {
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    border-bottom: none;
    padding: 8px 16px 8px 16px;
    margin-top: 12px;
    display: flex;

    & > div:not(:last-child) {
      margin-right: 16px;
    }
  }

  @media screen and (max-width: 768px) {
    .box_items {
      flex-direction: column-reverse;
    }
    .box_cta_div {
      flex-direction: column;
      margin-bottom: 35px;
      & > div:not(:last-child) {
        margin-right: 8px;
      }
    }

    .heading_text span {
      text-align: center;
    }
    .box_total {
      max-width: 312px;

      margin: auto;
      width: 100%;
    }
    .box-cta {
      justify-content: center;
      cursor: pointer;
      span {
        max-width: 330px;
      }
    }

    .box_contents {
      padding: 16px;
    }
    .box_points {
      margin: 12px 0 4px;
    }
  }
}
