@import './variables';

.#{$id} {
  .homepage-hero--image-container {
    filter: brightness(0.75);
  }

  .homepage-hero--text {
    min-width: 575px;
    padding: 5% 3% !important;
    h1.homepage-hero--title, p.homepage-hero--description.large {
      max-width: 100%;
      margin-bottom: 10px !important;
    }
    a.cta {
      display: inline-block !important;
    }

    .#{$id}-cta {
      margin-right: 10px;
    }
  }

  .#{$id}-hero--title {
    margin-bottom: 0px !important;
  }
  .#{$id}-hero--description {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px !important;
  }
  .homepage-hero--description {
    margin-bottom: 30px !important;
  }

  @media screen and (max-width: 570px) {
    .homepage-hero--text {
      min-width: 0px !important;
      padding: 5% !important;
      .homepage-hero--title {
        margin-bottom: 20px !important;
        margin: auto;
      }
      a.cta {
        display: block !important;
        width: 100%;
      }
      .#{$id}-cta {
        margin-right: 0px !important;
        margin-bottom: 10px;
      }

      p.#{$id}-hero--description.homepage-hero--description.large {
        margin: auto;
      }
    }
  }
}
