.MP040v2 .plp-block .plp-heading .plp-title h3 {
  margin-bottom: 10px; }

.MP040v2.pageType-CategoryPage .plp-block .paragraph-plp.yCmsContentSlot,
.MP040v2.page-search .yCmsComponent.content-search {
  display: none; }

.MP040v2 .MP040v2_component {
  max-width: none;
  margin: 0 auto 30px auto;
  border: 1px solid #bdbdbd;
  line-height: normal;
  overflow: auto;
  font-size: 10px;
  font-family: Helvetica,Arial,sans-serif;
  font-weight: 300; }

.MP040v2 .MP040v2_component_info {
  text-align: center;
  padding: 7px 3px; }

.MP040v2 .MP040v2_no-padding {
  padding: 0 !important; }

.MP040v2 .MP040v2_component_title {
  font-size: 14px;
  line-height: normal;
  border-bottom: 1px solid #DBAB41;
  text-transform: uppercase;
  margin: 3px auto;
  font-weight: 300;
  padding: 0 4px 3px 4px;
  display: none !important; }

.MP040v2 .MP040v2_desc {
  line-height: normal; }

.MP040v2 .MP040v2_component_btn {
  background: #323232;
  color: #FFF;
  padding: 9px 0;
  margin: 25px auto 0 auto;
  width: 90%;
  display: inline-block;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 11px;
  display: block;
  max-width: 130px; }

.MP040v2 .MP040v2_component_subtext {
  line-height: normal;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 8px; }

.MP040v2 .MP040v2_component_image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 2px solid #bdbdbd;
  height: 90px; }
  .MP040v2 .MP040v2_component_image.MP040v2_img_1 {
    background-image: url("https://ab-test-sandbox.userconversion.com/experiments/MP040v2-Mia_Ivory_2_piece_set.jpeg"); }
  .MP040v2 .MP040v2_component_image.MP040v2_img_2 {
    background-image: url("https://ab-test-sandbox.userconversion.com/experiments/MP040v2-Mia_Ivory_3_piece_set.jpeg"); }

@media (max-width: 640px) {
  .MP040v2 .MP040v2_component {
    margin: 0px auto; } }

@media (min-width: 360px) {
  .MP040v2 .MP040v2_component_desc {
    font-size: 11px;
    font-style: italic;
    padding: 0 20px;
    font-weight: 400; } }

.MP040v2 .MP040v2_component_title {
  padding: 0 10px 3px 10px;
  margin: 4px auto;
  display: none !important; }

.MP040v2 .MP040v2_component_image {
  height: 100px; }

@media (min-width: 410px) {
  .MP040v2_component_title {
    font-size: 17px;
    padding: 0px 10px 5px 10px;
    margin: 5px auto;
    display: none !important; }
  .MP040v2_component_info {
    text-align: center;
    padding: 10px 3px; }
  .MP040v2_component_subtext {
    margin-top: 6px; }
  .MP040v2_component_desc {
    font-size: 12px;
    font-style: italic;
    padding: 0 20px;
    font-weight: 400; }
  .MP040v2_component_btn {
    margin: 38px auto 0 auto; } }

@media (min-width: 480px) {
  .MP040v2_component_image {
    height: 120px; }
  .MP040v2_component_subtext {
    margin-top: 7px;
    font-size: 13px; } }

@media (min-width: 768px) {
  .MP040v2_component {
    margin: 20px auto;
    font-size: 14px;
    height: 200px;
    max-width: 680px; }
  .MP040v2_component_subtext {
    margin-top: 10px;
    text-transform: capitalize !important; }
    .MP040v2_component_subtext:before {
      content: "";
      padding: 1px 0 1px 20px;
      background: url(https://mamasandpapas.ugc.bazaarvoice.com/static/4006redes-en_gb/smAvatar.gif) no-repeat 0 50%; }
  .MP040v2_component_desc {
    font-style: italic;
    font-size: 12px;
    padding: 0 20px;
    font-weight: 400; }
  .MP040v2_component_image_wrap {
    height: 100% !important;
    overflow: hidden; }
  .MP040v2_component_image {
    height: 200px;
    height: 100% !important; }
  .MP040v2_component_btn {
    max-width: 120px;
    margin: 15px auto 0 auto;
    font-size: 12px;
    padding: 10px 0; }
  .MP040v2_component_title {
    font-size: 21px;
    padding: 0 0 10px 0;
    margin: 8px auto 10px auto;
    border-width: 2px;
    display: none !important; }
  .MP040v2_component_info {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); } }

@media (min-width: 960px) {
  .MP040v2_component {
    max-width: none;
    width: 100%; } }
