@import './variables';

.#{$id} {
    .BD011-nav {
        max-height: 240px;
        overflow-y: scroll;
        position: relative;


    }
    .header__menu__image {
        position: absolute;
        bottom: 10px; right: 10px;
        opacity: .2;
        z-index: -1;

        // h4.heading {
        //     position: fixed;
        //     bottom: 10px;
        //     font-size: 2em;
        // }
    }
}
