@import './variables';

$red: #f4436d;

.#{$id} {
  &-container {
    position: relative;

    &__items {
      display: flex;
      justify-content: space-evenly;

      &.xinit {
        display: block;
      }
    }

    h2 {
      font-family: "Born Ready", "Brush Script MT", Mistral, cursive;
      color: $red;
      font-size: 30px;
      text-align: center;
      margin-bottom: 5px;
    }

    &__subtitle {
      text-align: center;
      margin-bottom: 20px;
    }

    &__btns {
      text-align: center;
      margin-top: 30px;

      a {
        @media(min-width: 360px) {
          min-width: 150px;
        }
      }
    }
    
    button.slick-disabled {
      display: none !important;
    }
  }

  &-item {
    width: 33.33%;
    float: left;

    h3 {
      font-size: 14px;

      @media(min-width: 768px) {
        font-size: 18px;
      }
    }
  }

  .xinit &-item {
    width: 100%;
    float: none;
    padding: 0 10px;
  }

  .c-product-summary--block {
    @media(min-width: 1024px) {
      max-width: 30rem;
      padding: 0 15px;
    }
  }
}
