@import './variables';

.#{$id} {

    &__trade-counter-wrapper {
        color: #fff;
        background: #1E1E1E;
        margin: 0 -16px 0px -8px;
    }

    &__trade-counter {
        padding: 5px 5px 20px;
        text-align: center;
    }

    &__trade-headline {
        padding: 0 12px;

        p {
            font-size: 16px;
            font-weight: 800;
            text-transform: uppercase;
            font-style: italic;
            margin: 0;
            padding: 10px 0 0;
        }
    }

    &__trade-body {
        display: flex;
        justify-content: space-between;
        padding: 14px;

        .trade-item {
            background: #76767640;
            width: 33%;
            border-radius: 5px;
            padding: 5px;

            .svg-image {
                padding-top: 5px;
            }

            .trade-copy {
                padding: 10px 0;

                p {
                    margin: 0;
                    font-size: 12px;
                    font-weight: 700;
                }
            }
        }

        .trade-item.item02 {
            margin: 0 7px;
        }
    }

    &__trade-button {
        padding: 0 14px;

        .new-button {
            background: #F1B236;
            padding: 7px;
            border-radius: 5px;
            cursor: pointer;

            a {
                color: #000000;
                font-weight: 800;
                text-decoration: none;
            }
        }
    }
}