.ME157 {
  // V1
  &.ME157-V1 {
    .review-banner {
      height: 50px;
      .review-banner-text {display: none}
      p.review-quote {
        display: inline-block;
        width: 20%;
        vertical-align: middle;
      }
      p, span {
        font-size: 11px !important;
        text-transform: none !important;
      }
      .review-banner-conveyor-belt {
        display: inline-block;
        vertical-align: middle;
        width: 79% !important;
        height: 50px;
      }
      ul#reviews {
        // left: auto !important;
        height: 50px;
        li {
          margin-top: 0;
          // min-width: 252px;
          span, p, div {
            display: inline-block !important;
            vertical-align: middle;
            // color: #333
          }
          div {
            width: 70%;
          }
          p, span {
            max-width: 110px;
            font-size: 10px !important;
            // color: #333;
          }
          p {
            width: 28%;
          }
        }
      }
      .me111-row.large-12.columns {
        top: 0 !important;
      }
    }
  }
  // V2
  &.ME157-V2 {
    .product-info .full-width-mobile {
      width: 110%;
      position: relative;
      left: -5%;
    }
  }
  // V3
  &.ME157-V3 {
    .full-width-mobile .review-banner {
      height: 80px;
      background: none;
      .review-banner-text {display: none}
      > p.review-quote {
        display: inline-block;
        width: 29%;
        font-size: 14px;
        font-weight: 700;
        vertical-align: middle;
      }
      p {
        color: #222;
      }
      > p {
        font-size: 13px !important; 
      }
      p, span {
        font-size: 12px !important;
        text-transform: none !important;
      }
      .review-banner-conveyor-belt {
        display: inline-block;
        vertical-align: middle;
        // width: 64% !important;
        ul#reviews {
          li {
            margin-top: 0;
            span.review-star-rating {
              background: url('//cdn.optimizely.com/img/6087172626/9d4f4eaff8534d4bb019d14033660351.png') repeat-x 0 0;
              background-size: contain;
            }
          }
        }
      }
    }
  }
}