@import './variables';

.#{$id} {
  // --- PLP
//   .#{$id}plp .#{$id}-previously-bought {
//     width: 24.8% !important; // add media queries
//  }
  .#{$id}-previously-bought {
    .estore_product_container {
      background-color: #F7F7F7;
      border-color: transparent;
      // border: 1px solid #004990;
      // box-sizing: content-box;

      img.product_img {
        mix-blend-mode: multiply;
      }
    }

    .button.primary {
      background-color: #000 !important;
      #productPageAdd2Cart {
        // background-color: #000 !important;
      }
      

      &:hover {
        // opacity: .85;
        background-color: #162b4c !important;
        span {
          background-color: #162b4c!important;
        }
        
      }
    }
    
  }

  // --- SRP
  .#{$id}-previously-bought {
    &.estore_product_container {
      background-color: #F7F7F7;
      border-color: transparent;

      img.product_img {
        mix-blend-mode: multiply;
      }
    }

    .button.primary.primary_redesign.add_to_basket_insights, .button.primary.primary_redesign.product_view_insights.tertiary {
      background-color: #000 !important;

      span.icon-color {
        display: none;
      }
      .button_text.button_text_redesign {
        color: #FFF !important;
      }

      &:hover {
        // opacity: .85;
        background-color: #162b4c !important;
        span {
          background-color: #162b4c !important;
        }
        
      }
    }
  }
  // .#{$id}-last-list-prod {
  //   // background-color: lightseagreen;
  // }
}
