.PJ018{
  &.PJ018V1,
  &.PJ018V2,
  &.PJ018V3 {
  .homeCarousel{
    display: none;
  }
  .homeCarousel.mobile768{
    display: block;
  }
  .customisePizza.infoDealBox{
    .customiseBox{
      display: none;
    }
    img{
      max-width: 100%;
    }
  }
  .PJ018-home_banner,
  .PJ018-offer_banner{
    position: relative;
    a{
      display: block;
      top: 0;
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
  @media(min-width:767px){
    .customisePizza.infoDealBox{
      height: auto;
    }
    #ctl00_cphBody__objOffers_upOffers .infoDealBox {
      height: auto;
    }
  }
  }
  &.PJ018V4{
    .PJ018-mealDeal{
    display: none;
    }
  }
}