@import '_mixins.scss';
.PD030 {
  // Move free delivery icon
  .pd3-free-delivery {
    top: 50px;
  }
  .PD030_SafetyT,
  .PD030_SafetyM {
    width: 50%;
    color: #FFFFFF;
    background-color: #2b2a2f;
    text-align: center;
    font-size: 15px;
    padding: 10px 0;
    position: relative; // Create check mark
    &::before {
      position: absolute;
      top: 11px;
      left: 50%;
      margin-left: -65px;
      content: '';
      display: block;
      width: 4px;
      height: 10px;
      border: solid #FFFFFF;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  .PD030_SafetyT {
    float: left;
  }
  .PD030_SafetyM {
    float: right;
  } // Alter style based on product 
  .PD030-Hide {
    .PD030_SafetyM {
      display: none;
    }
    .PD030_SafetyT {
      float: none;
      width: 100%;
    }
  }
}