@import './lib/scss/PJ043.scss';

.PJ050 {
  .PJ050-offerBanner {
    cursor: pointer;
  }

  .menuListCont .pic {
    &.hide {
      display: none;
    }
  }

  .PJ050-offerBannerWrapper {
    display: block;
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;

    .PJ050-offerBanner {
      width: 100%;
      height: 15vw;
      max-height: 200px;
      background-repeat: no-repeat;
      background-size: 88%;
      background-position: 50% 50%;

      // Spend £25 Get 25%
      &#spend25get25_imgOfferImageBanner {
        background-image: url('https://dp8v87cz8a7qa.cloudfront.net/43831/5b9a501751f431536839703.png');
      }
      // 30% Off Pizzas
      &#percentage30offPizzas_imgOfferImageBanner {
        background-image: url('https://dp8v87cz8a7qa.cloudfront.net/43831/5b9a50e407ae81536839908.png');
      }
      // Spend £40 Get 40%
      &#spend40get40_imgOfferImageBanner {
        background-image: url('https://dp8v87cz8a7qa.cloudfront.net/43831/5b9a5101848471536839937.png');
      }
      // Spend £30 Get £10
      &#spend30get10_imgOfferImageBanner {
        background-image: url('https://dp8v87cz8a7qa.cloudfront.net/43831/5b9a53a03bfbf1536840608.png');
      }
      // BOGOF
      &#bogofCollected_imgOfferImageBanner {
        background-image: url('https://dp8v87cz8a7qa.cloudfront.net/43831/5b9a511cbbbf91536839964.png');
      }
      // Any Medium Pizza £7.99
      &#mediumPizzaCollected_imgOfferImageBanner {
        background-image: url('https://dp8v87cz8a7qa.cloudfront.net/43831/5b9a5170404b31536840048.png');
      }
      // Any Large Pizza £10.99
      &#largePizza_imgOfferImageBanner {
        background-image: url('https://dp8v87cz8a7qa.cloudfront.net/43831/5b9a53f2b663c1536840690.png');
      }
      // Medium Pizza, Potato Wedges, Garlic Sticks £12.99
      &#mediumPizzaWedgesGarlicSticks_imgOfferImageBanner {
        background-image: url('https://dp8v87cz8a7qa.cloudfront.net/43831/5b9a5199919341536840089.png');
      }
      // Large Pizza, 2 Sides £18.99
      &#largePizza2sides_imgOfferImageBanner {
        background-image: url('https://dp8v87cz8a7qa.cloudfront.net/43831/5b9a51f13aab61536840177.png');
      }
      // 3 XXL Pizzas For £33
      &#xxlPizzasFor33_imgOfferImageBanner {
        background-image: url('https://dp8v87cz8a7qa.cloudfront.net/43831/5b9a542cc055b1536840748.png');
      }
      // Any Small Pizza, Side & a Small Drink £11.99
      &#smallPizzaSideSmallDrink_imgOfferImageBanner {
        background-image: url('https://dp8v87cz8a7qa.cloudfront.net/43831/5b9a54cfb95d01536840911.png');
      }
      // 2 Large Pizzas, 2 Sides, Large Drink £26.99
      &#largePizzas2sidesLargeDrink_imgOfferImageBanner {
        background-image: url('https://dp8v87cz8a7qa.cloudfront.net/43831/5b9b85c116c781536918977.png');
      }
    }
  }

  .PJ043-category {
    div.menuList {
      &:nth-of-type(odd) {
        .PJ050-offerBanner {
          background-color: #03A17F;
        }
      }
      &:nth-of-type(even) {
        .PJ050-offerBanner {
          background-color: #EAAC18;
        }
      }
    }
  }
}