@import './variables';

.#{$id} {


    .#{$id}-decimals {
        font-size: 2rem;
    }

}

.#{$id}.#{$id}-2 {

    .#{$id}-priceupdated .qa-night-count {
        display: none;
    }

    .TRAV-115-wifi-row .strike-off-text {
        opacity: 0 !important;
    }

    .qa-now-price.#{$id}-oneline {
        height: 47px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;

        span {
            font-size: 1.4rem;
            font-family: Arial, Helvetica, sans-serif;
        }

        .#{$id}-originalprice {
            font-weight: bold;
        }

        .#{$id}-totalprice {
            text-decoration: underline;
        }

        .#{$id}-dot:after {
            content: ".";
            margin: 0 3px;
            position: relative;
            top: -3px;
            font-size: 20px;
        }

    }
    
     
    .#{$id}-selectbox.selected {

        &:before {
            content: "✔";
            margin-right: 5px;
            font-size: 1.4rem;
            position: relative;
            top: -2px;
        }

        &:after {
            content: "ed";
        }

        @media all and (max-width: 630px) {
            font-size: 20px !important;
        }

        @media all and (max-width: 360px) {
            font-size: 18px !important;
        }
    }

    .#{$id}-hidden {
        display: none !important;
        visibility: hidden !important;
    }

    .#{$id}-avgprice {

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        span {
            font-size: 12px;
        }

        .#{$id}-totalprice {
            margin-right: 0;
        }

    }

    .#{$id}-ppn {
        font-family: 'FS Albert Regular', Arial, Helvetica, sans-serif;
            font-weight: normal;
    }

    .#{$id}-show-night-breakdown {
        border: none !important;
        background: none !important;
        color: #0395ce !important;
        text-decoration: underline;
        margin-top: 3px;
        margin-bottom: 10px;
        font-size: 13.3333px;
    }

    .value.line-through.#{$id}-priceupdated {
        margin-right: 3px;
    }

    .ddmTreatmentNG {
        padding: 5px 0;
    }

}
