.ME150{
  .ME150_overlay {
    position: fixed;
    background:rgba(128, 128, 128, 0.76);
    width: 100%;
    height: 100%;
    z-index: 999;
    top: 0;
  }
  .ME150-brands_popup {
    position: fixed;
    width: 98%;
    background: white;
    top: 50%;
    height: auto;
    z-index: 999999;
    left: 50%;
    overflow-y: scroll;
    top: 50%;
    height: 460px;
    border: 1px solid #000;
    text-align: center;
    transform: translate(-50%,-50%);
    @media(min-width:370px){
      height: auto;
    }
    .ME150-hr {
      border: 0.5px solid #ccc;
      width: 80%;
      margin: 0 auto;
      margin-top: 10px;
      margin-bottom: 15px;
    }
    .ME150-brands_title{
      padding: 5px;
    }
    .ME150-add_success{
      text-align: center;
      padding: 10px;
      .ME150-brand_logo {
        height: 40px;
        width: 200px;
        background-size: contain;
        background-position: center;
        margin: 0 auto;
        background-repeat: no-repeat;
      }
      h3{
        font-size: 17px;
        text-transform: uppercase;
        margin-top: 10px;
        letter-spacing: 0.4px;
        margin-bottom: 0;
      }
      p{
        position: relative;
        &::before{
          content: '';
          background-image: url('//cdn.optimizely.com/img/6087172626/2ef6eec93fe6401ebfe458a7c2a1bd09.png');
          position: absolute;
          left: 38px;
          height: 20px;
          width: 20px;
          background-repeat: no-repeat;
          background-size: contain;
          top: 50%;
          transform: translate(-50%,-50%);
          @media(min-width:365px){
            left: 60px;
          }
          @media(min-width:400px){
            left: 75px;
          }
        }
      }
    }
    .ME150-brands{
      padding: 10px;
    }
    .ME150_inner-brand {
      display: inline-block;
      margin: 10px;
      text-align: center;
      width: 40%;
      vertical-align: top;
      @media(min-width:360px){
        width: 27%;
      }
      .ME150_brand-image {
        height: 70px;
        width: 70px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 auto;
        border: 1px solid #ccc;
      }
      p{
        margin-bottom: 0px;
        font-size: 14px;
        color: #5a5a5a;
        line-height: 18px;
        margin-top: 5px;
      }
    }
    .ME150-checkout{
      padding: 10px;
      display: block;
      width: 200px;
      margin: 0 auto;
      background: #0cbbf4;
      a{
        color: white;
        font-weight: bold;
      }
    }
    .ME150-allMerch {
      margin: 0 auto;
      background: #ababab;
      padding: 10px;
      width: 200px;
      margin-bottom: 20px;
      a{
        font-weight: bold;
        color: white;
      }
    }
    .ME150-close-popup {
      position: absolute;
      right: 8px;
      font-size: 24px;
      top: 5px;
    }
  }
  &.ME150v2{
    .ME150-brands_popup{
      .ME150-brands_title {
        padding: 5px;
        width: 80%;
        margin: 0 auto;
        font-size: 17px;
       }
      .ME150_inner-brand{
        .ME150_brand-image{
          background-size: 35px;
        }
      }
    }
  }
  &.ME150-no_scroll {
    overflow-y: hidden;
  }
}