@import './variables';

.#{$id} {
    #estore_pdp_blcol #estore_product_longdesc,
    #estore_pdp_brcol_1,
    #estore_pdp_bottomsec_2,
    #estore_pdp_brcol {
        display: none;
    }
    .#{$id}-accordion {
        display: flex;
        flex-direction: column;
        float: none;
        margin-top: 30px;
        .#{$id}-accordionItem {
            margin-bottom: 15px;
            border: 1px solid #e6e6e6;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 10px;
           
            .#{$id}-accordionHeading {
                padding: 20px 0px;
                margin: 0 20px;
                font-family: "F37 Ginger Bold",Tahoma,Arial,sans-serif;
                font-size: 18px;
                position: relative;
                &.#{$id}-block-reviews {
                    display: none;
                    &.#{$id}-showreviews {
                        display: flex;
                    }
                }
                span {
                    display: none;
                }
                @media(min-width: 414px) {
                    font-size: 20px;
                }
                cursor: pointer;
                &::after {
                    content: '';
                    position: absolute;
                    font-family: "F37 Ginger Light",Tahoma,Arial,sans-serif;
                    background: url('https://service.maxymiser.net/cm/images-eu/new-boots-com/FAA7946372C10EDCA841D64373680AC7BA16322E5F5E39A66E2714E4918A00F0.png?meta=/BO075---PDP-Accordions/plus.png') no-repeat center;
                    background-size: contain;
                    height: 25px;
                    right: 10px;
                    width: 20px;
                    top: 50%;
                    transform: translateY(-50%);
                    background-size: contain;
                    @media(min-width: 767px) {
                      height: 15px;
                      width: 15px;
                    }
                  }
            }
            .#{$id}-accordionContent {
                transition: all 0.3s ease;
                overflow: hidden;
                padding: 0 20px;
                max-height: 0;
                opacity: 0;
                h2 {
                    display: none !important;
                }
                h3 {
                    font-size: 16px;
                }
                p {
                    margin-bottom: 10px;
                }
                #contentCollapse-readmore {
                    display: none;
                }

                // reviews
                .bv-header {
                    .bv-action-bar {
                        display: flex !important;
                        flex-direction: row;
                        justify-content: flex-start;
                    }
                }
                &.#{$id}-productdetails {
                    #contentOmnipresent {
                        margin-top: 10px;
                    }
                }

                &.#{$id}-deliveryoptions {
                    > p {
                        display: none;
                    }
                    div {
                        margin: 0 !important;
                        h6 {
                            display: none;
                        }
                        br {
                            &:first-of-type {
                                display: none;
                            }
                        }
                    }
                }
            }
            &.#{$id}-open {
                .#{$id}-accordionHeading {
                    color: #014890;
                    border-bottom: 1px solid #ccc;
                    margin-bottom: 10px;
                    &::after {
                        background: url('https://service.maxymiser.net/cm/images-eu/new-boots-com/849513A3C2A443D0292C5F49EE73E2B2CDE484BCBED91A9BD8ED06F970BCD130.png?meta=/BO075---PDP-Accordions/minus.png') no-repeat center;
                        background-size: contain;
                    }
                    @media(min-width: 767px) {
                        border-bottom: 0;
                    }
                }
                .#{$id}-accordionContent {
                    flex-direction: column;
                    max-height: 100%;
                    padding-bottom: 20px;
                    opacity: 1;
                }
            }
        }
    }

    &.#{$id}-2 {
        .#{$id}-accordion {
            .#{$id}-accordionItem {
                .#{$id}-accordionHeading {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    &::after {
                        line-height: 26px;
                    }
                    span {
                        display: block;
                        height: 35px;
                        width: 35px;
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                        margin-right: 15px;
                        @media(min-width: 767px) {
                            height: 50px;
                            width: 50px;
                            margin-right: 20px;
                        }
                    }
                }
                &.#{$id}-open {
                    .#{$id}-accordionHeading {
                        border-bottom: none;
                    }
                }

            }
        }
    }
}
