@import './variables';

.#{$id} {
  body.#{$id}-noScroll {
    overflow: hidden;
  }
  // --- Filter Btn 
  .mob-filters__container.view-mobile-sm-only.hidden {
    display: none;
  }
  .al-search .mob-filters__container {
    height: 60px !important;
  }
  // --- Filters Container
  .category-filters {
    padding-top: 40px;
  }

  // --- Quicklinks
  .categories_container {
    padding-bottom: 0;
    margin-bottom: 0;

    #departmentLinks .ais-Hits-list .ais-Hits-item a>span {
      width: 260px;
      padding-right: 5px;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  // --- Search Results Container
  .category-wrapper {
    // padding-top: 0;
  }

  #al-searchresults {
    min-height: 100vh;
  }
  // no results
  #hits {
    .ais-Hits.ais-Hits--empty {
      padding: 15vw;
      text-align: center;
    }
  }

  .header__middle .middle__inner {
    height: 50px;
  }


  // #pnlSubDepartments {
  //   width: 100vw;
  //   position: relative;
  //   left: -25px;
  // }
  .#{$id}-quick-links__wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 75px;

    .ais-Hits-list {
      width: 100%;
      overflow-x: scroll;
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-start;
      margin-bottom: 30px;
      flex-direction: row;

      a.category-quick-link, a.ais-Cat-click {
        min-width: 300px;
        margin: 10px 5px;
      }
    }
  }

  .PL047-filters__wrapper {
    display: flex;
    flex-direction: row;
    // justify-content: space-evenly;
    justify-content: flex-end;
    align-items: center;
    
    // width: 100vw;
    // position: relative;
    // left: -5px;

    &.sticky {
      position: fixed;
      width: 100vw;
      @media screen and (max-width: 370px) {
        width: 102vw;
      }
      top: 50px;
      background-color: #FFF;
      left: 0;
      z-index: 9;
      // box-shadow: 0px 4px 15px 0px rgb(0 0 0 / 75%);
      box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.24);
    }

   .category-current-filters-section .category-matching-products-icon {
      height: 38px;
      width: 38px;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      color: #fff;
      background-color: #04C1F4;
      display: flex;
    }

    .PL047-filter__container {
      // background-color: #04C1F4;
      width: 48.5%;
      padding: 10px 0;

      &.numOfProductsOnPage {
        width: 38%;
      }
      &.filterBtn {
        width: 60%;
      }

      .PL047-filter__btn {
        line-height: 30px;
        background: #fff;
        background: #000;
        color: #FFF;
        width: 90%;
        margin: auto;
        border-radius: 20px;
        text-align: center;
        padding: 5px 0;

        position: relative;

        svg {
          position: absolute;
          right: 2vw;
        }
      }
      span {
        line-height: 30px;
      }

      span.category-products-found-text {
        width: 50%;
        line-height: 20px;
        margin-left: 5px;
        padding: 5px 0;
      }

      span.filter {
        position: absolute;
        left: 5vw;
      }
    }

  }
  .fa-arrows:before {
    content: "\21F5";
    font-size: 25px;
  }

  // // --- FILTERS CONTAINER
  // .category-filter-container.category-filter-container-active {
  //   background-color: #00000054 !important;

  //   .category-filters {
  //     position: absolute;
  //     top: 112px;
  //     left: 50px;

  //     padding-bottom: 50px;
  //   }

  //   .category-filter-accordion-container[data-filter-name="Category"], .category-filter-accordion-container[data-filter-name="Paper Size"],
  //   .category-filter-accordion-container[data-filter-name="Colour or Mono"],
  //   .category-filter-accordion-container[data-filter-name="Technology"] {
  //     ul.radio, ul.checkbox {
  //       flex-wrap: unset;
  //     }
  //   }
  // }

  // --- Hide Control Filter button
  .category-filter-bar-mobile {
    &.hidden {
      display: none;
    }
  }
}
