@media (max-width: 500px) {
    .CB081 {
        width: 100% !important;
    }
}


/*Brand styles*/

.CB081.CB81-clarisonic .cb81-newBanner {
    background-image: url(https://ab-test-sandbox.userconversion.com/experiments/CB081-clarisonic.jpg);
    height: 168PX;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -162px;
}

.CB081 .cb81-newBanner a {
    display: block;
    width: 100%;
    height: 100%;
}


/*Homepage styling*/

.CB081 .cb81-recommendedproducts,
.CB081 .cb81-bestsellingproducts {
    border-top: 1px solid #dfdfdf;
    overflow: visible;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 1120px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}

.CB081 .cb81-rec-line {
    position: relative;
    display: block;
}

.CB081 .cb81-rec-line h2 {
    position: absolute;
    background: WHITE;
    font-size: 16px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 10px;
    left: 50%;
    margin: 0 auto;
    width: 66%;
    text-align: center;
}


/*RECOMMENDED PRODUCTS*/

.CB081 .cb81-product {
    margin-top: 25px;
    padding: 15px;
}

.CB081 .cb81-product img {
    width: 200px;
}

.CB081 .cb81-product .cb81-productname {
    font-size: 18px;
    color: #000;
    font-weight: bold;
    display: block;
    margin-bottom: 7px;
}

.CB081 .cb81-product .cb18-was {
    color: #745252;
    text-decoration: line-through;
    font-weight: normal;
    font-size: 16px;
}

.CB081 .cb81-product .cb18-price {
    font-size: 16px;
    color: #393536;
    margin-left: 5px;
    font-weight: bold;
    margin-bottom: 7px;
}

.CB081 .cb81-review {
    display: block;
    font-size: 18px;
    color: black;
    margin-top: 7px;
}

.CB081 .cb81-review span.yotpo-icon.yotpo-icon-half-star.pull-left {
    float: none !important;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
}

.CB081 .cb81-review span.yotpo-icon.yotpo-icon-half-star.pull-left:before {
    content: "\e61a";
    font-family: "yotpo-widget-font" !important;
}

.CB081 .cb81-product a:hover {
    text-decoration: none;
    cursor: pointer;
}

@media screen and (min-width:350px) {
    .CB081.CB81-clarisonic .cb81-newBanner {
        background-position: -134px;
    }
}

@media screen and (min-width:400px) {
    .CB081.CB81-clarisonic .cb81-newBanner {
        background-position: -182px;
        height: 202PX;
    }
}

@media screen and (min-width:500px) {
    .CB081.CB81-clarisonic .cb81-newBanner {
        background-position: -182px;
        height: 239px;
    }
    .CB081.CB81-iluminage .cb81-product .cb81-productname,
    .CB081.CB81-smoothskin .cb81-product .cb81-productname {
        height: 74px;
        font-size: 16px;
    }
    .CB081 .cb81-product .cb81-productname {
        height: 50px;
    }
}

@media screen and (min-width:600px) {
    .CB081.CB81-clarisonic .cb81-newBanner {
        height: 330px;
        background-position: -250px;
        background-size: cover;
        background-repeat: no-repeat; //background-position: center center;
    }
    .CB081 .cb81-rec-line h2 {
        font-size: 22px;
        width: 40%;
    }
}

@media screen and (min-width: 900px) {
    .CB081.CB81-clarisonic .cb81-newBanner {
        height: 400px;
        background-position: center center;
    }
}