@import './variables';

.#{$id} {

    &__icon-wrap {
        width: 7.2rem !important;
        text-align: center !important;
        border-radius: 29px !important;
        padding: .5rem .2rem !important;
        font-size: 14px !important;
        color: #6295DD !important;
    }

    &__i-icon {
        color: #6295DD !important;
        font-weight: bold;
    }
}
