@import './variables';

.#{$id} {
  .swiper-container {
    margin-top: 10px;
  }

  .HOFhomeBrandLogos a[href*=brand]:not(.brandLogoTitle):hover {
    transition: 0.15s background;
    transition-delay: 0.05s;
    background: #fff;
  }

  &-active {
    background: #fff;
  }

  &-subsection {
    padding: 30px 0 15px;
    text-align: center;
    text-transform: uppercase;
    font-family: Montserrat,Arial,Helvetica,sans-serif!important;

    &:before {
      content: "";
      background: #fff;
      height: 2px;
      width: 100%;
      display: block;
      margin-bottom: 18px;
    }

    &__links {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      a {
        display: block;
        margin: 8px;
        flex-grow: 0;
        flex-shrink: 0;
        padding: 0.85em;
        background: #fff;
        font-size: 12px;

        @media(min-width: 1024px) {
          padding: 1.1em;
          font-size: 14px;
          line-height: 1;
        }
      }
    }

    &__all {
      margin-top: 20px;
      text-align: center;

      a {
        background: none !important;
        text-decoration: none !important;
        font-size: 13px;
        font-weight: 400;

        &:hover{
          font-weight: 800;
        }

        @media(min-width: 1024px) {
          font-size: 15px;
        }

        &:after {
          content: "";
          width: 70px;
          height: 1px;
          background: #333;
          display: block;
          margin: 10px auto 11px;
        }

        &:hover:after {
          height: 2px;
          margin-bottom: 10px;
        }
      }
    }
  }
}
