.WB064 {
  &.WB064_no-scroll {
    overflow-y: hidden;
  }
  .WB064_pop-up_modal {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999999;
    top: 0;
    left: 0;
    background: rgba(#000, 0.7);
    display: none;
    box-sizing: border-box;
    .navbar-inner {
      background: #fff;
      width: 319px;
      padding-bottom: 20px;
      height: 60px;
      .home-link {
        width: 100%;
        height: 49px;
        background: url(https://www.wolfandbadger.com/staticmedia/i/logo.svg?fc7887b86423) no-repeat center center;
        background-size: auto 28px;
        cursor: default;
      }
      .tagline {
        margin-top: 41px;
        font-family: futura-pt, sans-serif;
      }
    }
    * {
      box-sizing: border-box;
    }
    >.WB064_body_click {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 10;
      top: 0;
      left: 0;
    }
    >.WB064_inner_div {
      position: absolute;
      width: calc(100vh - 40px);
      height: auto;
      left: 50%;
      top: 50%;
      max-width: 600px;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      background: #fff;
      padding: 11px;
      z-index: 20;
      @media screen and (max-height: 780px) {
        top: 80px;
        -webkit-transform: translate(-50%, 0%);
        -moz-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
        width: calc(100vh - 130px);
      }
      .WB064_overflow_fix {
        max-height: 480px;
        max-height: calc(100vh - 80px);
        @media (min-width: 768px) {
          max-height: 800px;
          max-height: calc(100vh - 80px);
        }
        @media screen and (max-height: 780px) {
          height: auto;
          max-height: calc(100vh - 170px);
        }
      }
      h2 {
        text-transform: uppercase;
        text-align: center;
        margin-top: 5px;
        font-size: 24px;
        margin-bottom: 15px;
      }
    }
    img {
      width: 100%;
      height: calc(100vh - 80px);
      max-height: 560px;
      @media screen and (max-height: 780px) {
        height: calc(100vh - 170px);
      }
    }
    .WB064_close_btn {
      position: absolute;
      top: -15px;
      right: -15px;
      text-transform: uppercase;
      background: #3E3E3E;
      color: #fff;
      width: 30px;
      height: 30px;
      line-height: 30px;
      border-radius: 50%;
      font-size: 9px;
      text-align: center;
      font-family: Arial;
      font-weight: 700;
      text-decoration: none;
    }
  }
}