.HH013 {

  // Shared styling
  .HH013_Container {
    // Clear previous floating sibling
    background-color: #F3F2F8;
    padding: 10px 0;
  }

  .HH013_Header {
    text-align: center;
  }

  // Style buttons, copying after element from website
  .HH013_Recruitment_Button {
    display: block;
    width: 50%;
    margin: 10px auto;
    background-color: #7D6DAD;
    color: #fff;
    border-radius: 26px;
    padding: 10px 40px 10px 30px;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    transition: background-color 500ms ease;

    &::after {
      content: "\e258";
      font-family: "Glyphicons Halflings", sans-serif;
      position: absolute;
      right: 15px;
    }

    &:hover {
      background-color: #4c387a;
    }
  }

  .HH013_Benefit_Container {
    margin-bottom: 10px;
  }

  // Allow images to sit next to text
  .HH013_Benefit_Image {
    display: inline-block;
    width: 50px;
  }

  .HH013_Benefit_Text {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 100px);
    text-align: left;
    margin-left: 10px;
  }

  .HH013_Container {
    text-align: center;
  }

  // Mobile
  @media(max-width: 767px) {
    .HH013_Container {
      clear: both;
    }
  }

  // Tablet 

  @media(min-width: 768px) {
    .HH013_Container {
      width: calc(50% - 30px);
      float: right;
      margin: 0 15px 20px 15px;
    }
  }

  // Desktop
  @media(min-width: 992px) {

    // Copy wrapper from similar sibling containers
    .HH013_Container {
      clear: both;
      float: none;
      width: 100%;
      text-align: center;
      margin: 0 0 10px 0;
    }
  }
}