@import './variables';
.#{$id} {
    section.bg-mono-light h1 {
        margin-bottom: 24px;
    }
    section.bg-mono-light p.local-store-ref {
        margin-bottom: 40px;
        color: #828282;
        font-size: 20px;
    }
}