@import './variables';

.#{$id} {




    &__main-navigation .list-inline.list-first {
        display: flex;

        li.list-inline-item.activeSatPackets {
            order: 3;
        }

        li.list-inline-item.orderSatHardware {
            display: none;
        }

        li.list-inline-item.ActivateTvApp {
            order: 1;
        }

        li.list-inline-item.learnAboutHardware {
            order: 2;
        }

        .active-ab {
            color: #69bb48;
        }


    }

    &__main-navigation {
        @media(max-width: 1200px) {

            &>div.mm-panels {
                top: 40px !important;
            }

            & #mm-0 {
                padding-top: 0 !important;
            }

            .mm-navbar,
            .mm-navbars-top {
                visibility: hidden;
                display: none;
            }

            ul.list-inline.list-first.mm-listview {
                display: flex;
                flex-direction: column;

                & li:nth-child(-n+5) {
                    &>a {
                        color: #454545;
                    }
                }

                & li:nth-child(n+6) {
                    &>a {
                        color: #9C9C9C;
                    }
                }
            }

            li:nth-child(3) {
                display: none;
            }

            li:nth-child(1) {
                order: 1;
            }

            li:nth-child(2) {
                order: 4;
            }

            li:nth-child(4) {
                order: 2;
            }

            li:nth-child(5) {
                order: 3;
            }

            li:nth-child(6) {
                order: 7;
            }

            li:nth-child(7) {
                order: 5;
            }

            li:nth-child(8) {
                order: 9;
            }

            li:nth-child(9) {
                order: 8;
            }

            li:nth-child(10) {
                order: 6;
            }

            .active-cd {
                color: #69bb48;
            }
        }
    }

    &__header-top {
        &.header-top {
            z-index: 1;
        }

        & ul {
            display: flex;
            justify-content: space-between;
            gap: 33px;

            &>li:nth-child(1) {
                order: 3;
            }

            &>li:nth-child(2) {
                order: 1;
            }

            &>li:nth-child(3) {
                order: 5;
            }

            &>li:nth-child(4) {
                order: 4;
            }

            &>li:nth-child(5) {
                order: 2;

            }

            & li {
                display: inline-block !important;

                &>a {
                    display: block;
                }
            }

            &>li {

                &::after {

                    opacity: 0 !important;

                }
            }
        }
    }
}

.activeSatPackets {
    &>a {
        white-space: pre-wrap !important;
    }
}