.HS001m{
  &.HS001mv1,
  &.HS001mv2{
    .paddingWrap .paddingWrap.HS001m-email_box{
      padding: 0px;
      margin-bottom: 13px;
    }
    .HS001m-email_box{
      display: block !important;
    }
  }
  &.HS001mv2{
    .thirdWidth.js-basketSummary > fieldset{
      margin-top: 10px;
    }
  }
}