@import "./variables";

.#{$id} {
  .search-result-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    @media screen and (min-width: 768px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media screen and (min-width: 1280px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    > li.grid-tile {
      width: 100%;
      margin: 0 !important;
    }

    .#{$id}-root {
      overflow: hidden;
      height: 100%;
      max-height: 420px;

      grid-row: 3;
      grid-column: span 2;

      @media screen and (min-width: 768px) {
        grid-column: 2 / 4;
      }

      > div {
        position: relative;
        background-color: #ddc8b5;
      }
    }

    .#{$id}-banner__image {
      position: relative;
      height: 0;
      padding-bottom: 120%;

      img {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 125%;
        max-height: 520px;
        object-fit: cover;
      }
    }

    .#{$id}-banner__content {
      display: grid;
      justify-items: center;
      grid-template-columns: minmax(0, 1fr);
      gap: 10px;
      position: absolute;
      left: 50%;
      top: 5%;
      transform: translateX(-50%);
      width: 90%;
      max-width: 300px;
      text-align: center;
      z-index: 1;

      @media screen and (min-width: 480px) {
        font-size: 24px;
        top: 20px;
      }

      @media screen and (min-width: 1280px) {
        max-width: 400px;
        gap: 15px;
      }

      h4 {
        font-family: DidotLTPro-Roman;
        font-size: 20px;
        font-weight: 400;
        line-height: 1.1;
        letter-spacing: 0;

        @media screen and (min-width: 480px) {
          font-size: 24px;
        }

        @media screen and (min-width: 1280px) {
          font-size: 32px;
        }
      }

      p {
        font-family: GillSansNova-Light;
        font-weight: 300;

        @media screen and (min-width: 1280px) {
          font-size: 18px;
        }
      }

      a {
        display: inline-block;
        background-color: #000;
        color: #fff;
        padding: 8px 30px 6px;
        text-transform: uppercase;
        max-width: 300px;
        font-size: 16px;
      }
    }
  }

  &-1 {
    .#{$id}-root {
      grid-row: 3 !important;
      grid-column: span 2 !important;

      @media screen and (min-width: 768px) {
        grid-column: span 3 !important;
      }

      @media screen and (min-width: 1280px) {
        grid-column: span 4 !important;
      }

      &.coffee div > .#{$id}-banner__content {
        order: -1;
      }

      > div {
        @media screen and (min-width: 1280px) {
          display: grid;
          align-items: center;
          justify-items: center;
          grid-template-columns: 1fr 1fr;
        }
      }

      .#{$id}-banner__image {
        @media screen and (min-width: 1280px) {
          height: unset;
          padding-bottom: unset;
          width: 100%;
          height: 280px;
        }

        img {
          @media screen and (min-width: 1280px) {
            top: -25%;
            height: 125%;
            max-height: unset;
          }
        }
      }

      .#{$id}-banner__content {
        @media screen and (min-width: 1280px) {
          position: initial;
          transform: translateX(0);
        }
      }
    }
  }

  &-2,
  &-4 {
    .#{$id}-root {
      grid-column: span 2 !important;
      grid-row: 3 / 4 !important;

      @media screen and (min-width: 768px) {
        grid-column: 2 / 4 !important;
        grid-row: 3 / 4 !important;
      }

      @media screen and (min-width: 1280px) {
        grid-column: 3 / 5 !important;
        grid-row: 3 / 5 !important;
        max-height: unset !important;

        > div {
          height: 100%;
        }
      }

      .#{$id}-banner__image {
        @media screen and (min-width: 1280px) {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          padding-bottom: 0;

          img {
            max-height: unset !important;
            height: 110%;
          }
        }
      }

      .#{$id}-banner__content {
        @media screen and (min-width: 1280px) {
          top: 30px;
        }
      }
    }
  }

  &-3 {
    .#{$id}-root {
      @media screen and (min-width: 1280px) {
        grid-column: 3 / 5 !important;
        grid-row: 3 / 4;
        max-height: unset !important;
      }

      @media screen and (min-width: 1280px) {
        grid-column: 3 / 5;
        grid-row: 3 / 5;
        max-height: unset !important;

        > div {
          height: 100%;
        }
      }

      .#{$id}-banner__image {
        @media screen and (min-width: 1280px) {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          padding-bottom: 0;

          img {
            max-height: unset !important;
            height: 125%;
          }
        }
      }

      .#{$id}-banner__content {
        gap: 10px;

        h4 {
          @media screen and (min-width: 1280px) {
            font-size: 26px;
          }
        }

        p {
          @media screen and (min-width: 1280px) {
            font-size: 16px;
          }
        }
      }
    }
  }

  &-4 {
    .#{$id}-root {
      @media screen and (min-width: 1280px) {
        grid-row: 2 / 3 !important;
      }
    }

    .#{$id}-root.coffee {
      grid-row: 2 / 3 !important;

      @media screen and (min-width: 1280px) {
        grid-row: 1 / 2 !important;
      }
    }
    .#{$id}-root.second {
      grid-row: 5 / 6 !important;

      @media screen and (min-width: 1280px) {
        grid-column: 1 / 3 !important;
        grid-row: 4 / 5 !important;
      }
    }

    .#{$id}-root.second.chocolate {
      grid-row: 6 / 7 !important;

      @media screen and (min-width: 1280px) {
        grid-row: 6 / 7 !important;
      }
    }

    .#{$id}-banner__image {
      @media screen and (min-width: 1280px) {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-bottom: 0;

        img {
          max-height: unset !important;
          height: 140% !important;
        }
      }
    }

    .#{$id}-banner__content {
      gap: 10px;

      h4 {
        @media screen and (min-width: 1280px) {
          font-size: 26px !important;
        }
      }

      p {
        @media screen and (min-width: 1280px) {
          font-size: 16px !important;
        }
      }
    }
  }
}
