@import './variables';

.#{$id} {
  .breadcrumb.py-1.mx-auto.bg-white.text-center.font-weight-light {
    overflow: hidden;
  }
  // Image Banner Container
  .yCmsComponent.content-plp .content {
    margin-top: 10px;
  }
  span.MP151-usp__wrapper {
    display: block;
    width: 100%;
    background-color: #393939;
    // background-color: #000;
    text-align: center;
    position: relative;
    top: 0;
    transform: translateX(0);
    transition: 0.9s transform;
    height: 38px;

    margin-bottom: -10px !important;

    &.inactive {
      // display: none !important;
      transform: translateX(2500px);
      z-index: 999;
      height: 0px;
    }

    &.sticky {
      margin-bottom: -20px;
    }

    ul.MP151-usp {
      color: #FFF;
      list-style: none;
      position: relative;
      padding: 4px;
      padding-top: 6px;
      margin-bottom: 0px;

      li.MP151-usp__item {
        position: relative;
        top: 50%;
        // transform: translateY(-15%);
        transform: translateY(-30%);

        span.MP151-usp__img {
          display: inline-block;
          width: 26px;
          height: 26px;
          background-color: #FFF;
          border-radius: 20px;
          position: relative;
          transform: translateY(38%);
          margin-right: 6px;

          .MP151-image {
            display: block;
            width: 30px;
            height: 30px;
            background-size: 50%;
            background-repeat: no-repeat;
            // background-position: 50%;

            &.paypal {
              background-image: url('https://dd6zx4ibq538k.cloudfront.net/static/images/4068/f4d5162d818dcc5601d8673994c1a812_2000_2308.png');
              background-position: 45%;
            }
            &.guarantee {
              background-size: 90%;
              background-image: url('https://dd6zx4ibq538k.cloudfront.net/static/images/4068/5c670650f7cd422da8ab24a6af88d5d8_321_321.png');
            }
            &.delivery {
              background-size: 90%;
              background-image: url('https://dd6zx4ibq538k.cloudfront.net/static/images/4068/99233d79ccdcc7f60f0e227f0db7c82a_321_321.png');
            }
          }
        }
        // USP text
        span.MP151-usp__text {
          display: inline-block;
          // width: 100%;
          // height: 30px !important;
          margin-bottom: 3px;
          margin-top: 3px;
          font-size: 11px;

          a {
            text-decoration: underline;
          }
        }
        span.MP151-usp__hide {
          display: inline-block;
          width: 20px;
          height: 20px;
          position: relative;
          transform: translateY(20%);
          margin-right: 6px;

          &.hidden {
            visibility: hidden;
          }

          .MP151-image__hide {
            display: block;
            width: 15px;
            height: 20px;
            margin-left: 12px;
            background-size: 60%;
            background-repeat: no-repeat;
            background-position: 50%;
            background-image: url('https://dd6zx4ibq538k.cloudfront.net/static/images/4068/c0c367f26f701664efdc9684e1cffcaf_32_32.png');

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  // Slick
  .slick-arrow {
    display: none !important;
  }

  @media screen and (max-width: 500px){
    span.MP151-usp__wrapper {
      margin-bottom: -10px !important;
    }
    .MP151-usp__item.slick-slide {
      a {
        min-width: 90%;
      }
    }
    span.MP151-usp__wrapper ul.MP151-usp li.MP151-usp__item span.MP151-usp__hide {
      position: absolute !important;
      right: 10px;
      top: 10px;
    }
  }
}
