@import './variables';

.#{$id} {

  
  .home-tile-grid,
  .SG133-topContent { 
    display: none;
  }

  .#{$id}-topContent {
    // slick styling
    .slick-slider{position:relative;display:block;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}.slick-list:focus{outline:0}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-list,.slick-slider .slick-track{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.slick-track{position:relative;top:0;left:0;display:block;margin-left:auto;margin-right:auto}.slick-track:after,.slick-track:before{display:table;content:''}.slick-track:after{clear:both}.slick-loading .slick-track{visibility:hidden}.slick-slide{display:none;float:left;height:100%;min-height:1px}[dir=rtl] .slick-slide{float:right}.slick-slide img{display:block}.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-loading .slick-slide{visibility:hidden}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.slick-arrow.slick-hidden{display:none}

    .#{$id}-heroBanner {
      @media(min-width: 1500px) {
        max-width: 87.375rem;
        margin: 0 auto;
      }
      // put the two banners side by side for mobile
      .#{$id}-bannerWrap {
        display: flex;
        flex-direction: row;
        margin-bottom: 3px;
      }

      .#{$id}-right {
        width: 50%;
        height: 200px;
        background: #ccc;
        margin-left: 2px;
        background: url('https://storage.googleapis.com/exp-app-storage/63c9e2be-b0b2-11ea-b9e3-3af835c8f71c/media/original/3f885cd8-fe71-11eb-ba94-aef8eb710181') no-repeat center;
        background-size: cover;
        @media(min-width: 1024px) {
          width: 28%;
          height: 100%;
        }
      }
      .#{$id}-left {
        width: 50%;
        height: 200px;
        background: #ccc;
        margin-right: 2px;
        background: url('https://service.maxymiser.net/cm/images-us/ernestjones-co-uk/A75CEE39DDC07E8686E773FC5DCAF69205E9D1CE47362879DDCD492921D08DF4.jpg?meta=/SGXXX---Pers/EJ2107W08_New-HP-layout-Hero-Banner-1500x500-04.jpg') no-repeat center;
        background-size: cover;
        @media(min-width: 1024px) {
          width: 28%;
          height: 100%;
        }
      }

      .#{$id}-right,
      .#{$id}-left {
        a {
          display: block;
          height: 100%;
          width: 100%;
          
        }
      }

      // cta section
      .#{$id}-middle.#{$id}-ctaWrap {
        padding: 10px;
        background: #f3f3f3;
        h3 {
          text-align: center;
          margin-bottom: 0;
          font-family: Oxygen,sans-serif;
          text-transform: uppercase;
          font-weight: 300;
          font-size: 19px;
          padding-top: 5px;
          padding-bottom: 5px;
          @media(min-width: 1024px) {
            font-size: 20px;
            padding-bottom: 15px;
          }
        }
        .#{$id}-buttons {
          display: flex;
          flex-direction: column;
          .#{$id}-button {
            padding: 8px 10px;
            background: black;
            margin: 10px;
            margin-bottom: 4px;
            text-decoration: none;
            text-align: center;
            font-family: Oxygen,sans-serif;
            box-sizing: border-box;
            transition: all 0.2s ease-out;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            span {
              border: 1px solid white;
              color: white;
              text-transform: uppercase;
              display: block;
              font-weight: 600;
              font-size: 14px;
              padding: 5px;
              width: 100%;
              box-sizing: border-box;
            }
            @media(min-width: 375px) {
              padding: 5px;
              span {
                font-size: 15px;
              }
            }
            &:hover {
              background: white;
              span {
                color: black;
                border: 1px solid black;
              }
            }

            &.#{$id}-saleRed {
              background: #dd223c;
              &:hover {
                background: white;
                span {
                  color: #dd223c;
                  border: 1px solid #dd223c;
                }
              }
            }
          }

          @media(min-width: 767px) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            .#{$id}-button {
              width: 47%;
            }
          }
          @media(min-width: 1024px) {
            .#{$id}-button {
              width: 190px;
              margin-top: 0;
              margin-bottom: 10px;
              span {
                font-size: 14px;
              }
            }
          }
          @media(min-width: 1280px) {
            .#{$id}-button {
              width: 230px;
              margin-top: 0;
              margin-bottom: 10px;
              span {
                font-size: 14px;
              }
            }
          }
        }
        @media(min-width: 767px) {
          padding: 15px;
        }
        @media(min-width: 1024px) {
          width: 45%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          h3 {
            margin-bottom: 10px;
          }
        }
      }

      @media(min-width: 1024px) {
       display: flex;
       flex-direction: row;
       height: 400px;
      }
    }

    // offers
    .#{$id}-offersWrap {
      margin-bottom: 40px;
      margin-top: 10px;
      .slick-track {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
      .#{$id}-offerContainer {
        @media(min-width: 767px) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        overflow: hidden;
        }
        @media(min-width: 1280px) {
          max-width: 70rem;
          margin: 0 auto;
        }

      }
      h3 {
        text-align: center;
        margin-bottom: 0;
        font-weight: 500;
        font-family: Oxygen,sans-serif;
        text-transform: uppercase;
        padding: 10px;
        padding-bottom: 15px;
        padding-top: 20px;
        font-size: 19px;
        @media(min-width: 1280px) {
          padding-top: 30px;
          font-size: 20px;
          padding-bottom: 20px;
        }
      }

      .#{$id}-offer {
        text-align: center;
        margin: 5px;
        width: 200px;
        @media(min-width: 375px) {
          width: 250px;
        }
        @media(min-width: 767px) {
          width: 334px;
          height: 270px;
          margin: 15px;
        }
        @media(min-width: 1280px) {
          width: 334px;
          height: 270px;
        }
        a {
          text-decoration: none;
          color: black;
        }
        .#{$id}-offerImage {
          height: 160px;
          width: 100%;
          background-position: center;
          background-size: cover;
          margin-bottom: 10px;
          @media(min-width: 375px) {
            height: 200px;
          }
          @media(min-width: 767px) {
            height:100%;
          }
          @media(min-width: 1280px) {
            height:100%;
          }
        }
        .#{$id}-offerInfo {
          display: none;
          h4 {
            margin-bottom: 0;
            text-transform: uppercase;
            font-family: Oxygen,sans-serif;
          }
          p {
            margin-bottom: 0;
          }
        }
      }

      @media(min-width: 1023px) {
        position: relative;
        .slick-arrow {
          position: absolute;
          top: 50%;
          height: 30px;
          width: 30px;
          background: white;
          transform: translateY(-50%);
          text-indent: -9999px;
          border: 1px solid black;
          border-radius: 50px;
          display: block;
          z-index: 9;
          box-shadow: 0px;
          background-image: url('https://service.maxymiser.net/cm/images-us/ernestjones-co-uk/73327B744B1381554702CB9D119E252FE7B8604D6498CDB7B2992BDA38DD5B32.png?meta=/SG133---Homepage-Banner/noun_Arrow_2497036.png');
          background-size: 20px;
          background-repeat: no-repeat;
          background-position: center;
          &:focus {
            outline: none;
          }

          &.slick-prev {
            left: 0px;
          }
          &.slick-next {
            right: 0px;
            transform: rotate(180deg) translateY(50%);
          }   
        } 
      }
      @media(min-width: 1280px) {
        margin-bottom: 40px;
        p {
          width: 85%;
          margin: 0 auto;
        }
        .slick-arrow {
          &.slick-prev {
            left: -10px;
          }
          &.slick-next {
            right: -10px;
          } 
        }
      }
    }
  }

  &.hsamuel {
    // HS-specific styles
  }

  &.ernestjones {
    // EJ-specific styles
  }
}
