@import './variables';

.#{$id} {
    @media(min-width: 1024px) {
        .delivery-banner__container {
            padding-top: 3rem;
        }
        #access-content {
            padding-top: 35px;
        }
    }
    .#{$id}-bannerMessage {
        text-align: center;
        background: black;
        padding: 10px;
        margin: 0;
        color: white;
        font-size: 15px;
        @media(max-width: 400px) {
        font-size: 13px;
        }
        span {
            font-size: 10px;
        }
        .#{$id}-countdownWrapper {
            font-weight: bold;
            font-size: 15px;
            @media(max-width: 400px) {
                font-size: 13px;
            }
            span {
                font-size: 15px;
                @media(max-width: 400px) {
                    font-size: 13px;
                }
            }
        }
    }
}
