.FL005 {
  // Hide guest login area
  .newCustomer.col-xs-12.col-sm-6{
    display: none;
  }
  // Reduce container size
  .CheckWrap {
    min-height: 0;
  } 
  #dnn_ctr88149_ModuleContent > .row.CustomerGroups > .existingCustomer > .InnerLogin{
    padding-bottom: 0;

  }
  
  // Remove margin from footer
  .FooterCheck {
    margin: 0;
  } // Hide password box by default
  .existingCustomer .loginContainer .InputLabelGroup .field.SignLogIn2:last-child {
    display: none;
    margin-top: 25px;
  } 
  // Style forgotten password text, reduce distance from password box, right align text
  .ForgotPass {
    text-align: right;
    #dnn_ctr88149_Launch_registerLogin_cmdForgottenPassword {
      margin: 10px 0 0;
    }
  } 
  // Hide sign in securely button
  #dnn_ctr88149_Launch_registerLogin_loginButton > .NewCustWrap{
    display: none;
  }
  // Style added radio buttons

  .FL005-Radio-Group{

  .FL005-Option:first-child{
    margin-bottom: 20px;
  }
  .FL005-Option {
    border: 1px solid #ccc;
    >input {
      margin: 0;
      vertical-align: middle;
      // Hide input button, using span for styling
      display: none;
      height: 0;
      width: 0;
    }
    >label {
      display: block;
      margin-bottom: 0;
      padding: 11px 0 10px 40px;
      position: relative;
      vertical-align: middle;
       // Using website CSS to style radio buttons
      &::before{
        content: '';
        box-sizing: border-box;
        background: url(//www.flannels.com/images/core/radio-buttons-sprite.svg) no-repeat;
        background-size: 50px 50px;
        background-position: -24px -7px;
        height: 35px;
        width: 100%;
        max-width: 25px;
        padding: 0;
        font-size: 11px !important;
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        top: 50%;
        left: 4px;
        margin-top: -18px;
      }
    }
  }
  .FL005-Option.FL005-Active{
    background-color: #888;
    > label{
      color: #fff;
      &::before{
        color: #fff;
        background-position: 0 -7px;
      }
    }
  }
}// Style submit button
  .FL005-Button-Wrap {
    margin-top: 15px;
    .FL005-Button {
      // Styling from website
      border-radius: 0;
      text-transform: none;
      padding: 12px 0;
      background-color: #181816 !important;
      color: #fff !important;
      text-align: center;
      font-size: 15px; // Arrow after button, copied from website
      &::after {
        content: "";
        padding-left: 5px;
        color: #fff;
        background: url(//www.flannels.com/images/core/sprite-new-checkout-v3-01.svg) no-repeat;
        background-size: 220px 220px;
        background-position: -78px -62px;
        height: 20px;
        display: inline-block;
        width: 100%;
        max-width: 25px;
        font-size: 11px;
        vertical-align: middle;
      }
    }
  }
}
