@import './variables';

.#{$id} {
    &__hide {
        display: none;
    }

    &__specscontainer {
        clear: both;
        margin-top: 60px;
        margin-bottom: 30px;

        @media (max-width: 768px) {
            margin-top: -40px;

        }
    }



    &__specs {
        display: flex;
        align-items: stretch;
        margin-bottom: 20px;

        &>div:not(:last-child) {
            margin-right: 14px;

            @media (max-width: 767px) {
                margin-right: 0;
                margin-bottom: 14px;
            }


        }

        @media (max-width: 767px) {
            margin-top: 100px;
            flex-direction: column;
        }

    }

    &__spec {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 10px;
        text-align: center;
        font-weight: 600;
        font-size: 14px;
        line-height: 1.3;
        border: 1px solid #115DA6;
        border-radius: 5px;

        @media (max-width: 767px) {
            //height: 34px;
            justify-content: center;
        }

        p {
            margin-bottom: 0;
        }

    }

    &__specanchor {
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 1.3;

        &>svg {
            margin-right: 12px;
        }
    }

    &__specitemscontainer {
        margin-bottom: 30px;
    }

    &__specitems {
        &>li:not(:last-child) {
            margin-bottom: 16px;
        }

        margin-bottom: 20px;
        padding: 0;


    }

    &__specitem {
        display: flex;
        align-items: center;
        color: #676767;
        font-size: 14px;
        line-height: 1.3;
        list-style: none;

        &>svg {
            margin-right: 12px;
        }
    }
}