@import './variables';

$pink: #e679a5;

.#{$id} {
  &-pp-wrap {
    margin: 15px 0;
    color: #808385;
  }

  &-pp {
    background-color: #fbf5f7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
  }

  &-pp__parcel {
    height: 70px;
    width: 100px;
    flex-shrink: 0;
    background-image: url('https://cdn-sitegainer.com/w7qv84z64e38l6m.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
  }

  &-pp__parcel-overlay {
    position: absolute;
    left: 23px;
    top: 31px;
    text-align: center;
    color: #fff;
    font-size: 16px;

    &--bigval {
      left: 19px;
    }
  }

  &-pp__body {
    padding-left: 10px;
    line-height: 1.4;

    .xmore {
      color: $pink;
    }
  }
  &-pp__title {
    margin-bottom: 8px;
    color: $pink;
    font-size: 16px;
  }
  &-pp__text {
    font-size: 14px;
    
    a {
      color: inherit;
      text-decoration: underline;
    }
  }

  local-product-view .block.pos-absolute.m-t-1 {
    position: relative;
  }
}
