@import './variables';

@keyframes MEbackgroundProgress {
    0% {
        background: rgba(0, 172, 229, .7);
        width: 100%;
    }

    70% {
        border-radius: 10px;
    }

    100% {
        background: rgba(208, 74, 74, 0.93);
        width: 100%;
        border-radius: 10px;
    }
}

@keyframes smallBarProgress {
    0% {
        background: rgba(0, 172, 229, .7);
        width: 100%;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
    }

    100% {
        background: rgba(208, 6, 6, 1);
        width: 13%;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
    }
}

@keyframes MEdots {

    0%,
    20% {
        color: rgba(0, 0, 0, 0);
        text-shadow:
            .25em 0 0 rgba(0, 0, 0, 0),
            .5em 0 0 rgba(0, 0, 0, 0);
    }

    40% {
        color: white;
        text-shadow:
            .25em 0 0 rgba(0, 0, 0, 0),
            .5em 0 0 rgba(0, 0, 0, 0);
    }

    60% {
        text-shadow:
            .25em 0 0 white,
            .5em 0 0 rgba(0, 0, 0, 0);
    }

    80%,
    100% {
        text-shadow:
            .25em 0 0 white,
            .5em 0 0 white;
    }
}

.#{$id} {
    .scarity-message {
        display: none;
    }
    .#{$id}_scarcityBar {
        position: absolute;
        height: 35px;
        width: 90%;
        background: rgba(0, 172, 229, .7);
        border-radius: 10px;
        top: 20px;
        left: 50%;
        z-index: 99;
        transform: translateX(-50%);
        text-align: center;
        color: white;
        padding: 10px;
        box-sizing: border-box;
        box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, .35);
       

        &.#{$id}-animatedLoader {
            animation: backgroundProgress 5s ease-in-out forwards;
            .#{$id}-smallerLoader {
                position: absolute;
                width: 100%;
                left: 0;
                height: 100%;
                top: 0;
                background: white;
                animation: smallBarProgress 8s ease-in-out forwards;
            }
            .#{$id}-pulseText {
                &:after {
                    content: '.';
                    animation: MEdots 1s steps(5, end) infinite;
                }
            }
        }
        p {
            margin-bottom: 0px;
            position: absolute;
            top: 50%;
            left: 50%;
            font-weight: 600;
            width: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            font-size: 14px;
        }
    }
}
