@import './variables';

.#{$id} {

    &-1{
        .navigation__mobile, .navigation__list{
            display: none;
        }
    
        nav{
            display: flex;
            justify-content: flex-end !important;
            align-items: center;
    
        }

    }

    

}
