.NH044 {
  .NH044-last_viewed-box {
    height: auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 20px;
    background: #D1E9F5;
    border: 1px solid #B7CEDC;
    h3 {
      font-size: 32px;
      color: #1c5bab;
      margin-top: 15px;
      margin-bottom: 15px;
      font-weight: 400;
      font-family: "vag_roundedbold",Arial;
    }
    .NH044-last_viewed-trips {
      border-bottom: 1px solid #b7cfdd;
      padding-bottom: 20px;
      .NH044-trip_info {
        &:first-of-type{
          padding-bottom: 10px;
          margin-top: 10px;
          margin-bottom: 10px;
        }
      }
      .NH044-trip_details{
        display: inline-block;
        width: 60%;
        vertical-align: middle;
        span {
          font-family: "vag_roundedbold",Arial;
          font-size: 16px;
        }
        p {
          margin-bottom: 5px;
          margin-top: 5px;
        }
        .NH044-trip_price{
          span{
            font-family: "vag_roundedlight",Arial;
          }
          span:first-child{
            text-decoration: line-through;
          }
          span:last-child{
            color: #ec7423;
          }
        }
      }
    }
    .NH044-more_info,
    .NH044-search_again {
      display: inline-block;
      vertical-align: middle;
      background-color: #f0692d;
      padding: 12px 60px 9px 15px;
      -webkit-box-shadow: 0 0 0 3px #FFF;
      -moz-box-shadow: 0 0 0 3px #FFF;
      box-shadow: 0 0 0 3px #FFF;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      cursor: pointer;
      border-radius: 4px;
      border-bottom: 4px solid #ee4f1e;
      color: white;
      font-size: 16px;
      font-family: "vag_roundedlight",Arial;
      background-size: 9px 16px;
      font-weight: 700;
      background: #f0692d url('//useruploads.visualwebsiteoptimizer.com/useruploads/317288/images/bd9daeffb9b1dd496e27face6aeda3df_icon-arrowwhite.png') no-repeat 90% center;
      background-size: 9px 16px;
    }
    .NH044-last_search{
      h3{
        margin-bottom: 10px;
      }
      .NH044-search_details{
        display: inline-block;
        vertical-align: middle;
        width: 60%;
        p{
          margin-bottom: 5px;
          margin-top: 5px;
          &:first-child{
            font-weight: 400;
            font-family: "vag_roundedbold",Arial;
          }
        }
      }
    }
  }
}