$id: '--ID--';

@import "scss/slick";

$pink: #e679a5;
$pink2: #d86191;
$darkertext: #444;
$normaltext: #808385;

.#{$id} {
  background: url('//cdn-sitegainer.com/k7gwvhfvt24prj8.jpg') center center repeat !important;

  /**** Main ****/

  main, page-header {
    background: none !important; 
  }

  .body-bg-header {
    display: none;
  }

  @media(max-width: 959px) {
    page-header header > div > .flex {
      border-bottom: 2px dotted #eee;
    }
  }

  /**** Header ****/

  &.#{$id}-is-desktop {
    if-not-checkout-process {
      .ta-right {
        position: absolute;
        top: -113px;
        right: 150px;
        max-width: 350px;
        padding: 0;

        search,
        .search {
          flex: 1;
        }
        
        search {
          width: 100%;
        }
      }

      > .wrap > .flex {
        display: block !important;
        display: flex !important;
        color: $normaltext;
        margin-bottom: 5px;

        &:after {
          content: "";
          clear: both;
          display: table;
        }

        .p-t-5,
        .p-b-8 {
          padding: 0 !important;
        }

        .lh-4 {
          line-height: 1 !important;
        }

        [class*=w-]:not(input):not(.ta-right) {
          /*float: left;*/
          text-align: center;
          padding-top: 20px;
          padding-bottom: 20px;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;

          &:before {
            content: "" !important;
            width: 1px;
            height: 25px;
            position: absolute;
            top: 50%;
            margin-top: -12.5px;
            background-color: #ddd;
            left: 0;
          }

          &:first-child:before,
          &:last-child:before {
            display: none;
          }

          .flex {
            align-items: center;
          }
        }
        newsletter-form-header:after {
          display: none;
        }

        img.pos-absolute {
          display: none;
        }

        newsletter-form-header .fs-7 {
          font-size: 1.2em !important;
        }

      }

      .#{$id}-nextdaydelivery {
        .flex {
          display: block !important;
        }
        .p-l-16 {
          padding: 0 !important;

          .fs-9 {
            font-size: 1.2em !important;
            margin-bottom: 5px;
            display: inline-block;
          }

          local-countdown {
            font-size: 1em !important;
            display: block;
          }
        }
      }

      .#{$id}-headfaq__link {
        .#{$id}-headfaq__title {
          display: block;
          font-size: 1.2em;
          margin-bottom: 5px;
          position: relative;
        }
        .#{$id}-headfaq__subtitle {
          font-size: 1em;
          color: $pink;
          display: block;
        }
      }

      .#{$id}-headfaq {
        display: block !important;
      }
    }
  }

  .#{$id}-countdown {
    justify-content: flex-start;
    display: flex !important;

    @media(max-width: 959px) {
      justify-content: center;
      align-items: center;
      display: flex !important;
      width: 380px;
      max-width: 100%;
      margin: 15px auto;
    }

    em {
      font-style: normal;
      border: 1px solid $pink;
      box-shadow: 1px 1px 3px #ddd;
      font-size: 2em;
      color: $pink;
      line-height: 1;
      padding: 0px 8px 7px;
      margin: 0 2px;
      background: #fff;

      @media(max-width: 959px) {
        font-size: 1.5em;
      }
    }

    span {
      display: block;
    }

    > div {
      text-align: left;
      margin-left: 8px;
    }

    .#{$id}-countdown__title {
      margin-top: 4px;
      font-size: 1em;
      background: $pink;
      color: #fff;
      padding: 2px 4px;
      margin-bottom: 5px;
      padding-right: 20px;
      position: relative;

      @media(max-width: 959px) {
        height: 21px;
        line-height: 16px;
        font-size: 15px;
      }

      &:after {
        position: absolute;
        height: 100%;
        width: 30px;
        height: 30px;
        display: block;
        right: -10px;
        top: 6px;
        transform: rotate(45deg) translateY(-50%);
        content: "";
        background: #fff;
      }
    }
    .#{$id}-countdown__subtitle {
      font-size: 1em;
      color: $pink;

      @media(max-width: 959px) {
        font-size: 15px;
      }
    }
  }

  &.size-l.#{$id}-is-desktop {
    .#{$id}-countdown__title {
      padding-right: 4px;

      &:after {
        display: none !important;
      }
    }
  }

  /**** Title ****/
  .#{$id}-titlewrap {
    margin: 0 auto 25px;

    @media(max-width: 959px) {
      display: none;
    }

    h2 {
      font-size: 1.8em;
      text-align: center;

      @media(max-width: 519px) {
        font-size: 1.4em;
      }
    }
  }

  /**** Banner / Mosaic ****/

  .#{$id}-banner {
    background: url('//cdn-sitegainer.com/i1tan7ixus8rvci.jpg');
    background-size: cover;
    background-position: center center;
    min-height: 500px;
    position: relative;
    margin-bottom: 5px;

    @media(max-width: 959px) {
      min-height: 330px;
    }
  }

  .#{$id}-banner__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 300px;
    text-align: center;
    color: #fff;
  }

  .#{$id}-banner__headline {
    font-size: 1.2em;
    line-height: 1.4;
    margin: 0 0 1.8em;
  }

  .#{$id}-banner__cta {
    display: inline-block;
    padding: 1em 1.8em;
    background-color: $pink;
    color: #fff;
    border-radius: 3px;
    transition: 0.3s background-color;

    &:hover {
      background-color: $pink2;
    }
  }

  promo-message {
    display: block;
    margin: 0.4em 0 30px;

    @media(max-width: 519px) {
      margin: 15px 0 0;
    }
  }

  mosaic .c-5-set {
    display: none;

    @media(max-width: 519px) {
      display: block;
    }
  }

  mosaic .column-right .c-3-set .b-a {
    min-height: 350px;
    overflow: hidden;

    @media(max-width: 959px) {
      min-height: 200px;
    }

    img {
      width: auto;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  /**** Why send Flowers when you can send Biscuiteers ****/

  catalog-outlet page-view custom-block-1 {
    display: none;
  }

  .#{$id}-whysendflowers {
    text-align: center;

    @media(max-width: 519px) {
      margin-top: 50px;

      padding: 0 20px;
    }

    h2 img {
      width: 100%;
      height: auto;
      margin: 30px auto 20px;
      display: block;
      max-width: 1000px;

      @media(max-width: 959px) {
        max-width: 500px;
      }
    }

    p {
      color: $darkertext;

      @media(max-width: 519px) {
        display: none;
      }
    }
  }

  /**** Perfect Gift ****/

  .#{$id}-perfectgift {
    margin: 60px 0 0;

    @media(max-width: 519px) {
      margin-top: 0;
    }

    h2 {
      font-size: 1.8em;
      color: $pink;

      @media(max-width: 519px) {
        margin-bottom: 0;
        font-size: 1.4em;
      }
    }
  }

  .#{$id}-perfectgift__steps {
    overflow: hidden;
    margin: 40px 0 0;
  }

  .#{$id}-perfectgift__step {
    width: 33.333%;
    box-sizing: border-box;
    padding: 0 15px;
    float: left;
  }

  .#{$id}-perfectgift__num {
    background: url('//cdn-sitegainer.com/q1jli0zyqvymuev.png');
    background-size: cover;
    width: 50px;
    height: 35.5px;
    line-height: 24.5px;
    color: #fff;
    font-size: 19px;
    padding: 0 0 0 12px;
    vertical-align: middle;
    display: block;
  }

  .#{$id}-perfectgift__imgwrap {
    img {
      width: 100%;
      max-width: 260px;
      margin: 0 auto;
      display: block;
      height: auto;
      padding: 15px;
    }
  }
  .#{$id}-perfectgift__textwrap {
    text-align: center;
    color: $darkertext;
  }

  /**** Trending now ****/

  .#{$id}-carouseltitle {
    font-size: 1.8em;
    color: $pink;
    text-align: center;
    margin: 25px 0 40px;

    @media(max-width: 519px) {
      margin-top: 0;
      font-size: 1.4em;
    }
  }

  /**** Customer Reviews ****/

  .#{$id}-reviews-container {
    margin-top: -35px;
    background: #f2f2f2;
    padding: 60px 0;

    @media(max-width: 519px) {
      margin-top: 30px;
    }

    h2 {
      color: $pink;
      font-size: 1.8em;
      text-align: center;
      margin: 0 0 40px;

      @media(max-width: 519px) {
        font-size: 1.4em;
      }
    }
  }
  .#{$id}-reviews {
    overflow: hidden;
    text-align: center;
    color: $normaltext;

    blockquote {
      line-height: 1.4;
    }
  }
  .#{$id}-reviews__item {
    width: 33.33%;
    box-sizing: border-box;
    float: left;
    padding: 0 15px;

    @media(max-width: 519px) {
      padding-bottom: 10px;
    }
  }
  .#{$id}-reviews__rating {
    margin: 15px 0;
    text-align: center;

    img {
      width: 20px;
      height: auto;
      display: inline-block;
    }
  }

  .#{$id}-reviews__more {
    text-align: center;
    margin: 40px 0 0;

    a {
      color: $pink;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  /**** Insta ****/

  .#{$id}-insta {
    margin: 60px 0 0;
    text-align: center;

    @media(max-width: 519px) {
      padding: 0 20px;
    }

    h2 {
      color: $pink;
      font-size: 1.8em;
      text-align: center;
      margin: 0 0 40px;

      @media(max-width: 519px) {
        font-size: 1.4em;
      }
    }

    .text {
      @media(max-width: 519px) {
        display: none;
      }
    }

    .text p {
      width: 100%;
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
    }

    .#{$id}-insta__images {
      overflow: hidden;
      max-width: 1240px;
      margin: 50px auto;

      @media(max-width: 519px) {
        margin-bottom: 30px;
      }

      a {
        display: block;
        float: left;
        width: 18%;
        margin: 0 1%;
        padding: 18% 10px 0;
        background-repeat: no-repeat;
        background-size: cover;

        @media(max-width: 519px) {
          width: 150px !important;
          padding-top: 0;
          height: 150px;
          margin-left: auto;
          margin-right: auto;
          float: none;
        }
      }
    }

    .#{$id}-insta__view-wrap {
      .#{$id}-insta__view-btn {
        display: inline-block;
        padding: 1em 1.8em;
        background-color: $pink;
        color: #fff;
        border-radius: 3px;
        transition: 0.3s background-color;

        &:hover {
          background-color: $pink2;
        }

        img {
          width: 20px;
          height: 20px;
          margin-right: 10px;
        }

        span, img {
          vertical-align: middle;
        }
      }
    }
  }

  /**** As seen in ****/

  .#{$id}-as-seen {
    background: $pink;
    color: #fff;
    margin: 55px 0 45px;
    padding: 40px 0;

    @media(max-width: 519px) {
      padding: 20px 0;
    }

    h2 {
      color: #fff;
      font-size: 1.8em;
      text-align: center;
      margin: 0 0 40px;

      @media(max-width: 959px) {
        display: none;
      }
      @media(max-width: 519px) {
        font-size: 1.4em;
      }
    }
  }

  .#{$id}-as-seen__images {
    overflow: hidden;

    img {
      width: 16%;
      padding: 0 30px;
      box-sizing: border-box;
      margin: 1em 0;

      @media(max-width: 900px) {
        width: 24%;
      }
    }
  }

  /**** Sliders ****/

  .slick-dots {
    text-align: center;
    margin-top: 25px;

    li {
      display: inline-block;
      margin: 0 1.5vw 0 1.5vw;

      button {
        text-indent: -999px;
        overflow: hidden;
        width: 0.65em;
        height: 0.65em;
        border-radius: 50%;
        display: inline-block;
        background-color: #e5e5e5;
      }

      &.slick-active button {
        background-color: #666;
      }
    }
  }

  [ng-bind-html*=trustedHtml] {
    display: none;
  }
}
