.RC012 {
    .nav-container {
        border-bottom-width: 5px;
    }
    .home-course-search .course-search-container {
        .course-search-img {
            display: none;
        }
        .course-search-form {
            width: 100%;
            label {
                font-size: 0.9em;
                font-weight: normal;
            }
        }
        .course-search-header {
            i {
                font-size: 25px;
            }
            h2 {
                padding-bottom: 0;
            }
        }
        .course-search {
            padding: 10px 15px 40px 15px;
            @media (max-width: 400px) {
                margin: 6px 0;
            }
        }
        .course-search-link {
            bottom: 5px;
            p {
                float: left;
                width: auto;
                margin-top: 0;
                &:first-of-type {
                    text-align: left;
                    float: left;
                }
                &:last-of-type {
                    text-align: right;
                    float: right;
                }
            }
            @media (max-width: 400px) {
                right: 0;
                left: 0;
                width: 100%;
                padding: 10px;
                p {
                    font-size: 12px;
                }
            }
        }
        .RC012_search-label {
            text-align: center;
            margin: 5px 0 0 0;
            float: left;
            width: 100%;
            color: #707070;
        }
    }
}