@import './variables';

.#{$id} {
    &.#{$id}-1,
    &.#{$id}-2 {
        .site-search{
            height: 100%;
            width: 100%;
            bottom: 0;
            z-index: 9;
            overflow: auto;
            .#{$id}-searchBox {
                h3 {
                    text-align: left;
                    font-size: 25px;
                    margin-bottom: 20px;
                    @media(min-width: 375px) {
                        font-size: 30px;
                    }
                }

                .#{$id}-close {
                    height: 40px;
                    width: 40px;
                    background-size: 35px;
                    position: absolute;
                    margin-right: 0;
                    margin-left: auto;
                    right: 5px;
                    top: 5px;
                    &::after {
                        content: '';
                        background-image: url('https://cdn-sitegainer.com/qt3cayq3mqb1xj4.png');
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                        height: 100%;
                        width: 100%;
                        display: block;
                       
                    }
                  }
                  .#{$id}-searchForm {
                    margin-top: 50px;
                   
                        form {
                            border-bottom: 1px solid black;
                            input {
                                width: 100%;
                                padding: 10px;
                                border: 0;
                                padding-left: 0;
                                font-size: 15px;
                                &::placeholder {
                                    font-size: 15px;
                                }
                                &:focus {
                                outline: none;
                                }
                            }
                            button {
                                background-color: transparent;
                                background-image: url('https://cdn-sitegainer.com/x21sqz9xdr7ex1a.png');
                                background-size: contain;
                                background-position: center;
                                background-repeat: no-repeat;
                                border: 0px;
                                padding: 0;
                                height: auto;
                                width: 50px;
                                span {
                                    display: none;
                                }
                            }
                        }
                        @media(min-width: 375px) {
                            margin-top: 70px;
                        }
                    }
            }
        }
    }
    &.#{$id}-2 {
        .#{$id}-termsBlock {
            text-align: left;
            margin-top: 30px;
            .#{$id}-terms,
            .#{$id}-brands{
                margin-top: 20px;
                h4 {
                    padding-top: 10px;
                }
                .#{$id}-links {
                    display: flex;
                    flex-wrap: wrap;
                    .#{$id}-buttonLink {
                        margin: 10px;
                        margin-left: 0;
                        margin-right: 15px;
                        margin-bottom: 5px;
                        text-align: left;
                        text-decoration: underline;
                        span {
                            color: #6a6a6a;
                            font-size: 16px;
                        }
                        @media(min-width: 375px) {
                            margin-left: 0px;
                            margin-top: 5px;
                            margin-right: 15px;
                            span {
                                font-size: 18px;
                            }
                        }
                    
                    }
                    .#{$id}-brandLink {
                        height: 75px;
                        width: 29%;
                        box-sizing: border-box;
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                        border: 1px solid #e8e8e8;
                        margin: 10px;
                        margin-left: 0;
                        @media(min-width: 375px) {
                            width: 30%;
                            height: 85px;
                        }
                        &:last-of-type {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
}
