.#{$ID} {
    @at-root #{&}_cartPopUp {
        background-color: #fff;
        font-size: 0;
        padding: 10px;

        @media screen and (max-width:768px) {
            padding: 0;
        }

        @at-root #{&}Wrap {
            border: 1px solid #000;
            max-width: 900px;
            margin: 0 auto;
        }

        @at-root #{&}__image {
            max-width: 120px;

            @at-root #{&}Wrap {
                display: inline-block;
                vertical-align: middle;
                width: 15%;

                @media screen and (max-width:768px) {
                    width: 40%;
                    padding-left: 10px;
                    padding-top: 10px;
                }

                @media (min-width: 768px) and (max-width: 1024px) {
                    text-align: right;
                }
            }
        }

        @at-root #{&}__info {
            font-size: 14px;
            padding-left: 24px;

            @at-root #{&}Wrap {
                display: inline-block;
                vertical-align: middle;
                width: 35%;

                @media screen and (max-width:768px) {
                    width: 60%;
                    padding-right: 10px;
                    padding-top: 10px;
                }
            }

            @at-root #{&}Title {
                &:before {
                    content: '';
                    display: inline-block;
                    position: relative;
                    width: 20px;
                    height: 20px;
                    left: -5px;
                    top: 3px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACABAMAAAAxEHz4AAAAKlBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKE86IAAAADXRSTlMA2htldxPPzoAp6Gu/gGHsQwAAAR1JREFUaN7t1rFpQ1EQBdEPdiBQ5tzgRlyCQeAaVILLEKgNpe7EiQVC24uizwQvuGheoEA7FRwuLOzSdV23vByXuT5Pk4C6HOcAVac5QEGQAAgOAEECIDgABA/whG2tXScB9SYXWPv7aEADGtCABjSgAQ14CGAbAZv9JODwv5taYFO1nwNUQXAACBIAwQEgSAAEB4AgARDMFXwVBHUFrwXBAEZCBmRCBmTCCBCEAZAJPwEQCeedAAyEAEgEARgIAZAIAjAQBoAgBEAgBEAkDABBCIBECIBMCIBM+Hb/wKHW3gUAAgG4dwUBgKAAEDwAggdAACAJABwBgCQAcAQAkgDAEQBIAgBLACAJACwBgCQAsAQAkgBA9rt0XfeE3QCLTOpDYkEj4wAAAABJRU5ErkJggg==');
                }
                @media screen and (max-width:768px){
                    position:relative;
                    &:before{
                        width:15px;
                        height:15px;
                        position:absolute;
                        display:block;
                        top:2px;
                        left:-20px;
                    }
                }
            }
        }

        @at-root #{&}__list {
            @at-root #{&}Item {
                
            }
        }
    }
}