/* Animations */
@-webkit-keyframes IT038_fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes IT038_fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.IT038 {
  /* Colour component */
  .IT038_colour {
    display: inline-block;
    position: relative;
    margin: 0 6px 12px;
    margin: 0 .375rem .75rem;
    line-height: 38px;
    line-height: 2.375rem;
    min-height: 38px;
    min-height: 2.375rem;
    min-width: 60px;
    min-width: 3.75rem;
    text-align: center;
    text-decoration: none;
    background: #9c9c9c;
    font-weight: 700;
    color: #d13b95;
    font-size: 16px;
    font-size: 1rem;
    height: 40px;
    border-radius: 2px 2px 2px 2px;
    border: 1px solid #E7E9EA;

    &.IT038_colour--active {
      border: 2px solid #d13b95;      
    }

    label {
      display: none;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      line-height: normal;
      margin-top: 3px;
      font-size: 13px;
      padding: 4px 6px;
      color: white;
      background: #d13b95;
      min-width: 100%;
      border-radius: 3px;
      white-space: nowrap;
      cursor: pointer;

      .IT038_colour__selected {
        font-size: 9px;
        text-transform: uppercase;
        background: white;
        color: #d13b95;
        padding: 0px 3px;
        margin-left: 5px;
        position: relative;
        top: -1px;
        border-radius: 5px;
      }
    }

    a {
      display: block;
      height: 100%;
      width: 100%;

      &:hover {
        label {
          display: block;
          -webkit-animation: IT038_fadeIn 1s;
          -moz-animation: IT038_fadeIn 1s;
          -ms-animation: IT038_fadeIn 1s;
          -o-animation: IT038_fadeIn 1s;
          animation: IT038_fadeIn 1s;
        }
      }
    }
  }

  .IT038_sizeNote {
    font-size: 12px;
    margin: 0 0 1rem;
    line-height: 1rem;    
  }
}
