@import './variables';

.#{$id} {

    .#{$id}-navLink {
        .departmentMenuListItem {
            cursor: pointer;
        }
       
        @media(min-width: 601px){
            .globalNavLiDoubleLineHeight {
                height: 3.5em;
            }
            #departmentMenu li a .departmentLinkOutput span {
                width: 70%;
            }
        }
    }
}
