@import './variables';

.#{$id} {
    .text-simple.grid-wrapper.component.component--background-white.component--top-padding-condensed.component--bottom-padding-default {
        padding-top: 0;
    }
    
    .card-container .branding::before {
        background: none;
    }

    .swiper-wrapper .card--secondary {
        border: none;
    }

    .#{$id}-svg-desktop {
        position: absolute;
        left: 10px;
    }

    .#{$id}-card-secondary {
        h4 {
            color: #032240;
            margin-bottom: 24px;
            margin-left: -10px;
            font-weight: 500;
        }

        .card__content-wrapper {
            padding: 0 16px;
        }
    }

    .#{$id}-card-content-border-left {
        position: relative;
        padding-left: 20px; 
    }

        .#{$id}-card-content {
            font-size: 1rem;



            p, a {
                margin: 0 0 1rem 0;
                display: inline-block;
                color: #032240;
                font-weight: 500;
            }

            a {
                text-decoration: underline;
            }
        }

        .card__button-container a.button__primary {
            width: 100%;
        }


    @media screen and (min-width: 500px) {
        .#{$id}-hide-desktop {
            display: none;
        }
    }

    @media screen and (max-width: 499px) {
        .#{$id}-hide-mobile {
            display: none;
        }

        .card-container .swiper-container .swiper-wrapper {
            // margin-left: -50px;

        }
        .#{$id}-card-secondary .button__primary {
            min-width: 222px;
            text-align: center;
        }

    }

}
