@import "./variables";

.#{$id} {
	&-1 {
		#er-calculator .results {
			section.release-question {
				display: none;
			}
		}
	}
	&-2 {
		#er-calculator .results {
			section.next-steps {
				display: none;
			}
		}
	}
	&-control {
		#er-calculator .results {
			section.release-question {
				display: none;
			}
			section.next-steps {
				display: none;
			}
		}
	}
}
