@import './variables';

.#{$id} {
  &__categoryWrapper {
    margin-bottom: 16px;
  }
  &__categoryContainer {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__categoryOption {
    display: flex;
    align-items: center;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    padding: 5px 8px;
    background-color: #fff;
    margin-right: 12px;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }
  }

  &__imageWrapper {
    width: 30px;
    height: 30px;
    margin-right: 8px;

    img {
      width: 100%;
    }
  }

  &__textWrapper {
    & > div {
      display: flex;
      white-space: nowrap;
    }
    [data-qaid='category-name'] {
      font-family: screwfix_betaregular;
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
      color: #0053a0;
    }
    [data-qaid='category-products-number'] {
      font-family: screwfix_betaregular;
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
      color: #0053a0;
      text-indent: 3px;
    }
  }
}
