.WO006 {

  header {
    z-index: 1500;
    position: relative;
  }
  .WO006_overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(181, 181, 181, 0.6);
    z-index: 1001;
  }

  .WO006__nav_dropdown {
    a.dropdown-toggle {
      line-height: normal;
      font-size: 11px;
      padding-right: 30px;
      span {
        font-size: 7px;
        text-transform: capitalize;
      }
      &:after {
        content: "";
        border: solid #999;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        right: 12px;
        top: 45%;
      }
    }
  }
  .WO006__nav_noDropDown {
    a {
      line-height: 12px;
      font-size: 11px !important;
      padding-right: 30px;
    }
  }
  .dropdown-menu {
    margin-top: 0 !important;
  }

  [id^="WO006_accordion"], [id*="WO006_accordion"] {
    .WO006_panel {
      margin: 0;
      background: #4b4a4a;
      border-radius: 0;
      border-bottom: 1px solid black;
    }
    a[href^="#firstLink"], a[href*="#firstLink"] {
      outline: none;
      color: white;
      &:hover {
        background: #8f302e;
      }
      &:active {
        background: white;
        border: 0;
      }
      &:after {
        content: "";
        border: solid black;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        right: 15px;
        top: 38%;
      }
    }
    [id^="firstLink"], [id*="firstLink"] {
      margin: 0;
      background: #999;
      line-height: 30px;
    }
    .WO006_link_active {
      background: white;
      border-bottom: 2px solid black;
    }
    .WO006_linkRef {
      color: #8f302e;
    }
  }
  .dropdown-header {
    font-weight: 900;
    padding: 10px 0;
  }
  .row.hidden-lg.hidden-md.hidden-xs {
    .WO006_color_nav_content {
      .col-md-6 {
        margin-left: 0 !important;
      }
    }
  }
  .dropdown-menu.mega-dropdown-menu {
    z-index: 1200;
  }
  .navbar-default .navbar-nav>li>a {
    padding-bottom: 8px !important;
    padding-top: 7px !important;
    &:last-of-type {
      padding-top: 5px !important;
    }
  }
  .navbar-default .navbar-nav>li>a.dropdown-toggle {
    padding-bottom: 8px !important;
    padding-top: 5px !important;
  }
  .col-md-3.col-sm-12.col-xs-10.pull-right.goLeft .searchbox {
    margin-top: 7px;
  }
} // WO006

