@import './variables';

.#{$id} {
  // --- Mini Widget
  .item_info {
    .rat-row {
      position: relative;
    }
  }
  // .tp-widget-readmore-arrow {
  //   display: none !important;
  // }
  .#{$id}-TPminiWidget {
    position: relative;
    left: -52px;
    // max-width: 230px;
    display: inline-flex;
    // z-index: 9;
  }
  .#{$id}-readMore__wrapper {
    // @media screen and (min-width: 421px) {
      display: inline-flex;
      position: absolute;
      // left: 70%;
      left: 18vw;
      width: 100%;
    // }
    @media screen and (max-width: 420px) {
      // left: 64vw;
      background-color: #FFF;
      z-index: 99999999;
      left: 190px;
      padding-left: 5px;
      margin-top: 1px;
    }
    @media screen and (min-width: 1040px) and (max-width: 1128px) {
      left: 20vw;
    }
    @media screen and (min-width: 1600px) {
      left: 14vw;
    }
    .#{$id}-readMore {
      font-size: 13px;
      text-decoration: underline;
      color: #000;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .#{$id}-TPreviews {
    @media screen and (max-width: 420px) {
      margin-top: 20px;
    }
  }

  // --- All Tabs (Desktop only)
  .item_row2.product-details.prdt-dtls-tab.mobile_hide ul.nav.nav-tabs li {
    width: 25%;
  }
  .item_row2.product-details.prdt-dtls-tab.mobile_hide ul.nav.nav-tabs li:nth-of-type(2) a {

    border-top-right-radius: 0px !important;
    margin-right: 1px !important;
  }
  // --- Review tab
  .item_row2.product-details.prdt-dtls-tab.mobile_hide ul.nav.nav-tabs li.reviews {
    z-index: 9;
  }
  .item_row2.product-details.prdt-dtls-tab.mobile_hide ul.nav.nav-tabs li:nth-of-type(3) a {

    border-top-right-radius: 6px;

  }

  .item_row2.product-details.prdt-dtls-tab.mobile_hide ul.nav.nav-tabs li a {
    width: 100%;
  }
}

body.main .tp-widget-readmore-arrow {
  display: none !important;
  bottom: 22px !important;
}
