@import './variables';

.#{$id} {
  &.hsamuel,
  &.ernestjones {

    .#{$id}-inGrid {
      background: unset;
      position: relative;
      display: flex;
      flex-direction: column;
      height: 100%;
      align-items: center;
      justify-content: center;
      @media(min-width: 767px) {
        align-items: stretch;
        justify-content: center;
      }
      .#{$id}-container { 
        display: flex;
        flex-direction: column;
        height: auto;
        background: #f1f1f1;
        @media(min-width: 1024px) {
          height: 100%;
        }
        .#{$id}-image {
          height: 130px;
          width: 100%;
          padding: 10px;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          display: block;
          z-index: 2;
          background-color: white;
          box-sizing: border-box;
          @media(min-width: 375px) {
            height: 142px;
          }
          @media(min-width: 500px) {
            height: 200px;
          }
          @media(min-width: 767px) {
            height: 200px;
          }
          @media(min-width: 1024px) {
            height: 220px;
          }
        }
        
        .#{$id}-wrapper {
          padding: 10px;
          text-align: center;
          display: flex;
          flex-grow: 1;
          justify-content: center;
          align-items: center;
          h3 {
            
            font-size: 17px;
            margin-top: 0;
            margin-bottom: 10px;
            line-height: 24px;
            @media(min-width: 767px) {
              line-height: 24px;
            }
          }

          p {
            margin-top: 5px;
            margin-bottom: 15px;
            font-size: 13px;
            line-height: 21px;
          }

          .#{$id}-button {
            background: black;
            border: 1px solid black;
            display: block;
            border-radius: 5px;
            padding: 7px 10px;
            padding-bottom: 9px;
            width: 100%;
            margin: 0 auto;
            margin-bottom: 10px;
            color: white;
            font-family: 'Oxygen', sans-serif;
            font-weight: 600;
            font-size: 16px;
            box-sizing: border-box;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            max-width: 200px;
            &:hover {
              background: white;
              border: 1px solid black;
              color: black;
            }
          }

          @media(min-width: 414px) {
            padding: 15px;
            h3 {
              font-size: 23px;
            }
            p {
              margin-bottom: 20px;
              font-size: 15px;
              line-height: 23px;
            }
          }
        }
      }
    }

    @media(max-width:767px) {
      .product-tile-list--two-column-mode {
        .#{$id}-inGrid {
          display: none;
        }
      }
    }
  }

  &.hsamuel {
    .#{$id}-inGrid {
      .#{$id}-container {
        .#{$id}-wrapper {

          padding: 10px;
          text-align: center;
          h3 {
            color: black;
            font-family: "Montserrat",sans-serif;
            font-weight: 500;
          }
          p {
            color: #484849;
            font-family: "Montserrat",sans-serif;
            font-weight: 500;
          }
          .#{$id}-button {
            background: #a01d29;
            border: 1px solid #a01d29;
            color: white;
            text-decoration: none;
            font-family: "Montserrat",sans-serif;
            font-weight: 500;
            padding: 10px;
            &:hover {
              background: white;
              color: #a01d29;
              border: 1px solid #a01d29;
            }
          }

          @media(min-width: 414px) {
            padding: 15px;
            h3 {
              font-size: 25px;
            }
            p {
              margin-bottom: 20px;
              font-size: 16px;
              line-height: 23px;
            }
          }
          @media(min-width: 767px) {
            .#{$id}-inGrid-content {
              max-width: 100%;
              h3 {
                font-size: 21px;
                line-height: 25px;
              }
              p {
                font-size: 14px;
                line-height: 18px;
              }
            }
          }
        }
      }
    }
  }
}