$font-display: futura-pt,sans-serif;

.wbbfl {
    .wbbfl-container-wrap {
        position: relative;
        background: url('//dd6zx4ibq538k.cloudfront.net/static/images/4347/6cd18108c5f8a56791386a15859e66b6_434_1447.png');
        overflow: hidden;
        z-index: 1;
        
        > .wbbfl-confetti {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10000;
            width: 100%;
            pointer-events: none;
            max-width: 1400px;
            margin: 0 auto;
            display: block;
            left: 50%;
            transform: translateX(-50%);

            @media(max-width: 767px) {
                width: 200%;
            }
        }
    }
    .wbbfl-content {
        font-family: $font-display;
        font-size: 16px;
        background: #fff;
        position: relative;
        z-index: 1;

        p {
            line-height: 1.4;
            margin-bottom: 20px;
        }
    }
    .wbbfl-section {
        margin: 0 auto 60px;

        @media(max-width: 768px) {
            margin: 0 auto 40px;
        }
    }

    .wbbfl-max-width-700 {
        max-width: 700px;    
    }
    .wbbfl-max-width-800 {
        max-width: 800px;    
    }

    .wbbfl-hide-mobile {
        @media(max-width: 767px) {
            display: none !important;
        }
    }
    .wbbfl-hide-desktop {
        display: none !important;

        @media(max-width: 767px) {
            display: block !important;
        }
    }

    .wbbfl-banner {
        width: 100%;
        height: auto;
        position: relative;

        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }

    .wbbfl-banner__txt {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;

        @media(max-width: 550px) {
            width: 100%;
            bottom: 20px;
        }

        span {
            display: block;
        }
    }

    .wbbfl-banner__txt1 {
        font-size: 18px;
        display: block;
    }
    .wbbfl-banner__txt2 {
        font-size: 24px;
        display: block;
        font-weight: 600;
        margin: 8px 0 0;
        letter-spacing: 1px;
    }

    .wbbfl-overview {
        background: rgba(255,255,255,0.3);
        z-index: 999999;
        display: block;
        position: relative;
    }

    .wbbfl-overview p:last-child {
        margin-bottom: 0;
    }

    .wbbfl-catbox {
        position: relative;
        font-family: $font-display;
        margin-bottom: 20px;

        .wbbfl-cat-over {
            position: absolute;
            top: 0;
            left: 0;
        }

        a {
            display: block;
            position: relative;

            &:hover {
                .wbbfl-cat-over {
                    display: none;
                }
            }
        }
    }

    .wbbfl-catbox__text {
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        font-size: 35px;
        font-weight: 500;
        letter-spacing: 1px;
        text-shadow: 0 1px 10px #231f20;
        color: #fff;
        line-height: 1.1;
        text-align: center;
        text-transform: uppercase;
    }
}
