.SO004 .so4-viewAll{
    text-align: center;
    margin: 30px;
    background: rgba(100, 177, 210, 0.49);
    padding: 10px;
}

.SO004 .so4-viewAll > a {
    padding: 10px;
    color: white;
    font-family: museo700;
    font-size: 17px;
}

.SO004 .cat-block1 {
    float: none;
}

.SO004 .cat-blocks img {
    display: none;
}

.SO004 .cat-blocks img:first-of-type {
display: block;
}
//filter

.SO004 .col.span-3.collapsible.mobile-collapsible .col-block{
    display: block !important;
    margin-bottom: 0px;
}
.SO004 .col.span-3.collapsible.mobile-collapsible .cat-title.col-title{
    display: none;
}

.SO004 .sidebar.sidebar-main .heading > ul{
   display: none;
}
.SO004 .sidebar.sidebar-main .heading span img{
    float: right;
    width: 7%;
    vertical-align: middle;
}
.SO004 .sidebar.sidebar-main .heading.so4-filterActive span img{
    transform: rotate(180deg);
     -ms-transform:rotate(180deg);
     -webkit-transform:rotate(180deg);
}


//press text
//.SO004 .press-text {
  //  margin: 10px;
//}
.SO004 .slide{
    padding: 20px;
}

//bottom buttons
.SO004 .column.main .category-cms{
    margin-bottom: 0px;
}
.SO004 .sidebar-main .heading {
    margin-bottom: 10px;
    margin-top: 10px;
}

.SO004 .sidebar-main .heading>span {
    padding: 15px 0 15px;
}

.SO004 .category-cms .boxes-layout.wrapper-max h2{
    display: none;
}

.SO004 .boxes-layout .widget .overlay-block-mobile {
    background: white;
    border-bottom: 1px solid #ebecee;
    text-align: left;
        padding: 0px 0px 0px;
}
.SO004 .boxes-layout .widget .overlay-block-mobile a{
    font-family: 'museo700';
    font-size: 16px;
    line-height: 16px;
    color: #7d8690;
    display: inline-block;
    width: 100%;
}

.SO004 .block-products-list .block-title strong{
    border: none;
}

.SO004 .boxes-layout .item {
    float: left !important;
    margin-bottom: 14px !important;
}

.SO004 .boxes-layout .widget .overlay-block-mobile {
    position: relative;
}

//bottom styling
.SO004 .your-moments-wrapper p:last-of-type{
    display: none;
}

//top banner
.SO004 .overlay-content.vtable {
    display: none
}

.SO004 .widget .overlay-block-mobile {
    background: rgba(17,17,17,.7) none repeat scroll 0 0;
    bottom: 0;
    height: 40px;
    line-height: 40px;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}


//furniture amend
.SO004.categorypath-furniture.category-furniture .col-block > li.item,
.SO004.categorypath-accessories.category-accessories .col-block > li.item{
    display: none;

}
