@import './variables';

.#{$id} {
    .product-ifc {
        margin-bottom: 10px;
        display: inline-block;
        text-transform: uppercase;
        padding: 10px 5px;
        text-decoration: none;
        width: 100%;
        background: #bcacd5;
        border: 1px solid #bcacd5;
        &:hover {
            background: white;
            border: 1px solid black;
        }
        .product-ifc__svg-container {
            display: none;
        }
        .product-ifc__copy {
            text-decoration: none;
            display: block;
            margin: 0 auto;
            width: 100%;
            text-align: center;
            color: black;
            text-transform: uppercase;
            font-size: 12px;
        }
        @media(min-width: 1024px) {
            padding: 0.7rem 1.4375rem;
            .product-book-appointment-link__svg-container {
                display: none;   
            }
            .product-ifc__copy {
                text-align: left;
                font-size: 14px;
                padding: 0px;
            }
        }
    }

    .product-book-appointment {
        a {
            background: transparent;
            padding: 0;
            font-size: 12px;
            text-decoration: underline;
            display: block;
            margin-top: 10px;
            text-align: left;
            text-transform: inherit;
            .product-book-appointment-link__label {
                text-decoration: underline;
            } 
            @media(min-width: 1024px) {
                font-size: 14px;
                svg {
                    display: none;
                }
            }
        }
    }
}
