/* RC010 */
@charset "UTF-8";

.RC010 .rc010-smallText {
    font-size: 11px;
    color: #696868;
    margin-top: 0px;
    padding-left: 32px;
}
/* Slick slider CSS plugin */

.slick-list,
.slick-slider,
.slick-track {
  position: relative;
  display: block;
}

.slick-loading .slick-slide,
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slider {
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: 0;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-list,
.slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  top: 0;
  left: 0;
}

.slick-track:after,
.slick-track:before {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.RC010 .sidebar-first {
  display: none;
}

.RC010 .course-search-internal {
  display: none;
}

.RC010 .sidebar-last {
  width: 100%;
  display: none;
}

.RC010 .main-content {
  width: 100%;
}

.RC010 .main-content h1 {
  border-bottom: none;
  margin-top: 20px;
  margin-bottom: 27px;
  font-weight: 700;
  font-size: 20px;
}

.RC010 .mod-infoGroup .course-info-section:first-child {
  width: 100%;
  float: left;
}

.RC010 .main-content-wrap {
  width: 100%;
}

.RC010 .RC010_course_information {
  width: 100%;
  float: left;
  margin-bottom: 40px;
}

.RC010 .RC010_course_information .booking_inner-wrap ul {
  margin: 0;
}

.RC010 .RC010_info_block  h3{
    text-align: center;
    padding: 10px 0;
    margin: 0;
    font-weight: 700;
    padding-left: 0px;
    padding-right: 00px;
    font-size: 16px;
}

.RC010 .RC010_info_block h3 > a {
    display: block;
    margin: 0 auto;
    width: 100%;
} 
  .RC010 .RC010_info_block h3 > a {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 3px;
    font-weight: normal;
    margin-top: 12px;
 
}

.RC010 .RC010_course_information .booking_inner-wrap > p {
  font-size: 14px;
}

.RC010 .RC010_course_information .booking_inner-wrap ul li {
  list-style: none;
  background: none;
  position: relative;
  padding-left: 35px;
  margin-bottom: 0;
}

.RC010 .RC010_why_us{
  display: none;
}

.RC010 .RC010_course_information .booking_inner-wrap ul li+li {
  margin-top: 20px;
}

.RC010 .RC010_course_information .booking_inner-wrap ul li.course_length::before,
.RC010 .RC010_course_information .booking_inner-wrap ul li.course_time::before,
.RC010 .RC010_course_information .booking_inner-wrap ul li.course_price::before {
  content: '';
  background-size: cover;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -12px;
}

.RC010 .RC010_course_information .booking_inner-wrap ul li.course_length::before {
  background-image: url(https://d30y9cdsu7xlg0.cloudfront.net/png/17392-200.png);
}

.RC010 .RC010_course_information .booking_inner-wrap ul li.course_time::before {
  background-image: url(https://d30y9cdsu7xlg0.cloudfront.net/png/404-200.png);
}

.RC010 .RC010_course_information .booking_inner-wrap ul li.course_price::before {
  content: '£';
  line-height: 24px;
  font-size: 26px;
  text-align: center;
}

.RC010 .RC010_red{
  color: red;
}

.RC010 .RC010_course_information strong {
  text-align: left;
  display: block;
  font-size: 13px;
  margin-top: 15px;
  padding-left: 16px;
}

.RC010 .RC010_course_information strong + div{
  text-align: left;
  font-size: 13px;
  padding-left: 16px;margin-top: 10px;
}

.RC010 .RC010_course_information strong + div a{
  text-decoration: underline;
}

.RC010 .RC010_course_information strong + div a:hover{
  text-decoration: none;
}

.RC010 .RC010_course_information strong + div + div{
  text-align: left;
  font-size: 13px;
  padding-left: 16px;margin-top: 10px;
}

.RC010 .RC010_course_information strong + div + div a{
  text-decoration: underline;
}

.RC010_extra_booking .trustpilot-widget{
  float: left;
    width: 100%;
    height: 48px;
    overflow: hidden;
    margin-bottom: 20px;
}

.RC010_extra_booking .trustpilot-widget iframe{

margin: 0 auto;
}


.RC010 .RC010_course_information strong + div + div a:hover{
  text-decoration: none;
}

.RC010 .RC010_course_information .booking_inner-wrap {
  border: 1px solid #eaeaea;
  padding: 25px;
  text-align: left;
  margin-top: 30px;
}

.RC010 .RC010_course_information .booking_inner-wrap a#RC032-findCourse {
  background: #cd121f;
  color: #FFF !important;
  font-size: 18px;
  padding: 7px 13px;
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.RC010 .RC010_course_information .booking_inner-wrap a:hover {
  text-decoration: none;
  background: #9e0e18;
}

.RC010 .RC010_course_information .view_all-btn {
  display: none;
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
}

.RC010 .RC010_course_information .view_all-btn:hover {
  text-decoration: none;
}

.RC010 .course-info-section {
  float: left;
  width: 100%;
  display: none;
}

.RC010 .RC010_course_slider {
  width: 100%;
  height: 300px;
  float: left;
  margin-bottom: 30px;
}

.RC010 .RC010_course_slider .slick-list,
.RC010 .RC010_course_slider .slick-track {
  height: 100%;
}

.RC010 .RC010_course_slider .slick-slide {
  background-size: cover;
  background-position: center;
  display: none;
  width: 100%;
  height: 100%;
}

.RC010 .RC010_course_slider .slick-slide:first-child {
  display: block;
}

.RC010 .RC010_course_slider .slick-slide:focus,
.RC010 .RC010_course_slider .slick-slide:active {
  outline: none;
}

.RC010 .RC010_course_slider.slick-initialized .slick-slide {
  display: block;
}

.RC010 .RC010_info_block {
  clear: both;
  width: 100%;
  background: #eaeaea;
  padding: 25px 20px 20px 20px;
}
.RC010 .mod-infoGroup .RC010_info_block:last-of-type{
  text-align: center;
}

.RC010 .RC010_info_block+.RC010_info_block {
  margin-top: 15px;
}

.RC010 .RC010_info_block h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}

.RC010 .RC010_info_block h2+p {
  margin-top: 20px;
}

.RC010 .RC010_info_block h2+.RC010_col_6 {
  margin-top: 20px;
}

.RC010 .RC010_info_block h2+.RC010_col_12 {
  margin-top: 20px;
}

.RC010 .RC010_info_block .RC010_col_6+.RC010_col_6 {
  margin-top: 10px;
}

.RC010 .RC010_info_block .RC010_col_12+.RC010_col_12 {
  margin-top: 10px;
}

.RC010 .RC010_info_block .RC010_col_6+p {
  clear: both;
  text-align: center;
  margin: 0;
  padding-top: 20px;
  font-style: italic;
}

.RC010 .RC010_info_block .RC010_col_12+p {
  clear: both;
  text-align: left;
  margin: 0;
  padding-top: 20px;
}

.RC010 .RC010_info_block .RC010_col_6+p+p {
  text-align: center;
  margin: 20px 0 0 0;
}

.RC010 .RC010_info_block .RC010_col_12+p+p {
  text-align: center;
  margin: 20px 0 0 0;
}

.RC010 .RC010_info_block ul {
  margin: 0;
}

.RC010 .RC010_info_block ul li {
  margin-bottom: 0;
  font-size: 14px;
}

.RC010 .RC010_info_block ul li+li {
  margin-top: 10px;
}

.RC010 .RC010_info_block ul li.RC010-no-bg {
  padding: 0;
  background: none;
}

.RC010 .RC010_info_block ul li.RC010-no-bg p {
  margin: 10px 0 0 20px;
  list-style-position: outside;
  padding: 0 0 0 15px;
  font-size: 14px;
  position: relative;
}

.RC010 .RC010_info_block ul li.RC010-no-bg p::before {
  position: absolute;
  content: '';
  background: red;
  width: 6px;
  height: 6px;
  top: 7px;
  left: 0;
  display: block;
  border-radius: 50%;
}

.RC010 .RC010_info_block ul li p+p {
  text-align: left;
  margin: 10px 0 0 20px;
}

.RC010 .RC010_intro_block {
  width: 100%;
  float: left;
}

.RC010 .RC010_intro_block p {
  font-size: 16px;
}

.RC010 .RC010_intro_block p a{
  text-decoration: underline;
}

.RC010 .RC010_intro_block p a:hover{
  text-decoration: none;
}

.RC010 .RC010_intro_block ul {
  margin-top: 30px;
  font-size: 16px;
}

.RC010 .RC010_qual {
  display: block;
  padding: 5px 0 5px 30px;
  position: relative;
  line-height: 19px;
  font-size: 14px;
}

.RC010 .RC010_qual .RC010_negativeComment {
  width: 15px;
  height: 2px;
  position: absolute;
  left: 5px;
  top: 50%;
  margin-top: -1px;
  background: #111;
}

.RC010 .RC010_positiveComment{
  position: absolute;
  left: 9px;
  top: 50%;
  margin-top: -8px;
}

.RC010 .RC010_positiveComment:after {
  content: '';
  display: block;
  width: 6px;
  height: 12px;
  border: solid #f00;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.RC010 .RC010_qual span.RC010_mobile_price {
  width: auto;
  height: auto;
  position: static;
  left: auto;
  top: auto;
  margin-top: 1px;
  background: none;
  vertical-align: top;
  display: inline-block;
  margin-left: 15px;
}

.RC010 .RC010_why_us .RC010_col_4 .RC010_qual{
  padding: 4px 0 4px 45px;
}


.RC010 .RC010_why_us .RC010_col_4 .RC010_qual img {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    top: 4px;
    margin-top: 0;
  }

.RC010 .RC010_qual+.RC010_qual {
  margin-top: 20px;
}

*+.RC010 .RC010_col_wrap {
  margin-top: 20px;
}

.RC010 .RC010_col_wrap.RC010_review_block {
  max-width: 600px;
  margin: 50px auto 0;
}

.RC010 .RC010_col_wrap.RC010_review_block .RC010_col_6+.RC010_col_6 {
  margin-top: 20px;
}

.RC010 .RC010_col_wrap.RC010_review_block .RC010_review {
  display: block;
}

.RC010 .RC010_col_wrap.RC010_review_block .RC010_review img {
  width: auto;
  display: block;
  margin: 0 auto;
}

.RC010 .RC010_col_wrap.RC010_review_block .RC010_review img+p {
  margin-top: 30px;
}

.RC010 .RC010_col_wrap.RC010_review_block .RC010_review a {
  display: inline-block;
  text-decoration: underline;
}

.RC010 .RC010_col_wrap.RC010_review_block .RC010_review a:hover {
  text-decoration: none;
}

*+.RC010 .RC010_col_wrap.RC010_review_block .RC010_review a {
  margin-top: 20px;
}

.RC010 .RC010_col_wrap.RC010_review_block .RC010_review .trustpilot-widget iframe {
  max-height: 335px;
}

.RC010 .RC010_why_us {
  padding: 0 10px 20px 10px;
}

.RC010 .RC010_why_us .RC010_col_4 {
  width: 100%;
  float: left;
}

.RC010 .RC010_why_us .RC010_col_4+.RC010_col_4 {
  margin-top: 20px;
}

.RC010 .RC010_why_us h2 {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.RC010 .RC010_cta {
  background: #cd121f;
  color: #FFF !important;
  font-size: 18px;
  padding: 7px 13px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.RC010 .RC010_cta:hover {
  text-decoration: none;
  background: #9e0e18;
}

.RC010 .RC010_snippet_block {
  background: white;
  margin-top: 15px;
  border: 1px solid #98192a;
}

.RC010 .RC010_other_courses {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
}

.RC010 .RC010_other_courses .RC010_course_name{
  text-align: left;
}

.RC010 .RC010_other_courses + .RC010_cta{
  margin-top: 40px;
}

.RC010 .RC010_other_courses h3 {
  margin-bottom: 40px;
text-align: center;
text-transform: uppercase;
font-size: 14px;
font-weight: 700;

}

.RC010 .RC010_course_name a {
  display: inline-block;
  text-decoration: underline;
  font-size: 14px;
  font-weight: 700;
}

.RC010 .RC010_course_name a:hover {
  text-decoration: none;
}

.RC010 .RC010_course_name p {
  display: block;
  margin: 0;
  font-size: 14px;
}

.RC010 .RC010_course_name a+p {
  margin-top: 5px;
}

.RC010 .RC010_course_name+.RC010_course_name {
  margin-top: 15px;
}

.RC010 .RC010_review_slider {
  float: left;
  width: 100%;
}

.RC010 .RC010_review_slider .RC010_review_slide {
  text-align: center;
}

.RC010 .RC010_review_slider .RC010_review_slide p {
  max-width: 520px;
  display: inline-block;
  margin-bottom: 5px;
  font-size: 14px;
}

.RC010 .RC010_review_slider .RC010_review_slide span {
  display: block;
  font-size: 14px;
  margin-top: 15px;
}

.RC010 .RC010_review_slider .slick-list,
.RC010 .RC010_review_slider .slick-track {
  height: 100%;
}

.RC010 .RC010_review_slider .slick-slide {
  background-size: cover;
  background-position: center;
  display: none;
  width: 100%;
  height: 100%;
  padding: 0 50px;
}

.RC010 .RC010_review_slider .slick-slide:first-child {
  display: block;
}

.RC010 .RC010_review_slider .slick-slide:focus,
.RC010 .RC010_review_slider .slick-slide:active {
  outline: none;
}

.RC010 .RC010_review_slider.slick-initialized .slick-slide {
  float: none;
  display: table-cell;
  vertical-align: middle;
}

.RC010 .slick-arrow {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -27px;
  height: 55px;
  font-size: 0;
  text-indent: -9999em;
  -webkit-appearance: none;
  border: none;
  padding: 0;
  background: rgba(205, 18, 31, 0.8);
  width: 40px;
  z-index: 2;
  cursor: pointer;
}

.RC010 .slick-arrow:focus {
  outline: none;
}

.RC010 .slick-arrow:hover {
  background: rgba(158, 14, 24, 0.8);
}

.RC010 .slick-arrow::before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
}

.RC010 .slick-arrow::before {
  border-width: 20px 20px 20px 0;
  border-color: transparent #ffffff transparent transparent;
}

.RC010 .slick-arrow.slick-next {
  left: auto;
  right: 0;
}

.RC010 .slick-arrow.slick-next::before {
  border-width: 20px 0 20px 20px;
  border-color: transparent transparent transparent #ffffff;
}

.RC010 .RC010_extra_booking {
  float: left;
  width: 100%;
  text-align: center;
  margin: 20px 0 30px;
}

.RC010 .RC010_extra_booking p {
 display: none;
}

.RC010 .RC010_extra_booking div+div {
  margin-top: 10px;
}

.RC010 .RC010_extra_booking a {
    text-decoration: underline;
    font-size: 14px;
    display: block;
    width: 239px;
    margin: 0 auto;
}
.RC010 .RC010_extra_booking a > img {
    padding: 20px;
}

.RC010 .RC010_extra_booking a.RC010_cta {
    margin-bottom: 20px;
    font-size: 20px;
    text-decoration: none;
    margin-top: 20px;
    padding: 13px;
}

.RC010 .RC010_extra_booking a:hover {
  text-decoration: none;
}

.RC010 .RC010_contact_details {
  text-align: center;
  margin-bottom: 0;
  clear: both;
  float: left;
  width: 100%;
}

.RC010 .RC010_contact_details+* {
  margin-top: 20px;
}

*+.RC010 .RC010_contact_details {
  margin-top: 15px;
}

.RC010 .RC010_mobile_book {
  padding: 0 10px;
  margin-top: 10px;
}

.RC010 .RC010_mobile_book .RC010_cta {
  float: right;
  margin-top: 4px;
}

.RC010 .RC010_mobile_book .RC010_qual {
  display: inline-block;
  padding-left:0;
}

.RC010 .RC010_mobile_book .RC010_qual img{
  width: 30px;
  display: inline-block;
}

@media (min-width: 720px) {
  .RC010 .RC010_mobile_book {
    display: none;
  }
  .RC010 .RC010_col_wrap.RC010_review_block .RC010_col_6 {
    width: 50%;
    padding-right: 20px;
    float: left;
  }
  .RC010 .RC010_col_wrap.RC010_review_block .RC010_col_6+.RC010_col_6 {
    padding-left: 20px;
    padding-right: 0;
  }
  .RC010 .RC010_col_wrap.RC010_review_block .RC010_col_6+.RC010_col_6 {
    margin-top: 0;
  }
  *+.RC010 .RC010_col_wrap .RC010_review a {
    margin-top: 20px;
  }
  .RC010 .RC010_col_wrap .trustpilot-widget iframe {
    max-height: 400px;
  }
  .RC010 .RC010_why_us {
    margin-top: 15px;
    padding: 25px 20px 20px 20px;
  }
  .RC010 .RC010_why_us .RC010_col_4 {
    width: 50%;
    padding-right: 15px;
  }
  .RC010 .RC010_why_us .RC010_col_4+.RC010_col_4 {
    margin-top: 0;
  }
  .RC010 .RC010_why_us .RC010_col_4+.RC010_col_4+.RC010_col_4 {
    margin-top: 20px;
  }
  .RC010 .RC010_why_us h2 {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
  }
  .RC010 .RC010_snippet_block {
    padding: 20px 0 30px;
  }
  .RC010 .RC010_course_information {
    width: 50%;
    padding-left: 40px;
    margin-top: -54px;
    text-align: right;
  }
  .RC010 .RC010_intro_block {
    width: 50%;
    float: left;
    padding-top: 14px;
  }
  .RC010 .RC010_intro_block p {
    font-size: 16px;
  }
  .RC010 .RC010_intro_block ul {
    margin-top: 30px;
    font-size: 16px;
  }
  .RC010 .RC010_course_information .view_all-btn {
    display: block;
  }
  .RC010 .RC010_review_slider .RC010_review_slide p {
    font-size: 16px;
  }
  .RC010 .RC010_review_slider .RC010_review_slide span {
    font-size: 16px;
  }
  .RC010 .RC010_other_courses {
    padding: 0 60px;
    margin: 0;
  }
  
  .RC010 .RC010_info_block h3 > a {
    width: 20%;
  }
}

@media (min-width: 960px) {
  .RC010 .RC010_extra_booking a {
    width: 200px;
  }
  .RC010 .RC010_extra_booking a > img{
    padding: 10px;
   }
  
  .RC010 .RC010_intro_block {
    width: 60%;
  }
  .RC010 .RC010_course_name p {
    display: inline-block;
  }
  .RC010 .RC010_course_name a+p {
    display: block;
  }
  .RC010 .RC010_course_name+.RC010_course_name {
    margin-top: 20px;
  }
  .RC010 .RC010_why_us {
    margin-top: 15px;
    padding: 25px 20px 20px 20px;
  }
  .RC010 .RC010_why_us .RC010_col_4 {
    width: 33.3333%;
    float: left;
  }
  .RC010 .RC010_why_us .RC010_col_4+.RC010_col_4 {
    margin-top: 0;
  }
  .RC010 .RC010_why_us .RC010_col_4+.RC010_col_4+.RC010_col_4 {
    margin-top: 0;
  }
  .RC010 .RC010_why_us .RC010_col_4 .RC010_qual {
    display: inline-block;
    max-width: none;
    padding: 4px 0 4px 45px;
    line-height: 22px;
    vertical-align: top;
  }
  .RC010 .RC010_why_us .RC010_col_4 .RC010_qual img {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 0;
  }
  .RC010 .RC010_why_us h2 {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
  }
  .RC010 .RC010_course_information {
    width: 40%;
    padding-left: 10%;
    margin-top: -54px;
    text-align: right;
  }
  .RC010 .RC010_col_6 {
    width: 50%;
    padding-right: 20px;
    float: left;
  }
  .RC010 .RC010_col_6+.RC010_col_6 {
    padding-left: 20px;
    padding-right: 0;
  }
  .RC010 .RC010_info_block h2+.RC010_col_6+.RC010_col_6 {
    margin-top: 20px;
  }
  .RC010 .RC010_info_block .RC010_col_6+.RC010_col_6 {
    margin-top: 0;
  }
  
  .RC010 .RC010_info_block h2+.RC010_col_12+.RC010_col_12 {
    margin-top: 20px;
  }
  .RC010 .RC010_info_block .RC010_col_12+.RC010_col_12 {
    margin-top: 0;
  }
  .RC010 .RC010_qual {
    display: inline-block;
    max-width: 50%;
  }
  .RC010 .RC010_qual+.RC010_qual {
    margin-top: 0;
    margin-left: 20px;
    vertical-align: middle;
  }
  .RC010 .RC010_intro_block .RC010_qual {
    display: inline-block;
    max-width: 50%;
    padding: 4px 0 4px 30px;
    line-height: 22px;
    vertical-align: top;
  }
  .RC010 .RC010_intro_block .RC010_qual+.RC010_qual {
    margin-top: 0;
    margin-left: 20px;
  }
  
  .RC010 .RC010_info_block h3{
    padding-left: 50px;
    padding-right: 50px;
  }
}


/* RC032 */
.RC032 {
  &.RC010 {
    .rc010-smallText {
      margin-bottom: 10px;
    }
    .RC010_course_information {
      strong {
        text-align: left;
        padding-left: 0px;
      }
    }

    /** Star Reviews **/
    .RC010_review_slide {
      span {
        margin-bottom: 10px;
      }

      .star-1, .star-2, .star-3, .star-4, .star-5 {
        background-color: #007F4E;
        display: inline-block;
        line-height: 1;
        padding: 3px;
        border-radius: 3px;
        margin: 0 3px 0 0;
    
        img.star-image {
          width: 15px;
          height: auto;
          vertical-align: middle;
          border: 0;
        }
      }
    }
  }
  .RC032-learnAndShareWrapper {
    display: inline-block;
    border: 1px solid  #E7E7E7;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
    position: relative;
    width: 100%;
    //background-color: lightblue;

    .RC032-learnAndShareImgContainer {
      height: 20vw;
      width: 33%;

      #RC032-learnAndShare__img {
        display: inline-block;
        content: '';
        width: 100%;
        height: 100%;
        background-image: url('//useruploads.visualwebsiteoptimizer.com/useruploads/286844/images/1dc97ab93eb8dd2408cf2c557f625bcf_red.cro.237_i_can_save_a_life_-_web_image.jpg');
        background-repeat: no-repeat;
        position: relative;
        background-size: 100%;
        background-size: cover;
        background-position: center;
      }
    }

    a#RC032-learnAndShare__link {
      width: 65%;
      display: inline-block;
      font-size: 0.9em;
      font-weight: 600;
      color: #C6111D;
      position: absolute;
      top: 35%;
      right: 0;
    }
  }

  .booking_inner-wrap {
    ul {
      margin-bottom: 10px;
    }
    /** Sticky Nav **/
    &.RC032-searchForCourse__sticky-nav{
      position: fixed;
      background-color: #FFF;
      bottom: 0;
      left: 0;
      z-index: 999;
      width: 100%;
      margin: auto;
      text-align: center;
      padding-top: 0;
      padding-bottom: 0;

      p {
        font-size: 0.7em;
      }

      .RC032-searchForCourse, ul, .rc010-smallText, .RC032-changeDateRange, .form-daterange {
        display: none;
      }
      
      .form-item {
        width: 60%;
        margin: auto;
        margin-top: -30px;
      }
    }
    .form-daterange {
      width: 100%;
    }
    .js-datepicker {
      width: 100%;
    }

    #main_0_contentlastitem_0_TownOrPostCodeFormField_Button_DoSearch {
      display: none;
    }

    .RC032-searchForCourse {
      font-weight: 500;

      h2 {
        font-weight: 500;
        font-size: 1.4em;
      }
      #RC032-courseTitle {
        font-weight: 700;
        font-size: 1.3em;
      }

      .form-button-inline {
        top: -10px;
      }
    }

    .RC032-changeDateRange {
      #RC032-changeDateRange__link {
        color: #98192a;
        float: right;
      }
    }
  }
  .RC032-relatedCourses {
    margin-top: 5px;
    font-size: 0.85em;

    .RC032-relatedCourses__link {
      text-decoration: underline;
      margin-left: 2px;
    }
  }

  .RC032-firstBlock {
      margin-bottom: -30px;
      text-align: left !important;
  }

  /** Accordion **/
  .RC032-infoBlock__panel {
    margin-top: 20px;
  }

  /** New block for 'Why Train with' **/
  .RC032-whyTrainWrapper {
    margin-top: 20px;
    h2 {
      color: #000;
      font-size: 0.9em;
      font-weight: 600;
      margin-left: 10px;
    }
    .RC032-whyTrain__content {
      margin-top: 10px;
    }
  }

  /** One Liner **/
  .RC032-oneLiner {
    background-color: #FFF;
    h3 {
      color: #000;
      font-weight: 300;
    }
    a {
      display: none;
    }
    .RC010_mobile_book {
      display: none;
    }
  }

  /** Related Courses **/ 
  .RC032-relatedCourses__link {
    margin: 10px;
    text-align: center;

    a {
      text-decoration: underline;
      font-size: 0.9em;
    }
  }

  .RC032-allFirstAidCourses {
    margin-top: 5px;
    text-align: right;

    .RC032-allFirstAidCourses__link {
      text-decoration: underline;
      font-size: 0.9em;
    }
  }

  i.RC032-blockTitle {
    border: solid #4D4D4D;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 7px;
    position: absolute;
    right: 40px;
    
    &.down {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
    &.up {
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
      margin-top: 5px;
    }
  }

  .RC032-lightBox {
    display: none;
    border: 1px solid;
    border-color: #E0E0E0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    padding-bottom: 25px;
    text-align: left;
    position: fixed;
    top: 15%;
    left: 7px;
    right: 7px;
    background-color: #FFF;
    height: fit-content;
    z-index: 999;
    -webkit-box-shadow: 3px 10px 18px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 10px 18px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 10px 18px 0px rgba(0,0,0,0.75);

    h3 {
      text-align: center;
      font-weight: 600;
      font-size: 1.07em; 
    }
    .RC010_course_name {
      padding-left: 10px;
      padding-right: 10px;
    }

    span#RC032-lightBox__close {
      position: absolute;
      top: 10px;
      right: 10px;
      display: inline-block;
      content: '';
      width: 20px;
      height: 20px;
      background-image: url('//useruploads.visualwebsiteoptimizer.com/useruploads/286844/images/f20f67635e1f39f650344f2857c091c6_close-button_(1).png');
      background-repeat: no-repeat;
      
      background-size: 100%;
    }
  }
/** Course Video **/ 
  .RC032-courseVideo {
    margin-bottom: 20px;
    clear: both;
  
    iframe {
      display: block;
      width: 100%;
      height: 300px;   
    }
  }

  a.RC010_cta {
    display: none !important;
  }
}