@import './variables';

.#{$id} {

    .BD010-nav {
        background-color: #1C1C1C;
        p, a {
            color: #ffffff !important;
            transition: ease-in-out color .2s;
            line-height: 22px;
        }

        a:hover {
            // color: #f9f9f9 !important;
            color: lighten(#00AFDB, 30) !important;
        }

        .BD-menu-image {
            padding: 10px 20px;
            background-color: #ffffff;
            min-width: 120px;
            span {
                min-height: 125px;
                width: auto;
                display: block;
                background-image: url('https://images.ctfassets.net/b0qgo9rl751g/4mCoXjfmGDXGkUq0FsoD1H/4437baf775edfc55a018fa89c469e1ed/castlegate_5x.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;

                &.BD-punk {
                  min-height: 180px;
                    background-image: url('https://images.ctfassets.net/b0qgo9rl751g/5G1gRCobVwaqLyEOqskSZR/bc08a8a3abfcce7c00c83832ac83f539/can_brewdog-punk.png');
                }
            }

            a {
                display: block;
                cursor: pointer;
            }

            h4.heading {
                display: block;
                font-size: 1.5em;
                margin-top: 10px;
                color: #000;
                text-align: center;
            }
        }
    }


}
