.AC026 {
  .panels-flexible-region.panels-flexible-region-new-center_.panels-flexible-region-first.panels-flexible-region-last {
    #search-bar-container {
      // Search bar background
      #search-bar-header {
        background-repeat: #1361A0;
      } // Center header text 
      #search-bar-header-text {
        text-align: center;
      } // Style search module container
      #search-bar-body {
        background-color: #3876B4;
      } // Hide form fields, apart from location
      #search-bar-form {
        .col-lg-4.col-md-4.col-sm-6:not(:nth-child(5)) {
          display: none;
        } // Style location label
        .col-lg-4.col-md-4.col-sm-6:nth-child(5) {
          float: none;
          margin: auto;
          width: 53%;
          >.input-label {
            color: #FFFFFF;
            font-size: 20px;
          } // Style cross icon
          .form-control-clear.fa.fa-times-circle.form-control-feedback {
            top: 38px
          }
          #input-location {
            border: 1px solid #B4B4B4;
          } // Style Location Error
          #input-location.AC026-Error {
            background-color: #FFF2F2 !important;
            &::placeholder {
              color: #D95959 !important;
            }
          } // Hide search results when pre-defined location has been chosen
          .autosuggest.single-instance-popup.AC026-Hide {
            display: none !important;
          }
        }
      } // Change search box colour
      // Add border around search box
      #search-bar-body {
        // background-color: #FFFFFF;
        // border: 1px solid #DBDBDB; // Style Added Header
        .AC026-Header {
          text-align: center;
          color: #FFFFFF;
        }
      }
    }
  } // Style added buttons
  .AC026-Wrap {
    clear: both;
    text-align: center;
    margin: 10px auto 0 auto; // Style location buttons
    // Push down lower rows
    .AC026-Upper-Options {
      margin-bottom: 5px;
    }
    .AC026-Location {
      background-color: #FFFFFF;
      color: #000000;
      display: inline-block;
      width: calc(25% - 10px);
      padding: 10px 0;
      cursor: pointer;
      &:hover {
        color: #888;
        background-color: #F7F7F7;
      }
    } // Push down profile buttons
    .AC026-Location-Button-Wrap {
      margin: 0 auto 40px auto;
      width: 53%;
    }
    .AC026-Profile-Button-Wrap {
      // Style profile buttons
      margin: auto;
      width: 53%;
      .AC026-Profile-Button {
        background-color: #004762;
        border: solid 1px #004762;
        color: #FFFFFF;
        display: inline-block;
        padding: 10px 50px;
        width: calc(50% - 38px);
        position: relative;
        cursor: pointer; // Create Arrow
        &::after {
          content: '';
          display: inline-block;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 8px 0 8px 13.9px;
          border-color: transparent transparent transparent #ffffff;
          position: absolute;
          top: 15px;
          right: 20px;
        }
        &:hover {
          background-color: #003F57;
          border: solid 1px #003F57;
          &::after {
            border-color: transparent transparent transparent #ffffff;
          }
        }
      }
      .AC026-Candidate {
        margin-right: 20px;
      }
      .AC026-Employer {
        margin-left: 20px;
      }
    }
  }
}