.NH045 {
  .search-content .container .right {
    .result-item {
      position: relative;
      padding-left: 30px;
      .NH045-visited-bar {
        position: absolute;
        left: 0;
        top: 0;
        background-color: #eb5f21;
        border-radius: 4px 0 0 4px;
        color: #fff;
        bottom: 0;
        text-align: center;
        width: 22px;
        z-index: 0;
        div {
          transform: rotate(-90deg);
          transform-origin: 85px 81px;
          p {
            width: 100px;
            margin: 0;
            font-size: 12px;
            letter-spacing: 1px;
          }
        }
      }
      > h2, > .result-content {
        position: relative;
        z-index: 1;
      }
      @media only screen and (max-width: 480px) {
        .NH045-visited-bar {
          top: 3px;
          bottom: auto;
          left: 3px;
          width: 140px;
          border-radius: 4px;
          > div {
            transform: rotate(0deg);
            transform-origin: 0%;
            text-align: center;
            p {
              display: block;
              width: 100%;
              margin: 2px 0;
              line-height: 16px;
            }
          }
        }
      }
    }
  }
}