@import './variables';
@import './lib/components/mobileBasket/mobileBasket.scss';
@import './lib//components/applicationStyles/applicationStyle.scss';
@import './lib/components/customisationBoxes/customisationBox.scss';
@import './lib/components/logoLocation/location.scss';

.#{$id} {
  #show_more_custs {
    display: none;
  }
  #buttons {
    display: block !important;
  }
  #check_artwork{
    display: none !important;
  }
  #notes_comments {
    p {
      color: #a5a5a5;
    }
  }
  #buttons input:nth-of-type(1) {
    font-size: 20px;
    padding: 17px 5% 15px 5%;
  }
  #text_entry {
    padding: 20px;
    text-align: center;
    width: auto;
    h2{
      text-align: left;
    }
    .text, #text_preview{
      @media(min-width: 767px){
        width: 28%;
      }
    }
    #text_preview {
      img {
        margin: 0px;
      }
    }
    #text_style,
    #text_preview{
      float: left;
      text-align: left;
    }

    #customisation_right {
      p.heading {
        &:nth-child(2) {
          font-size: 20px;
        }
      }
    }
  }
}
