$id: 'HS024';

.#{$id} {
  .basket__cta-form--paypal{
    text-align: center;
  }
  .page-title {
    @media(min-width:1024px){
      margin-bottom: 0px;
    }
  }
  .product-summary__edit-button {
    font-size: 1.4rem;
    background: transparent;
    border: 0;
    color: inherit;
    display: block;
    top: 38px;
    position: absolute;
    bottom: 0;
    left: 0;
    line-height: 1.8rem;
    margin: 0;
    padding: 5px 0;
    text-decoration: none;
  }
  .basket-table{
    @media(min-width:767px){
      width: 64%;
      display: inline-table;
      margin-right: 10px;
    }
    @media(min-width:850px){
      margin-right: 20px;
    }
  }
  .#{$id}-continue_link {
    position: relative;
    padding-left: 15px;
    a {
      color: black;
      text-decoration: underline;
      display: block;
      margin-bottom: 10px;
    }
    &::before{
      content: '';
      position: absolute;
      left: 0;
      background-size: contain;
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAjVBMVEUAAABFRUxJSUlAQEAzMzNISEhLS0tJSUlISElISElKSkpJSUlISElHR0pISEpISElISElJSUlJSUlJSUlISElISElISElVVVVAQEBERE1GRkZISElISEpJSUlISEhISElJSUlISElGRkZVVVVISEpISElJSUlISElISElNTU1ISElHR0lJSUlISEkAAAA9j9oUAAAALXRSTlMAJU0EBU4iV/7bHyPfT7Tjq3BeB7jipAMIHiG53uEg4LrdHQm73By8vQq1nTHDR6kLAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB+IJBwwYEn8nWpQAAADlSURBVFjD7czXFoIwEEXR2BAEewWxYG/z/79ncCWCmsBMeDT3KWXtw5idnZ1dbrV6g46aLUce2y54Har3A3C74twDgIBY8PscDcRlCOTCy8NI3MYTasGZpmI2l/cFsfDtqYVf/y6EGB8pPC8s09cYUYhWKo8v6Dy2sNZ6XGG90XtModjzwra4UOZlIdmpfztBmS8uYHxRAecZ2x/UhTDGeV0B79UFipeF4yl72SUU/1ugel445wt0/1k4Hek+XzDzWcHUy4LnmXpeuICYmc8Kpl4WzD1j1xu49wqe71GrxO3s7P5pT3tcPJaOLUqCAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE4LTA5LTA3VDEyOjI0OjE4KzAyOjAwGRjXkwAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxOC0wOS0wN1QxMjoyNDoxOCswMjowMGhFby8AAAAZdEVYdFNvZnR3YXJlAHd3dy5pbmtzY2FwZS5vcmeb7jwaAAAAAElFTkSuQmCC');
      height: 12px;
      width: 12px;
      background-repeat: no-repeat;
      transform: rotate(90deg) translateX(-50%);
      top: 50%;
    }
  }
  .product-summary__discount-description {
    text-align: center;
    border: 1px solid #a41824;
  }
  .basket__button-row{
   display: none;
  }
  #lower-button-group{
    display: block;
    text-align: center;
  }
  .basket-table__header{
    display: none;
  }
  tbody{
    display: table-caption;
    border-top: 1px solid #ccc;
  }
  /* Page Layout */
  .product-summary{
    display: block;
    .product-summary__left {
      width: 150px;
      padding-bottom: 0px;
      @media (min-width:767px) {
        width: 220px;
        margin-top: 10px;
      }
    }
    .product-summary__center{
      width: 100%;
      @media(min-width:1024px){
        width: 40%;
        margin-top: 20px;
      }
    }
    .product-summary__left, 
    .product-summary__center {
      float: left;
      padding-top: 0;
      padding-bottom: 10px;
    }
    .product-summary__right{
      float: right;
      position: relative;
      padding-right: 0;
      strong{
        font-size: 15px;
      }
    }
    .product-summary__remove-form{
      right: 0;
      bottom: -20px;
      cursor: pointer;
    }
    .#{$id}-stock{
      float: right;
      color: #0aab0a;
      font-size: 14px;
      @media(min-width:1024px){
        float: left;
      }
    }
    .product-summary__remove-button{
      display: block;
    }
    .product-summary__ring-size {
      display: inline-block;
      margin: 0;
      @media(min-width:767px){
        display: block;
      }
    }
    .product-summary__description {
      width: 100%;
      font-size: 15px;
      margin-bottom: 5px;
    }
    &.#{$id}-giftwrap{
      display: none;
      float: left;
      position: relative;
      text-align: center;
      margin-bottom: 10px;
      border: 1px solid #e6e5e5;
      margin-top: 10px;
      padding-bottom: 10px;
      padding-top: 10px;
      .productImageLink,
      .product-summary__left{
        display: none;
        padding: 0;
      }
      .product-summary__definition{
        margin-bottom: 0px;
      }
      .product-summary__definition-term{
        text-align: left;
        padding: 10px;
        margin-bottom: 0px;
      }
      .product-summary__edit-button{
        padding-top: 0px;
        right: 0;
        width: 100px;
        float: right;
        left: auto;
        bottom: 16px;
        @media(min-width:1024px){
          right: auto;
          left: 0;
          bottom: -4px;
        }
      }
      .product-summary__right{
        padding: 10px;
        padding-bottom: 0px;
        strong{
          display: none;
        }
        .product-summary__remove-form{
          bottom: -13px;
          right: 3px;
        }
        @media(min-width: 1024px){
          position: absolute;
          right: 0;
        }
      }
      .product-summary__button-wrapper{
        top: 24px;
        @media(min-width:1024px){
          top: 27px;
        }
      }
      .product-summary__center{
        padding: 0px;
        width: 100%;
        @media(min-width:1024px){
          margin-bottom: 20px;
        }
      }
      .product-summary__content-wrapper{
        .product-summary__description{
          margin-left: 10px;
          text-align: left;
        }
        p{
          margin-top: 0px;
          padding: 10px;
          padding-top: 5px;
          padding-bottom: 0;
          text-align: left;
          margin-bottom: 20px;
        }
        a{
          width: 87%;
          margin: 0 auto;
          font-size: 12px;
        }
      }
      &.#{$id}-giftWrap_active{
        display: block;
      }
    }
    @media(min-width:767px){
      display: inline-block;
      width: 100%;
    }
    &.offer{
      .product-summary__left{
        width: auto;
      }
    }
  }
  .#{$id}-underBasket_links{
    .#{$id}-link{
      padding: 5px;
      margin-top: 5px;
      text-decoration: underline;
      cursor: pointer;
    }
    .#{$id}-continue{
      float: left;
      a{
        color: black;
      }
    }
    .#{$id}-giftWrap{
      float: left;
      padding-left: 30px;
      position: relative;
      &::before{
        content: '';
        height: 25px;
        position: absolute;
        left: 0;
        width: 25px;
        background-image: url('https://www.ernestjones.co.uk/images/basket/options/gift/giftbox.svg');
        background-size: contain;
        background-repeat: no-repeat;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  /* Order summary */
  .#{$id}-summaryBox{
    background: #f8f8f9;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    .#{$id}-subtotal,
    .#{$id}-delivery,
    .#{$id}-delivery_Date,
    .#{$id}-promoCode,
    .#{$id}-giftWrapping{
      span{
        float: right;
      }
    }
    .#{$id}-promoCode{
      display: none;
      &.#{$id}-hasPromo{
        display: block;
      }
    }
    .#{$id}-giftWrapping{
      display: none;
      &.#{$id}-giftWrappingPrice_show{
        display: block;
      }
    }
    .basket__messages-container {
      float: none;
      display: none;
      max-width: 100%;
      .message-list__item{
        display: none;
      }
    }
    .order-summary{
      .basket__promo-code {
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        margin-bottom: 10px;
        margin-top: 10px;
        button{
          background-color: #a41824;
          border: 0;
          color: white;
          font-size: 14px;
        }
        .promo-code-input{
          border: 0px;
        }
        .promo-code-input__input>input{
          font-size: 12px;
        }
        .promo-code-input.fs-hide{
          border-bottom: 0px;
        }
      }
      .order-summary__row{
        display: none;
      }
      .order-summary__row__divider,
      .promo-code-input__remove-button>button{
        border: 0px;
      }
      @media(min-width:1024px){
        width: 100%;
        .accordion{
          width: 100%;
        }
      }
    }
    .message-list__item{
      @media(min-width:1024px){
        margin: 0;
      }
    }
    .basket__cta-form{
      @media(min-width:1024px){
       text-align: center;
      }
    }
    #js-ifcBuyButton {
      background: black;
      color: white;
      font-size: 12px;
      border: 0;
      margin-bottom: 15px;
    }
    @media(min-width:767px){
      width: 30%;
      display: inline-block;
      vertical-align: top;
      margin-top: 0px;
    }
    @media(min-width:1200px){
      width: 362px;
    }
  }
  /* card types */
  .#{$id}-cardPayment_wrap{
    text-align: center;
    .#{$id}-card-type{
      display: inline-block;
      height: 40px;
      width: 15%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      margin: 5px;
      @media(min-width: 1024px) {
        width: 10%;
      }
    }
  }
  /* Finance box */
  #ifcPaymentContainer {
    background-image: none;
    border: 1px solid #a41824;
    padding: 10px;
    position: relative;
    padding-bottom: 60px;
    #ifcPaymentPlan{
      margin-top: 0px;
      caption{
        top: 0;
        font-size: 14px;
        p{
          margin: 0;
          padding-left: 41px;
          text-align: left;
          display: inline-block;
          vertical-align: middle;
          position: relative;
          @media(min-width: 1024px){
            margin-top: 1px;
          }
        }
        span{
          font-weight: bold;
          vertical-align: middle;
          font-size: 22px;
          color: #444444;
          display: inline-block;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }

        @media(min-width:1024px){
          position: absolute;
          top: 2px;
          font-size: 15px;
          .ifc-btn-remove{
            background: #444;
            padding-left: 0;
            color: white;
            border: 1px solid #444;
            margin-bottom: 0;
          }
        }
      }
      thead {
        top: 60px;
        @media(min-width:767px){
          width: 100%;
          position: absolute;
          tr{
            width: 80%;
            float: left;
            th{
              float: left;
              clear: left;
            }
          }
        }
        @media(min-width: 1024px){
          top: 17px;
          border-top: 1px solid #a41824;
          width: 78%;
          padding-top: 10px;
          margin-top: 40px;
          th{
            font-size: 14px;
          }

        }
      }
      tbody{
        margin-top: 60px;
        border: 0px;
        @media(min-width:767px){
          width: 100%;
          float: none;
          tr{
            width: 60%;
            float: right;
          }
        }
        @media(min-width: 1024px){
          width: 70%;
          margin-top: 58px;
          td{
            float: left;
            clear: left;
            font-size: 14px;
          }
        }
      }
      .editRemoveIFC{
        position: absolute;
        width: 100%;
        bottom: -27px;
        left: 0;
        input{
          width: 49%;
          display: inline-block;
          padding: 7px 0;
          cursor: pointer;
        }
        @media(min-width: 767px){
          width: 16%;
          top: 28%;
          left: auto;
          right: 9px;
          input{
            width: 100%;
            display: block;
            margin-bottom: 5px;
          }
        }
        @media(min-width:1024px){
          top: 35%;
        }
      }
      tfoot{
        font-size: 15px;
        @media(min-width: 767px){
          text-align: right;
          border-top: 1px solid #a41824;
          margin-top: 20px;
          margin-right: 30px;
          tr{
            padding-top: 20px;
            th,td{
              padding: 0;
              padding-right: 10px;
              padding-top: 10px;
            }
            td{
              &:nth-child(2){
                float: right;
              }
            }
          }
        }
        @media(min-width:1024px){
          display: block;
          margin-top: 0;
          width: 80%;
          tr{
            width: 32%;
            float: left;
            padding-top: 0px;
            font-size: 14px;
            td{
              &:nth-child(2){
              float: none;
              }
            }
          }
        }
      }
      .ifc-btn-remove {
        background: #444;
        padding-left: 0;
        color: white;
        border: 1px solid #444;
      }
      @media(min-width:767px){
        width: 100%;
        margin-left: 10px;
      }
    }
    @media (min-width: 767px) {
      padding-bottom: 20px;
    }
  }
  .cta--basket{
    margin-top: 20px;
    margin-left: 0px;
  }
  .cta--basket.cta--secondary{
    background: black;
    color: white;
    border: 0px;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
  }
  /* Continue message */
  .#{$id}-choosePayment{
    text-align: center;
    /* width: 60%; */
    border: 2px solid #a41824;
    padding: 5px;
    margin: 0 auto;
    @media (min-width: 767px) {
      width: 60%;
    }
  }
  /*Finance steps*/
  /*Finance steps*/
  .#{$id}-steps_bar{
    margin-top: 10px;
    text-align: center;
    .#{$id}-finance_Step{
      display: inline-block;
      text-align: center;
      vertical-align: top;
      margin-left: 12px;
      position: relative;
      width: 15%;
      span{
        width: 20px;
        display: block;
        height: 20px;
        line-height: 22px;
        text-align: center;
        font-size: 16px;
        padding: 5px;
        border-radius: 30px;
        margin: 0 auto;
        border: 1px solid #ccc;
        color: #9c9c9c;
        @media(min-width:767px){
          width: 30px;
          height: 30px;
          font-size: 20px;
          line-height: 31px;
          margin: 0 auto;
        }
      }
      p{
        font-size: 12px;
      }
      &:first-child{
        span{
          border: 1px solid #a41824;
          background: #a41824;
          color: white;
        }
        p{
          text-transform: uppercase;
          font-weight: bold;
        }
      }
      @media(min-width:400px){
        margin-left: 5px;
        margin-right: 5px;
      }
      &:last-child{
        &::after{
          display: none;
        }
      }
      &::after{
        @media(min-width: 767px) {
          content: '';
          background-image: url('https://service.maxymiser.net/cm/images-us/1/1/2/5D55F30DFE759F1AA4E6E97AF3E0D9A1683AB07D2B827E158FCA46AA49EA29CE/ernestjones-co-uk/EJ024---Basket-Iteration/e95e88c8e2b6429da59a8b6fa95ece9e.png');
          height: 20px;
          width: 22px;
          display: block;
          position: absolute;
          top: 25px;
          left: 113px;
          transform: translate(-50%,-50%);
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
        }
        @media(min-width: 1024px){
          left: 100%;
        }
      }
    }
  }
  
  &.#{$id}v3 {
    .page-title{
      display: none;
    }
  }
  &.#{$id}v4 {
    #lower-button-group{
      .basket__cta-form {
        display: block;
          .cta--basket{
            &:first-of-type{
            background: #72bd4b;
            border: 1px solid #72bd4b;
          }
        }
      }
    }
  }
}