@mixin bp-from {
    @media (min-width: $bp-from) {
        @content;
    }
}

@mixin bp-to {
    @media (max-width: $bp) {
        @content;
    }
}

@mixin strip-styling {
    background-color: $color-blue;
    color: white;
    padding: 6px $x-padding;
}