.TP009 .row .prod .plp_add_to_cart_form .tpQ_button {
    right: 155px;
}


.TP009.feature-design .list_view #products .prod .tpPlpProductPanelComponent .plp_add_to_cart_form .tpQ_input{
   float:left;
}

.TP009.feature-design .list_view #products .prod .tpPlpProductPanelComponent .plp_add_to_cart_form .tpQ_button input{
    background-image: none !important;
    background-color: #f6b112 !important;
    font-weight: bold !important;
    font-size: 15px;
    border: 1px solid #f6b112!important;
}

.TP009 .row .prod .plp_add_to_cart_form .ccButton {
    float: right;
    right: 0px;
}

.TP009.feature-design .list_view #products .prod .tpPlpProductPanelComponent .plp_add_to_cart_form .ccButton input{
    background: none;
    background-image: none !important;
    background-color: transparent !important;
    box-shadow: none;
    border: 0px solid !important;
    text-decoration: underline;
    width: 128px !important;
}

.TP009.feature-design .list_view #products .row .prod .prod_img {
    float: left;
}

.TP009.feature-design .list_view #products .prod .variant_select {
    right: 0px !important;
    position: relative !important;
    left: 0px !important;
    top: 20px !important;
    width: 56% !important;
    display: inline-block;
    float: right !important;
}

.TP009.feature-design #products .prod .variant_select {
    right: 0px !important;
    position: relative !important;
    left: 0px !important;
    top: 20px !important;
    width: 56% !important;
    display: inline-block;
    float: right !important;
}

.TP009.feature-design .list_view #products .prod .tpPlpProductPanelComponent .plp_add_to_cart_form .tpQ_input.tp9-qty {
    top: -8px;
    text-align: center;
}

.TP009 .tp9-deliveryMessage{
    position: absolute;
    bottom: -7px;
    right: 224px;
    font-weight: bold;
    font-size: 13px;
}

.TP009.feature-design .list_view #products .row .prod {
    min-height: 191px!important;
}

.TP009.feature-design .list_view #products .prod .plp_add_to_cart_form span.change-postcode {
    position: absolute;
    right: 0px;
    margin-top: 0px;
    bottom: -18px;
}

.TP009.feature-design .list_view #products .row .prod .prod_info h4 .product_code {
  display: block;
}

.TP009.feature-design .list_view #products .row .prod .prod_info h4.bold {
  max-width: 406px !important;
}
.TP009.feature-design .list_view #products .row .prod .prod_info h4.bold a{
  max-width: 406px !important;
}
.TP009 .yCmsComponent.logInForTradePricesLink{
  text-decoration: underline;
}
.TP009 .yCmsComponent.logInForTradePricesLink a{
  margin-top: 0px !important;
  font-size: 13px;
}

.TP009 .grid_view .tp9-deliveryMessage{
  display:none;
}
