$id: "--ID--";

$font-size-xs: 14px;
$font-size-s: 16px;
$font-size-m: 24px;
$font-size-l: 40px;

$spacing-xs: 12px;
$spacing-s: 15px;
$spacing-m: 25px;
$spacing-l: 40px;
$spacing-xl: 80px;

$max-site-width: 75rem;

$color-black: #000000;
$color-grey: #d1d1d1;
$color-white: #ffffff;
$color-blue: #6dcff6;

$transition: 0.25s ease;

$media-mobile: 400px;
$media-tablet: 700px;
$media-desktop: 1000px;
