@import './lib/scss/RC023.scss';
.RC039{
  .rc23-labelbar {
    display: block;
  }
}
.RC039-smalltext,
.RC023-smalltext {
  margin-top: 5px;
  font-size: 11px;
  font-style: italic;
}
.RC039.RC039v1 {
  .table-responsive > table{
    border: 1px solid #ccc;
  }
  .course-result-cart .course-result-cart-wrapper span{
    display: block;
    margin-top: 8px;
  }
  .main-content {
    padding-left: 0px;
    padding-right: 0px;
    .course-search-sorts {
      background: white;
      border-top: 0px;
      .course-search-summary {
        display: none;
      }
    }
    .course-search-container {
      padding-left: 0px;
      padding-right: 0px;
      .course-search-form-main {
        padding-left: 10px;
        padding-right: 10px;
      }
      .course-search-results {
        background: white;
        .course-col-price {
          display: none;
        }
      }
      .course-search-sorts {
        .course-sortby,
        .course-radius {
          float: right;
          width: 200px;
        }
        .js-select {
          width: 70% !important;
          display: inline-block;
          vertical-align: middle;
          min-width: 45%;
        }
        .ui-selectmenu-button {
          width: 200px !important;
          max-width: 100%;
        }
      }
    }
    /* Top content wrapper */
    .RC039-topContent_wrapper {
      padding: 10px;
      background: white;
      .RC039-results_title {
        h3 {
          font-weight: 700;
          font-size: 23px;
          display: inline-block;
        }
        span {
          display: inline-block;
          font-size: 14px;
          color: black;
          margin-left: 5px;
          font-weight: 500;
        }
      }
      /*Course information block*/
      .RC039-course_info {
        border: 1px solid #ccc;
        padding: 15px;
        width: 47%;
        display: inline-block;
        vertical-align: middle;
        margin: 10px;
        h4 {
          font-weight: 600;
          border-bottom: 1px solid #ccc;
          padding-bottom: 10px;
          margin-bottom: 10px;
        }
        p {
          margin-bottom: 0px;
        }
        span {
          display: block;
          font-weight: 600;
          margin-bottom: 10px;
          color: #981a2b;
        }
        strong {
          display: none;
        }
      }
      /*GMAPS*/
      .RC039map_courseinfo{
        .RC039-map{
          width: 48%;
          display: inline-block;
          height: 300px;
          margin: 10px;
          vertical-align: middle;
        }
      }
    }
    /* Change RC023 css */
    .table-responsive {
      .course-search-location {
        display: none;
      }
      .rc18-wrapper {
        display: table-row;
        .rc18-courseListingGroup tr.rc18-courseRow {
          border: 0px;
        }
        &.RC039-moreThan2{
          .rc18-courseRow{
            display: none;
          }
          .rc18-courseRow:nth-child(-n+1){
            display: table-row;
          }
        }
        &.RC039-showAll{
          .rc18-courseRow{
            display: table-row;
          }
        }
        .RC039-seeMore {
          text-decoration: underline;
          color: #98192a;
          font-weight: 100;
          font-size: 13px;
          display: block;
          margin-top: 10px;
          cursor: pointer;
          margin-bottom: 10px;
        }
      }
      .rc18-coursetableName {
        min-height: 200px;
        height: 135px;
        td:first-of-type {
          border-right: 1px solid #ccc;
          width: 350px;
          border-bottom: 0px;
        }
        .course-result-description,
        .icon-info {
          display: none;
        }
        .course-result-name {
          margin-top: 0px;
          margin-left: 0px;
          display: inline-block;
          width: 100%;
          padding: 10px;
          font-size: 15px;
          text-align: center;
          position: absolute;
          top: 35%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        .course-col-date {
          padding: 18px;
          text-align: left;
          font-size: 13px;
        }
      }
      /* RC023 label bar */
        .rc23-labelbar {
          display: block;
          padding: 20px;
          .rc23-labels {
            text-align: left;
            .rc23-datetime,
            .rc23-price {
              display: none;
            }
            .RC039-label {
              display: inline-block;
              font-weight: bold;
              font-size: 17px;
              text-align: center;
              width: 170px;
              &.RC039label-Location {
                width: 333px;
              }
              &.RC039label-Distance {
                width: 100px;
              }
              &.RC039label-Price {
                width: 112px;
              }
              &.RC039label-Book {
                width: 184px;
              }
            }
          } 
      }
      /*Distance field*/
      .RC039-distance_row {
        padding: 10px;
        width: 100px;
        text-align: center;
        display: table-cell;
        .RC039-loc_distance {
          display: none;
        }
        &.RC039-distance_show {
          .RC039-loc_distance {
            display: block;
            a {
              text-decoration: underline;
              cursor: pointer;
            }
            span {
              display: block;
              text-align: center;
              font-size: 13px;
              margin-top: 10px;
            }
          }
          p {
            text-align: center;
            margin-bottom: 0px;
          }
        }
      }
      /*New price block*/
      .RC039-course_price {
        display: table-cell;
        width: 114px;
        border-left: 1px solid #ccc;
        text-align: center;
        span:last-child {
          color: #cd1220;
          font-weight: 600;
        }
        .RC039-price {
          display: none;
          text-align: center;
          padding: 10px;
          .hidden-xs{
            color: black;
            font-weight: 300;
          }
        }
        &.RC039-price_show {
          .RC039-price {
            display: block;
            strong {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}