$id: '--ID--';
$MobileSlidingNav__gutter: 20px;
$MobileSlidingNav__top: 56px;
$MobileSlidingNav__height: 100%; // Set to 100vh usually
$MobileSlidingNav__grey: #ddd;
$MobileSlidingNav__peach: #f2e9e9;
$MobileSlidingNav__text: #363636;

$extramargin_xs: 15px;
$extramargin: 30px;
