.CB073 #ajax-update-container > div.date-delivery.col-xs-12 > div > strong {
  background: none; }

@media screen and (min-width: 883px) {
  .CB073 .stock-title.in-stock-title {
    margin-top: 2px;
    margin-left: 5px; } }
