.CB080 *.CB_hide {
  display: none; }

.CB080 #product_tabs_Yotporeview_contents {
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: none; }

.CB080 #product_tabs_question_contents {
  background: #F5F5F5;
  box-shadow: none; }
  .CB080 #product_tabs_question_contents .yotpo-nav-content.CB080_transition .yotpo-question .yotpo-header,
  .CB080 #product_tabs_question_contents .yotpo-nav-content.CB080_transition .yotpo-question .yotpo-footer,
  .CB080 #product_tabs_question_contents .yotpo-nav-content.CB080_transition .yotpo-question .yotpo-main {
    opacity: 1; }
  .CB080 #product_tabs_question_contents .yotpo-nav-content .yotpo-question .yotpo-header,
  .CB080 #product_tabs_question_contents .yotpo-nav-content .yotpo-question .yotpo-footer,
  .CB080 #product_tabs_question_contents .yotpo-nav-content .yotpo-question .yotpo-main {
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 400ms;
    -moz-transition-duration: 400ms;
    -o-transition-duration: 400ms;
    transition-duration: 400ms;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    opacity: 0; }
  .CB080 #product_tabs_question_contents .label-with-tooltip {
    width: auto;
    float: none !important; }
    .CB080 #product_tabs_question_contents .label-with-tooltip > span {
      width: auto;
      background: #fff;
      border: 1px solid black;
      padding: 4px 10px 4px 28px;
      text-transform: uppercase;
      color: #111;
      letter-spacing: 1.3px;
      font-size: 11px;
      position: relative; }
      .CB080 #product_tabs_question_contents .label-with-tooltip > span::before {
        content: '';
        display: block;
        width: 5px;
        height: 10px;
        border: solid #000;
        border-width: 0 2px 2px 0;
        position: absolute;
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        left: 14px;
        top: 7px; }
    @media (min-width: 768px) {
      .CB080 #product_tabs_question_contents .label-with-tooltip {
        display: inline-block; } }
  .CB080 #product_tabs_question_contents .yotpo-main {
    margin: 10px 0 15px 0 !important; }
  .CB080 #product_tabs_question_contents .yotpo-comment-box .yotpo-main {
    margin: 0 !important; }
    .CB080 #product_tabs_question_contents .yotpo-comment-box .yotpo-main .content-question {
      margin-bottom: 0; }
    @media (min-width: 768px) {
      .CB080 #product_tabs_question_contents .yotpo-comment-box .yotpo-main {
        display: inline-block !important; } }
  .CB080 #product_tabs_question_contents .yotpo-comment-box .yotpo-header {
    display: block !important; }
    @media (min-width: 768px) {
      .CB080 #product_tabs_question_contents .yotpo-comment-box .yotpo-header {
        display: inline-block !important; } }
    .CB080 #product_tabs_question_contents .yotpo-comment-box .yotpo-header .question-date {
      display: none; }
  .CB080 #product_tabs_question_contents .CB080_questions-title {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #111;
    line-height: 22px;
    padding-bottom: 15px; }
    @media (min-width: 768px) {
      .CB080 #product_tabs_question_contents .CB080_questions-title {
        font-size: 24px;
        line-height: 26px; } }
  .CB080 #product_tabs_question_contents .yotpo .text-m {
    font-size: 15px; }
  .CB080 #product_tabs_question_contents .yotpo-bottomline-box-1.yotpo-stars-and-sum-reviews {
    width: 100%;
    margin: 0 auto;
    float: none; }
    .CB080 #product_tabs_question_contents .yotpo-bottomline-box-1.yotpo-stars-and-sum-reviews .questions {
      float: none !important;
      text-align: center; }
  .CB080 #product_tabs_question_contents .CB080_question_sub-title {
    text-align: center;
    padding-top: 5px;
    color: #111;
    font-size: 12px; }
    @media (min-width: 768px) {
      .CB080 #product_tabs_question_contents .CB080_question_sub-title > div {
        margin-top: 10px; } }
  .CB080 #product_tabs_question_contents .CB080_ask-question {
    display: inline-block;
    color: #fff !important;
    background: #88B5C8 !important;
    text-transform: uppercase;
    padding: 7px 40px;
    margin-top: 20px;
    font-weight: 700;
    font-size: 12px; }
    @media (min-width: 768px) {
      .CB080 #product_tabs_question_contents .CB080_ask-question {
        padding: 12px 50px;
        font-size: 14px; } }
  .CB080 #product_tabs_question_contents .yotpo-main-widget {
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: none; }
  .CB080 #product_tabs_question_contents .yotpo-bottomline.yotpo-bottomline-2-boxes {
    border-top: 0; }
  .CB080 #product_tabs_question_contents .yotpo-header {
    display: none !important; }
  .CB080 #product_tabs_question_contents .content-question {
    color: #111;
    font-size: 16px;
    margin-bottom: 20px; }
  .CB080 #product_tabs_question_contents .yotpo-question {
    background: #fff;
    padding: 20px;
    border: none; }
    .CB080 #product_tabs_question_contents .yotpo-question .yotpo-comments-box {
      border: none;
      margin: 0 -10px -10px;
      padding: 15px;
      background: whitesmoke; }
      .CB080 #product_tabs_question_contents .yotpo-question .yotpo-comments-box .yotpo-comment {
        margin: 0;
        padding: 0; }
      .CB080 #product_tabs_question_contents .yotpo-question .yotpo-comments-box .yotpo-header.yotpo-store-owner {
        display: none !important; }
      .CB080 #product_tabs_question_contents .yotpo-question .yotpo-comments-box .content-question {
        position: relative; }
        @media (min-width: 768px) {
          .CB080 #product_tabs_question_contents .yotpo-question .yotpo-comments-box .content-question {
            padding-left: 190px; } }
        .CB080 #product_tabs_question_contents .yotpo-question .yotpo-comments-box .content-question::before {
          content: '';
          height: 18px;
          width: 158px;
          background-size: 160px !important;
          display: block;
          margin-bottom: 10px;
          background-image: url(http://www.sitegainer.com/fu/up/p17z8c61c3i8yq1.png) !important;
          background-position-y: 26px !important; }
          @media (min-width: 768px) {
            .CB080 #product_tabs_question_contents .yotpo-question .yotpo-comments-box .content-question::before {
              position: absolute;
              left: 0;
              top: 0;
              margin-bottom: 0; } }
    .CB080 #product_tabs_question_contents .yotpo-question + .yotpo-question {
      margin-top: 20px; }
    .CB080 #product_tabs_question_contents .yotpo-question .yotpo-icon-profile {
      display: none; }
    .CB080 #product_tabs_question_contents .yotpo-question .yotpo-footer {
      display: none; }

.CB080 .yotpo .yotpo-small-box {
  display: none !important; }

.CB080 .yotpo.yotpo-main-widget .yotpo-icon-btn {
  display: none; }

.CB080 #product_tabs_Yotporeview_contents .yotpo-comment-box .yotpo-user-name,
.CB080 #product_tabs_Yotporeview_contents .yotpo-comment-box .yotpo-review-date {
  display: block !important; }

.CB080 #product_tabs_Yotporeview_contents .yotpo-comment-box .yotpo-main .content-title {
  display: none !important; }

.CB080 #product_tabs_Yotporeview_contents .yotpo-comment-box .content-review {
  padding-top: 0 !important; }

.CB080 #product_tabs_Yotporeview_contents .yotpo-label.yotpo-small-box {
  display: none; }

.CB080 #product_tabs_Yotporeview_contents .yotpo .yotpo-bottomline .yotpo-icon {
  color: #88B5C8 !important;
  float: none !important; }
  .CB080 #product_tabs_Yotporeview_contents .yotpo .yotpo-bottomline .yotpo-icon.yotpo-icon-write::before {
    content: none; }
  .CB080 #product_tabs_Yotporeview_contents .yotpo .yotpo-bottomline .yotpo-icon + .yotpo-icon {
    margin-left: -5px;
    float: none !important; }

.CB080 #product_tabs_Yotporeview_contents .yotpo.yotpo-main-widget .yotpo-bottomline span.based-on {
  color: #88B5C8 !important;
  width: auto; }

.CB080 #product_tabs_Yotporeview_contents .yotpo-distributions-graphs {
  display: none; }

.CB080 #product_tabs_Yotporeview_contents .CB080_rated-stars {
  display: inline-block;
  font-size: 18px;
  color: #111;
  width: auto; }

.CB080 #product_tabs_Yotporeview_contents .yotpo-bottomline-box-2 {
  width: 100%; }
  .CB080 #product_tabs_Yotporeview_contents .yotpo-bottomline-box-2 .yotpo-star-distribution {
    border: none !important;
    padding-left: 0;
    margin: 35px 0 0 0;
    width: 100%; }
  .CB080 #product_tabs_Yotporeview_contents .yotpo-bottomline-box-2 .yotpo-star-distribution-content .yotpo-distibutions-stars {
    width: 100%;
    margin: 0;
    padding-bottom: 10px; }
    .CB080 #product_tabs_Yotporeview_contents .yotpo-bottomline-box-2 .yotpo-star-distribution-content .yotpo-distibutions-stars span {
      display: inline-block;
      width: auto; }
      .CB080 #product_tabs_Yotporeview_contents .yotpo-bottomline-box-2 .yotpo-star-distribution-content .yotpo-distibutions-stars span.yotpo-sum-reviews {
        padding: 0 0 0 0; }
      .CB080 #product_tabs_Yotporeview_contents .yotpo-bottomline-box-2 .yotpo-star-distribution-content .yotpo-distibutions-stars span.review-stars {
        border: 1px solid #cdcdcd;
        padding: 5px 3px;
        width: calc(50% - 13px);
        margin: 6px 5px;
        text-align: center;
        background: #fff;
        -webkit-transition-property: background, border-color;
        -moz-transition-property: background, border-color;
        -o-transition-property: background, border-color;
        transition-property: background, border-color;
        -webkit-transition-duration: 200ms;
        -moz-transition-duration: 200ms;
        -o-transition-duration: 200ms;
        transition-duration: 200ms;
        -webkit-transition-timing-function: ease-in-out;
        -moz-transition-timing-function: ease-in-out;
        -o-transition-timing-function: ease-in-out;
        transition-timing-function: ease-in-out; }
        .CB080 #product_tabs_Yotporeview_contents .yotpo-bottomline-box-2 .yotpo-star-distribution-content .yotpo-distibutions-stars span.review-stars.CB080_active {
          background: #f7f7f7;
          border-color: #555555; }
        @media (min-width: 650px) {
          .CB080 #product_tabs_Yotporeview_contents .yotpo-bottomline-box-2 .yotpo-star-distribution-content .yotpo-distibutions-stars span.review-stars {
            width: calc(33.333% - 13px); } }
        @media (min-width: 768px) {
          .CB080 #product_tabs_Yotporeview_contents .yotpo-bottomline-box-2 .yotpo-star-distribution-content .yotpo-distibutions-stars span.review-stars {
            width: auto;
            padding: 5px 12px; } }
  .CB080 #product_tabs_Yotporeview_contents .yotpo-bottomline-box-2 .yotpo-star-distribution-content .yotpo-distibutions-sum-reviews {
    width: 50%;
    padding-top: 1px; }
    .CB080 #product_tabs_Yotporeview_contents .yotpo-bottomline-box-2 .yotpo-star-distribution-content .yotpo-distibutions-sum-reviews span {
      margin-bottom: 4px; }

.CB080 #product_tabs_Yotporeview_contents .yotpo-bottomline-box-1.yotpo-stars-and-sum-reviews {
  max-width: 100%;
  width: 100%; }
  @media (min-width: 768px) {
    .CB080 #product_tabs_Yotporeview_contents .yotpo-bottomline-box-1.yotpo-stars-and-sum-reviews {
      padding-top: 75px; } }
  @media (min-width: 960px) {
    .CB080 #product_tabs_Yotporeview_contents .yotpo-bottomline-box-1.yotpo-stars-and-sum-reviews {
      padding-top: 0; } }
  .CB080 #product_tabs_Yotporeview_contents .yotpo-bottomline-box-1.yotpo-stars-and-sum-reviews .yotpo-sum-reviews {
    width: 100%; }
    .CB080 #product_tabs_Yotporeview_contents .yotpo-bottomline-box-1.yotpo-stars-and-sum-reviews .yotpo-sum-reviews span.based-on {
      padding: 0 0 5px 5px; }
  .CB080 #product_tabs_Yotporeview_contents .yotpo-bottomline-box-1.yotpo-stars-and-sum-reviews .yotpo-default-button.yotpo-icon-btn {
    display: none; }
  .CB080 #product_tabs_Yotporeview_contents .yotpo-bottomline-box-1.yotpo-stars-and-sum-reviews .yotpo-stars .yotpo-icon + .yotpo-icon {
    margin-left: 0; }
  @media (min-width: 768px) {
    .CB080 #product_tabs_Yotporeview_contents .yotpo-bottomline-box-1.yotpo-stars-and-sum-reviews .yotpo-stars {
      padding-top: 9px; }
      .CB080 #product_tabs_Yotporeview_contents .yotpo-bottomline-box-1.yotpo-stars-and-sum-reviews .yotpo-stars .yotpo-icon + .yotpo-icon {
        margin-left: 4px; }
      .CB080 #product_tabs_Yotporeview_contents .yotpo-bottomline-box-1.yotpo-stars-and-sum-reviews .yotpo-stars .yotpo-icon {
        font-size: 32px; } }

.CB080 #product_tabs_Yotporeview_contents .yotpo-main {
  margin: 10px 0 15px 0; }
  .CB080 #product_tabs_Yotporeview_contents .yotpo-main .content-review {
    padding-top: 20px;
    display: block; }
  .CB080 #product_tabs_Yotporeview_contents .yotpo-main .content-title {
    display: block;
    width: 100%;
    font-size: 16px;
    padding-bottom: 15px; }
    .CB080 #product_tabs_Yotporeview_contents .yotpo-main .content-title::before, .CB080 #product_tabs_Yotporeview_contents .yotpo-main .content-title::after {
      content: '"';
      font-size: 16px;
      display: inline-block;
      margin-right: -4px; }
    .CB080 #product_tabs_Yotporeview_contents .yotpo-main .content-title::after {
      margin-right: 0;
      margin-left: -4px; }
    @media (min-width: 768px) {
      .CB080 #product_tabs_Yotporeview_contents .yotpo-main .content-title {
        font-size: 20px; }
        .CB080 #product_tabs_Yotporeview_contents .yotpo-main .content-title::before, .CB080 #product_tabs_Yotporeview_contents .yotpo-main .content-title::after {
          font-size: 20px; }
        .CB080 #product_tabs_Yotporeview_contents .yotpo-main .content-title::before {
          margin-right: -5px; } }

.CB080 #product_tabs_Yotporeview_contents .CB080_sub-title {
  font-size: 14px;
  color: #111;
  padding: 0 0 3px 5px; }

.CB080 #product_tabs_Yotporeview_contents .yotpo-nav .yotpo-nav {
  display: none; }

.CB080 #product_tabs_Yotporeview_contents .yotpo-preloader-wrapper + .yotpo-review {
  border-top: none; }

.CB080 #product_tabs_Yotporeview_contents .label-with-tooltip {
  width: auto;
  float: none !important; }
  .CB080 #product_tabs_Yotporeview_contents .label-with-tooltip > span {
    width: auto;
    background: #fff;
    border: 1px solid black;
    padding: 4px 10px 4px 28px;
    text-transform: uppercase;
    color: #111;
    letter-spacing: 1.3px;
    font-size: 11px;
    position: relative; }
    .CB080 #product_tabs_Yotporeview_contents .label-with-tooltip > span::before {
      content: '';
      display: block;
      width: 5px;
      height: 10px;
      border: solid #000;
      border-width: 0 2px 2px 0;
      position: absolute;
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      left: 14px;
      top: 7px; }
  @media (min-width: 768px) {
    .CB080 #product_tabs_Yotporeview_contents .label-with-tooltip {
      display: inline-block; } }

.CB080 #product_tabs_Yotporeview_contents .yotpo-nav-content.CB080_transition .yotpo-reviews .yotpo-review .yotpo-header,
.CB080 #product_tabs_Yotporeview_contents .yotpo-nav-content.CB080_transition .yotpo-reviews .yotpo-review .yotpo-footer,
.CB080 #product_tabs_Yotporeview_contents .yotpo-nav-content.CB080_transition .yotpo-reviews .yotpo-review .yotpo-main {
  opacity: 1; }

.CB080 #product_tabs_Yotporeview_contents .yotpo-nav-content .yotpo-reviews {
  padding: 16px 15px; }
  .CB080 #product_tabs_Yotporeview_contents .yotpo-nav-content .yotpo-reviews .yotpo-review {
    margin: 0;
    background: #F5F5F5;
    padding: 30px 20px 20px 20px;
    border: 1px solid #dfdfdf;
    position: relative; }
    .CB080 #product_tabs_Yotporeview_contents .yotpo-nav-content .yotpo-reviews .yotpo-review .yotpo-header,
    .CB080 #product_tabs_Yotporeview_contents .yotpo-nav-content .yotpo-reviews .yotpo-review .yotpo-footer,
    .CB080 #product_tabs_Yotporeview_contents .yotpo-nav-content .yotpo-reviews .yotpo-review .yotpo-main {
      -webkit-transition-property: opacity;
      -moz-transition-property: opacity;
      -o-transition-property: opacity;
      transition-property: opacity;
      -webkit-transition-duration: 400ms;
      -moz-transition-duration: 400ms;
      -o-transition-duration: 400ms;
      transition-duration: 400ms;
      -webkit-transition-timing-function: ease-in-out;
      -moz-transition-timing-function: ease-in-out;
      -o-transition-timing-function: ease-in-out;
      transition-timing-function: ease-in-out;
      opacity: 0; }
    .CB080 #product_tabs_Yotporeview_contents .yotpo-nav-content .yotpo-reviews .yotpo-review .yotpo-icon-profile {
      display: none; }
    .CB080 #product_tabs_Yotporeview_contents .yotpo-nav-content .yotpo-reviews .yotpo-review .footer-actions {
      display: none; }
    .CB080 #product_tabs_Yotporeview_contents .yotpo-nav-content .yotpo-reviews .yotpo-review .yotpo-review-stars span {
      font-size: 18px;
      color: #88B5C8 !important; }
    .CB080 #product_tabs_Yotporeview_contents .yotpo-nav-content .yotpo-reviews .yotpo-review .yotpo-footer {
      position: static; }
    .CB080 #product_tabs_Yotporeview_contents .yotpo-nav-content .yotpo-reviews .yotpo-review .yotpo-helpful {
      position: absolute;
      top: 15px;
      right: 20px; }
    .CB080 #product_tabs_Yotporeview_contents .yotpo-nav-content .yotpo-reviews .yotpo-review .yotpo-user-name,
    .CB080 #product_tabs_Yotporeview_contents .yotpo-nav-content .yotpo-reviews .yotpo-review .yotpo-review-date {
      display: none; }
    .CB080 #product_tabs_Yotporeview_contents .yotpo-nav-content .yotpo-reviews .yotpo-review + .yotpo-review {
      margin-top: 20px; }

.CB080 #product_tabs_Yotporeview_contents .CB080_review-btn {
  background: #88B5C8 !important;
  color: #fff !important;
  padding: 6px 20px;
  margin-top: 10px;
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block; }
  @media (min-width: 510px) {
    .CB080 #product_tabs_Yotporeview_contents .CB080_review-btn {
      position: absolute;
      top: -4px;
      right: 0; } }
  @media (min-width: 768px) {
    .CB080 #product_tabs_Yotporeview_contents .CB080_review-btn {
      top: 63px; } }
  @media (min-width: 960px) {
    .CB080 #product_tabs_Yotporeview_contents .CB080_review-btn {
      top: -4px; } }

@media (min-width: 768px) {
  .CB080 .yotpo-regular-box.yotpo-bottomline-2-boxes {
    padding-top: 50px; } }

.CB080 .yotpo-nav-content .yotpo-helpful .label-helpful {
  display: none; }

.CB080 .CB080_ds-title {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  font-size: 18px;
  color: #111; }
  .CB080 .CB080_ds-title span {
    color: #111;
    display: block;
    width: auto;
    padding-bottom: 10px;
    font-size: 20px; }
  @media (max-width: 767px) {
    .CB080 .CB080_ds-title {
      display: none; } }

.CB080 .CB080_name-date {
  display: block;
  margin-right: 10px;
  margin-bottom: 10px; }
  @media (min-width: 768px) {
    .CB080 .CB080_name-date {
      display: inline-block; } }

.CB080 .CB080_tab-wrap {
  width: 102%; }
  @media (min-width: 500px) {
    .CB080 .CB080_tab-wrap {
      width: 100%; } }
  @media (min-width: 768px) {
    .CB080 .CB080_tab-wrap {
      border-top: 1px solid #e8e8e8; }
      .CB080 .CB080_tab-wrap.CB_hide {
        display: block; } }

.CB080 .CB080_tab-btns {
  background: #F5F5F5;
  text-align: center;
  border-bottom: 1px solid #e8e8e8; }
  .CB080 .CB080_tab-btns > div {
    max-width: 980px;
    margin: 0 auto; }
  .CB080 .CB080_tab-btns a {
    color: #262223;
    line-height: 40px;
    padding: 0 15px;
    font-size: 16px;
    display: block; }
    @media (min-width: 768px) {
      .CB080 .CB080_tab-btns a {
        width: 180px;
        display: inline-block;
        position: relative;
        font-size: 14px;
        text-align: center;
        -webkit-transition-property: color, background;
        -moz-transition-property: color, background;
        -o-transition-property: color, background;
        transition-property: color, background;
        -webkit-transition-duration: 400ms;
        -moz-transition-duration: 400ms;
        -o-transition-duration: 400ms;
        transition-duration: 400ms;
        -webkit-transition-timing-function: ease-in-out;
        -moz-transition-timing-function: ease-in-out;
        -o-transition-timing-function: ease-in-out;
        transition-timing-function: ease-in-out; }
        .CB080 .CB080_tab-btns a::before {
          content: '';
          background: #fff;
          width: 100%;
          height: 1px;
          position: absolute;
          bottom: -1px;
          left: 0;
          opacity: 0;
          -webkit-transition-property: opacity;
          -moz-transition-property: opacity;
          -o-transition-property: opacity;
          transition-property: opacity;
          -webkit-transition-duration: 400ms;
          -moz-transition-duration: 400ms;
          -o-transition-duration: 400ms;
          transition-duration: 400ms;
          -webkit-transition-timing-function: ease-in-out;
          -moz-transition-timing-function: ease-in-out;
          -o-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out; }
        .CB080 .CB080_tab-btns a + a {
          margin-left: 4px; }
        .CB080 .CB080_tab-btns a.CB080_active {
          font-weight: 700;
          background: #fff; }
          .CB080 .CB080_tab-btns a.CB080_active::before {
            opacity: 1; } }
  @media (min-width: 768px) {
    .CB080 .CB080_tab-btns {
      text-align: left; }
      .CB080 .CB080_tab-btns.CB_hide {
        display: block; } }

.CB080 .CB080_mobile-tab-slide {
  background: #F5F5F5;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  padding: 0 15px;
  display: block;
  line-height: 40px;
  color: #262223;
  text-align: center;
  font-size: 16px;
  width: 102%;
  position: relative; }
  @media (min-width: 768px) {
    .CB080 .CB080_mobile-tab-slide {
      display: none; } }
  .CB080 .CB080_mobile-tab-slide.CB080_active .CB080_tab-arrow {
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  .CB080 .CB080_mobile-tab-slide .CB080_tab-arrow {
    position: absolute;
    right: 20px;
    top: 50%;
    width: 22px;
    height: 12px;
    margin-top: -5px;
    -webkit-transition-property: transform;
    -moz-transition-property: transform;
    -o-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 200ms;
    -moz-transition-duration: 200ms;
    -o-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out; }
    .CB080 .CB080_mobile-tab-slide .CB080_tab-arrow:focus, .CB080 .CB080_mobile-tab-slide .CB080_tab-arrow:active {
      outline: none; }
    .CB080 .CB080_mobile-tab-slide .CB080_tab-arrow::before, .CB080 .CB080_mobile-tab-slide .CB080_tab-arrow::after {
      content: '';
      width: 13px;
      height: 2px;
      background: #262223;
      position: absolute;
      top: 5px; }
    .CB080 .CB080_mobile-tab-slide .CB080_tab-arrow::before {
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      left: 0; }
    .CB080 .CB080_mobile-tab-slide .CB080_tab-arrow::after {
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      right: 0; }

.CB080 .CB080_tab-content > div {
  display: none; }
  .CB080 .CB080_tab-content > div.CB080_active {
    display: block; }

.CB080 .CB080_tab-content .block.box-contents {
  padding: 40px 20px;
  border: none; }
  .CB080 .CB080_tab-content .block.box-contents > .list {
    max-width: 940px;
    margin: 0 auto; }
    @media (min-width: 768px) {
      .CB080 .CB080_tab-content .block.box-contents > .list ul {
        display: -ms-flexbox;
        display: flex; } }
    .CB080 .CB080_tab-content .block.box-contents > .list ul li {
      font-size: 16px;
      background: #F5F5F5;
      text-align: center;
      border: 1px solid #e8e8e8;
      padding: 10px;
      position: relative; }
      @media (max-width: 767px) {
        .CB080 .CB080_tab-content .block.box-contents > .list ul li {
          width: 50%;
          margin: 0 auto; } }
    .CB080 .CB080_tab-content .block.box-contents > .list ul li + li {
      margin-left: 30px; }
      @media (max-width: 767px) {
        .CB080 .CB080_tab-content .block.box-contents > .list ul li + li {
          margin: 40px auto 0; } }
      .CB080 .CB080_tab-content .block.box-contents > .list ul li + li::before {
        content: '+';
        display: inline-block;
        font-size: 16px;
        padding-right: 10px;
        position: absolute;
        left: -20px;
        top: 50%;
        margin-top: -10px; }
        @media (max-width: 767px) {
          .CB080 .CB080_tab-content .block.box-contents > .list ul li + li::before {
            left: 50%;
            top: 0;
            margin-top: -31px;
            margin-left: -6px; } }

.CB080 .CB080_quote-block {
  padding: 30px 0 40px 0; }
  .CB080 .CB080_quote-block strong {
    font-style: italic;
    font-size: 18px;
    font-weight: 500;
    padding: 15px 20px 0;
    max-width: 700px;
    margin: 0 auto;
    display: block;
    text-align: center; }
  .CB080 .CB080_quote-block .CB080_quote-img {
    display: block;
    text-align: center; }
    .CB080 .CB080_quote-block .CB080_quote-img img {
      border-radius: 50%;
      width: 130px;
      height: 130px; }
  .CB080 .CB080_quote-block .CB080_quote-name {
    font-size: 16px;
    padding-top: 20px;
    text-align: center;
    display: block; }
    .CB080 .CB080_quote-block .CB080_quote-name span {
      vertical-align: sub;
      display: inline-block;
      height: 18px;
      width: 158px;
      background-image: url(http://www.sitegainer.com/fu/up/p17z8c61c3i8yq1.png);
      background-size: 160px;
      background-position-y: 26px; }

.CB080 .CB080_life_icon-wrap {
  max-width: 1200px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .CB080 .CB080_life_icon-wrap {
      margin-bottom: 30px; } }
  .CB080 .CB080_life_icon-wrap img {
    width: 63px;
    vertical-align: middle;
    padding-bottom: 5px;
    padding-right: 10px; }
  .CB080 .CB080_life_icon-wrap .CB080_lifestyle,
  .CB080 .CB080_life_icon-wrap .CB080_skin-types {
    padding: 0 20px;
    text-align: center; }
    .CB080 .CB080_life_icon-wrap .CB080_lifestyle > div,
    .CB080 .CB080_life_icon-wrap .CB080_skin-types > div {
      font-size: 16px;
      text-align: left;
      max-width: 200px;
      margin: 0 auto; }
      .CB080 .CB080_life_icon-wrap .CB080_lifestyle > div + div,
      .CB080 .CB080_life_icon-wrap .CB080_skin-types > div + div {
        margin-top: 10px; }
    .CB080 .CB080_life_icon-wrap .CB080_lifestyle h4,
    .CB080 .CB080_life_icon-wrap .CB080_skin-types h4 {
      font-weight: 500;
      text-transform: uppercase;
      line-height: 14px;
      font-size: 12px;
      margin-bottom: 15px; }
    @media (min-width: 768px) {
      .CB080 .CB080_life_icon-wrap .CB080_lifestyle,
      .CB080 .CB080_life_icon-wrap .CB080_skin-types {
        float: left;
        width: 100%; }
        .CB080 .CB080_life_icon-wrap .CB080_lifestyle > div,
        .CB080 .CB080_life_icon-wrap .CB080_lifestyle h4,
        .CB080 .CB080_life_icon-wrap .CB080_skin-types > div,
        .CB080 .CB080_life_icon-wrap .CB080_skin-types h4 {
          display: inline-block;
          vertical-align: middle;
          margin-right: 15px;
          margin-bottom: 0; }
        .CB080 .CB080_life_icon-wrap .CB080_lifestyle > div,
        .CB080 .CB080_life_icon-wrap .CB080_skin-types > div {
          margin: 0 15px; }
          .CB080 .CB080_life_icon-wrap .CB080_lifestyle > div + div,
          .CB080 .CB080_life_icon-wrap .CB080_skin-types > div + div {
            margin: 0 0 0 15px; } }
    @media (min-width: 1125px) {
      .CB080 .CB080_life_icon-wrap .CB080_lifestyle,
      .CB080 .CB080_life_icon-wrap .CB080_skin-types {
        width: 50%; } }
  .CB080 .CB080_life_icon-wrap .CB080_skin-types {
    margin-top: 20px; }
    @media (min-width: 1125px) {
      .CB080 .CB080_life_icon-wrap .CB080_skin-types {
        margin-top: 0; } }

.CB080 .CB080_product-finder {
  margin-top: 30px;
  clear: both; }
  .CB080 .CB080_product-finder .CB080_img-block {
    float: left;
    background-size: cover;
    height: 250px;
    width: 100%; }
    @media (min-width: 768px) {
      .CB080 .CB080_product-finder .CB080_img-block {
        height: 340px;
        width: 40%; } }
    @media (min-width: 960px) {
      .CB080 .CB080_product-finder .CB080_img-block {
        height: 480px;
        width: 30%; } }
  .CB080 .CB080_product-finder .CB080_product_finder-content {
    float: left;
    height: 250px;
    background: #F5F5F5;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    position: relative;
    text-align: center;
    width: 100%; }
    .CB080 .CB080_product-finder .CB080_product_finder-content > div {
      position: absolute;
      top: 50%;
      left: 50%;
      -moz-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      padding: 0 20px;
      width: 100%; }
      .CB080 .CB080_product-finder .CB080_product_finder-content > div h2 {
        font-family: 'Lato', 'Open Sans', sans-serif;
        text-align: center; }
      .CB080 .CB080_product-finder .CB080_product_finder-content > div a {
        display: inline-block;
        background: #88B5C8;
        color: #fff;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 40px;
        padding: 0 30px;
        border-radius: 0;
        margin-top: 20px; }
    @media (min-width: 768px) {
      .CB080 .CB080_product-finder .CB080_product_finder-content {
        height: 340px;
        width: 60%; } }
    @media (min-width: 960px) {
      .CB080 .CB080_product-finder .CB080_product_finder-content {
        height: 480px;
        width: 70%; } }

.CB080 .CB080_product-use {
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto; }
  @media (min-width: 960px) {
    .CB080 .CB080_product-use {
      padding: 80px 20px; } }
  .CB080 .CB080_product-use h2 {
    font-family: 'Lato';
    text-align: center;
    margin-bottom: 30px; }
  @media (max-width: 767px) {
    .CB080 .CB080_product-use .CB080_use-step {
      text-align: center; } }
  .CB080 .CB080_product-use .CB080_use-step + .CB080_use-step {
    margin-top: 20px; }
  .CB080 .CB080_product-use .CB080_use-step span {
    font-size: 48px;
    display: block;
    text-align: center;
    font-family: Times;
    color: #C2C7CA;
    font-style: italic; }
  .CB080 .CB080_product-use .CB080_use-step p {
    font-size: 14px; }
    @media (min-width: 960px) {
      .CB080 .CB080_product-use .CB080_use-step p {
        font-size: 16px; } }
  @media (min-width: 768px) {
    .CB080 .CB080_product-use .CB080_use-step {
      width: 50%;
      min-height: 60px;
      float: left;
      padding: 0 15px; }
      .CB080 .CB080_product-use .CB080_use-step + .CB080_use-step {
        margin-top: 40px; }
      .CB080 .CB080_product-use .CB080_use-step:nth-child(4n), .CB080 .CB080_product-use .CB080_use-step:nth-child(6n) {
        margin-top: 10px; }
      .CB080 .CB080_product-use .CB080_use-step span {
        text-align: left;
        width: 50px;
        display: inline-block; }
      .CB080 .CB080_product-use .CB080_use-step p {
        width: calc(100% - 54px);
        display: inline-block; } }
  @media (min-width: 960px) {
    .CB080 .CB080_product-use .CB080_use-step {
      padding: 0 25px; } }
  .CB080 .CB080_product-use .CB080_smallprint {
    font-size: 12px;
    text-align: center;
    padding-top: 40px;
    clear: both; }
    @media (min-width: 960px) {
      .CB080 .CB080_product-use .CB080_smallprint {
        padding: 40px 60px 0 60px; } }

.CB080 .CB080_delivery-wrap {
  background: #fff;
  padding: 30px 20px; }
  @media (min-width: 960px) {
    .CB080 .CB080_delivery-wrap {
      padding: 40px 20px; } }
  .CB080 .CB080_delivery-wrap > div {
    max-width: 940px;
    margin: 0 auto; }
  .CB080 .CB080_delivery-wrap:nth-child(2n) {
    background: #F5F5F5;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8; }
    .CB080 .CB080_delivery-wrap:nth-child(2n) .CB080_delivery-circle {
      background-color: #fff;
      background-size: cover; }
  .CB080 .CB080_delivery-wrap .CB080_delivery-circle {
    background: #fff;
    width: 200px;
    height: 200px;
    margin: 30px auto 0;
    line-height: 37px;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 50%;
    position: relative; }
    @media (min-width: 768px) {
      .CB080 .CB080_delivery-wrap .CB080_delivery-circle {
        float: left; } }
    .CB080 .CB080_delivery-wrap .CB080_delivery-circle strong {
      display: block; }
    .CB080 .CB080_delivery-wrap .CB080_delivery-circle > div {
      position: absolute;
      top: 50%;
      left: 50%;
      -moz-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 100%; }
  @media (min-width: 768px) {
    .CB080 .CB080_delivery-wrap .CB080_delivery-content {
      float: left;
      width: calc(100% - 200px);
      padding-right: 40px; } }
  .CB080 .CB080_delivery-wrap .CB080_delivery-content h2 {
    font-family: 'Lato';
    margin: 0; }
    .CB080 .CB080_delivery-wrap .CB080_delivery-content h2 + p,
    .CB080 .CB080_delivery-wrap .CB080_delivery-content h2 + ul {
      margin-top: 30px; }
  .CB080 .CB080_delivery-wrap .CB080_delivery-content ul {
    margin-top: 15px;
    padding-left: 25px; }
    .CB080 .CB080_delivery-wrap .CB080_delivery-content ul li {
      padding-left: 11px;
      position: relative;
      font-size: 14px;
      line-height: 16px; }
      @media (min-width: 960px) {
        .CB080 .CB080_delivery-wrap .CB080_delivery-content ul li {
          font-size: 16px;
          line-height: 20px;
          padding-left: 15px; } }
      .CB080 .CB080_delivery-wrap .CB080_delivery-content ul li + li {
        margin-top: 15px; }
    .CB080 .CB080_delivery-wrap .CB080_delivery-content ul.CB080_tick-variant li {
      padding-left: 23px; }
      .CB080 .CB080_delivery-wrap .CB080_delivery-content ul.CB080_tick-variant li::before {
        content: '';
        display: block;
        width: 7px;
        height: 13px;
        border: solid #000;
        border-width: 0 3px 3px 0;
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        left: 0;
        top: -1px; }
        @media (min-width: 960px) {
          .CB080 .CB080_delivery-wrap .CB080_delivery-content ul.CB080_tick-variant li::before {
            top: 1px; } }
    .CB080 .CB080_delivery-wrap .CB080_delivery-content ul.CB080_dot-variant li::before {
      content: '';
      width: 5px;
      height: 5px;
      position: absolute;
      left: 0;
      top: 5px;
      background: #000;
      border-radius: 50%; }
      @media (min-width: 960px) {
        .CB080 .CB080_delivery-wrap .CB080_delivery-content ul.CB080_dot-variant li::before {
          top: 7px; } }
    .CB080 .CB080_delivery-wrap .CB080_delivery-content ul + p {
      margin-top: 20px; }
  .CB080 .CB080_delivery-wrap .CB080_delivery-content p {
    font-size: 14px; }
    @media (min-width: 960px) {
      .CB080 .CB080_delivery-wrap .CB080_delivery-content p {
        font-size: 16px; } }

.CB080 .top-product-view .content-product-block .bottom-actions .bottom-actions-top.custom-associated-items-top,
.CB080 .top-product-view .content-product-block .bottom-actions.custom-associated-items {
  border-bottom: none; }
