.PD043m {
  #your_cart th#header2 {
    width: 160px;
  }
  .PD043m-under-threshold {
    padding: 10px 5px;
    text-align: center;
    clear: both;
    width: calc(100% - 10px);
    float: left;
    margin: 10px 5px;
    box-sizing: border-box;
    border: 1px solid #dddddd;
    h3 {
      margin: 0 0 5px 0;
      font-size: 14px;
      line-height: 19px;
      font-weight: 700;
    }
    p {
      float: none !important;
      margin: 0 !important;
      padding: 0 !important ;
    }
    button.button, a.button {
      // float: right;
      min-width: 180px;
      margin: 6px auto 0;
      // background: #70c30d !important;
      background: #4F9937 !important;
      transition: ease-in all .1s;
      color: #fff;
      padding: 9px 14px;
    }
  }
  .PD043m-more-items {
    text-align: center;
    border-top: 1px solid #787b7e;
    .PD043m-items-wrap {
      padding: 20px;
    }
    .PD043m-items {
      max-width: 640px;
      margin: auto;
      padding: 0 10px;
      > p, > a, > form {
        display: inline-block;
        vertical-align: middle;
        // width: 40%;
      }
      > p {
        width: 100%;
        display: block;
        text-align: center;
        margin-bottom: 5px;
      }
      >a {
        line-height: 31px;
        height: 31px;
        border: none;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        -khtml-border-radius: 6px;
        color: #ffffff;
        font-size: 14px;
        font-weight: normal;
        padding: 0 13px;
        font-size: 14px;
        margin: 0 6px;
        background: #4F9937 !important;
        transition: ease-in all .1s;
        &:hover {
          background: #70c30d !important;
        }
      }
      form {
        position: relative;
        margin-left: 6px;
        > label, .pd1-searchLabel { display: none; }
        input.text {
          max-width: 210px;
          padding: 8px 12px !important;
          box-sizing: border-box;
        }
        .searchButton {
          position: absolute;
          right: 0;
          top: 1px;
          bottom: 0;
          height: 29px;
          width: 30px;
          background-color: transparent;
          border: none;
          padding: 3px;
          box-sizing: border-box;
          transition: ease-in all .1s;
          img {
            display: none;
          }
          &:hover {
            background: #70c30d !important;
          }
        }
        .ui-input-search:after {
          right: 10px;
          left: auto;
          
        }
      }
    }
  }
  .basket {
    .span-20 > .span-11.last.right {
      display: inline-block;
      float: right;
    }
  }
  .PD022-Wrapper.PD022-Basket {
    margin: 0;
  }
  span.PD043m-delivery {
    display: block;
    padding: 9px 14px;
    background-color: #75c245;
    margin: 4px 0;
    color: #fff;
    font-size: 14px;
  }
}

