.TP106 {
  #header {
    // Change header login button colour.
    ul.nav {
      top: -5px;
      position: relative;
      li:first-of-type {
        position: relative;
        // Remove person icon from login. Does not currently show anyway.
        .button_image {
          display: none;
        }
        .button_text a {
          padding: 14px 10px 14px 11px;
          color: #333;
          &:hover {
            color: #333 !important;
          }
        }
        &:before {
          content: "";
          position: absolute;
          top: 0; left: 0; right: 0;
          bottom: 4px;
          background-color: #f6b112;
          z-index: -1;
        }
      }
    }
    .TP106-header-component {
      float: left;
      width: calc(100% - 350px);
      box-sizing: border-box;
      text-align: center;
      position: relative;
      top: -10px;
      cursor: pointer;
      > p {
        padding: 2.2% 5%;
        margin-bottom: 0;
        color: #fff;
        span {
          font-weight: 300;
        }
      }
      .TP106-arrow {
        width: 20px;
        height: 20px;
        position: absolute;
        right: 5px;
        top: 13px;
        &:after {
          content: '';
          display: block;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 7.5px 0 7.5px 10px;
          border-color: transparent transparent transparent #ffffff;
          transition: ease-in all .2s;
        }
      }
      &:hover {
        .TP106-header-subcomponent {
          display: block;
        }
        .TP106-arrow:after {
          transform: rotate(90deg);
        }
      }
      .TP106-header-subcomponent {
        display: none;
        position: absolute;
        top: 100%; left: 0; right: 0;
        background-color: #fff;
        padding: 10px 0;
        border: 1px solid #616161;
        border-top: none;
        .TP106-ib {
          display: inline-block;
          padding: 8px 10px;
          box-sizing: border-box;
          vertical-align: top;

          &:first-of-type {
            width: 36%;
            border-right: 1px solid #616161;
            float: left;
          }
          &:last-of-type {
            width: 64%;
            float: right;
          }
          .TP106-text-wrap {
            min-height: 90px;
            p {
              line-height: 16px;
            }
          }
          > p {
            font-size: 14px;
            line-height: 18px;
          }
          a {
            margin: 10px auto;
            border-radius: 4px;
            color: #333;
            font-size: 12px;
            cursor: pointer;
          }
        }
      }
    }
  }
}