@import './variables';

.#{$id} {
    &-list {
        text-align: left;
        @media (min-width: 768px) {
            font-size: 12px;
        }
        li {
            padding-left: 2em;
            position: relative;
            margin: 15px 0;
            @media (min-width: 768px) {
                margin: 12px 0;
            }
            &:before {
                background: url('https://d15k2d11r6t6rl.cloudfront.net/public/users/Integrators/ae52a6e2-ca6a-4d8e-8944-532f952aae85/7786f4da-a06b-11e8-9b4e-0a580a203c77/tickblue.png');
                content: "";
                width: 1.2em;
                height: 1.2em;
                background-size: contain;
                background-position: center center;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}
