@import './variables';

.#{$id} {
  .brand-stock {
    display: none;
  }
  .buying-info {
    .ratings-images {
      display: none;
    }
  }
  .buying-buttons {
    .quality {
       display: none;
    } 
    .buying-buttons__buy {
      width: 100%;
    }
  }
  .buying-buttons-ifc__button {
    width: 100%;
    margin-top: 10px;
  }
  .buying-buttons-ifc__message {
    display: block;
    width: 100%;
    text-align: center;
  }
  .#{$id}_reviewBlockWrapper{
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
    &.slick-slider{position:relative;display:block;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}.slick-list:focus{outline:0}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-list,.slick-slider .slick-track{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.slick-track{position:relative;top:0;left:0;display:block;margin-left:auto;margin-right:auto}.slick-track:after,.slick-track:before{display:table;content:''}.slick-track:after{clear:both}.slick-loading .slick-track{visibility:hidden}.slick-slide{display:none;float:left;height:100%;min-height:1px}[dir=rtl] .slick-slide{float:right}.slick-slide img{display:block}.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-loading .slick-slide{visibility:hidden}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.slick-arrow.slick-hidden{display:none}
    .slick-prev, .slick-next {
      font-size: 0;
      line-height: 0;
      position: absolute;
      top: 50%;
      display: block;
      width: 25px;
      height: 100%;
      padding: 0;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
      cursor: pointer;
      color: transparent;
      border: none;
      outline: none;
      background: white;
      background-image: url('https://service.maxymiser.net/cm/images-us/1/1/2/50239D43939FF249F6B756B28CE2D080D0D2A041AA451A0C9E804EF4EF098C4F/hsamuel-co-uk/HS020---PDP-Reviews/noun_Arrow_25316821.png');
      background-size: 30px;
      background-position: center;
      background-repeat: no-repeat;
      z-index: 99;
    }
    .slick-prev {
      transform: translate(0%, -50%) rotate(180deg);
      &::before {
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .slick-next {
      right: 0;
      
      &::before {
        top: 50%;
        transform: translateY(-50%);
      }
      &::after {
        right: -49px;
      }
    }
    
    .#{$id}-slideReview {
      text-align: center;
      .#{$id}-starRating {
        margin: 0 auto;
        height: 20px;
        width: 50%;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
      h4 {
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 0px;
        margin-top: 10px;
      }
      p {
        margin-top: 5px;
      }
    }

    .#{$id}-allReviews {
      text-align: center;
      span {
        text-decoration: underline;
        color: #a41625;
      }
    }
  }  
}
