.IT009 .success-msg p:before {
  position: absolute;
  top: 0;
  left: 0;
}

.IT009 .alert-box p {
  position: relative;
  padding: 0 25px;
}

.IT009 .alert-box .close {
  top: 15px;
  margin-top: 0;
}

.IT009 .right-off-canvas-menu .block-cart .actions-top {
  margin-top: 10px;
}

.IT009 .right-off-canvas-menu .block-cart .actions-top .right-off-canvas-toggle {
  display: none;
}

.IT009 .right-off-canvas-menu .block-cart .actions-top .actions {
  margin-bottom: 20px;
}

.IT009 .right-off-canvas-menu .right-off-canvas-toggle {
  margin-bottom: 20px;
}

.IT009 #cart-sidebar {
  display: none;
}

.IT009 .right-off-canvas-menu .block-cart .subtotal {
  text-align: center;
}

.IT009 .right-off-canvas-menu .block-cart .subtotal .label {
  float: none;
  font-size: 16px;
}

.IT009 .right-off-canvas-menu .block-cart .empty {
  text-align: center;
}

.IT009 .right-off-canvas-menu .block-cart .subtotal .price {
  font-size: 16px;
}

.IT009 .IT_free_delivery {
  text-align: center;
  padding: 20px 15px 20px;
  border-bottom: 1px solid #EEEDEC;
  border-top: 1px solid #EEEDEC;
  margin-top: 20px;
}

.IT009 .IT_free_delivery>div {
  border: 1px solid #111;
  padding: 13px;
}

.IT009 .IT_free_delivery .IT_progress_bar {
  width: 100%;
  background: #EEEDEC;
  height: 15px;
  position: relative;
}

.IT009 .IT_free_delivery .IT_progress_bar span {
  position: absolute;
  width: 0;
  height: 100%;
  left: 0;
  top: 0;
  background: #d13b95;
  z-index: 1;
  -webkit-transition-property: width;
  -moz-transition-property: width;
  -o-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: 600ms;
  -moz-transition-duration: 600ms;
  -o-transition-duration: 600ms;
  transition-duration: 600ms;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-animation-delay: 1ms;
  /* Safari 4.0 - 8.0 */
  animation-delay: 1ms;
}

.IT009 .IT_free_delivery .IT_progress_complete {
  display: none;
}

.IT009 .IT_free_delivery .IT_progress_price {
  font-size: 11px;
  margin-top: 10px;
}

.IT009 .right-off-canvas-menu {
  right: -100%;
  width: 100%;
}

.IT009 .right-off-canvas-menu .right-off-canvas-toggle {
  width: calc(100% - 30px);
  margin: -.625rem .9375rem 0;
}