@import './variables';

.#{$id} {
  &-productContainerParent .product_listing_container ul > li {
    & .product_add .button.primary {
      left: 0px;
    }
    & .product_add a[title='Add']:not(.add2Cart) {
      display: none;
    }
    & .product_add a.add2Cart {
      display: flex;
      justify-content: center;
    }
    & a.isVisible {
      visibility: visible !important;
    }
    & div.quantity_section {
      display: none;
    }
    & .button.add2Cart {
      width: 73% !important;
    }
    & input.numberofProducts {
      position: absolute;
      right: 4%;
      width: 20%;
      min-height: 39px;
      top: 0px;
      z-index: 99;
      box-sizing: border-box;
      border: solid 1px #ccc;
      border-radius: 3px;
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
      }
    }
    @media (min-width: 1281px) {
    }
    @media (max-width: 1280px) and (min-width: 760px) {
      & .estore_product_container .product_add a.add2Cart {
        width: 74% !important;
      }
    }
    @media (max-width: 759px) and (min-width: 601px) {
      & .estore_product_container .product_add a.add2Cart {
        width: 73% !important;
      }
    }
    @media (max-width: 600px) {
      & .estore_product_container .product_add a.add2Cart {
        width: 75% !important;
      }
      & input.numberofProducts {
        right: 0%;
        top: 27%;
        top: 24% !important;
        min-height: 30px;
      }
    }
  }

  &-productContainerParent-v2 .productListingWidget .product_listing_container ul > li {
    & .estore_product_container .product_add a.add2Cart.button.primary {
      visibility: visible !important;
    }
    & a.button.primary {
      width: 57%;
      left: 0px;
    }
    & .quantity_section {
      left: 60%;
      visibility: visible !important;
      z-index: 999;
    }
    & .quantity_section .minus_quantity,
    & .quantity_section .plus_quantity,
    & .quantity_section .quantity_input {
      width: 28% !important;
    }
    & .quantity_section .quantity_input {
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
      }
    }
    @media (max-width: 1280px) and (min-width: 1125px) {
      & .estore_product_container .product_add a.button.primary {
        width: 55% !important;
      }
    }
    @media (max-width: 1124px) and (min-width: 750px) {
      & .estore_product_container .product_add a.button.primary {
        width: 50% !important;
      }
      & .quantity_section {
        left: 53% !important;
      }
    }
    @media (max-width: 749px) and (min-width: 601px) {
      & .estore_product_container .product_add a.button.primary {
        width: 42% !important;
      }
      & .quantity_section {
        left: 45% !important;
      }
    }
    @media (max-width: 600px) and (min-width: 560px) {
      & .quantity_section {
        top: 10px;
      }
      & .quantity_section .quantity_input {
        height: 26px;
      }
      & .quantity_section .minus_quantity,
      & .quantity_section .plus_quantity {
        line-height: 31px;
      }
      & .quantity_section .minus_quantity,
      & .quantity_section .plus_quantity,
      & .quantity_section .quantity_input {
        width: 20% !important;
      }
      & .quantity_section .minus_quantity,
      & .quantity_section .plus_quantity {
        height: 28px;
      }
    }
    @media (max-width: 560px) {
      & a.button.primary {
        width: 50%;
      }
      & .quantity_section {
        top: 10px;
        left: 53%;
      }
      & .quantity_section .quantity_input {
        height: 26px;
      }
      & .quantity_section .minus_quantity,
      & .quantity_section .plus_quantity {
        line-height: 31px;
      }
      & .quantity_section .minus_quantity,
      & .quantity_section .plus_quantity,
      & .quantity_section .quantity_input {
        width: 20% !important;
      }
      & .quantity_section .minus_quantity,
      & .quantity_section .plus_quantity {
        height: 28px;
      }
    }
    @media (max-width: 530px) {
      & .quantity_section .minus_quantity,
      & .quantity_section .plus_quantity,
      & .quantity_section .quantity_input {
        width: 18% !important;
      }
    }
    @media (max-width: 473px) {
      & .quantity_section .minus_quantity,
      & .quantity_section .plus_quantity,
      & .quantity_section .quantity_input {
        width: 16% !important;
      }
    }
    @media (max-width: 430px) {
      & .quantity_section .minus_quantity,
      & .quantity_section .plus_quantity,
      & .quantity_section .quantity_input {
        width: 15% !important;
      }
    }
    @media (max-width: 415px) {
      & .quantity_section .minus_quantity,
      & .quantity_section .plus_quantity,
      & .quantity_section .quantity_input {
        width: 14% !important;
      }
    }
    @media (max-width: 395px) {
      & a.button.primary {
        width: 46%;
      }
      & .quantity_section {
        left: 50%;
      }
      & .quantity_section .minus_quantity,
      & .quantity_section .plus_quantity,
      & .quantity_section .quantity_input {
        width: 14% !important;
      }
    }
    @media (max-width: 350px) {
      & a.button.primary {
        width: 39%;
      }
      & .quantity_section {
        left: 42% !important;
      }
    }
  }

  &-productsContainerV3 .product_listing_container ul > li {
    overflow: unset !important;

    & .quantity_section {
      display: none !important;
      & ~ #add2Cart {
        left: 0 !important;
      }
    }
    & .quantity_section.quantity_section_redesign {
      display: none !important;
    }

    & .product_add a[title='Add']:not(.add2Cart) {
      display: none;
    }
    & a#add2Cart {
      width: 45%;
    }
    & div.custom-select {
      left: 47%;
      position: relative !important;
    }
    & div.quantityTitle {
      border: solid 1px #ccc;
      width: 43%;
      padding: 9px;
      border-radius: 10px;

      &::before {
        display: inline;
        position: relative;
        float: right;
        top: -3px;
        left: 2px;
        content: '4';
        font: 1.5em 'ElegantIcons';
        transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        color: #999;
      }
    }
    & div.optionsField {
      position: absolute;
      width: 70%;
      top: 42px;
      display: none;
      background: #fff;
      z-index: 10;
      left: -21%;
      overflow: auto;
      height: 254px;
      border: solid 1px #ccc;
      border-radius: 10px;

      & .selectOptionItem {
        display: none;
      }
      & .optionItem:nth-child(11) {
        display: none;
      }

      & div.optionItem {
        padding: 13px 2px 10px 11px;
        border-bottom: solid 1px #ccc;
      }
      & div.optionItem.selectedItem::after {
        content: url(https://api.iconify.design/uis/check.svg?width=28&height=20);
        display: inline-block;
        margin-top: -2px;
        position: absolute;
        right: 0;
      }
    }

    & div.optionsField .optionItem:last-child {
      display: flex;
      align-items: center;
      border: 0;
      padding: 8px 2px 8px 11px;
      & .numberOfProducts {
        width: 26%;
        border: solid 1px #ccc;
        border-radius: 4px;
        margin-left: auto;
        margin-right: 5px;
        height: 26px;
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
          -webkit-appearance: none;
        }
      }
      & .applyButton {
        background: #004990;
        color: #fff;
        padding: 6px;
        border-radius: 5px;
        margin-right: 9px;
        cursor: pointer;
      }
    }
    & div.showOptionsField {
      display: block;
    }
    @media (min-width: 1281px) {
      .estore_product_container.estore_product_container {
        overflow: unset;
      }
    }

    @media (max-width: 1280px) and (min-width: 601px) {
      .estore_product_container {
        height: 445px;
        overflow: unset;
      }
    }
    @media (max-width: 600px) {
      a#add2Cart {
        width: 33% !important;
      }
      div.custom-select {
        left: 37% !important;
        top: 10px !important;
      }
      div.quantityTitle {
        width: 58% !important;
        padding: 5px !important;
        height: 18px !important;
      }
    }
  }

  @media (max-width: 600px) {
    .showOptionsFieldMobile {
      overflow: hidden;
    }
    .showOptionsFieldMobile .showOptionsField {
      position: fixed !important;
      bottom: 0 !important;
      top: unset !important;
      width: 100vw !important;
      left: 0 !important;
      z-index: 99999 !important;
      text-align: center !important;
      .selectOptionItem {
        display: flex !important;
        justify-content: space-between;
        padding: 13px;
        border-bottom: solid 1px #ccc;
        span {
          cursor: pointer;
        }
      }
      .optionItem:nth-child(11) {
        display: block !important;
      }
      .optionItem:last-child {
        display: none !important	;
      }
    }
    .showOptionsFieldMobile .emptyDiv {
      position: fixed !important;
      left: 0%;
      top: 0;
      width: 100vw;
      height: 100vh;
      background: #000;
      opacity: 0.3;
      z-index: 7;
    }
  }
}
