@import './variables';

.#{$id} {

  .FLAN-212-message-holder {
    display: block;
    float: left;
    width: 100%;

    &.hidden {
      display: none !important;
      visibility: hidden !important;
    }
  }

  .FLAN-212-message {
    text-align: left;
    margin: 10px auto;
    padding: 20px 0;
    clear: both;
    
    p {
      margin: 0;
      &:not(.fl62-o) {
        text-transform: uppercase;
      }
    }
    br {
      height: 0px;
    }
    p.fl62-t {
      font-size: 1.6em;
      font-weight: 900;
      margin-bottom: 3px; 
      color: #242628;
      font-family: 'GothamHTF-Medium',Arial,Helvetica,sans-serif !important;
      &.hide + p.fl62-s {
        padding-right: 0;
      }
    }
    p.fl62-s {
      font-size: 1.25em;
      margin: auto;
      margin-bottom: 20px;
      position: relative;
      display: inline-block;
      padding-right: 110px;
      color: #525252;
      > strong {
        position: absolute;
        width: 105px;
        text-align: center;
        right: 0;
        top: -3px;
        padding: 1px;
        background-color: #E9E9E9;
        text-transform: initial;
        font-weight: 400 !important;
        strong {
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 700 !important;
          font-weight: 900 !important;
          font-family: 'GothamHTF-Medium',Arial,Helvetica,sans-serif !important;
          min-width: 50px;
          text-align: right;
          color: #000000;
        }
      }
    }
    p.fl62-o {
      color: #919191;
    }
  }

  @media only screen and (min-width: 1022px) {
    &.FlanProdDet .AltProdDet #productDetails .BasketWishContainer {
      padding-bottom: 0px !important;
      margin-bottom: 20px;
    }
  }

  @media only screen and (max-width: 769px) {
    .FLAN-212-message {
      padding: 10px 0;
      margin-top: 10px;
      br {
        height: 0;
      }
      p.fl62-t {
        font-size: 17px;
        margin-bottom: 3px;
      }
      p.fl62-s {
        font-size: 13px;
        padding-right: 0;
        margin-bottom: 2px;
        > strong {
          display: block;
          position: static;
          margin: 5px 0;
          font-size: 15px;
        }
      }
      p.fl62-o {
        font-size: 12px;
      }
    }
  }
}
