.WB043 {
  #product-info-accordion {
    .accordion-group:nth-of-type(1) {
      #storesPanel {
        .accordion-inner {
          padding: 8px 15px;
          padding-top: 0;
          .WB043_wrapper {
            position: relative;
            margin-bottom: 5px;
            .WB043_message {
              display: block;
              width: 100%;
              margin: 0;
              margin-bottom: 10px;
            }
            .WB043_imageWrapper {
              width: 150px;
              height: 15px;
              background-image: url(https://ab-test-sandbox.userconversion.com/experiments/WB043-wbcrop.gif);
              background-repeat: no-repeat;
              background-size: contain;
              display: none;
            }
            .WB043_timetableLocSpecific {
              .WB043_firstLocWrapper {
                margin: 10px 0;
                border: 1px solid black;
                .WB043_locAndMapDisplay {
                  display: inline-block;
                  line-height: 10px;
                  margin-bottom: 0;
                  margin-top: 18px;
                  color: black;
                  margin-left: 20px;
                  font-size: 16px;
                  font-weight: 700;
                  -webkit-transform: translateY(50%);
                  -moz-transform: translateY(50%);
                  -ms-transform: translateY(50%);
                  -o-transform: translateY(50%);
                  transform: translateY(50%);
                  .WB043_wolfHead {
                    padding-bottom: 10px;
                    font-weight: 500;
                    font-size: 14px;
                    display: none;
                  }
                  .WB043_map {
                    color: #178acd;
                    font-weight: 600;
                    font-size: 13px;
                    display: inline-block;
                    padding-top: 5px;
                  }
                }
                .WB043_firstTimetable {
                  float: right;
                  margin-top: 5px;
                  margin-right: 5px;
                }
                &:after {
                  content: "";
                  clear: both;
                  display: table;
                }
                .WB043_reserveContainer {
                  margin-top: 15px;
                  position: relative;
                  .WB043_reserve_btn {
                    width: calc(50% - 15px);
                    height: 30px;
                    border: 0;
                    outline: 0;
                    font-size: 13px;
                    color: black;
                    background: #dedede;
                    float: right;
                    margin-right: 5px;
                    margin-bottom: 7px;
                    font-family: Futura;
                    &:hover {
                      color: black;
                      background-color: grey;
                      box-shadow: grey 0 0 5px 0;
                      text-decoration: none;
                    }
                  }
                  .WB043_reserve_msg {
                    font-size: 12px;
                    font-weight: 300;
                    padding-left: 10px;
                    width: 45%;
                    float: left;
                    text-align: left;
                    padding-bottom: 7px;
                    display: none;
                  }
                }
                &:after {
                  content: "";
                  display: table;
                  clear: both;
                }
              }
              .WB043_secondLocWrapper {
                border: 1px solid black;
                .WB043_wolfHead {
                  display: inline-block;
                }
                .WB043_secondLocAndMapDisplay {
                  display: inline-block;
                  line-height: 10px;
                  margin-bottom: 0;
                  margin-top: 18px;
                  color: black;
                  font-size: 16px;
                  margin-left: 20px;
                  font-weight: 700;
                  -webkit-transform: translateY(50%);
                  -moz-transform: translateY(50%);
                  -ms-transform: translateY(50%);
                  -o-transform: translateY(50%);
                  transform: translateY(50%);
                  .WB043_wolfHead {
                    padding-bottom: 10px;
                    font-weight: 500;
                    font-size: 14px;
                    display: none;
                  }
                  .WB043_map_second {
                    color: #178acd;
                    font-weight: 600;
                    font-size: 13px;
                    display: inline-block;
                    padding-top: 5px;
                  }
                }
                .WB043_secondTimetable {
                  float: right;
                  margin-top: 5px;
                  margin-right: 5px;
                }
                .WB043_reserveContainer {
                  margin-top: 15px;
                  position: relative;
                  .WB043_reserve_btn {
                    width: calc(50% - 15px);
                    height: 30px;
                    border: 0;
                    outline: 0;
                    font-size: 13px;
                    color: black;
                    background: #dedede;
                    float: right;
                    margin-right: 5px;
                    margin-bottom: 7px;
                    font-family: Futura;
                    &:hover {
                      color: black;
                      background-color: grey;
                      box-shadow: grey 0 0 5px 0;
                      text-decoration: none;
                    }
                  }
                  .WB043_reserve_msg {
                    font-size: 12px;
                    font-weight: 300;
                    padding-left: 10px;
                    width: 45%;
                    float: left;
                    text-align: left;
                    padding-bottom: 7px;
                    display: none;
                  }
                }
                &:after {
                  content: "";
                  display: table;
                  clear: both;
                }
              }
            }
          }
        }
      }
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 979px) {
    .WB043_timetableLocSpecific {
      font-size: 12px !important;
    }
  }
  @media only screen and (max-width: 360px) {
    .WB043_timetableLocSpecific {
      font-size: 12px !important;
    }
  }
} // WB043