@import './variables';

.#{$id} {
  .main-site-nav {
    transform-origin: left;
  }
  .main-site-nav .top-bar, 
  .main-site-nav .top-level {
    float: left;
  }
  
  .u-container{
    .icon-set--syp-glass {
      display: inline-flex;
      vertical-align: middle;
    }
    .icon-set {
      display: flex;
      padding: 5px 8px;
      justify-content: space-evenly;
      width: 100%;
    }
    .site-logo .territory{
      padding: 15px 15px 0 10px;
    display: inline-block;
      img {
        margin: 0 auto;
      }
    }
  }

  @media(min-width:567px) {
    .site-logo {
      margin: 0 auto;
    }
  }
}
