@import "./variables";
.SD-HOME1.topCategories {
	order: 1 !important;
	margin-bottom: 40px !important;
	@media (max-width: 768px) {
		margin-bottom: 20px !important;
	}
	@media (max-width: 480px) {
		margin-bottom: 12px !important;
	}
	& > [data-dy-var-id="101101214"] {
		margin-top: -40px !important;
		@media (max-width: 768px) {
			margin-top: 0 !important;
		}
	}
	& .swiper-slide.force-remove-margin {
		margin-right: 0 !important;
	}
	@media (max-width: 768px) {
		order: 0 !important;
	}
}
.#{$id} {
}
