@import './variables';

.#{$id} {
  .product-gallery{ 
    position: relative;
    #merchoid-scarcity-message {
      top: auto;
      bottom: 38%;
    }
    .ME159_stock-checker{
      top: auto;
      bottom: 38%;
    }
  }
  .heroPageCollabMerchoidLogo {
    width: 100px;
  }
  // ME175 css
  .product-page {
    .#{$id}_stock-checker {
      top: auto;
      bottom: 180px;
    }
    .add-to-wishlist-751421 { 
      display: none 
    }
  }
  .#{$id}-stamp {
    position: absolute;
    top: -10px;
    right: -15px;
    width: 130px;
    height: 130px;
    z-index: 999;
    transform: rotate(18deg);
    background-image: url('//cdn.optimizely.com/img/6087172626/c806f735930b4fc4aee511ecad171973.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
  .#{$id}-amount {
    position: absolute;
    width: 70px;
    text-align: center;
    height: 70px;
    background: white;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    padding: 10px;
    font-size: 13px;
    color: black;
    font-weight: 500;
    line-height: 15px;
    top: 10px;
    left: 10px;
  }
  &.#{$id}-2 {
    .#{$id}-stamp {
      background-image: url('//cdn.optimizely.com/img/6087172626/4b86da4cae264094830ddff618fa6f4b.png');
    }
  }
}
