.UC089 .woocommerce-ordering, .woocommerce-ordering .custom.dropdown, .woocommerce-ordering select {
  display: inline-block; }

.UC089 .uc-refine-button {
  display: inline-block;
  background: black;
  padding: 10px;
  color: white;
  margin: 9px;
  height: 34px;
  width: 50%;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 7px; }

/*Menu Styling*/
.UC089 .ucfiltermenu {
  width: 300px;
  background: white;
  background-size: cover;
  position: fixed;
  z-index: 999;
  top: 0;
  height: 100vh;
  margin: 0px 0 0 -1000px;
  -webkit-transition: .5s ease-in;
  -moz-transition: .5s ease-in;
  -o-transition: .5s ease-in;
  -ms-transition: .5s ease-in;
  transition: .5s ease-in;
  overflow-y: scroll; }

.UC089 .ucfiltermenu.menushow {
  margin: 0px 0 0 0;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.5); }

.UC089 .uc-exit {
  color: white;
  position: relative;
  float: right;
  margin-top: 7px;
  font-size: 20px;
  margin-right: 10px; }

.UC089 .uc-refine-button img {
  width: 8%;
  float: right;
  vertical-align: middle; }

.UC089 .uc-menutitle {
  background: black;
  height: 35px; }

.UC089 .uc-menutitle P {
  display: inline;
  font-weight: bold;
  font-size: 20px;
  margin-left: 22px;
  color: white; }

/*CATEGORIES*/
.UC089 .uc-cat {
  color: black;
  /* height: 193px; */
  padding: 12px;
  text-align: left;
  display: block;
  float: left;
  width: 100%; }

.UC089 .uc-cat.gender {
  height: 130px; }

.UC089 .uc-cat p {
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 1px;
  text-transform: uppercase; }

.UC89_btn {
  height: 57px;
  color: black;
  padding: 16px;
  text-align: center;
  display: block;
  float: left;
  width: 82%;
  color: white;
  background: #0cbbf4;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 auto;
  margin: 23px; }

.UC089 .ucoption {
  width: 30%;
  display: inline-block;
  padding: 1px;
  border: 1px solid;
  margin: 4px;
  position: relative;
  font-size: 12px;
  height: 48px;
  text-align: center;
  float: left;
  font-weight: normal; }

.UC089 .uc-cat.gender .ucoption {
  width: 46%; }

.UC089 .uc-cat .uc89name {
  font-weight: normal;
  font-size: 12px;
  position: relative;
  margin-top: 13px; }

.uc-cat.brand .ucoption {
  height: 69px; }

/*active*/
.uc-options-wrap.UC89_active .ucoption {
  background: #0cb9f1;
  color: white; }

.uc-options-wrap.UC89_active .ucoption p {
  font-weight: 900; }

@media (max-width: 400px) {
  .UC089 .ucfiltermenu.menushow {
    margin: 0px 0 0 0; }
  .UC089 .woocommerce-ordering, .woocommerce-ordering .custom.dropdown, .woocommerce-ordering select {
    float: left;
    width: 134px; }
  .UC089 .uc-refine-button {
    margin: 1px;
    height: 34px;
    width: 47%; }
  .UC089 .uc-refine-button img {
    margin: 2px; } }
