/* Add some styles to get started */
.CB081b.catalog-brand-view #brand-image {
  .cb81-cat-banner {
    min-height: 320px;
    background-size: cover !important;
    max-width: 1120px;
    margin: auto;
  } 
}


@media only screen and (max-width: 579px) {
  .CB081b.catalog-brand-view #brand-image .cb81-cat-banner {
    min-height: 200px;
  }
}