@import './variables';

.#{$id} {
    .myStyle {
        display: none !important;
    }

    .hero-banner__section {
        padding-bottom: 0px;
    }

    .pic {
        margin-top: 90px;
        width: 415px;
        height: 250px;
        background-image: url(https://media.kg-cdn.co.uk/mediacontainer/medialibraries/keyretirement/assets/key-house-sqsh.jpg?ext=.jpg);
    }

    .help__title {
        font-family: Nunito Sans;
        font-size: 24px;
        font-weight: 600;
        line-height: 36px;
        text-align: left;
        margin-top: 0px;
        margin-bottom: 3px;

    }

    .findOut__title_1 {
        font-family: Nunito Sans;
        font-size: 18px;
        font-weight: 700;
        line-height: 150%;
        text-align: left;
        margin-bottom: 10px;

    }

    .findOut_title_2 {
        margin-top: 17px;
        font-family: Nunito Sans;
        font-size: 18px;
        font-weight: 700;
        line-height: 150%;
        text-align: left;
        margin-bottom: 0px !important;

    }

    .calc {
        margin-top: -3px;
        font-family: Nunito Sans;
        font-size: 18px;
        font-weight: 600;
        line-height: 27px;
        text-align: left;
    }

    .list_item {
        font-family: Nunito Sans;
        font-size: 18px;
        font-weight: 600;
        line-height: 27px;
        text-align: left;
    }

    .range_1 {
        font-family: Nunito Sans;
        font-size: 18px;
        font-weight: 600;
        line-height: 27px;
        text-align: left;
        margin-bottom: 23px;
    }

    .new_Calculator {
        width: 326px;
        height: 48px;
        padding: 12px 16px 12px 16px;
        border-radius: 4px;
        background-color: #0B6027;
        font-family: Nunito Sans;
        font-size: 18px;
        font-weight: 700;
        line-height: 24.55px;
        text-align: center;
        color: white;
    }

    .new_Calculator_1 {
        width: 326px;
        height: 48px;
        padding: 12px 16px 12px 16px;
        border-radius: 4px;
        background-color: #D24719;
        font-family: Nunito Sans;
        font-size: 18px;
        font-weight: 700;
        line-height: 24.55px;
        text-align: center;
        color: white;
    }

    .list--chevron li::before {
        background: url(https://cdn-3.convertexperiments.com/uf/10046273/10046720/tick.png) no-repeat center / contain !important;
    }

    @media (max-width: 594px) {
        .pic {
            margin-top: 12px;
        }
    }

    @media (min-width: 599px) and (max-width: 1007px) {
        .new_Calculator {
            width: 232px;
        }

        .new_Calculator_1 {
            width: 249px;
        }

        .pic {
            margin-top: 20px;
        }

        .findOut_title_2 {
            margin-top: -17px;
        }

        .range_1 {
            margin-bottom: 82px;
        }
    }

    @media (min-width: 599px) and (max-width: 700px) {

        .findOut_title_2 {
            margin-top: -6px;
        }

        .range_1 {
            margin-bottom: 82px;
        }
    }

    @media (min-width: 700px) and (max-width: 1007px) {

        .findOut_title_2 {
            margin-top: 21px;
        }

        // .range_1 {
        //     margin-bottom: 68px;
        // }
    }

    @media (min-width: 901px) and (max-width: 1007px) {
        .range_1 {
            margin-bottom: 82px;
        }
    }

    @media (min-width: 800px) and (max-width: 900px) {
        .range_1 {
            margin-bottom: 83px;
        }
    }

    @media (min-width: 700px) and (max-width: 800px) {
        .range_1 {
            margin-bottom: 83px;
        }
    }

    @media (min-width: 600px) and (max-width: 699px) {
        .range_1 {
            margin-bottom: 110px;
        }
    }

    @media (min-width: 1008px) and (max-width:1279px) {
        .new_Calculator {
            width: 281px;
        }

        .new_Calculator_1 {
            width: 262px;
        }

        .right_section {
            margin-top: -25px;
        }

        .findOut_title_2 {
            margin-top: -19px;
        }

        .range_1 {
            margin-bottom: 102px;
        }
    }

    @media (min-width: 1280px) {
        .right_section {
            padding-top: 17px;
            display: flex;
            flex-direction: column
        }

        .findOut_title_2 {
            margin-top: 5px;
        }

        .range_1 {
            margin-bottom: 68px;
        }

    }
}