@import "./variables";

.#{$id} {
  &--checkout-user {
    .login-box {
      background: #fff !important;
      .guest-body-text {
        font-size: 0.9375rem;
        padding-bottom: 15px;
        display: inline-block;
      }
    }
  }
  &--continue-guest {
    h2 {
      text-transform: none !important;
      font-weight: 700;
      color: #373737;
    }
    p {
      display: none;
    }
    &.x-active {
      border: 1.5px solid #373737 !important;
    }
    &.x-inactive {
      border: 1.5px solid #f1f1f1;
    }
  }
  &--continue-user {
    .ui-tabs-tab,
    .ui-tabs-tab.ui-state-active,
    .ui-tabs-panel {
      background-color: #fff !important;
    }
    .ui-tabs-tab .ui-tabs-anchor {
      text-transform: none !important;
      font-weight: 700;
      color: #373737 !important;
    }
    .login-box {
      h2,
      p {
        display: none;
      }
      form .form-row {
        text-align: left;
        label {
          text-transform: none;
          font-size: 14px;
          &[for="dwfrm_login_rememberme"] {
            padding: 1px 0;
          }
        }
        .field-wrapper input {
          text-align: left;
        }
      }
    }
    &.x-inactive {
      // border: 1.5px solid #f1f1f1;

      #tabs-1 {
        border: 1.5px solid #f1f1f1;
        border-top: none;
      }
      #tabs-2 {
        border: 1.5px solid #f1f1f1;
        border-top: none;
      }

      .ui-tabs-nav {
        border: 1.5px solid #f1f1f1;
      }
      .ui-tabs-tab,
      .ui-tabs-tab.ui-state-active {
        border: none;
      }
      .ui-tabs-tab.ui-state-active {
        &:first-child.ui-state-active {
          border-right: 1.5px solid #f1f1f1;
        }
        &:last-child.ui-state-active {
          border-left: 1.5px solid #f1f1f1;
        }
      }
      // .ui-tabs-tab {
      //   border-bottom: 1.5px solid #f1f1f1 !important;
      //   &:first-child {
      //     border-right: 1.5px solid #f1f1f1;
      //   }
      // }
    }
    &.x-active {
      border: none;
      #tabs-1 {
        border: 1.5px solid #373737;
        border-top: none;
      }
      #tabs-2 {
        border: 1.5px solid #373737;
        border-top: none;
      }
      .ui-tabs-tab {
        border: none;
        border-bottom: 1.5px solid #373737;
        &:first-child.ui-state-active {
          border-bottom: none;
          border-top: 1.5px solid #373737;
          border-left: 1.5px solid #373737;
          border-right: 1.5px solid #373737;
        }
        &:last-child.ui-state-active {
          border-bottom: none;
          border-top: 1.5px solid #373737;
          border-left: 1.5px solid #373737;
          border-right: 1.5px solid #373737;
        }
      }
    }
  }
}
