.ME134 {

  .ME134_gift-finder__container {
    padding: 10px;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
    text-align: center;
    background-color: #FFF;

    h2 {
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center;
      font-size: inherit;
    }

    .ME134_gift-finder__item {
      border: 0px solid;
      border-radius: 10px;
      width: fit-content;
      display: inline-block;
      background-color: #0CBBF4;
      margin-right: 10px;
      margin-top: 10px;

      p{
        margin: auto;
        padding: 0.8em;
        font-weight: 600;
        text-align: center;
        color: #FFF !important;
      }
    }
  }

  .pagination-centered {
    border-top: none;
  }
}