@import "_mixins.scss";
.AC028 {
  //Modal styling
  .AC028_pop-up_modal {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999999;
    top: 0;
    left: 0;
    background: rgba(#000, 0.7);
    display: none;
    box-sizing: border-box;
    * {
      box-sizing: border-box;
    }
    >.AC028-body_click {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 10;
    }
    >.AC028-inner_div {
      text-align: center;
      position: absolute;
      width: calc(100% - 40px);
      height: auto;
      left: 50%;
      top: 50%;
      max-width: 960px;
      -moz-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      background: #fff;
      padding: 20px 20px 35px 20px;
      z-index: 20;
      border: 2px solid;
      @media (max-width: 767px) {
        width: calc(100% - 20px);
        padding: 20px 0 20px 20px;
      }
      .AC028_overflow_fix {
        overflow-y: scroll;
        max-height: 480px;
        max-height: calc(100vh - 80px);
        text-align: left;
        @media (min-width: 768px) {
          max-height: 800px;
          max-height: calc(100vh - 134px);
        }
        @media (max-width: 767px) {
          padding-right: 20px;
        }
        padding-right: 2px;
      }
      .AC028_overflow_fix::-webkit-scrollbar {
        -webkit-appearance: none;
      }
      .AC028_overflow_fix::-webkit-scrollbar:vertical {
        width: 11px;
      }
      .AC028_overflow_fix::-webkit-scrollbar:horizontal {
        height: 11px;
      }
      .AC028_overflow_fix::-webkit-scrollbar-thumb {
        border-radius: 8px;
        border: 2px solid white;
        background-color: rgba(0, 0, 0, .5);
      }
      .AC028_overflow_fix::-webkit-scrollbar-track {
        background-color: #fff;
        border-radius: 8px;
      }
      h3 {
        font-size: 20px;
        font-weight: 700;
        padding: 0;
        &+* {
          margin-top: 20px;
        }
        @media (max-width: 767px) {
          font-size: 18px;
        }
      }
      p {
        @media (max-width: 767px) {
          margin: 20px 0;
        }
        @media (max-width: 415px) {
          br {
            display: none;
          }
        }
      }
      a.AC028_cta {
        display: block;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        background: #1891d5;
        padding-top: 3px;
        line-height: 40px;
        margin: 0 auto 13px;
        letter-spacing: 1px;
        width: 210px;
        border-radius: 3px;
        &+span {
          text-align: center;
          display: block;
          a {
            color: #111;
            &:hover {
              text-decoration: underline;
            }
          }
          .AC028_close-modal {
            font-size: 16px;
          }
        }
      }
      a.AC028_close-other {
        display: block;
        margin: 17px auto 0;
        width: 30px;
        font-size: 14px;
        line-height: 20px;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .AC028-close_btn {
      position: absolute;
      top: -15px;
      right: -15px;
      text-transform: uppercase;
      background: #f26b14;
      color: #fff;
      width: 30px;
      height: 30px;
      line-height: 30px;
      border-radius: 50%;
      font-size: 14px;
      text-align: center;
      font-family: Arial;
      font-weight: 700;
      text-decoration: none;
      @media (max-width: 767px) {
        top: 3px;
        right: 3px;
      }
    } // Modal Elements
    // Modal header
    .AC028-Modal-Header-Text {
      margin: 0;
      text-align: center;
      color: #006396;
      font-size: 50px;
      font-family: "proxima-nova";
      margin-bottom: 15px;
    } // Modal Sub header
    .AC028-Modal-Sub-Header {
      text-align: center;
      font-family: "proxima-nova";
      line-height: 30px;
      font-size: 20px;
    } // Allow content blocks to sit next to each other, text align center parent, left align text content
    .AC028-Modal-Content-Wrap {
      text-align: center;
    }
    .AC028-Content-Block {
      display: inline-block;
      width: calc(50% - 100px);
      vertical-align: top;
    }
    .AC028-Call-Us-Block {
      margin: 0 auto;
      text-align: left;
    }
    .AC028-Message-Us-Block {
      margin: 0 auto;
      text-align: left;
    } // Content block headers
    .AC028-Header {
      color: #4081BC;
      font-size: 30px;
      vertical-align: middle;
      font-family: "proxima-nova";
    } // Modal images
    .AC028-Image {
      max-width: 50px;
      vertical-align: middle;
      margin-left: 20px;
    } // Modal text - different widths to allow text to take up different amount of room
    .AC028-Call-Us-Text {
      width: 70%;
      font-size: 18px;
    }
    .AC028-Message-Us-Text {
      width: 75%;
      font-size: 18px;
    } // Style Phone number
    .AC028-Phone-Number {
      font-weight: 700;
      font-size: 20px;
    }
  }
  &.AC028_scroll-off {
    overflow-y: hidden;
  }
}