.PU015{
    .PU015_box_wrap {
        position: fixed;
        border: 0;
        right: 0;
        z-index: 9999;
        background: white;
        box-shadow: 1px 2px 4px 1px #777070;
        bottom: -1000px;
        width: 513px;
        border: 1px solid #ccc;
        height: 206px;
        -moz-transition-duration: 1s;
        -webkit-transition-duration: 1s;
        -o-transition-duration: 1s;
        transition-duration:1s;
        -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        &.PU015_box_show{
            bottom: 0px;
            -moz-transition-duration: 1s;
            -webkit-transition-duration: 1s;
            -o-transition-duration: 1s;
            transition-duration: 1s;
            -moz-transition-timing-function: ease-in;
            -webkit-transition-timing-function: ease-in;
            -o-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
        }
    }
    .PU015-image{
        width: 150px;
        background-size: cover;
        height: 138px;
        vertical-align: middle;
        display: inline-block;
        margin-right: 7px;
        height: 100%;
        background-position: center;
        background-image: url('//cdn.optimizely.com/img/7714711789/e92729bab269495caad351ef328ac290.jpg');
    }
    .PU015_opening-text {
        display: inline-block;
        width: 340px;
        padding: 5px;
        vertical-align: top;
    }
    
    .PU015_title {
        display: block;
        text-align: left;
        font-weight: 500;
        text-transform: uppercase;
        padding: 10px;
        padding-left: 0px;
        border-bottom: 2px solid #ccc;
        padding-bottom: 5px;
    }
    .PU015_box_wrap a{
        display: block;
        float: left;
        font-size: 13px;
        padding: 10px;
        background: black;
        color: white;
        text-decoration: unset;
        &:hover{
            background: white;
            color: #000 !important;
            border: 1px solid #000 !important;
        }
    }
    .PU015_opening-text p {
        font-size: 13px;
        padding: 5px;
        padding-left: 0px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    .PU015_box_exit{
        position: absolute;
        left: auto;
        background: white;
        height: 20px;
        width: 20px;
        border-radius: 50px;
        top: -6px;
        border: 1px solid #ccc;
        left: -10px;
        line-height: 19px;
        text-align: center;
        font-size: 20px;
        cursor: pointer;
        padding-left: 1px;
    }
}