.WB063 {
    //Styles for all devices and mobile styling
    .WB063-Filter-Wrapper {
        text-align: center;
        padding: 0 0 30px 0;
        background-color: #f0f0f0;
        margin: 0 0 40px;
    }
    .WB063-Filter-Parent {
        color: #a7a5a6;
        >.facet-option-count {
            display: none;
        }
    }
    .WB063-Header {
        font-size: 20px;
        color: #a7a5a6;
        text-transform: uppercase;
    }
    .WB063-Filter-Container {
        display: inline-block;
        background-color: #FFFFFF;
        margin: 0 7px;
        width: calc(33.3333% - 20px); //Style filter links
        >a {
            padding: 10px 5px;
            height: 100%;
            display: block;
            color: #a7a5a6;
            font-size: 16px; //Style colour icon
            >.color-swatch {
                height: 40px;
                width: 40px;
                border-radius: 20px;
                margin-bottom: 10px;
                display: block;
                margin: 0 auto 15px;
            }
        }
    }
    .WB063-Header-Wrapper {
        padding: 20px 0 10px;
    } //Tablet Start 
    @media(min-width:768px) {
        .product-list-container>.categoryinfo {
            padding: 0 40px 10px;
        }
    } //Desktop Start
    @media(min-width:960px) {
        //Insert Desktop CSS
        .product-list-container>.categoryinfo {
            padding: 0 40px 20px;
        }
        .WB063-Filter-Wrapper {
            margin: 0 40px 40px;
        }
        .WB063-Filter-Container {
            margin: 0 15px;
            width: calc(33.3333% - 40px); //Style filter links
            >a {
                padding: 30px 10px;
                font-size: 18px; //Style colour icon
                >.color-swatch {
                    display: inline-block;
                    margin: 0 20px 0 0;
                    vertical-align: middle;
                }
            }
        }
    }
}