@import './variables';

.#{$id} {

    &__component {

        & + .#{$id}__component {
            display: none;
        }
    }

    &__curation {

        & + .#{$id}__curation {
            display: none;
        }

        display: flex;
        justify-content: space-evenly;
        @media all and (max-width: 666px) {
            flex-direction: column;
            text-align: center;
        }

        &__title {
            @media all and (min-width: 420px) {
                display: none;
                font-size: 24px;
                font-weight: 500;
            }
            @media all and (max-width: 325px) {
                font-size: 23px;
            }
        }

        &__item {
            width: 30%;
            text-align: center;
            @media all and (max-width: 666px) {
                width: 100%;
            }

            &:hover {
                text-decoration: none;
            }
            &__title {
                font-size: 18px !important;
                font-weight: 400;
                height: 40px;
                margin-bottom: 5px;
                border-bottom: 1px solid black;
                line-height: 2;
                letter-spacing: 1px;
                word-wrap: normal;
            }

            &__img {
                margin-bottom: 12px;
            }

            &__content {
                text-align: justify;
                color: #A7A5A6;
                font-size: 14px;
                line-height: 18.59px;
                letter-spacing: -4%;
                padding: 0 3%;
            }
        }
    }
}
