.tg038 {
    .tg38-vis-hidden {
      visibility: hidden !important;
    }
    .item-product .item-product-content {
        padding-bottom: 140px !important;

        @media(max-width: 768px) {
          padding-bottom: 50px !important;
        }
    }
    .item-product .item-product-content .product-info {
        width: calc(100% - 60px);
        text-align: center;
    }

    .tg38-add-quote {
        display: block;
        width: 100%;
        text-align: center;
        padding: 5px 0;
    }
    .tg38-add-quote__link {
        font-size: 13px;
        // text-decoration: underline;
        border-bottom: 1px solid transparent;
        // transition: 0.3s all;
        font-family: 'Open Sans',sans-serif;
        text-transform: lowercase;

        &:hover {
            border-bottom: dotted 1px #62c2f4;
            text-decoration: none;
            color: #62c2f4;
        }
    }

    .tg38-learn-more {
      margin-top: 15px;
      margin-bottom: 10px;
    }
    .tg38-learn-more a {
      display: inline-block;
      margin-bottom: 0;
      font-weight: normal;
      text-align: center;
      vertical-align: middle;
      touch-action: manipulation;
      cursor: pointer;
      background-image: none;
      border: 1px solid transparent;
      white-space: nowrap;
      padding: 6px 18px;
      text-transform: uppercase;
      color: #fff;
      text-decoration: none;
      font-weight: 700;
      border-radius: 2px;
      height: 40px;
      background-color: #3c99c9;
      // padding: 0 30px;

      &:hover {
        background-color: #43AAE0;
        // border-bottom: 0;
      }
    }

    // Amends 8/6/18
    @media only screen and (max-width: 1239px) {
      .item-product .item-product-content {
        padding-bottom: 180px !important;
      }
    }
    @media only screen and (max-width: 768px) {
      .item-product .item-product-content {
        padding-bottom: 50px !important;
      }
    }
}
