@import './variables';

.#{$id} {

    .wrapAll {
        background-color: #F6F6F6;

        .chForm {
            background-color: #fff;
            @media screen and (min-width: 768px) {
                max-width: 750px;
            }
        }
    }

    .#{$id}-reason-for-stay-error {
        p {
            font-family: 'FS Albert Bold'!important;
            color: #c52633;
            font-size: 16px;
            font-weight: 700;
        }
    }

    .#{$id}-display-none {
        display: none;
    }

    .#{$id}-charity-container-parent {
        max-width: 630px;
        margin: 15px auto 0;

        @media screen and (max-width: 430px) {
            max-width: 430px;
        }

        #paymentTotals {
            @media screen and (max-width: 430px) {
                margin-left: 0;
                margin-right: 0;
            }
        }
    }

    .#{$id}-charity-container {
        background-color: #f1f1f1;
        padding: 10px;

        .#{$id}-checkbox {
            margin-bottom: 5px;
        }

        div.#{$id}-display-none {
            display: none;
        }

        .#{$id}-charity-desc-container {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-left: 10px;
            flex-wrap: wrap;

            .#{$id}-Pennies {
                position: relative;
                top: -5px;
            }
    
            .#{$id}-Macmillan {
                float: unset;
                margin-left: 20px;
            }
    
    
    
            .#{$id}-charity-desc {
                max-width: none;
                flex: 1;
                min-width: 250px;
            }
        }
    }

    .#{$id}-reason-for-stay-container {
        display: flex;
        align-items: center;
        gap: 12px;
        flex-wrap: wrap;

        h3 {
            font-family: 'FS Albert Light';
            font-size: 16px;
        }

        .#{$id}-reason-for-stay-radio {
        display: flex; 
        gap: 12px;
        margin: 0;
        font-size: 16px;
        
            label {
                margin: 0;
            }
        }

        .#{$id}-error-style {
            font-family: 'FS Albert Light';
            color: #c52633;
            font-size: 16px;
        }
    }

    .pgCheckoutLogin #billAddress {
        padding-left: 50px!important;
    }

    .pgCheckout .main {
        div.checkout-booking-summary-container {
            padding: 20px 60px 20px!important;
            @media screen and (max-width: 430px) {
                padding: 20px 10px 20px!important;
                
            }
            margin-top: 0!important;
        }

        .#{$id}-booking-total-section {
            @media screen and (max-width: 430px) {
                font-size: 16px;
                strong {
                    font-size: 16px;
                }
            }
        }

        form.chForm {
            margin-top: 0;
            padding: 20px 60px 20px!important;
            @media screen and (max-width: 430px) {
                padding: 20px 10px 20px!important;
            }

            .wrapDebitBil {
                .#{$id}-radio-button {
                    position: absolute;
                    top: 10px;
                    left: 10px;
        
                    @media screen and (max-width: 767px) {
                        top: 20px;
                        left: 20px;
                    }
        
                    input[type=radio]+label:after {
                        height: 12px;
                        width: 12px;
                    }
                }
        
                .panel-heading span.priceCorner {
                    display: none!important;
                }
                .panel-heading:before {
                    display: none!important;
                }
        
                .panel-heading {
                    background-color: #f4f4f4;
                    padding: 10px 20px!important;
                }
                
                .panel-default div.panel-heading.collapsed {
                    background-color: #f4f4f4!important;
                }
        
                @media screen and (max-width: 767px) {
                    .#{$id}-debit-card #payment_postcodeLookup {
                        font-size: 1.6rem!important;
                    }
                    .#{$id}-debit-card .panel-collapse div.panel-body {
                        padding-bottom: 0!important;
                    }
        
                    .#{$id}-debit-card .btnNotInUk {
                         margin-bottom: 10px;
                    }

                    .#{$id}-debit-card #manualAddress .fieldCountry {
                        margin-bottom: 20px;
                    }
                }

                @media screen and (min-width: 768px) {
                    .debit-card-form-element #payment_postcodeLookup {
                        font-size: 20px!important;
                        margin-top: 29px;
                    }

                    .debit-card-form-element .storedaddresses {
                        margin-top: 0;
                    }
                }
        
            }
        }
    } 
}
