@import "./variables";

// $max-width: 1019px;
$max-width: 1019px;

.#{$id} {
  .row.template_row_spacer {
    display: none;
  }
  &--x-hidden {
    display: none;
  }
  &--x-not-visible {
    visibility: hidden;
  }
  &-newKeyFeatures {
    h2,
    h3,
    p,
    a,
    li {
      font-family: "Boots Sharp" !important;
    }
    padding: 35px 45px 35px 60px;
    margin-top: 30px;
    @media screen and (max-width: $max-width) {
      padding: 35px 15px;
    }
    font-style: normal;
    font-weight: 300;
    text-align: center;
    background: #f7f7f9;
    box-shadow: 0px 4px 25px rgba(220, 220, 220, 0.25);
    &-title {
      font-size: 22px;
      line-height: 32px;
      letter-spacing: 4.7px;
      color: #05054b;
      margin-bottom: 18px;
    }
    &-description {
      font-size: 16px;
      line-height: 24px;
      color: #333333;
      max-width: 1023px;
      margin: 0 auto;
      margin-bottom: 20px;
      &.auto-ellipsis {
        @media screen and (max-width: $max-width) {
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
        }
        @media screen and (max-width: 600px) {
          max-width: 300px;
        }
      }
    }
    &-accordion {
      margin-bottom: 66px;
      .acc-container {
        .acc-head {
          a {
            cursor: pointer;
          }
          font-weight: 700;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 1px;
          text-decoration-line: underline;
          color: #05054b;

          .view-full {
            span {
              display: inline-block;
              vertical-align: -3px;
              margin-left: 10px;
              height: 15px;
              width: 15px;
              background: url('https://boots.scene7.com/is/image/Boots/ABTESTING%5Fchevron%5Fdown?scl=1&fmt=png-alpha') no-repeat center;
              background-size: contain;
            }
          }
          .view-less {
            span {
              display: inline-block;
              vertical-align: -3px;
              margin-left: 10px;
              height: 15px;
              width: 15px;
              background: url('https://boots.scene7.com/is/image/Boots/ABTESTING%5Fchevron%5Fup?scl=1&fmt=png-alpha') no-repeat center;
              background-size: contain;
            }
          }
        }
        .acc-content {
          display: none;
          //   margin-top: 40px;
          padding-top: 20px;
          margin-bottom: 35px;
          #estore_product_longdesc {
            width: 100%;
            text-align: left;
            & > h2 {
              img {
                @media (max-width: 600px) {
                  display: none !important;
                }
              }
            }
            #contentOmnipresent {
              @media (max-width: 600px) {
                margin: 0 0 18px 0px;
              }
            }
            @media (min-width: 1281px) {
              width: 100%;
            }
          }
          // &-body {
          //   position: relative;
          //   display: flex;
          //   flex-direction: row;
          //   justify-content: flex-start;
          //   align-items: flex-start;
          //   gap: 70px;
          //   margin-bottom: 55px;
          //   &::after {
          //     content: "";
          //     position: absolute;
          //     width: 1px;
          //     border-right: 1px solid rgba(187, 187, 187, 0.25);
          //     top: 0;
          //     left: 49.5%;
          //     height: 100%;
          //   }
          //   @media screen and (max-width: $max-width) {
          //     flex-direction: column;
          //     gap: 30px;
          //     &::after {
          //       display: none;
          //     }
          //   }
          // }
          // &-description,
          // &-keyFeatures {
          //   flex: 1 1 50%;
          //   text-align: left;
          //   font-size: 16px;
          //   line-height: 24px;
          //   color: #333333;
          //   h3 {
          //     font-weight: 700;
          //     line-height: 24px;
          //     font-size: 16px;
          //     color: #05054b;
          //   }
          // }
          // &-footer {
          //   max-width: 1023px;
          //   margin: 0 auto;
          // }
          // // ickle-bubba
          // .#{$id}-ickle-bubba {
          //   #estore_product_longdesc {
          //     width: 100%;
          //     & > h2 {
          //       display: none;
          //     }
          //     @media (min-width: 1281px) {
          //       width: 100%;
          //     }
          //   }
          // }
        }
      }
    }
    .related-products-desktop {
      display: flex;
      justify-content: space-around;
      align-items: center;
      .related-products-view {
        max-width: 201px;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // justify-content: center;
        &-image {
          width: 196px;
          height: 196px;
          //   margin: 0 auto;
          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
        &-desc {
          line-height: 24px;
          //   margin: 0 auto;
          // max-width: 201px;
          margin-top: 31px;
        }
      }
    }
    .related-products-slick {
      @media screen and (max-width: 770px) {
        .slick-list {
          padding: 0 !important;
        }
      }
      .related-products-view {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &-image {
          width: 196px;
          height: 196px;
          margin: 0 auto;
          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
        &-desc {
          line-height: 24px;
          margin: 0 auto;
          max-width: 201px;
          margin-top: 31px;
        }
      }
      .slick-arrow {
        position: absolute;
        top: 35%;
        width: 30px;
        height: 30px;
        background-color: #fff;
        border: 1px solid #d0d0d0;
        z-index: 1;
        cursor: pointer;
        svg {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        // &::after {
        //   font-size: 15px;
        //   font-weight: 700;
        //   color: #333;
        //   font-family: swiper-icons;
        //   text-transform: none !important;
        //   letter-spacing: 0;
        //   font-variant: initial;
        //   line-height: 1;
        //   top: 50%;
        //   left: 50%;
        //   transform: translate(-50%, -50%);
        //   position: absolute;
        // }
        &.slick-slider-next {
          right: 0;
          @media screen and (max-width: 350px) {
            right: -15px;
          }
          // &::after {
          //   content: "next";
          // }
        }
        &.slick-slider-prev {
          left: 0;
          @media screen and (max-width: 350px) {
            left: -15px;
          }
          // &::after {
          //   content: "prev";
          // }
        }
      }
    }
  }
  &-newDeliveryAndFinance {
    h2,
    h3,
    p,
    span {
      font-family: "Boots Sharp" !important;
    }
    p {
      .text-hidden {
        display: none;
      }
      .text-show {
        display: inline-block;
      }
      @media screen and (max-width: $max-width) {
        .text-hidden {
          display: inline-block;
        }
        .text-show {
          display: none;
        }
      }
    }
    padding: 35px 45px 35px 60px;
    @media screen and (max-width: $max-width) {
      padding: 35px 15px;
    }
    background: #f7f7f9;
    box-shadow: 0px 4px 25px rgba(220, 220, 220, 0.25);
    &-wrapper {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 80px;
      &::after {
        content: "";
        position: absolute;
        width: 1px;
        border-right: 1px solid rgba(187, 187, 187, 0.25);
        top: 0;
        left: 49.5%;
        height: 100%;
      }
      @media screen and (max-width: $max-width) {
        flex-direction: column;
        gap: 50px;
        &::after {
          display: none;
        }
      }
    }
    .#{$id} {
      &-Delivery,
      &-Finance {
        flex: 1 1 50%;
        @media screen and (max-width: $max-width) {
          width: 100%;
        }
        .text-heading {
          font-style: normal;
          font-weight: 300;
          font-size: 22px;
          line-height: 32px;
          letter-spacing: 4.7px;
          color: #05054b;
          margin-bottom: 28px;
          @media screen and (max-width: $max-width) {
            text-align: center;
          }
        }
        h3,
        p,
        span {
          font-style: normal;
          font-size: 16px;
          line-height: 24px;
        }
        p,
        span {
          font-weight: 300;
          color: #333333;
        }
        .text-heading-bold {
          font-weight: 700;
          color: #05054b;
        }
      }
      &-Delivery {
        a {
          font-weight: 400;
          text-decoration: underline;
        }
      }
      &-Delivery-options {
        margin-bottom: 30px;
        // p span {
        //   display: none;
        // }
      }
      &-Finance {
        &-paypal {
          margin-bottom: 20px;
        }
        .finance-description {
          margin-bottom: 15px;
        }
        svg {
          margin: 15px 0 20px 0;
        }
        .finance-list {
          p {
            // display: block;
            margin-bottom: 30px;
            .text-bold {
              font-weight: 600;
            }
          }
        }
      }
    }
    &-Delivery-accordion {
      .acc-container {
        .acc-head {
          a {
            cursor: pointer;
            font-weight: 700;
          }
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 1px;
          text-decoration-line: underline;
          color: #05054b;
          display: none;
          @media screen and (max-width: $max-width) {
            display: block;
          }
        }
        .acc-content {
          @media screen and (max-width: $max-width) {
            display: none;
            padding-bottom: 30px;
          }
          @media screen and (min-width: 1020px) {
            display: block !important;
          }
        }
      }
    }
    &-Finance-accordion {
      .acc-container {
        .acc-head {
          a {
            cursor: pointer;
            font-weight: 700;
          }
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 1px;
          text-decoration-line: underline;
          color: #05054b;
          display: none;
          @media screen and (max-width: $max-width) {
            display: block;
          }
        }
        .acc-content {
          @media screen and (max-width: $max-width) {
            display: none;
            // padding-bottom: 30px;
          }
          @media screen and (min-width: 1020px) {
            display: block !important;
          }
        }
      }
    }
  }
}
