@import './variables';

.#{$id} {
  &-1 {
    ._2hopKH {
      &.#{$id}__reviewWrapper {
        margin: 0 0 0 15px;
        button[type='button'] {
          width: 100%;
        }

        button {
          &:last-child {
            margin-right: 0 !important;
          }
        }

        button.kyAUlC {
          font-family: Arial;
          font-size: 12px;
          font-weight: 400;
          line-height: 14px;
          padding: 0;
          margin: 5px 16px 0 0;

          @media screen and (min-width: 1025px) and (max-width: 1076px) {
            margin: 5px 5px 0 0;
          }
        }

        @media screen and (min-width: 1025px) and (max-width: 1076px) {
          margin: 0 0 0 10px;
        }

        @media screen and (max-width: 640px) {
          display: none;
        }
      }

      [data-qaid='rating-stars_number-reviews'] {
        svg {
          width: 98px;

          @media screen and (max-width: 374px) {
            width: 65px;
          }
        }
      }

      button.kyAUlC {
        font-family: Arial;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
      }
    }

    ._2hopKH:not(.#{$id}__reviewWrapper) {
      display: none;

      @media screen and (max-width: 640px) {
        display: block;
      }
    }

    @media (min-width: 641px) and (max-width: 1024px) {
      .CplG7F {
        max-width: 310px;
        width: 100%;
        margin-top: 38px;
      }
    }
  }
}
