@import "./variables";

.#{$id} {
  &.#{$id}-1 .#{$id}_wrapper {
    padding-bottom: 0;
  }
  .#{$id}_content {
    max-width: 700px;
    text-align: center;
  }

  .#{$id}_numbers {
    display: flex;
    justify-content: center;
    margin: 24px 0;
    @media (max-width: 450px) {
      justify-content: space-between;
    }
    > div {
      width: 120px;
      margin: 0 32px;

      @media (max-width: 768px) {
        width: auto;
        margin: 0 12px;
      }
    }
  }

  .#{$id}_number {
    font-size: 48px;
    display: block;
    font-weight: bold;
    line-height: 1;

    @media (max-width: 768px) {
      font-size: 32px;
    }
  }

  .#{$id}_label {
    color: #b82619;
    font-size: 14px;
    font-weight: bold;
  }
  .#{$id}_title {
    font-size: 30px;
    line-height: 35px;
    color: white;
    font-weight: 700;
    text-align: center;
  }

  .#{$id}_video {
    display: flex;
    align-items: center;
  }

  .#{$id}_cta {
    text-align: center;
    margin-top: 64px;

    p {
      font-size: 18px;
      line-height: 20px;
      font-weight: bold;
      margin-bottom: 24px;
    }

    @media (max-width: 768px) {
      margin-top: 32px;

      p {
        font-size: 16px;
        text-align: left;
        margin-bottom: 18px;
      }
    }
  }
}
