.HD019{
  .HD019-top_usp {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    text-align: center;
  }
  .HD019-QA_message {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-top: 10px;
    padding-bottom: 10px;
    .HD019-text {
      padding-left: 62px;
      position: relative;
      h3{
        padding-top: 0px;
        margin-bottom: 0px;
      }
      &::before{
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-image: url('//useruploads.visualwebsiteoptimizer.com/useruploads/332107/images/958ca13b6d2d0a362bef6166b70b88a2_badge_%281%29.png');
        height: 50px;
        width: 50px;
        background-size: contain;
        background-repeat: no-repeat;    
      }
      p{
        margin-bottom: 0px;
      }
    }
  }
  .HD019-pricePerBat{
    padding: 10px;
    padding-left: 20px;
    position: relative;
    background: #d3eab3;
    color: black;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    &::before{
      background-image: url('//useruploads.visualwebsiteoptimizer.com/useruploads/332107/images/ae878f2c807b71af855091a39bc47003_tick.png');
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 15px;
      height: 20px;
      width: 20px;
      -moz-background-size: contain;
      -o-background-size: contain;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  @media(min-width:375px){
    .product__actions{
      display: inline-block;
      vertical-align: middle;
    }
    .HD019-pricePerBat{
      display: inline-block;
      width: 53%;
      vertical-align: middle;
      padding: 3px;
      padding-left: 46px;
      margin: 6px;
      margin-top: 13px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 9px;
      margin-left: 13px;
      text-align: left;
    }
  }
  @media (min-width: 767px) {
    .HD019-pricePerBat {
      display: inline-block;
      width: 54%;
      vertical-align: middle;
      padding: 3px;
      box-sizing: border-box;
      padding-left: 51px;
      margin: 6px;
      margin-right: 0;
      margin-top: 13px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 2px;
      margin-left: 13px;
      text-align: left;
      &::before{
        left: 20px;
      }
    }
  }
  @media (min-width: 900px) {
    .HD019-pricePerBat {
      width: auto;
      padding-right: 20px;
    }
  }
}