@import './variables';

.#{$id} {
  &.#{$id}-noScroll{
    overflow: hidden;
}

.#{$id}-overlay {
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 999;
    display: none;
    &.#{$id}-overlayShow {
        display: block;
    }
  }

  .#{$id}-lightboxModal {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 400px;
    background: white;
    z-index: 9999;
    padding: 10px;
    font-family: "Oxygen",sans-serif;
    &.#{$id}-modalShow {
      display: block;
  }
  .#{$id}-modalInner {
      max-width: 80%;
      margin: 0 auto;
  }

    .#{$id}-icon {
      width: 100px;
      height: 90px;
      margin: 0 auto;
      background: url('https://service.maxymiser.net/cm/images-us/ernestjones-co-uk/9ECF923DC7BE14037363D48D9D9C13C6621BDB21D1423B97BC18FF3AC08BDB88.png?meta=/SG094---Location-Based-Appointment-PopUp/noun_VideoCall_2919551.png') no-repeat center;
      background-size: contain;
    }
    .#{$id}-close {
      position: absolute;
      top: 10px;
      right: 10px;
      height: 25px;
      cursor: pointer;
      width: 25px;
      background: url('https://service.maxymiser.net/cm/images-us/ernestjones-co-uk/A8AA7AFA642C288985FB18CE937B27590E9A396A5C502BD49E06ACEB863BE9C8.png?meta=/SG094---Location-Based-Appointment-PopUp/noun_Close_3536994.png') no-repeat center;
      background-size: contain;
    }
    .#{$id}-titleBox {
      h3 {
        color: black;
        text-align: center;
        line-height: 24px;
        margin-bottom: 10px;
      }
    }
    p {
      text-align: center;
      line-height: 18px;
      margin-bottom: 20px;
    }

    .#{$id}-button {
      padding: 8px 10px;
      margin: 0 auto;
      line-height: 24px;
      background: black;
      border: 1px solid black;
      color: white;
      text-decoration: none;
      font-family: "Oxygen",sans-serif;
      font-weight: 600;
      display: block;
      max-width: 250px;
      text-align: center;
      margin-bottom: 10px;
      box-sizing: border-box;
      &:hover {
        background: white;
        color: black;
      }
    }
  }

  &.hsamuel {
    .#{$id}-lightboxModal {
      font-family: "Montserrat",sans-serif;
      h3 {
        margin-top: 0;
        font-size: 17px;
        @media(min-width: 767px) {
          font-size: 19px;
        }
      }
      .#{$id}-modalInner {
        max-width: 95%;
        @media(min-width: 767px) {
          max-width: 90%;
        }
      }
      p {
        margin-top: 0;
        margin-bottom: 10px;
        font-family: "Montserrat",sans-serif;
        font-weight: 500;
        color: #5d5d5d;
      }
      .#{$id}-icon {
        background: url('https://service.maxymiser.net/cm/images-us/ernestjones-co-uk/85783BAE31AC739E020CDE122D9B4A6485C596F384C161FD39D223BE5F207AFA.png?meta=/SG094---Location-Based-Appointment-PopUp/noun_VideoCall_29195511.png') no-repeat center;
        background-size: contain;
      }
      .#{$id}-button {
        background: #a01d29;
        border: 1px solid #a01d29;
        padding: 8px 10px;
        font-family: "Montserrat",sans-serif;
        margin-top: 20px;
        &:hover {
          background: white;
          color: #a01d29;
        }
      }
    }
  }

  &.ernestjones {
    // EJ-specific styles
  }
}
