.HD007 {
  .hd07-popup {
    position: fixed;
    top: 0; right: 0; left: 0; right: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    text-align: center;
    display: table;
    background-color: #fff;
    background-color: rgba(255,255,255,0.7);

    .hd07-popup--wrap {
      display: table-cell;
      vertical-align: middle;
      padding: 0 2.5%;
      
      .hd07-popup--container {
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 25px 3%;
        max-width: 490px;
        margin: auto;
        position: relative;
        @media screen and (max-height: 599px) {
          max-height: 480px;
          overflow-y: auto;
        }
      }

      h2 {
        font-weight: 700;
        font-size: 1.2em;
        margin-bottom: 22px;
      }
      p, ul li {
        margin-bottom: 12px;
        font-size: 1em;
        line-height: 1.6em;
      }

      // Discount box
      .hd07-wrap--box {
        border: 1px solid #222;
        width: 100%;
        height: 65px;
        display: table;
        margin: 25px 0 15px 0;

        p {
          display: table-cell;
          vertical-align: middle;
          font-size: 1.6em;
          line-height: 1.8em;
          font-weight: 700;
        }

      }

      // Button styles
      button {
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        background-color: #222;
        border: none;
        padding: 12px 32px;
        cursor: pointer;
      }

      // Close icon
      .hd07-close {
        position: absolute;
        width: 30px;
        height: 30px;
        background-color: #222;
        color: #fff;
        border: none;
        border-radius: 50%;
        top: -12px;
        right: -12px;
        padding-top: 11px;
        cursor: pointer;
        @media only screen and (max-width: 399px) {
          top: 0;
          right: 0;
        }
        @media screen and (max-height: 599px) {
          top: 0;
          right: 0;
        }

        span {
          background-color: #fff;
          width: 23px;
          height: 2px;
          display: block;
          margin: auto;

          &:first-of-type {
            transform: rotate(45deg);
            transform-origin: 9px;
          }
          &:last-of-type {
            transform: rotate(-45deg); 
          }

        }

      }

    }

    // Variation 2
    &.hd07-popup2 {
      .hd07-popup--wrap {
        .hd07-popup--container {
          padding: 25px 25px 0 25px;
          border: 1px solid #ccc; 

          // Tick list
          ul.hd07-wrap--ticklist {
            margin: 30px 0;
            text-align: left;
            list-style-type: none;

            li {
              padding-left: 40px;
              background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAMxwAADMcBrInqMQAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAFjSURBVEiJtda/Sh1BFMfxz1HQwkpMEYtbqI2NVnZ2prIUbLQUrHwBn0H0CQRfIIV1mpAqRVIEAjYqaOEtLCwEQUTunRTZyDLs3j9x98BpZn7z/Z3ZObNMpJS0GROt0tsyiIj5iJhqxSAiDtDFz4iYk1JqLLGHPlKR3xrbQUTs4BRRGu41VfkWXkuVJ/zCbBPwTbxk8At8SCl5L3wDzxn8CvNvmnfA1/GUwW/RyXQCR/iBhRHha3jM4F0sVWidlETX+DgEvoqHDH6P5Rq9m0z8G7M14uUCVtY/YHVAQT5VdMF3zGTCRdxlukesDdxxsXgbvWzxF0wV853iAMvzT1gfel6lCvczQMJnrOAyG3/GxkgNkX2GwwqTPF+wOXI7VxzK8QD4K7bGui8VBoGzCngPu2NfyJrWmsR5Cd7H3rjwWoPCZBpfC4OD/4GnlMS/y1AVETHp74/rrlY0JAYaNBGtvyr+APvwQRR4lpK3AAAAAElFTkSuQmCC') no-repeat 5px 2px;
              background-size: 20px;
            }

          }

          // Google banner 
          .hd07-google-banner {
            background-color: #f1f1f1;
            margin-top: 25px;
            position: static;
            padding: 12px 5px;

            img, p, a {
              display: inline-block;
              vertical-align: middle;
              // width: calc(100% / 3);
            }
            img {
              max-width: 60px;
            }
            p, a {
              font-size: .7em;
              line-height: 1.2em;
            }
            p {
              margin-bottom: 0;
              padding: 0 15px;
            }
            a {
              font-weight: 700;
              color: #222;
              text-decoration: none; 
            }

          }

        }
      }
    }

  }
}