@import './variables';

.#{$id} {


    &.#{$id}-experiment-started {

        .breadcrumbs.grid-wrapper {
            display: none !important;
            visibility: hidden !important;
        }

        .hero-banner__content {
            display: none !important;
        }

        .hero-banner__additional-subtext ul li {
            margin-bottom: 1.5rem;
            font-weight: 600;
        }

        .#{$id}-section {
            padding: 0;
        }

    }


}
