@import './variables';
@import './scss/overlay';

.#{$id} {
    // Button styles
    .area_branch_details .address .add-dl-bottom .btn {
        font-size: 16px;
        background-position: 0;
    }
    .address dl:last-child {
        display: flex;
    }
}