/* Add some styles to get started */
.PU017{

  .PU017_usp-wrapper{
    background-color: #F8F8F8;
    // position: relative;
  }

  .PU017_usp-items{
    padding-top: 5%;

    ul{
      list-style-type: none;

      .PU017-icon{
        width: 40%;
        display: inline-block;
        margin-left: 10%;
        height: 50px;

        p{
          display: block;
          position: relative;
          text-align: left;
          // inline-size: 40%;
        }

        &.PU017-prescription{
          p::before{
          background-image: url('//cdn.optimizely.com/img/7714711789/e367417bb3bf4b4ab996b915d96a40cf.png');
          background-size: 100%;
          background-repeat: no-repeat;
          content: '';
          display: block;
          height: 33px;
          width: 30px;
          position: absolute;
          right: 100%;
          margin-right: 10px;
          }
        }

        &.PU017-doctors{
          p::before{
          background-image: url('//cdn.optimizely.com/img/7714711789/b270fec493b142bdb7553fee71c9ca11.png');
          background-size: 100%;
          background-repeat: no-repeat;
          content: '';
          display: block;
          height: 30px;
          width: 30px;
          position: absolute;
          right: 100%;
          margin-right: 10px;
          }
        }

        &.PU017-hours{
          p::before{
          background-image: url('//cdn.optimizely.com/img/7714711789/1e7f518444f6460e88c8552e61ff725d.png');
          background-size: 100%;
          background-repeat: no-repeat;
          content: '';
          display: block;
          height: 35px;
          width: 30px;
          position: absolute;
          right: 100%;
          margin-right: 10px;
          }
        }

        &.PU017-training{
          p::before{
          background-image: url('//cdn.optimizely.com/img/7714711789/c9a2ea5160604b38a65414833a48fbee.png');
          background-size: 100%;
          background-repeat: no-repeat;
          content: '';
          display: block;
          height: 33px;
          width: 38px;
          position: absolute;
          right: 100%;
          margin-right: 10px;
          }
        }
      }
    }
  }

  .PU017_usp-wrapper__middle{
    background-color: #F8F8F8;
    // position: relative;
  }

  .PU017_usp-items__middle{
    padding-top: 5%;

    ul{
      list-style-type: none;

      .PU017-icon{
        width: 40%;
        display: inline-block;
        margin-left: 10%;
        height: 50px;

        p{
          display: block;
          position: relative;
          text-align: left;
          // inline-size: 40%;
        }

        &.PU017-hours{
          p::before{
          background-image: url('//cdn.optimizely.com/img/7714711789/1e7f518444f6460e88c8552e61ff725d.png');
          background-size: 100%;
          background-repeat: no-repeat;
          content: '';
          display: block;
          height: 35px;
          width: 30px;
          position: absolute;
          right: 100%;
          margin-right: 10px;
          }
        }

        &.PU017-training{
          p::before{
          background-image: url('//cdn.optimizely.com/img/7714711789/c9a2ea5160604b38a65414833a48fbee.png');
          background-size: 100%;
          background-repeat: no-repeat;
          content: '';
          display: block;
          height: 33px;
          width: 38px;
          position: absolute;
          right: 100%;
          margin-right: 10px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 330px) {
    .PU017_usp-wrapper{
      .PU017_usp-items{
        ul{
          margin-top: 5%;
          margin-bottom: 5%;
          margin-left: 15%;
          margin-right: 10%;

          .PU017-icon{
            width: 70%;
          }
        }
      }
    }
  }
}