/* Add some styles to get started */
.MP034 .variant-selector {
  display: none; }

.MP034 .MP034_options {
  float: left; }
  .MP034 .MP034_options h3 + * {
    margin-top: 10px; }
  .MP034 .MP034_options .MP034_options_row {
    font-size: 14px;
    position: relative; }
    .MP034 .MP034_options .MP034_options_row a {
      padding: 5px 0;
      line-height: 20px;
      display: inline-block;
      border: 1px solid #000;
      max-width: 110px;
      width: 100%;
      text-align: center;
      position: absolute;
      left: 0;
      top: 0;
      -webkit-transition: all 200ms ease-out;
      -moz-transition: all 200ms ease-out;
      -o-transition: all 200ms ease-out;
      transition: all 200ms ease-out; }
      .MP034 .MP034_options .MP034_options_row a:hover, .MP034 .MP034_options .MP034_options_row a.MP034_active {
        text-decoration: none;
        background: #000;
        color: #fff; }
    .MP034 .MP034_options .MP034_options_row span {
      display: inline-block;
      padding-left: 130px;
      padding-top: 6px;
      line-height: 20px; }
    .MP034 .MP034_options .MP034_options_row + .MP034_options_row {
      margin-top: 15px; }
  .MP034 .MP034_options + .variant-selector + .qty-block {
    margin-top: 30px; }

.MP034 .MP034_range {
  display: inline-block;
  text-decoration: underline;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  font-size: 16px;
  margin-bottom: 10px; }
  @media (min-width: 1370px) {
    .MP034 .MP034_range {
      margin-bottom: 0;
      position: absolute;
      top: 0;
      left: 100%;
      white-space: nowrap;
      line-height: 19px; } }
  .MP034 .MP034_range:hover {
    text-decoration: none; }
