@import './variables';

.#{$id} {
  .#{$id}-pclub-banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #f4f6f8;
    font-family: 'F37 Ginger Bold', Tahoma, Arial, sans-serif;
    font-size: 14px;
    border-radius: 3px;

    &.#{$id}-variation-1 {
      @media (min-width: '1200px') {
        font-size: 18px;
      }
    }
  }

  .#{$id}-pclub-banner-content {
    flex: 1 1 160px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;

    @media (min-width: '700px') {
      &.#{$id}-centred {
        max-width: 75%;
        margin-left: auto;
      }
    }

    p {
      flex-grow: 1;
      color: #e40375;
      font-weight: 400;
      line-height: 1.2;
      margin-top: 12px;
      margin-right: 12px;
      margin-bottom: 12px;
    }

    a {
      position: relative;
      align-self: center;
      color: #333333;

      &::before {
        content: '';
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #333333;
        transition: height 0.2s ease;
      }
    }
  }

  .#{$id}-pclub-banner-logo {
    display: flex;
    width: 100%;
    max-width: 110px;
    padding: 15px;

    img {
      width: 100%;
    }
  }
}
