// Note: Desktop First
$break-medium: 767px;
$break-large: 991px;

.MP122 {
  // Hide Video 
  .videomain.col-xs-12.col-sm-6.col-md-6.col-lg-6 {
    display: none;
  }

  .MP122-pushchairsWrapper__top, .MP122-pushchairsWrapper__bottom {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;

    .MP122-pushchairs__title {
      display: inline-block;
      position: relative;
      width: 20%;

      .MP122-title {
        font-size: 1.5em;
        font-weight: 700;
        color: #4A4A4A;

        &:before, &:after {
          content: '';
          position: absolute;
          height: 5px;
          border-bottom: 3px solid #D8D8D8;
          top: 10px;
          width: 38vw;
        }

        &:before {
          right: 100%;
          // margin-right: 10px;
        }
        &:after {
          left: 100%;
          // margin-left: 10px;
        }
      }
    }
  }

  .MP122-compareCtaWrapper {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;

    .MP122-compareCta {
      #MP122-ctaBtn {
        width: 210px;
        margin: auto;
        color: #FFF;
        background-color: #323232;
        border: 1px solid #323232;
        font-size: 1.2em;
        font-weight: 300;
        padding: 10px 0 10px 0;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  .MP122-topCompareCta {
    display: inline-block;
    background: black;
    color: white;
    padding: 12px 5px;
    text-transform: uppercase;
    margin-top: 10px;
    min-width: 90%;

    &:hover {
      opacity: .8;
    }
  }

  // ~ Colour Picker
  .MP081_ColourPicker {
    margin: 15px 0;
    width: 100%;
    position: relative;

    @media screen and (max-width: $break-large) {
      margin-top: 20px;
      display: inline-block;
      width: 50%;
      vertical-align: top;
    }

    @media screen and (max-width: $break-medium) {
      display: block;
      width: 100%;
      margin: 15px 0 30px 0;
    }

    .MP122-menuIconWrap {
      width: 10%;
      display: inline-block;
      position: absolute;
      right: 15px;
      top: 10px;

      .MP122-menuIcon {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .MP081_ColourPicker__options {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: inline-block;

    

    .MP081_ColourPicker__option {
      width: 20px;
      height: 20px;
      margin-left: 2px;
    }

    @media screen and (max-width: $break-large) {
      display: inline-block;
    }

    > li {
      margin: 10px 7px;
      display: inline-block;
      position: relative;

      @media screen and (max-width: $break-large) {
        //margin: 20px 0px;
        //display: block;

        // &:first-of-type {
        //   margin-top: 10px;
        // }
    
        // &:last-of-type {
        //   margin-bottom: 10px;
        // }

        &:after {
          content: '';
          display: block;
          clear: both;
        }
      }

      .MP081__tooltip {
        width: auto;
        white-space: nowrap;
        margin-bottom: 12px;
        cursor: pointer;

        @media screen and (max-width: $break-large) {
          display: none !important;
          // transform: none;
          // float: left;
          // margin-bottom: 0;
          // padding: 8px;
          // background: none;
          // color: black;
          // display: block;
          // position: static;

          &:after {
            display: none;
          }
        }

        h3 {
          padding: 0;
          margin: 0;

          @media screen and (max-width: $break-large) {
            font-weight: 400;
          }
        }
      }

      &:hover .MP081__tooltip {
        display: block;
        animation: MP081_fadeIn .3s;
      }

      &:first-of-type {
        margin-left: 0;
      }
  
      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  div.MP122-menuIcon {
    display: inline-block;
    width: 22px;
    height: 22px;
    background-image: url('https://dd6zx4ibq538k.cloudfront.net/static/images/4068/0fdbc31eb4e0b7db96c7a8f7421b5aaa_64_64.png');
    background-repeat: no-repeat;
    background-size: 100%;
    // position: relative;
    // left: 8vw;
    // top: 1px;
  }

  .MP081_ColourPicker__option {
    display: inline-block;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    cursor: pointer;
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    @media screen and (max-width: $break-large) {
      height: 30px;
      width: 30px;
      float: left;
    }
  }

  .MP081_ColourPicker__label {
    display: none;
    text-align: center;
    font-weight: 400;
    font-size: 14px;

    @media screen and (max-width: $break-large) {
      display: block;
    }
  }

  /* Colour Options */
  .MP081_ColourPicker__option {
    background-size: 100px;

    &.MP081_ColourPicker__option--active {
      border: 2px solid #fff;
      box-shadow: 0px 0px 0px 2px rgb(0, 0, 0);
    }
    
    // ~ Generic
    &[data-colour="Grey Twill"] {
      background-color: #c2c6c5;
    }

    &[data-colour="Mulberry"] {
      background-color: #854965;
    }

    &[data-colour="Chestnut"] {
      background-color: #653219;
    }

    &[data-colour="Skyline Grey"] {
      background-color: #c2c6c5;
    }

    &[data-colour="Cloud Grey"] {
      background-color: #c2c6c5;
    }

    &[data-colour="Sage Green"] {
      background-color: #99a397;
    }

    &[data-colour="Dark Navy"] {
      background-color: #342f4a;
    }

    &[data-colour="Grey Marl"] {
      background-color: #c2c6c5;
    }
    
    &[data-colour="Light Grey"] {
      background-color: #c2c6c5;
    }

    &[data-colour="Grey"] {
      background-color: #c2c6c5;
    }

    &[data-colour="Navy"] {
      background-color: #342f4a;
    }

    &[data-colour="Stone"] {
      background-color: #dcbc74;
    }

    &[data-colour="Black"] {
      background-color: #000;
    }

    &[data-colour="Black/Rose Gold"] {
      background-color: #000;
    }

    &[data-colour="Black/Gold"] {
      background-color: #000;
    }

    &[data-colour="Rose Gold"] {
      background-color: #000;
    }

    &[data-colour="Black / Rose Gold"] {
      background-color: #000;
    }

    &[data-colour="Petrol Blue"] {
      background-color: #054a59;
    }

    &[data-colour="Rose Pink"] {
      background-color: #D3A6BE;
    }

    &[data-colour="Duck Egg"] {
      background-color: #90BEC0;
    }

    &[data-colour="Black - Cruise Twin"] {
      background-color: #000;
    }

    &[data-colour="Mint"] {
      background-color: #80B0AE;
    }

    &[data-colour="Plum"] {
      background-color: #854965;
    }

    &[data-colour="Anthracite"] {
      background-color: rgb(91, 82, 87);
    }

    &[data-colour="Paisley Rose"] {
      background-image: url('https://i1.adis.ws/i/mamasandpapas/paisley-swatch');
    }

    &[data-colour="Khaki"] {
      background-color: rgb(113, 98, 77);
    }

    &[data-colour="Amethyst"] {
      background-image: url('https://i1.adis.ws/i/mamasandpapas/5775ZZ800_01-OCARRO-JEWEL-AMYTHEST-CARRYCOT?w=500&h=500&sm=c');
      background-size: cover;
    }

    &[data-colour="Emerald"] {
      background-image: url('https://i1.adis.ws/i/mamasandpapas/5777M1400_01-OCARRO-JEWEL-EMERALD-CARRYCOT?w=200&h=200&sm=c');
      background-size: cover;
    }

    &[data-colour="Sapphire"] {
      background-image: url('https://i1.adis.ws/i/mamasandpapas/5775ZZ700_01-OCARRO-JEWEL-SAPPHIRE-CARRYCOT?w=200&h=200&sm=c');
      background-size: cover;
    }

    &[data-colour="Black Diamond"] {
      background-image: url('https://i1.adis.ws/i/mamasandpapas/5778Y800_01-OCARRO-JEWEL-BLACK-CARRYCOT?w=200&h=200&sm=c');
      background-size: cover;
    }

    &[data-colour="Grey/Coral"] {
      background-image: url(https://i1.adis.ws/i/mamasandpapas/flip-xt-coral-swatch);
      background-size: cover;
    }

    &[data-colour="Grey/Ice Blue"] {
      background-image: url(https://i1.adis.ws/i/mamasandpapas/flip-xt-grey-swatch);
      background-size: cover;
    }

    &[data-colour="Navy Marl"] {
      background-image: url(https://i1.adis.ws/i/mamasandpapas/flipxt-ocean-swatch?bri=60);
      background-size: cover;
    }

    &[data-colour="Light Grey Marl"] {
      background-color: #c2c6c5;
    }

    &[data-colour="Deep Ocean"] {
      background-color: #3b4e5c;
    }
  }

  // ~ Brand Specific Colour Swatch Changes
  &.MP081--Ocarro {
    .MP081_ColourPicker__option {
      &[data-colour="Grey Twill"] {
        background-image: url('https://i1.adis.ws/i/mamasandpapas/grey-swatch-grey-twill');
      }

      &[data-colour="Chestnut"] {
        background-image: url('https://i1.adis.ws/i/mamasandpapas/chestnut-swatch');
      }
    }
  }

  &.MP081--Urbo {
    .MP081_ColourPicker__option {
      &[data-colour="Chestnut"] {
        background-image: url('https://i1.adis.ws/i/mamasandpapas/chestnut-swatch');
      }

      &[data-colour="Dark Navy"] {
        background-image: url('https://i1.adis.ws/i/mamasandpapas/colour-swatches_urbo2_blue_denim');
      }
    }
  }

  &.MP081--FlipXT {
    .MP081_ColourPicker__option {
      &[data-colour="Chestnut"] {
        background-image: url('https://i1.adis.ws/i/mamasandpapas/chestnut-swatch');
      }
    }
  }

  &.MP081--Voyage {
    .MP081_ColourPicker__option {
      &[data-colour="Mulberry"] {
        background-color: #421a24;
      }
    }
  }

  // ~ Tooltips
  .MP081__tooltip {
    display: none;
    position: absolute;
    bottom: 100%;
    background: rgba(0, 0, 0, .9);
    padding: 10px;
    color: white;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
    border-radius: 2px;

    &.MP081__tooltip--leftAlign {
      right: initial;
      left: 0;
      transform: none;

      &:after {
        right: initial;
        left: 10px;
        transform: none;
      }
    }

    &.MP081__tooltip--rightAlign {
      left: initial;
      right: 0;
      transform: none;

      &:after {
        left: initial;
        right: 10px;
        transform: none;
      }
    }

    &:after {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 10px 0 10px;
      border-color: rgba(0, 0, 0, 0.9) transparent transparent transparent;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
    }

    h3 {
      font-weight: bold;
      margin: 0 0 5px;
      font-size: 14px;
    }

    p {
      display: block;
      margin: 0;
      padding: 0;
    }
  }

  .MP122-subTitle {
    font-size: 14px;
    margin-top: 8px;
  }

  .MP122-productWrap {
    overflow: hidden;

    .productCard_mediaContainer {
      padding: 0 20px;

      @media screen and (max-width: $break-large) {
        padding: 0;
      }
    }
  }

  // Bundles
  .MP122-bundleCardsWrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    transform: translateY(800px);
    transition: 0.5s transform;

    &.show {
      transform: translateY(0);
    }
    .MP122-bundleWrapper {
      width: 90%;
      height: 100%;
      background-color: #7CBAB3;
      opacity: .85;
      position: absolute;
      top: 0;
      transform: translateY(100%);
      transition: 0.5s transform;

      &.show {
        transform: translateY(0);
      }

      div.MP122-closeBundles {
        display: block;
        width: 25px;
        height: 25px;
        background-image: url('https://dd6zx4ibq538k.cloudfront.net/static/images/4068/6fdd1a833da6f477bbeda41a4c6a135f_32_32.png');
        background-repeat: no-repeat;
        background-size: 100%;
        position: absolute;
        right: 10px;
        top: 10px;

        &:hover {
          cursor: pointer;
        }
      }

      .MP122-bundles {
        display: block;
        position: relative;
        width: 100%;
        // margin-top: 100px;
        top: 50%;
        transform: translateY(-50%);

        ul.MP122-bundleOptions {
          text-align: center;
          list-style: none;
          padding: 0;
          color: #FFF;

          li.MP122-bundle__item {
            display: block;
            border: 1.5px solid #FFF;
            width: 70%;
            padding: 20px 0 20px 0;
            font-size: 1.2em;
            font-weight: 500;
            margin: auto;
            margin-bottom: 30px;
            opacity: 1 !important;
            cursor: pointer;
            transition: 0.3s background;

            &:hover {
              background-color: #aae0d9;
            }
          }
        }
      }

      // Animate Bundle Options
      .MP122-bundles li {
        transform: translateX(-400px) !important;
        transition: 1s all !important;
      }
      .MP122-bundles li:nth-of-type(1) {
        transition-delay: 0s !important;
      }
      .MP122-bundles li:nth-of-type(2) {
        transition-delay: 0.1s !important;
      }
      .MP122-bundles li:nth-of-type(3) {
        transition-delay: 0.2s !important;
      }
      .MP122-bundles li:nth-of-type(4) {
        transition-delay: 0.3s !important;
      }

      .MP122-bundles.show li {
        transform: translateX(0px) !important;
      }
    }
    .MP122-bundleDetailsWrapper {
      width: 90%;
      height: 100%;
      background-color: #FFF;
      position: absolute;
      top: 0;
      border: 5px solid #7CBAB3;
      transform: translateX(500px); /* > width of container */
      transition: 0.5s all;

      &.show {
        transform: translateX(0);
      }

      div.MP122-backArrow {
        display: block;
        width: 25px;
        height: 25px;
        background-image: url('https://dd6zx4ibq538k.cloudfront.net/static/images/4068/9059e59e1f86651a62a520bc4796c363_32_32.png');
        background-repeat: no-repeat;
        background-size: 100%;
        position: absolute;
        left: 10px;
        top: 10px;

        &:hover {
          cursor: pointer;
        }
      }

      div.MP122-closeDetails {
        display: block;
        width: 25px;
        height: 25px;
        background-image: url('https://dd6zx4ibq538k.cloudfront.net/static/images/4068/d9712b4c32368563aa323472160e4753_32_32.png');
        background-repeat: no-repeat;
        background-size: 100%;
        position: absolute;
        right: 10px;
        top: 10px;

        &:hover {
          cursor: pointer;
        }
      }

      .MP122-details {
        display: block;
        position: relative;
        width: 100%;
        margin-top: 50px;
        text-align: center;

        .MP122-bundleTitle {
          display: block;
          width: 90%;
          font-size: 1.15em;
          font-weight: 500;
          margin: auto;
          padding-top: 22px;
          padding-bottom: 22px;
        }
        .MP122-bundleImage {
          display: block;
          width: 80%;
          // height: 200px;
          height: 220px;
          // background-color: #7CBAB3;
          background-image: url('https://media.mamasandpapas.com/i/mamasandpapas/6220x7403_urbo2_skyline_grey_6piece_bundle?w=800');
          background-repeat: no-repeat;
          // background-size: 100%;
          background-size: 78%;
          background-position: center;
          margin: auto;
          // margin-top: 2vh;
        }
        .MP122-bundleInfo {
          font-weight: 500;
          width: 85%;
          margin: auto;
          line-height: 22px;
          margin-bottom: 20px;
        }
        .MP122-bundlePrice {
          display: block;
          width: 90%;
          margin: auto;

          span.MP122-isPrice {
            display: inline-block;
            font-weight: 600;
            padding-right: 10px;
            font-size: 1.2em;
          }
          span.MP122-wasPrice {
            display: inline-block;
            font-size: 1.1em;
            color: grey;
            text-decoration: line-through;
          }
        }
        .MP122-shopBtn {
          display: block;
          width: 100%;
          // margin-bottom: 5vh;
          margin-top: 40px;
          position: absolute;
          bottom: -50px;

          a {
            border: 1.5px solid #000;
            padding: 15px 40px 15px 40px;
            font-weight: 600;

            &:hover {
              background-color: #000;
              color: #FFF;
            }
          }
        }
      }
    }
  }
  // Hide Save Badge
  div {
    &.savebadge:nth-of-type(-n+4), &.stopratedbadge:nth-of-type(-n+4) {
      display: none !important;
    }
  }
  div.stopratedbadge:nth-of-type(-n+4) {
    display: none !important;
  }

  @media screen and (max-width: 450px){
    .MP122-pushchairsWrapper__top, .MP122-pushchairsWrapper__bottom {
      .MP122-pushchairs__title {
        width: 100%;
      }
    }
    .MP122-productWrap {
      width: 100%;

      .productCard_image {
        max-width: 60% !important;
      }
      .MP122-bundleDetailsWrapper {
        .MP122-bundleTitle {
          font-size: 1em !important;
          padding-top: 0 !important;
          padding-bottom: 5px !important;
        }
        .MP122-bundleImage {
          height: 180px !important;
          background-size: 67% !important;
        }
        .MP122-bundleInfo {
          line-height: 16px !important;
        }
      }
    }

    .MP081_ColourPicker {
      position: relative;
      left: 0;
    }

    @media screen and (max-width: 350px){
      .MP122-shopBtn {
        padding-bottom: 10px !important;
      }
    }
  }

  // Align center
  .productLister {
    text-align: center !important;

    .productCard_details.pt-4 {
      width: 100%;
    }
  }
}
