@import '../../variables';

// ----- Styles -----
.#{$id} {
  .#{$id}_LastViewedProducts-list_wrapper{
    width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      border-radius: 10px;
      background-color: #F5F5F5;
    }
    &::-webkit-scrollbar { 
      height: 5px;
      width: 20px;
      background-color: #F5F5F5;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      height: 5px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      background-color: #05caf7;
    }
  }
  .#{$id}_LastViewedProducts {
    width: 100%;
    transform: none;
    left: 0;

    .UC_fb-tab {
      text-transform: uppercase;
      font-weight: 700;
      padding: 18px 20px;
      text-align: left;
      transform: none;
      left: 0;
      background: #08c3f6;
      box-shadow: 0px 15px 100px 0px rgba(136, 136, 136, 0.75);
      &.#{$id}-tab_show{
        .UC_fb-tab__inner {
          &::after {
            transform: rotate(0deg);
          }
        }
      }
    }

    .UC_fb-tab__inner {
      color: white;
      font-weight: 800;
      position: relative;
      padding-right: 35px;
      &::after {
        content: '';
        position: absolute;
        background: url('//cdn.optimizely.com/img/6087172626/f83ce90bd32e409985ffbbb8da9a953a.png');
        right: 0;
        background-position: center;
        background-size: cover;
        top: 0;
        display: block;
        height: 15px;
        width: 15px;
        transform: rotate(180deg);
      }
    }

    .UC_fb-tab__close {
      font-size: 23px;
      line-height: 0;
      top: 24px;
      right: 15px;
    }

    .UC_fb-content {
      z-index: 99999;
      padding: 0px;
      max-height: 206px !important;
    }
  }

  .#{$id}_LastViewedProducts-list {
    list-style-type: none;
    white-space: nowrap;
    margin-bottom: 0;
  }

  .#{$id}_LastViewedProducts-item {
    width: 200px;
    text-align: center;
    vertical-align: top;
    padding: 20px;
    display: inline-block;
  }

  .#{$id}_LastViewedProducts-img {
    height: 100px;
    width: 100%;

    img {
      max-width: 100%;
      max-height: 100%;
      display: block;
      margin: 0 auto;
    }
  }

  .#{$id}_LastViewedProducts-name {
    font-size: 90%;
    padding-right: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: black;
    line-height: 120%;
    margin-top: 10px;
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .#{$id}_LastViewedProducts-price {
    color: #000;
    font-weight: bold;
    line-height: 100%;
    margin-bottom: 10px;
    font-size: 85%;
  }
}