@import './variables';

.#{$id} {
  .#{$id}__priceWrapper {
    float: right;
    text-align: right;

    & + .product__total {
      display: none;
    }
  }
  .#{$id}__oldPrice {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    color: #636363;
  }

  .#{$id}__newPriceWrapper {
    display: flex;
  }

  .#{$id}__savings {
    position: relative;
    width: max-content;
    align-self: center;
    background-color: #d0030b;
    font: 700 16px/24px Arial, sans-serif;
    border-radius: 2px 0 0 2px;
    color: #fff;
    padding: 0 2px 0 4px;
    margin: 2px 20px 0 5px;

    &::after {
      content: '';
      left: 100%;
      position: absolute;
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
      border-left: 12px solid #d0030b;
    }
  }
  .#{$id}__newPrice {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    color: #d0030b;
  }
}
