.TP097 {
  .accountOptionsBox {
    left: -130px;
    top: 46px;
    z-index: 999;
    .tpYourAccountOptions a {
      line-height: 41px;
    }
    &:hover {
      display: block !important;
    }
  }
  .tpHeaderLinks {
    display: none;
  }
  .TP097_nav-links {
    box-sizing: border-box;
    width: calc(100% - 290px);
    float: left;
    text-align: right;
    height: 66px;
    padding-top: 19px;
    .TP097_link {
      display: inline-block;
      padding: 0 8px;
      line-height: 18px; // Client amend - underline text on link hover
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
      &+.TP097_link {
        border-left: 1px solid;
      }
      &.TP097-name,
      &.TP097-name:hover {
        text-decoration: none;
        cursor: default;
      }
    }
  } // Amend change positioning of 'my account' arrow
  .TP097_link_dd {
    display: inline-block;
    position: relative;
    padding-right: 21px;
    &::after {
      content: "\f107";
      font-family: fontawesome;
      position: absolute;
      right: 12px;
      font-size: 16px;
      top: 0;
      width: 0;
      height: 0;
      border-top: 0;
      border-left: 0;
      border-right: 0;
    }
    &:hover {
      &::before {
        content: '';
        position: absolute;
        width: 140%;
        left: -24px;
        top: 100%;
        height: 44px;
      }
      .accountOptionsBox {
        display: block !important;
      }
    }
    .TP097_link {
      padding: 0 10px 0 0;
    }
  }
  #header .tpHeaderContent_holder .tpSiteLogo,
  &.feature-design #header .tpHeaderContent_holder .tpSiteLogo {
    width: 290px;
    margin-left: 0;
    margin-top: -7px;
  }
  #header .tpHeaderContent_holder .tpSearchBox {
    width: calc(100% - 200px);
    .siteSearch.search {
      input#search {
        width: 100%;
        box-sizing: border-box;
        height: 36px;
      }
    }
  }
  #header {
    padding-top: 1px;
  }
  #header .tpHeaderContent_holder .tpSearchBox form {
    left: -15px;
  }
  &.page-accountDashboard {
    #header .tpHeaderContent_holder {
      height: 175px;
      padding-top: 15px;
    }
  }
  &.TP011.page-accountDashboard .TP011_nav,
  &.TP011.page-accountDashboard .header_buttons {
    position: relative;
    z-index: 9999;
    top: -52px !important;
  } // Client Amend - Reduce distance between search bar and navigation
  #page>#header>.tpHeaderContent_holder {
    height: 100px;
  }
}