@import './variables';

.#{$id} {

  .GD017_container::after {
    display: none;
  }

  // Restyle offers
  .GD017_img-wrap {
    width: 37%;
    padding-right: 0;
  }

  .GD017_img-block {
    float: none;
    width: auto;
    padding: 0 0 0 10px;

    >label,
    >span {
      display: block;
    }

    label {
      margin: 0;
      font-size: 20px;
      line-height: 20px;
    }

    img {
      max-width: 100px;
      vertical-align: middle;
      display: inline-block;
    }

    .GD040_Offer_Text_Container {
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
    }
  }

  .GD017_img-block:not(:last-child) {
    margin-bottom: 10px;
  }

  .GD017_link-wrap {
    padding-left: 0;
    width: 35%;
  }

  .GD040_Size_Container {
    float: left;
    border-right: solid 1px #ffffff;
    border-left: solid 1px #ffffff;
    padding: 0 15px 5px 15px;
    width: 20%;
    margin: 0 20px;

    >span {
      display: block;
      color: #C4C7CA;
    }
  }

  .GD040_Size_Container > .GD040_Size_Header {
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  .GD040_Size_Link {
    color: #C4C7CA;
    display: block;
    position: relative;
    height: 40px;
    position: relative;
    min-height: 40px;

    &:hover {
      .GD040_Size_Option {
        color: #64dcb0;
      }

      .GD040_Glasses_Icon path {
        fill: #64dcb0;
      }
    }
  }

  .GD040_Size_Option {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -12px;
    transition: ease-in-out 0.1s all;
  }

  .GD040_Glasses_Icon {
    position: absolute;
    right: 0;
    transition: ease-in-out 0.1s all;
  }

  // Small

  .GD040_Size_Link:nth-of-type(1) .GD040_Glasses_Icon {
    height: 30px;
    width: 30px;
    top: 50%;
    margin-top: -15px;
  }

  // Medium

  .GD040_Size_Link:nth-of-type(2) .GD040_Glasses_Icon {
    height: 40px;
    width: 40px;
    top: 50%;
    margin-top: -20px;
  }

  // Large

  .GD040_Size_Link:nth-of-type(3) .GD040_Glasses_Icon {
    height: 50px;
    width: 50px;
    top: 50%;
    margin-top: -25px;
  }

  .GD040_Size_Container > .GD040_WG_Header {
    font-size: 18px;
    margin: 30px 0 10px 0;
    color: #ffffff;
  }

  .GD040_Size_Text {
    margin: 10px 0;
    line-height: 1.4em;
    font-size: 15px;
  }

  .GD040_Best_Fit_Link {
    display: block;
    text-align: center;
    color: #ffffff;
    background-color: #2d3746;
    border: solid 2px #ffffff;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 0.15s ease-in-out;
    padding: 6px 0;

    &:hover {
      background-color: #ffffff;
      color: #2d3746;
    }
  }
}