@import './variables';

//https://editor-assets.abtasty.com/43831/5de93cd4191b91575566548.png

.#{$id} {
  #ctl00_cphBody__objOffersMobile_pnlPostCode {
    input#ctl00_cphBody__objOffersMobile_txtPostcode {
      width: 55%;
    }
    a.actionButton {
      width: 40% !important;
    }
  }
  
  .#{$id}-overlay {
    position: absolute;
    z-index: 2;
    background-image: url('https://editor-assets.abtasty.com/43831/5de93cd4191b91575566548.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100%;
    min-height: 240px;

    &.hide {
      display: none;
    }
    
    p {
      text-align: center;
      font-family: 'Roboto Condensed',sans-serif;
      opacity: 1;
      font-weight: 800;
      font-size: 5.2vw;
      position: absolute;
      top: 55%;
      left: 15%;  
    }
  }
  .#{$id}-overlay__wrapper {
    width: 100%;
    // height: 83%;
    // height: 73.5vh;
    height: 154vw;
    background-color: #FFF;
    opacity: .8;
    position: absolute;
    z-index: 1;

    &.hide {
      opacity: 0 !important;
    }
  }


  @media screen and (max-width: 320px) {
    .#{$id}-overlay__wrapper {
      height: 180vw !important;
    }
  }

  @media screen and (min-width: 414px) and (max-width: 414px) {
    .#{$id}-overlay__wrapper {
      height: 130vw !important;
    }
  }
}
