@import './variables';
// green pizza
// https://editor-assets.abtasty.com/43831/5d403903380911564489987.png

// grey pizza
// https://editor-assets.abtasty.com/43831/5d403945343681564490053.png

// two pizzas
// https://editor-assets.abtasty.com/43831/5d40397f0030e1564490110.png

// top arrows
// https://editor-assets.abtasty.com/43831/5d403a453e2801564490309.png

// bottom arrows
// https://editor-assets.abtasty.com/43831/5d403a7aaf4291564490362.png
.#{$id} {

  .#{$id}-upgrade__wrapper {
    display: block;
    width: 100%;
    height: 230px;
    min-height: 270px;
    // background-color: #FFF;
    background-color: fade(#FFFFFF, 10%);
    // opacity: .8;
    position: absolute;
    z-index: 9;
    border: 4px solid #007a53;
    box-sizing: border-box;
    overflow: hidden;

    &.hide {
      display: none !important;
    }
    
    .#{$id}-upgrade__container {
      text-align: center;
      position: absolute;
      ///
      width: 100%;

      &:before {
        display: block;
        content: '';
        width: 100%;
        height: 300px;
        background-color: #FFF;
        position: absolute;
        opacity: .8;
        z-index: -1;
      }

      &.#{$id}-upgrade__container__v1 {
        div.#{$id}-upgrade__text.redBackground {
          display: inline-block;
          color: #FFF;
          text-align: center;
          width: 100%;
          span {
            display: inline-block;
            padding: 5px;
            background-color: #da291c;
            font: 20px 'Roboto Condensed',sans-serif;
            margin-bottom: 6px;
          }
        }
      }

      &.#{$id}-upgrade__container__v2 {
        div.#{$id}-upgrade__text {
          display: inline-block;
          // color: #FFF;
          text-align: center;
          width: 100%;
          span {
            display: inline-block;
            padding: 5px;
            font: bold 18px 'Roboto Condensed',sans-serif;
            margin-bottom: 6px;
          }
        }

        div.#{$id}-upgrade__banner {
          display: block;
          width: 90%;
          // height: 90px;
          height: 100px;
          background-image: url('https://editor-assets.abtasty.com/43831/5d40397f0030e1564490110.png');
          // background-size: 65%;
          background-size: 54%;
          background-repeat: no-repeat;
          margin: auto;
          background-position: 50%;
        }
        .#{$id}-upgrade__text-container {
          line-height: 4px !important;
          position: absolute;
          top: 30%;
          left: 60%;
          transform: translateX(-50%);

          .#{$id}-arrow__up {
            display: block;
            width: 30%;
            height: 30px;
            background-image: url('https://editor-assets.abtasty.com/43831/5d403a453e2801564490309.png');
            background-size: 65%;
            background-repeat: no-repeat;
            margin: auto;
            background-position: 50%;
            position: absolute;
            left: 90%;
            top: -50%;
          }
          .#{$id}-arrow__bottom {
            display: block;
            width: 30%;
            height: 30px;
            background-image: url('https://editor-assets.abtasty.com/43831/5d403a7aaf4291564490362.png');
            background-size: 65%;
            background-repeat: no-repeat;
            margin: auto;
            background-position: 50%;
            position: absolute;
            left: 90%;
            top: 70%;
          }
        }

        div.#{$id}-upgrade__text.redBackground {
          display: inline-block;
          color: #FFF;
          text-align: center;
          width: 100%;
          span {
            display: inline-block;
            padding: 5px;
            background-color: #da291c;
            font: 14px 'Roboto Condensed',sans-serif;
            margin-bottom: 6px;
          }
        }
      }
      
      div.#{$id}-upgrade__title {
        color: #000;
        font: bold 20px 'Roboto Condensed',sans-serif;
        line-height: 26px;
        padding: 7px;
      }
      
      div.#{$id}-skip {
        font: 14px 'Roboto Condensed',sans-serif;
        color: #000;
        text-decoration: underline;
        margin-bottom: 10px;

        &:hover {
          cursor: pointer;
          transform: scale(1.05);
        }
      }
      div.#{$id}-cta__btn {
        width: 60%;
        margin: auto;
        padding: 0;
        line-height: 32px!important;
        background: #007a53;
        text-transform: uppercase;
        font-family: 'Roboto Condensed',sans-serif;
        color: #FFF;
        font-weight: 800;

        span {
          font-size: 1.1em;
        }

        &:hover {
          cursor: pointer;
          transform: scale(1.1);
        }
      }
    }
  }

  .#{$id}-largerText {
    font-size: 1.1em;
  }

  .basketItems .itemsCont {
    overflow-x: hidden;
  }


  .highlight { 
    // transition: all .2s ease-in-out;
    background: #da291c;
    padding: 5px 5px 0px 5px;
    color: #FFF;
  }
  // .grow.remove { 
  //   // transform: scale(1.1);
  //   position: relative;
  //   left: 5%;
  // }

  // LOADER
  .#{$id}-loader__wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;
    top: 0;

    .#{$id}-loader__message {
      width: 300px;
      height: 100px;
      opacity: 1 !important;
      z-index: 1000;
      position: absolute;
      top: 40%;
      left: 38%;
      text-align: center;
      font-family: 'Roboto Condensed',sans-serif;
      /* text-transform: uppercase; */
      font-weight: bold;
      color: #008e68;
      font-size: 23px;
      background-color: #FFF;
      padding: 20px 2px 10px 2px;
      border-radius: 5px;
    }
    .#{$id}-loader {
      width: 170px;
      height: 120px;
      opacity: 1 !important;
      z-index: 1000;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translateX(-50%);
      background-image: url('https://editor-assets.abtasty.com/43831/5d52ae987c24b1565699736.gif');
      background-size: 100%;
      background-repeat: no-repeat;
    }

    &.hide {
      display: none !important;
    }
    &:before {
      display: block;
      content: '';
      width: 100%;
      height: 100%;
      // position: absolute;
      background-color: #FFF;
      opacity: .3;
      z-index: 99;
    }
  }

  // .#{$id}-loader {
  //   display: none;
  // }

  // .#{$id}-loader--active {
  //   display: block;
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   z-index: 10000000;
  //   background: rgba(255,255,255,0.8);
  // }

  // .#{$id}-loader--active:after {
  //   font-family: arial;
  //   text-transform: uppercase;
  //   font-weight: bold;
  //   content: "Upgrading...";
  //   font-size: 30px;
  //   background: #fff;
  //   padding: 10px;
  //   color: #007a53;
  //   position: absolute;
  //   display: block;
  //   left: 50%;
  //   top: 50%;
  //   transform: translate(-50%, -50%);
  // }

  .slide-right {
    animation: slide-right 2.0s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  /**
  * ----------------------------------------
  * animation slide-right
  * ----------------------------------------
  */
  @keyframes slide-right {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(1500px);
    }
  }

}
