@import './variables';

.#{$id} {
  .#{$id}-product-video__wrapper {
    width: 100% !important;

    #estore_product_videο {
    
      float: none !important;
      
  
      margin-bottom: 0 !important;
      margin: 60px auto 0 !important;
      // --- Thumbnails
      .isitetv_master_nav_container {
        max-width: 767px;
      }
    }

    h4 {
      padding-bottom: 0 !important;
    }

    .videoContainer {
      margin-bottom: 20px !important;
    }
  }
  
}
