@import './variables';

.#{$id} {
    // .#{$id}-stay-summary-container .#{$id}-stay-summary-closed, 
    // .#{$id}-stay-summary-container .#{$id}-last-few-container {
    //     cursor: pointer;
    // }

    .fixedButton-wrapper .bookNow.sticky-rebase {
        width: 98%;
        margin: 0 0 5px 4px;
    }

    .#{$id}-stay-summary-container {
        background: white;
        margin-bottom: 0;
        z-index: 999;
        width: 100%;
        font-family: "FS Albert Light",arial,sans-serif;
        box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
        padding: 0 8px 60px 8px;

        .#{$id}-last-few-container-mobile {
            // display: none;
        }

        .#{$id}-stay-summary-closed {
            display: flex;
            justify-content: space-between;
            padding: 10px 0;
        }

        .#{$id}-bold {
            font-weight: 900;
            font-family: "FS Albert Bold", arial,sans-serif;
        }

        .#{$id}-stay-summary-title {
            font-size: 16px;
        }

        .#{$id}-display-none {
            display: none!important;
        }

        .#{$id}-summary-open-line {
            display: flex;
            justify-content: space-between;
        }

        .#{$id}-summary-open-line.#{$id}-total-price {
            margin-bottom: 10px;
        }

        .#{$id}-summary-open-line.#{$id}-total-price p {
            font-size: 18px;
        }

        .#{$id}-extra-container {
            border-bottom: 1px solid black;
            padding-bottom: 1rem;
        }

        .#{$id}-add-extra button.#{$id}-add-extra-button {
            color: #008dc8;
            font-family: "FS Albert Bold",arial,sans-serif;
            font-weight: 400;
            text-decoration: underline;
            background: none;
            border: none;
            height: auto;
            font-size: 1.4rem;
        }

        .#{$id}-last-few-total {
            margin-bottom: 10px;
        }
    }

    .#{$id}-open-container {
        max-height: 495px;
        overflow-y: auto;
    }

    @media only screen and (max-width:768px){ 
        #section-available {
            position: relative;
            z-index: 2;
        }
    }

    @media screen and (min-width: 769px) {
        .#{$id}-last-few-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: -5px 5px 10px 5px;

            p {
                font-family: "FS Albert Light",arial,sans-serif;
                font-size: 16px;
                margin: 0;
            }
        }
    }

    @media screen and (max-width: 768px) {
        .#{$id}-last-few-container {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-bottom: 10px;

            p {
                font-family: "FS Albert Light",arial,sans-serif;
                font-size: 16px;
                margin: 0;
            }
        }
    }
}
