@import './variables';

.#{$id} {
    .#{$id}-skincareInfo {

        p {
            font-family: "F37 Ginger Light",Tahoma,Arial,sans-serif;
        }
        .#{$id}-ingredients {
            padding: 10px;
            background: #F2F8FF;

            h4 {
                font-family: "F37 Ginger Bold",Tahoma,Arial,sans-serif;
                font-size: 18px;
                color: #333333;
                margin-bottom: 10px;
                @media(min-width: 1024px) {
                    margin-bottom: 0;
                }
            }

            .#{$id}-ingredientsList {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }

            .ingredient {
                padding-left: 30px;
                position: relative;
                margin: 5px;
                margin-bottom: 10px;
                margin-top: 10px;
                width: 46%;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                font-size: 14px;

                span{
                    display: block;
                    position: absolute;
                    left: 5px;
                    top: 50%;
                    transform: translateY(-50%);
                    height: 15px;
                    width: 15px;
                    background: url('https://boots.scene7.com/is/image/Boots/tick?scl=1&fmt=png-alpha') no-repeat center;
                    background-size: contain;
                }
            }
           

        }

        .#{$id}-benefits {
            padding: 10px;
            padding-top: 20px;
            background: #FAFBFC;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            @media(min-width: 767px) {
                padding-top: 10px;
            }
            .benefit {
                padding-left: 50px;
                position: relative;
                margin: 5px;
                margin-bottom: 15px;
                margin-top: 15px;
                width: 46%;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                font-size: 13px;
                @media(min-width: 767px) {
                    padding-left: 40px;
                    margin-top: 15px;
                    margin-bottom: 15px;
                }
                @media(min-width: 1024px) {
                    padding-left: 40px;
                }
                span {
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    height: 40px;
                    width: 40px;
                    background-color: #333333;
                    @media(min-width: 767px) {
                        height: 25px;
                        width: 25px;
                    }
                    @media(min-width: 1024px) {
                        height: 30px;
                        width: 30px;
                    }
                }
            

                &.hydrating {
                    span {
                        background: url('https://boots.scene7.com/is/image/Boots/hydrating?scl=1&fmt=png-alpha') no-repeat center;
                        background-size: contain;
                    }
                }
                &.vegan {
                    span {
                        background: url('https://boots.scene7.com/is/image/Boots/Vegan?scl=1&fmt=png-alpha') no-repeat center;
                        background-size: contain;
                    }
                    
                }
                &.crueltyFree {
                    span {
                        background: url('https://boots.scene7.com/is/image/Boots/crueltyfree?scl=1&fmt=png-alpha') no-repeat center;
                        background-size: contain;
                    }
                }
                &.oilFree {
                    span {
                        background: url('https://boots.scene7.com/is/image/Boots/Oilfree?scl=1&fmt=png-alpha') no-repeat center;
                        background-size: contain;
                    }
                }
                &.smoothing {
                    span {
                        background: url('https://boots.scene7.com/is/image/Boots/Oilfree?scl=1&fmt=png-alpha') no-repeat center;
                        background-size: contain;
                    }
                }
                &.fragranceFree {
                    span {
                        background: url('https://boots.scene7.com/is/image/Boots/fragrancefree?scl=1&fmt=png-alpha') no-repeat center;
                        background-size: contain;
                    }
                }
                &.noncomedogenic {
                    span {
                        background: url('https://boots.scene7.com/is/image/Boots/noncomedogenic?scl=1&fmt=png-alpha') no-repeat center;
                        background-size: contain;
                    }
                }
                &.blemishFighting {
                    span {
                        background: url('https://boots.scene7.com/is/image/Boots/blemish?scl=1&fmt=png-alpha') no-repeat center;
                        background-size: contain;
                    }
                }
                &.brightening {
                    span {
                        background: url('https://boots.scene7.com/is/image/Boots/brightening?scl=1&fmt=png-alpha') no-repeat center;
                        background-size: contain;
                    }
                }
                &.skinType {
                    span {
                        background: url('https://boots.scene7.com/is/image/Boots/Suitableskin?scl=1&fmt=png-alpha') no-repeat center;
                        background-size: contain;
                    }
                }
                &.spf {
                    span {
                        background: url('https://boots.scene7.com/is/image/Boots/SPF?scl=1&fmt=png-alpha') no-repeat center;
                        background-size: contain;
                    }
                }
                &.nonGreasy {
                    span {
                        background: url('https://boots.scene7.com/is/image/Boots/Nongreasy?scl=1&fmt=png-alpha') no-repeat center;
                        background-size: contain;
                    }
                }
                &.antiageing {
                    span {
                        background: url('https://boots.scene7.com/is/image/Boots/antiageing?scl=1&fmt=png-alpha') no-repeat center;
                        background-size: contain;
                    }
                }
                
                &.hypoallergenic {
                    span {
                        background: url('https://boots.scene7.com/is/image/Boots/hypoallergenic?scl=1&fmt=png-alpha') no-repeat center;
                        background-size: contain;
                    }
                }
            }    
        }    

    }

    &.#{$id}-2 {
        .#{$id}-benefits {
            display: none;
        }
    }
}
