@import './variables';

.#{$id} {
    .HS055_offer_box {
        display: none;
    }
    .HS057-offer {
        display: none;
    }
    .product-price-pricing {
        display: inline-block;
    }
    .product-stock {
        margin-top: 20px;
    }
    .product-price-history {
        span {
            display: block;
            @media(min-width: 380px) {
                display: unset;
            }
        }
    }
    .#{$id}-offer {
        background: #f2f2f2;
        padding: 10px;
        position: relative;
        padding-left: 40px;
        float: right;
       
        .#{$id}-countdown {
            .UC_cd-days,
            .UC_cd-hours,
            .UC_cd-minutes,
            .UC_cd-seconds {
                font-weight: 600;
            }
            @media(min-width: 1024px) {
                display: inline-block;
            }
        }
        @media(min-width:360px) {
            display: inline-block;
            float: none;
            margin-left: 20px;
            padding-right: 20px;
            vertical-align: top;
        }
        
        h4 {
            font-size: 15px;
            color: #a01c29;
            margin-bottom: 0px;
            font-weight: 400;
            @media(min-width:414px) {
                font-size: 17px;
            }
        }
        span {
            font-size: 12px;
            font-weight: 500;
            margin: 0;
            top: 50%;
            @media(min-width: 370px) {
                font-size: 14px;
            }
            @media(min-width: 767px) {
                font-size: 12px;
            }
            @media(min-width: 1200px) {
                font-size: 14px;
            }
        }
        &::before {
            content: '';
            height: 35px;
            width: 35px;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url('https://service.maxymiser.net/cm/images-us/1/1/2/BC7A338A9909BF0C5FD229B0155283508CCAC821317AAA033ADF41E59C0ABF18/hsamuel-co-uk/HS057---Exclusive-Price-Message/noun_waitinglove_1544894.png');
            position: absolute;
            transform: translateY(-50%);
            left: 5px;
            top: 50%;
        }
    }
}
