@import './variables';

.#{$id} {
  &__bannerWrapper {
    position: sticky;
    top: 0;
    background-color: #ffd9a1;
    padding: 4px;
    z-index: 99;

    @media screen and (max-width: 580px) {
      padding: 8px 4px;
    }
  }

  &__bannerContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 580px) {
      justify-content: flex-start;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__icon {
    display: flex;
  }

  &__text {
    font-family: 'museo-sans-rounded-300';
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    padding-left: 16px;
    padding-right: 16px;
    margin-right: 60px;

    span {
      font-family: 'museo-sans-rounded-700';
      font-weight: 900;
    }

    a {
      font-family: 'museo-sans-rounded-700';
      color: #000;
      text-decoration: underline;
    }
  }

  &__closeWrapper {
    position: absolute;
    display: flex;
    align-items: center;
    right: 15px;
    font-family: 'museo-sans-rounded-300';
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: #000;
    cursor: pointer;

    @media screen and (max-width: 991px) {
      right: 20px;
    }

    @media screen and (max-width: 580px) {
      right: 0;
    }

    .#{$id}__closeText {
      padding-left: 10px;
    }
  }
}
