@import './variables';

.#{$id} {
  .#{$id}__wrapper {
    border-bottom: 2px solid #e5e5e5;
    margin-bottom: 10px;

    .#{$id}__reviewsSection {
      margin-bottom: 8px;
    }

    .#{$id}__productPrice {
      flex-wrap: nowrap;
      border-top: none;
      margin-bottom: 8px;

      .A5Zjkl {
        flex-basis: max-content;
      }

      div[data-qaid='pdp-save-price'] {
        margin-right: 15px;
      }
    }

    @media screen and (min-width: 641px) {
      display: none;
    }
  }

  @media screen and (max-width: 640px) {
    h1[data-qaid='pdp-product-name']:not(.#{$id}__productName),
    ._2hopKH:not(.#{$id}__reviewsSection),
    div[data-qaid='product-price']:not(.#{$id}__productPrice) {
      display: none;
    }
  }
}
