@import '_mixins.scss';
.EJ004 {
  .browse__banner-image {
    width: calc(100% + 50px);
    margin-left: -25px;
  }
  .select-button__select {
    width: calc(100% - 30px);
    height: 100%;
    z-index: 19999;
    left: 0;
    top: 0;
    bottom: auto;
  }
  .browse__results-and-sort-container {
    position: relative;
    &::before,
    &::after {
      content: '';
      width: calc(100% + 50px);
      height: 1px;
      background: #000;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    .browse__sort-container.mobile-and-tablet-only {
      width: 100%;
      &::after {
        content: "";
        display: table;
        clear: both;
      }
      .filter-toggle {
        font-weight: 700;
        width: calc(50% + 50px);
        float: left;
        background: none;
        color: #000;
        border: 0;
        border-right: 1px solid #000;
        margin: 0;
        padding: 15px;
        padding-left: 65px;
        margin-left: -50px;
        @include anim(200ms, def, (background, color));
        &:hover {
          color: #fff;
          background: #000;
        }
      }
      .browse__sort-relative-container {
        width: calc(50% + 50px);
        margin-right: -50px;
        float: left;
        position: relative;
      }
      .select-button__label {
        font-weight: 700;
        width: 100%;
        background: none;
        border: 0;
        border-left: 1px solid #000;
        color: #000;
        margin: 0;
        padding: 15px;
        z-index: 10;
        padding-right: 65px;
        position: relative;
        @include anim(200ms, def, (color, background));
        &:hover {
          color: #fff;
          background: #000;
        }
      }
    }
    h1.page-title {
      display: none;
    }
    .load-previous {
      margin-top: 10px;
    }
  }
  .EJ004_title {
    font-weight: 500;
    text-align: center;
    font-size: 13px;
    text-transform: none;
    font-family: arial, helvetica, sans-serif;
    padding-bottom: 7px;
    margin: 0;
    margin-top: 15px;
  }
  .EJ004_filter-wrap {
    overflow-x: scroll;
    white-space: nowrap;
    .EJ004_filter-item {
      font-size: 13px;
      border: 1px solid;
      padding: 9px 10px;
      text-align: center;
      display: inline-block;
      color: #000;
      @include anim(200ms, def, (color, background));
      &.EJ004_active,
      &:hover {
        background: #000;
        color: #fff;
      }
      &+.EJ004_filter-item {
        margin-left: 10px;
      }
      &::after {
        content: none;
      }
    }
  }
  .EJ004_ingrid-content {
    background: url('//service.maxymiser.net/cm/images-us/1/1/2/35EFABABC9750B6543DA4B0935016E66AE4F66E7F56C6715F0222A3143CFCF7F/ernestjones-co-uk/EJ004/diamond-pattern.jpg');
    text-align: center;
    margin: 10px 0;
    padding: 15px 0 30px;
    img {
      display: inline-block;
      width: 70px;
    }
    h4 {
      font-size: 16px;
      padding: 10px 0;
      color: #2d2c33;
      font-weight: 500;
      text-transform: capitalize;
      margin: 0;
      padding: 10px 0 17px;
      line-height: 16px;
      position: relative;
      &::after {
        content: '';
        width: 50px;
        height: 2px;
        background: #76757c;
        position: absolute;
        left: 50%;
        margin-left: -25px;
        bottom: 0;
      }
      &+span {
        padding-top: 15px;
      }
    }
    span {
      color: #7b7982;
      display: block;
      padding-top: 10px;
      font-size: 13px;
      line-height: 11px;
      &+span {
        padding-top: 10px;
      }
    }
    &+.product-tile-list__item {
      border-top: 1px solid #ccc;
    }
  }
  .EJ004_percent {
    height: 35px;
    width: 35px;
    border: 1px solid;
    border-radius: 50%;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    svg {
      width: 28px;
      margin-top: 4px;
      display: inline-block;
    }
  }
  .EJ004_svg {
    height: auto;
    width: 60px;
    margin: 0 auto;
  }
}