.RC012 .nav-container {
  border-bottom-width: 5px; }

.RC012 .home-course-search .course-search-container .course-search-img {
  display: none; }

.RC012 .home-course-search .course-search-container .course-search-form {
  width: 100%; }
  .RC012 .home-course-search .course-search-container .course-search-form label {
    font-size: 0.9em;
    font-weight: normal; }

.RC012 .home-course-search .course-search-container .course-search-header i {
  font-size: 25px; }

.RC012 .home-course-search .course-search-container .course-search-header h2 {
  padding-bottom: 0; }

.RC012 .home-course-search .course-search-container .course-search {
  padding: 10px 15px 40px 15px; }
  @media (max-width: 400px) {
    .RC012 .home-course-search .course-search-container .course-search {
      margin: 6px 0; } }

.RC012 .home-course-search .course-search-container .course-search-link {
  bottom: 5px; }
  .RC012 .home-course-search .course-search-container .course-search-link p {
    float: left;
    width: auto;
    margin-top: 0; }
    .RC012 .home-course-search .course-search-container .course-search-link p:first-of-type {
      text-align: left;
      float: left; }
    .RC012 .home-course-search .course-search-container .course-search-link p:last-of-type {
      text-align: right;
      float: right; }
  @media (max-width: 400px) {
    .RC012 .home-course-search .course-search-container .course-search-link {
      right: 0;
      left: 0;
      width: 100%;
      padding: 10px; }
      .RC012 .home-course-search .course-search-container .course-search-link p {
        font-size: 12px; } }

.RC012 .home-course-search .course-search-container .RC012_search-label {
  text-align: center;
  margin: 5px 0 0 0;
  float: left;
  width: 100%;
  color: #707070; }
