@import './variables';

.#{$id} {
  .#{$id}_ProgressPizza {
    background-image: url('https://dp8v87cz8a7qa.cloudfront.net/43831/5c3366e2d19fd1546872546.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    height: 190px;
    width: 100%;
    margin: 10px 0 -20px 0;
    float: left;
    position: relative;
  }
  
  ##{$id}_ProgressPizza-svg {
    width: 130px;
    top: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    > g {
      fill: #d8d8d8;
    }
  }
  
  .#{$id}_ProgressPizza-text {
    max-width: 380px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    vertical-align: middle;
    display: inline-block;
    color: white;
    margin: 10px 0;
  }

  @media screen and (min-width: 601px) {
    .#{$id}_ProgressPizza {
      height: 100%;
      width: 255px;
      margin: 0;
      background-position: center 10px;
      display: block;
      margin-right: 30px;
    }

    .#{$id}_ProgressPizza-text {
      margin: 0 20px;
    }
    
    ##{$id}_ProgressPizza-svg {
      width: 150px;
      top: 65px;
    }
  }

  @media screen and (min-width: 601px) and (max-width: 930px) {
    .prPromoPoints.prNewPagePoints {
      height: 290px;
    }

    .#{$id}_ProgressPizza-text {
      display: block;
      max-width: none;
      margin: 10px 20px;
    }
  }

  // Existing elements
  .prPromoPoints > img {
    display: none;
  }

  @media screen and (min-width: 601px) {
    .prPromoPoints .copy {
      position: relative;
      float: none;
      width: auto;

      > span {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }

    .prNewPagePoints {
      span a {
        top: -5px;
      }

      h3.points {
        vertical-align: middle;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }

  @media screen and (max-width: 600px) {
    #ctl00_cphBody_pnlLoggedTop {
      background: url('https://www.papajohns.co.uk/images/pr-promotion/rb-mobile.jpg');
    }

    .prNewPagePoints {
      max-width: 330px;
      margin: 0 auto;
      background: none;

      .buttons {
        display: inline-block;
        width: auto;
        float: right;
      }

      .copy h2:first-of-type {
        clear: both;
        float: left;
        position: relative;
        top: 35px;
        font-weight: 200;
        font-size: 18px;
      }

      h3 {
        &:first-of-type {
          float: left;
          clear: both;
          margin: 0;
          position: relative;
          top: 30px;
        }

        &.points {
          float: right;
          position: static;
          clear: right;
        }
      }
    }

    .prPromoPoints .copy span:last-of-type {
      float: left;
      margin-top: 20px;

      a {
        margin: 0;
      }
    }
  }

  @media screen and (min-width: 601px) and (max-width: 1115px) {
    .prPromoPoints {
      position: relative;
      padding: 0;
    }
      
    .prNewPagePoints .buttons {
      position: absolute;  
      top: 55px;
      right: 20px;
      width: auto;
    }

    .prPromoPoints .copy > span {
      top: 20px;
      bottom: initial;
      right: 20px;

      a {
        top: 0;
        margin: 0;
      }
    }
  }
}