$break-med: 1000px;

.HS003 .HS003_Header {
  display: none;
}

@media screen and (min-width: 900px) {
  .js body.HS003 {
    &:not(.instorePortalBody) {
      padding-top: 113px;
    }

    .siteHeader,
    .siteNavigation,
    .footerNav {
      display: none;
    } 
  }

  .HS003 {
    /* COLUMNS */
    .HS003_navRow {
      [class^="HS003_col-"] {
        vertical-align: top;
        // border-right: 1px solid black;
        box-sizing: border-box;
        float: left;

        &:last-of-type {
          border-right: none;
        }
      }
    }

    .HS003_col-12 {
      width: 100%;
    }

    .HS003_col-11 {
      width: 91.66666667%;
    }

    .HS003_col-10 {
      width: 83.33333333%;
    }

    .HS003_col-9 {
      width: 75%;
    }

    .HS003_col-8 {
      width: 66.66666667%;
    }

    .HS003_col-7 {
      width: 58.33333333%;
    }

    .HS003_col-6 {
      width: 50%;
    }

    .HS003_col-5 {
      width: 41.66666667%;
    }

    .HS003_col-4 {
      width: 33.33333333%;
    }

    .HS003_col-3 {
      width: 25%;
    }

    .HS003_col-2 {
      width: 16.66666667%;
    }

    .HS003_col-1 {
      width: 8.33333333%;
    }

    .HS003_col-5ths {
      width: 20%;
    }

    .HS003_col-2-5ths {
      width: 40%;
    }

    /* COMPONENTS */
    // Header
    .HS003_Header {
      display: block;
      position: fixed;
      width: 100%;
      z-index: 10;
      top: 0;

      // Logo
      .logo {
        float: none;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        background-image: url('#$(ContentManager:hsamuel.svg)!');
        background-size: contain;
        height: 100%;
        width: 80%;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-position: center;
        svg{
          display: none;
          height: auto;
          max-height: 35px;
          max-width: 100%;
          width: 200px;
        }
        
        path {
          fill: black !important;
        }
      }

      // Search
      .mainSearch {
        border: 1px solid #ccc;
        float: none;
        width: 100%;
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        #ui-id-1 {
          width: 100% !important;
          max-height: 500px;
          max-height: 80vh;
          overflow-y: scroll;
        }

        .headerSearchField {
          -webkit-appearance: none;
          background: white;
          border: white solid 1px;
          border-radius: 0;
          padding: 13px 12px;
          width: calc(100% - 44px);
        }
      }

      .js-reveal {
        display: none !important;
      }

      input#js-autoText {
        background: white;
        border: white solid 1px;
        border-radius: 0;
        padding: 13px 12px;
        width: calc(100% - 44px);
      }
      .accessibilityHide{
        position: absolute;
        text-indent: -99999em;
        top: -9999em;
      }
      .searchButton {
        background: #9f1d2a;
        cursor: pointer;
        float: right;
        height: 18px;
        padding: 13px;
        position: relative;
        text-align: center;
        width: 18px;
        svg{
          -webkit-transition: all 500ms ease 1ms;
          transition: all 500ms ease 1ms;
          left: 50%;
          height: 16px;
          max-height: 100%;
          max-width: 100%;
          position: absolute;
          top: 50%;
          -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
          width: 16px;
          path{
            fill: white;
          }
        }
      }
    }

    // TopBar
    .HS003_topBarContainer {
      background: #9f1d2a;
    }

    .HS003_topBar {
      max-width: 1200px;
      width: 95%;
      margin: 0 auto;
      text-align: right;
      background: #9f1d2a;
      font-size: 13px;

      a {
        color: #000;
        text-decoration: none;
      }

      ul {
        list-style-type: none;
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        padding: 0;

        li {
          display: inline-block;
          border-right: 1px solid white;

          a {
            margin: 0 15px;
            color: white;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }

          &:last-of-type {
            border-right: none;
          }
        }
      }

      .basketIcon {
        float: none;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        height: 18px;
        padding: 13px;
        position: relative;
        text-align: center;
        width: 18px;
        svg {
          path {
            fill: white;
          }
        }
      }
    }

    // Navigation
    .HS003_pageOverlay {
      position: fixed;
      display: none;
      z-index: 9;
      background: rgba(0, 0, 0, 0.6);
      height: 100%;
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .HS003_navRowContainer {
      border-bottom: 1px solid #ccc;
      background: #fff;
    }

    .HS003_navRow {
      max-width: 1200px;
      width: 95%;
      margin: 0 auto;
      padding: 0;
      height: 70px;
      margin-bottom: -1px; // To account for border

      > div {
        height: 100%;
      }
    }

    .HS003_Navigation {
      height: 100%;

      .HS003_Navigation-submenu {
        max-width: 1200px;
        width: 95%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;

        > div {
          border-right: 1px solid black;

          &:last-of-type {
            border-right: none;
          }
        }
      }

      .HS003_Navigation-l1 {
        list-style-type: none;
        padding: 0;
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 40px;
        text-align: center;

        @media screen and (max-width: $break-med) {
          padding: 0 20px;
        }

        > li:first-of-type .HS003_Navigation-submenuContainer {
          // display: block !important;
        }

        // Link Hover
        .HS003_Navigation-l1--active {
          > a:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 3px;
            right: 0;
            left: 0;
            background: black;
          }

          .HS003_Navigation-submenuContainer {
            display: block;
          }
        }

        > li {
          display: inline-block;
          margin: 0 18px; 
          height: 100%;
          text-align: left;
          @media screen and (max-width: 1079px) {
            margin: 0 10px;
          }

          > a {
            display: block;
            height: 100%;
            line-height: 70px;
            position: relative;
            text-decoration: none;
            // padding: 0 10px;
            color: black !important;

            &:active, &:hover {
              color: black !important;
            }
          }

          &.HS003_linkRed {
            > a,
            > a:active,
            > a:hover {
              color: red !important;
            }
          }
          &:last-of-type{
            .HS003_Navigation-submenuContainer{
              ul{
                padding: 0 20px;
                a{
                  display: block;
                  text-decoration: none;
                  margin: 15px 0;
                  transition: ease color .3s;
                  color: #333;
                  text-decoration: none;
                }
              }
            }
          }
        }
      }
    }
    
    .HS003_Navigation-submenuContainer {
      display: none;
      background: white;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      width: 100%;
      padding: 40px 0;
      box-sizing: border-box;
      border-bottom: 1px solid #ccc;
      max-height: 590px;
      max-height: 80vh;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 8px;
      }
      &::-webkit-scrollbar-thumb {
          background-color: #bbb;
          border-radius: 6px;
      }

      .HS003_Navigation-submenu > div:last-of-type ul.HS003_navListing {
        border-right: none;
      }

      ul.HS003_navListing {
        list-style-type: none;
        // border-right: 1px solid #333;
        padding: 0;
        height: 100%;
        padding: 0 30px;

        @media screen and (max-width: $break-med) {
          padding: 0 15px;
        }

        > li {
          display: block;
          margin: 15px 0;

          > a {
            transition: ease color .3s;
            color: #333;
            text-decoration: none;

            &:hover {
              color: #797979;
              text-decoration: underline;
              transition: ease color .3s;
            }
          }

          &:first-of-type {
            margin-top: 0;
          }

          &:last-of-type {
            margin-bottom: 0;
          }

          &.HS003_heading {
            font-weight: bold;
          }
        }
      }
    }

    .HS003_linkRed > a {
      color: red !important;
    }
    .HS003_fullWidthBanner {
      width: 100%;
      height: auto;
      margin: 3px auto;
      padding: 0 40px;
      box-sizing: border-box;

      .HS003-banner {
        height: 100px;
        background-position: center;
        background-size: cover;
        margin: 10px;
        margin-bottom: 15px;
        width: 100%;
        background-repeat: no-repeat;
      }

      @media screen and (max-width: $break-med) {
        padding: 0 20px;
      }

      > a {
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }

      &.HS003_fullWidthBanner--fullHeight {
        padding: 0 0 0 10px;
      }

      &:first-of-type {
        margin-top: 0;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .HS003.HS003-2 {
    .HS003_navRowContainer {
      background:#9f1d2a;
    }

    .HS003_Navigation .HS003_Navigation-l1 > li.HS003_linkRed > a {
      color: #e00000 !important;
      
      &:hover {
        color: #e00000 !important;
      }

      &:active {
        color: #e00000 !important;
      }
    }
  
    .HS003_topBarContainer,
    .HS003_topBar {
      background: white;

      .basketIcon svg path {
        fill: #bbacd5 !important;
      }
    }
  }
}
