@import './variables';

@keyframes SGslide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(5000px);
    transform: translateX(1000px);
    opacity: 0;
  }
}

@keyframes SGslide-in-right {
  0% {
    -webkit-transform: translateX(5000px);
    transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.#{$id} {

  // General
  .header {
    position: relative;
  }

  #access-content,
  .usp  {
    display: none;
  }

  // warranty-options {
  //   display: none;
  // }
  .footer__external-finance-social-div {
    p {
      color: white;
    }
  }

  .product-quantity__container {
    display: none;
  }

  // Tangiblee
  .tangiblee-button {
    background: url('https://storage.googleapis.com/exp-app-storage/63c9e2be-b0b2-11ea-b9e3-3af835c8f71c/media/original/359053c6-bfd1-11ec-9f85-662c2f6399dc');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center top;
    position: absolute !important;
    top: 10px;
    left: 10px;
    height: 50px;
    width: auto !important;
    z-index: 99;
    margin: 0 !important;

    @media(min-width: 767px) {
      display: none !important;
    }

    span {
      display: block !important;
      font-size: 10px !important;
      padding-top: 30px !important;
      font-family: Oxygen, Arial, Helvetica, sans-serif;
      text-decoration: none !important;
      font-weight: 300 !important;

      @media(min-width: 767px) {
        font-size: 12px !important;
      }
    }
  }

  // show similar
  .product-gallery__syte {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 99;

    @media(min-width: 767px) {
      right: auto;
      top: 20px;
      left: 10px;
    }

    button {
      display: flex;
      flex-direction: column;
    }

    .syte-button__icon {
      height: 25px;
      margin-right: 0px;
      width: 25px;
      margin-bottom: 5px;
    }

    .syte-button__label.product-gallery__syte-label {
      font-size: 10px;
      font-family: Oxygen, Arial, Helvetica, sans-serif;

      @media(min-width: 767px) {
        font-size: 12px;
      }
    }
  }

  .#{$id}-close {
    height: 25px;
    width: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
    background: url('https://storage.googleapis.com/exp-app-storage/63c9e2be-b0b2-11ea-b9e3-3af835c8f71c/media/original/42dbc560-c085-11ec-8c87-f2121125cfa8') no-repeat center;
    background-size: contain;
    z-index: 999;
    cursor: pointer;
  }

  h2 {
    font-size: 22px;
    font-family: Oxygen, Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    line-height: initial;
    font-weight: 300;

    @media (min-width: 767px) {
      font-size: 24px;
    }

    @media (min-width: 1024px) {
      font-size: 28px;
    }

    @media (min-width: 1280px) {
      font-size: 30px;

    }

    &.alternate {
      font-weight: 300;
      color: #484849;

      @media (min-width: 767px) {
        font-size: 24px;
      }
    }

  }

  h3 {
    font-size: 18px;
    font-family: Oxygen, Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
    font-weight: 300;
    color: #484849;

    @media (min-width: 1024px) {
      font-size: 20px;
    }
  }

  h4 {
    font-size: 16px;
    color: #101820;
    font-weight: 400;
    margin-bottom: 0;
    line-height: 21px;
    font-family: Oxygen, Arial, Helvetica, sans-serif;

    @media (min-width: 767px) {
      font-size: 20px;
    }

    @media(min-width: 1280px) {
      font-size: 22px;
      line-height: 29px;
    }

    &.alternate {
      font-size: 14px;
      font-weight: 600;
      color: #484849;
      margin-bottom: 5px;

      @media (min-width: 767px) {
        font-size: 18px;
      }

      @media (min-width: 1280px) {
        font-size: 18px;
        margin-bottom: 0;
      }
    }
  }

  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    font-family: Oxygen, Arial, Helvetica, sans-serif;
    color: #484849;
    margin-bottom: 0;

    @media (min-width: 767px) {
      font-size: 14px;
      line-height: 21px;
    }

    @media (min-width: 1024px) {
      font-size: 14px;
      line-height: 26px;
    }
  }

  .#{$id}__button {
    padding: 5px 10px;
    width: 70%;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    max-width: 230px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    font-family: "Oxygen", sans-serif;
    text-decoration: none;
    height: 50px;
    line-height: 38px;
    display: block;
    transition: all 400ms ease-in-out;

    @media(min-width: 1024px) {
      font-size: 16px;
      max-width: 400px;
      width: 100%;
      margin-top: 10px;
    }

    &.primary {
      background: #101820;
      border: 2px solid #101820;
      transition: background-color 0.5s ease;
      color: white;
      cursor: pointer;

      &:hover {
        background-color: white;
        color: #101820;
      }
    }

    &.secondary {
      background: white;
      border: 2px solid #101820;
      color: #101820;

      &:hover {
        background-color: #101820;
        color: white;
      }
    }
  }

  .product-buy-now {
    margin-top: 10px;
    border: 1px solid #101820;
    transition: all 400ms ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: white;
      color: #101820;
    }

    .product-buy-now__button {
      text-align: center;
      cursor: pointer;


      .product-buy-now__text {
        flex-grow: 1;
      }

      .product-buy-now__icon {
        display: none;
      }
    }
  }

  .#{$id}__textLink,
  .product-description__link {
    text-decoration: underline;
    font-size: 14px;
    color: #000000;
    cursor: pointer;
    font-weight: 400;
    font-family: "Oxygen", sans-serif;
  }

  .#{$id}-textBlock {
    text-align: center;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;

    p {
      margin-bottom: 20px;
    }

    @media(min-width: 767px) {
      text-align: left;
      width: 45%;
      padding: 20px;

      .#{$id}__button {
        margin-left: 0;
      }
    }

    @media(min-width: 1024px) {
      padding: 30px;

      .inner {
        max-width: 600px;
        margin: 0 auto;
      }
    }
  }

  .#{$id}__sectionContainer {
    max-width: 1440px;
    margin: 0 auto;
  }

  .#{$id}-pdp {
    font-family: Oxygen, Arial, Helvetica, sans-serif;
    //overflow: hidden;


    // Swiper
    .#{$id}-swiperPagination {
      display: flex;
      flex-direction: row;
      bottom: 10px !important;
      left: 10px !important;

      .swiper-pagination-bullet {
        width: 20px;
        height: 4px;
        margin: 5px;
        background-color: #D7D2CB;
        border-radius: 0px;
        opacity: 1;

        &.swiper-pagination-bullet-active {
          background-color: #A1C2ED;
        }
      }
    }

    .swiper-scrollbar {
      background: #D7D2CB;
      height: 5px;
      width: auto;
      margin: 10px;
      box-sizing: border-box;
      bottom: 0;
      left: 0%;
      border-radius: 2px;
      position: relative;
      margin-top: 10px;
      left: unset;
      transform: unset;
      margin-left: 0;
      margin-right: 0;

      .swiper-scrollbar-drag {
        background: #A1C2ED;
      }

      @media(min-width: 767px) {
        display: none;
      }
    }

    // arrows
    .#{$id}-swiperNext,
    .#{$id}-swiperPrev {
      height: 25px;
      width: 25px;
      border-radius: 50px;
      background-image: url('https://storage.googleapis.com/exp-app-storage/63c9e2be-b0b2-11ea-b9e3-3af835c8f71c/media/original/d235752a-c6fd-11ec-8503-e2e39cd14572');
      background-repeat: no-repeat;
      background-size: 20px;
      background-position: center;
      transform: translateY(-50%);
      margin-top: 0;
      display: none;

      @media(min-width: 1024px) {
        height: 30px;
        width: 30px;
        background-size: 25px;
      }

      &::after {
        display: none;
      }
    }

    .#{$id}-swiperPrev {
      transform: rotate(-180deg);
    }

    section {
      padding: 10px;
      padding-top: 20px;
      padding-bottom: 20px;

      @media(min-width: 767px) {
        padding-top: 40px;
        padding-bottom: 40px;
      }
    }

    .#{$id}__row {
      display: block;
      flex-wrap: wrap;
      position: relative;
      width: 100%;
      flex-direction: row;
      justify-content: center;

      @media(min-width: 767px) {
        display: flex;
      }
    }

    // Price styles
    .syte-item-price-wrapper {
      span {
        font-size: 16px;
        font-weight: 600;
        color: #484849;
        @media(min-width: 1024px) {
          font-size: 20px;
        }
      }
    }

    .#{$id}-nowPrice,
    .syte-item-price-wrapper .new-price {
      font-size: 16px;
      font-weight: 600;
      color: #AC0000;
      @media(min-width: 1024px) {
        font-size: 20px;
      }

      span {
        color: #AC0000;
      }
    }

    .#{$id}-wasPrice,
    .syte-item-price-wrapper .was {
      font-size: 14px;
      font-weight: 600;
      color: #C7C7C7;
      text-decoration: line-through;
      @media(min-width: 1024px) {
        font-size: 16px;
      }

      span {
        font-size: 14px;
        font-weight: 600;
        color: #C7C7C7;
        text-decoration: line-through;
        @media(min-width: 1024px) {
          font-size: 16px;
        }
      }
    }

    .#{$id}-normalPrice {
      font-size: 16px;
      font-weight: 600;
      color: #484849;
      @media(min-width: 1024px) {
        font-size: 20px;
      }
    }


    // Top
    .#{$id}-top {
      padding: 0;

      .#{$id}__row {
        max-width: 1440px;
        margin: 0 auto;
      }

      @media(min-width: 767px) {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 30px;
      }


      .#{$id}__col-right {
        @media(min-width: 767px) {
          position: relative;
          width: 40%;
          padding-bottom: 20px;
        }
      }

      .#{$id}__col-left {
        @media(min-width: 767px) {
          flex-basis: 0;
          flex-grow: 999;
          width: 60%;
        }
      }

      .#{$id}-mainProductSlider {
        position: relative;

        .swiper-wrapper {
          height: 300px;

          .image {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 100%;
            width: 100%;
          }

          @media(min-width: 767px) {
            display: flex;
            overflow: hidden;
            flex-wrap: wrap;
            width: calc(100% + 1rem);
            position: relative;
            gap: 10px;
            height: auto;

            .swiper-slide {
              position: relative;
              width: 50%;
              border: 1px solid #F0F0F0;
              box-sizing: border-box;

              &:nth-child(1),
              &:nth-child(2),
              &:nth-child(4),
              &:nth-child(5) {
                max-width: calc(50% - 0.84rem);
                flex: 1 1 50%;
                height: 450px;
              }

              &:nth-child(3),
              &:nth-child(6) {
                max-width: calc(100% - 1rem);
                flex: 1 1 100%;
                height: 600px;
              }

      
            }
          }
        }
      }

      .#{$id}__mainProductInfo {
        padding: 10px;
        padding-top: 15px;
        box-shadow: 0px 2px 10px rgba(169, 169, 169, 0.25);
        z-index: 9;
        position: relative;

        @media(min-width: 767px) {
          box-shadow: unset;
          padding: 20px;
        }

        @media(min-width: 1024px) {
          padding: 30px;
        }

        .#{$id}-productSticky {
          @media(min-width: 767px) {
            position: sticky;
            top: 20px;
            overflow: hidden;
          }
        }

        h4 {
          margin-bottom: 10px;
          color: #101820;

          &.alternate {
            margin-bottom: 5px;
          }
        }

        .#{$id}-stockCheck {
          position: relative;
          padding-left: 30px;

          &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 25px;
            height: 20px;
            background: url('https://storage.googleapis.com/exp-app-storage/63c9e2be-b0b2-11ea-b9e3-3af835c8f71c/media/original/de61d8ec-1343-11ed-b1c6-021e2d9f4ed2') no-repeat center;
            background-size: contain;
          }
        }
      }

      .#{$id}-finance {
        background: #F6F6F4;
        margin-top: 10px;
        width: fit-content;
        cursor: pointer;

        .clearpay {
          span {
            height: 30px;
            width: 50px;
            background-image: url('https://storage.googleapis.com/exp-app-storage/63c9e2be-b0b2-11ea-b9e3-3af835c8f71c/media/original/5a208aca-13e2-11ed-bf6e-9e3bb4aa1710');
            background-size: 90px;
            background-position: center;
            background-repeat: no-repeat;
            display: inline-block;
            border-radius: 10px;
            background-color: #b3fbe3;
            height: 20px;
            width: 75px;
            vertical-align: middle;
          }
        }

        @media(min-width: 767px) {
          margin-top: 20px;
        }

        p {
          font-size: 12px;
          padding: 8px 10px;

        }
      }

      // Options
      .product-ring-size {
        margin-top: 10px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;

        .product-ring-size__text .product-ring-size__heading {
          display: none;
        }

        .product-ring-size__
        t {
          border: 2px solid #9E9E9E;
          margin-bottom: 0;
          font-weight: 400;
          font-size: 14px;
          color: #484849;
          width: 100% !important;
          text-align: left;
          padding: 10px;
          float: none;
          align-items: flex-start;
        }

        .product-ring-size__will-it-fit {
          height: 30px;
          width: 30px;
          text-indent: -999px;
          background: url('https://storage.googleapis.com/exp-app-storage/63c9e2be-b0b2-11ea-b9e3-3af835c8f71c/media/original/aff401f4-13f9-11ed-ad0d-3a52e42f68cf') no-repeat center;
          background-size: contain;
          margin-left: 15px;
        }
      }


      .#{$id}-usps,
      .#{$id}-productIntro {
        display: none;

        @media(min-width: 767px) {
          display: block;
          margin-top: 20px;
          p {
            margin-bottom: 10px;
          }
        }
      }

      .#{$id}-usps {
        @media(min-width: 767px) {
          h4 {
            padding-bottom: 10px;
            border-bottom: 2px solid #D7D2CB;
            margin-bottom: 10px;
          }

          .#{$id}-usp {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 20px;

            span {
              height: 25px;
              width: 25px;
              background-size: contain;
              background-position: center;
              background-repeat: no-repeat;
              margin-right: 10px;
              display: inline-block;
              align-items: center;
            }

            p {
              margin-right: 5px;
            }

            &.#{$id}-delivery {
              span {
                background-image: url('https://storage.googleapis.com/exp-app-storage/63c9e2be-b0b2-11ea-b9e3-3af835c8f71c/media/original/677bd656-bfce-11ec-889a-6ad89af0e2d3');
              }
            }

            &.#{$id}-returns {
              span {
                background-image: url('https://storage.googleapis.com/exp-app-storage/63c9e2be-b0b2-11ea-b9e3-3af835c8f71c/media/original/68cc75ba-bfce-11ec-8a99-fe8faed86c9e');
              }
            }

            &.#{$id}-features {
              span {
                background-image: url('https://storage.googleapis.com/exp-app-storage/63c9e2be-b0b2-11ea-b9e3-3af835c8f71c/media/original/6e225f20-1339-11ed-a057-1a398405eb6d');
              }
            }

            &.#{$id}-clickcollect {
              span {
                background-image: url('https://storage.googleapis.com/exp-app-storage/63c9e2be-b0b2-11ea-b9e3-3af835c8f71c/media/original/6a9056be-bfce-11ec-b200-f61dffdd81fd');
              }
            }

            &.#{$id}-tangiblee {
              span {
                background-image: url('https://storage.googleapis.com/exp-app-storage/63c9e2be-b0b2-11ea-b9e3-3af835c8f71c/media/original/359053c6-bfd1-11ec-9f85-662c2f6399dc');
              }
            }
          }
        }
      }

      .#{$id}-productIntro {
        margin-bottom: 20px;
        p {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }

        @media(min-width: 1024px) {
          .#{$id}__textLink {
            display: block;
          }
        }
      }
    }

    // Recommendations
    .#{$id}-recommendations {
      padding-right: 0;
      position: relative;
      background: white;
      z-index: 9;
      .#{$id}__sectionContainer {
        position: relative;

        .#{$id}-swiperNext,
        .#{$id}-swiperPrev{
          @media(min-width: 1024px) {
            display: block;
          }
        }
      }

      @media(min-width: 767px) {
        background: #F6F6F4;
        margin-top: 40px;
      }

      h3 {
        margin-bottom: 10px;
        @media(min-width: 1024px) {
          margin-left: 50px;
          font-size: 23px;
        }
      }

      .#{$id}-recProducts {
        overflow: hidden;
        padding-left: 0px;
        margin-bottom: 10px;
        padding-right: 10px;
       


        @media(min-width: 1024px) {
          margin-right: 50px;
          margin-left: 50px;
        }


        .#{$id}-recSlide {
          background-color: white;
          border: 1px solid #D7D2CB;
          box-sizing: border-box;
          padding: 10px;
          position: relative;
          //width: 150px !important;
          height: auto;

          @media(min-width: 767px) {
            border: 0px;
          }

          >a {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
          }

          .#{$id}-image {
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            height: 150px;
            margin-bottom: 10px;
            @media(min-width: 1024px) {
              height: 200px;
            }
          }


          .#{$id}-info {
            text-align: center;
            @media(min-width: 1024px) {
              width: 80%;
              margin: 0 auto;
            }

            h4 {
              color: #484849;
              font-size: 14px;
              line-height: 21px;
            }

            .syte-item-price-wrapper {
              margin-top: 10px;
              margin-bottom: 10px;
              display: flex;
              flex-direction: row-reverse;
              justify-content: center;
              align-items: center;

              .was {
                margin-left: 5px;
              }
            }
          }
        }
      }
    }

    // Brand info
    .#{$id}-brandInfo {
      padding: 0;

      @media(min-width: 767px) {
        padding-top: 40px;
        padding-bottom: 40px;
      }

      .#{$id}__row {
        @media(min-width: 767px) {
          flex-direction: row-reverse;
          align-items: center;
        }
      }

      .#{$id}__sectionContainer {
        @media(min-width: 767px) {
          padding-left: 20px;
          padding-right: 20px;
        }
      }

      .#{$id}-textBlock {
        text-align: left;
        @media(min-width: 767px) {
         text-align: center;
        }
      }
    }

    .#{$id}-appointment {
      background: #F6F6F4;

      @media(min-width: 767px) {
        .#{$id}-textBlock {
          width: 80%;
          text-align: center;

          .#{$id}__button {
            margin: 0 auto;
            max-width: 200px;
          }
        }
      }

      @media(min-width: 1024px) {
        .#{$id}-textBlock {
          width: 100%;
          max-width: unset;

          .inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: unset;

            p {
              max-width: 600px;
              margin-bottom: 20px;
              margin-top: 10px;
            }

            .#{$id}-ctas {
              flex-shrink: 0;

              .#{$id}__button {
                width: 200px;
              }
            }
          }
        }
      }
    }

     // Reviews
  .#{$id}-reviews {
    #js-link-reviews {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .product-customer-rating-summary {
      display: flex;
      flex-direction: row;
      align-items: center;
      border: 0;
    }
  }

  .product-reviews__rating__review-star-rating--star-large,
  .product-reviews__rating__review-star-rating--star-small,
  .product-customer-rating-summary__star {
    filter: brightness(0);
    display: inline-block;
    width: 18px;
    height: 18px;
    padding: 2px;
  }

  .#{$id}-allReviewsBlock {
    @media(min-width: 767px) {
      padding-left: 20px;
      padding-right: 20px;
    }
    .#{$id}__sectionContainer {
      >h2 {
        padding-bottom: 10px;
        border-bottom: 2px solid #A1C2ED;
        margin-bottom: 10px;
      }
    }

    .product-reviews {
      @media(min-width: 1024px) {
        display: flex;
        flex-direction: row;
      }
    }

    .#{$id}-reviewSummary {
      margin-top: 20px;
      margin-bottom: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .#{$id}__button {
        margin: 0;
        width: 55%;
        max-width: 200px;
      }
    }

    .#{$id}-reviewCount {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 0px;

      .#{$id}-amount {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 10px;

        h2 {
          margin-bottom: 0;
          margin-left: 10px;
        }

        span {
          height: 20px;
          width: 20px;
          background: url('https://storage.googleapis.com/exp-app-storage/63c9e2be-b0b2-11ea-b9e3-3af835c8f71c/media/original/d26a8ad8-13e9-11ed-ae2e-9e3bb4aa1710') no-repeat center;
          background-size: contain;
        }
      }
    }

    .#{$id}-allReviews {

      .product-reviews__overview,
      .product-reviews__vote-mini,
      .product-reviews__reviews__would-recommend,
      .product-reviews__star-rating-heading,
      .product-reviews__reviewer--meta,
      .product-reviews__reviews__would-not-recommend--label {
        display: none;
      }

      .product-reviews__reviews {
        @media(min-width: 1024px) {
          display: flex;
          flex-direction: row;
          flex-direction: row;
          gap: 20px;
          flex-wrap: wrap;
        }
      }

      .product-reviews__reviews__container {
        background: #F7F6F6;
        padding: 10px;
        padding-top: 0;
        margin-bottom: 10px;
        margin-top: 10px;
        display: flex;
        flex-direction: column-reverse;
        border: 0px;
        @media(min-width: 1024px) {
          flex-basis: 48.9%;
          justify-content: center;
          margin-bottom: 0;
          margin-top: 0;
          padding: 20px;
        }
      }

      .product-reviews__header.product-reviews__header--review-title {
        font-weight: 700;
        font-size: 18px;
        color: #212721;
        margin-bottom: 10px;
      }

      .product-reviews__star-ratings {
        margin-bottom: 10px;
      }

      .product-reviews__rating__review-star-rating--star-small {
        margin-bottom: 0;
        width: 20px;
        height: 20px;
        padding: 1px;
      }

      .product-reviews__reviews__author {
        margin-top: 10px;

        h4 {
          font-weight: 600;
          font-size: 16px;
          color: #484849;
        }
      }

      .product-reviews__reviews__date {
        font-size: 14px;
        color: #484849;
      }
    }
  }
  }

  // Slide out information
  .#{$id}-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgb(0 0 0 / 84%);
    z-index: 999999;
    left: 0;
    top: 0;
    display: none;
    cursor: pointer;

    &.active {
      display: block;
    }
  }

  .#{$id}-slideOutTab.desktop {
    .#{$id}-close {
      display: none;
    }

    h2 {
      display: none;
    }
  }

  .#{$id}-slideOutTab.desktop,
  .#{$id}-stockSlideOut {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: white;
    z-index: 9999991;
    padding: 20px;
    box-sizing: border-box;
    transform: translateX(5000px);
    opacity: 0;
    top: 0;
    overflow-y: auto;

    @media(min-width: 767px) {
      width: 40%;
      right: 0;

      .#{$id}-close {
        display: block;
      }

      .#{$id}-detail-heading {
        display: none;
      }

      h2 {
        display: block;
      }
    }

    &.active {
      animation: SGslide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    &.closed {
      animation: SGslide-out-right 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    }

    .#{$id}-inner {
      display: none;

      &.active {
        display: block;
      }
    }

    h2 {
      border-bottom: 1px solid #101820;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 10px;
      @media(min-width: 1024px) {
        margin-top: 20px;
      }
    }

    .#{$id}-content {
      margin-bottom: 10px;
      @media(min-width: 1024px) {
        margin-top: 20px;
      }
      > p{
        margin-top: 0;
      }
    }

    .#{$id}-deliveryCharges {
      padding: 10px;
      background: #F6F6F4;
      margin-top: 10px;
      margin-bottom: 10px;
       p {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }

    .#{$id}__button {
      margin-top: 30px;
    }

  }

  // Accordion mobile
  .#{$id}-productDetails.mobile {
    padding: 10px;
    position: relative;
    z-index: 9;
    background: white;

    .#{$id}-close,
    h2 {
      display: none;
    }

    .#{$id}-detailSection {
      .#{$id}-detail-heading {
        padding: 15px 0px;
        border-bottom: 2px solid #9E9E9E;
        position: relative;
        cursor: pointer;

        &::after {
          content: '';
          height: 20px;
          width: 20px;
          background: url('https://storage.googleapis.com/exp-app-storage/9191200e-b0b2-11ea-ad2a-8afcbfbc1b77/media/original/4a18b6f8-069e-11ed-8f7d-225bafc48d38') no-repeat center;
          background-size: contain;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
        }

        h4 {
          margin-bottom: 0;
        }
      }

      .#{$id}-detail-content {
        transition: all 0.3s ease;
        overflow: hidden;
        max-height: 0;
        opacity: 0;

        @media(min-width: 767px) {
          overflow: visible;
          max-height: unset;
          opacity: 1;
        }

        .#{$id}-inner {
          padding: 15px 0;

        }

        p {
          margin-bottom: 10px;
        }

        .#{$id}-content {
          margin-bottom: 10px;
        }

        .#{$id}__button {
          margin-top: 30px;
        }

        .#{$id}-deliveryCharges {
          padding: 10px;
          background: #F6F6F4;
        }
      }

      &.#{$id}-open {
        .#{$id}-detail-content {
          max-height: 1000px;
          opacity: 1;
        }

        .#{$id}-detail-heading {
          &::after {
            background: url('https://storage.googleapis.com/exp-app-storage/9191200e-b0b2-11ea-ad2a-8afcbfbc1b77/media/original/498f2226-069e-11ed-97f4-42200375e94a') no-repeat center;
            background-size: contain;
          }
        }
      }
    }
  }

  // Specs
  .#{$id}-inner.features {

    tr,
    td {
      padding: 10px;
      font-size: 14px;
      background: white;
      border-right: 0px;
    }

    tr {
      td:nth-child(1) {
        width: 50%;
      }

      td:nth-child(2) {
        text-align: right;
      }
    }
  }


  .#{$id}-insurance {
    padding-top: 0;

    @media(min-width: 767px) {
      background: unset;
    }

    .#{$id}__sectionContainer {
      padding-left: 0;
      padding-right: 0;
      position: relative;

      @media(min-width: 1024px) {
        margin: 0 auto;
      }

      @media(min-width: 1280px) {
        max-width: 1356px;
      }
    }

    .#{$id}__row {
      @media(min-width: 767px) {
        flex-direction: row;
        align-items: stretch;
      }
    }

    .#{$id}-image {
      height: 200px;
      background: url('https://storage.googleapis.com/exp-app-storage/63c9e2be-b0b2-11ea-b9e3-3af835c8f71c/media/original/bde07b20-c175-11ec-84b8-367fac8a66aa') no-repeat center;
      background-size: cover;
      position: relative;
      &::before {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        right: -11px;
        z-index: -1;
        top: -10px;
        background: #F7F6F6;
        @media(min-width: 767px) {
          right: auto;
          left: -11px;
        }
      }

      @media(min-width: 767px) {
        width: 50%;
        height: 350px;
      }

      @media(min-width: 1280px) {
        height: 400px;
        margin-right: 20px;
      }
    }

    .#{$id}-ctas {
      @media(min-width: 767px) {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        .#{$id}__button {
          margin: 0;
          margin-top: 10px;
          max-width: 200px;

          &.secondary {
            margin-left: 10px;
          }
        }
      }

    }
  }

  .#{$id}-insurance {
    margin-top: 20px;

    b {
      color: #101820;
    }

    .#{$id}-image {
      background: url('https://www.ernestjones.co.uk/content-root/insurance.cdo/images/202205041027/When_a_repair_is.jpg') no-repeat center;
      background-size: cover;
    }

    .#{$id}-ctas {
      .#{$id}__button {
        cursor: pointer;

        &.secondary {
          @media(min-width: 767px) {
            margin-left: 0;
          }

        }
      }
    }
  }

}
