.MP129 {
  .bg-grayLight.infoBar {
    height: auto;
    .text-center.text-capitalize {
      line-height: 20px;
      margin: 5px 0 5px 0;

      #MP129-info__link {
        text-decoration: underline;
      }
    }
  }
}