@import './variables';
@import './keyframes.scss';

.#{$id} {
    &.#{$id}_noScroll {
        overflow: hidden;
    }

    &.#{$id}-1,
    &.#{$id}-2 {
    // both
        .minicart-container {
            float: none;
            margin: 0;

            .minicart-wrapper {
                background: url('//cdn.optimizely.com/img/6087172626/39cc2105852b47d697c1b4098c0f0b77.png') no-repeat center;
                background-size: contain;
                height: 40px;
                width: 40px;
                margin: 0;
                position: relative;
                @media(min-width: 414px) {
                    width: 50px;
                    height: 50px;
                } 
                @media(min-width: 767px) {
                    height: 45px;
                } 

                .action.showcart {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    height: 100%;
                    @media(min-width: 1024px) {
                        position: relative;
                        top: unset;
                        left: unset;
                        transform: unset;
                    }

                    .counter.qty {
                    display: none;

                        &::after {
                            display: none;
                        }
                    }

                    .counter-label {
                        display: none;
                    }
                }
            }

            
        }

        .sections.nav-sections {
            display: none;
        }

        // Mobile Nav
        @media(max-width:1023px) {

            // search 
            .top-search-banner {
                display: none;
                background: #e6e6e6;

                &.#{$id}-searchShow {
                    display: block;
                    padding: 10px;
                }

                .block.block-search {
                    margin-top: 0;
                }

                #custom-search {
                    height: 49px;
                    display: block;
                    border: 1px solid black;
                    box-shadow: none;
                    position: static;
                    font-size: 14px;
                    margin: 0px;
                    font-size: 14px;
                    border-right: 0;

                    &::placeholder {
                        color: black;
                    }
                }

                .block-content {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;

                    .field.search {
                        width: 100%;
                    }

                    #search_custom_form_footer {
                        max-width: unset;
                        margin: unset;
                        position: relative;
                        display: flex;
                        flex-direction: row;
                        width: 100%;

                        .actions {
                            .action.search {
                                display: block;
                                height: 49px;
                                width: 45px;
                                background: #ffffff;
                                border: 1px solid black;
                                border-radius: 0;
                                border-left: 0px;
                                line-height: 48px;
                                position: relative;
                                box-shadow: unset;
                                right: 0;
                                bottom: 0;
                                padding: 0;
                            }
                        }
                    }
                }
            }

            // search
          .#{$id}_searchBox {
            flex-direction: row;
            background: #f3f3f3;
            display: flex;
            opacity: 0;
            height: 0;
            &.#{$id}-mainHeader{
                flex-direction: row-reverse;
            }

            &.#{$id}_searchActive {
                display: flex;
                animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
                height: auto;
                padding: 10px;
            }

            .form.minisearch {
                flex-direction: row;
                background: #f3f3f3;
                display: flex;
                width: 100%;
                
            }

            span,
            .nested {
                display: none;
            }

            .field.search {
                border: 1px solid #c2c2c2;
                border-right: 0px;
                height: 40px;
                width: 100%;
                

                input {
                    height: 37px;
                    border: 0;

                    &::placeholder {
                        font-weight: 100;
                    }

                    &:focus,
                    &:active {
                        outline: none;
                        box-shadow: unset;
                    }
                }

            }

            #search_autocomplete {
                display: none;
            }

            .actions .action.search {
                height: 40px;
                width: 60px;
                opacity: 1;
                border: 1px solid #c2c2c2;
                border-left: 0px;
                background-color: white;
                background-image: url('//cdn.optimizely.com/img/6087172626/ab14a50ac31841c9ab78dfdde8519ccc.png');
                background-size: 40px;
                background-repeat: no-repeat;
                background-position: center;
            }

            .#{$id}_closeSearch {
                width: 50px;
                background: url('https://cdn.optimizely.com/img/6087172626/23d94b16ce7a4c50b2bd52fa3b1137fa.png');
                background-size: contain;
                background-position: center;
            }
        }

        // header 
            .header.content {
                background: black;
                height: 70px;
                background-image: unset !important;

                &::after {
                    display: none;
                }

                .container {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    &::before {
                        display: none;
                    }

                    &::after {
                        display: none;
                    }

                    .nav-toggle {
                        position: relative;
                        top: unset;
                        left: unset;
                        background: url('//cdn.optimizely.com/img/6087172626/fe6661e68d9347e7a8b549e1e15dea06.png') no-repeat center;
                        background-size: contain;
                        height: 50px;
                        width: 30px;
                        margin-right: 10px;

                        &:before {
                            display: none;
                        }

                        span {
                            display: none;
                        }
                    }

                    .logo-wrapper {
                        background: url('//cdn.optimizely.com/img/6087172626/0bf707bcc92f4eddae0897869f7d0f81.png') no-repeat center;
                        background-size: contain;
                        width: 125px;
                        height: 100%;
                        margin-right: 10px;
                        margin-left: 0px;

                        a {
                            display: block;
                            width: 100%;
                            height: 100%;
                        }

                        .logo {
                            position: relative;
                            top: unset;
                            left: unset;
                            transform: unset;

                            img {
                                display: none;
                            }
                        }

                        @media(min-width: 414px) {
                            width: 170px;
                            height: 100%;
                            margin-right: 20px;
                            margin-left: 20px;
                        }
                    }

                    .header-right-links__cart-links {
                        position: relative;
                        top: unset;
                        left: unset;
                        right: unset;
                        transform: unset;
                        margin: 0;
                        padding: 0;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;

                        .#{$id}-search,
                        .#{$id}-mail {
                            height: 40px;
                            width: 40px;
                            margin: 5px;
                            cursor: pointer;
                            span {
                                display: block;
                                width: 100%;
                                height: 100%;
                            }
                            @media(min-width: 414px) {
                            margin-left: 10px;
                            margin-right: 10px;
                            } 
                        }
                        .#{$id}-search {
                            span {
                                background: url('https://cdn.optimizely.com/img/6087172626/5e4a3a070e774c10a689f3f8b64a2043.png') no-repeat center;
                                background-size: 28px;
                                width: 100%;
                                height: 100%;
                                @media(min-width: 414px) {
                                    background-size: 35px;
                                }
                                @media(min-width: 767px) {
                                    background-size: 25px;
                                }
                            }
                        }
                        .#{$id}-mail {
                            display: none;
                            span {
                                background: url('//cdn.optimizely.com/img/6087172626/7aca15254d024d53818d2396c86be1aa.png') no-repeat center;
                                background-size: 30px;
                                @media(min-width: 414px) {
                                    background-size: 35px;
                                } 
                                @media(min-width: 767px) {
                                    background-size: 30px;
                                }
                            }
                        }
                    }
                }

                @media(min-width: 768px) {
                    border-bottom: 1px solid #10baf4;

                    .nav-toggle {
                        display: block;
                    }

                    .authorization-link {
                        display: none;
                    }

                    .logo-subtitle {
                        display: none;
                    }
                }
            }

            .#{$id}_navigationWrapper {
                position: fixed;
                top: 0;
                background: white;
                z-index: 999;
                width: 100%;
                transform: translateX(-4000px);
                height: 100%;

                &.#{$id}_navActive {
                    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                }

                &.#{$id}_navHide {
                    animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
                }

                .#{$id}_navHeader {
                    .#{$id}_headerInner {
                        display: flex;
                        padding: 10px;
                        flex-direction: row;
                        justify-content: space-between;
                        position: relative;
                        z-index: 999;
                        background: black;
                        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);

                        .#{$id}_navClose {
                            // background: url('//cdn.optimizely.com/img/6087172626/23d94b16ce7a4c50b2bd52fa3b1137fa.png')no-repeat center;
                            background: url('//cdn.optimizely.com/img/6087172626/fc727ff834494c978d42d913d826e5ec.png') no-repeat center;
                            position: absolute;
                            background-size: cover;
                            right: 0;
                            top: 50%;
                            width: 50px;
                            transform: translateY(-50%);
                            height: 50px;
                        }

                        .#{$id}_logo {
                            width: 100px;
                            height: 40px;
                            //background: url('https://merchoidcdn-pveiw4zwh96ot9z.netdna-ssl.com/media/logo/default/logo.png') no-repeat center;
                            background: url('//cdn.optimizely.com/img/6087172626/0bf707bcc92f4eddae0897869f7d0f81.png')no-repeat center;
                            background-size: contain;

                            @media(min-width: 400px) {
                                width: 130px;
                                height: 55px;
                            }
                        }

                        .#{$id}_rightIcons {
                            margin-right: 40px;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;

                            .#{$id}_search {
                                //background: url('//cdn.optimizely.com/img/6087172626/ef7c6552a81d427887df7a75c9c31f2c.png') no-repeat center;
                                background: url('//cdn.optimizely.com/img/6087172626/5e4a3a070e774c10a689f3f8b64a2043.png') no-repeat center;
                                width: 25px;
                                height: auto;
                                align-content: center;
                                background-size: contain;
                                margin-left: 10px;
                                margin-right: 10px;
                            }

                            .#{$id}_cart {
                                //background: url('//cdn.optimizely.com/img/6087172626/ed4e8ece2b31466685f868e8e40a0ac4.png') no-repeat center;
                                background: url('//cdn.optimizely.com/img/6087172626/333a6e99b2384c1498d857e192c0f524.png') no-repeat center;
                                background-size: contain;
                                height: auto;
                                width: 25px;
                                align-content: center;
                                margin-left: 10px;
                                margin-right: 10px;

                                a {
                                    display: block;
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                    }

                
                }

                .#{$id}_navLinks {
                    height: calc(100vh - 66px);
                    padding-bottom: 100px;
                    overflow-y: auto;

                    .#{$id}_navLink {
                        margin: 0px 10px;
                        border-bottom: 1px solid #dcdcdc;
                        position: relative;

                        li {
                            list-style: none;
                            color: black;
                            font-size: 19px;
                            font-weight: 100;
                            display: flex;
                            flex-direction: row;
                            padding: 20px;
                            padding-left: 0px;

                            .#{$id}_icon {
                                width: 40px;
                                height: auto;
                                background-size: cover;
                                background-position: center;
                                background-repeat: no-repeat;
                                margin-right: 10px;
                            }

                            @media(min-width: 400px) {
                                font-size: 20px;
                                padding: 25px;
                                padding-left: 5px;
                            }
                        }

                        &.#{$id}_Home {
                            .#{$id}_icon {
                                background-size: contain;
                            }
                        }

                        a {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            top: 0;
                        }

                        &.#{$id}_category {
                            &::after {
                                content: '';
                                position: absolute;
                                right: 0px;
                                height: 25px;
                                width: 25px;
                                top: 50%;
                                transform: translateY(-50%);
                                background: url('//cdn.optimizely.com/img/6087172626/9d5072b017724757b8a5ccdaffe764d9.png') center no-repeat;
                                background-size: contain;
                            }
                        }
                    }

                    // brand icons
                    .#{$id}_navLvl2 {
                        position: fixed;
                        background: white;
                        top: 60px;
                        width: 100%;
                        height: 100%;
                        transform: translateX(-4000px);
                        z-index: 9999;

                        .#{$id}_lvl2Links {
                            overflow-y: auto;
                            overflow-x: hidden;
                            height: 100vh;
                            padding-bottom: 166px;
                            padding-left: 10px;
                            padding-right: 10px;
                            display: flex;
                            justify-content: center;
                            flex-wrap: wrap;
                            align-content: flex-start;
                            padding-top: 20px;

                            @media(min-width: 600px) {
                                padding-bottom: 250px;
                            }

                            .#{$id}_navLink {
                                border-bottom: 0;
                                padding: 0px;
                                position: relative;
                                display: flex;
                                flex-direction: column;
                                align-content: center;
                                width: 26%;
                                margin: 10px 10px 20px;
                                text-align: center;

                                span {
                                    position: relative;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    height: auto;
                                    color: black;
                                    font-weight: 100;
                                    font-size: 12px;
                                }

                                .#{$id}_icon {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    background-color: #fff;
                                    height: 80px;
                                    width: 80px;
                                    margin: 0 auto;
                                    margin-bottom: 10px;
                                    border-radius: 15px;
                                    box-shadow: 0 2px 9px rgba(0, 0, 0, 0.19);
                                    background-size: 70px;
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    padding: 0px;
                                    @media(min-width: 375px) {
                                        height: 90px;
                                        width: 90px;
                                        background-size: 80px;

                                    }
                                }
                            }

                        }

                        .#{$id}_backLink {
                            background: #eaeaea;
                            padding: 10px;
                            position: relative;

                            span {
                                position: absolute;
                                left: 0;
                                height: 30px;
                                width: 30px;
                                top: 50%;
                                transform: rotate(-180deg) translateY(50%);
                                background: url('//cdn.optimizely.com/img/6087172626/9d5072b017724757b8a5ccdaffe764d9.png') center no-repeat;
                                background-size: contain;
                            }

                            h3 {
                                margin: 0;
                                color: black;
                                text-align: center;
                                font-size: 17px;
                                font-weight: 900;
                                text-transform: uppercase;
                            }

                            @media(min-width: 400px) {
                                padding: 15px;

                                h3 {
                                    font-size: 20px;
                                }

                                span {
                                    height: 40px;
                                    width: 40px;
                                }
                            }
                        }

                        &.#{$id}_secondLevel_active {
                            animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                        }

                        &.#{$id}_lvl2Hide {
                            animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
                        }

                        @media(min-width: 414px) {
                            top: 75px;
                        }
                    }

                    // if search is open
                    .#{$id}-searchOpen {
                        .#{$id}_navLvl2 {
                            top: 120px;

                            @media(min-width: 768px) {
                                top: 135px;
                            }
                        }
                    }

                    .#{$id}_brands {
                        .#{$id}_lvl2Links {
                            .#{$id}_navLink {
                                .#{$id}_icon {
                                    background-size: 55px;
                                    @media(min-width: 375px) {
                                        background-size: 60px;
                                    }
                                }
                            }
                            .#{$id}-brandsCTA {
                                position: relative;
                                max-width: 250px;
                                margin: 0 auto;
                                background: #10baf4;
                                color: white;
                                text-transform: uppercase;
                                font-size: 14px;
                                font-weight: 900;
                                height: auto;
                                text-align: center;
                                padding: 10px;
                                border-radius: 5px;
                                margin-top: 20px;
                            }
                        }
                    }
                }

                @media(min-width: 767px) {
                    width: 70%;
                }
            }

            .#{$id}-overlay {
                position: fixed;
                background: rgba(0, 0, 0, 0.86);
                z-index: 999;
                width: 100%;
                height: 100%;
                top: 0;
                display: none;
            }

            @media(min-width: 767px) {
                .minicart-wrapper__summary-subtotal {
                    display: none;
                }

                .minicart-wrapper__summary {
                    text-indent: -9999px;
                }

                .#{$id}-overlay {
                    &.#{$id}_overlayActive {
                        display: block;
                    }
                }
            }
        }

        // Desktop Nav
        @media(min-width:1024px) {

            .page-header,
            .top-search-banner {
                display: none;
            }

            .banner-home-slider {
                margin-top: 50px;
            }

            .sections.nav-sections {
                display: none;
            }

            .banner-home-slider #banner-slider-carousel {
                z-index: 99;
            }

            .#{$id}_headerWrapper {
                background: black;
            }

            .#{$id}_topbar {
                background: #10baf4;
                padding: 0px 10px;
                height: 45px;

                .#{$id}_container {
                    max-width: 1180px;
                    margin: 0 auto;
                    display: flex;
                    justify-content: space-between;
                }

                .#{$id}_leftSide {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    span {
                        color: black;
                        font-weight: 500;
                        font-size: 13px;

                        a {
                            color: black;
                            font-weight: 100;
                            font-size: 13px;
                            text-decoration: underline;
                            cursor: pointer;
                            margin-left: 10px;
                        }
                    }
                }

                .#{$id}_rightSideTop {
                    display: flex;
                    align-items: center;
                    position: relative;
                    padding-left: 20px;
                    padding-right: 20px;

                    &:before {
                        content: '';
                        background: black;
                        position: absolute;
                        top: 0;
                        height: 100%;
                        width: 100%;
                        left: 0;
                        z-index: 0;
                        clip-path: polygon(15% 0, 100% 0, 90% 100%, 0 100%);
                    }

                    .minicart-wrapper {
                        height: 40px;
                        width: 50px;
                        margin-top: 3px;
                        .action.showcart {
                            .counter.qty {
                                display: block;
                                background: none;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%,-50%);
                                border: 0px;
                                padding-bottom: 0;
                            }
                        }
                    }

                    .#{$id}_icon {
                        height: 50px;
                        width: 50px;
                        position: relative;
                        cursor: pointer;
                        &.#{$id}_mail {
                            display: none;
                            background: url('//cdn.optimizely.com/img/6087172626/7aca15254d024d53818d2396c86be1aa.png') no-repeat center;
                            background-size: 30px;
                        }

                        .#{$id}-iconLabel {
                            color: white;
                            font-weight: 100;
                            font-size: 12px;
                            margin-bottom: 0;
                            text-align: center;
                            
                        }
                        &.#{$id}_basket {
                            .minicart-wrapper__summary-subtotal {
                                display: none;
                            }

                            .minicart-wrapper__summary {
                                display: none;
                            }

                            .minicart-container {
                                list-style: none;
                            }
                        }

                    
                    }
                }
            }

            .#{$id}_headerContent {
                background: black;
                display: flex;
                justify-content: space-between;
                padding: 5px 10px;
                max-width: 1180px;
                position: relative;
                margin: 0 auto;

                .#{$id}_logo {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-content: center;

                    a {
                        display: block;
                        width: 100%;
                        height: 100%;
                    }

                    span {
                        display: none;
                    }

                    .#{$id}_logoImage {
                        background: url('//cdn.optimizely.com/img/6087172626/0bf707bcc92f4eddae0897869f7d0f81.png') no-repeat center;
                        height: 65px;
                        width: 150px;
                        margin: 0 auto;
                        background-size: contain;
                    }

                    span {
                        color: white;
                        font-size: 13px;
                    }
                }
            }

            .#{$id}_navigation {
                z-index: 100;
                max-width: 1200px;
                display: flex;
                align-items: center;

                .#{$id}_navigationWrapper {
                    display: flex;
                    height: 100%;
                    align-items: center;
                }

                .#{$id}_navLinks {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    position: static;
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    height: 100%;

                    .#{$id}_navLink {
                        position: static;
                        text-align: center;
                        font-size: 15px;
                        margin: 0;
                        padding-left: 10px;
                        padding-right: 10px;
                        font-weight: 100;
                        color: white;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        cursor: pointer;

                        > a {
                            color: white;

                            &:hover {
                                text-decoration: none;
                            }
                        }

                        &:hover {
                            border-bottom: 1px solid #10baf4;
                        }

                        @media(min-width: 1200px) {
                            padding-left: 20px;
                            padding-right: 20px;
                        }
                    }

                    .#{$id}_navLvl2 {
                        position: absolute;
                        left: 0;
                        top: 95%;
                        width: 100%;
                        background: #fff;
                        z-index: 100;
                        overflow: hidden;
                        //overflow-y: scroll;
                        max-height: 0;
                        transition: 0.2s max-height;

                        // transition-delay: 0.2s;
                        .#{$id}_dropdown {
                            display: -webkit-box;
                            display: flex;
                        }

                    }

                    .#{$id}_category {
                        &:before {
                            content: "";
                            opacity: 0;
                            background: rgba(0, 0, 0, 0.9);
                            pointer-events: none;
                            left: 0;
                            width: 100vw;
                            height: calc(100vh - 144px);
                            top: 144px;
                            z-index: 99;
                            position: fixed;
                        }

                        &:hover {
                            &:before {
                                opacity: 1;
                                animation: fade-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0.2s both;
                            }

                            .#{$id}_navLvl2 {
                                max-height: 400px;
                            }
                        }
                    }

                    // category styling
                    .#{$id}_allCategories {
                        .#{$id}_dropdown {
                            background: #F7F7F7;
                            column-count: 3;
                            padding: 20px;

                            .#{$id}_lvl2Links {
                                width: 100%;
                                background: #F7F7F7;
                                a {
                                    color: black;
                                }
                            }
                        }

                        .#{$id}_navSecondLink {
                            display: inline-block;
                            width: 30%;
                            color: black;
                        
                            a {
                                display: block;
                                background-color: white;
                                padding: 30px;
                                margin: 10px;
                                position: relative;
                                border-radius: 5px;
                                text-transform: capitalize;
                                font-size: 16px;

                                &:hover {
                                    text-decoration: none;
                                    color: #10baf4;
                                }

                                &:last-of-type {
                                    border-bottom: 0px;
                                }
                            }

                            .#{$id}_icon {
                                height: 80px;
                                width: 80px;
                                background-repeat: no-repeat;
                                background-size: contain;
                                background-position: center;
                                position: absolute;
                                left: 20px;
                                top: 50%;
                                transform: translateY(-50%);
                            }

                            span {
                                padding-left: 10px;
                            }
                        }

                    }

                    .#{$id}_brands {
                        .#{$id}_dropdown {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            //overflow-y: scroll;
                            padding: 0;
                            background: #F7F7F7;
                        }

                        .#{$id}_navLvl2 {
                            overflow: hidden;
                        }

                        h3 {
                            color: black;
                            margin: 0;
                            text-align: left;
                            display: flex;
                            flex-direction: row;
                            width: 100%;
                            margin-bottom: 10px;
                        }

                        .#{$id}_allBrands {
                            display: none;
                        }

                        .#{$id}_lvl2Links {
                            display: flex;
                            flex-direction: column;
                            //max-height: 0;
                            height: 400px;
                            overflow: visible;
                            padding-top: 0;
                            background: #f7f7f7;
                            height: 100%;
                            padding: 40px;
                            padding-left: 60px;
                            padding-right: 60px;
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            justify-content: center;
                            h3 {
                                font-size: 17px;
                                margin-bottom: 15px;
                                margin-left: 12px;
                            }

                            .#{$id}_navSecondLink {
                                width: 32%;
                                margin: 5px;
                                box-sizing: border-box;
                                padding: 10px;
                                background: white;
                                border: 0px;
                                border-bottom: 0;
                                position: relative;
                                display: flex;
                                flex-direction: row;
                                flex-wrap: wrap;
                                align-items: center;
                                border-radius: 5px;
                                justify-content: center;
                                cursor: pointer;

                                &:hover {
                                    span {
                                        color: #10baf4;
                                    }
                                }
                                a {
                                    display: flex;
                                    flex-direction: row;
                                    flex-wrap: wrap;
                                    width: 100%;
                                    align-items: center;
                                    font-size: 16px;
                                    cursor: pointer;

                                    &:hover {
                                        text-decoration: none;
                                        color: #10baf4;
                                    }
                                }

                                span {
                                    &:hover {
                                        text-decoration: none;
                                        color: #10baf4;
                                    }
                                }
                                span {
                                    position: relative;
                                    height: auto;
                                    color: black;
                                    margin-left: 0px;
                                    font-weight: 100;
                                }

                                .#{$id}_icon {
                                    height: 40px;
                                    width: 50px;
                                    border-radius: 0px;
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    background-size: contain;
                                    position: relative;
                                    background-color: white;
                                    box-sizing: border-box;
                                    margin-right: 20px;
                                }
                            }
                        }
                        &:hover {
                            .#{$id}_lvl2Links {
                                max-height: 400px;
                                overflow-y: scroll;

                                &::-webkit-scrollbar-track {
                                    background-color: #f7f7f7;
                                }

                                &::-webkit-scrollbar {
                                    width: 8px;
                                    background-color: #f7f7f7;
                                }

                                &::-webkit-scrollbar-thumb {
                                    background-color: black;
                                    border-radius: 10px;
                                    border: solid 3px #f7f7f7;
                                    border-top: solid 50px #f7f7f7;
                                    border-right: 0px;
                                    border-left: 0px;
                                }
                            }
                        }
                    }

                    .#{$id}_help {
                        .#{$id}_lvl2Links {
                            padding: 20px;
                            display: flex;
                            flex-direction: column;
                            width: 100%;

                            .#{$id}_navSecondLink {
                                padding: 10px;
                                padding-top: 0;

                                a {
                                    cursor: pointer;
                                    display: flex;
                                    padding: 5px;
                                    flex-direction: row;
                                    align-items: center;
                                    width: 50%;
                                    border-bottom: 1px solid #efeded;
                                    color: black;
                                    font-size: 16px;

                                    .#{$id}_icon {
                                        height: 40px;
                                        width: 40px;
                                        background-size: contain;
                                        background-repeat: no-repeat;
                                        margin-right: 20px;
                                    }

                                    &:hover {
                                        text-decoration: none;
                                        color: #10baf4;
                                    }
                                }

                                &:last-of-type {
                                    a {
                                        border-bottom: 0px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .#{$id}_rightSide {
                display: flex;
                align-items: center;
            }

            .#{$id}_search {
                .form.minisearch {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    background: #4a4848;
                    border-radius: 6px;
                    box-sizing: border-box;
                    border: 1px solid #10baf4;

                    .search.autocomplete {
                        width: 220px !important;
                    }

                    .actions {
                        height: 100%;

                        .action.search {
                            display: block;
                            height: 35px;
                            width: 40px;
                            background: transparent;
                            border: 0;
                            border-radius: 0;
                            border-left: 0px;
                            line-height: 48px;
                            position: relative;
                            box-shadow: unset;
                            right: 0;
                            bottom: 0;
                            padding: 0;
                            background-image: url('//cdn.optimizely.com/img/6087172626/ab14a50ac31841c9ab78dfdde8519ccc.png');
                            background-size: 40px;
                            background-repeat: no-repeat;
                            background-position: center;
                        }
                    }

                    input {
                        border-radius: 6px;
                        background: #4a4848;
                        color: white;
                        border: 0;

                        &:focus {
                            box-shadow: unset;
                        }
                    }
                }

                .nested {
                    display: none;
                }

                label {
                    display: none;
                }
            }

        }
    }

    /* Email Pop up */ 
    .#{$id}-overlay {
        position: fixed;
        background: rgba(0, 0, 0, 0.585);
        top: 0%;
        z-index: 999;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        cursor: pointer;
        &.#{$id}-overlayShow {
            display: block;
        }
    }
    .#{$id}-emailModal {
        position: fixed;
        top: 50%;
        left: 50%;
        height: auto;
        width: 90%;
        z-index: 9999;
        background: white;
        transform: translate(-50%,-50%);
        display: none;
        overflow: hidden;
        &.#{$id}-modalShow {
            display: block;
        }
        .#{$id}-close {
            position: absolute;
            top: 5px;
            right: 5px;
            height: 30px;
            cursor: pointer;
            width: 30px;
            background: url('//cdn.optimizely.com/img/6087172626/426428b78a2347d0a994bb6e6ad2446a.png') no-repeat center;
            background-size: contain;
        }
        .#{$id}-logoBox {
            background: black;
            padding: 10px;
            .#{$id}-logo {
                height: 40px;
                background: url('https://cdn.optimizely.com/img/6087172626/0bf707bcc92f4eddae0897869f7d0f81.png') no-repeat center;
                background-size: contain;
                width: 140px;
                margin: 0 auto;
            }
        }

        .#{$id}-button {
            background: #0EBCF4;
            display: block;
            border: 1px solid #0EBCF4;
            border-radius: 4px;
            color: white;
            text-transform: uppercase;
            text-align: center;
            padding: 8px 10px;
            width: 90%;
            font-weight: 900;
            margin: 0 auto;
            margin-bottom: 10px;
            position: relative;
            cursor: pointer;
        }

        .#{$id}-content {
            text-align: center;
            padding: 15px;
            &.#{$id}-emailHidden {
                display: none;
            }
            h3 {
                font-size: 23px;
                font-weight: 900;
                text-transform: uppercase;
                color: black;
                margin-top: 5px;
                span {
                    color: #0ABBF4;
                }
            }
            p {
                color: black;
                font-weight: 300;
                font-size: 15px;
                line-height: 22px;
            }
            .#{$id}-smallPrint {
                font-size: 11px;
                color: black;
                font-weight: 100;
                margin-top: 20px;
                margin-bottom: 10px;
                a {
                    color: black;
                    text-decoration: underline;
                }
            }

            // email form
            .#{$id}-emailForm {
                text-align: center;
                .#{$id}-error {
                    color: red;
                    margin-bottom: 0;
                    display: none;
                    &.#{$id}-errorShow {
                        display: block;
                    }
                }
                input {
                    margin-bottom: 15px;
                    margin-top: 10px;
                    max-width: 90%;
                    height: 40px;
                    border: 1px solid #ccc;
                    font-weight: 100;
                    color: black;
                    &.#{$id}-invalidEmail {
                        border: 1px solid red;
                    }
                }
                button {
                    position: relative;
                    &.#{$id}-loading {
                        &::after {
                            content: '';
                            position: absolute;
                            height: 20px;
                            width: 20px;
                            background: url('//cdn.optimizely.com/img/6087172626/3e17657b80fe4e04a198ac154abce97c.gif');
                            right: 5px;
                            background-size: contain;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }
                }
            }
        }

         // success message
         .#{$id}-success {
            padding: 15px;
            display: none;
            &.#{$id}-successShow {
                display: flex;
                flex-direction: column;
            }
            h3 {
                text-align: center;
                color: black;
                font-size: 20px;
                text-transform: uppercase;
                font-weight: 700;
                margin-bottom: 5px;
                margin-top: 5px;
                span {
                    color: #13bbf4;
                }
            }
            p {
                font-size: 16px;
                text-align: center;
                color: black;
                font-weight: 100;
                margin-top: 0px;
                margin-bottom: 10px;
            }
           
            .#{$id}-voucher {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-content: center;
                margin-bottom: 20px;
                margin-top: 20px;
                input {
                    border: 2px dashed black;
                    border-right: 0px;
                    text-transform: uppercase;
                    color: black;
                    height: 50px;
                    font-size: 16px;
                    padding-bottom: 3px;
                   
                }
                .#{$id}-copyButton {
                    background-color: black;
                    background-image: url('//cdn.optimizely.com/img/6087172626/9167ade60f6f46b9b14aa994a5600c98.png');
                    background-size: 25px;
                    background-repeat: no-repeat;
                    background-position: center;
                    height: 50px;
                    width: 70px;
                    cursor: pointer;
                }
            }
        }
        @media(min-width: 767px) {
            width: 600px;
            height: 390px;
            &.#{$id}-modalShow {
                display: flex;
                flex-direction: row;
            }
            .#{$id}-logoBox {
                background: white;
                padding: 0;
                .#{$id}-logo {
                    background: url('https://merchoidcdn-pveiw4zwh96ot9z.netdna-ssl.com/media/logo/default/logo.png') no-repeat center;
                    background-size: contain;
                    margin-left: 10px;
                    margin-top: 10px;
                    width: 100px;
                }
            }
            .#{$id}-content {
                text-align: left;
                padding-top: 5px;
                padding-left: 20px;
                padding-right: 10px;
                width: 350px;
                h3 {
                    font-size: 25px;
                }
                p {
                    max-width: 90%;
                }
            }
            .#{$id}-emailForm {
                .#{$id}-form {
                    text-align: left;
                }
                .#{$id}-error {
                    text-align: left;
                }
            }
            .#{$id}-button {
                margin-left: 0;
            }
            .#{$id}-success {
                width: 350px;
                padding-left: 20px;
                h3 {
                    font-size: 25px;
                    margin-bottom: 10px;
                }
                h3, p {
                    text-align: left;
                }
                p {
                    margin-bottom: 10px;
                }
                .#{$id}-voucherBlock {
                    margin-bottom: 20px;
                    flex-grow: 1;
                    .#{$id}-voucher {
                        width: 90%;
                        margin-bottom: 20px;
                        margin-top: 30px;
                    }
                }
                
            }
            .#{$id}-rightSide {
                width: 250px;
                background: url('//cdn.optimizely.com/img/6087172626/0105eff9bbae4f5b973bf464501ad4ae.jpg') no-repeat center;
                background-size: cover;
            }
        }
    }

    &.#{$id}-1,
    &.#{$id}-2 {
        .#{$id}-emailModal {
            .#{$id}-success {
                -webkit-transform: rotate(-540deg) scale(0);
                transform: rotate(-540deg) scale(0);
                opacity: 0;
                overflow: hidden;
                height: 0;
                &.#{$id}-successShow {
                    height: auto;
                    animation: MEswirl-in-fwd 0.6s ease-out both;
                }
            }
        }

    }

    &.#{$id}-1 {
        .#{$id}-emailModal {
            .#{$id}-content { 
                h3 {
                    @media(min-width: 767px) {
                        font-size: 23px;
                    }
                }
            }

        }
    }
}
