/*Mobile layout*/
@media (min-width: 320px) {
  .TG003 #request-catalogue-popup {
    display: block;
    opacity: 1;
    overflow: scroll; }
  .TG003 .product-view #request-catalogue-popup .modal-dialog {
    width: 100%; }
  .TG003 .modal-content {
    padding: 10px; }
  .TG003 .modal-content h3 {
    margin: 0;
    color: #1e2b33;
    text-transform: uppercase;
    text-align: center;
    font-size: 17px;
    padding-bottom: 10px;
    border-bottom: 2px solid #ededed;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 13px; }
  .TG003 .modal-content .tg3-productImage,
  .TG003 .modal-content .tg3-usps {
    display: block;
    vertical-align: top;
    padding: 5px;
    width: 100%;
    margin: 0 auto; }
  .TG003 .modal-content .tg3-productImage {
    text-align: center; }
  .TG003 .modal-content .tg3-productImage img {
    width: 50%; }
  .TG003 .modal-content .tg3-usp p {
    display: inline-block;
    font-weight: normal;
    font-size: 13px;
    margin-bottom: 0px; }
  .TG003 .modal-content .tg3-usp img {
    width: 19px;
    margin: 6px 10px 10px 5px;
    float: left;
    padding-bottom: 10px; }
  .TG003 .tg3-usp {
    margin-bottom: 0px; }
  .TG003 .modal-content .tg3-popup-buttons {
    padding-top: 22px;
    margin: 10px;
    padding-bottom: 0px;
    border-top: 2px solid #ededed;
    text-align: center; }
  .TG003 .modal-content .tg3-popup-buttons .tg3-request {
    background: #62c2f4;
    color: #ffffff;
    padding: 10px;
    font-family: "ConduitBold", Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 3px; }
  .TG003 .modal-content .close {
    border: 2px solid black;
    border-radius: 30px;
    text-shadow: none;
    position: absolute;
    font-size: 17px;
    top: 5px;
    right: 4px;
    height: 20px;
    width: 20px; }
  .TG003 .modal-content .tg3-popup-buttons .tg3-notnow {
    color: #666666;
    padding: 10px;
    font-size: 13px;
    text-decoration: underline;
    margin-left: 0px; } }

@media (min-width: 400px) {
  .TG003 .modal-content .tg3-productImage {
    margin-top: 6px; }
  .TG003 .modal-content .tg3-productImage img {
    width: 55%; }
  .TG003 .modal-content h3 {
    font-size: 20px; }
  .TG003 .modal-content .tg3-popup-buttons .tg3-request {
    font-size: 17px; } }

@media (min-width: 760px) {
  .TG003 .product-view #request-catalogue-popup .modal-dialog {
    width: 600px; }
  /*popup content*/
  .TG003 .modal-content .tg3-productImage {
    width: 45%;
    margin: 5px; }
  .TG003 .modal-content .tg3-productImage img {
    width: 100%; }
  .TG003 .modal-content .tg3-usps {
    width: 50%; }
  .TG003 .modal-content .tg3-productImage,
  .TG003 .modal-content .tg3-usps {
    display: inline-block;
    vertical-align: middle;
    padding: 5px; }
  .TG003 .tg3-usp {
    margin-bottom: 15px; }
  .TG003 .tg3-usp:last-of-type {
    margin: 0px; }
  .TG003 .modal-content .tg3-usp img {
    width: 28px;
    margin: 7px 10px 10px 5px;
    float: left;
    padding-bottom: 10px; }
  .TG003 .modal-content .tg3-usp p {
    display: inline-block;
    font-weight: normal;
    font-size: 16px; }
  .TG003 .modal-content h3 {
    margin: 10px;
    font-size: 25px;
    line-height: 25px;
    padding-left: 30px;
    padding-right: 30px; }
  .TG003 .modal-content .close {
    font-size: 20px;
    top: 8px;
    right: 9px;
    height: 30px;
    width: 30px;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
    transition: transform .8s ease-in-out, -webkit-transform .8s ease-in-out; }
  .TG003 .modal-content .close:hover {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); }
  /*Popup Buttons*/
  .TG003 .modal-content .tg3-popup-buttons {
    padding-top: 23px;
    margin: 10px;
    padding-bottom: 5px;
    border-top: 2px solid #ededed; }
  .TG003 .modal-content .tg3-popup-buttons .tg3-request {
    padding: 10px;
    font-size: 19px;
    padding-right: 20px;
    display: inline-block;
    padding-left: 20px; }
  .TG003 .modal-content .tg3-popup-buttons .tg3-request:hover {
    background: #1e2b33; }
  .TG003 .modal-content .tg3-popup-buttons .tg3-notnow {
    color: #666666;
    padding: 10px;
    font-size: 13px;
    text-decoration: underline;
    margin-left: 20px; }
  .TG003 .modal-content .tg3-popup-buttons .tg3-notnow:hover,
  .TG003 .modal-content .tg3-popup-buttons .tg3-request:hover {
    border-bottom: none; } }

@media (min-width: 900px) {
  .TG003 .product-view #request-catalogue-popup .modal-dialog {
    width: 800px; }
  .TG003 .modal-content .tg3-popup-buttons .tg3-request {
    padding: 10px;
    font-size: 19px;
    padding-right: 28px;
    padding-left: 28px; } }
