.ME131{
    .ME131-bar{
        width: 75%;
        font-size: 13px;
        font-weight: 600;
        position: absolute;
        background: rgba(0, 172, 229, 0.7);
        left: 50%;
        transform: translateX(-50%);
        z-index: 99;
        padding: 10px;
        color: #fff;
        border-radius: 4px;
        box-shadow: 1px 1px 5px 3px rgba(0,0,0,.35);
        text-align: center;
        top: 0px;
        margin-top: 25px;
        &.ME131-notext {
            display: none;
        }
    }
    .ME131-exit {
        position: absolute;
        float: right;
        padding: 10px;
        top: -8px;
        right: -6px;
        font-size: 15px;
        font-weight: 800;
    }
    #merchoid-scarcity-message{
        display: none !important;
    }
}