.PU016{
  .shoppingCart-wrapper {
    padding: 10px 0;
    margin: 0 auto 10px;
  }
  .registrationContainer{
    background: none;
    color: white;
    center p{
      margin-bottom: 20px;
    }
  }
  .or_horizontal_seperator__container{
    background: none;
    font-size: 18px;
    margin-bottom: 10px;
    p{
      background: none;
      margin: 0 auto;
      margin-top: 20px;
      margin-bottom: 20px;
      width: 100px;
    }
    hr{
      display: none;
    }
  }
  .detailsContainer .shoppingCartDetails p{
    font-size: 14px;
    line-height: 25px !important;
  }
  .social_sign_in__container{
    .btn{
      width: 49%;
      display: inline-block;
      margin: 0px;
      white-space: unset;
      line-height: 18px;
      height: 57px;
      padding: 7px;
      padding-top: 10px;
      .fa {
        font-size: 30px;
        left: 0px;
        top: 2px;
      }
      .google-g{
        top: 3px;
        left: 0px;
      }
    }
  }
  .inputBoxWrapper .ng-binding{
    color: white;
  }
  .PU016-formButton {
    clear: both;
    width: 100%;
    text-align: center;
    height: auto;
    margin-top: 30px;
    a{
      background: white;
      border: 1px solid black;
      padding: 17px;
      color: black;
      display: block;
      width: 300px;
      margin: 0 auto;
      font-size: 16px;
      text-decoration: none;
      cursor: pointer;
      &:hover{
        background: black;
        color: white;
        border: 1px solid white;
      }
    }
  }
  &.PU0162{
    .registrationContainer{
      h1{
        margin-bottom: 20px;
      }
      center p{
        display: none;
      }
    }
    .PU016-formButton{
      &.PU016-form_showing{
        display: none;
      }
    }
    .PU016-notsignedIn{
      form{
        display: none;
        &.PU016-form_showing{
          display: block;
        }
      }
    }
  }
}
