/* Add some styles to get started */
.IT029 {
    // Size container
    div#attribute150_switchers {
        overflow: auto;
        white-space: nowrap;
        margin-bottom: 10px;
        &::-webkit-scrollbar {
            width: 2px;
            height: 4px;
            background-color: #ccc;
            border-radius: 4px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #222;
            border-radius: 4px;
        }
        label {
            float: none;
        }

    }

    .product-options-bottom {
        .add-to-cart {
            dl, .IT29-inter-sizes {
                display: inline-block;
                vertical-align: top;
            }
            .IT29-inter-sizes p {
                margin-top: 6px !important;
                a {
                    font-size: 13px;
                    text-transform: none;
                    color: #d13b95; 
                    text-decoration: underline;
                }
            }
        }
    }
}