.ME155 {
  // Hide you might also like carousel
  .top-picks-wrapper {
    display: none;
  } // Remove wrapper from area
  .row.max-width:last-child>.columns.small-12 {
    padding: 0;
  } 
  // Amend - restyle the more products section
  .ME155_Brand_Header_Container{
    text-align: center;
    // Create a wrapper
    max-width: 290px;
    margin: 35px auto 10px auto;
    border: solid 3px #0cbbf4;
    padding: 10px;
  }
  .ME155_Brand_Header_Image{
    max-width: 100px;
  }
  // Style inserted header - matching other headers
  .ME155_Header {
    display: block;
    color: #333;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 10px;
  } // Restyle requested products - copying category page styling
  .ME155_Category_Header {
    text-align: center;
    border-bottom: 1px solid #000;
    font-weight: 700;
    color: #000;
    padding-bottom: 10px;
    font-size: 20px;
    margin: 0 0 20px 0;
  }
  .ME155_Product_Block {
    padding: 0 15px;
  } // Product containers
  .ME155_Product_List {
    margin: 0 -10px;
  } // Individual product container
  .ME155_Product_List>li {
    width: 50%;
    padding: 0 10px 20px 10px;
    display: inline-block;
    position: relative; // Each products element - copied from PLP
    // Image parent
    .product-image {
      position: relative;
      display: block;
      overflow: hidden;
      border: none;
    } // Image
    .front-image {
      display: block;
      width: auto;
      height: auto;
      img {
        width: 100% !important;
        display: block;
        min-width: 99.9%;
      }
    } // Product details
    .info.style-grid3 {
      // Add to wishlist icon
      .add_to_wishlist {
        opacity: 0.3;
      } // Product details
      table td {
        width: 100%;
        display: block !important;
        .callout {
          position: absolute;
          left: 0;
          top: 20px !important;
          z-index: 9;
          text-transform: uppercase;
          pointer-events: none;
          opacity: .95;
        } // Product name area
        .name {
          border: none;
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}