@import './variables';

.#{$id} {

  .product-messages,
  .scarcity-label-container,
  .product-quantity__container,
  .product-stock,
  .book-appointments-section,
  .brand-logo,
  .product-description-anchor-link__container,
  .usp.usp--at-top,
  .product-propositions   {
    display: none;
  }

  .header {
    position: relative;
  }

  #syte-similar-items-container {
    display: none;
  }

  .tangiblee-button,
  .product-gallery__syte  {
    display: none !important;
  }
  /* General */

  .detail-page__container {
    max-width: 1400px;
  }

  .detail-page__upper-row {
    margin: 0;

    @media(min-width: 1024px) {
      display: flex;
      flex-direction: row;

      .detail-page__left-column {
        width: 66.66666667%;
        flex: unset;
        position: relative;
      }
      .detail-page__right-column {
        width: 33.33333333%;
        flex: unset;
        margin-top: 41px;
      }
    }

    @media(min-width: 1280px) {
      .detail-page__right-column {
        padding-left: 0px;
        padding-right: 3.25rem;
      }
    }
  }

  .product-name {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 16px;
    margin-top: 5px;

    @media(min-width: 767px) {
      text-align: left;
      margin-top: 20px;
    }
    @media(min-width: 1024px) {
     font-size: 28px;
     line-height: 34px;
     letter-spacing: 0;
     margin-bottom: 16px;
     margin-top: 5px;
    }
  }

  .detail-page__right-column {
    margin: 0 10px;
    @media(min-width: 767px) {
      margin-top: 32px;
    }
    @media(min-width: 1024px) {
      min-height: 550px;
    }
    @media(min-width: 1280px) {
      min-height: 622px;
    }
  }

  
  // pricing
  .product-price-pricing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    @media(min-width: 767px) {
      justify-content: flex-start;
    }
    .product-price {
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      color: #484849;
    }
    .product-price--current {
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      color: #484849;
      @media(min-width: 1024px) {
        font-size: 24px;
      }
    }

    .product-price-history { 
      display: flex;
      flex-direction: row;
    }

    .product-price--history {
      margin-left: 10px;
      display: flex;
      line-height: 22px;
      
      &::before {
        display: none;
      }
    }

    .product-price--copy {
      display: none;
    }
  }

  .detail-page__product-accordion-container {
    @media(min-width: 1024px) {
      margin-top: 20px;
    }
  }

  // reviews and prod No
  .#{$id}-topRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.625rem;
    padding-bottom: 0px;
    margin-top: 10px;
    margin-bottom: 5px;
    align-items: center;
    @media(min-width: 992px) {
      margin-left: calc(100px + 8px);
    }
    @media(min-width: 1280px) {
      margin-left: 135px;
      padding-right: 0;
    }

    .prodItem {
      font-size: 12px;
    }

    /* Reviews */
    .product-customer-rating-summary {
      margin-bottom: 0px;
    }
    .product-customer-rating-summary__star {
      filter: brightness(0);
      display: inline-block;
      width: 18px;
      height: 18px;
      padding: 2px;
    }
    .product-customer-rating-summary__text {
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0;
    }
  }

  // Tangiblee/Syte
  .#{$id}-tryRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .#{$id}-more,
    .#{$id}-tangiblee {
      text-decoration: underline;
      color: black;
      margin: 5px;
    }
    @media(min-width: 1024px) {
      position: absolute;
      bottom: 0;
      width: 100%;
      box-sizing: border-box;
      left: 0;
      padding: 10px;
      z-index: 99;
      .#{$id}-more,
      .#{$id}-tangiblee {
        margin: 0;
        font-weight: 700;
        font-size: 16px;
        cursor: pointer;
      }
    }
  }
  
  .product-summary {
    padding-bottom: 20px;
    border-bottom: 2px solid #ebebeb;
    @media(min-width: 1024px) {
      border-bottom: 0px;
      padding-bottom: 10px;
    }
  }

  /* Finance */
  finance-options {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
  }
 
  /* Options */
  .product-step-up-down {
    margin-top: 20px;
    @media(min-width: 840px) {
      margin-top: 10px;
    }
  }

  .product-step-up-down,
  .product-ring-size {
    @media(min-width: 840px) {
      border: 0px;
    }

    .product-step-up-down__container {
      @media(min-width: 840px) {
        display: flex;
        flex-direction: column;
        border: 0px;
      }
    }

    
    @media(min-width: 840px) {
      flex-direction: column;
    }
    .product-step-up-down__heading,
    .product-ring-size__heading {
      font-size: 14px;
      margin-bottom: 0;
      @media(min-width: 840px) {
        font-size: 16px;
      }
    }

    .product-step-up-down__text,
    .product-ring-size__text {
      justify-content: flex-start;
      text-align: left;
      @media(min-width: 840px) {
        justify-content: space-between;
      }
    }
    .product-step-up-down__select,
    .product-ring-size__select {
      text-align: left;
      @media(min-width: 840px) {
        max-width: 100%;
        float: none;
        font-weight: 700;
        font-size: 1.125rem;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        font-size: 16px;
        line-height: 56px;
        letter-spacing: 0;
        height: 56px;
        width: 100% !important;
        padding: 0 16px;
        color: #323232;
        border: 1px solid #ccc;
        border-radius: 2px;
        appearance: none;
        background-color: transparent;
        background-position: calc(100% - 15px) 50%;

      }
    }

    .product-ring-size__data {
      @media(min-width: 840px) {
        flex-grow: unset;
        border: 0px;
      }

    }

    .product-ring-size__will-it-fit {
      right: 0;
      margin-top: 0;
    }
  }

  .product-buy-now {
    margin-top: 10px;
    .product-buy-now__button {
      justify-content: center;
    }
    svg {
      display: none;
      text-align: center;
    }
  }

  /* Stock box */
  .#{$id}-stockCheck {
    text-align: left;
    margin-top: 10px;
    padding-top: 20px;

    .#{$id}-stockToggle {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
      p {
        position: relative;
        padding-right: 30px;
        margin-left: 10px;
        margin-bottom: 0;
        font-family: Oxygen, sans-serif;
        font-weight: 700;
        &::after {
          content: '';
          height: 15px;
          width: 15px;
          background-size: contain;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          background: url('https://storage.googleapis.com/exp-app-storage/63c9e2be-b0b2-11ea-b9e3-3af835c8f71c/media/original/722389ea-752e-11ec-a207-e20cd1dd3971') no-repeat center;
          background-size: contain;
          
        }
      }
      
      span {
        height: 30px;
        width: 30px;
        background: url('https://storage.googleapis.com/exp-app-storage/63c9e2be-b0b2-11ea-b9e3-3af835c8f71c/media/original/484657d4-753c-11ec-b8c2-a6fabf8d9750') no-repeat center;
        background-size: contain;
      }
    }

    .#{$id}-stockBox {
      transform: translateY(-5000px);
      opacity: 0;
      height: 0;
      margin-top: 10px;
    }

    &.#{$id}-stockShow {
      .#{$id}-stockToggle {
        position: relative;

        &::after {
          display: block;
        }

        p {
          text-decoration: none;
        }
      }

      .#{$id}-stockBox {
        height: auto;
        opacity: 1;
        transform: translateY(0px);
      }

    }

    @media(min-width: 767px) {
      padding-top: 0px;
      margin-top: 10px;
    }
  }

  // OOS button
  .#{$id}-outOfStock {
    font-weight: 700;
    font-family: Oxygen,sans-serif;
    line-height: 1.63;
    background-color: #9d9d9d;
    color: #fff;
    font-size: 1rem;
    max-height: 3rem;
    padding: 0.6875rem 1.4375rem;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
  }

  /* Accordion */
  .detail-page__product-accordion {
    @media(min-width: 720px) {
      max-width: 100%;
    }
  }
  .detail-page__product-accordion .product-accordion {
    padding: 0;
    .product-accordion-item,
    .product-accordion-item-is-link {
      padding: 0;

      .product-accordion-item__heading {
        svg {
          display: none;
        }
        &::after {
          content: '';
          height: 15px;
          width: 15px;
          background: url('https://storage.googleapis.com/exp-app-storage/63c9e2be-b0b2-11ea-b9e3-3af835c8f71c/media/original/722389ea-752e-11ec-a207-e20cd1dd3971') no-repeat center;
          background-size: contain;
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      .product-accordion-item__heading,
      .product-accordion-item-is-link__heading a {
        padding: 14px 16px;
        font-size: 14px;
        font-family: Oxygen,Arial,Helvetica,sans-serif;
        font-weight: 300;
        position: relative;
        @media(min-width: 840px) {
          font-size: 16px;
        }
      }

      .product-accordion-item__content {
        padding-left: 16px;
        padding-right: 16px;
        p {
          font-family: Oxygen,Arial,Helvetica,sans-serif;
          font-size: 14px;
          line-height: 22px;
          @media(min-width: 840px) {
            font-size: 16px;
            line-height: 24px;
          }
        }

        a {
          font-family: Oxygen,Arial,Helvetica,sans-serif;
          font-size: 14px;
          line-height: 22px;
          @media(min-width: 840px) {
            font-size: 16px;
            line-height: 24px;
          }
        }
      }

      &.product-accordion-item--is-open {
        .product-accordion-item__heading {
          &::after {
            transform: rotate(180deg) translateY(50%);
          }

        }
      }

      // specs
      .product-specification {
        tbody {
          font-size: 14px;
          font-family: Oxygen,sans-serif;
          td {
            border-bottom: 1px solid rgba(192,192,192,.2);;
          }
          td:first-child {
            border-right: 0px;
            background: none;
            width: 300px;
          }
          tr:nth-child(odd)>td {
            background-color: #f9f9f9;
          }
        }
      }
    }
  }

  /* Carousel */
  .#{$id}-gallery-thumbs {
    display: none;


    @media(min-width: 1024px) {
      display: flex;
      flex-direction: column;
      flex-basis: unset;
      flex-grow: unset;
      width: 140px;
      max-height: 500px;
      overflow-y: auto;
      .#{$id}-thumb {
        width: 100px;
        height: 100px;
        border: 1px solid #ebebeb;
        box-sizing: border-box;
        margin: 5px;
        cursor: pointer;

        &.active {
          border: 1px solid black;
        }
      }
    }
    @media(min-width: 1280px) {
      
      max-height: 606px;
      overflow-y: auto;
      .#{$id}-thumb { 
        width: 140px;
        height: 140px;
        margin-bottom: 8px;
        border: 2px solid #ebebeb;
        overflow: hidden;
        margin: 0;
        margin-bottom: 8px;
        &.active {
          border: 2px solid black;
        }
       
      }
    }
  }


  .product-gallery__main-container {
    border: 1px solid #ebebeb;
    @media(min-width: 1024px) {
      margin: 5px;
    }
    @media(min-width: 1280px) {
      flex-basis: unset;
      min-width: auto;
      width: auto;
      margin-top: 0;
      .product-gallery__main {
        flex-wrap: nowrap;
      }
    }

    .swiper-pagination{
      @media(min-width: 1280px) {
       display: none;
      }
    }

    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      background-color: transparent;
      border: 1px solid #000;
      opacity: 1;
      margin: 0 4px;
      &.swiper-pagination-bullet-active {
        background: black;
      }
    }

    .swiper-button-next-first,
    .swiper-button-prev-first {
      display: none;
    }
  }


  /* other products tab */
  .product-recommendation-tabs__tabbed {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    max-width: 1400px;
    @media(min-width: 1280px) {
      padding: 0;
      .product-carousel {
        width: 100%;
        max-width: 100%;
        padding: 0;
      }
    }
    .product-recommendation-tabs__tabs {
      display: none;
    }
    .product-recommendation-tabs__tab-content {
      display: block !important;
      border: 0px;
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 0;



      h3 {
        font-size: 24px;
        font-family: Oxygen, Arial, Helvetica, sans-serif;
        font-weight: 500;
        color: black;
        margin-bottom: 0;
        padding: 32px 0 24px;
      }
      

      // products
      .product-carousel__item {
        img {
          border: 2px solid #ebebeb;
          width: 100%;
          height: auto;
          margin-bottom: 10px;
        }
        p {
          text-align: left;
          font-size: 12px;
          line-height: 18px;
        }
        .product-recommendation-tile__link {
          
          align-items: flex-start;
        }
        .product-recommendation-tile__price {
          text-align: left;
          font-size: 12px;
          line-height: 18px;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
        }
      }

      @media(min-width: 1024px) {
        .product-carousel {
         // padding: 0;
        }

        .product-carousel__item {
          p,
          .product-recommendation-tile__price {
            font-size: 16px;
          }
        }
      }
    }
  }


  @media(min-width: 1024px) {
    .product-gallery__main {
      display: flex;
      flex-direction: row;
      position: absolute;
      padding-top: 5px;
      left: 0;
      width: 100%;
      align-items: flex-start;
      &.stick {
        position: fixed;
        top: 0px;
        width: 919px;
        left: 20px;
      }
    }


    .product-gallery__syte {
      display: none;
    }
  }

  .product-reviews__reviews__container {
    background: #f8f8f8;
    padding: 16px;
    border: 0px;
  }

  &.hsamuel {
    // HS-specific styles
    .detail-page__payment-wrapper {
      background: white;
    }

    .product-step-up-down {
      .product-step-up-down__heading {
        text-align: left;
        margin-bottom: 5px;
      }
    }

    .product-ring-size__text {
      text-align: left;
      margin-bottom: 5px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }


    .#{$id}-stockCheck {
      .#{$id}-stockToggle {
        p {
          font-family: Montserrat,sans-serif;
        }
      }
    }


    .detail-page__product-accordion{
      margin-top: 10px;
       .product-accordion{
        .product-accordion-item {
          .product-accordion-item__heading {
            font-family: Montserrat,sans-serif;
            font-weight: 500;
            @media(min-width: 1024px) {
              padding: 18px 0;
            }
          }
          .product-accordion-item__content {
            p, span {
              font-family: Montserrat,sans-serif;
              font-size: 14px;
              @media(min-width: 1024px) {
                font-size: 16px;
              }
            }
          }
        }

        .product-accordion-item-is-link__heading {
          a {
            font-family: Montserrat,sans-serif;
            font-weight: 500;
            padding-left: 0;
          }
        }
       } 
    }

    // reviews
    .product-reviews {
      max-width: 1440px;
      margin-top: 20px;
      @media(min-width: 1024px) {
        margin-top: 50px;
      }

    }
    .product-reviews__overview__header {
      font-size: 14px;
    }

    .product-recommendation-tabs__tab-content {
      h3 {
        font-family: Montserrat,sans-serif;
      }
    }

    .#{$id}-gallery-thumbs {
      @media(min-width: 767px) {
        width: 140px;
        max-height: 400px;
      }
      @media(min-width: 1280px) {
        max-height: 572px;
      }
    }
  }

  &.ernestjones {
    // EJ-specific styles
  }
}
