.PJ010{
  .PJ010-lightbox{
    .PJ010-lightboxfade{
      position: fixed;
      height: 100%;
      background: rgba(255, 255, 255, 0.8);
      width: 100%;
      top: 0;
      cursor: pointer;
      display: none;
      &.PJ010-lightbox-fade_active{
        display: block;
      }
    }
    .PJ010-lightbox_wrapper{
      position: fixed;
      background: white;
      border: 1px solid #ccc;
      width: 700px;
      z-index: 9999;
      height: auto;
      padding: 20px;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      box-shadow: 0px 1px 1px 0px #7d7c7c;
      display: none;
      font-family: 'Open Sans Condensed',sans-serif;
      &.PJ010-lightbox_active{
        display: block;
      }
      .PJ010-background{
        background-image: url('https://dp8v87cz8a7qa.cloudfront.net/43831/5abb59a16585f1522227617.png');
        height: 400px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
      }
      .PJ010-lightboxExit{
        position: absolute;
        background: white;
        left: auto;
        padding: 10px;
        right: -17px;
        top: -15px;
        z-index: 99;
        border: 1px solid #ccc;
        border-radius: 20px;
        height: 20px;
        width: 20px;
        text-align: center;
        font-size: 30px;
        line-height: 19px;
        cursor: pointer;
      }
      .PJ010-overlayRibbon{
        background: #0f9675;
        color: white;
        font-size: 17px;
        position: absolute;
        padding: 10px;
        left: 0;
        width: 200px;
        top: 35px;
        z-index: 999;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
      }
      .PJ010-innermessage {
        position: absolute;
        background: rgba(255, 255, 255, 0.93);
        padding: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        .PJ010-title {
          color: #0f9675;
          font-size: 21px;
          font-weight: 500;
          text-align: center;
          margin-bottom: 10px;
        }
        p{
          font-size: 20px;
          margin-bottom: 10px;
        }
        h4{
          font-size: 27px;
          font-weight: bold;
          color: #333;
          margin-bottom: 15px;
        }
        .PJ010-applyVoucher {
          background: #2c9675;
          color: white;
          display: block;
          width: 50%;
          margin: 0 auto;
          padding: 10px;
          padding-left: 20px;
          padding-right: 20px;
          font-size: 19px;
          text-transform: uppercase;
          font-weight: bold;
          border-radius: 10px;
          cursor: pointer;
          &:hover{
            background: #097c60;      
          }
        }
      }
    }
  }
  .PJ010-voucher_added {
    position: relative;
    background: #2c9675;
    font-weight: bold;
    text-align: center;
    color: white;
    font: bold 20px 'Open Sans Condensed',sans-serif;
    text-transform: uppercase;
    padding: 6px;
    display: block;
    margin-top: 10px;
    p{
      margin-bottom: 0px;
    }
  }
}