@import './variables';

.#{$id} {
    // height: auto !important;

    // text-align: center;

    &__container {
            text-align: center;
            height: auto !important;
        @media all and (min-width: 499px) {
            display: none;
        }
    }

    &__essentials {
        display: grid;
        grid-template-columns: 49% 49%;
        column-gap: 12px;
        grid-template-rows: 328px 328px 328px;
        margin-top: 20px;

        &__item {
            height: 100%;
            width: 100%;
            align-self: center;
            justify-self: center;
            display: grid;
            margin-bottom: 10px;
            background: linear-gradient(180deg, rgba(252, 247, 250, 0) 0%, #FCF7FA 100%);
            grid-template-rows: 160px 80px 30px 55px;
            align-items: center;
            justify-items: center;

            & > img {
                height: 144px;
                width: 144px;
            }

            &__img {
                height: 158px;
                width: 158px;
                align-self: center;
                justify-self: center;
                @media all and (max-width: 355px) {
                    width: 130px;
                    height: 130px;
                }
            }

            &__title {
                align-self: start;
                font-size: 16px;
                font-weight: 400;
                // line-height: 20px;
                // height: 76px;
                // display: flex;
                // align-items: center;
                color: #181818;
                // margin-top: 10px;
                // margin-bottom: 7px;
            }

            &__price {
                align-self: start;
                font-size: 19px;
                font-weight: 500;
                color: #121212;
                // margin-bottom: 10px;
            }

            &__cta {
                z-index: 99;
                height: 49px;
                width: 150px;
                background-color: #121212;
                // background: linear-gradient(0deg, #000000, #000000), #7F28C4;
                font-size: 14px;
                color: #FFFFFF !important;
                font-weight: 600;
                line-height: 49px;
                border-radius: 4px;
                align-self: center;
                justify-self: center;
                // margin-bottom: 10px;
                @media all and (max-width: 345px) {
                    width: 130px;
                }
            }
            
        }
    }
    
    &__makeup-bag {
        margin-top: 10px;
        width: 100%;
        height: auto !important;
        display: grid;
        grid-template-columns: 47% 47%;
        grid-template-rows: 160px 160px 160px 160px;
        column-gap: 3%;
        row-gap: 18px;
    

        &__title {
            margin-top: 25px;
            font-size: 20px !important;
            font-weight: bold;
            color: #000000 !important;
        }

        &__link {
            display: grid;
            grid-template-rows: 120px 43px;
            border: 1px solid #e5e5e5;
            width: 100%;
            height: auto;
            text-decoration: none;

            &:visited, &:hover {
                text-decoration: none;
                color: #FFFFFF;
            }
            

            &__img {
                // height: 100px;
                align-self: center;

                & > img {
                    height: 80px;

                }
            }
            
            &__cta {
                background-color: #000000;
                color: #FFFFFF;
                text-decoration: none !important;
                line-height: 43px;
                font-weight: 600;
                &:visited {
                    text-decoration: none;
                }
            }
        }

        &__item {
            height: 98px;
            justify-self: center;
            align-self: center;
            width: 90%;
            background-color: white;
            border-top-left-radius: 20px;
            border-bottom-right-radius: 20px;
            border-top-right-radius: 5px;
            border-bottom-left-radius: 5px;
            display: grid;
            padding: 2px;
            box-shadow: 0px 4px 9px 8px rgba(222,222,222,0.22);

            &__inner {
                display: grid;
                height: 95%;
                width: 95%;
                // background: linear-gradient(180deg, rgba(108,34,153,1) 19%, rgba(170,57,106,1) 52%, rgba(178,59,64,1) 100%);
                // padding: 30px;
                justify-self: center;
                align-self: center;
                border-top-left-radius: 20px;
                border-bottom-right-radius: 20px;
                border-top-right-radius: 5px;
                border-bottom-left-radius: 5px;
                border: 2px solid #6C2299;

            }
        }
    }
}
