@import './variables';

.#{$id} {
  .addressAddCont {
    .addressAddBox {
      #ctl00_cphBody_txtGuestEmail {
        color: #000;
        &.error {
          border: 2px solid #DA291C;
          color: #DA291C !important;
        }
      }

      .PJ059-error__message {
        p {
          text-align: center;
          font-size: 0.85em;
          color: #DA291C;
        }
        &.hide {
          display: none !important;
        }
      }
      .PJ059-buttons__wrapper {
        text-align: center;
        margin-bottom: 20px;

        &.hide {
          display: none !important;
        }
        
        span.PJ059__btn {
          display: inline-block;
          width: 40%;
          color: #FFF;
          padding: 5px;

          &#PJ059-resetPassword {
            background-color: #58595b;
            margin-right: 2%;
          }
          &#PJ059-signIn {
            background-color: #007a53;
          }

          &:hover {
            cursor: pointer;
          }
        }
      }
      .PJ059-message__success {
        font-size: 1em;
        border: 2px solid #007A53;
        border-radius: 6px;
        margin-bottom: 10px;

        p {
          font-size: 0.85em;
          padding: 5px;
          width: 90%;
          margin: auto;
          text-align: center;
        }

        &.hidden {
          display: none;
        }
      }
      .PJ059-message__error {
        font-size: 1em;
        border: 2px solid #DA291C;
        border-radius: 6px;
        margin-bottom: 10px;

        p {
          font-size: 0.85em;
          padding: 5px;
          width: 90%;
          margin: auto;
          text-align: center;
        }

        &.hidden {
          display: none;
        }
      }
    }
  }

  @media screen and (max-width: 500px) {
    span.PJ059__btn {
      font: 18px 'Roboto Condensed',sans-serif;
    }
  }
}
