@import './variables';

.#{$id} {
  // // --- PDP - Star Ratings ---//
  // .bv-primarySummary-rating-container {
  //   display: none !important;
  // }
  // --- FILTERS - Left Side
  // --- PLP ---//
  fieldset#rating {
    display: none !important;
  }
  // --- SRP ---//
  fieldset#ratingContainer {
    display: none !important;
  }

  // --- PRODUCT RATING
  .product_listing_container {
    li {
      .product_rating {
        display: none !important;
      }
    }
  }

  // --- Dropdown Selection
  // --- PLP ---//
  tbody.dijitReset {
    tr#dijit_MenuItem_6 {
      display: none !important;
    }
  }

  // --- SRP ---//
  select.product_listings-sort-by__select#product_listings-sort-by__options {
    option[value="prod_live_products_uk_averageReviewScore_desc"] {
      display: none !important;
    }
  }

}
