.TG029 {
  .category-view .item-product {
    // Elements with muscle data
    .tg29-has-data {
      padding-bottom: 75px !important;
      @media only screen and (max-width: 1299px) {
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-bottom: 132px !important;
        .product-info {
          left: 10px !important;
          width: calc(100% - 20px) !important;
        }
        a.product-image {
          img {
            // max-width: 80%;
            margin: 0 auto 30px auto !important;
          }  
        }
      }
      @media only screen and (max-width: 769px) {
        padding-bottom: 50px !important;
        .product-info {
          width: 100% !important;
          padding-top: 10px !important;
        }
        a.product-image img {
          max-width: 100% !important;
          margin-bottom: 0 !important;
        }
      }
      .product-info {
        text-align: center;
        width: calc(100% - 60px);
        // Hide old title
        h2.product-name {display: none}
        // New elements style
        .tg29-info {
          // Details
          .tg29-product-info {
            width: 56%;
            display: inline-block;
            vertical-align: bottom;
            margin-right: 2%;
            text-align: right;
            padding-top: 12px;
            p {
              font-family: "ConduitBold",Arial,Helvetica,sans-serif !important;
              margin: 0;
            }
            p.tg29-line {
              text-transform: uppercase;
              font-size: 18px;
              line-height: 22px;
              color: #999;
              font-weight: 300;
              margin-bottom: 2px;
              font-family: 'Open Sans',sans-serif;
            }
            p.tg29-name {
              font-size: 16px;
              line-height: 18px;
              color: #41535D;
            }
            p.tg29-price {
              font-size: 12px;
              line-height: 14px;
              color: #41535D;
            }
            .tg29-muscle-key {
              margin: 5px 0;
              p {
                font-size: 13px;
                line-height: 22px;
                color: #666;
                font-weight: 400;
                font-family: 'Open Sans',sans-serif;
              }
              span {
                width: 12px;
                height: 12px;
                margin-bottom: -3px;
                position: relative;
                display: inline-block;
                border: 1px solid #41535D;
                &.tg29-pm {
                  background-color: orange;
                }
                &.tg29-sm {
                  background-color: yellow;
                }
              }
            }
            @media only screen and (max-width: 1299px) {
              p.tg29-line {
                font-size: 16px;
                line-height: 18px;
                margin-bottom: 0;
              }
              .tg29-muscle-key {
                margin: 0 0 2px 0;
                p {
                  line-height: 16px;
                  font-weight: 300;
                }
                span {
                  width: 10px;
                  height: 10px;
                }
              }
            }
            @media only screen and (max-width: 769px) {
              vertical-align: top;
              width: 50% !important;
              p.tg29-line {
                margin-bottom: 3px;
              }
              p.tg29-name {
                font-size: 19px;
              }
              .tg29-muscle-key {
                margin: 0 0 2px 0;
                p {
                  line-height: 16px;
                  line-height: 22px;
                  font-weight: 300;
                }
                span {
                  width: 12px;
                  height: 12px;
                }
              }
            }
          }
          // Image
          .tg29-muscle-image {
            display: inline-block;
            vertical-align: bottom;
            width: 40%;
            img {
              max-width: 80%;
              height: auto;
            }
          }
          // Muscle groups
          .tg29-muscle-groups {
            display: block;
            clear: both;
            width: 100%;
            p {
              font-size: 13px;
              line-height: 16px;
            }
          }
          @media only screen and (max-width: 1299px) {
            .tg29-product-info {
              width: 54%;
            }
            .tg29-muscle-image {
              width: 41%;
              img {
                max-width: 100%;
              }
            }
          }
          @media only screen and (max-width: 769px) {
            .tg29-muscle-image {
              width: 45%;
            }
          }
        }
        // Existing CTA's
        .tg38-learn-more, .tg38-add-quote {
          display: inline-block;
          vertical-align: bottom;
          width: 48%;
          margin: 0;
          padding: 0 0 5px 0;
        }
        .tg38-learn-more {
          a {
            font-size: 13px;
            border-bottom: 1px solid transparent;
            font-family: 'Open Sans',sans-serif;
            text-transform: lowercase;
            background-color: transparent;
            padding: 0;
            color: #43AAE0;
            height: auto;
          }
        }
        @media only screen and (max-width: 1299px) {
          .tg38-add-quote {
            line-height: 17px;
          }
        }
      }
      a.product-image {
        text-align: center;
        img {
          max-width: 80%;
          margin: 0 auto 70px auto;
        }  
      }
    }
  }
}
.tg038 .category-view .item-product .tg29-has-data {
  padding-bottom: 120px !important;
}