.GD035 {
  /* GENERAL */
  .hero-carousel,
  #promoted-brands,
  #why-use-gd,
  #why-use-gd-extras,
  #frame-scroller,
  .GD008-mainWrapper,
  #range_select,
  .banner-see-change {
    display: none;
  }

  .t165-b-cont {
    display: none !important;
  }

  #home-page #content .home-block {
    border-top: 0 !important;
  }

  .section-bottom {
    border-top: 0 !important;
  }
  
  /* General */
  .GD035_section {
    .GD035_section__inner {
      width: 100%;
      height: auto;
      max-width: 1200px;
      margin: 0 auto;
      padding: 35px 0 50px 0;

      > p {
        display: block;
        text-align: center;
        margin: 0 auto 40px auto;
        max-width: 700px;
      }
    }

    .set-title {
      text-align: center;
    }

    > p {
      display: block;
      text-align: center;
      margin: 0 auto 40px auto;
      max-width: 700px;
    }
  }
  
  /* GL034 Trustpilot */
  &.GD034 {
    #header-primary {
      margin: 0;
    }
    
    #header-primary > a {
      display: none;
    }
    
    .GD034_Image_Container {
        display: inline-block;
        margin-right: 5px;
        vertical-align: sub;
    }
    
    .GD034_Image_Logo {
        display: inline-block;
        width: 100px;
        margin-right: 5px;
        vertical-align: bottom;
    }
    
    .GD034_Image_Stars {
        display: inline-block;
        width: 75px;
    }
    
    .GD034_Text_Conatiner {
        display: inline-block;
    }
    
    .GD034_Text_Conatiner > span {
        font-weight: 700;
    }
  }


  /* BANNER 1 */
  .GD035_banner-wrapper {
    width: 100%;
    height: auto;
    max-width: 1200px;
    margin: 0 auto;
  }

  .GD035_banner {
    margin-left: 12px;
    margin-top: 15px;
    font-size: 0;
  }

  .GD035_bannerContent {
    position: relative;
    display: none;

    &.GD035_bannerContent--active {
      display: block;
    }
  }

  .GD035_bannerChange {
    display: block;
    text-align: center;
    padding: 15px 0;
    background: #0765CD;
    color: white;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
    position: relative;
    z-index: 2;

    em {
      font-style: normal;
      text-decoration: underline;
      text-transform: uppercase;
      font-weight: 600;
      margin: 0 3px;
    }
  }

  .GD035_offer {
    position: absolute;
    max-width: 500px;
  }

  .GD035_offer__code {
    font-size: 27px;
    font-weight: 300;
    line-height: normal;
  }

  .GD035_banner__preTitle,
  .GD035_banner__successText {
    color: black;
    font-size: 23px;
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
    letter-spacing: 0.6px;
    line-height: 1.2em;
    margin-bottom: 10px;

    em {
      font-weight: 600;
    }
  }

  .GD035_banner__successText {
    margin-bottom: 30px;
  }
  
  .GD035_banner__title {
    font-weight: 900;
    color: #fff;
    line-height: normal;
    letter-spacing: -0.5px;
    font-size: 60px;

    &.GD035_banner__title--large {
      font-size: 100px;
    }

    &.GD035_banner__title--small {
      font-size: 80px;
    }

    &.GD035_banner__title--success {
      margin-bottom: 30px;
    }
  }

  .GD035_banner {
    position: relative;
    height: auto;
    display: block;
    margin: 0 0 15px 0;

    > .owl-item {
      width: 100% !important;
    }

    > div > div.slide-copy.slide-center {
      transform: scale(0.66);
      position: absolute;
      top: 60px;
      right: -120px;

      > a > div {
        width: 200px;
      }

      > a > img {
        margin-top: 0 !important;
      }
    }

    > div > div.frame-inside {
      position: relative;
    }

    .GD035_offer__terms {
      text-align: center;
    }

    .GD035_errorMessage {
      color: white;
      background: #2f52df;
      display: inline-block;
      position: absolute;
      margin-top: 4px;
      padding: 7px 8px;
      font-weight: bold;
      font-size: 14px;
      min-width: 250px;
      text-align: center;
      line-height: normal;
      -webkit-font-smoothing: antialiased;
    }
  }

  .GD035_banner img {
    width: 100%;
  }

  .GD035_offer__terms {
    width: auto;
    font-size: 13px;
    color: #2D3746;
    font-weight: 400;
    margin-top: 2px;

    > a {
      border-bottom: 1px solid #2D3746;
      text-decoration: none;
      color: #2D3746;
    }
  }

  .GD035_offer__CTA {
    background: black;
    color: white;
    margin: 0;
    border: none;
    min-width: 200px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    height: 48px;
    padding: 0 15px;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: none;
    line-height: 48px;
    text-align: center;
  }

  .GD035_banner__smallPrint {
    color: black;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .5px;

    a {
      color: #151515;
    }
  }

  #GD035_form {
    margin-top: 15px;

    input[type="email"] {
      min-width: 250px;
      border: 1px solid black;
    }

    .GD035_offer__CTA,
    input[type="email"] {
      height: 48px;
      padding: 0 15px;
      font-size: 15px;
      -webkit-font-smoothing: antialiased;
      vertical-align: top;
    }

    .GD035_offer__CTA:hover {
      background: #212834 !important;
    }
  }

  .GD035_banner--1 {
    margin-top: 5px;

    .GD035_offer__terms {
      text-align: left;
      position: absolute;
      bottom: -90px;
      font-size: 12px;
      -webkit-font-smoothing: antialiased;
    }

    .GD035_bannerContent--returning {
      .GD035_offer__terms {
        bottom: 20px;
        left: initial;
        right: 20px;

        a {
          color: inherit;
          border-bottom-color: inherit;
        }
      }
    }
  }

  .GD035_banner--2 {
    .GD035_banner__preTitle {
      margin-bottom: 35px;
      font-size: 24px;
    }

    .GD035_banner__code {
      margin: 8px 0 0px 0;
      font-size: 18px;
      letter-spacing: 1px;
    }

    .GD035_offer__CTA {
      margin-top: 18px;
    }

    .GD035_offer__terms {
      text-align: left;
    }
  }

  // mobile
  .GD035_banner.GD035_banner--mob {
    margin: 0;

    .GD035_banner__preTitle {
      font-size: 18px;
    }

    .GD035_banner__successText {
      font-size: 16px;
      line-height: 1.4em;
      margin-bottom: 15px;
    }

    .GD035_banner__title {
      font-size: 33px;
      line-height: 1.1;
      -webkit-font-smoothing: antialiased;
    }

    .GD035_banner__smallPrint {
      opacity: .8;
      font-size: 9px;
      margin-top: 5px;
      -webkit-font-smoothing: antialiased;  
    }

    .GD035_offer {
      width: 100%;
      max-width: 800px;
      margin: 0 auto;
      color: #2D3746;
      font-weight: 400;
      font-size: 12px;
      box-sizing: border-box;
      padding: 15px 12px;
      position: static;
    }

    .GD035_offer__code {
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 25px;
      position: static;
      color: #434343 !important;
      font-weight: 400;
      font-size: 18px;
      margin-bottom: 14px;
    }

    .GD035_offer a:not(.GD035_offer__CTA) {
      color: #2D3746;
    }

    .GD035_offer__CTA {
      margin: auto;
      display: inline-block;
      border: 0;
      font-weight: 600;
      box-sizing: border-box;
      text-decoration: none;
      margin-bottom: 25px;
      background: #3c3c3c;
      color: #FFF;
      min-width: 0;
      padding: 0px 30px;
      font-size: 14px;
      height: 42px;
      line-height: 43px;
      margin-bottom: 0;
    }

    .GD035_offer__terms {
      width: 100%;
      position: inherit;
      max-width: 90%;
      font-size: 11px;
      line-height: 1.3em;
      margin: 15px auto 0 auto;
      text-align: center;
    }

    #GD035_form {
      input[type="email"] {
        min-width: 0;
        width: 60%;
        vertical-align: top;
        height: 42px;
      }
  
      .GD035_offer__CTA {
        max-width: 40%;
        vertical-align: top;
        padding: 0 10px;
        font-size: 13px;
        white-space: nowrap;
        vertical-align: top;
        height: 42px;
      }
    }

    > a > span {
      text-decoration-line: underline;
    }

    > div.frame-inside.visible-portrait {
      width: 100% !important;
    }

    .GD035_banner {
      width: 100%;
      margin: 0;

      .GD035_offer__terms {
        margin-bottom: 20px;
      }

      > a {
        display: block;
        position: relative;
      }
    }

    .GD035_bannerChange {
      line-height: 1.4;
      padding: 12px 0;

      em {
        display: block;
      }
    }

    // Banner specific changes
    &.GD035_banner--1 {
      margin-top: 0;
      
      .GD035_banner__title {
        font-size: 46px;
        line-height: 1.1em;
  
        &.GD035_banner__title--success {
          font-size: 26px;
          margin-bottom: 15px;
        }
      }

      .GD035_bannerContent--returning {
        .GD035_offer__terms {
          right: initial;
          position: static;
          margin: 0 auto 15px auto;
        }
      }
    }

    &.GD035_banner--2 {
      .GD035_banner__preTitle {
        margin-bottom: 5px;
      }
      
      .GD035_banner__code {
        line-height: normal;
        font-size: 14px;
        line-height: normal;
      }

      .GD035_offer__CTA {
        margin-top: 15px;
      }

      .GD035_offer__terms {
        margin: 0 auto;
      }
    }
  }


  /* VIDEOS */
  .GD035_videos {
    background: #F9F9F9;
  }

  .GD035_video {
    display: inline-block;
    width: 33.333%;
    padding: 0 15px;

    p {
      -webkit-font-smoothing: antialiased;
      font-weight: 400;
    }
  }

  .GD035_video__img {
    cursor: pointer;
    text-align: center;

    img {
      max-width: 100%;
      max-height: 100%;
      display: block;
    }
  }

  .GD035_video__title {
    font-size: 27px;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
    line-height: normal;
    margin: 15px 0 10px 0;
  }


  /* PRODUCT CAROUSEL */
  .GD035_product-carousel {
    .fr_border {
      border-bottom: none;
    }

    .sku-set-widget {
      border: none;
      margin: 0 auto;
      padding: 35px 0 50px 0;
      height: auto;
    }

    .product {
      .product_rating,
      .product_cta {
        display: none;
      }
    }

    .GD035_offer__CTA {
      background: #0765CD;
      margin: 25px 0 0 0;

      &:hover {
        background-color: #074997;
      }
    }
  }

  .GD035_product-carousel__desc {
    display: block;
    text-align: center;
    margin: 0 auto 40px auto;
    max-width: 700px;

    &.GD035_product-carousel__desc--bottom {
      margin: 40px auto 0 auto;
    }
  }


  /* BOTTOM BANNERS */
  .GD035_bottom-banner {
    width: 50%;
    display: inline-block;

    &:nth-of-type(even) {
      padding: 0 0 0 18px;
    }

    &:nth-of-type(odd) {
      padding: 0 18px 0 0;
    }
  }

  @media only screen and (max-width: 480px) and (min-width: 1px) {
    .fr_border > .wrapper > h3.set-title,
    &#home-page #content .GD035_section h3.set-title {
      font-size: 25px;
      margin-left: 0;
      margin-right: 0;
      margin-top: 0;
    }


    /* SECTIONS */
    .GD035_section .GD035_section__inner,
    .GD035_tmspslot {
      padding: 30px 12px;
    }

    .GD035_section__inner > p {
      max-width: none;
      width: 100%;
      font-size: 16px;
      -webkit-font-smoothing: unset;
    }

    .GD035_offer__CTA {
      min-width: 180px;
    }
    


    /* VIDEOS */
    .GD035_videos .GD035_section__inner {
      padding-bottom: 35px;

      > ul {
        text-align: left;
        white-space: nowrap;
        overflow-x: scroll;
        padding-bottom: 15px;
      }
    }

    .GD035_video {
      width: 85%;
      padding: 0 10px 0 0;
      text-align: left;
      white-space: normal;

      p {
        font-size: 16px;
        -webkit-font-smoothing: unset;
        font-weight: unset;
      }
    }

    .GD035_video__title {
      font-size: 22px;
      margin: 10px 0;
    }
    
    
    /* PRODUCT CAROUSEL */
    .GD035_product-carousel {
      .fr_border {
        padding-bottom: 0;
      }

      .sku-set-widget {
        padding: 0;
      }
    }

    .GD035_product-carousel__desc {
      margin: 0 auto 25px auto;

      &.GD035_product-carousel__desc--bottom {
        margin: 10px auto 0 auto;
      }

      p {
        margin: 15px 0;

        &:first-of-type {
          margin-top: 0;
        }

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }


    /* BOTTOM BANNERS */
    .GD035_bottom-banners .GD035_section__inner {
      padding: 20px 12px 0 12px;
    }

    .GD035_bottom-banner {
      width: 100%;
      display: block;
      padding: 0 0 5px 0 !important;
      margin: 0 auto;
    }
  }
}