@import 'scss/PJ039.scss';

.PJ043{
  .menuListCont{
    .moreellipses{
      display: none;
    }
    .read-more{
      display: none;
    }
    .morecontent{
      span{
        display: inline;
      }
    }
  }
}