.PL004 {
  .PL004-speacialOffer {
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #2186B5;
    background-color: #2186B5;
    padding: 10px;
    color: #FFF;
    border-radius: 20px;
    width: 100%;

    span.PL004-specialOffer__btn {
      color: #FFF;
    }
  }

  article.product > .pinner > header {
    margin-bottom: 0;
    text-align: center;

    p {
      width: 100%;
    }
  }

  article.product {
    height: 742px !important;

    span.review-count {
      display: none;
    }

    div.promotions {
      display: none;
    }

    span.FreeShipping {
      display: none;
    }

    div.compare {
      display: none;
    }
  }
  // Stars Reviews
  .PL004-starReviewsContainer {
    width: 100%;
    margin-bottom: 10px;
    height: 35px;
    text-align: center;

    span.reviews {
      display: inline-block;
      width: 100px;
      vertical-align: middle;
    }

    span.PL004-starReviews {
      display: inline-block;
      vertical-align: middle;
    }
  }

  // Compare Button
  .comparePrinter {
    width: 175px;
    border: 1px solid #2290BD;
    border-radius: 6px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;

    span.compare-btn {
      display: block;
      line-height: 30px;
      color: #2290BD;
      font-size: 12px;
      font-weight: bold;

      &:before {
        content: '\6b';
        font-family: pl-font;
        padding: 0 10px;
        vertical-align: top;
      }

      &:hover {
        color: #23527c;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  // Offers Container and Badges
  .PL004-offersContainer {
    background-color: #F7F7F7;
    width: 100%;
    height: auto;
    min-height: 150px;
    border-radius: 5px;
    margin-top: 120px; /* = 0.5 times the height of the biggest box */
    transform: translateY(-50%);

    ul.PL004-badgeList {
      list-style: none;
      padding-top: 10px;
      padding-bottom: 10px;

      li.PL004-badge {
        display: inline-block;
        width: 40%;
        vertical-align: top;
        margin: 5px;

        .PL004-badge__title {
          font-weight: bold;
          font-size: 1.2em;
          margin-bottom: 5px;
        }

        .PL004-badge__text {
          color: #74716C;
        }

        .PL004-badge__cashback2:before,
        .PL004-badge__cashback:before {
          display: block;
          content: '';
          width: 60px;
          height: 60px;
          background-image: url('//useruploads.visualwebsiteoptimizer.com/useruploads/44287/images/74c423b9e4f903c1ff9f32ee1ae5a9aa_cashback.png');
          background-size: 100%;
          background-repeat: no-repeat;
          margin: auto;
        }
        .PL004-badge__discount:before,
        .PL004-badge__priceTagline:before {
          display: block;
          content: '';
          width: 60px;
          height: 60px;
          background-image: url('//useruploads.visualwebsiteoptimizer.com/useruploads/44287/images/74c423b9e4f903c1ff9f32ee1ae5a9aa_cashback.png');
          background-size: 100%;
          background-repeat: no-repeat;
          margin: auto;
        }
        .PL004-badge__warranty:before {
          display: block;
          content: '';
          width: 60px;
          height: 60px;
          background-image: url('//useruploads.visualwebsiteoptimizer.com/useruploads/44287/images/59b0c0caa8b4e1c37ac65a03ca77071e_warranty.png');
          background-size: 100%;
          background-repeat: no-repeat;
          margin: auto;
        }
        .PL004-badge__offer:before {
          display: block;
          content: '';
          width: 60px;
          height: 60px;
          background-image: url('//useruploads.visualwebsiteoptimizer.com/useruploads/44287/images/36460e6a36a7df80d78cdbfb02d4b67d_pl003-buy_%26_try.png');
          background-size: 100%;
          background-repeat: no-repeat;
          margin: auto;
        }
        .PL004-badge__freeGift:before {
          display: block;
          content: '';
          width: 60px;
          height: 60px;
          background-image: url('//useruploads.visualwebsiteoptimizer.com/useruploads/44287/images/cab8d5279034218f965d4d261708c8ea_free_gift.png');
          background-size: 100%;
          background-repeat: no-repeat;
          margin: auto;
        }
        .PL004-badge__rewardPoints:before {
          display: block;
          content: '';
          width: 60px;
          height: 60px;
          background-image: url('//useruploads.visualwebsiteoptimizer.com/useruploads/44287/images/cab8d5279034218f965d4d261708c8ea_free_gift.png');
          background-size: 100%;
          background-repeat: no-repeat;
          margin: auto;
        }
        .PL004-badge__ink:before {
          display: block;
          content: '';
          width: 50px;
          height: 50px;
          background-image: url('//useruploads.visualwebsiteoptimizer.com/useruploads/44287/images/9f07ccc4428e31211569df05fe966943_ink.png');
          background-size: 100%;
          background-repeat: no-repeat;
          margin: auto;
        }
      }
    }
  }

  // Pricing and View Button
  .description > span.right {
    text-align: center;
    margin-top: 10px;
    position: absolute;
    bottom: 0;
    right: 25%;

    .gallery_view article .gallery_pricing {
      position: absolute;
      bottom: 50px;
    }

    span.pricing.gallery_pricing {
      text-align: center;

      span.price-value {
        font-size: 24px;
      }
    }
  }

  .description > span.left {
    display: none;
  }
}
