$id: '--ID--';

.#{$id} {
  .#{$id}-upsell-item {
    box-sizing: border-box;
  }
  .#{$id}-upsell-item__add {
    width: 100%;
    box-sizing: border-box;
  }
  .#{$id}-upsell-item__text {
    margin: 0 0 1em;

    @media(max-width: 519px) {
      min-height: 40px;
    }
  }
  .#{$id}-upsell-item__text-desc {
    margin: 0 0 1em;
    color: #808385;
    min-height: 40px;
    @media(max-width: 519px) {
      font-size: 0.9em;
    }
  }
  .#{$id}-upsell-item__price {
    color: #e679a5;
    margin: 0 0 1em;
  }
  .#{$id}-upsell-item__image {
    a {
      cursor: default;
    }
  }
  .#{$id}-no-link-wrap {
    margin-bottom: 2em;

    a {
        
    }
  }

  .#{$id}-go-to-checkout {
    background-color: #6b7073;
    border-color: #6b7073;

    &:hover, &:active, &:focus {
      border-color: #898a8d;
      background-color: #898a8d;
    }
  }

  .#{$id}-page-success {
    padding: 15px;
    background: #fbf5f7;
    margin: 25px 0 15px;
  }
}

.#{$id}-added-to-basket {
  .#{$id}-no-link-wrap,
  .#{$id}-subtitle {
    display: none;
  }
}
