.PP029 {
  /**** Active panel ****/ }
  .PP029 #features .panel,
  .PP029 .nome_lavorazione > .panel {
    margin: 10px 0 !important;
    border-bottom: 0 !important;
    border: 1px solid #e4e4e4 !important; }
  .PP029 .pp29-info-box {
    display: block;
    background: #d9edf7;
    color: #515151;
    padding: 10px 10px 10px 50px;
    position: relative; }
  .PP029 .pp29-info-box--warning {
    background: #f2dede;
    display: none; }
  .PP029 .panel.has-error .pp29-info-box--warning {
    display: block; }
  .PP029 .pp29-info-box__icon {
    position: absolute;
    left: 15px;
    color: #3bbee4;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: 0; }
  .PP029 .pp29-info-box__icon.fa-exclamation-circle {
    color: #a94442; }
  .PP029 .pp29-info-box__text img {
    width: auto;
    height: auto;
    max-width: 90px;
    max-height: 90px;
    cursor: pointer;
    float: none !important; }
  .PP029 .pp29-info-box__text img.pp29-active {
    max-width: 300px;
    max-height: 300px; }
  .PP029 #features .panel .info-icon,
  .PP029 #features .panel .info_box .text-danger,
  .PP029 .nome_lavorazione > .panel .info-icon {
    display: none; }
  .PP029 #features .panel .info_features,
  .PP029 .nome_lavorazione > .panel .info_features {
    display: none; }
  .PP029 #features .panel .panel-heading,
  .PP029 .nome_lavorazione > .panel .panel-heading {
    padding-top: 10px;
    padding-bottom: 10px; }
