@import 'scss/slick.scss';
.PU005 {
    .header-group.floating nav>ul{
        top: 111px;
    }
    .menuFade{
        display: none;
    }
    .body-container.container-fluid {
        display: none;
    }
    /*nav toggle*/
    #nav-toggle {
        color: black;
        background: url(https://cdn2.hubspot.net/hubfs/2037863/Header_images/header-sprite.png?t=1517312612897);
        width: 60px;
        height: 23px;
        background-size: 248px;
        background-position: -1px -272px;
    }
    .header-group{
        height: 111px;
    }
    .header-group .PU5-headerTypes{
        display: none;
        margin-top: 22px;
        text-align: center;
    }
    .header-group.floating .PU5-headerTypes{
        display: block;
       
    }
    .PU5-headerTypes p {
        margin-bottom: 0;
        height: 16px;
        font-size: 11px;
    }
    .PU5-headerTypes .PU5-type {
        display: inline-block;
        font-size: 12px;
        margin: 3px;
    }
    .PU5-headerTypes .PU5-type:last-child{
        display: none;
    }
    /*top content*/
    .PU005-top_content {
        text-align: center;
        background: #f3f3f3;
        padding: 20px;
        margin-top: 20px;
        padding-top: 25px;
        padding-bottom: 25px;
        h1 {
            margin-bottom: 8px;
            font-size: 26px;
        }
        span {
            font-size: 15px;
            font-weight: 400;
        }
        .PU005-ticks {
            padding: 5px;
            text-align: left;
            list-style: none;
            margin-top: 15px;
            padding-left: 15px;
            padding-right: 15px;
            .PU005-tickText {
                padding-left: 22px;
                font-size: .9em;
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    background: url('//cdn.optimizely.com/img/7714711789/63128acac29d443287e39c97b649e194.png');
                    left: 0;
                    width: 14px;
                    height: 20px;
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }
            .PU5-time {
                font-weight: 800;
            }
        }
    }
    /*main content*/
    .PU5-main_section {
        .PU5-wrap {
            margin-top: 18px;
            clear: both;
            margin-bottom: 18px;
        }
        .PU5-section-title {
            font-size: 17px;
            display: block;
            margin-bottom: 7px;
            font-weight: 500;
            padding: 10px;
        }
        /*prescriptions*/
        .PU5-prescriptions {
            text-align: center;
        }
        .PU5-prescriptions_inner {
            width: 100%;
            overflow-x: scroll;
            position: relative;

            .PU5-types_wrap {
                padding: 0;
                width: 1000px;
                overflow-x: scroll;
                margin-bottom: 15px;
                text-align: left;
                .PU5-type {
                    display: inline-block;
                    margin: 10px;
                    border: 1px solid;
                    padding: 5px;
                    width: 169px;
                    text-align: center;
                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                    border-radius: 3px;
                    background: white;
                    box-shadow: 1px 1px 1px #c5c5c5;
                    a {
                        text-decoration: none;
                        display: block;
                        padding-top: 5px;
                        padding-bottom: 5px;
                    }
                }
            }
            &::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                border-radius: 10px;
                background-color: #F5F5F5;
            }
            &::-webkit-scrollbar {
                width: 5px;
                background-color: #F5F5F5;
                height: 5px;
            }
            &::-webkit-scrollbar-thumb {
                border-radius: 0px;
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
                background-color: black;
            }
        }
        /*about section*/
        .PU5-wrap.PU5-about {
            text-align: left;
            h2 {
                text-align: center;
                padding: 10px;
                font-size: 18px !important;
            }
            p {
                padding: 10px;
            }
            span {
                font-weight: 500;
                padding: 10px;
            }
            .PU5-wrap.PU5-logos {
                background: #f3f3f3;
            }
            .PU5-wrap.PU5-twoBlocks {
                padding: 10px;
                p {
                    padding: 0px;
                }
                h2 {
                    width: 100%;
                    padding: 0px;
                    display: block;
                    text-align: left;
                }
                .PU5-block {
                        margin-bottom: 30px;
                    .PU5-block_text {
                        width: 48%;
                        display: inline-block;
                        font-size: 12px;
                        vertical-align: top;
                        margin-bottom: 10px;
                    }
                    li{
                        position: relative;
                        padding-left: 17px;
                        &:before{
                            content: '\2022';
                            position: absolute;
                            left: 0;
                            font-size: 29px;
                        }
                    }
                    li,
                    p {
                        font-size: 12px;
                        list-style: none;
                    }
                    p {
                        margin-bottom: 0;
                    }
                    .PU5-blocktext-image {
                        width: 48%;
                        display: inline-block;
                        vertical-align: top;
                        -moz-background-size: cover;
                        -o-background-size: cover;
                        height: 200px;
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;

                    }
                    a {
                        width: 100%;
                        display: block;
                        font-size: 13px;
                        margin-bottom: 10px;
                    }
                    &:last-child .PU5-blocktext-image{
                        background-image: url('//cdn.optimizely.com/img/7714711789/cf9b73dcf3794d3a8e79ec0c058ff5f5.jpg');
                    }
                    &:first-child .PU5-blocktext-image{
                        background-image: url('//cdn.optimizely.com/img/7714711789/5ce72f325700410c96575cd22568956d.jpg');
                    }
                }
            }
        }
        .PU5-wrap.PU5-trustpilot {
            text-align: center;
            padding: 10px;
            >a {
                font-size: 13px;
                display: block;
            }
            h2 {
                margin: 0px;
                font-size: 17px !important;
                margin-bottom: 10px;
            }
            h3 {
                margin-bottom: 15px;
                margin-top: 10px;
            }
            .PU5-rating {
                position: relative;
                margin-top: 20px;
                .PU5-stars {
                    background-image: url('//cdn.optimizely.com/img/7714711789/07d948c1061643cea61471dc6cb4561a.png');
                    height: 24px;
                    width: 110px;
                    background-position: center;
                    -moz-background-size: 100px;
                    -o-background-size: 100px;
                    background-size: 110px;
                    display: inline-block;
                    vertical-align: middle;
                    background-repeat: no-repeat;
                }
                p {
                    display: inline-block;
                    margin-bottom: 0;
                    font-weight: 500;
                    margin-left: 5px;
                    font-size: 16px;
                    vertical-align: middle;
                }
                a {
                    display: inline-block;
                    font-size: 13px;
                    text-decoration: none;
                }
            }
        }
        .PU5-logo {
            background-image: url('//cdn.optimizely.com/img/7714711789/e2a5cd5978494ad6a4e34e1cbc5ba180.jpg');
            width: 94px;
            background-position: center;
            -moz-background-size: 100px;
            -o-background-size: 100px;
            background-size: 94px;
            display: inline-block;
            height: 31px;
            background-repeat: no-repeat;
            vertical-align: middle;
        }
        /*Video*/
        .PU5-trustpilot_video {
            position: relative;
            padding-bottom: 56.25%;
            height: 0;
            overflow: hidden;
            max-width: 100%;
        }
        .PU5-trustpilot_video iframe,
        .PU5-trustpilot_video object,
        .PU5-trustpilot_video embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        /*Accordion*/
        .PU5-accordionSection{
            margin-bottom: 10px;
        }
        .PU5-accordionSection h3 {
            padding: 10px;
            position: relative;
            background-color: #ececec;
            margin-left: 10px;
            margin-right: 10px;
            padding-left: 15px;
        }
        .PU5-accordionSection.PU5-title_active h3 .fa{
            transform: rotate(-180deg);
        }
        
        .PU5-accordionSection .PU5-acc_section{
            overflow: hidden;
            max-height: 0;
            padding-bottom: 0;
            background: white;
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 0;
            margin-bottom: 0;
            -moz-transition-duration: 0.3s;
            -webkit-transition-duration: 0.3s;
            -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
            -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
            -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
            transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
            &.PU5-section_active{
                -moz-transition-duration: 0.3s;
                -webkit-transition-duration: 0.3s;
                -o-transition-duration: 0.3s;
                transition-duration: 0.3s;
                -moz-transition-timing-function: ease-in;
                -webkit-transition-timing-function: ease-in;
                -o-transition-timing-function: ease-in;
                transition-timing-function: ease-in;
                max-height: 1000px;
                overflow: hidden;
            }
        }
        .PU5-accordionSection .PU5-acc_points {
            margin: 10px;
        }
        .PU5-accordionSection .PU5-cta_wrap{
            text-align: center;
            padding: 10px;
        }
        .PU5-acc_section span {
            font-weight: 500;
            font-size: 14px;
            text-align: center;
        }
        .PU5-acc_section span.PU5-acc_title,
        .PU5-acc_section span.PU005-acc_time {
            text-transform: lowercase; 
            display: inline-block;
        }
        #PU5-other .PU5-faq_link,
        #PU5-other span{
            display: none;
        }
        .PU5-faq_link,
        .PU5-faq_link span{
            text-decoration: underline;
            font-size: 13px;
            display: block;
            span{
                font-weight: 300;
                font-size: 13px;
            }
        }
        .PU5-tp_reviews {
            padding: 10px;
            padding-bottom: 20px;
        }
        /*FAQ*/
        .PU5-wrap.PU5-faq_content h2 {
            text-align: center;
        }
        .PU5-wrap.PU5-faq_content {
            padding-left: 10px;
            padding-right: 10px;
            .PU5-question {
                font-weight: 500 !important;
                margin-bottom: 5px;
            }
        }
    }
    /*Landscape styles*/
    @media(min-width:600px){
        .header-group {
            height: 100px;
        }
        .header-group .PU5-headerTypes {
            margin-top: 13px;
        }
        .header-group .PU5-headerTypes p{
            display: inline-block;
            font-size: 13px;
            margin-right: 10px;
            vertical-align: middle;
        }
        .PU5-type {
            display: inline-block;
            font-size: 13px;
            margin: 3px;
            margin-left: 17px;
        }
        .PU5-prescriptions_inner {
            display: inline-block;
            vertical-align: middle;
            margin-top: 3px;
        }
        .PU5-types_wrap {
            display: inline-block;
            vertical-align: middle;
        }
        .PU5-prescriptions_inner .PU5-type{
            padding-left: 12px;
            padding-right: 12px;
        }
        .PU5-main_section .PU5-section-title{
            margin-bottom: 0px;
        }
    }
}