.PD023 {
  //Removes the old menu function that hides sign in/register and phone number
  h3.top-menu.ui-collapsible-heading {
    width: 0px;
  } //Makes the header sticky
  #header_container {
    position: fixed;
    z-index: 11;
    width: 100%;
  } //pushes content down to prevent it being hidden
  #content {
    padding-top: 145px;
  } //Repositions the logo to the center
  #header .ui-grid-a .logo {
    width: calc(100% - 125px);
    margin-left: 43px;
    text-align: center;
  } //Keeps the basket on the right
  #header .ui-block-b.minicart {
    width: auto;
    float: right;
  } //Moves the menu to the left
  h3.top-menu.ui-collapsible-heading {
    left: 0;
  } //Remove box shadow from slideout menu
  #header .ui-header .pd1_navigation {
    box-shadow: none;
  } //Hides clearance and register
  #foot_outer .mobile_footer_top_links.clearfix.cms-collection-component {
    display: none;
  } //Moves the footer down 
  .mobile_footer_vertical_links.clearfix.cms-collection-component {
    margin-top: 20px;
  } //Amends the header for the product page
  //Adds background to PD002 headline
  #header>.pd2-headline {
    background: #FFFFFF;
  }

  &.PD002 {
    //Pushes back button down for product pages only
    #content>.container_12.titlePanel {
      margin-top: 50px;
    }
  }
}