@import './variables';

.#{$id} {
  &-xmas-message {
    padding: 4px 8px;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 16px auto;
    background: #FFF7ED;
    border-radius: 5px;

    & > svg {
      margin-right: 10px;
    }

    & > span {
      span {
        font-weight: 700;
      }
    }
  }
}
