@import './variables';
@import './swiper';

.#{$id} {
  &__sliderWrapper {
  }

  &__sliderContainer {
    max-width: 1148px;
    background-color: #052458;
    margin: 0 auto;
    padding: 12px 12px;
  }

  &__mainTitle {
    font-family: 'screwfix_betabold';
    font-size: 32px;
    font-weight: 900;
    line-height: 38.4px;
    color: #ffffff;
    text-transform: uppercase;
  }

  &__sliderBox {
  }

  &__slider {
    //justify-content: center;
  }

  &__productWrapper {
    // max-width: 223px;
    // width: 100% !important;
    background-color: #fff;
    box-sizing: border-box;
  }

  &__productContainer {
    & > a {
      display: flex;
      flex-direction: column;
      padding: 10px 8px;
    }
  }

  &__imageWrapper {
    padding-bottom: 8px;
    img {
      width: 100%;
      height: auto;
    }
  }

  &__additionalInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 12px;
    .#{$id}__sku {
      font-family: 'screwfix_betabold';
      font-size: 14px;
      font-weight: 700;
      line-height: 17px;
      color: #0053a0;
    }
    .#{$id}__ratings {
      display: flex;
      align-items: center;
      .#{$id}__icon {
      }

      .#{$id}__reviewNumber {
        font-family: 'screwfix_betaregular';
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        color: #0053a0;
        padding-left: 4px;
      }
    }
  }

  &__productTitle {
    font-family: 'screwfix_betaregular';
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    height: 76px;
  }

  &__productPriceWrapper {
    display: flex;
    align-items: center;
    //justify-content: space-between;

    @media screen and (max-width: 640px) {
      flex-wrap: wrap;
    }
  }

  &__priceContainer {
    display: flex;
    align-items: center;

    @media screen and (max-width: 640px) {
      width: 100%;
    }
  }

  &__savePrice {
    align-self: center;
    background-color: #d0030b;
    color: #fff;
    font: 700 14px/24px Arial, sans-serif;
    border-radius: 2px 0 0 2px;
    padding: 0 4px;
    position: relative;
    margin: 0 12px 0 0px;
    width: max-content;

    &::after {
      content: '';
      position: absolute;
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
      border-left: 12px solid #d0030b;
      left: 100%;
    }
  }

  &__price {
    display: flex;
    align-items: center;
    font-family: 'archivo_narrowbold';
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    color: #dd030b;

    .#{$id}__vatStatus {
      font-family: 'archivo_narrowbold';
      font-size: 12px;
      font-weight: 400;
      line-height: 12px;
      text-transform: uppercase;
      width: min-content;
      letter-spacing: normal;
      margin-left: 4px;
      margin-top: -1px;
      color: #484848;
    }
  }

  &__comparePrice {
    font-family: 'archivo_narrowbold';
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    text-decoration-line: line-through;
    color: #636363;
    padding-left: 4px;
  }

  &__button {
    font-family: 'screwfix_betabold';
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    background-color: #0053a0;
    text-transform: uppercase;
    border: none;
    color: #fff;
    padding: 8px 6px;
    margin-top: 8px;
  }
}
