@import './variables';

.#{$id} {
  #page-title {
    text-align: center;
  }

  .#{$id}-trustrow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

    .slick-slide {
      text-align: center;
    }

    img {
      height: 60px;
      width: auto;
      margin: 0 auto;
      margin-bottom: 10px;

      @media(min-width: 375px) {
        height: 70px;
      }
      @media(min-width: 900px) {
        height: 70px;
        width: auto;
        margin: 0 15px;
      }

      @media(min-width: 1300px) {
        height: 78px;
        margin: 0 30px;
      }
    }
  }
}
