@import './variables';

.#{$id} {

  &.hsamuel,
  &.ernestjones {

    .#{$id}-inGrid {
      background: #f1f1f1;
      position: relative;
      .#{$id}-image {
        display: none;
      }
      .#{$id}-wrapper {
        padding: 10px;
        text-align: center;
        
        .#{$id}-inGrid-content {
          max-width: 80%;
          margin: 0 auto;
        }
        .#{$id}-icon {
          height: 80px;
          width: 100px;
          background: url('https://service.maxymiser.net/cm/images-us/ernestjones-co-uk/CF3E246A8E58722D471EFFE80ECFFE39EB2942958A8E01F78F128658B4D13558.png?meta=/SG080---In-Grid-Content-PLP/noun_engagementring_990585.png') no-repeat center;
          background-size: contain;
          margin: 0 auto;
        }

        h3 {
          font-size: 20px;
          margin-top: 0;
          margin-bottom: 0;
        }

        p {
          margin-top: 5px;
          margin-bottom: 15px;
          font-size: 16px;
          line-height: 21px;
        }

        .#{$id}-button {
          background: black;
          border: 1px solid black;
          display: block;
          border-radius: 5px;
          padding: 7px 10px;
          width: 80%;
          margin: 0 auto;
          margin-bottom: 10px;
          color: white;
          font-family: 'Oxygen', sans-serif;
          font-weight: 600;
          font-size: 16px;
          box-sizing: border-box;
          &:hover {
            background: white;
            border: 1px solid black;
            color: black;
          }
        }

        @media(min-width: 414px) {
          padding: 15px;
          h3 {
            font-size: 25px;
          }
          p {
            margin-bottom: 20px;
            font-size: 16px;
            line-height: 23px;
          }
        }

        @media(min-width: 767px) {
          padding: 15px;
         // max-height: 250px;
          position: absolute;
          top: 50%;
          left: 50%;
          width: 100%;
          transform: translate(-50%,-50%);
          box-sizing: border-box;
          .#{$id}-inGrid-content {
            max-width: 100%;
            h3 {
              font-size: 23px;
              line-height: 29px;
            }
            p {
              font-size: 14px;
              line-height: 20px;
              margin-top: 10px;
              margin-bottom: 20px;
            }
            .#{$id}-icon {
              height: 110px;
            }
          }
        }

        @media(min-width: 767px) {
          //max-height: 230px;
          .#{$id}-inGrid-content {
            max-width: 100%;
            h3 {
              font-size: 21px;
              line-height: 25px;
            }
            p {
              font-size: 14px;
              line-height: 18px;
            }
          }
        }
      }
    }

    @media(max-width:767px) {
      .product-tile-list--two-column-mode {
        .#{$id}-inGrid {
          display: none;
        }
      }
    }
  }

  &.hsamuel {
    .#{$id}-inGrid {
      .#{$id}-wrapper {

        padding: 10px;
        text-align: center;

        .#{$id}-icon {
          background-size: contain;
        }
        h3 {
          color: black;
        }
        p {
          color: #484849;
        }
        .#{$id}-button {
          background: #a01d29;
          border: 1px solid #a01d29;
          color: white;
          text-decoration: none;
          font-family: "Montserrat",sans-serif;
          font-weight: 300;
          &:hover {
            background: white;
            color: #a01d29;
            border: 1px solid #a01d29;
          }
        }

        @media(min-width: 414px) {
          padding: 15px;
          h3 {
            font-size: 25px;
          }
          p {
            margin-bottom: 20px;
            font-size: 16px;
            line-height: 23px;
          }
        }
        @media(min-width: 767px) {
          .#{$id}-inGrid-content {
            max-width: 100%;
            h3 {
              font-size: 21px;
              line-height: 25px;
            }
            p {
              font-size: 14px;
              line-height: 18px;
            }
          }
        }
      }
    }
  }

  &.ernestjones {
    // EJ-specific styles
  }

  &.#{$id}-1.#{$id}-watches {
    .#{$id}-inGrid {
     
      .#{$id}-wrapper {
        .#{$id}-icon {
          background: url('https://service.maxymiser.net/cm/images-us/ernestjones-co-uk/6CA546CBE1935DAA0AB16707EF5F7C1B4AC49AFBB67298241C07BEFE370B77F7.png?meta=/SG080---In-Grid-Content-PLP/noun_Watch_1238675.png') no-repeat center;
          background-size: 100px;
          @media(min-width: 767px) {
            height: 110px;
            background: url('https://service.maxymiser.net/cm/images-us/ernestjones-co-uk/D8C2EE8733EF2943E798240B30E039CF69611127791206CA56D6C26230895C2E.png?meta=/SG080---In-Grid-Content-PLP/noun_Watch_1238674.png') no-repeat center;
            background-size: contain;
          }
        }
      }
    }
  }


  &.#{$id}-2 {
    .#{$id}-inGrid {
      position: relative;
      background: none;
      justify-content: center;
      align-content: center;

    
      .#{$id}-image {
        height: 190px;
        padding: 10px;
        background: url('https://service.maxymiser.net/cm/images-us/ernestjones-co-uk/BE5594E3B721C7BBC80622D647918BC8A902242CCFAF5CD19DD42DEC5DEA67ED.jpeg?meta=/SG123---Offer-Price-Framing/EJRings.jpeg') no-repeat center;
        background-size: cover;
        position: absolute;
        top: 25%;
        left: 50%;
        width: 250px;
        -webkit-transform: translateX(-50%);
        transform: translate(-50%,-50%);
        display: block;
        z-index: 2;
        background-color: white;
        box-sizing: border-box;
      }

      .#{$id}-wrapper {
        background: #f1f1f1;
        border: 0px;
        padding-top: 60px;
        margin-top: 130px;
        position: relative;
        .#{$id}-icon {
          display: none;
        }
      }
      @media(min-width: 375px) {
        .#{$id}-image {
          width: 300px;
          height: 230px;
        }
        .#{$id}-wrapper {
          padding-top: 105px;
        }
      }

      @media(min-width: 767px) {
        
        .#{$id}-container {
          position: relative;
          &:before {
            content: '';
            background: #efefef;
            position: absolute;
            bottom: 0;
            height: 70%;
            width: 100%;
            left: 0;
            z-index: 0;
          }
        }
        .#{$id}-image {
          width: 85%;
          height: 150px;
          margin: 0 auto;
          position: relative;
          top: unset;
          left: unset;
          transform: unset;
        }
        .#{$id}-wrapper {
          background: unset;
          margin-top: 0px;
          padding-top: 0px;
          position: relative;
          top: unset;
          left: unset;
          transform: unset;
          .#{$id}-button {
            position: relative;
          }
        }
      }
      @media(min-width: 1200px) {
        .#{$id}-image {
          height: 210px;
          margin-bottom: 10px;
        }
      }

      &.#{$id}-booking {
        .#{$id}-image {
          background: url('https://service.maxymiser.net/cm/images-us/hsamuel-co-uk/D863F0B9690AE9366EE7AF2D11ACDBE8B5B6993EDF7C14B137DC6E99E340F186.png?meta=/SG080---In-Grid-Content-New/EJAppointment.png') no-repeat center;
          background-size: cover;
        }
      }
    }
  }

  &.#{$id}-2.#{$id}-watches.ernestjones {
    .#{$id}-image {
      background: url('https://service.maxymiser.net/cm/images-us/ernestjones-co-uk/57E2EDADD72C6FF7A3F46F02FBF28CEEF140BE8868BFF9ED45E77479724114DA.jpeg?meta=/SG123---Offer-Price-Framing/EJWatch.jpeg') no-repeat center;
      background-size: cover;
    }
    .#{$id}-inGrid {
      .#{$id}-inGrid-content {
        max-width: 90%;
      }
      &.#{$id}-booking {
        .#{$id}-image {
          background: url('https://service.maxymiser.net/cm/images-us/hsamuel-co-uk/D863F0B9690AE9366EE7AF2D11ACDBE8B5B6993EDF7C14B137DC6E99E340F186.png?meta=/SG080---In-Grid-Content-New/EJAppointment.png') no-repeat center;
          background-size: cover;
        }
      }
    }
  }
  &.#{$id}-2.#{$id}.hsamuel {
    .#{$id}-image {
      background: url('https://service.maxymiser.net/cm/images-us/ernestjones-co-uk/2A72D09651D20DA33F268B931E46EABED3B438DA08A7114901AB398EE3C873CE.jpeg?meta=/SG080---In-Grid-Content-PLP-New/MicrosoftTeams-image4.jpeg') no-repeat center;
      background-size: cover;
    }
  }
  &.#{$id}-2.#{$id}-watches.hsamuel {
    .#{$id}-image {
      background: url('https://service.maxymiser.net/cm/images-us/ernestjones-co-uk/F75375E6CAA60424AA205788E0FD5AED760BE1D1A2C72CA16ED675673F0FB47F.jpeg?meta=/SG080---In-Grid-Content-PLP-New/MicrosoftTeams-image5.jpeg') no-repeat center;
      background-size: cover;
    }
  }

}
