.RC012 .RC012-2_title {
  color: white;
  font-weight: bold;
  padding: 0 10px;
  font-size: 15px;
  text-align: center; }

.RC012 .RC012-2_search-boxes {
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row; }
  .RC012 .RC012-2_search-boxes .RC012-2_search-box {
    width: 50%;
    display: inline-block;
    padding: 10px 4px;
    vertical-align: top;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
    .RC012 .RC012-2_search-boxes .RC012-2_search-box .RC012-search-box-inner {
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
      position: relative;
      cursor: pointer;
      overflow: hidden;
      background: white;
      /*background: white url(https://www.redcrossfirstaidtraining.co.uk/images/gradient-course-search.png) bottom repeat-x;*/
      /*box-shadow: 0 0 13px 0 rgba(0,0,0,0.7);*/
      background-size: contain;
      text-align: center;
      padding: 15px 2px;
      display: -webkit-flex;
      display: -webkit-box;
      display: -moz-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease; }
      .RC012 .RC012-2_search-boxes .RC012-2_search-box .RC012-search-box-inner.RC012_search-active {
        opacity: 1;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease; }
      .RC012 .RC012-2_search-boxes .RC012-2_search-box .RC012-search-box-inner.RC012_search-inactive {
        opacity: .6;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease; }
      .RC012 .RC012-2_search-boxes .RC012-2_search-box .RC012-search-box-inner .RC012_ink {
        display: block;
        position: absolute;
        -webkit-transform: translateZ(0);
        background: rgba(152, 25, 42, 0.3);
        border-radius: 100%;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -o-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0); }
        .RC012 .RC012-2_search-boxes .RC012-2_search-box .RC012-search-box-inner .RC012_ink.RC012_animate {
          -webkit-animation: RC012_ripple 0.65s linear;
          -moz-animation: RC012_ripple 0.65s linear;
          -ms-animation: RC012_ripple 0.65s linear;
          -o-animation: RC012_ripple 0.65s linear;
          animation: RC012_ripple 0.65s linear; }
      .RC012 .RC012-2_search-boxes .RC012-2_search-box .RC012-search-box-inner:focus {
        outline: none;
        background: none; }
      .RC012 .RC012-2_search-boxes .RC012-2_search-box .RC012-search-box-inner h2 {
        font-weight: bold;
        font-size: 14px;
        margin: 0 0 10px 0; }
        @media (max-width: 375px) {
          .RC012 .RC012-2_search-boxes .RC012-2_search-box .RC012-search-box-inner h2 {
            font-size: 16px; } }
      .RC012 .RC012-2_search-boxes .RC012-2_search-box .RC012-search-box-inner > span {
        text-decoration: underline;
        cursor: pointer;
        font-size: 13px;
        font-weight: bold; }
      .RC012 .RC012-2_search-boxes .RC012-2_search-box .RC012-search-box-inner p {
        display: block;
        text-align: center;
        font-size: 12px;
        padding: 0 10px;
        margin: 0 0 10px 0; }

.RC012 .nav-container {
  border-bottom-width: 5px; }

.RC012 #main_0_homepagetopcomponents_0_ContainerDiv {
  position: relative;
  overflow: visible !important; }

.RC012 .home-course-search .course-search-container {
  overflow: visible !important;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  /*top: 10px;*/ }
  .RC012 .home-course-search .course-search-container:first-child {
    /*.course-search:before {
                content: '';
                display: block;
                position: absolute;
                z-index: 99999999999;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 18px 15px 18px;
                border-color: transparent transparent #ffffff transparent;
                bottom: 100%;
                left: 30px;
            }*/ }
  .RC012 .home-course-search .course-search-container:last-child {
    margin-bottom: 0 !important;
    /*.course-search:before {
                content: '';
                display: block;
                position: absolute;
                z-index: 99999999999;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 18px 15px 18px;
                border-color: transparent transparent #ffffff transparent;
                bottom: 100%;
                right: 30px;
            }*/ }
  .RC012 .home-course-search .course-search-container .course-search-img {
    display: none; }
  .RC012 .home-course-search .course-search-container .course-search-form {
    width: 100%; }
    .RC012 .home-course-search .course-search-container .course-search-form label {
      font-size: 0.9em;
      font-weight: normal; }
  .RC012 .home-course-search .course-search-container .course-search-header i {
    font-size: 25px; }
  .RC012 .home-course-search .course-search-container .course-search-header h2 {
    padding-bottom: 0; }
  .RC012 .home-course-search .course-search-container .course-search {
    padding: 10px 15px 40px 15px;
    background: white;
    box-shadow: none;
    width: 100%;
    margin-top: 0;
    -webkit-transform: translateZ(0); }
  .RC012 .home-course-search .course-search-container .course-search-link {
    bottom: 5px; }
    .RC012 .home-course-search .course-search-container .course-search-link i.icon-arrow-right {
      color: #98192a;
      font-size: 12px; }
    .RC012 .home-course-search .course-search-container .course-search-link p {
      float: left;
      width: auto;
      margin-top: 0; }
      .RC012 .home-course-search .course-search-container .course-search-link p:first-of-type {
        text-align: left;
        float: left; }
      .RC012 .home-course-search .course-search-container .course-search-link p:last-of-type {
        text-align: right;
        float: right; }
    @media (max-width: 400px) {
      .RC012 .home-course-search .course-search-container .course-search-link {
        right: 0;
        left: 0;
        width: 100%;
        padding: 10px; }
        .RC012 .home-course-search .course-search-container .course-search-link p {
          font-size: 12px; } }
  .RC012 .home-course-search .course-search-container .RC012_search-label {
    text-align: center;
    margin: 5px 0 0 0;
    float: left;
    width: 100%;
    color: #707070; }

@-webkit-keyframes RC012_ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5); } }

@-moz-keyframes RC012_ripple {
  100% {
    opacity: 0;
    -moz-transform: scale(2.5); } }

@-o-keyframes RC012_ripple {
  100% {
    opacity: 0;
    -o-transform: scale(2.5); } }

@keyframes RC012_ripple {
  100% {
    opacity: 0;
    transform: scale(2.5); } }
