.ME182 {
  // Clean up price area, hide old logo and genuine merchandise text

  .price-suffix + .merchoid_price_framing{
    display: none;
  }

  // Taking styling for logo, from hidden logo

  .ME182_Image{
    max-height: 25px;
  }

  .ME182_Container{
    margin-bottom: 10px;
  }

  .ME182_Bold{
    font-weight: 700;
  }

  .ME182_Text{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    display: inline-block;
  }
}