.FL022{
  .CheckWrap .PaymentStage h2{
    display: none;
  }
  .CheckWrap .form-horizontal .control-label{
    font-size: 11px;
  }
  .FL022_alert{
    width: calc(100% - 40px);
    margin-left: 20px;
    @media (min-width: 768px) {
      width: 100%;
      margin-left: 0;
    }
    @media (min-width: 1022px) {
      width: 95%;
    }
  }
}