@import './variables';

.#{$id} {

    .#{$id}-banner {
        background-color: #7CE0D3;
        padding: 20px 20px;
        text-align: center;
        margin-bottom: 20px;

        p, h2 {
            color: #15212f;
        }
        p {
            margin-bottom: 0;
        }
    }

    .AF009-shipping {
        margin-bottom: 7px;
    }


    .AF-hide { display:none !important;}

}
