@import './variables';

.#{$id} {

    #miniCartSlider {
        .MP188-banner {
            position: absolute;
            bottom: 100%;
            left: 0;
            right: 0;
        }
    }

    .MP188-banner {
        margin: 0;
        padding: 9px;
        clear: both;
        position: relative;
        text-align: center;
        background-color: #f1f1f1;
        p {
            margin: 0;
            font-weight: 700;
        }

        span:not(.MP-weeks) {
            display: inline-block;
            vertical-align: middle;
            font-size: 12px;
            border: 1px solid #000;
            width: 18px;
            height: 18px;
            border-radius: 9px;
            background-color: #fff;
            cursor: pointer;
        }

        span.MP-weeks {
            // color: #47BB9C;
        }

        .MP188-banner--tooltip {
            visibility: hidden;
            opacity: 0;
            position: absolute;
            max-width: 90%;
            left: 0; right: 0;
            margin: auto;
            padding: 10px;
            background-color: #fff;
            border: 1px solid #000;
            z-index: 2;
            top: 100%;
            transition: ease all .2s;

            &.MP-show {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}
