@import './variables';

.#{$id} {

    #lp-pom-root {
        background: #FFF;
    }

    .#{$id}-hidden {
        display: none !important;
        visibility: hidden !important;
    }

    .#{$id}-lp {

        &-header {

            svg {
                max-width: 110px;
                margin-left: 10px;
            }
        }

        .#{$id}-lp-content {
            position: relative;



            &--block1 {
                min-height: 600px;
                background-size: cover;
                background-repeat: no-repeat;

                &:before {
                        content: "";
                        background: rgba(0, 0, 0, 0.3);
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
            }

            &--ctablock {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                max-width: 600px;

                

                h1 {
                    font-size: 48px;
                    color: #FFF;
                    line-height: 58px;
                    margin-bottom: 20px;
                }

                p {
                    font-size: 16px;
                    color: #FFF;
                    line-height: 20px;
                }

                button {
                    padding: 10px 20px;
                    margin-top: 10px;
                    border: none;
                    border-radius: 5px;
                    background: #29ba74;
                    color: #FFF;
                    font-weight: bold;
                    cursor: pointer;

                    &:hover {
                        background: #197A56;
                    }
                }
            }

            .lp-pom-form-field,
            .lp-pom-button {
                position: relative !important;
            }

            &--block2 {

                max-width: 1440px;
                margin: 0 auto;
                padding: 40px 0;

            }

            &--textformblock {

                display: flex;
                flex-direction: row;

                &--text,
                &--form {
                    width: 50%;
                }


            }

        }



    }

}
