.PD043d {
  #your_cart th#header2 {
    width: 160px;
  }
  #your_cart tr td.product_details ul.cart-promotions {
    margin-left: 0;
    width: 100%;
    padding-left: 78px;
    box-sizing: border-box;
  }
  .PD043d-under-threshold {
    margin-top: 20px;
    padding: 0 5px;
    text-align: center;
    h3 {
      margin: 0 0 5px 0;
      font-size: 14px;
      line-height: 19px;
      font-weight: 700;
    }
    p {
      float: none !important;
      margin: 0 !important;
      padding: 0 !important ;
    }
    button.button, a.button {
      float: none;
      width: 90%;
      margin: 6px auto 0;
      background: #4F9937 !important;
      transition: ease-in all .1s;
      &:hover {
        background: #70c30d !important;
      }
    }
  }
  .PD043d-more-items {
    text-align: center;
    border-top: 1px solid #787b7e;
    .PD043d-items-wrap {
      padding: 20px;
    }
    .PD043d-items {
      max-width: 640px;
      margin: auto;
      padding: 0 10px;
      > p, > a, > form {
        display: inline-block;
        vertical-align: middle;
        // width: 40%;
      }
      > p {
        width: 20%;
      }
      >a {
        line-height: 31px;
        height: 31px;
        border: none;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        -khtml-border-radius: 6px;
        color: #ffffff;
        font-size: 14px;
        font-weight: normal;
        padding: 0 13px;
        font-size: 14px;
        margin: 0 6px;
        background: #4F9937 !important;
        transition: ease-in all .1s;
        &:hover {
          background: #70c30d !important;
        }
      }
      form {
        position: relative;
        margin-left: 6px;
        input.text {
          max-width: 210px;
          padding: 8px 12px;
          box-sizing: border-box;
        }
        input.button {
          position: absolute;
          right: 0;
          top: 1px;
          bottom: 0;
          height: 29px;
          width: 30px;
          background-color: #4F9937;
          padding: 3px;
          box-sizing: border-box;
          transition: ease-in all .1s;
          &:hover {
            background: #70c30d !important;
          }
        }
      }
    }
  }
  .PD043d-recently-viewed {
    width: 330px;
    display: block;
    float: left;
    clear: left;
    // border: 1px solid #787b7e;
    margin: 0 10px;
    padding: 10px;
    box-sizing: border-box;
    .PD043d-recent-product {
      text-align: center;
      padding: 0 10px;
      margin: 0 5px;
      box-sizing: border-box;
      position: relative;
      a {
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        width: 100%;
        height: 100%;
      }
      img {
        margin: auto;
        max-width: 80px;
        border: 1px solid #dcddde;
        padding: 5px;
      }
      h3 {
        color: #4f4f4f;
        line-height: 18px;
        font-size: 14px;
        text-decoration: none;
        margin-top: 6px;
        margin-bottom: 15px;
        min-height: 45px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-weight: 400;
      }
    }
    .slick-slide {
      margin: 0 10px;
    }
  }
  .basket {
    .span-20 > .span-11.last.right {
      display: inline-block;
      float: right;
    }
  }
  .PD022-Wrapper.PD022-Basket {
    margin: 0;
  }
  .simple_banner img {
    width: 100%;
  }
  /* Slider */
  .slick-slider
  {
      position: relative;

      display: block;
      box-sizing: border-box;

      -webkit-user-select: none;
        -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;

      -webkit-touch-callout: none;
      -khtml-user-select: none;
      -ms-touch-action: pan-y;
          touch-action: pan-y;
      -webkit-tap-highlight-color: transparent;
  }

  .slick-list
  {
      position: relative;

      display: block;
      overflow: hidden;

      margin: 0;
      padding: 0;
  }
  .slick-list:focus
  {
      outline: none;
  }
  .slick-list.dragging
  {
      cursor: pointer;
      cursor: hand;
  }

  .slick-slider .slick-track,
  .slick-slider .slick-list
  {
      -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
          -ms-transform: translate3d(0, 0, 0);
          -o-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
  }

  .slick-track
  {
      position: relative;
      top: 0;
      left: 0;

      display: block;
      margin-left: auto;
      margin-right: auto;
  }
  .slick-track:before,
  .slick-track:after
  {
      display: table;

      content: '';
  }
  .slick-track:after
  {
      clear: both;
  }
  .slick-loading .slick-track
  {
      visibility: hidden;
  }

  .slick-slide
  {
      display: none;
      float: left;

      height: 100%;
      min-height: 1px;
  }
  [dir='rtl'] .slick-slide
  {
      float: right;
  }
  .slick-slide img
  {
      display: block;
  }
  .slick-slide.slick-loading img
  {
      display: none;
  }
  .slick-slide.dragging img
  {
      pointer-events: none;
  }
  .slick-initialized .slick-slide
  {
      display: block;
  }
  .slick-loading .slick-slide
  {
      visibility: hidden;
  }
  .slick-vertical .slick-slide
  {
      display: block;

      height: auto;

      border: 1px solid transparent;
  }
  .slick-arrow.slick-hidden {
      display: none;
  }
}

