/*Top Banner*/

.ME111 .header-wrapper #masthead {
    height: 57px;
}

.ME111 #masthead .mobile-menu a,
.ME111 .header-wrapper #logo>a {
    padding: 0px;
}

.ME111 .fa.fa-search.init-search.mobile-only {
    top: 16px !important;
}

.ME111 .cart-icon {
    top: 20px;
}

.ME111 .header-wrapper #masthead #logo {
    width: 142px!important;
    margin-left: -81px;
}


/*Reviews*/

.ME111 .full-width-mobile.me111-reviewsWrapper {
    clear: both;
}

.ME111 .review-banner {
    height: 80px;
}

.ME111 .review-quote {
    font-size: 12px;
    text-transform: none;
}

.ME111 .review-author {
    font-size: 9px;
}

.ME111 .reviews>li {
    margin-top: 6px;
    padding: 0px 0;
}

.ME111 .review-banner-text {
    margin: 0;
    font-size: 11px;
    width: 100%;
    padding: 2px 0;
}

.ME111 .me111-quoteBar {
    display: none;
}


/*Content*/

.ME111 .page-wrapper {
    padding-top: 0px;
}

.ME111 .header-mobile-subtitle {
    display: none;
}

.ME111 #topBanner {
    display: none;
}


/*As seen in bar*/

.ME111 .me111-row.large-12.columns {
    padding: 0;
}

.ME111 .me111-desktitle {
    display: none;
}

.ME111 .trust-banner.me111-asseenin {
    display: none;
}

.ME111 .asSeeninimage-bar {
    background-color: #83daf7;
    height: 40px;
    text-align: center;
    padding: 5px;
    margin-bottom: 0px;
}

.ME111 .me111-seenInlogo {
    float: left;
    width: 100%;
    /* 100% divided by number to display */
    text-align: center;
    border: 0;
    height: 30px;
    list-style: none;
}

.ME111 .me111-seenInlogo img {
    max-width: 24%;
    display: inline-block;
    height: auto;
}

.ME111 .me111-seenInlogo p {
    color: white;
    font-size: 11px;
    vertical-align: middle;
    margin-bottom: 0px;
    text-transform: uppercase;
    font-weight: bold;
    display: inline;
    text-align: center;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 1px;
}


//reviews image
.ME111 .me111-logo{
    width: 20%;
    margin: 6px;
}

@media(min-width:400px) {
    .ME111 .review-banner {
        height: 90px;
    }

    .ME111 .me111-seenInlogo {
        width: 50%;
    }
    .ME111 .me111-seenInlogo img {
        max-width: 45%;
    }
}

@media(min-width:750px) {

    .ME111 .me111-logo{
     display: none;
    }

    .ME111 .review-banner-conveyor-belt {
        margin-left: 0px;
        widows: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }

    //seen in bar

    .ME111 .me111-row.large-12.columns {
        padding: 0px;
        margin: 0px;
        max-width: 184px;
        margin: 0 auto;
        float: right;
        display: inline-block;
        vertical-align: top;
        margin-right: 20px;
        margin-top: 7px;
    }

    .ME111 .asSeeninimage-bar {
        background: none;
        margin-top: 6px; 

    }
    .ME111 .me111-desktitle {
        margin-top: 9px;
        color: white;
        float: none;
        display: block;
        font-weight: bold;
        font-size: 13px;
        margin-bottom: 0px;
    }

    .ME111 .me111-seenInlogo {
        width: 50%;
    }
    .ME111 .me111-seenInlogo img {
       max-width:100%;
       width:80%;
    }
    .ME111 .me111-seenInlogo p {
        display: none;
    }
    
    /*ipad reviews*/
    .ME111 .review-banner {
        background-position: 0 11px;
        background-size: cover;
        height: 95px;
    }
    .ME111 .review-banner-text {
        margin: 0;
        font-size: 11px;
        left: 13.5%;
        bottom: 0%;
        top: 65%;
        width: auto;
    }
    .ME111 .review-quote {
        display: block;
        font-size: 13px;
        text-transform: uppercase;
        margin-right: 10px;
    }
    .ME111 .review-info {
        margin-top: 0;
        display: inline-block;
    }
    .ME111 .reviews>li {
        margin-top: 0px;
        padding-right: 85px;
        padding-left: 85px;
    }
    .ME111 .review-star-rating {
        height: 25px;
    }
    .ME111 .review-star-rating.review-star-rating-5,
    .ME111 .review-star-rating.review-star-rating-4 {
        display: block;
        float: none;
        margin: 0 auto;
        height: 25px;
    }
    .ME111 .review-star-rating.review-star-rating-5 {
        width: 125px;
    }
    .ME111 .review-star-rating.review-star-rating-4 {
        width: 100px;
    }
}

@media(min-width:900px) {
    .ME111 .cart-icon {
        top: 0;
    }
    /*seen in bar*/
    .ME111 .me111-seenInlogo {
        width: 50%;
    }
    .ME111 .me111-seenInlogo img {
        max-width: 78%;
    }
    
    /*Quote Bar*/
    .ME111 .me111-quoteBar {
        background: #0a0a0a;
        text-align: center;
        border-top: 1px solid #191717;
        height: auto;
        display: block;
    }
    .ME111 .me111-quote {
        display: inline-block;
        margin: 10px;
        width: 25%;
    }
    .ME111 .me111-quote p {
        margin-bottom: 0px;
        display: inline-block;
        color: white;
        font-size: 14px;
    }
    .ME111 .me111-quote img {
        display: inline-block;
        width: 12px;
        vertical-align: super;
        margin-right: 5px;
    }

    .ME111 #brands-widget .row:first-child {
        padding: 0px !important;
        margin-left: 0;
        margin-right: 0;
        max-width: 100%;
    }

    /*review banner*/

    .ME111 .review-banner-conveyor-belt {
        width: 63% !important;
        margin-left: 0%;
        vertical-align: top;
    }
    .ME111 .review-banner-text {
        margin: 0;
        font-size: 11px;
        bottom: 9px !important;
        top: 81%;
        left: 7%;
    }
    .ME111 .review-banner {
        background-position: 0px -12px;
        height: 103px;
    }
    
    .ME111 .review-star-rating {
        height: 25px;
    }

    .ME111 .review-star-rating.review-star-rating-5, .ME111 .review-star-rating.review-star-rating-4 {
        height: 15px;
    }
    .ME111 .review-star-rating.review-star-rating-5 {
        width: 75px;
        margin-bottom: 10px;
    }
    .ME111 .review-star-rating.review-star-rating-4 {
        width: 60px;
        margin-bottom: 10px;
    }
    .ME111 .review-quote {
        font-size: 15px;
    }
    .ME111 .review-info {
        vertical-align: middle;
    }
    .ME111 .review-author {
        margin-top: 6px;
    } 
}

@media(min-width:1024px) {
    .ME111 .me111-innerBanner{
        max-width: 67.5em;
        margin-left: auto;
        margin-right: auto;
        float: none;
        height: 80px;
        position: relative;
    }

    .ME111 .review-banner {
        height: 80px;
        margin-left: 0%;
        vertical-align: top;

    }
    .ME111 .me111-seenInlogo img {
        max-width: 90%;
    }
    .ME111 .review-author {
        font-size: 13px;
        margin-top: 7px;
    }
    .ME111 .me111-desktitle {
        margin-top: 0px;
    }
    
    
        
    
}

@media(min-width:1200px) {

    .ME111 .full-width-mobile.me111-reviewsWrapper {
        clear: both;
        background: url(/images/theme/xbg-review-banner.png.pagespeed.ic.rZFa9T7w4O.png);
        background-size: cover;
    }
    .ME111 .review-banner {
        background-position: 0px -118px;
    }
    .ME111 .review-banner-text {
        left: 7%;
        width: 203px;
        top: 34px;
    }

    .ME111 .me111-logo {
        float: none;
        display: block;
        width: 73%;
        margin: 0 auto;
        padding-bottom: 5px;
    }

    .ME111 .reviews > li {
        padding: 0px;
    }
    
    .ME111 .me111-row.large-12.columns {
        padding: 0px;
        margin: 0px;
        max-width: 202px;
        margin: 0 auto;
        float: right;
        display: inline-block;
        vertical-align: top;
        margin-right: 40px;
        margin-top: 0px;
    }
}