.MP109 {
  // Hide Description
  .js-detailPane {
    .MP062-pushchairMessage, #readMorePDP {
      display: none;
    }
  }
  // Amend distance of elements
  .productDetail_price.font-size-5.font-weight-semibold.py-1 {
    margin-bottom: -35px; 
  }
  .MP109-listWrapper {
    display: inline-block;
  }
  // MP081
  ul.MP081_BundlePicker__images {
    display: table;
    width: 100%;

    li.MP081_BundlePicker__image {
      display: table;
      max-width: 50px;

      .MP081__tooltip {
        z-index: 99;
      }
    }
  }
  ul.MP081_BundlePicker__options {
    display: table;
    width: 40%;
    line-height: 33px;

    li.MP081_BundlePicker__option {
      display: table;
      position: relative;

      &:first-of-type {
        margin-left: 5px;
      }

      div.MP081_BundlePicker__option__btn {
        display: inline-block;
        position: relative;
        right: 33%;
      }
      p.MP081_BundlePicker__option__label {
        display: inline-block;
        position: relative;
        left: 35%;
        bottom: 5vh;
        min-width: 100px;
        text-align: left;
        font-size: 1em;
        width: 200px;
      }

      // Saving Amount
      .MP109-save {
        min-width: 145px;
        color: #D37C7C;
        font-size: 0.95em;
        position: absolute;
        top: 3.5vh;
        left: 33%;

        span.MP109-amount, span.MP109-percentage {
          display: inline-block;
        }
      }
    }
  }

  // Product Description
  .MP109-descriptionWrapper {
    width: 100%;

    .MP109-descriptionSection {
      padding: 10px 10px 10px 10vw;

      .MP109-sectionHeading {
        display: block;
        border-bottom: 1px solid #F1F1F1;
        font-size: 14px;
        font-weight: 400;
        padding: 3px 0px 10px 10px;
      }
      .MP062-pushchairMessage {
        padding: 10px 20px 10px 20px !important;
      }
      a#MP109readMorePDP {
        padding: 20px;
      }
    }
  }
}