@import './variables';

.#{$id} {

  /* Slick styling */
  .slick-slider{position:relative;display:block;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}.slick-list:focus{outline:0}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-list,.slick-slider .slick-track{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.slick-track{position:relative;top:0;left:0;display:block;margin-left:auto;margin-right:auto}.slick-track:after,.slick-track:before{display:table;content:''}.slick-track:after{clear:both}.slick-loading .slick-track{visibility:hidden}.slick-slide{display:none;float:left;height:100%;min-height:1px}[dir=rtl] .slick-slide{float:right}.slick-slide img{display:block}.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-loading .slick-slide{visibility:hidden}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.slick-arrow.slick-hidden{display:none}

  .slick-slide {
    &:active, &:focus {
      outline: none;
    }
  }
  .#{$id}-lastViewedWrapper {
    overflow: hidden;
    .#{$id}-LastViewedMobileTab {
      display: none;
    }

    .slick-arrow {
      top: 20px;
      &.slick-next,
      &.slick-prev { 
          background-color: transparent;
          border: 0;
          cursor: pointer;
          height: 25px;
          padding: 0;
          position: absolute;
          text-indent: -9999px;
          width: 40px;
          z-index: 1;
          background-image: url('https://service.maxymiser.net/cm/images-us/ernestjones-co-uk/E9ABA4127AFF7985ED4C1BD6C9C8D69DA90B9A08A2C306B2324C1D51B24EABC3.png?meta=/EJ076---Brand-Bar/noun_Arrow_20947441.png');
          z-index: 9;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          top: 50%;
          transform: translateY(-50%);
          &.slick-prev {
              left: 0px;
              //left: -30px;
              transform: rotate(-180deg) translateY(50%);
          }
          &.slick-next {
              right: 0px;
          // right: -30px;
          }
      }

      &:focus {
          outline: none;
      }
  }

    h3 {
      text-align: center;
      margin-bottom: 0;
      font-size: 17px;
      margin: 10px;
      margin: 0 auto;
      margin-top: 20px;
      margin-bottom: 0;
      border-bottom: 1px solid black;
      font-weight: 600;
      text-transform: uppercase;
      width: 80%;
      padding-bottom: 10px;
      @media(min-width: 767px) {
        width: 37%;
      }
    }

    .#{$id}_LastViewedProducts-list {
      list-style: none;
      padding: 0;
      padding: 10px;
      text-align: center;
      display: -webkit-box;
      -webkit-overflow-scrolling: touch;
      width: 95vw;
      overflow-x: auto;
      overflow-y: hidden;
      padding-bottom: 20px;
      a {
        &:active, &:focus {
          outline: none;
        }
      }
      &::-webkit-scrollbar-track {
        height: 8px;
        border-radius: 4px;
        background-color: #f2f2f2;
        margin: 30px;
      }
      &::-webkit-scrollbar {
        height: 8px;
        background-color: transparent;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        width: 5px;
        background-color: black;
      }
      @media(min-width: 1200px) {
        &::-webkit-scrollbar-thumb {
          width: 5px;
        }
      }

      .#{$id}_LastViewedProducts-item {
        padding-left: 10px;
        border: 1px solid #e4e3e3;
        margin: 10px;
        padding: 10px;
        width: 70%;
      }
      a {
        text-decoration: none;
      }
      .#{$id}-link {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 14px;
        color: black;
        padding-bottom: 5px;
      }

      .#{$id}_LastViewedProducts-img {
        height: 150px;
        width: 150px;
        margin: 0 auto;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }

      .#{$id}_LastViewedProducts-name {
        font-weight: 500;
        font-family: "Oxygen",sans-serif;
        color: black;
        max-width: 85%;
        margin: 0 auto;
        font-size: 13px;
        line-height: 19px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      @media(min-width: 767px) {
        .#{$id}_LastViewedProducts-item {
          width: 40%;
        }
      }

      @media(min-width: 1024px) {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        overflow: hidden;
        margin: 0 auto;
        margin-bottom: 20px;
        width: 95%;
        
        .#{$id}_LastViewedProducts-item {
          height: 280px;
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
        }
        h3 {
          width: 94vw;
          padding-bottom: 10px;
          border-bottom: 1px solid black;
        }
        .slick-arrow {
          top: 50%;
          &.slick-next {
            right: -15px;
          }
          &.slick-prev {
            left: -15px;
          }
        }
      }

      @media(min-width: 1280px) {
        .#{$id}_LastViewedProducts-item {
          height: 260px;
        }
        .#{$id}_LastViewedProducts-name {
          font-size: 14px;
          line-height: 19px;
        }
        .#{$id}_LastViewedProducts-img {
          height: 130px;
          width: 130px;
        }
      }
    }

    &.#{$id}-onlyOne {
      .#{$id}_LastViewedProducts-list {
        overflow: auto;
        display: block;
        width: auto;
        .#{$id}_LastViewedProducts-item {
          width: auto;
        }
        @media(min-width: 767px) {
          .#{$id}_LastViewedProducts-item {
            margin: 0 auto;
            margin-top: 20px;
            max-width: 200px;
          }
        }
      }
    }
    @media(min-width: 767px) {
      overflow: hidden;
      padding: 0 1.25rem;
      max-width: 1024px;
      margin: 0 auto;
    }
  }

  &.#{$id}-1 {
    .live-chat-container {
      bottom: 80px !important;
    }
    .#{$id}_LastViewedProducts {
      width: 100%;
      transform: none;
      left: 0;
    }
    .#{$id}-lastViewedWrapper {
      position: fixed;
      z-index: 999;
      width: 100%;
     
        bottom: 0;
        height: 57px;
        

        transition: all .3s ease-out;
      &.#{$id}-LastViewedMobileTab_active{ 
        bottom: 0;
        height: auto;
      
        .#{$id}_LastViewedProducts-list_wrapper {
          padding-bottom: 10px;
        }
        .#{$id}-LastViewedMobileTab { 
          &::after {
            transform: translateY(-50%) rotate(0deg);
          }
        }
      }
      .#{$id}_LastViewedProducts-list_wrapper {
        width: 100%;
        white-space: nowrap;
        padding: 10px;
        &::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          border-radius: 10px;
          background-color: #F5F5F5;
        }
    
        &::-webkit-scrollbar {
          height: 5px;
          width: 5px;
          background-color: #F5F5F5;
        }
    
        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          height: 5px;
          -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
          background-color: #a41625;
        }
      }
    }
    .#{$id}-LastViewedMobileTab {
      display: block;
      text-transform: uppercase;
      font-weight: 700;
      padding: 18px 20px;
      text-align: left;
      transform: none;
      box-sizing: border-box;
      position: relative;
      cursor: pointer;
      left: 0;
      background: black;
      span {
        color: white;
        font-family: "Oxygen",sans-serif;
        font-weight: normal;
        font-size: 15px;
        position: relative;
        padding-right: 35px;
        @media(min-width: 400px) {
          font-size: 17px;
        }
      }
      &::after {
        content: '';
        position: absolute;
        background: url('https://service.maxymiser.net/cm/images-us/1/1/2/6695FC8359914000881C8A92AA2BFA72231686FB06C5B7D41E2F3D6A512550C7/hsamuel-co-uk/HS022---Returning-User-Personalisation/f83ce90bd32e409985ffbbb8da9a953a.png');
        right: 10px;
        background-position: center;
        background-size: cover;
        top: 50%;
        display: block;
        height: 15px;
        width: 15px;
        transform: translateY(-50%) rotate(180deg);
      }
    }
    .#{$id}_LastViewedProducts-list_wrapper{
      background: white;
      h3{
        display: none;
      }
      .#{$id}_LastViewedProducts-list {
        list-style-type: none;
        white-space: nowrap;
        margin-bottom: 0;
        overflow-y: auto;
        margin-top: 0;
        padding: 0;
        padding-bottom: 5px;
        .#{$id}_LastViewedProducts-item {
          width: 200px;
          text-align: center;
          vertical-align: top;
          padding: 10px;
          display: inline-block;
          a {
            text-decoration: none;
          }
          .#{$id}_LastViewedProducts-name {
            font-size: 90%;
            padding-right: 5px;
            margin-right: 10px;
            margin-bottom: 10px;
            color: black;
            line-height: 120%;
            margin-top: 10px;
            width: 170px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
    
          .#{$id}_LastViewedProducts-img {
            height: 80px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
          }
        }
      }
    }

    @media(min-width: 767px) {
      .#{$id}_LastViewedProducts-list {
        display: -webkit-box;
        width: 95vw;
        overflow-x: auto;
        overflow-y: hidden;
        justify-content: flex-start;
      }
      .#{$id}-lastViewedWrapper {
        bottom: 0;
        height: 57px;
        padding: 0;
        &.#{$id}-LastViewedMobileTab_active{ 
          bottom: 0;
          height: auto;
        }
        .#{$id}_LastViewedProducts-item {
          height: auto;
        }
      }

      .#{$id}-LastViewedMobileTab {
        text-align: center;
        &::after {
          right: 30%;
        }
      }
    }

    @media(min-width: 1024px) {
      .#{$id}-lastViewedWrapper {
        max-width: 100%;
      }
      .#{$id}-LastViewedMobileTab {
        text-align: center;
        &::after {
          right: 350px;
        }
      }
    }
    @media(min-width: 1200px) {
      .#{$id}-LastViewedMobileTab {
        text-align: left;
        border-top-right-radius: 10px;
        &::after {
          right: 15px;
        }
      }
      .#{$id}-lastViewedWrapper {
        bottom: 0;
         height: 57px;
        
        max-width: 30%;
        background: white;
        border-top-right-radius: 10px;
        &.#{$id}-LastViewedMobileTab_active{ 
          bottom: 0;
          height: auto;
        }
        
          .#{$id}_LastViewedProducts-list_wrapper {
            width: auto;
            padding: 0;
            height: 70vh;
          }

          .#{$id}_LastViewedProducts-list {
            display: flex;
            flex-direction: column;
            width: auto;
            padding: 10px;
            //width: 92vw;
            height: 100%;
            overflow-y: auto;
            overflow-x: hidden;
            &::-webkit-scrollbar-track
            {
              width: 5px;
              background-color: #F5F5F5;
            }

            &::-webkit-scrollbar
            {
              background-color: #F5F5F5;
            }

            &::-webkit-scrollbar-thumb
            {
              width: 5px !important;
              background-color: #000000;
              border: 2px solid black;
            }

            .#{$id}_LastViewedProducts-item {
              display: flex;
              flex-direction: row;
              box-sizing: border-box;
              width: 100%;
              padding: 10px;
              justify-content: space-evenly;
              .#{$id}_LastViewedProducts-img { 
                height: 80px;

              }
            }
          }
      }

    }
    
  }

  &.#{$id}-2 {
    .#{$id}-lastViewedWrapper {
      background: #f3f3f3;
      margin-top: 20px;
      margin-bottom: 20px;
      @media(min-width: 767px) {
        overflow: hidden;
        padding: 0;
        max-width: unset;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      &.#{$id}-onlyOne {
        .#{$id}_LastViewedProducts-list {
          justify-content: center;
          .#{$id}_LastViewedProducts-item {
            max-width: 300px;
          }
        }
      }
    }
    .#{$id}_LastViewedProducts-list_wrapper {
      background: #f3f3f3;
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 10px;
      h3 {
        border-bottom: 0;
        font-size: 16px;
      }
      .#{$id}_LastViewedProducts-list {
        padding: 0;
        margin-bottom: 10px;
        padding-bottom: 10px;
        display: flex;
        justify-content: flex-start;
        &.slick-slider {
          overflow: hidden;
        }
        &::-webkit-scrollbar-track {
          height: 8px;
          border-radius: 4px;
          background-color: white;
          margin: 30px;
        }
       
        .#{$id}_LastViewedProducts-item {
          max-width: unset;
          width: auto;
          background: white;
          border: 1px solid black;
          padding: 0;
          padding-left: 10px;
          padding-right: 10px;
          a {
            width: 100%;
          }
          &:hover {
            background: black;
            .#{$id}_LastViewedProducts-name{
              color: white;
            }
          }
          .#{$id}_LastViewedProducts-name {
            width: auto;
            max-width: unset;
            width: 200px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            @media(min-width: 767px) {
              width: 100%
            }
          }
          
          @media(min-width: 767px) {
            height: auto;
          }
        }
      }
      @media(min-width: 767px) {
        overflow: hidden;
        padding: 0 1.25rem;
        max-width: 1024px;
        margin: 0 auto;
        .slick-arrow {
          top: 45%;
          &.slick-next {
            right: -15px;
          }
          &.slick-prev {
            left: -15px;
          }
        }
        .#{$id}_LastViewedProducts-list_wrapper {
          overflow: hidden;
          padding: 0 1.25rem;
          max-width: 1024px;
          margin: 0 auto;
        }
        .#{$id}_LastViewedProducts-list {
          padding-left: 20px;
          padding-right: 20px;
        }
      }
    }
  }

  &.hsamuel {
    .#{$id}-lastViewedWrapper {
      h3 {
        font-family: "Montserrat",sans-serif;
        font-weight: 600;
        border-bottom: 1px solid #a01d29;
        @media(min-width: 767px) {
          width: 40%;
        }
      }
      .#{$id}-link {
        font-family: "Montserrat",sans-serif;
      }
      .#{$id}_LastViewedProducts-list {
        .#{$id}_LastViewedProducts-item {
          .#{$id}_LastViewedProducts-name {
            font-family: "Montserrat",sans-serif;
          }
          @media(min-width: 767px) {
            height: 290px;
            .#{$id}_LastViewedProducts-img {
              height: 130px;
              width: 130px;
            }
          }
        }
        &::-webkit-scrollbar-track {
          height: 8px;
          border-radius: 4px;
          background-color: white;
          margin: 30px;
        }
        &::-webkit-scrollbar {
          height: 8px;
          background-color: transparent;
        }
        &::-webkit-scrollbar-thumb {
          border-radius: 8px;
          width: 5px;
          background-color:#a01d29;
          border: 1px solid #a01d29;
        }
        @media(min-width: 1200px) {
          &::-webkit-scrollbar-thumb {
            width: 5px;
          }
        }
      }
    }

    &.#{$id}-1 {
      .#{$id}-LastViewedMobileTab {
        background: #a01c29;
        span {
          font-family: "Montserrat",sans-serif;
        }
      }
      .#{$id}-lastViewedWrapper {
        bottom: 0;
         height: 57px;
          &.#{$id}-LastViewedMobileTab_active{ 
            bottom: 0;
            height: auto;
          }
        
        .#{$id}_LastViewedProducts-list {
          .#{$id}_LastViewedProducts-item {
            height: auto;
          }
        }
        @media(min-width: 767px) {
         bottom: 0;
         height: 57px;
          &.#{$id}-LastViewedMobileTab_active{ 
            bottom: 0;
            height: auto;
          }
        }
      }
      
     
    }

    &.#{$id}-2 {
      .#{$id}-lastViewedWrapper {
        h3 {
          width: 90%;
          margin-bottom: 10px;
          border-bottom: 0px;
          color: black;
          @media(min-width: 767px) {
            width: 40%;
          }
        }
        .#{$id}_LastViewedProducts-list_wrapper{
          max-width: 1024px;
        }
        .#{$id}_LastViewedProducts-list {
          .#{$id}_LastViewedProducts-item {
            height: auto;
            &:hover {
              background: #a01c29;
              border: 1px solid #a01c29;
              .#{$id}_LastViewedProducts-name {
                color: white;
              }
            }
          }
        }
      }
    }
  }

  &.ernestjones {
    // EJ-specific styles
  }
}
