.TG016 {
  .TG016_headerWrapper {
    text-align: center;
    .TG016_headerTitle {
      font-size: 15px;
      font-weight: 700;
      padding: 0 !important;
    }
    .TG016_productTitle {
      font-size: 14px;
      font-weight: 600;
    }
    .TG016_img_container {
      img {
        width: 200px;
        height:200px;
        background: black;
      }
    }
  }
} // TG016

#contact-form {
  background: #f6f5f6;
}
#contact-form .icon-Arrowdown.toggle-accordion {
  &:after, &:before {
    content: "";
  }
}
.contacts-index-index .layout.layout-1-col div[role="main"] .forms .contact-form form .buttons-set button.button {
  padding: 0 !important;
  width: 80%;
}
#contactForm {
  padding: 15px !important;
}
.wide.privacy.last {
  padding-bottom: 0 !important;
}

.contacts-index-index .layout.layout-1-col div[role="main"] .forms .contact-form form .form-list .wide.select-profile {
  .option {
    position: relative;
    margin-bottom: 10px;
    height: 40px;
    input {
      height: 20px;
      width: 20px;
    }
    .TG016_inputTypeRadioChecked {

    }
    label {
      margin: 0;
      position: absolute;
      top: -7px;
      left: 30px;
      font-weight: 700;
    }
    label + div {
      position: absolute;
      top: 15px;
      line-height: 11px;
      padding-left: 30px;
      font-size: 10px;
    }
    .TG016_optionSelect {
      padding: 0;
      margin-top: 3px;
    }
  }
  .TG016_optionActive {
    height: auto !important;
    .TG016_dropdownTitle {
      margin: 0;
      font-size: 11px;
      padding-top: 15px;
    }
    .TG016_privateIndividualTerms {
      font-size: 10px;
      margin-top: 10px;
    }
    .field.company {
      margin-bottom: 10px;
      padding: 0;
      .input-box {
        padding: 0;
        #company {
          width: 100%;
          height: 40px;
        }
      }
    }
  }
}