@import './variables';

.#{$id} {

  .BasketWishContainer {
    margin-top: 10px !important;

    @media all and (max-width: 767px) {
      margin-top: 0 !important;
    }
  }

  .#{$id}-stock-message-holder {
    display: flex;
    flex-direction: row;
    width: calc(100% - 60px);
    padding: 0 15px 0 35px;
    margin-bottom: 10px;

    @media all and (max-width: 1020px) {
      padding: 0;
    }

    @media all and (max-width: 767px) {
      margin-top: -5px;
    }

    @media all and (max-width: 400px) {
      width: 100%;
    }

    .#{$id}-stock-message-inner {
      display: flex;
      width: 100%;
      align-items: center;
      margin: 20px 0 0;
      background-color: #f2f2f2;
      border-radius: 1.2px;
      padding: 5px 10px;
      justify-content: center;

      @media all and (max-width: 767px) {
        margin-top: 0 !important;
      }

      svg {
        margin-right: 7px;
      }

      .#{$id}-stock-message {
        // font-family: Lato, Arial, Helvetica, sans-serif;
        // font-weight: 700;
        font-size: 11px;
        color: #000;
        // text-transform: uppercase;
        letter-spacing: 0.33px;
        line-height: 13px;

        strong {
          font-weight: 700;
        }
      }

    }
    
    
  }
}
