@import './variables';

.#{$id} {
  #trustbox-carousel {
    width: 100%;
  }
  &-trustpilot-container {
    margin: auto;

    @media screen and (max-width: 768px) {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 20px;
      box-sizing: border-box;

      [title='Customer reviews powered by Trustpilot'] {
        height: 320px !important;
      }
    }
  }
}
