@import './variables';

.#{$id} {
  .payPal3PDPMessage {
    display: none;
  }
  #estore_pdp_trcol_7 {
    display: none;
  }
  
  // --- Price Widget
  #estore_product_price_widget {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;

    height: 20px;
    padding-top: 5px;

    .details.details_redesign {
      margin-left: 10px;
      font-size: 11px !important
    }

    #PDP_productPrice {
      margin-left: 10px;
      padding: 0 !important;
    }

    #productId {
      display: none;
    }
  }
  // --- New Container for Saving Price/Old Price
  .BO092-savingPrice__wrapper {
    display: flex;
    justify-content: center;

    padding-top: 5px;
    div {
      font-size: 12px;
    }
    .saving.saving_redesign {
      margin-right: 10px;
    }
  }
  // --- Find Store
  .findStore {
    margin-top: 20px;
  }

  // --- Star Reviews - Top
  .bv-cv2-cleanslate .bv-core-container-654 .bv-summary-bar-minimalist-horizontal .bv-stars-container {
    margin-right: 0 !important;
  }
  // --- REVIEWS container
  #BVRRSummaryContainer .bv-primarySummary-rating-container {
    text-align: center !important;
    margin: auto !important;
    padding: unset !important;
    padding: 15px 10px 0px 10px !important;
  }
  #BVRRSummaryContainer {

  }

  // --- TOP COMMENT
  .BO092-topComment__wrapper {
    padding: 10px 10px 0 10px;
    text-align: center;

   
    .BO092-wrapper {
      position: relative;
      display: flex;
      justify-content: space-evenly;
      justify-content: center;
      width: auto;
      color: #004A90;
      quotes: "“" "”" "‘" "’";
      &:before {
        content: open-quote;
        position: absolute;
        left: 0;
        top: 0;
      }
      &:after {
        content: close-quote;
        position: absolute;
        right: 0;
        bottom: 15px;
      }
      .BO092-topComment {
        font-family: "F37 Ginger Light",Tahoma,Arial,sans-serif;
        text-align: center;
        color: #004A90;
        font-size: 14px;
        font-weight: 700;
        
        margin-bottom: 15px;
        padding: 0 10px;
        // padding-right: 10px;
  
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
  
        // quotes: "“" "”" "‘" "’";
        // &:before {
        //   content: open-quote;
        // }
        // &:after {
        //     content: close-quote;
        // }
      }
    }
    

    a {
      font-size: 14px;
      margin-top: 10px !important;
      text-decoration: underline;
      color: #333333;
    }
  }

  

  .BO092-highest-rated-comment {

    &.backgroundAnimated {
      .bv-content-container, .bv-content-header{
        background-color: #f2f1f3 !important;
        background-image: none !important;
        transition: background-color 800ms linear;
        -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
        animation-direction: alternate;

        -webkit-animation-iteration-count: 2; /* Chrome, Safari, Opera */
        animation-iteration-count: 2;
      }
      
    }
    &.nextBackgroundAnimated {
      .bv-content-container, .bv-content-header{
        background-color: #FFF !important;
        background-image: none !important;
      }
      
    }
    
    
  }
}
