$id: '--ID--';

.#{$id} {

  /** GENERIC **/
  .#{$id}-info {
    display: inline-block;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    line-height: 22px;
    background: #e679a5;
    color: #fff;
    font-weight: bold;
    text-align: center;
    box-shadow: 1px 1px 3px #aaa;
    cursor: pointer;

    &:hover {
      box-shadow: 1px 1px 3px #666;
    }
  }

  /* Position tooltip above the element */
  .#{$id}-tooltip {
    display: none;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 0;
    background: #fafafa;
    padding: 12px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    content: "";
    text-align: left;
    font-size: 0.9em;
    line-height: 1.2;
  }

  .#{$id}-tooltip--active {
    display: block;
  }

  /* Triangle hack to make tooltip look like a speech bubble */
  .#{$id}-tooltip:after {
    position: absolute;
    top: -9px;
    left: 50%;
    margin-left: -10px;
    width: 0;
    border-bottom: 10px solid #fafafa;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
  }

  /** PDP **/
  .#{$id}-pdp-messaging {
    margin: 20px 0 0;

    @media(max-width: 959px) {
      text-align: center;
    }
  }

  .#{$id}-pdp-messaging__tooltip {
  }

  /** Dashboard **/
  .#{$id}-dashboard-copy {
    padding-bottom: 30px;
    color: #808385;
    position: relative;
    background: #fbf5f7;
    padding: 30px 165px 30px 30px;

    .#{$id}-list-title {
      font-weight: bold;
    }
    .#{$id}-list-subitem {
      display: block;
      font-size: 0.8em;
      margin-top: 15px;
      line-height: 1.4;
    }

    p {
      margin-bottom: 1em;
    }

    .#{$id}-crown-image {
      float: right;
      opacity: 1;
      width: 130px;
      height: auto;
      margin-left: 15px;
      border: 10px solid #fff;
      border-radius: 75px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 15px;
    }
  }
  .#{$id}-dashboard-copy--vib {
    > p {
      line-height: 1.4;
    }
  }

  .#{$id}-list {
    list-style: none;

    li {
      margin-bottom: 1em;
      background-size: 16px;
      padding-left: 25px;
      display: block;
      background-repeat: no-repeat;
      background-position: top left;
      background-size: 16px;
    }
  }
  .#{$id}-list--ticks {
    li {
      background-image: url('//cdn-sitegainer.com/c5u54w5pu7l67oq.png');
    }
  }
  .#{$id}-list--keys {
    li {
      background-image: url('//cdn-sitegainer.com/zpusik3sig1aobu.png');
    }
  }

  /* Basket */
  .#{$id}-delivery-row {
    background: #fae4ed;
  }

  .#{$id}-basket-content {
    margin: 0;
    position: relative;
    padding: 10px 30px 10px 70px;
    background: #ffeff5;
    line-height: 1.3;

    .#{$id}-tooltip {
      position: absolute;
      background: #fafafa;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1000;
      max-width: 300px;

      &:after {
      }
    }

    img {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      width: 50px;
      height: 50px;
      padding: 2px;
      background: #fff;
      border-radius: 50%;
      opacity: 1;
    }

    .#{$id}-info {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }

    p {
      margin: 0.8em 0;
    }

    .#{$id}-tooltip {
      color: #808385;
    }
  }

  .#{$id}-price-ul {
    li:first-of-type {
      padding-top: 10px;
    }
    li:last-of-type {
      padding-bottom: 10px;
    }
  }

  @keyframes blink {
    0% {opacity: 0}
    49%{opacity: 0}
    50% {opacity: 1}
  }

  .#{$id}-blink {
    animation: blink 0.5s; 
    animation-fill-mode: forwards; 
    animation-iteration-count: 2;
  }
}
