.GD024 {
  // Desktop
  #nav-lists {
    li#GD024-orders {
      position: relative;
      a {
        background-color: #2d3746;
        color: #f9f9f9;
        border-left: 1px solid rgba(249,249,249,0.2);
        i {
          font-size: 1.4em;
        }
      }
      .GD024-hover-title {
        position: absolute;
        top: 112%;
        left: -50%; right: -50%;
        width: 115px;
        margin: auto;
        z-index: 999;
        border: 1px solid rgba(45,55,70,0.6);
        padding: 5px;
        display: none;
        text-align: center;
        background-color: #f9f9f9;
        p {
          color: #0a64cd;
          font-size: 12px;
          line-height: 15px;
          text-transform: uppercase;
        }
      }
      &:hover {
        .GD024-hover-title {
          display: block;
        }
      }
    }
  }
  .GD024-order-wrap {
    display: none;
    position: absolute;
    top: 100%;
    left: -270px;
    right: 0;
    width: 320px;
    background-color: #fff;
    z-index: 99;
    text-align: center;
    padding: 0 12px 12px 12px;
    border: 1px solid #2d3746;
    margin-top: 20px;
    &.GD024-show {
      display: block;
    }
    .GD024-order {
      margin-bottom: 8px;
    }
    h3 {
      font-size: 18px;
      line-height: 20px;
      border-bottom: 1px solid #222;
      padding-bottom: 4px;
      color: #0a64cd;
      font-family: "Balto",Helvetica,sans-serif;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        right: 0;
        top: -40px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 19px 25px 19px;
        border-color: transparent transparent #2d3746 transparent;
      }
    }
    .GD024-order-ib {
      display: inline-block;
      vertical-align: top;
      text-align: left;
      width: calc(100% - 170px);
      p {
        font-size: 14px;
        line-height: 16px;
        text-transform: capitalize;
      }
      &:last-of-type {
        width: 70px;
        text-align: right;
        p {
          color: #fa4530;
        }
      }
      &:first-of-type {
        width: 90px;
      }

    }
  }
  .GD024-order-link {
    border-top: 1px solid #222;
    margin-top: 5px;
    padding-top: 5px;
  }
  // Mobile
  &.touch-device {
    #header-actions {
      position: relative;
      a.GD024-mobile-order {
        margin-left: 5px;
        i {
          font-size: 1.75em;
        }
      }
      .GD024-order-wrap {
        left: auto;
        right: 10px;
        position: fixed;
        top: 60px;
      }
    }
  }
}