@import './variables';

.#{$id} {
  #productlistcontainer {
    li.FL040-viewed {
      .s-productthumbbox {
        border: 1px solid #000000;
        padding-bottom: 0;
      }
      .FL040-visited {
        background-color: #000000;
        text-align: center;
        padding: 7px 12px;
        p {
          color: #ffffff;
          margin: 0;
          text-transform: uppercase;
          font-size: 16px;
        }
      }
      .s-producttext-top-wrapper {
        padding: 0 5px;
      }
    }
  }
}
