body.TP078_V2 {
  .increasingly_element form .products-view-left.products-view {
    margin-bottom: 20px;
  }
  #tp26_overview .tp26tabicon {
    display: none;
  }
  #tp26_overview .tp26_tab-link {
    width: 50%;
    padding: 0;
  } // Client amend - change styling of selected/unselected tabs
  ul.tabs li {
    box-sizing: border-box;
    border: 1px solid #000000;
    background-color: #eee;
    &:after {
      content: none;
    }
  }
  ul.tabs li.current {
    background-color: #0F7258;
    p {
      color: #fff;
    }
    &:after {
      content: none;
    }
  }
  .tabs [data-tab="tab-3"] {
    display: none !important;
  }
  .tab-content .ui-collapsible-content.ui-body-inherit.ui-collapsible-content-collapsed {
    display: block;
  }
  .tab-content p {
    text-align: center;
    font-size: 16px;
    margin-bottom: 15px;
    text-decoration: none;
  }
  #tab-1 .ui-collapsible-content.ui-body-inherit.ui-collapsible-content-collapsed {
    padding: 0;
    &+p {
      padding-top: 20px;
    }
  }
  #tab-1 p:last-child {
    display: none;
  }
  #tab-1 p:first-child {
    padding-top: 10px;
  }
  #tab-1.current {
    display: block !important;
    overflow: visible;
  }
  #tab-1:not(.current) {
    display: none !important;
  }
  #tab-1 .dataSheetClass ul {
    list-style: disc;
    margin-left: 20px;
    li a {
      color: rgb(10, 79, 56);
    }
    li+li {
      margin-top: 15px;
    }
  }
  .tp_specificationTable {
    width: 100%;
    tbody,
    tr {
      width: 100%;
    }
    td {
      padding-left: 0 !important;
      width: 50%;
      &+td {
        text-align: right;
      }
    }
  }
  #tab-2.current {
    display: block !important;
    // Client amend - create space below reviews
    margin-top: 10px;
    .featureClass+.featureClass {
      margin-top: 20px;
    }
  }
  #tab-2:not(.current) {
    display: none !important;
  }
  #content .tp_prod_detail .featureClass ul {
    padding-left: 20px !important;
    margin-bottom: 15px;
  }
  .TP078_V2_Product_Tab_Wrapper {
    text-align: center;
  }
  #tp26_overview>.tabs>.tp26_tab-link>.TP078_V2_Review_Tab_Wrapper>.TP078_V2_Review_Subheader {
    margin-top: 8px;
  }
  .TP078_V2_Product_Tab_Header {
    color: #000000;
    margin: 0 !important;
    text-align: center;
    padding: 15px 0;
  }
  .TP078_V2_Review_Tab_Header {
    color: #000000;
    margin: 5px 3px -3px 3px !important;
  }
  .TP078_V2_Review_Tab_Header span {
    display: block;
    text-align: center;
  }
  .TP078_V2_Review_Tab_Wrapper {
    text-align: center;
  }
  #TP078_V2_Stars {
    display: inline-block;
    margin-top: -6px;
    .p-w-r {
      line-height: 0;
    }
    .p-w-r .pr-snippet-stars {
      background: none;
    }
    .p-w-r .pr-snippet div {
      line-height: 0;
    }
  }
  .TP078_V2_Review_Subheader {
    display: inline-block;
    margin-top: -6px;
  }
  #TP078_V2_Stars .pr-snippet-stars-reco-reco,
  #TP078_V2_Stars .pr-snippet-read-and-write,
  #TP078_V2_Stars .pr-snippet-rating-decimal {
    display: none;
  }
  #TP078_V2_Stars .pr-review-snippet-container {
    display: inline-block;
  }
  #TP078_V2_Stars .pr-star-v4 {
    height: 10px;
    width: 10px;
  }
  .tpAddToQuoteList.button {
    &+#tp26_overview {
      margin-top: 15px;
    }
  }
  &.TP026.feature-design #content .tpToolTip #addToQuoteTextButton {
    width: auto !important;
    margin-left: 88px !important;
    float: none;
    margin: 0 !important;
    text-align: center !important;
  }
  &.feature-design .tpAddToQuoteList .tpToolTip {
    padding: 0 20px 0 40px;
    text-align: center;
  }
  .increasingly_element .increasingly-row {
    margin: -40px 0px 0 0px;
  }
}