@import './variables';

.#{$id} {

  .#{$id}-xmasBtn {
    display: block;
    background: black;
    color: white;
    padding: 8px 10px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    font-family: Oxygen,Arial,Helvetica,sans-serif;
    border: 1px solid black;
    box-sizing: border-box;
    max-width: 250px;
    font-size: 14px;
    @media(min-width: 1024px) {
      &:hover {
        background: white;
        color: black;
      }
    }
  }

  &.hsamuel {
    // HS-specific styles
    .#{$id}-xmasBtn {
      font-family: Montserrat,sans-serif;
      background: #a01d29;
      border: 1px solid #a01d29;
      font-weight: 500;
      @media(min-width: 1024px) {
        &:hover {
          background: white;
          color: #a01d29;
        }
      }
    }
  }

  &.ernestjones {
    // EJ-specific styles
  }
}
