@import './variables';

.#{$id} {

  .#{$id}-saveBanner {
    background: #ececec;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    p {
      margin-bottom: 0;
      font-family: "Oxygen",sans-serif;
      margin-top: 0;
      b {
        display: block;
        font-weight: 600;
        margin-bottom: 5px;
        font-size: 16px;
      }
    }
    .#{$id}-voucher {
      font-weight: 700;
    }
    .#{$id}-small {
      font-size: 13px;
      display: block;
      margin-top: 5px;
    }

    @media(min-width: 1024px) {
      p {
        max-width: 1024px;
        font-size: 14px;
        text-align: center;
        margin: 0 auto;
        b {
          margin-bottom: 0;
          display: inline-block;
          font-size: 16px;
        }
        .#{$id}-small {
          margin-top: 0;
          display: inline-block;
          font-size: 14px;
        }
        .#{$id}-voucher {
          font-weight: 700;
         
        }
      }
      
    }
    
  }
  &.hsamuel {
    // HS-specific styles
    .#{$id}-saveBanner {
      p {
        font-family: "Montserrat",sans-serif;
        font-weight: 300;
        color: #292929;
        b {
          font-weight: 600;
          color: #dd223c;
        }
      }
      @media(min-width: 767px) {
        padding: 15px;
      }
    }
  }

  &.ernestjones {
    // EJ-specific styles
    @media(min-width: 1280px) {
      #js-header {
        margin-bottom: 40px;
      }
    }
  }
}
