.IT019 .IT019-title_message {
  color: #d13b95;
  font-size: 16px;
  line-height: 24px;
}

.IT019 tr.IT019-title_message td {
  color: #d13b95;
  font-size: 16px;
  line-height: 24px;
  padding: 20px 0;
}

.IT019 .col-right.sidebar {
  padding-top: 22px;
}