.HH006 {
  // Hide old tiles
  .child-pages .col-sm-6{
    display: none;
  } // Shared styling
  .HH006_Link {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    position: relative;
    &:hover {
      text-decoration: none;
    }
  }
  .HH006_Title,
  .HH006_Learn_More,
  .HH006_Text {
    text-align: center;
    margin: 0;
    display: block;
    padding: 2px 0;
    font-size: 12px;
  }
  .HH006_Title {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    display: block;
  }
  .HH006_Text {
    color: #FFFFFF;
    display: block;
    margin: auto;
  }
  .HH006_Learn_More {
    position: relative;
    font-weight: 700;
    padding-top: 7px;
    max-width: 140px;
    margin: auto;
    font-size: 14px;
    color: #FFFFFF; // Taken from website
    &::after {
      content: "\e258";
      font-family: "Glyphicons Halflings";
      position: absolute;
      right: 15px;
    }
  }
  .HH006_Text_Container {
    position: absolute;
    bottom: 0; left: 0; right: 0;
    background-color: rgb(97,66,130);
    background-color: rgba(97,66,130, 0.8);
    padding: 4px 10px;
    transition: ease-in all .2s;
    &:hover {
      background-color: rgb(97,66,130);
    }
  }
  .HH006_Image {
    width: 100%;
    height: auto;
    max-height: 180px;
  }
 // Mobile specific styling
  @media(max-width: 767px) {
    .HH006_Tile_Container {
      display: block;
      margin: 20px 0;
    }
  } // Tablet specific styling
  @media(min-width: 768px) {
    .HH006_Tile_Container {
      display: inline-block;
      width: calc(50% - 10px);
      margin: 10px 0;
      vertical-align: top;
    }
  } // Desktop specific styling
  @media(min-width: 1024px) {
    .HH006_No_Text {
      vertical-align: top;
    }
  }
}