@import './variables';

.#{$id} {
    .#{$id}-info-box {
        &-text {
            color: #464646;
            font-family: 'fs-albert-light', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px; /* 137.5% */
            display: flex;
            align-items: center;
            gap: 4px;
            margin: 0 0 8px;

            @media screen and (max-width: 430px) {
                align-items: flex-start;
                svg {
                    margin-top: 2px;
                }
            }
        }
    }
}
