.me120 {
    .me120-has-message-row {
        border-bottom: 0;
    }
    .me120-message-row {
        font-size: 12px;

        td {
            padding-top: 0;
        }
    }

    .me120-message {
        text-align: center;

        a {
            color: inherit;
            text-decoration: underline;
        }

        p {
            margin-bottom: 4px;
        }
    }

    .me120-message--red {
        color: red;
    }
    .me120-message--yellow {
        color: #e8c100;
    }
    .me120-message--green {
        color: green;
    }

    /** Tooltips **/

    .tipso_bubble {
        font-size: 12px;
    }

    .me120-tooltip {
        border-bottom: 0;
        transform: translate(0);
    }

    /** Responsive styling **/

    @media(min-width: 500px) {
        .me120-message-row {
            font-size: 16px;
        }
    }
}
