@import './variables';

.#{$id} {
    .#{$id}-blackFridayButtons {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        margin-bottom: 10px;
        a {
            background: black;
            display: flex;
            flex: 1 0;
            justify-content: center;
            padding: 6px 10px;
            font-family: "F37Ginger", arial;
            margin-bottom: 5px;
            span {
                font-size: 14px;
                line-height: 20px !important;
                letter-spacing: 0;
                padding: 4px 0;
                color: white;
                font-weight: bold;
            }
        }
        @media(min-width: 860px) {
            flex-direction: row;
            a {
                width: 100%;
                span {
                    font-size: 15px;
                    letter-spacing: 1px;
                }
                &:first-of-type {
                    margin-right: 5px;
                }
                &:last-of-type {
                    margin-left: 5px;
                }
            }
        }
    }

    .cu-ribbon__generic {
        margin-bottom: 10px;
    }
    #PLP--Banner--blackFriday--2020 .container {
        .#{$id}-blackFridayButtons {
            margin-bottom: 0;
            a {
                margin: 4px;
                flex: unset;
                @media(min-width: 860px) {
                    margin: 5px;
                }
            }
        }
    }
}
