@import './variables';

.#{$id} {


    .#{$id}-badge {
        margin: 4px 0 8px;
        width: max-content;
        padding: 4px 8px;
        border-radius: 4px;
        background: #FFF;
        color: #53565A;
        font-family: Montserrat;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 14px; /* 116.667% */
    }

    .#{$id}-display-none {
        display: none;
    }

    .#{$id}-product-listing-outer {
        .details .title h2 {
            margin: 0 0 8px;
        }

        .details .trustpilot-widget {
            // margin-left: -15px;
        }
    }

    @media screen and (min-width:1047px) {
        .#{$id}-product-listing-outer:nth-last-child(3) {
            margin-left: 10px;
        }
    }
    
    /*DESKTOP STYLES*/
    @media screen and (min-width: 1024px) and (max-width: 1439px) {
        .#{$id}-product-listing-outer {
            max-width: 228px;
            width: 100%;
            height: 440px;
        }
        
    }

    @media screen and (min-width: 1440px) {
        .#{$id}-product-listing-outer {
            width: 248px;
        }

        .product_listing_section {
            padding: 0 40px;
        }
    }

    @media screen and (min-width: 1025px) {
        .product_listing_inner .row {
            gap: 8px;
            justify-content: center;
        }

    .#{$id}-product-listing-outer {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #F5F5F5;
        padding: 16px 0;
        
            .prod_list {
                margin: 0;
                padding: 0;
                max-width: 216px;

                .prod_list,
                .prod_inner {
                    margin: 0;
                    padding: 0;
                    max-width: 216px;

                    .productMainLink {
                        width: 216px;
                        height: 216px;
                        margin: 0;

                        .thumb {
                            border: none;
                            padding: 8px;
                            background-color: #fff;

                            img {
                                margin: 0;
                            }
                        }
                    }
                }
            }
         }
    }
    /*DESKTOP STYLES*/

    /*TABLET STYLES*/
    @media screen and (min-width:1023px) and (max-width: 1024px) {

        #search_result .productFilterRow .product_listing_padding {
            padding-left: 25px;
        }
        .#{$id}-product-listing-outer {
            display: flex;
            flex-direction: column;
            align-items: center;
            background: #F5F5F5;
            padding: 16px 0;
            
                .prod_list {
                    margin: 0;
                    padding: 0;
                    max-width: 200px;
    
                    .prod_list,
                    .prod_inner {
                        margin: 0;
                        padding: 0;
                        max-width: 200px;
    
                        .productMainLink {
                            width: 200px;
                            height: 200px;
                            margin: 0;
    
                            .thumb {
                                border: none;
                                padding: 8px;
                                background-color: #fff;
    
                                img {
                                    margin: 0;
                                }
                            }
                        }
                    }
                }
             }
    }
    /*TABLET STYLES*/

    /*MOBILE STYLES*/
    @media screen and (max-width: 1023px) {
        
        .product_listing_inner .prod_list_outer .prod_list h2 {
            margin-bottom: 0!important;
        }

        .product_list_section .row {
            justify-content: center;
            @media screen and (min-width: 768px) {
                padding: 0 10px;
                
            }
        
        .prod_list_outer.#{$id}-product-listing-outer {
            display: flex;
            flex-direction: column;
            align-items: center;
            background: #F5F5F5;
            padding: 0 0 15px;
            width: 95%;
            @media screen and (min-width: 500px) {
                width: 50%;
            }
            height: 440px;
            
                .prod_list {
                    margin: 0;
                    padding: 16px;
                    width: 100%;
                    max-width: unset;
    
                    .prod_list,
                    .prod_inner {
                        margin: 0;
                        padding: 0;

                        .trustpilot-widget {
                            @media screen and (min-width: 769px) and (max-width:1023px) {
                                margin-left: -120px;
                            }
                        }
    
                        .productMainLink {
                            width: 216px;
                            height: 216px;
                            margin: auto;
                            background-color: #FFF;
                            margin: 0;
                            width: 100%;
    
                            .thumb {
                                border: none;
                                padding: 8px;
                                background-color: #fff;
                                width: 200px;
                                margin: auto;
    
                                img {
                                    margin: 0;
                                }
                            }
                        }
                    }
                }
             }
    }
}
    /*MOBILE STYLES*/
}
