@import './variables';

.#{$id} {
  .#{$id}-costInfo__wrapper {
    width: 95%;
    padding: 10px 0px;
    margin: auto;
    position: relative;
    // background-color: lightcoral;

    .#{$id}-costInfo {
      // background-color: lightblue;
      span.#{$id}-label {
        display: inline-block;
        // width: 81%;
        width: 77%;
        // max-width: 235px;
        max-width: 77%;
        color: #999;
        font-weight: 600;
        font-size: 13px;
        // text-align: center;
        text-align: left;
        // padding-left: 3%;
        // background-color: lightyellow;
        span {
          &.#{$id}-start-date {

          }
          &.#{$id}-end-date {

          }
          &.#{$id}-numberOf-days {

          }
        }

        &.loading {
          visibility: hidden !important;
        }
      }

      span.#{$id}-cost__wrapper {
        display: inline-block;
        // width: 15%;
        // width: 65px;
        width: 21%;
        // height: 26px;
        height: 30px;
        border: 2px solid #00a3da;
        position: relative;
        text-align: right;
        // transform: translateY(-10%);
        transform: translateY(-10%);
        
        .#{$id}-cost {
          position: relative;
          top: 15%;
          right: 5px;
          font-size: 14px;
          font-weight: 900;
          // transform: translateY(-%);
        }
      }
    }
  }


  // --- Pop Up
  ##{$id}-popUpContent {
    text-align: center;
    font-size: 1.1em;
    margin-top: 15px;
  }


  @media screen and (max-width: 320px) {
    .#{$id}-costInfo {
      span.#{$id}-label {
        font-size: 12px !important;
      }
    }
  }
}
