@import './variables';

.#{$id} {
  // --- Hide Control Elements
  .promocodeOffers {
    display: none;
  }
  
  .offers-m-cont {
  // .#{$id}-menuItems.menuItems {
    // max-height: 1100px;
    overflow-y: auto;

    border: 4px solid #da291c;
    border-top: none;
    padding: 4%;
    margin-top: 0px !important;
    margin-bottom: 20px;
  }

  .menuBannerMobile {
    margin-top: 20px !important;
  }


  .#{$id}-offersItems {
    height: 500px;
    max-height: 500px;

    border: 4px solid #da291c;
    border-top: none;
    padding: 2%;
    margin-top: 0px !important;

    ul.#{$id}-options {
      list-style: none;
      margin-left: 0px !important;
      text-align: center;

      li.#{$id}-option {
        display: inline-block;
        width: 35%;
        height: 140px;
        // background-color: lightseagreen;
        margin: 1%;
        position: relative;

        // &:nth-of-type(2) {
        //   width: 10%;
        // }

        .#{$id}-image {
          display: block;
          width: 60%;
          height: 100%;
          margin: auto;
          position: relative;
          left: 10%;
          // background-color: lightcoral;
          background-size: 100%;
          background-repeat: no-repeat;
          background-position: 50% 50%;
        }

        &.#{$id}-option__pizza {
          label.container {
            padding-left: 0px;
          }
          .#{$id}-image {
            background-image: url('https://editor-assets.abtasty.com/43831/5d662ed321ee51566977747.png');
            width: 100%;
            height: 100%;
            background-size: 100%;
            background-position: 50% 50%;
          }
        }
        &.#{$id}-option__plus {
          width: 90%;
          height: 49px;
          display: block !important;
          .#{$id}-image {
            width: 15%;
            background-image: url('https://editor-assets.abtasty.com/43831/5d662f58aec101566977880.png') !important;
            position: relative;
            top: 25px;
            left: 10px;
          }
        }
        &.#{$id}-option__sides {
          .#{$id}-image {
            background-image: url('https://editor-assets.abtasty.com/43831/5d662fc7ca7de1566977991.png');
          }
        }
        &.#{$id}-option__drinks {
          .#{$id}-image {
            background-image: url('https://editor-assets.abtasty.com/43831/5d6630132e4351566978067.png');
          }
        }
        &.#{$id}-option__desserts {
          .#{$id}-image {
            background-image: url('https://editor-assets.abtasty.com/43831/5d66303adcfd51566978106.png');
          }
        }
      }
    }

    .#{$id}-option__pizza {
      margin-left: -5px !important;
    }
    .#{$id}-option__drinks {
      margin-left: -12px !important;
    }

    .#{$id}-cta__wrapper {
      width: 50%;
      margin: auto;
      text-align: center;
      font-family: 'Roboto Condensed',sans-serif;
      font-size: 1.2em;
      margin-top: 5%;

      .#{$id}-cta__btn {
        width: 100%;
        margin: auto;
        background-color: #007a53;
        color: #FFF;
        padding: 2%;
        margin-bottom: 20px;
        &:hover {
          cursor: pointer;
          transform: scale(1.05);
        }
      }
      .#{$id}-cta__skip {
        color: #007a53;
        text-decoration: underline;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .#{$id}-header__wrapper {
    display: block;
    width: 100%;
    height: 54px;
    background-color: #da291c;
    margin-bottom: 0px !important;
    margin-top: 20px;

    .#{$id}-header {
      height: 50px;
      position: relative;

      .#{$id}-title {
        display: inline-block;
        color: #FFF;
        font-family: 'Roboto Condensed',sans-serif;
        width: 65%;
        margin: auto;
        // text-align: center;
        font-size: 1.3em;
        position: relative;
        top: 50%;
        /* left: 50%; */
        transform: translateY(-35%);
        padding-left: 2%;
      }

      .#{$id}-icons__wrapper {
        display: inline-block;
        height: 40px;
        position: absolute;
        right: 0px;
        top: 25%;
        margin-right: 2%;

        span {
          display: inline-block;
          width: 30px;
          height: 30px;
          background-size: 95%;
          background-repeat: no-repeat;
          margin-left: 20px;

          &.#{$id}-status {
            display: none;
            background-image: url('https://editor-assets.abtasty.com/43831/5d652002961991566908418.png');
          
            &.success {
              background-image: url('https://editor-assets.abtasty.com/43831/5d651fd797c421566908375.png');
            }
          }
          &.#{$id}-toggle {
            background-position: 50% 50%;
            background-image: url('https://editor-assets.abtasty.com/43831/5d65202b48ef71566908459.png');
            &.open {
              transform: rotate(180deg);
            }
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
      
    }
  }


  // --- CHECKBOXES
  /* The container */
  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    width: 55%;
    margin: auto;
    position: absolute;
    bottom: -15px;
    left: 25%;
    font-family: 'Roboto Condensed',sans-serif;
    text-align: left;
  }
  .#{$id}-option__pizza .container {
    text-align: center;
  }
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: 1px solid #eee;
  }

  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
    background-color: #FFF;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid green;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  // LOADER
  .#{$id}-loader__wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99;
    top: -10px;
    display: none;

    &.show {
      display: block;
    }

    .#{$id}-loader {
      width: 170px;
      height: 120px;
      opacity: 1 !important;
      z-index: 1000;
      position: absolute;
      top: 45%;
      left: 30%;
      background-image: url('https://editor-assets.abtasty.com/43831/5d52ae987c24b1565699736.gif');
      background-size: 100%;
      background-repeat: no-repeat;
    }

    &.hide {
      display: none !important;
    }
    &:before {
      display: block;
      content: '';
      width: 100%;
      height: 100%;
      // position: absolute;
      background-color: #FFF;
      opacity: .3;
      z-index: 99;
      padding-bottom: 5%;
    }
  }

  @media screen and (max-width: 320px) {
    .#{$id}-header__wrapper .#{$id}-header .#{$id}-title {
      font-size: 1.1em;
    }
  }
}
