@import './variables';

.#{$id} {
    .promotion-messages,
    .promotion-messages--sale-red,
    .promotion-messages--theme-light {
        display: none;
    }
    .#{$id}-offer_banner {
        background: #d8d7d8;
        text-align: center;
        padding: 10px 5px;
        text-transform: uppercase;
        p {
            margin: 0px;
            color: black;
            font-size: 12px;
        }
        @media(min-width: 767px) {
            p{
                font-size: 15px;
            }
        }
    }
}
