@import './variables';

.#{$id} {
  .#{$id}-newPriceFilters__wrapper {
    padding: 1vw;
    .#{$id}-newPriceFilters__container {
      h2 {
        text-align: center;
        margin-bottom: 1vw;
      }

      ul.#{$id}-priceFilters {
        margin: 0px;
        list-style: none;
        text-align: center;
        
        li.#{$id}-priceFilter__btn--wrapper {
          display: inline-flex;
          width: 18%;
          min-width: 120px;
          // width: 11vw;
          background-color: #FFF;
          border: 2px solid #ebe9e5;
          box-sizing: border-box;
          padding: 1vw .5vw;
          margin-right: 1vw;
          margin-top: 1vw;

          @media screen and (max-width: 420px) {
            width: 45%;
            padding: 2vw .5vw;
            margin-top: 2.5vw;
          }

          &:last-of-type {
            margin-right: 0px;
          }

          &:hover {
            cursor: pointer !important;
          }

          &.active {
            background-color: #ff1749;
            border: 1px solid #ff1749;
            color: #FFF;
          }

          div.#{$id}-priceFilter__btn {
            text-align: center;
            margin: auto;
            font-weight: 600;
          }
        }
      }
    }

    .#{$id}-link--wrapper {
      text-align: center;
      font-size: .9em;
      padding: 1.5vw 1vw 1vw 1vw;

      span.#{$id}-link {
        text-decoration: underline;
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
}
