body.TP077 {
    &.TP077_Loading {
        //Hide modal onload then display as normal
        #cboxOverlay,
        #colorbox {
            display: none !important;
        }
    }
    .tpProductView .tpProductInfo.logged_out.guest {
        padding-top: 70px;
        padding-right: 0;
    }
    .TP077_DisplayInfo {
        display: block !important;
        clear: both;
    }
    #collectionBranchLocatorPopup .header {
        display: none;
    }
    #collectionBranchLocatorForm .product-data {
        display: none;
    }
    .TP077_DisplayInfo>#branchItemTemplate {
        display: none;
    }
    #collectionBranchLocatorForm .search-box {
        display: block;
        position: relative;
    }
    #collectionBranchLocatorForm .stock-info {
        display: block;
        padding-top: 15px;
    }
    #collectionBranchLocatorPopup span.stock-filter {
        left: 0;
    }
    #collectionBranchLocatorForm .branch-search {
        float: right;
        width: 300px;
    }
    &.TP002 {
        .tpActionWrapper .yCmsContentSlot.tpAddToQuote.button .ccButton{
            display: none;
        }

        #collectionBranchLocatorForm .branch-search {
            width: 40%;
        }
    }
    .tpCheckBasket {
        display: none;
    }
    #collectionBranchLocatorPopup .search-box > input#collectionBranchLocatorButton {
        background-color: #eee;
        border-top-right-radius: 4px !important;
        border-bottom-right-radius: 4px !important;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        font-weight: 400;
        position: absolute;
        top: 0;
        right: 0;
        left: auto;
    }
    #collectionBranchLocatorPopup #collectionBranchLocatorForm {
        padding: 20px 0;
    }
    #collectionBranchLocatorPopup .branch-search .postcode-input {
        width: calc(100% - 103px);
        text-transform: none;
    }
    #collectionBranchLocatorPopup .view-type-buttons {
        display: none !important;
    }
    .TP077_CheckStock_Header {
      //Hide header - amend 
        display: none;
        // text-decoration: underline;
        // text-align: center;
        // font-size: 18px;
        // padding-bottom: 10px;
    }
    .TP077_CheckStock_Content{
      font-size: 14px;
      text-align: right;
    }
    .TP077_ShowBranches_Text {
        text-decoration: underline;
        color: rgb(10, 79, 56);
        cursor: pointer;
        float: right;
        &:hover {
            text-decoration: none;
        }
    }
    #collectionBranchLocatorPopup div#listView {
        background: #FFFFFF;
        padding: 0;
        display: none;
        >.closest-branch-list {
            padding: 10px 0;
        }
    }
    #listView .closest-branch-list .branch-holder #branchItemTemplate {
        background-color: #fafafa !important;
    }
    #collectionBranchLocatorPopup .in-use-branch-list {
        padding: 10px 0;
        >.branch-holder>.collection-branch-item {
            background-color: #fafafa !important;
        }
    }
    .tpBasketDetails {
        display: none !important;
    }
    #listView .closest-branch-list .branch-holder>div:nth-child(2),
    #listView .closest-branch-list .branch-holder>div:nth-child(3),
    .tp_branchList_pagination {
        display: none;
    }
    div.yCmsContentSlot.product-additional-info {
        margin: 0;
    }
    .tpActionWrapper .yCmsContentSlot.tpAddToQuote.button .ccButton {
        display: none !important;
    }
    .TP077_ShowBranchesWrapper {
        text-align: right;
        .stock-filter,
        .TP077_ShowBranches_Text {
            float: none;
        }
    }
    &.TP077_Show_More_Branches {
        #listView .closest-branch-list .branch-holder>div:nth-child(2),
        #listView .closest-branch-list .branch-holder>div:nth-child(3) {
            display: block;
            background-color: #fafafa !important;
        }
        .TP077_ShowBranches_Text {
            display: none;
        }
    }
}