@import './variables';

.#{$id} {
  /** Safari fix **/
  .product_listing_inner .row:before {
    display: none; /* Safari fix */
  }

  .#{$id}-promotion__wrapper {
    margin-bottom: 30px;
    width: 100%;
    background-color: #E1E1E1;
    padding-bottom: 20px;
    .#{$id}-promotion__container {
      background-color: #E1E1E1;
      padding: 25px;
      
      .#{$id}-promotion__title {
        p {
          font-family: 'HandelGothic BT',Arial,Helvetica,sans-serif;
          font-size: 24px;
          color: #000;
          text-align: left;
          padding: 0px 10px;
        }
      }

      .#{$id}-promotion__subTitle {
        p {
          text-align: left;
          padding: 0px 10px;
        }
      }

      .#{$id}-promotion__list {
        ul {
          line-height: 35px;
          padding: 10px 0px 0px 30px;
          text-align: left;
          
          li.#{$id}-promotion__item {
            padding: 10px 0px 10px 35px;
            line-height: 16px;
            // color: #999999;
            background: url("https://www.hss.com/_ui/responsive/theme-hire/images/confirmation-icon.png") no-repeat left center;
          
            &:first-of-type {
              font-weight: 800;
            }
          }
        }
        ul.#{$id}-sublist {
          // list-style-type: disc !important;
          list-style-position: inside;
          padding: 0px 0px 20px 60px;
          line-height: 22px;
          li.#{$id}-sublist__item {
            // list-style-type: circle;
            list-style-type: disc !important;
            list-style-position: inside;
          }
        }
      }

      .#{$id}-promotion__cta {
        min-height: 40px;
        
        a.#{$id}-btn-info {
          color: #53565a;
          font-size: 18px;
          height: 46px;
          line-height: 27px;
          float: left;
          margin: 0 10px 0 0;
          // background: linear-gradient(to bottom,#ffd800 1%,#ffca00 100%);
          background-position: 0 -46px;
      
          font-family: 'HandelGothic BT',Arial,Helvetica,sans-serif;
          
          position: relative;
          left: 50%;
          transform: translateX(-50%);
          
          &##{$id}-register {
            background: linear-gradient(to bottom,#ffd800 1%,#ffca00 100%);
            &:hover {
              background: linear-gradient(to bottom,#f5c000 1%,#f9d200 100%);
              background-position: 0 100%;
            }
          }

          &##{$id}-login {
            color: #FFF;
            background: linear-gradient(to bottom,#00a3da 1%,#0081cc 100%);

            &:hover {
              background: linear-gradient(to bottom,#0099d0 1%,#0077c2 100%) !important;
            }
          }

          &:last-of-type {
            margin-top: 10px !important;
          }
        }
      }
    }
  }
}
