@import './variables';

.#{$id} {

    .#{$id}-uspBanner {
        padding: 10px;
        border: 1px solid #a01d29;
        margin-bottom: 25px;
        margin-top: 10px;
        h2 {
            font-weight: 500;
            font-size: 22px;
            margin-bottom: 5px;
            font-family: DINCondensed-Regular;
            color: #4e4e4e;
            display: block;
            margin-top: 0;
            text-align: center;
            @media(min-width: 767px) {
                text-align: left;
                font-size: 28px;
                margin-bottom: 20px;
            }
        }
        ul {
            padding-left: 20px;
            margin-top: 10px;
        }
        .#{$id}-mobileIcons {
            display: block;
            text-align: center;
            .#{$id}-icon {
                height: 30px;
                width: 30px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                display: inline-block;
                margin: 5px 10px;

                &.#{$id}-first {
                    background-image: url('https://service.maxymiser.net/cm/images-us/1/1/2/EDE99D0FF50A66F4EE11A5E1A1DA44A7F0EE3C4D2F6C7471754102E464528FFF/hsamuel-co-uk/HS079---Store-Update/Icon-HS-sanitiser.png');
                }
                &.#{$id}-second {
                    background-image: url('https://service.maxymiser.net/cm/images-us/1/1/2/F09F5F4F7BFB23AAB5250D647C8CFBF9505B4B729C0DFD9AB98E26ACF2DF9EB2/ernestjones-co-uk/EJ079---Store-Update/Icon-EJ-cardCopy.png');
                }
                &.#{$id}-third {
                    background-image: url('https://service.maxymiser.net/cm/images-us/1/1/2/4C98727785F2BDC74CCF3C66E55631C28A2E85D5B23736B4098D9C636506EC8B/ernestjones-co-uk/EJ079---Store-Update/Icon-EJ-2mapartCopy.png');
                }

            }
            @media(min-width: 767px) {
                display: none;
            }
        }

        @media(min-width: 400px) {
            padding: 20px;
            .#{$id}-icon {
                height: 35px;
                width: 35px;
            }
        }


        @media(min-width: 767px) {
            .#{$id}-usps {
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                .#{$id}-usp {
                    padding-left: 20px;
                    position: relative;
                    width: 30%;
                    ul {
                        margin: 10px;
                        margin-top: 35px;
                        margin-right: 0;
                        padding-left: 0;
                    }
                    li {
                        font-size: 13px;
                    }
                    &:before {
                        content: '';
                        position: absolute;
                        height: 30px;
                        width: 30px;
                        left: 50%;
                        transform: translateX(-50%);
                        background-repeat: no-repeat;
                        background-size: contain;
                        top: 0;
                    }
                    &.#{$id}-first {
                        &:before {
                            background-image: url('https://service.maxymiser.net/cm/images-us/1/1/2/EDE99D0FF50A66F4EE11A5E1A1DA44A7F0EE3C4D2F6C7471754102E464528FFF/hsamuel-co-uk/HS079---Store-Update/Icon-HS-sanitiser.png');
                        }
                    }
                    &.#{$id}-second {
                        &:before {
                            background-image: url('https://service.maxymiser.net/cm/images-us/1/1/2/C4CFACAE823F9D9F8F5D277AE7A787764029682F295AD5A9B9B3226C43D92A9E/hsamuel-co-uk/HS079---Store-Update/Icon-HS-card.png');
                        }
                    }
                    &.#{$id}-third {
                        &:before {
                            background-image: url('https://service.maxymiser.net/cm/images-us/1/1/2/0FC142A073129A62568413540B245DB23C6BB52C2A090D5EC87751447B001527/hsamuel-co-uk/HS079---Store-Update/Icon-HS-2mapart.png');
                        }
                    }
                }
            }
        }

        @media(min-width: 1024px) {
            padding: 15px;
            .#{$id}-usps {
                .#{$id}-usp {
                    padding-left: 60px;
                    margin-left: 10px;
                    width: 26%;
                    ul {
                        margin-top: 0;
                    }
                    li {
                        font-size: 13px;
                    }
                    &:before {
                        content: '';
                        position: absolute;
                        height: 45px;
                        width: 45px;
                        left: 0%;
                        top: 30px;
                        transform: translateY(-50%);
                        background-repeat: no-repeat;
                        background-size: contain;
                       
                    }
                }
            }
        }
        // slick
        .slick-slider {
            position: relative;
            display: block;
            box-sizing: border-box;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -webkit-touch-callout: none;
            -khtml-user-select: none;
            -ms-touch-action: pan-y;
            touch-action: pan-y;
            -webkit-tap-highlight-color: transparent
        }

        .slick-list {
            position: relative;
            display: block;
            overflow: hidden;
            margin: 0;
            padding: 0
        }

        .slick-list:focus {
            outline: 0
        }

        .slick-list.dragging {
            cursor: pointer;
            cursor: hand
        }

        .slick-slider .slick-list,
        .slick-slider .slick-track {
            -webkit-transform: translate3d(0, 0, 0);
            -moz-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
            -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0)
        }

        .slick-track {
            position: relative;
            top: 0;
            left: 0;
            display: block;
            margin-left: auto;
            margin-right: auto
        }

        .slick-track:after,
        .slick-track:before {
            display: table;
            content: ''
        }

        .slick-track:after {
            clear: both
        }

        .slick-loading .slick-track {
            visibility: hidden
        }

        .slick-slide {
            display: none;
            float: left;
            height: 100%;
            min-height: 1px
        }

        [dir=rtl] .slick-slide {
            float: right
        }

        .slick-slide img {
            display: block
        }

        .slick-slide.slick-loading img {
            display: none
        }

        .slick-slide.dragging img {
            pointer-events: none
        }

        .slick-initialized .slick-slide {
            display: block
        }

        .slick-loading .slick-slide {
            visibility: hidden
        }

        .slick-vertical .slick-slide {
            display: block;
            height: auto;
            border: 1px solid transparent
        }

        .slick-arrow.slick-hidden {
            display: none
        }
        .slick-dots {
            display: flex;
            justify-content: center;
            margin: 0;
            padding: 1rem 0;
            padding-top: 0;
            list-style-type: none;
            
                li {
                    margin: 0 5px;
                }
            
                button {
                    display: block;
                    width: 12px;
                    height: 12px;
                    padding: 0;
                    border: none;
                    border-radius: 100%;
                    background-color: #e0e0e0;
                    text-indent: -9999px;
                }
            
                li.slick-active button {
                    background-color: #a01d29;
                }
        }
    }
}
