@import './variables';

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

.#{$id}-newBag {

  #AddedToBagModal,
  .modal-backdrop {
    display: none !important;


  }

  .SD046-addedToBagContainer {


    @media all and (max-width: 600px) {
      padding: 0 15px;
    }
  }

  .SD046-addedToBag {
    padding: 19px 16px;
    margin: 20px 0;
    border: 1px solid #CCC;
    text-align: left;
    animation: .4s ease-in-out both fadeIn;
    display: inline-block;
    width: 100%;

    p.title {
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 10px;
      font-weight: 700;

      @media all and (max-width: 600px) {
        font-size: 16px;
        margin-bottom: 10px;
      }
    }

    ul {
      li {

        .checkmark {
          position: relative;
          top: -2px;
          margin-right: 10px;
        }
        
        p {
          display: inline-block;
          vertical-align: top;
          line-height: 1.35em;
          font-size: 13px;
          max-width: calc(100% - 40px);

          @media all and (max-width: 600px) {
            margin-bottom: 0;
          }
        }
      }
    }

    a.SD046-button {
      font-size: 1.3em;
      text-transform: uppercase;
      margin-top: 10px;
      text-align: center;
      line-height: 1.15em;
      letter-spacing: 1.4px;
      padding: 17px 5px;
      text-align: center;
      background-color: #FFF;
      display: block;
      color: #000;
      position: relative;
      border: 1px solid #9A9A9A;
      font-weight: 600;
      -webkit-transition: all 0.3s ease-in;
      -moz-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in;

      &:hover {
        background: #5D5D5D;
        color: #FFF;
        -webkit-transition: all 0.3s ease-in;
        -moz-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;
      }

      @media all and (max-width: 600px) {
        letter-spacing: 0.7px;
        font-size: 14px;
        margin-top: 15px;
      }

      &.checkout-button {
        padding: 17px 5px;
        background-color: #46B05A;
        color: #FFF;
        text-decoration: none;
        border: 1px solid #46B05A;

        &:hover {
          background: #3DA34D;
          transition: all 0.3s ease-in;
        }
      }

      span {
        display: inline-block;
        @media only screen and (min-width: 479px) {
          &:before {
            content: "";
            display: block;
            position: absolute;
            height: 2px;
            bottom: -5px;
            left: 0;
            right: 100%;
            background-color: #fff;
            -webkit-transition: right 150ms ease-out 0s;
            -moz-transition: right 150ms ease-out 0s;
            -o-transition: right 150ms ease-out 0s;
            transition: right 150ms ease-out 0s;
          }
        }
      }

      
    }
    a:hover {
      span {
        &:before {
          right: 0;
        }
      }
    }
  }

  #divBagItems {
    display: none !important;
  }


}
