.PJ011{
  .fancyContainer .intBasket .pizzaName span.pizza-title-b{
    overflow: visible;
  }
  .PJ011_ingredients{
    p{
      font-size: 16px;
    }
    span{
      font-weight: bold;
      display: block;
      margin-top: 5px;
    }
  }
} 