@import './variables';

.#{$id}-1 {
  image-component a {
    position: relative;
  }

  #carousel-widget {
    overflow: hidden;
    margin-top: 20px;

    max-height: 370px;

    @media(min-width: 360px) {
      max-height: 350px;
    }

    @media(min-width: 400px) {
      max-height: 280px;
    }
    @media(min-width: 860px) {
      max-height: 260px;
      margin-top: 0px;
    }
  }

  #badge-ribbon.xactive {
    margin-bottom: 15px;
    overflow-x: scroll;

    iframe {
      max-height: 240px !important;
    }

    @media(min-width: 380px) {
      overflow-x: hidden;
    }

    @media(min-width: 520px) {
      pointer-events: none;
      position: absolute;
      top: 15px;
      left: 15px;

      iframe {
        transform: scale(1);
        background: #fff;
      }
    }

    @media(min-width: 1024px) {
      top: 15px;
      left: 15px;
    }
  }
}
