@import './variables';

.#{$id} {
  [data-qaid='product-card'] {
    [data-qaid='button-click-and-collect']:not(:disabled),
    [data-qaid='button-deliver']:not(:disabled) {
      background: linear-gradient(0deg, #056a18 0, #3e961c 49%, #5eab2a 52%, #82c72c);
      border: 1px solid #0f701d;
      color: #fff;
      fill: #fff;
    }
  }
}
