@import './variables';

.#{$id} {
  #insurance-details {
    @media screen and (min-width: 992px) {
      padding-bottom: 22px;
    }

    @media screen and (max-width: 767px) {
      padding-bottom: 0;
    }
  }
  &__bannerWrapper {
    max-width: 620px;
    margin: 16px auto;

    @media screen and (min-width: 992px) {
      margin: 25px auto 16px;
    }

    @media screen and (max-width: 767px) {
      margin: 8px auto 17px;
    }
  }

  &__bannerContainer {
    display: flex;
    align-items: center;
    padding: 19px 32px;
    background-color: #ffd9a1;
    border-radius: 4px;

    @media screen and (max-width: 767px) {
      padding: 16px 8px;
      margin: 8px 16px;
    }
  }

  &__icon {
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 16px;
  }

  &__text {
    max-width: 310px;
    font-family: 'Work-Sans-Medium';
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    padding: 0 16px 0px 0;

    span {
      font-family: 'Work-Sans-Bold';
      font-weight: 900;
    }

    @media screen and (max-width: 620px) {
      padding: 0 10px 10px 0;
    }
  }

  &__repair-button {
    display: inline-block;
    font-family: 'Work-Sans-Bold';
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    background-color: #fff;
    text-decoration: none;
    padding: 12px 16px;
    border: 2px solid #f85800;
    border-radius: 16px;
    color: #000000;

    &:hover {
      background-color: #f8580033;
      border: 2px solid #000;
      color: #000;
    }
  }
}
