body.WB070 {
  // Style wishlist icon
  #pjax-container .wishlist-add-form-container {
    position: static;
  } // Reduce wishlist icon gap
  .availability>.box {
    margin-top: 0 !important;
  } //Shared styling across all banners
  .WB070-Wrapper {
    background-color: #B5DCF8;
    padding: 10px;
    position: relative;
    >.WB070-Text-Wrapper {
      display: inline-block;
      width: calc(100% - 100px); // Style lists
      >ul.WB070-Text {
        list-style-type: none;
        margin: 0;
        >li {
          line-height: 15px;
        }
        >li+li {
          margin-top: 10px;
        } // Hidden by default
        >.WB070-Hide {
          display: none;
        }
      }
    }
    >.WB070-Image-Wrapper {
      display: inline-block;
      text-align: right;
      position: absolute;
      >.WB070-Swipe-Icon {
        max-height: 50px;
      }
    }
  }
  .WB070-Wrapper.WB070-Middle {
    margin-bottom: 10px;
  }
  .WB070-Wrapper.WB070-Bottom {
    padding: 10px 10px 20px 10px;
    min-height: 60px;
  }
}