@import './variables';

.#{$id} {

    &.#{$id}-offersShow {
        .promotion {
            display: none;
        }
        .#{$id}-mixAndMatch {
            background: #e4e4e4;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 3px;
            a {
                text-decoration: underline;
                color: black;
                text-align: center;
                display: block;
                margin-top: 5px;
            }
            h3 {
                font-family: GillSansNova-Medium;
                padding-top: 5px;
                text-transform: uppercase;
                text-align: center;
                color: black;
            }

            .#{$id}-offerLinks {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                @media(min-width: 767px) {
                    flex-direction: column;
                }
                @media(min-width: 1024px) {
                    flex-direction: row;
                }
            }


            .#{$id}-offer {
                margin: 0 auto;
                margin: 5px;
                margin-top: 8px;
                font-family: GillSansNova-Medium;
                height: 36px;
                line-height: 36px;
                font-size: 12px;
                letter-spacing: 1px;
                text-align: center;
                background: white;
                text-transform: uppercase;
                border: 1px solid black;
                color: black;
                width: auto;
                box-sizing: border-box;
                flex-grow: 1;
                cursor: pointer;
                @media(min-width: 1024px) {
                    &:hover {
                        background: black;
                        color: white;
                    }
                }
            }
        }
    }
}
