.TP045 .TP045_thisDeliveryWrapper {
  box-sizing: border-box;
  border: 3px solid #f2b516;
  padding: 5px 40px 10px 10px !important;
  background: #fafafa;
  margin-bottom: 10px;
  position: relative; }
  .TP045 .TP045_thisDeliveryWrapper .fa.fa-circle {
    cursor: pointer;
    position: absolute;
    right: 14px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 14px;
    background: #ddd;
    border: 1px solid #bbb;
    padding: 2px;
    color: #ddd;
    border-radius: 50%;
    width: 20px;
    box-sizing: border-box;
    text-align: center; }
    .TP045 .TP045_thisDeliveryWrapper .fa.fa-circle:before {
      content: "\f111";
      color: green; }
  .TP045 .TP045_thisDeliveryWrapper .delivery-date {
    font-size: 11px;
    display: inline-block !important;
    padding: 0;
    color: #696969; }
  .TP045 .TP045_thisDeliveryWrapper .delivery-type-wrapper {
    font-size: 13px; }
    .TP045 .TP045_thisDeliveryWrapper .delivery-type-wrapper .delivery-type {
      font-size: 15px;
      font-weight: 700; }
      .TP045 .TP045_thisDeliveryWrapper .delivery-type-wrapper .delivery-type:before {
        width: 23px;
        height: 23px;
        background-size: 23px !important; }
  .TP045 .TP045_thisDeliveryWrapper .change-postcode.cboxElement {
    float: left;
    padding: 10px 0;
    width: 100%; }

.TP045 .TP045_freeDeliveryMessage {
  font-size: 12px;
  margin-bottom: 5px;
  color: #696969; }
  .TP045 .TP045_freeDeliveryMessage .fa.fa-check:before {
    content: "\f00c";
    color: green; }
